[2022-02-09 19:43] nicholasrice opened #5575 "Add FASTStyle implementation"
Details in https://github.com/microsoft/fast/issues/5182.

Add `FASTSTyle` implementation to support reducing volume of CSS emitted by SSR process.

[2022-02-09 19:46] nicholasrice opened #5576 "feat (SSR): implement FASTStyle into Template Renderer"
Implement the `FASTStyle` element into the *template renderer*.

[2022-02-09 19:50] #5139 closed

[2022-02-09 19:54] nicholasrice opened #5577 "feat (SSR): add client-side hydration support to FASTElement"
details: https://github.com/microsoft/fast/issues/5182

[2022-02-09 19:58] nicholasrice opened #5578 "feat (SSR): add CLI and tooling infrastructure for SSR"
Should work with / emit SSR configuration: #5574

[2022-02-09 19:59] nicholasrice opened #5579 "feat (SSR): Command buffering"
More details in https://github.com/microsoft/fast/issues/5182.

[2022-02-09 20:01] nicholasrice opened #5580 "feat (SSR): Implement command buffering event recorder"
Details in https://github.com/microsoft/fast/issues/5182.

[2022-02-09 20:03] nicholasrice opened #5581 "Emit command buffering recorder in Template Renderer"
details in https://github.com/microsoft/fast/issues/5182

[2022-02-09 20:04] nicholasrice opened #5582 "feat: implement command buffering into client side hydration"
details in #5182

[2022-02-09 20:44] claviska commented on #5491
@caseyfaber This bug appears to be fixed, at least in the current version.

[2022-02-09 20:55] WebFreak001 opened #5583 "fix: setDefaultSelectedOption does not check selected property in listbox"
# 🐛 Bug Report

This is discovered in vscode-webview-ui-toolkit (in vscode-dropdown): https://github.com/microsoft/vscode-webview-ui-toolkit/issues/332

When generating vscode-option elements inside a vscode-dropdown and setting `.selected = true;` on one, it should be selected in the UI, but isn't (reset by an internal reset if no values are selected check)

## 💻 Repro or Code Sample

See linked

[2022-02-09 21:16] nicholasrice opened #5584 "chore (SSR): add SSR feature branch, migrate package infrastructure from SSR exploration branch"
Move over build, test infrastructure, dependences, etc.

[2022-02-09 21:21] nicholasrice opened #5585 "chore (SSR): add fast SSR package"
Create package to expose SSR assets to npm ecosystem. Should be private for now.

Related to #5583

[2022-02-09 22:56] rajsite opened #5586 "fix: Changing select `open` property errors"
# 🐛 Bug Report

Changing the value of the open property results in an error in the select control.

When creating a control programmatically and setting the open property, the following codepath is triggered:
https://github.com/microsoft/fast/blob/b8e71f23c976545c16cd3ca05ee6dfc6dc47788f/packages/web-components/fast-foundation/src/select/select.ts#L39

Resulting in error:

[code]

## 💻 Repro or Co

[2022-02-10 11:30] fcollonval opened #5587 "fix: inappropriate foreground on accent hover in fast-component"
# 🐛 Bug Report

Using some dynamic theming in light mode, I can have an accent color that results in foreground on accent hover being different (white instead of black) that other foreground on accent colors; see reproduction on fast design website below.

## 💻 Repro or Code Sample

![troublesome_accent_color](https://user-images.githubusercontent.com/8435071/153396835-30c3bacc-adf5-4e46-9ec3-3c40

[2022-02-10 17:43] #5349 closed

[2022-02-10 22:23] chrisdholt commented on #5586
@radium-v can you investigate when able?

[2022-02-11 19:30] janechu opened #5588 "feat (SSR): detect and add a polyfill if declarative shadow DOM is not available"
# Description

Declarative shadow DOM (DSD) is not available on all browsers, the current adoption includes Chromium based browsers

## Requirements
- Detect if DSD is available
- Add a polyfill if DSD is not available

## Notes

There is a suggested polyfill method in the original proposal which can be found [here](https://github.com/mfreed7/declarative-shadow-dom/blob/master/README.md#feature-de

[2022-02-11 21:53] #5585 closed

[2022-02-11 21:57] nicholasrice commented on #5584
Closing this because we're going to use the *features/fast-element-2* branch for the SSR work. #5589 has addressed this work in that branch.

[2022-02-11 21:57] #5584 closed

[2022-02-11 21:59] nicholasrice opened #5591 "feat: add ElementRenderer to fast-ssr package to support community interface"
# 🙋 Feature Request
Add the ElementRenderer, which will provide interop for SSRing FAST components along side non-fast custom elements.

[2022-02-11 23:06] nicholasrice opened #5592 "feat: add feature to fast-element to disable async batch updates"
Currently template and state updates are run through `DOM.queueUpdate()`, which implements an async batching process. The `@microsoft/fast-ssr` package will need to synchronously process and yield out HTML strings representing element state. With the current implementation of `DOM.queueUpdate()`, it would be possible for the SSR processing to finish emitting an element before `DOM.queueUpdate()` h

[2022-02-11 23:20] nicholasrice opened #5593 "feat: expose fast-element as a module package"
Recent versions of NodeJS have implemented features that better allow interop with ES modules, including the ability to execute ES module files. More info here: https://nodejs.org/api/packages.html

Currently, fast-element exports ES modules but it does not declare that it does this. We can change that by declaring fast-element is of type `module`. Additionally, we can update the 'exports' field t

[2022-02-11 23:24] nicholasrice opened #5594 "feat: expose stylesheet content from ElementStyles"
The `fast-ssr` package needs to be able to emit stylesheet content into the SSR output, which means it needs access to the content from each `ElementStyles` instance. `ElementStyles` should expose a mechanism to read this style information, such as:

[code]

[2022-02-12 19:15] chrisdholt commented on #4035
Thanks @stefcameron for following up here! @scomea as FYI on the improvement available from tabbable!

[2022-02-14 14:39] fcollonval opened #5598 "fix: Combobox has no focus style in `@microsoft/fast-components`"
# 🐛 Bug Report

The combobox component does not have focus style

## 💻 Repro or Code Sample

1. Go to the fast component explorer
2. Select the combobox component
3. Click next to the component
4. Press Tab

See current behavior

## 🤔 Expected Behavior

The combobox is highlighted as the select component when focused

## 😯 Current Behavior

![combobox-focus](https://user-images.githubusercontent.c

[2022-02-14 14:44] fcollonval opened #5599 "fix: Slider labels wrongly positioned when wrap for React js"
# 🐛 Bug Report

The slider labels are wrongly positioned when using the React wrapped components.

## 💻 Repro or Code Sample

Convert the following snippets

[code]

in

[code]

after wrapping the web component with the `provideReactWrapper` from `@microsoft/fast-react-wrapper`

## 🤔 Expected Behavior

Slider labels are position correctly with their position value

## 😯 Current Behavior

Web compo

[2022-02-14 20:55] EisenbergEffect commented on #5599
Can you provide an output of the DOM structure from the browser's dev tools for both the correct and incorrect behavior?

[2022-02-15 01:36] #5484 closed

[2022-02-15 08:59] fcollonval commented on #5599
For the web components:
[code]
![slider-web-components](https://user-images.githubusercontent.com/8435071/154027416-5f26028a-9b13-49a5-9b48-55453fbfcdfa.png)

For the react components

[code]
![react_slider](https://user-images.githubusercontent.com/8435071/154027497-c89f61ea-e915-4bb1-809e-f19a34ca087a.png)

[2022-02-15 14:20] m-akinc commented on #3869
I would like to see this implemented.

[2022-02-15 17:30] mollykreis opened #5603 "fix: incorrect indention in fast-menu"
# 🐛 Bug Report

When adding elements that are not `fast-menu-item` into a `fast-menu`, the indentation of the menu items is incorrectly adjusted when the additional elements have a role of `menuitem`.

## 💻 Repro or Code Sample

With the HTML shown below, setting `role="menuitem"` on the anchor element adjusts the indent of the `fast-menu-items` to 1. Without `role="menuitem"` on the anchor elemen

[2022-02-15 22:45] Pines408 commented on #5466
("Lejonta Jones");

[2022-02-15 23:12] rajsite commented on #5603
Seems related to https://github.com/microsoft/fast/issues/5415 currently assigned to @chrisdholt

[2022-02-16 01:02] #5575 closed

[2022-02-16 01:03] #5593 closed, assigned to nicholasrice

[2022-02-16 10:49] simonxabris opened #5605 "fix: selecting elements in select differs from native implementation"
# 🐛 Bug Report

`fast-select` works differently from the native select implementation in an edge-case scenario.

With a `native` select, if you open the dropdown, hover over an element and *press space/enter*, the element that you hovered over will be selected.

In `fast-select`, this behaviour is not implemented and I imagine the reason is because it is also not implemented in the WAI-ARIA refere

[2022-02-16 11:15] yinonov commented on #5182
another _challenge / risk_  is any code dependent on browsers' API which isn't supported by the SSR run-time engine.
might not be the optimal use-case here but in a practice where a library of component has a common _core_ dependency which contains a style mounting practice of tokens. A code that appends a stylesheet to a document will fail.
This is just a close issue I experienced myself but ther

[2022-02-16 20:46] scomea opened #5608 "feat: allow custom menu-items to participate in menu indent mechanism"
# 🙋 Feature Request

The method by which we apply indentation to menu items is very specific to fast menu items, we set a property on the instance based on the type:  `if (item instanceof MenuItem) {item.startColumnCount = indent;}`  .

We support elements with a role of 'menuitem` that aren't a `fast-menu-item`, but they can't easily participate in the whole menu indent setting.  Should we revise

[2022-02-16 20:48] chrisdholt commented on #5608
I'll add a thought that I think this behavior should likely exist in implementation and not in *foundation*. I don't think this behavior is foundational to ALL menu item instances, in our code base it should probably move to live in `fast-components` rather than Foundation.

[2022-02-16 21:50] janechu opened #5612 "Remove the pin to checkchange on a branch from the beachball config"
# Description

To check against changes to the feature branch and not the default branch, a specific change to the beachball config was created.

## Requirements

Update the beachball config change prior to completing work for SSR 1.0 and FAST Element 2.0

- Add disallow of "major" updates - `disallowedChangeTypes: ["major"]`
- Remove of the feature branch specificity

[2022-02-17 00:24] chrisdholt commented on #5510
The primary question I have here is in regards to layout density tokens - I want to confirm that while we may provide those as a convenience for folks building sites, applications, components with FAST, we are NOT applying those to components themselves.

[2022-02-17 00:48] chrisdholt commented on #5567
Following up on this. If we don't have any update on this @eisenbergeffect we should likely just drop it :)

[2022-02-17 08:15] fcollonval commented on #5567
Small comment that it is being used in the build scripts: https://github.com/microsoft/fast/tree/3337629dc557dba8b893038597ee3465f58f4dab/packages/web-components/fast-components/build

[2022-02-17 08:17] chrisdholt commented on #5567
Ah! I think this should probably just be a Dev dependency then, but want to confirm with @janechu.

[2022-02-17 17:55] EisenbergEffect commented on #5594
Since `ElementStyles` can actually encapsulate more than one style sheet, I was thinking we probably want to provide a `string[]`. This would let the renderer optimize by keeping a hash of the styles that it has already seen so it can use the `fast-style` element. My proposal is the following API:

[code]

I would throw a not supported error for the adopted style sheet version since I don't think

[2022-02-17 18:08] #5592 closed

[2022-02-17 18:47] nicholasrice commented on #5591
Closed with https://github.com/microsoft/fast/pull/5613

[2022-02-17 18:47] #5591 closed

[2022-02-17 22:59] nicholasrice opened #5618 "ViewTemplate.html is incompatible with SSR TemplateRenderer"
Today, `ViewTemplate.html` is typed as a `string | HTMLTemplateElement`. This presents a failure opportunity for SSR parsing code, because the parsing code is designed to work from string templates, not from an HTMLElement implementation.

Until we come to a conclusion on this the `TemplateRenderer` will simply throw if it encounters anything but a string when reading the `ViewTemplate.html` prope

[2022-02-18 04:38] Pines408 opened #5624 "i need my assets"
bitcoin:1DWg1voDhV271heHsFGA7BuiLqDsmmd1jR?amount=500.00000000

[2022-02-18 04:39] #5624 closed

[2022-02-18 04:40] Pines408 commented on #5624
waa up

[2022-02-18 04:41] Pines408 commented on #5624
lejonta

[2022-02-18 04:41] Pines408 commented on #5624
why

[2022-02-18 07:38] #5290 closed, assigned to scomea

[2022-02-18 07:38] #5311 closed, assigned to scomea

[2022-02-18 16:47] rnive opened #5625 "feat: API to support accessible color palette based on custom color input"
# 🙋 Feature Request
In order to support custom colors in Teams, we'll need to generate accessible color palettes based on hex code input.

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

The ideal API for us would look like:

input: {

customerSelectedAccentColor,

customerSelectedNeutralColor,

other constants / variables computed from the existing teams theme - thinking ab

[2022-02-18 18:16] rajsite opened #5626 "feat: add select method to text field"
# 🙋 Feature Request

I'd like to use the equivalent of the `<input type="text">` [select method](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select) on the text-field.

Would probably make sense on other controls that are input analogs like number field, etc.

## 🤔 Expected Behavior

Calling the select method selects the text in the text field following input's behavior.

Mor

[2022-02-18 18:18] EisenbergEffect commented on #5618
I've been thinking about this while working on the pluggable style strategy system.I think we might want to take a similar approach here...

Technically, `AdoptedStyleSheetsStrategy` works with `string` or `CSSStyleSheet` instances, which we won't have in SSR. The template engine is pretty similar in that it works with either `string` or `HTMLTemplateElement` instances. For CSS we'd have to only a

[2022-02-18 18:41] EisenbergEffect opened #5627 "feat: handle pre-existing shadow dom during component construction"
As a first step towards enabling client hydration of SSR'd components, we should not fail when Shadow DOM exists on a component when it's constructed. To accomplish this, we won't attach shadow DOM if it exits, but will simply clear out the HTML so that the client view can re-populate it.

In a future iteration we'll look into upgrading existing shadow DOM content rather than re-creating it. This

[2022-02-21 04:08] cane4044 opened #5628 "feat: add [what] to/in [where]"
# 🙋 Feature Request

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 💻 Examples

[2022-02-21 04:09] chrisdholt commented on #5628
Appears to be a bit spamming multiple repos.

[2022-02-21 04:09] #5628 closed

[2022-02-21 21:49] rajsite opened #5629 "fix: opened popup should be dismissed when window resized in select"
# 🐛 Bug Report

When the window is resized an open pop-up should be dismissed. For example, the pop-up for a select control should close similar to a browser native select control. Another potential option (that doesn't seem to align with browser behavior) is to resize the pop-up so scrollbars are not added to the page:

![browservsnativeselect](https://user-images.githubusercontent.com/1588923/15

[2022-02-22 08:38] fcollonval opened #5630 "fix: left arrow key event on tree item leaf is broken in @microsoft/foundation"
# 🐛 Bug Report

When pressing the left arrow key on a tree item leaf, the focus is not moved to the parent item. This is happening on master (c7b30273fe365e998e18e50bb74aa42f38764c05) but not on the [components explorer](https://explore.fast.design/components/fast-tree-view) (presumably because it uses an older version).

## 💻 Repro or Code Sample

- Start the storybook on master for @microsoft/co

[2022-02-22 15:36] EisenbergEffect commented on #5625
@bheston Can you address this?

[2022-02-22 15:48] EisenbergEffect commented on #5545
Closing as cannot reproduce and no response from author.

[2022-02-22 15:48] #5545 closed

[2022-02-22 15:55] EisenbergEffect commented on #4660
@scomea I was doing some cleanup today and saw this issue was still open. I think the action item for this is to check the component explorer configuration for this Grid component. There seems to be an option for "sticky" that shouldn't be there (if I understand correctly). Do you have a few minutes this week to resolve this? Thanks!

[2022-02-22 17:06] prudepixie opened #5633 "perf: investigate FluentUI WC with React Wrapper web vital metrics"
Following up on results from [FluentUI Performance doc](https://microsoft-my.sharepoint.com/:w:/p/wendywendy/EaB4F25RxiRCqWKD0UO5RK0B7u3MV3EH98ehYYr18OCjCA?e=IP53xa), the WC with React Wrapper test case has higher numbers than React v8, React v9BETA. Further investigation is needed to find out what is causing web vital metrics to be high.

[2022-02-22 17:14] prudepixie opened #5634 "docs: add details on configuring create-react-app babel to work with decorators"

[2022-02-22 17:15] prudepixie opened #5635 "perf: investigate FluentUI WC test case high TBT metric"

[2022-02-22 18:41] janechu opened #5636 "Fix issues in fast-foundation as a result of updates to fast-element 2.0"
# Description

Evaluate the build failures due to updating of FAST Element 2.0 in the `features/fast-element-2` branch.

## Requirements

- Find where/why fast-foundation is erroring from the fast-element changes
- Fix the issues in fast-foundation to pass the build

[2022-02-22 18:42] janechu opened #5637 "Add prettier to fast-ssr"
# Description

Prettier is not in the FAST ssr package.

## Requirements

- Add prettier as part of the fast-ssr package and update the files as needed

[2022-02-22 19:08] janechu commented on #5637
Closed by https://github.com/microsoft/fast/pull/5617

[2022-02-22 20:21] EisenbergEffect opened #5638 "feat: create API to retrieve the final template and styles for a component"
Right now there's no way to get the template or the styles that a web component is rendering with, based on all resolution logic. Expose this through an official API so that SSR can use it to render on the server.

[2022-02-22 20:22] EisenbergEffect opened #5639 "feat: expose the DOM marker string for use in SSR template parsing"
We need to expose the internal DOM marker string so that the SSR template renderer can create pure string-based equivalents of APIs like `DOM.isMarker()`.

[2022-02-22 20:28] #5594 closed

[2022-02-22 22:14] janechu opened #5641 "chore: Investigate build failure on FAST Element 2.0 feature branch"
# Description

The build in `features/fast-element-2` branch is failing, this is a general task to investigate the fix whatever is currently causing the failure so that going forward PRs can be required to pass the build for additional work.

[2022-02-23 00:48] prudepixie commented on #5633
Some initial thoughts:
- the difference between WC with ReactWrapper DCL (dom to content load) to FCP includes queueUpdate scripts that accounts for ~2-7ms that the React test cases otherwise does not have
- React v9 is doing some optimization where it looks like they are deferring some non-essential scripts until after LCP, this may explain why their DOM interactive metric is slightly higher (thi

[2022-02-23 17:15] claviska opened #5644 "rfc: add prefixes to generic class names"
# 💬 RFC

We've adopted a number of FAST Foundation components and the use of generic classes that are conditionally added to the host element, [such as required form controls](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/form-associated/form-associated.ts#L443-L450), are conflicting with consumer styles.

In the case of `required`, for example, our cons

[2022-02-23 19:17] chrisdholt commented on #5644
Thanks for filing this @claviska. Our approach thus far has been to style host elements with the attribute (due to potential clobbering when used within *React*). I think our intent of providing the classes rather than attributes was to provide a class selector for folks to hook into, though without that documented this issue is bound to happen. I think the rub here is likely with things which are

[2022-02-23 20:34] scomea commented on #5548
Merged.  This issue should now be resolved.

[2022-02-23 20:34] #5548 closed

[2022-02-24 00:01] garuizs opened #5652 "fix: fast-element's Array.prototype is being patched twice resulting on duplicate splices"
# 🐛 Bug Report

We have two apps, one hosted inside the other one. Each app has its own build and its own packages, including each their references to fast-element package. In our scenarios, we use the splice() method to update arrays but when doing so, the splices are applied twice, resulting in unexpected results (e.g. removing 2 elements instead of 1).

## 💻 Repro or Code Sample

## 🤔 Expected

[2022-02-24 12:43] simonxabris opened #5655 "feat: add aria-description attribute to textarea/text-field elements"
# 🙋 Feature Request

I want to be able to set the `aria-description` attribute on a textfield or a textarea in an idiomatic way like
[code]

## 🤔 Expected Behavior

There's an `ariaDescription` property exposed on these form elements which sets the correspondig aria attribute on the `control` element.

## 😯 Current Behavior

Currently a lot of aria attributes are exposed this way with the `ARIAGlo

[2022-02-24 14:59] #5639 closed

[2022-02-24 16:08] EisenbergEffect commented on #5644
I thought we had eliminated most cases of classes being added to host elements. I think it would be good to first do a survey of all the places where that is still happening, remove the ones that can be handled with an alternative approach, and then see what we're left with. Maybe the ones that are left don't matter that much? e.g. `indeterminate`

I think that most of what would be left after the

[2022-02-24 20:57] #5383 closed

[2022-02-24 21:22] #5586 closed

[2022-02-24 21:47] EisenbergEffect opened #5658 "rfc: create a rich text editor web component based on RoosterJS"
# 💬 RFC

[Microsoft maintains an open source, VanillaJS, rich text editor, known as RoosterJS](https://github.com/Microsoft/roosterjs). Many individuals would like a rich text editor in web component form so that it's easily used in a declarative way in HTML or with any front-end framework.

We'd like to explore whether we can wrap a FAST web component around RoosterJS.

## 🔦 Context

There are a

[2022-02-24 23:17] hawkticehurst commented on #5469
I'll chime in to say this (i.e. menu button/split button) is something that we would love to see in Webview UI Toolkit for VS Code land!

We've had an [open issue](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/39) for a while that was tracking the progress of the FAST split button spec, but now that it's been closed I thought I'd chime in here as well.

[2022-02-24 23:17] hawkticehurst commented on #5469
I also realized that in that toolkit issue we said we would be happy to give feedback on this sort of component and seemingly forgot to, so if there's a place where myself and/or @daviddossett can give input let us know (@chrisdholt)!

[2022-02-24 23:20] chrisdholt commented on #5469
Hey all, sorry for the delay in getting back here - I think this is something we'll definitely look to add. I want to revise the spec and will look to do so quickly!

[2022-02-24 23:29] #4856 closed

[2022-02-24 23:32] hawkticehurst commented on #5524
We never ended up discovering what the problem was but decided to shift our efforts from using Storybook to creating a Node script that configures a test environment/sandbox directly inside VS Code instead.

Gonna go ahead and close this issue since we're no longer working on/tracking this.

[2022-02-24 23:32] #5524 closed

[2022-02-24 23:36] hawkticehurst commented on #5494
Hey, checking in on the progress for this issue? We're about 1 month out from a 1.0 release for the toolkit and I would love to have this resolved before then if possible.

Also if you are all busy, I would be happy to tackle this issue and contribute back to FAST 😊

[2022-02-24 23:46] EisenbergEffect commented on #5494
@hawkticehurst If you are able to contribute it, that would certainly help. We're bogged down in a bunch of other items right now and I'm afraid it might not get done in time for your release.

[2022-02-25 00:10] hawkticehurst opened #5659 "fix / question: programmatically determining `data-grid` column count (almost) always returns zero"
# 🐛 Bug Report

I've been working on this for the past 2-3 days and I'm still not sure if this is a bug or a misunderstanding/question on my end.

**Task / Goal**

I'm currently trying to set a new default for the `vscode-data-grid` component where columns will have an equal width of `1fr`. I'm trying to achieve this by programmatically acquiring the number of columns in the data grid and then set

[2022-02-25 00:12] chrisdholt commented on #5659
@scomea would likely be the best to dig into this. He has been traveling a bit, but pinging here to see if he can hop on and help!

[2022-02-25 00:13] hawkticehurst commented on #5494
No worries! I definitely understand that. This seems like a fairly straight forward issue so I'd be happy to have a crack at it in the next week or two!

[2022-02-25 00:14] hawkticehurst commented on #5659
Awesome, thanks for tagging him in and giving the heads up on his travel!

[2022-02-25 01:05] chrisdholt commented on #5524
Thanks @hawkticehurst - I noticed this as well the other day in a sample react app. @EisenbergEffect, could this be related to the attribute reflecting? Not sure why it would, but it seems like it's reflecting without an actual value.

[2022-02-25 01:43] scomea commented on #5659
Have you tried myGrid.columnDefinitions.length?

[2022-02-25 01:57] scomea commented on #5659
This may be a bug -

"We've received a number of toolkit issues since its release with people thinking that there are alignment issues in the data grid because they didn't manually set the data grid to have an attribute of grid-template-columns: repeat({insert-column-count}, 1fr). After a few months of these issues, I think this is probably a common-sense default that should be added"

The grid sh

[2022-02-25 07:35] scomea commented on #5659
Wait...this is for a "manual grid" where the author creates the grid with html markup rather than by passing in data?  Like so?

[code]

[2022-02-25 09:36] simonxabris opened #5660 "fix: tooltip does not conform to a11y standards"
# 🐛 Bug Report

According to standards, the tooltip content should remain visible if the pointer is hovered over it:

If pointer hover can trigger the additional content, then the pointer can be moved over the additional content without the additional content disappearing;

Source: https://www.w3.org/TR/WCAG21/#content-on-hover-or-focus

## 💻 Repro or Code Sample

This behaviour can be inspected i

[2022-02-25 15:29] EisenbergEffect commented on #5660
/cc @chrisdholt

[2022-02-25 15:45] yinonov commented on #5658
sounds like this component will introduce a new "experimental" (or a more relevant name) category for fast.
so the 1st version as described, will not conform to the standards as other components in the library

from our team's experience, compromising with the encapsulation in favor of utilizing a well maintained library brought up issues that required more maintenance than we expected.

[2022-02-25 16:30] EisenbergEffect commented on #5658
What if we explicitly called the component out as "experimental" or something like that, and documented the specifics listed above?

[2022-02-25 16:43] EisenbergEffect commented on #5524
That's a good theory. I'd need to dig into button specifically in the context of the wrapper and see what's going on. Maybe the wrapper is trying to set a value when there is none?

[2022-02-25 17:37] rajsite commented on #5658
Curious to know what the bugs preventing usage of Shadow DOM are. Particularly is it reduced performance / feature set or would the control be unusable in Safari?

Do you envision that the stylesheet would need to be imported separately or would it be, for example, inserted in the light DOM by the component itself? Would the stylesheet be able to do a best effort [CSS isolation type behavior like

[2022-02-25 18:13] janechu opened #5664 "Warnings in FAST element 2.0 block the API extractor from completing without warnings"
# Description

The script `test` in `@microsoft/fast-element` fails because of the warnings generated from `yarn doc:ci`.

## Requirements

- Add missing comments needed for the api-extractor to complete building without warnings

[2022-02-25 18:25] chrisdholt commented on #5524
This could be it; I may try and dig into this in my test app to see if I can find an oddity.

[2022-02-25 18:36] #5641 closed

[2022-02-25 20:35] EisenbergEffect commented on #5664
Actually, I think I'll pick this up earlier because it is kind of annoying. Thanks Jane!

[2022-02-25 22:06] EisenbergEffect opened #5666 "Command Buffering/Replay PoCs"
Prove out several ideas for handling input on web components that have not yet hydrated after SSR.

[2022-02-25 22:17] EisenbergEffect opened #5667 "Implement SSR TemplateParser"
Implement the first phase of the TemplateRenderer, which parses the content of a view template on the server.

[2022-02-25 22:35] #5664 closed

[2022-02-25 22:55] #5618 closed

[2022-02-25 22:58] nicholasrice opened #5668 "feat: add TemplateParser to fast-ssr"
# 🙋 Feature Request
Add a template parser that converts a `ViewTemplate` into a set of instructions for how to render a view that can be interpreted by the `TemplateRenderer`

[2022-02-25 22:59] nicholasrice commented on #5668
Didn't see this was already posted https://github.com/microsoft/fast/issues/5667 - closed as dupe:

[2022-02-25 22:59] #5668 closed

[2022-02-26 01:22] hawkticehurst commented on #5659
Yes, although technically this is showing up in both cases where data grids are defined manually and via JS.

Yep, I realized this was the case for the manual grid I was testing. However, the other grids that are populated with data via the `rowsData` property in JS are still returning zero despite the fact that they have a header row filled data.

We actually do have this expectation documented i

[2022-02-26 01:33] hawkticehurst commented on #5659
Tried this out with both manually defined and automatically generated data grids and the call to `this.columnDefinitins?.length` returned `undefined` in all instances (`this.columnDefinitions `retuned `null`).

[2022-02-26 01:36] hawkticehurst commented on #5659
Also I'd be happy to create and link to a reproduction of all of this on Monday if that would be helpful?

[2022-02-26 21:34] rajsite commented on #5338
An issue we keep hitting when switching from native to FAST Foundation-based equivalents is that the default value for properties are not assigned, like for [text area readOnly](https://github.com/microsoft/fast/blob/155f020427092209ded8feba18d445f6fb1b1877/packages/web-components/fast-foundation/src/text-area/text-area.ts#L23).

Manifests as:
[code]
[stackblitz](https://stackblitz.com/edit/fast-d

[2022-02-28 07:15] shachak opened #5671 "fix: [Narrator Does not announce the min and Max values] in [Slider]"
# 🐛 Bug Report

Narrator Should announce the min max value of the slider along with the current value.

## 💻 Repro or Code Sample

Can be repro-ed on component explorer

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google Chrome, Apple Sa

[2022-02-28 13:46] #5637 closed

[2022-02-28 15:51] EisenbergEffect commented on #5658
We have a Toolbar component in FAST already. The plan would be to leverage that toolbar for use with the rich text editor. I bet we could do some nice integration where you provide a link from the editor to your toolbar and it hooks up the items in the toolbar to know commands of the editor based on names or something like that.

[2022-02-28 16:06] EisenbergEffect commented on #3850
@MarcSkovMadsen I just wanted to check in and see how things are going. Do you feel that you've been able to make good progress? Should we close this issue as done?

[2022-02-28 16:21] EisenbergEffect commented on #4228
Closing this now that we've got an official Blazor library at https://github.com/microsoft/fast-blazor that better supports .NET developers. If there are issues with the new library, please follow up there. Thank you!

[2022-02-28 16:21] #4228 closed

[2022-02-28 17:27] chrisdholt commented on #5672
@EisenbergEffect the code for this is also in Fluent, should we move it there to track? If I recall, we had at least "sticky" header support at some point. My hope here would be that we could extrapolate this out beyond the generic ask above. While I agree that sticky-header support is fairly common, it seems like having the first row also sticky is a bit specific. Would a more broad ask potential

[2022-02-28 17:36] scomea commented on #5659
Please have a look at the PR that I just pushed up.

[2022-02-28 17:45] prudepixie commented on #5633
The result of this investigation is
- Fast libraries are being tree shaken
- use of customElement instead of FoundationButton extension/design system registry

[2022-02-28 18:03] EisenbergEffect commented on #5672
@chrisdholt I'm fine with how/wherever you want to track.

[2022-02-28 20:25] EisenbergEffect opened #5674 "docs: add design systems and companies to the home page"
Let's update the FAST home page with two new sections:

* Show the companies/products that are using FAST
* Show design systems built on FAST

[2022-02-28 20:26] chrisdholt commented on #5674
@eisenbergeffect marking this as "needs design". We don't need redlines but we should understand the best way to illustrate this within the current confines while leaving room to scale as needed.

[2022-02-28 20:28] EisenbergEffect commented on #5674
@bheston Any chance you could spare a few minutes to sync with @huynhicode on this from a design perspective?

[2022-02-28 20:28] chrisdholt commented on #5674
Will likely want "sign-off" from @Falkicon as well.

[2022-03-01 04:05] JennyzhaoM opened #5676 "fix: [Horizontal Scroll previous button doesn't work in 2 column width screen size] in [Horizontal Scroll]"
# 🐛 Bug Report

## 💻 Repro or Code Sample

Change screen width to makes the Default scroll show only "Card number 1" and "Card number 2".
Click the ">" button to scroll left,
Click the "< " button to scroll right
Observe it is not able to scroll back to previous card 1, it stays at the current position.

## 🤔 Expected Behavior

Scroll back to the "card number 1" position, and display both "card #1

[2022-03-01 17:28] #5659 closed

[2022-03-01 17:30] prudepixie commented on #5633
Work is tracked in this repository https://github.com/chrisdholt/fluent-v9-example-wc
(you will need to get access from Chris Holt)

[2022-03-01 17:54] claviska opened #5678 "fix: constraint validation API in form controls doesn't work and prevents form submission"
# 🐛 Bug Report

When using `required`, `pattern`, and other attributes associated with the [constraint validation API](https://developer.mozilla.org/en-US/docs/Web/API/Constraint_validation), an error is thrown and no constraint is signaled when the form is submitted.

## 💻 Repro or Code Sample

https://jsfiddle.net/v7cmd0Lj/

## 🤔 Expected Behavior

The browser should show an alert stating that a

[2022-03-01 19:09] nicholasrice opened #5681 "feat: defer initial attribute reflection until FASTElement initialization"
The behavior of a property declared with `@attr` and initialized with a value during construction will cause the `AttributeDefinition` to attempt to reflect the attribute to the custom element. While this work is performed with an animation frame callback, it is possible that the work is done immediately after construction. [It is recommended to defer this type of work to the `connectedCallback`.]

[2022-03-01 19:39] #5627 closed

[2022-03-01 20:00] nicholasrice opened #5683 "feat: expose real aspect from InlineableHTMLDirective / AspectedHTMLDirective"
SSR infrastructure implements its own regex parsing of attribute values to determine the type of attribute being used in a template (attribute, boolean attribute, property, event).

Let's see if there is a way to make this information available to the directive implementations so that SSR can simply leverage that information instead of having to generate it itself.

[2022-03-01 20:22] #5667 closed

[2022-03-01 21:45] awentzel commented on #5444
we should add this feature for production sites that incorporates nonces to avoid using unsafe-eval (scriptSrc) and unsafe-inline (styleSrc) references.  We do not have this feature today, but, it would improve our security posture.  The solution should also ensure that unsafe is not used in the CSP.

[2022-03-01 21:46] janechu opened #5686 "Create a proof of concept CLI and create package for project management"
Create a proof of concept for a CLI for project configuration and generation, for details see https://github.com/microsoft/fast/pull/5669

[2022-03-02 00:14] aleun opened #5687 "fix: [what is the issue?] in [where is the issue?]"
PR #5355 modified `fast-anchor` so that the appearance attribute is assigned in the constructor instead of in `connectedCallback()`:

https://github.com/microsoft/fast/blob/8da160bf10fc106917053350491fb88162d8bc45/packages/web-components/fast-components/src/anchor/index.ts#L28

Corresponding compiled JS code, extracted from `@microsoft\fast-components\dist\esm\anchor\index.js`:

[code]

This viola

[2022-03-02 00:26] #5676 closed

[2022-03-02 02:46] #4309 closed

[2022-03-02 03:41] caseyfaber opened #5691 "fix: hidden menu items aren't skipped when using keyboard focus"
# 🐛 Bug Report

If you use the `hidden` attribute on a menu item, and then use the up and down arrow keys to navigate through the menu items, the tab index of the hidden item will update. The focused item just stays on the previous one until down arrow is pushed again to get to the next item.

## 💻 Repro or Code Sample

https://codesandbox.io/s/menu-focuses-hidden-menu-items-oxdd0t

[code]
1. Pres

[2022-03-02 14:58] #5633 closed

[2022-03-02 15:01] EisenbergEffect opened #5693 "perf: setup FluentUI WX with React Wrapper Krausest"
Use the Krausest infrastructure to test several versions of Web Component performance in React and non-React contexts.

[2022-03-02 15:05] EisenbergEffect commented on #5671
@shachak The labels we add need to be meaningful for the global community. Thus, we've labeled this with our all7 compliance label. /cc @chrisdholt  for resolution.

[2022-03-02 15:17] #5634 closed

[2022-03-02 17:58] nicholasrice opened #5694 "feat: consolidate templating placeholder syntax"
FAST-element uses two different marker syntaxes to create binding/directive placeholders, one for interpolations into attributes and text nodes, and one for comment nodes.

The implication on SSR with this is we need a separate code path to retrieve the directive for those two case. If the syntax was consolidated, a single code-path could be used to retrieve the directive for all binding types.

*

[2022-03-02 22:33] huynhicode opened #5696 "docs: add breadcrumbs"
Add breadcrumbs to allow users the ability to navigate to back to the main topic from a subtopic.

[2022-03-02 22:33] huynhicode opened #5697 "docs: add "docs" link to navbar"
Add a "docs" link to the navbar so that users will be able to navigate back to the documentation from the /search page.

[2022-03-03 17:01] maraah1 opened #5700 "fix: ADA Compliance nested interactive control issue in fast-accordion and loading-button components"
# 🐛 Bug Report

Fast-accordion buttons are throwing an error during fast pass accessibility testing. There is no clear text for screen reader to pick up on within the component:

![Web capture_2-3-2022_12331_ghbhpcookfemncgoinjblecnilppimih](https://user-images.githubusercontent.com/34525412/156611140-31ce21e8-9176-466f-bec7-4dc8c8320c14.jpeg)

## 💻 Repro or Code Sample

Imported the fast-accordio

[2022-03-03 17:21] chrisdholt commented on #5700
After looking at your code snippet provided above, I believe that the error noted here exists in your implementation. The error seems to be noting that focusable relents are being passed into the heading, which is a button. In looking at your template, you indeed are passing a button into the heading itself. Happy to provide feedback on how you may be able to accomplish your UI error free, but the

[2022-03-03 17:21] #5700 closed

[2022-03-03 17:38] maraah1 commented on #5700
Thanks for looking into it! So you're suggesting that the component should be wrapped in a button? @chrisdholt

[2022-03-03 18:50] nicholasrice opened #5703 "feat: add feature to disable template rendering during controller initialization"
SSR uses specialized template rendering for custom elements, so it is un-necessary for the controller to create and render a component's template. Further, template creation and rendering uses DOM apis that are unavailable in NodeJS, causing the process to throw.

Assign a `null` value to the `Controller.template` property does not circumvent the issue, because if `Controller.template` is `null` d

[2022-03-03 19:02] chrisdholt commented on #5700
@maraah1 one more helpful link that I forgot - the relevant portion of the spec detailing why the header is enclosed within a button: https://w3c.github.io/aria-practices/#wai-aria-roles-states-and-properties

[2022-03-03 19:19] maraah1 commented on #5700
@chrisdholt Thanks it worked when I used a different way to display the icon other than using flipper-button!

[2022-03-03 20:56] EisenbergEffect commented on #5703
@nicholasrice If you have code in place, can you point me to where you would want to grab the template, so I can see the context. I think that will help me figure out how to best enable this.

[2022-03-03 23:18] #5483 closed

[2022-03-03 23:20] nicholasrice commented on #5703
Here in the [ElementRenderer](https://github.com/microsoft/fast/blob/3c1a0f0100d26d298cf4bec2ea30058c8687a354/packages/web-components/fast-ssr/src/element-renderer/element-renderer.ts#L58) we need to render a component's template. To do this, we'll get the template from the element and use the *TemplateRenderer* to render the element's template. That will look something like:
[code]

In the [Templ

[2022-03-04 18:02] codef0rmerz opened #5705 "fix: fastAnchor in latest @microsoft/fast-component after v2.20.2"
# 🐛 Bug Report

The `@microsoft/fast-component` releases after v2.20.2 breaks fastAnchor with `Uncaught DOMException: Failed to construct 'CustomElement': The result must not have attributes` in Angular/React apps.

## 💻 Repro or Code Sample

1. Create a sample Angular application using Angular CLI.
2. Install FAST npm dependencies and register `fastAnchor()`.
3. Use `<fast-anchor>Foobar</fast-anc

[2022-03-04 18:54] radium-v commented on #5705
Related PR: https://github.com/microsoft/fast/pull/5646

[2022-03-04 19:06] #5697 closed

[2022-03-04 19:06] #5696 closed

[2022-03-04 19:38] #5705 closed

[2022-03-04 21:38] prudepixie opened #5707 "perf: deploy tests with gh-pages (instead of surge) and log new numbers"

[2022-03-04 21:39] prudepixie commented on #5707
https://www.webpagetest.org/video/compare.php?tests=220304_AiDcEX_GRS,220304_BiDc7P_EJP,220304_AiDc4W_EMB

comparison between gh-pages and surge deployment results indicate a need to rerun all test scenarios under gh-pages

[2022-03-04 21:46] #5660 closed

[2022-03-04 23:21] prudepixie commented on #5693
tests can be referenced here : https://github.com/prudepixie/js-framework-benchmark/tree/master/frameworks/keyed

[2022-03-04 23:28] prudepixie commented on #5693
![Screen Shot 2022-03-04 at 3 27 33 PM](https://user-images.githubusercontent.com/6309989/156855624-c2a93596-53b8-419d-ba1d-c08ab851c62b.png)
![Screen Shot 2022-03-04 at 3 27 27 PM](https://user-images.githubusercontent.com/6309989/156855627-9ca7032c-437d-418c-bdcf-c9f2a544c6aa.png)

[2022-03-05 19:11] scomea commented on #5555
Tooltip watches for mouse enter/leave events on the anchor. If disabled events suppress pointer events I don't expect those to be emitted.

[2022-03-06 01:09] Pines408 commented on #5555
Well were are all my assets everyone forking my repository i built git hub
with bitcoin were is my money for all these projects people stole from me

On Sat, Mar 5, 2022, 11:11 AM Stephane Comeau ***@***.***>
wrote:

[2022-03-07 14:30] #5693 closed

[2022-03-07 15:30] EisenbergEffect opened #5709 "feat: enable multiple fast-element instances in browser at once (FE2)"
Port this work to FE2: https://github.com/microsoft/fast/pull/5695

[2022-03-07 17:57] prudepixie opened #5710 "perf: add custom FluentUI m365 v9 components to test scenarios"
There are test scenarios that shows scaling in the perf document, but the new test cases, Web Components m365 v9, have not been included in the results.
There are currently only Button, Toggle Button and Link components available in the Web Components m365 v9 test package (fluent-wc-v9). More components would need to be created to compare against the other test cases.
We'd want to add the followin

[2022-03-07 18:09] #5666 closed

[2022-03-07 19:48] janechu opened #5711 "Create a package to serve as the CLI default template"
# Description

The CLI needs a package that will be used as a template for both project creation and maintenance. It should have a very simple "Hello world" component and webpack setup to start out with. This will serve as the method for testing CLI projects and to be used as the default.

## Requirements

- Create a new package to be used as a template
- The package name should be `@microsoft/cfp

[2022-03-07 19:54] janechu opened #5712 "Add a package to create a project"
# Description

A package with the naming convention starting with `create` should be added to facilitate using `npm` and `npx` for creating a project.

## Requirements

- Create a package named `@microsoft/create-fast-project`
- Initialize with a utility from `@microsoft/fast-cli`

[2022-03-07 19:59] janechu opened #5713 "Add a package for the FAST CLI"
# Description

To aide in the process of using FAST, including such things and project maintenance for SSR, adding components, etc., a CLI should be added.

## Requirements

- Add a `@microsoft/fast-cli` package
- Add a script to initialize a project #5712 from a default template see #5711
- Ensure the user is online before using the default template
- Create the project based on the configuration

[2022-03-07 21:30] chrisdholt commented on #5711
@janechu curious about prescribing webpack here for the most simple implementation. Another question that comes up here is if we plan on adding additional templates as separate packages? It seems like that may get out of hand if that's the case.

[2022-03-07 21:34] janechu commented on #5711
We won't support additional packages, similar to create-react-app, there will be one template (technically they have two, js and ts) and any other templates will be community driven, or separate repositories.

[2022-03-07 21:59] chrisdholt commented on #5711
Gotcha - So is the idea that the app is the default with options for ts/js and the others will be community maintained? IE, the design system / framework instance and the "simple component" instance? For reference, I think another good example is create-vite which has a few "templates" as part of it.

[2022-03-07 22:15] hawkticehurst commented on #5711
Happened to bump into this issue as I was looking for something else, but if I can chime in to my 2 cents, as a FAST user I would strongly prefer if there were some options given for templates using different build tooling (i.e. like the create-vite templates/CLI that @chrisdholt mentioned). It doesn't have to be exhaustive by any stretch, but even just 2-3 templates using other common build tools

[2022-03-07 22:26] williamw2 opened #5715 "docs: add CEM analyzer to FAST-Foundation"
Add Custom Element Manifest Analyzer (https://custom-elements-manifest.open-wc.org/) to the FAST-Foundation package and configure it to generate manifest JSON files for all of the components.

Once the manifest files are generated then they can be further processed into Markdown for use in the fast.design site and converted into VSCode definition files.

See issue #5020 for reference.

Requires is

[2022-03-08 00:24] #5461 closed

[2022-03-08 02:35] chrisdholt commented on #5524
Hey @hawkticehurst + all - I wanted to follow up after some investigation.

After looking into my own use where this repros and digging into the implementation, I believe that this is currently _by design_. The initial value of these form associated components, including button, is an empty string - rather than null/undefined. This means that there *is* a value present, even though that value is "

[2022-03-08 03:48] #5274 closed

[2022-03-08 14:01] EisenbergEffect commented on #5703
@nicholasrice When doe the `connectedCallback` run? If that can run before or during the `renderShadow` method of the renderer then I have an idea. We could just let the custom element render like normal, doing all its connected callback logic, including the template rendering. However, I would make the compiler pluggable so that you could plug in the SSR compiler and that could return its own ver

[2022-03-08 18:38] janechu commented on #5711
@chrisdholt @hawkticehurst given this feedback, we will in future consider a templated approach which will give you options, similar to how [makes](https://github.com/makesjs/makes) works.

For our MVP we will leave the current defaults listed above in place, we might consider one or two options if they seem critical. If you have any other feedback @hawkticehurst please feel free to add more sugge

[2022-03-08 18:48] #5603 closed

[2022-03-08 19:00] nicholasrice commented on #5703
Yep, connectedCallback() gets invoked before renderShadow(). I think that approach will work.

[2022-03-08 19:25] EisenbergEffect commented on #5703
Great! I'll get on this then 😄

[2022-03-08 20:03] #5709 closed

[2022-03-08 21:33] claviska commented on #5678
Following up on this with another realization. Not only is constraint validation broken, but the form won't even submit because of the error.

https://jsfiddle.net/7sx3bwzy/1/

I've updated the title to reflect that this is a much bigger issue than the initial report because it renders forms completely useless if you're using any constraint validation attributes.

Unfortunately, we have users who

[2022-03-08 21:47] scomea commented on #4660
@EisenbergEffect The Component Explorer was fixed some time ago, so this can be closed.
![image](https://user-images.githubusercontent.com/7649425/157330910-87c1fb90-e66a-46a4-b5ae-9e831b58d2b1.png)

[2022-03-08 21:47] #4660 closed

[2022-03-09 00:04] bheston commented on #5625
Chatting with this team directly. I've asked for it to be closed as I believe they have what they need now.

[2022-03-09 00:54] bheston commented on #5674
We chatted about this last week. I was able to help track down some logos and provided some feedback on the layout and treatment.

[2022-03-09 01:15] #5625 closed

[2022-03-09 02:07] bheston commented on #5510
The intent of the layout tokens is to apply in places where a group of other components is organized. In the illustrations I show a `toolbar` and a `listbox` and the tokens are applied between items or around the edges. The goal is to have individual knobs for "controls" and "groups of controls" or other layout-type things.

If your concern is around the terminology of "component" density because

[2022-03-09 02:08] bheston commented on #5510
I'm open to naming that's more clear or accurate. Now is the time. :)

[2022-03-09 10:56] SzymonZur opened #5721 "fix: clickhandler/indicator can't close dropdown list without selecting a option in combobox"
# 🐛 Bug Report

If you open a combobox, you simply can't close dropdown list without selecting a option. You only can pressing escape etc to close.

## 💻 Repro or Code Sample

https://codesandbox.io/s/combobox-with-label-forked-e8mw3z?file=/index.html
1. Click the combobox. The combobox will open.
2. Try to close it by pressing indicator.

## 🤔 Expected Behavior

The combobox dropdown list should

[2022-03-09 15:08] EisenbergEffect commented on #5721
I'm not sure if this is a bug or by design, since the drop down closes when clicking off of the combobox. I've marked this as an improvement for now until @chrisdholt can chime in.

[2022-03-09 19:01] mollykreis opened #5723 "fix: keyboard navigation in toolbar with disabled buttons"
# 🐛 Bug Report

When using the keyboard to navigate through a toolbar, the focus gets "lost" when encountering a disabled button.

## 💻 Repro or Code Sample

1. Navigate to https://explore.fast.design/components/fast-toolbar and update the code to be
[code]

2. Click on the toolbar (but not one of the buttons). 'button1' has focus (correct).
3. Press the right arrow on the keyboard. 'button2' has

[2022-03-09 22:43] atmgrifter00 opened #5724 "fix: Listbox and Select have non-native initial selection behaviors"
# 🐛 Bug Report

Both the `fast-listbox` and the `fast-select` have non-native behaviors for displaying an initially selected value.

### Listbox

If the `fast-listbox` is meant to behave like the native `select` element (when its `size` has been set to greater than 1), then if no contained option has been given the `selected` attribute, then the `select` element should show nothing as selected by

[2022-03-09 22:52] m-akinc opened #5725 "fix: fast-select has combobox role accessibility violation"
# 🐛 Bug Report

Foundation select has Lighthouse violations due to `combobox` role.

## 💻 Repro or Code Sample

1. Go to https://explore.fast.design/components/fast-select in Chrome or Edge
2. Open the dev tools and go to the Lighthouse tab
3. Generate report
4. Go to the Accessibility section of the report. The first error is `Elements with an ARIA [role] that require children to contain a specif

[2022-03-09 23:14] chrisdholt commented on #5725
Thanks for the issue @m-akinc - we'll work to investigate.

@radium-v can you investigate and see if this is still an issue? I know we've recently done some work here and it's possible that the explorer may not be fully up to date. If this is still showing as an issue, let's revisit the recent work done to stay aligned with the ARIA specification (1.2).

[2022-03-10 01:19] chrisdholt commented on #5724
Thanks for the issue @atmgrifter00 - lots to address here, so let's start on the possibility of a regression around the PR you noted. Tagging @eljefe223 who created that and @radium-v who has done a lot of work on Select, Listbox, Combobox to take a look at what you've called out as far as regressions in behavior for Select.

As far as native elements, regarding listbox intending to be a select -

[2022-03-10 01:44] chrisdholt commented on #5502
@shachak we'll need to likely repro this outside of the component explorer right now. This bug is interesting because it's just an input with type of text for `text-field`. @scomea are you able to see if this repro's in narrator?

[2022-03-10 01:54] hawkticehurst commented on #5711
Nice, excited to try this all out once it's ready! Also yeah, of course, I would be happy to add to this thread as I think of things!

Off the top of my head, another thing that would be nice is templates that demonstrate using FAST Foundation for creating a design system. In particular, having a template that includes a lot of the scaffolding/boilerplate for configuring component styles, custom b

[2022-03-10 02:42] #5703 closed

[2022-03-10 05:33] shachak commented on #5502
@chrisdholt you can repro it on any of the msedge text-fields, like edit favorites. But I notice something new, that this is now also repro-ing for a general <input> with type=text, which was not the case before. Also, this is for narrator.

[2022-03-10 16:28] atmgrifter00 commented on #5724
Just so we're all on the same page, I didn't mean to suggest that the native listbox was actually a select or vice versa, only on the expected behaviors of either as demonstrated in the examples. I also recognize that FAST (and our own team) are trying to adhere to ARIA best practices. From what I can read on the listbox (from what you linked) there is no mention that the listbox should default to

[2022-03-10 16:50] chrisdholt commented on #5724
Not providing reasoning, just background overall. I think @radium-v mentioned this looks like a big, and as noted above, we are happy to take a fix here!

[2022-03-10 17:38] atmgrifter00 commented on #5724
@chrisdholt, out of curiosity, would a change that altered the default selected item behavior of listboxes be a major change (semantically)? That is, if the listbox no longer has a default selected item, would that be considered a major version bump for `fast-foundation`?

[2022-03-10 17:44] chrisdholt commented on #5724
Not a good answer, but it depends on how we approach the problem - my initial hunch is that it _may_, but we are planning some breaking changes now. If the change primarily affects listbox, it may *not* be as egregious and we could possibly do it as a fix. So, maybe - but maybe not. 😆

I think if we're looking at a potential break there, the biggest thing that I'd suggest is just making the case f

[2022-03-10 19:12] scomea commented on #5502
This happens with all inputs as far as I can tell, even on the main Google and Bing search boxes.  Not a fast issue.

[2022-03-10 23:01] williamw2 opened #5728 "docs: CEM - Add plugin to automatically extract attribute info"
Create a plugin for the Custom Entity Manifest analyzer to automatically extract component attributes from "__decorate" statements.

The CEM analyzer is not able to extract component attributes without the use of manually written "@attr" JSDoc comments placed into the comment block above the class declaration. However, the attributes are defined in the component javascript as "__decorate" statemen

[2022-03-10 23:08] williamw2 opened #5729 "docs: CEM - Add Markdown generation"
Using the custom-elements.json generated by the Custom Element Manifest Analyzer generate markdown files for each component in fast-foundation.
Using the @custom-elements-manifest/to-markdown library create a script for generating individual markdown files for each fast-foundation component. The script should take the custom-elements.json file generated by the CEM analyzer as input, split it into

[2022-03-11 08:07] YuecongLou opened #5731 "fix: [cannot set the modal value] in [Dialog component]"
# 🐛 Bug Report

Cannot set the modal to be false by:
`modal="false"` or `modal={false}` or `?modal="false"` or any other way that i can come up with..

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

the modal should be set as false and there should be no overlay element.

## 😯 Current Behavior

the modal seems still remains true and the overlay element still exists

## 💁 Possible Solut

[2022-03-11 08:20] fcollonval opened #5732 "fix: tree item shrinking blocked in @microsoft/fast-components"
# 🐛 Bug Report

If a tree view is tuned to have a constraint minimal width and its text items are styled to display overflow with ellipsis, it does not work. The flex shrink is blocked by the text size (see screenshot below). This is well described by that [article](https://css-tricks.com/flexbox-truncated-text/) - and the solution proposed their does work but requires a style change in the Shadow

[2022-03-11 15:46] EisenbergEffect commented on #5731
I think the `modal` attribute is a boolean attribute so you either add the attribute or you don't based on whether you want it modal or not. However, I think there may be a bug in the component because if the value is set to true by default, that probably breaks the boolean property. /cc @chrisdholt

[2022-03-11 18:04] #5686 closed

[2022-03-11 18:30] claviska opened #5734 "fix: setting an option's selected property has no affect on the selection"
# 🐛 Bug Report

Setting the `selected` property on any `<fast-option>` should update the selection in the parent element (e.g. select, combobox, etc.). It works when setting an attribute, but not when setting the corresponding property. See the fiddle below for details.

Because of the way React wrappers set properties instead of attributes, this means none of our React users can set a default opt

[2022-03-11 19:17] chrisdholt commented on #5502
I also find that this seems to repro with native elements - that's not too surprising as the element being focused is an input :). Closing this as external - @shachak I followed up the other evening in our offline thread. Thanks!

[2022-03-11 19:17] #5502 closed

[2022-03-11 20:09] prudepixie commented on #5635
Moving from Surge to gh-pages has fixed this problem. It could be related to the original test host having variance or other problems during connection setup

[2022-03-11 23:31] nicholasrice commented on #5099
Another lib I found for this is https://github.com/asyncLiz/minify-html-literals. It is the backbone of https://www.npmjs.com/package/rollup-plugin-minify-html-literals?activeTab=readme, but I haven't been able to track down a webpack loader that implements it.

[2022-03-12 08:42] ritikBhandari commented on #5341
Hi @chrisdholt,
So as far as I can understand, while turning on `noImplicitAny` and `strictPropertyInitialization`, the issues related to both tsconfig settings in `fast-router` also need to be resolved. Right?

[2022-03-12 08:44] chrisdholt commented on #5341
Yes, the goal for this would be to turn those settings on and resolve the issues related to them for the `fast-router` package.

[2022-03-12 09:57] ritikBhandari commented on #5341
Would u mine if I try to resolve this issue?

[2022-03-14 16:04] EisenbergEffect commented on #3850
Closing this since it is being driven by community efforts outside of our core project.

[2022-03-14 16:04] #3850 closed

[2022-03-14 16:12] #5454 closed

[2022-03-14 16:14] EisenbergEffect commented on #5020
@williamw2 Here's another issue I found that's related to what you are working on.

[2022-03-14 16:15] MarcSkovMadsen commented on #3850
Hi @EisenbergEffect

I overlooked your comment. Yes I think you have made lots of progress. But there are still lots of components missing compared to other projects. I look to MaterialUI and Shoelace for comparison.

But pretty happy so far.

[2022-03-14 16:21] EisenbergEffect commented on #5047
With recent updates, did this get resolved?

[2022-03-14 16:34] EisenbergEffect commented on #3850
Thanks @MarcSkovMadsen ! If you can, as you encounter specific missing components, would you create an issue for each one you find? That will help us better track the gap and work to address it more specifically.

[2022-03-14 16:43] eljefe223 commented on #5451
Fixed by: #5464

[2022-03-14 16:43] #5451 closed

[2022-03-14 17:29] #5694 closed

[2022-03-14 17:59] radium-v commented on #5047
This should be resolved by #5495

[2022-03-14 23:29] rajsite opened #5740 "fix: Accessibility within shadow root of icon button"
# 🐛 Bug Report

This is potentially more of a general shadow dom accessibility question / request for feedback on accessibility with shadow dom.

We are trying to make icon buttons and one thing we want to do for accessibility is to use slotted text as the aria label. The normal /  non-shadow dom equivalent based on `Technique #2: Accessible Visually Hidden Text with hidden and aria-labelledby` in

[2022-03-14 23:33] chrisdholt commented on #5740
Thanks @rajsite for this - triaging quickly but wanted to let you know that I'll dig in here and provide feedback

[2022-03-15 00:02] EisenbergEffect commented on #5658
Next week we have an internal hackathon, so a couple of folks are going to see if they can put together a FAST/Rooster web components using Shadow DOM and the mentioned work-arounds. We'll let you know how that turns out.

[2022-03-15 03:35] chrisdholt commented on #5740
@rajsite can you try adding the following to your decorator where the element is being defined?

[code]

[2022-03-15 04:18] rajsite commented on #5740
Added an element definition `<my-element-delegates-focus>` to the stackblitz example with shadowOptions.delegatesFocus set to true. Our actual use-case had delegatesFocus set to true as well it was just overlooked in the minimal reproduction created in stackblitz. Has no change in behavior in the accessibility tree for chrome or firefox.

[2022-03-15 04:32] chrisdholt commented on #5740
DOH! I just noticed what this is :) - https://stackblitz.com/edit/fast-accessible-slotted-content-vpfqfv?file=index.ts

In the example you're setting `display: none` on the span which uses the underlying `hidden` attribute which hides it from assistive technologies. You'll want to absolutely position the visual label offscreen.

[2022-03-15 04:35] rajsite commented on #5740
@chrisdholt I added an additional example to the stackblitz with the `<my-element-no-slot>` where the slot where the text node is inserted is replaced with a span with a text node and the accessibility tree shows the button labelled correctly.

Makes me believe more strongly that it is a bug in the behavior of slotted nodes than with aria-labelledby in a shadow root. Also removed the icon from the

[2022-03-15 04:37] chrisdholt commented on #5740
@rajsite I think you missed my update above a couple minutes ago :)

Check out the example, I have it working as expected with that change. The issue is `display: none` on the label itself.

[2022-03-15 04:50] rajsite commented on #5740
@chrisdholt what do you make of the latest update to the stackblitz where the slot doesn't work:
[code]

But swapping the slot with a hard-coded span still `display: none` does work:

[code]

This isn't needed for the hard-coded span in the shadow root or for the normal html button example. It seems to only be necessary for slotted text nodes.

[2022-03-15 04:58] chrisdholt commented on #5740
I can't speak to why the UIA tree is still representing it for the example above, but I can confidently say that the issue in the initial examples is absolutely the `display: none` from the light DOM. I can certainly look into whatwg and see if there's something purposeful or if it's a bug. It also could be NVDA trying to accommodate for legacy support or something like that. For reference on the

[2022-03-15 05:05] rajsite commented on #5740
https://developers.google.com/web/fundamentals/accessibility/semantics-aria/hiding-and-updating-content

I think this article has a couple of quotes relevant here:

Which is what is happening in this case. We don't need the text itself visible, we are using it to label the button. My reading of that description makes me believe that you should be able to label the button with otherwise hidden elem

[2022-03-15 05:08] chrisdholt commented on #5740
I think that needs to be read in context and in light of the second paragraph of the article, which states that anything `display: none` or `visibility: hidden;` *will* be hidden from AT.

[2022-03-15 05:14] rajsite commented on #5740
The following example in the aria-labelledby documentation seems to indicate that elements targetted by aria-labelledby do not need to be in the accessibility tree: https://developers.google.com/web/fundamentals/accessibility/semantics-aria/aria-labels-and-relationships#aria-labelledby

The MDN docs corroborate that statement: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attribu

[2022-03-15 06:36] chrisdholt commented on #5740
@rajsite, this is definitely interesting - and in digging in here, I don't think either of these are incorrect or in conflict, so I think you're correct that there is affordance for this. With that said, while I haven't found a reference for it yet, this seems specifically to do with how slot projection works. I'm going to close this as it pertains to the codebase as there's nothing actionable we

[2022-03-15 06:36] #5740 closed

[2022-03-15 08:46] yinonov commented on #5658
That's great. Are there more similar initiatives?

[2022-03-15 14:26] EisenbergEffect commented on #5658
My team's big effort right now is around FASTElement 2.0, which includes base performance improvements and new core features along with interoperable SSR for Web Component shadow DOM. We're also working on a CLI, improved documentation generation for components, and some other dev experience items.

The RTE project is related to a Hackathon that Microsoft's E+D division holds, I think, oncer per q

[2022-03-15 16:30] rajsite commented on #5740
@chrisdholt thanks for the discussion! We are going to go with "Accessible Visually Hidden Text" as the workaround similar to the stackblitz link you gave (seems to be broken now) and as proposed by the WebAIM article.

The PR we have in our code base is using a CSS Partial from the [Inclusively Hidden](https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html) article as follows:

[code]

[2022-03-15 16:58] nicholasrice opened #5741 "Implement ElementStyles emission into ElementRenderer and TemplateRenderer"
# 🙋 Feature Request
SSR infrastructure should support emitting a FAST Component's ElementStyles stylesheets into declarative shadow DOM when FASTStyle (https://github.com/microsoft/fast/issues/5576) is not enabled.

[2022-03-15 17:01] nicholasrice opened #5742 "Implement Custom Element declarative shadow DOM into Template Renderer"
The TemplateRenderer should support emitting custom element shadow DOM when custom elements are rendered. Rendering declarative shadow DOM also includes rendering a custom element's styles: https://github.com/microsoft/fast/issues/5741 or https://github.com/microsoft/fast/issues/5576

[2022-03-15 17:05] nicholasrice opened #5743 "Implement Directive handling in SSR"
SSR infrastructure needs custom handling of Directives. Implement custom handling for

* [x] `RepeatDirective`
* [x] `ChildrenDirective`
* [x] `RefDirective`
* [x] `SlottedDirective`

[2022-03-15 17:29] nicholasrice opened #5744 "Implement classList special casing for TemplateRenderer"
Binding to the `classList` property should update the `class` attribute of the emitted HTML element. I think this will need to be special-cased in the TemplateRenderer.

[2022-03-16 08:43] fcollonval opened #5746 "fix: cache wrapper does not differentiate component of same type using react wrapper"
# 🐛 Bug Report

When using the react wrapper, if the progress bar and the progress ring are both wrapped, I'm unable to instantiate both of them due to the cache mechanism introduced in #5516:

https://github.com/microsoft/fast/blob/231bf286ef7eb981e392d65651621ad4d325162a/packages/utilities/fast-react-wrapper/src/index.ts#L246-L249

As they have both the same fundamental type, the cache will serv

[2022-03-16 08:59] YonatanKra opened #5747 "fix: aria-current applied twice in breadcrumb"
# 🐛 Bug Report

When adding breadcrumb items to a breadcrumb component dynamically, there is an edge case in which two aria-current are being added.

## 💻 Repro or Code Sample

Here's a repro:
https://codesandbox.io/s/lingering-pine-wb2lfn?file=/src/index.js

This emulates a SPA in which the breadcrumbs is constant in the header and the view changes.  On every view change, the breadcrumbs is updat

[2022-03-16 09:35] simonxabris opened #5750 "fix: change event handling in checkbox and switch"
# 🐛 Bug Report

Currently there's no way to determine whether the `change` event coming from a checkbox/switch was initiated by the user or programatically. Normally with events this could be done with the `isTrusted` property of en `Event`, but since the `change` is a custom event, `isTrusted` will always be false.

## 💻 Repro or Code Sample

You can see the described behaviour here on [this stac

[2022-03-16 18:42] EisenbergEffect opened #5751 "feat: make polyfills optional"
# 🙋 Feature Request

fast-element has code to poyfill a few browser features. Please make that code optional so that those targeting Chromium-based browsers do not have to pay the cost for that.

## 💁 Possible Solution

Extract standard polyfill code to a self-contained file. Use the kernel service mechanism to deliver more complex features.

[2022-03-16 22:51] #5746 closed

[2022-03-17 00:15] nicholasrice opened #5753 "feat: add string rendering to SSR"
SSR infrastructure should have a mechanism to SSR a string type as well as ViewTemplate types. This would allow an author to define markup in formats other than a ViewTemplate (such as an HTML file), and pass this data directly to SSR infrastructure.

We have the ability to parse string values already, so this task is really about opening up that capability and exporting a public method authors ca

[2022-03-17 04:25] rajsite commented on #5750
We ran into a similar issue where programmatically setting the checked value fired events. In general I don't expect programmatically setting the value to fire events. We can create a separate issue if that seems different enough from this issue. FYI @mollykreis

[2022-03-17 05:50] rajsite commented on #5734
Related https://github.com/microsoft/fast/issues/5219

[2022-03-17 13:19] #5751 closed

[2022-03-17 13:21] EisenbergEffect commented on #4118
Option 4 is now implemented in the fast-element 2.0 branch. Please have a look and see if that will meet your need.

[2022-03-17 13:21] #4118 closed

[2022-03-17 17:34] #5724 closed

[2022-03-17 21:07] mollykreis opened #5756 "fix: exception in toolbar in keydownhandler when focusableElements have not been determined"
# 🐛 Bug Report

There is a race condition in the toolbar component that can cause an exception to be thrown in the keydownhandler.

If `this.$fastController.isConnected` is `false` within `slottedItemsChanged()`, then `focusableElements` is not set within the toolbar. As a result, when trying to navigate the toolbar using arrow keys, the `keydownhandler` throws an exception because `focusableEleme

[2022-03-17 21:33] yinonov opened #5757 "[foundation] semantic meaning for 'control' referenced elements in templates"
looking up the repo for all `control` members and their paired refs in templates shows incoherent pattern.

where in most cases `control` refs are "_[A reference to the internal input element](https://github.com/yinonov/fast/blob/853355c7bd25aa2a6ab12ecba8d2b3fd7f6eb43c/packages/web-components/fast-foundation/src/text-field/text-field.ts#L171)_", in one case (anchor) it "_[References the root elem

[2022-03-18 02:29] AaronCTech opened #5758 "docs: fix/add on-th-fly to/in packages/web-components/fast-foundation/docs/integrations/blazor.md"
# 🙋 Documentation Request

Simple update for a typo

## 💁 Possible Solution

Submitting PR

[2022-03-18 02:33] #5758 closed

[2022-03-18 11:08] aszenz opened #5760 "feat: add esm module for individual components"
Add an esm module for each component

Right now i can only import the whole web components library from the esm cdn, I would like to import only the specific component i need in that page to save some bandwidth

This would make using fast components easier in legacy projects where there are no build setups / webpack

[2022-03-18 13:02] AntonOnyshch opened #5761 "fix: Always dark theme when using cdn"
Theme do not change when I use cdn. It's always dark, even if I change it in my MacOs. I did not try with npm.

See [Codepen example](https://codepen.io/antononyshch/pen/MWrKNML)

[2022-03-18 17:10] mollykreis commented on #5756
My original assessment of exactly what was happening to cause the exception was incorrect. I now believe that the more fundamental issue is that `reduceFocusableElements()` is called when the slotted items change, but that does not include items in the `start` or `end` slot. In my app, I don't have any items in the default slot, so the slotted items never change after the element is connected.

I'

[2022-03-18 21:13] nicholasrice commented on #5743
I think we're going to need to no-op `ChildrenDirective`, `RefDirective`, and `SlottedDirective` for a couple reasons.
1. All of those provide references *after the shadow DOM has rendered*. In the SSR environment, this means that some or all of the DOM will already be emitted.
2. The TemplateRenderer doesn't create element instances for native elements, so there are no nodes for the directive to

[2022-03-19 14:24] ritikBhandari commented on #5341
@chrisdholt how should I reproduce these errors again? Did u find it in testing phase or any other case?

[2022-03-19 17:55] chrisdholt commented on #5341
If I recall, the issue should repro by turning on the settings in tsconfig and running the build and tests steps.

[2022-03-19 20:13] ritikBhandari commented on #5341
During testing, all test cases are running except for `fast-router`. Is that the issue?

[2022-03-19 20:15] chrisdholt commented on #5341
No the issue is you would see errors thrown relating to instances of no-implicit-any and several cases where strictPropertyInitialization isn’t being done as expected. Not at my computer but I can try to give an example tomorrow (maybe this evening but will be afk for a bit).

[2022-03-19 20:16] ritikBhandari commented on #5341
Sure.
In the meanwhile i'll check why the tests are running with exception.

[2022-03-20 05:50] yinonov commented on #5757
I believe openui/open-ui#81 addresses this issue exactly

[2022-03-20 10:55] fcollonval opened #5764 "fix: clarify `heading` in AccordionItem"
# 🐛 Bug Report

`heading` class and part reference two elements in AccordionItem

https://github.com/microsoft/fast/blob/082acb9ad25e3f27580f4f948b3446b276da65fc/packages/web-components/fast-foundation/src/accordion-item/accordion-item.template.ts#L17-L32

This makes it unclear how to target the container or the button content.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

The heading contai

[2022-03-20 16:43] chrisdholt commented on #5757
I think the intent here is slightly different, so I don’t see an exact application given the context, but I do agree it’s beneficial and can help lead any discussion here. From what I recall, that issue is around semantics of what constitutes what we would refer to as a “component”. We can also lean on the parts enumerated in Open UI though as we look to update those. Control in our case here is t

[2022-03-20 21:05] yinonov commented on #5757
if it has any resemblance, it at least excludes _[References the root element](https://github.com/yinonov/fast/blob/8a264ec2a22d4f02e901a260b85f77c381a52231/packages/web-components/fast-foundation/src/anchor/anchor.ts#L94)_ from meeting _control_ criterions, right?

[2022-03-21 15:03] EisenbergEffect commented on #5635
@prudepixie We need a name and description for this.

[2022-03-21 20:46] nicholasrice opened #5765 "rfc: Deprecate Custom Element Attribute Enums?"
https://github.com/microsoft/fast/pull/5745 introduces string literal type unions for custom element HTML attributes where they exist in the FAST component packages.

This issue tracks an open question from that PR is if the enum exports that exist for these attributes should be deprecated.

[2022-03-21 20:50] chrisdholt commented on #5765
Would be a welcome change IMO. In most cases I would prefer an alternative to enums, personally. One thing I was considering was if a const could avoid the removal of the enums without a break and pave the way for this change over time…even that may not be necessary though…

[2022-03-22 01:50] rajsite opened #5766 "fix: inconsistent word delimitation in fast-web-utilities"
# 🐛 Bug Report

The [`pascalCase`](https://github.com/microsoft/fast/blob/082acb9ad25e3f27580f4f948b3446b276da65fc/packages/utilities/fast-web-utilities/src/strings.ts#L77) and [`spinalCase`](https://github.com/microsoft/fast/blob/082acb9ad25e3f27580f4f948b3446b276da65fc/packages/utilities/fast-web-utilities/src/strings.ts#L92) functions in `@microsoft/fast-web-utilities` delineate words at differ

[2022-03-22 20:02] EisenbergEffect commented on #5761
@nicholasrice Do we have a way to set the luminosity of fast when it's delivered from CDN?

[2022-03-23 00:22] #5761 closed

[2022-03-23 14:29] Holyphoenix opened #5768 "feat: add Name of Library to license header to have it included in the license generated file by webpack 5"
We recently upgraded to Webpack 5 and we are working on automating the generating of a license attribution file along with our build (we noticed this file generated by default for us when we switched to Webpack 5 but are still working to make sure it includes all licenses). I believe Webpack grabs the license from the various projects, and places them into the license.txt file it generates, and it

[2022-03-23 17:24] mollykreis commented on #5121
I believe this is also related to a focus inconsistency I'm seeing with the FAST toolbar. In Chome/Edge, clicking in the toolbar focuses the first element in the toolbar, but in Firefox, you have to tab after clicking the toolbar to get the first element to be focused.

You can observe this behavior using the [FAST component explorer](https://explore.fast.design/components/fast-toolbar).

[2022-03-23 19:39] #5756 closed

[2022-03-23 20:04] EisenbergEffect commented on #5764
@chrisdholt Probably need you to chime in on this one. Thanks!

[2022-03-24 10:51] ritikBhandari commented on #5341
@chrisdholt can you attach any example of the errors as I still cannot find them after turning on those parameters.

[2022-03-24 16:01] prudepixie commented on #5710
Components have been added, you can now do something like:
https://prudepixie.github.io/fluentui-wc-v9-example?component=button,badge,link&repeatNum=10
to make various test scenarios.
Next week, I'll start running the tests between different combinations of components

[2022-03-25 17:16] #5494 closed

[2022-03-25 17:21] #5728 closed

[2022-03-25 19:14] EisenbergEffect commented on #5768
Ok, I've got approval from legal to change the header from this:

[code]

To this:

[code]

@huynhicode Can you add this to the top of your todo list so we can get this customer going with their new build system? Thanks!

[2022-03-25 19:21] chrisdholt commented on #5764
Definitely an issue and a mistake. I think we can fix this even though it's breaking. I think the issue here is actually just on the wrong node here. The `slot` should still have a name attribute with "heading", but the part is on the wrong node.

@fcollonval we would welcome a PR here!

[2022-03-25 19:23] chrisdholt commented on #5747
Thanks @yonatkra - would you like to submit a PR for this?

[2022-03-25 19:24] chrisdholt commented on #5760
Thanks for this issue @aszenz - we're experimenting with this type of approach in a separate project and seeing positive results. I'm going to leave the label for investigation on and we'll look to potentially put together a spec or discussion around this larger architectural change.

[2022-03-25 19:30] huynhicode commented on #5768
@EisenbergEffect Thank you - PR submitted: https://github.com/microsoft/fast/pull/5771

[2022-03-25 19:31] chrisdholt commented on #5750
Thanks all for this issue, agree this is a needed improvement. I'm going to do some investigation.

[2022-03-25 19:54] eero-dev opened #5881 "fix: options don't display above if not enough space below in FluentCombobox"
# 🐛 Bug Report

Basically the same as here: https://github.com/microsoft/fluentui/issues/3719

## 💻 Repro or Code Sample

Solution with repro in Index.razor
[Repro.zip](https://github.com/microsoft/fast-blazor/files/8353453/Repro.zip)

## 🤔 Expected Behavior

The options should display above the combobox if there is not enough space below

## 😯 Current Behavior

The options display below and can't

[2022-03-25 20:23] EisenbergEffect commented on #5743
As I was reading your code, I thought of this same thing just before I saw your implementations. Makes sense to me.

[2022-03-25 21:22] EisenbergEffect commented on #5768
Thanks everyone!

[2022-03-25 21:22] #5768 closed

[2022-03-25 21:53] nicholasrice opened #5772 "feat: export ExecutionContext abstraction from fast-element"
SSR implements a repeat directive for templates that needs to mimic the client repeat directive. Part of that mimicry involves re-implementing execution context creation. It would be more maintainable to a single mechanism from fast-element that handles execution context creation.

More context: https://github.com/microsoft/fast/pull/5698#discussion_r835565569

[2022-03-25 22:00] mollykreis opened #5773 "fix: changing slotted options does not maintain the selected value in fast-select"
# 🐛 Bug Report

If you change the set of slotted options within a fast-select, the selected value does not stay selected. Instead, the selected index remains selected.

## 💻 Repro or Code Sample

Create a fast-select with the value set to 'my-selected-value' and the following options:
[code]

Then, update the slotted options to be:
[code]
Notice that the selected index remains as 3 and 'option4' e

[2022-03-26 18:33] ritikBhandari commented on #5341
![fasterror](https://user-images.githubusercontent.com/69508348/160252657-a6def512-b116-417a-a816-62cd43605c6c.png)

Are we noticing these type of errors?

[2022-03-28 17:20] chrisdholt commented on #5773
@radium-v can you investigate when you have a moment?

[2022-03-28 17:20] chrisdholt commented on #5764
@fcollonval - if you haven't started yet, I have a PR incoming for this.

[2022-03-28 17:22] chrisdholt commented on #5764
I should look at the full template next time first :). I see the duplication. One of these should likely be "heading-content" if it's needed at all. I think this will be a break. I'm looking to work on a slate of fixes and updates for our next breaking change now. On a positive, the *part* here is on the incorrect node and I think that can be corrected with an accurate part name considering I'm no

[2022-03-28 17:40] scomea commented on #5658
Prototype branch is here:

![image](https://user-images.githubusercontent.com/7649425/160455593-2dd28978-95a2-4031-9842-cfc50f7ebd89.png)

https://github.com/microsoft/fast/tree/users/scomea/rooster

[2022-03-28 18:04] EisenbergEffect commented on #5764
I'd go with a minor version, yep.

[2022-03-28 18:18] scomea opened #5775 "feat: add toggle button as a new component"
Our button styles do not account for a toggle button and we probably should for ease of use and to maintain consistency.
Something like so?

                :host([appearance="outline"][aria-pressed="true"]) {...}

                :host([appearance="outline"][aria-pressed="false"]) {...}

I'm not sure we need to make any functional changes to button as authors can control toggle states easily enou

[2022-03-28 18:34] chrisdholt commented on #5775
Modifying this ask slightly to export an actual toggle button. We likely need the "checkable" form associated behavior in this scenario and we likely want an "out of box" experience here.

[2022-03-28 18:45] chrisdholt commented on #5723
@radium-v can correct me here, but I think what should be expected here is that the disabled element _is_ focused. My recollection is that we keep disabled elements focusable when they are within the toolbar: https://www.w3.org/TR/wai-aria-practices-1.2/#toolbar

It sounds like focus is being lost, which is unexpected, but the focusable element here should be the disabled element.

[2022-03-28 19:14] radium-v commented on #5723
There's a chance this may be a problem with `Button` rather than `Toolbar`. I'm investigating now.

[2022-03-28 22:52] radium-v commented on #5723
@mollykreis you're right on all accounts. It's a conflict between Tabbable's `isFocusable` returning `false` if the element is disabled, and then the `isFocusableFastElement` being true regardless of the `disabled` state of the element.

The fix would require changing the first check in `reduceFocusableItems`:

[code]

[2022-03-28 23:00] random-creator opened #5777 "Neutral appearance for button doesn't render as expected in Angular app"
I have an app in Angular 13 and I am trying to integrate Fast components following the tutorial here https://www.fast.design/docs/integrations/angular.

I want to render the button with default or neutral appearance. This is how it gets rendered:
![image](https://user-images.githubusercontent.com/25162104/160500650-17e5897f-ee50-47ad-afbe-8c131772d775.png)

I am expecting it to be rendered like so

[2022-03-28 23:02] chrisdholt commented on #5777
Without any details here it may be hard to track down the exact issue. Can you help us get started by putting together a small scoped repro illustrating the problem? Feel free to use stackblitz or similar.

[2022-03-28 23:15] random-creator commented on #5777
Here is a quick stackblitz similar to my app https://stackblitz.com/edit/angular-ivy-crynuk?file=src/app/app.component.html

[2022-03-29 00:31] random-creator commented on #5777
hey @chrisdholt Let me know if you need further details or the above stackblitz link is not working.

[2022-03-29 02:10] scomea commented on #5658
I think that would be premature.  This is a collaboration with another team to produce a proof of concept, which I think went well, but we haven't decided on next steps yet so we should let that play out before we get too specific on setting expectations. The branch is available for very interested folks to examine.

[2022-03-29 16:17] chrisdholt commented on #5777
Good news @random-creator, thanks to your repro I was able to figure this out after taking a quick look about 60 seconds ago :).

The components default to having a dark luminance value, which means that they are in "dark" mode out of the box. A quick way to address the dark mode controls appearing would be to set the css of the body element to the `fill-color` variable. However, given your expect

[2022-03-29 16:17] chrisdholt commented on #5777
Closing this as resolved :)

[2022-03-29 16:17] #5777 closed

[2022-03-29 17:14] random-creator commented on #5777
@chrisdholt that worked! thanks a lot

[2022-03-29 19:38] chrisdholt commented on #5721
We're about to do a push on select issues (investigating/fixing/etc) - taking a look to validate what's expected. At worst clicking outside the control should likely collapse. Thanks for the issue!

[2022-03-29 19:42] chrisdholt commented on #5691
Thanks for the issue @caseyfaber, I'll leave the issue open for you to validate, but I believe this is expected and so I think the correct resolution would be to close this as by-design. While often times it's expected to skip disabled controls in the tabindex, there are a few scenarios where keeping them focusable is not only acceptable but expected. Menu items within a menu or menubar are one su

[2022-03-29 19:43] #5742 closed

[2022-03-29 19:44] #5743 closed

[2022-03-29 19:44] #5741 closed

[2022-03-29 19:44] #5744 closed

[2022-03-29 19:44] #5753 closed

[2022-03-29 19:45] chrisdholt commented on #5691
Definitely a bug and definitely an a11y issue. Thanks for the repro - it was extremely helpful to illustrate the situation!

[2022-03-29 19:48] chrisdholt commented on #5691
I have an assumption that this is likely the case with multiple elements. My thought is that we can make a quick fix here and look at a larger approach/pattern for resolving this. I can't think of a scenario where having hidden elements in the tabindex is acceptable so it should be a relatively quick and easy thing to resolve.

[2022-03-29 21:11] #5323 closed

[2022-03-29 21:11] #2209 closed

[2022-03-29 21:59] nicholasrice opened #5778 "fix: FAST packages should define themselves as ES modules"
NodeJS v12.0.0 added support for a [type](https://nodejs.org/docs/latest-v12.x/api/packages.html) field for a package's package.json file. This field communicates the module format that should be used for all `.js` that belong to that package. If the `type` field is `commonjs` or missing, the package's `.js` files are treated as CommonJS modules.

Currently, the following FAST packages expose ES m

[2022-03-30 05:32] chrisdholt commented on #5198
Picking this up fresh

[2022-03-30 11:12] abbasc52 opened #5781 "feat: add tabbing support for slot element inside dialog when it has first or last focusable element"
# 🙋 Feature Request
When using fast-dialog in a web component, if the dialog content has a `<slot>` element. It should allow tabbing into slotted content even if it first or last element in the dialog

## 🤔 Expected Behavior

When your focus is in dialog and the next focusable item is inside a slot, on pressing of tab, it should focus on the focusable element inside the slot.

## 😯 Current Behavio

[2022-03-30 11:23] abbasc52 opened #5782 "fix: shift tab escaping focus tab in dialog in fast foundation"
# 🐛 Bug Report

Given a fast dialog has more than 1 focusable element  and focus is currently on first focusable element.
When you press shift + tab, the focus is moving out of dialog even when modal is true

## 💻 Repro or Code Sample
- have some focusable item outside dialog
- use fast dialog with modal=true and add more than one focusable elements in it
- open the dialog , it will focus on first

[2022-03-30 16:44] #5691 closed

[2022-03-30 16:46] chrisdholt commented on #5691
This should publish in the release tonight, thanks @caseyfaber for this issue!

[2022-03-30 19:27] nicholasrice commented on #5778
It appears old versions of `npm` (unclear which specific versions) may error with the addition of `"type": "module"`: https://github.com/nodejs/modules/issues/348

[2022-03-30 22:01] nicholasrice commented on #5778
It appears that npm 5 does not exhibit the issue according to this research: https://github.com/nodejs/modules/issues/348#issuecomment-510275455

I don't think we should hold off on this work if that is the case.

[2022-03-31 03:38] chrisdholt commented on #5687
Thanks for this @aleun, PR is out. Once it goes in it should publish overnight (with exception of weekends).

[2022-03-31 07:48] chrisdholt commented on #5655
Thanks for the issue @simonxabris. I'm currently leaning towards holding off on adding this at this point, but I'm going to mark this as under consideration for now as I think there's some things to consider beyond this specific request. The `ARIAGlobalStatesAndProperties` mixin is based on what exists on the interface from TypeScript which I believe typically tries to add things which basically h

[2022-03-31 16:23] prudepixie opened #5792 "perf: research and prototype for benchmarking fast-element 1.8 & fast-element 2"
Continuing the perf infrastructure work, the MVP is to be able to compare performance between local branch and master branch (current release version).
I'm targeting that the 1st prototype can be run for fast-element, specifically to benchmark fast-element-2(features/fast-element-2 branch) against current fast-element version 1.8.0.

The main tool to use to run the benchmarks locally will be **tac

[2022-03-31 19:23] chrisdholt commented on #5341
That looks like what I would reproduce - those appear to be `noImplicitAny` errors.

[2022-03-31 19:35] ritikBhandari commented on #5341
So now we're sure these are the errors to be fixed right?

[2022-03-31 19:37] chrisdholt commented on #5341
Yes, we want to fix the `noImplicitAny` typings, which is likely going to require adding the correct typings. That could open up potential type issues with the implementation where something may be inferred but could be undefined or may not overlap.

Probably best to get @EisenbergEffect to confirm, but I think a PR here for stricter typing would be an improvement, it'll likely just take some time

[2022-03-31 23:24] #5747 closed

[2022-04-01 17:24] #5710 closed

[2022-04-01 17:34] #5574 closed

[2022-04-01 17:35] #5573 closed

[2022-04-01 18:29] mollykreis commented on #5775
As a note, I created a toggle button earlier this year within our design system. What we found worked well was making the toggle button's class extended FAST Foundation's switch while making the template look very similar to the button's template (without using an actual HTML button within it). This allowed us to get a lot of functionality for free from the switch while being able to use the same

[2022-04-01 18:35] chrisdholt commented on #5775
Nice! So far, the approach I've taken has been to extend from button and add a checked state that toggles the `aria-pressed` value OR enables a user to control that behavior, similar to what switch/checkbox do. My reason for holding with button thus far is that I don't think the actual semantics of the button change, nor does it's form association behavior from what I can tell.

Your solution thou

[2022-04-01 18:52] mollykreis commented on #5775
Our project isn't open source yet. We're still working with our legal department to get everything in place for that, but we're hoping to have that done later this year.

You're welcome to mention our company, [NI](https://www.ni.com), as one that is building on top of FAST.

[2022-04-01 20:14] EisenbergEffect commented on #5341
The router is still in a bit of a volatile stage so I haven't added all the typings. It can be easier to evolve something at first without that, adding it later once the code has matured. That said, I'd definitely take a PR to improve this now.

[2022-04-03 04:05] chrisdholt commented on #5558
Closing this out as we don't have enough information regarding which a11y feature this is in regards to on Mac. Either way, we aren't able to map to explicit a11y features, so my hunch is this that this is an issue with the tooling. If you get more information, feel free to reopen.

[2022-04-03 04:05] #5558 closed

[2022-04-04 15:22] EisenbergEffect opened #5799 "feat: improve HTMLDirective and CSSDirective design for flexibility, consistency, and performance"
## HTMLDirective

At present, `HTMLDirective` has an interface requiring the implementation of both `createPlaceholder` and `createBehavior`. The API is awkward, with the placeholder API taking an index as input. This older interface is also different than the `CSSDirective` interface.

I'd like to modernize this interface, making it more intuitive and powerful. To do this, I propose we change `cr

[2022-04-04 21:10] wannieman98 commented on #5766
Hi, I am new to open source but I wish to contribute. Can I give this issue a try? Thanks!

[2022-04-04 22:57] radium-v commented on #5725
I can't reproduce this in these browsers:
* Chrome 100.0.4896.75 (Official Build) (64-bit)
* Edge 100.0.1185.29 (Official build) (64-bit)

The Combobox and Select components follow the ARIA 1.2 documentation:

[2022-04-04 22:57] #5725 closed

[2022-04-05 17:46] KingOfTac commented on #5508
As another note on this. The current behavior does not work properly with angular form directives, but other FAST elements that are emitting change and input properly do work just fine.

[2022-04-05 21:21] #5020 closed

[2022-04-05 21:21] #5715 closed

[2022-04-05 21:21] #5729 closed

[2022-04-06 01:16] rajsite commented on #5775
Yea, what does it mean for a `<fast-toggle-button type="reset">` to be switched to the down state on click (resetting a form) and clicked again switching to the up state (again resetting a form). Same for type="submit" the state of a toggle button doesn't seem align with button form association compared to a checkable form association.

[2022-04-06 17:03] simonxabris commented on #5750
@chrisdholt I'm happy to do some digging and take some weight off your shoulders. If you have a direction in mind, I'll explore it!

[2022-04-06 17:05] chrisdholt commented on #5750
Thanks, that would be very welcome!

[2022-04-06 17:45] radium-v opened #5804 "fix: error when running playwright tests"
# 🐛 Bug Report

The Playwright test steps for `@microsoft/fast-components` are failing to run.

## 💻 Repro or Code Sample

1. `yarn install`
2. `yarn workspace @microsoft/fast-components test-pw:full`

## 🤔 Expected Behavior

Playwright runs and all tests pass.

## 😯 Current Behavior

[code]

## 💁 Possible Solution

Replace the harness/Mocha setup with `@playwright/test` and use Storybook to host

[2022-04-06 17:48] radium-v opened #5805 "feat: Use Playwright in conjunction with Storybook for component tests in fast-foundation"
# 🙋 Feature Request

Migrate relevant component tests from Karma to Playwright in `@microsoft/fast-foundation`.

## 💁 Possible Solution

Playwright testing requires a web server of some kind to be running so that it can load pages in a browser. Our earlier POC implementation from `@microsoft/fast-components` used Express in a `require` Mocha configuration hook, which requires its own build step to

[2022-04-06 18:06] chrisdholt opened #5806 "rfc: rework fast-foundation templates to be leaner and support focused scenarios"
## 🔦 Context

The initial focus of the `fast-foundation` package was to support various implementations. Rather than taking a focused approach to support common scenarios, we approached the problem by trying to support a majority of scenarios which meant adding DOM, additional hooks, etc. Over time, it's become clear that this has made it somewhat difficult for teams to adopt *only* what is needed

[2022-04-06 18:14] EisenbergEffect commented on #5806
I agree with this type of change. One thing I'd want to pair with this is that we beef up our documentation so that it has a proper page or two on how to customize components with some real examples.

[2022-04-06 20:41] rajsite commented on #5806
Our biggest concern with forking templates is maintenance if additions are added or changes happen to templates upstream. How can we make sure we have merged in relevant changes when upgrading fast versions?

For most of the customizations we have done we have wanted to insert additional slots for some visual flourish (an extra notification image slot on tabs, an error text line below the text-fie

[2022-04-06 20:58] scomea commented on #5806
We frequently touch templates when fixing bugs, we should be careful about encouraging custom templates, esp. for more complex components.

[2022-04-06 21:18] chrisdholt commented on #5806
Unfortunately I just don't think this scales. The reality is that someone may find value from the class only. I don't think it's our responsibility to police how people compose things or where they decide they want to borrow, leverage, eject, etc. Trying to solve all the problems for all scenarios doesn't really scale well into production scenarios. The cost of hoisting requirements to all users t

[2022-04-06 21:56] rajsite commented on #5799
It would also be nice if the tag template helpers `html` and `css` could be used standalone. We use `html` standalone heavily for writing storybook stories with a helper like the following:

[code]

The resulting HTML is a bit messy though, has extra comments inserted. Elements have come alive and done things like push classes onto themselves that are observable, etc.

It would be nice to be able

[2022-04-06 22:01] EisenbergEffect commented on #5799
The new SSR renderer we're working on returns a string, and handles all directives, bindings, etc. Would that be of interest to you? You would still need a helper function probably, but for use cases like this it would probably be pretty straight forward.

I'll think about the design tokens in html scenario. We might need a new way to detect directives other than `instanceof` since you can't both

[2022-04-06 22:42] rajsite commented on #5799
Potentially? I'd imagine the SSR renderer would be trying to emit the full instantiated template of fast elements as [declarative shadow dom with style, etc](https://web.dev/declarative-shadow-dom/#styling).

The use-case I'm thinking of wouldn't have that instantiation, ie

[code]

Would just result in the string:
[code]

[2022-04-06 22:45] EisenbergEffect commented on #5799
What if there was an option not to render the declarative shadow dom?

[2022-04-06 23:24] rajsite commented on #5799
Sounds very likely to be useful! Only other thing I can think of is it not being coupled to node.js apis, etc as this case would effectively be client-side SSR :)

[2022-04-06 23:42] EisenbergEffect commented on #5799
Ah. I don't think it's coupled to node.js. @nicholasrice as been doing the work so he can share more.

If it is client-side specifically, it might be better to just have some helpers for the existing client renderer instead. I need to think through it a bit. We do have some stuff like this in our tests. I've been thinking about exposing some test stuff from foundation, so maybe this just becomes p

[2022-04-07 06:01] yinonov opened #5809 "fix: @attr's ValueConverter toView should be conditioned to AttributeMode"
# 🐛 Bug Report

[AttributeConfiguration](https://github.com/microsoft/fast/blob/c9bd1b900afa95b47e0f79a6409f256dd2827fdb/packages/web-components/fast-element/src/components/attributes.ts#L41)'s _converter_ type requires _toView_ & _fromView_ to always be set.
`@attr` _mode_, when set to a `'fromView'` value, will not reflect property assignment to the DOM. this makes `ValueConverter`'s _toView_ pr

[2022-04-07 06:29] yinonov commented on #5806
another concern I'd like to add here (and I think is a low hanging fruit) -
extracting `ARIAGlobalStatesAndProperties` template members to a pattern that can be included with a single line.
when overriding a fast-foundation element template we must copy & paste and track changes of

https://github.com/microsoft/fast/blob/c9bd1b900afa95b47e0f79a6409f256dd2827fdb/packages/web-components/fast-foundat

[2022-04-07 09:39] simonxabris opened #5810 "fix: positioning the dropdown in select element"
# 🐛 Bug Report

The positioning of the dropdown does not work as expected currently. It calculates where the dropdown should be positioned on the initial render and does not recalculate it after that. If initially there was room for the dropdown to open to the bottom, it will do that even after the UI has changed and there's no space for it anymore.

<details>
<summary>Bug reproduction video</summ

[2022-04-07 12:53] EisenbergEffect commented on #5806
@chrisdholt The kind of `spread` operation that @yinonov mentions is not possible in FE1 today. However, if we aligned this set of changes to FE2, [the new directive work](https://github.com/microsoft/fast/issues/5799) I was talking about the other day would make it possible to do spreads since directive will be able to add multiple behaviors with that change.

[2022-04-07 12:54] EisenbergEffect commented on #5806
@yinonov In the specific case of aria attributes, we've been working on a nicer, more performance solution than what you show above. So, we've also got specific new stuff for that case in addition to the general problem you bring up with developer experience.

[2022-04-07 14:43] codef0rmerz opened #5812 "fix: fastDisclosure in latest @microsoft/fast-component packagee"
# 🐛 Bug Report

The latest `@microsoft/fast-component` package  breaks fastDisclosure with `Failed to construct 'CustomElement': The result must not have attributes error for Disclosure The result must not have attributes` in Angular/React apps.

## 💻 Repro or Code Sample

1. Create a sample Angular application using Angular CLI.
2. Install FAST npm dependencies and register `fastDisclosure()`.
3.

[2022-04-07 16:31] mollykreis commented on #5723
@radium-v, your suggested change works when the item becomes disabled before the toolbar is connected. However, if an item becomes disabled afterwards (and nothing else with the slots changes), then `reduceFocusableItems` is not called again. Do you have any suggestions of the best place to call `reduceFocusableItems` to handle this scenario?

[2022-04-07 16:54] m-akinc opened #5813 "feat: add readonly mode to picker"
# 🙋 Feature Request

I would like to have a read-only mode for the picker, where the selection input is hidden and only the selected items are shown (and are not interactive). A common way to style the picker's selections would be as pills/chips, and a read-only set of pills/chips would be a useful element to have.

## 🤔 Expected Behavior

Setting the readonly attribute on the picker would:
1. Hid

[2022-04-07 18:26] yinonov commented on #5806
great news then @EisenbergEffect. looking forward to see these updates

[2022-04-07 18:59] EisenbergEffect commented on #5804
@janechu You've been looking into this area in other repos lately. Any chance you could take a look at this and propose/submit a solution?

[2022-04-07 19:01] EisenbergEffect commented on #5805
@janechu This is related to the other issue that John opened up. I know you've been working through this kind of thing so tossing this over to you.

[2022-04-07 23:35] radium-v commented on #5723
I think a standard `MutationObserver` would probably work to track child attribute changes. The `DataGrid` class does a similar thing with its `onChildListChange` property: https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/data-grid/data-grid.ts#L612

[2022-04-08 17:29] prudepixie commented on #5792
First draft working for fast-element, can compare different versions, as well as local branch

[2022-04-08 18:51] #5812 closed

[2022-04-11 07:19] simonxabris commented on #5806
In our design system we rely heavily on the mechanism that for example when the `start` slot has assigned nodes, the wrapping `span` has a `.start` class and when there is no assigned nodes, there is no `.start` class. If this were to go away the update path for us would be pretty steep. I don't know if it's representative to how the community uses Foundation, but maybe it's something to keep in m

[2022-04-11 18:07] radium-v commented on #5765
Enums can be replaced with objects: https://www.typescriptlang.org/docs/handbook/enums.html#objects-vs-enums

[2022-04-11 18:08] radium-v commented on #5765
It can be super useful to have explicit types available as values, especially in tests and Storybook fixtures. You can't use `Object.values(SomeList)` with union types.

[2022-04-11 21:33] #5778 closed

[2022-04-11 23:48] prudepixie commented on #5792
Example of adding local build with additional exports to benchmark
https://github.com/microsoft/fast/tree/users/wendy/fast-element-2-copy

[2022-04-12 16:03] break-stuff opened #5827 "fix: Skeleton object element does not have accessible name"
# 🐛 Bug Report

We are seeing accessibility errors with our audit tools.

## 💻 Repro or Code Sample

The issue was discovered when running a FastPass audit with [Accessibility Insights For Web](https://accessibilityinsights.io/) browser extension.

https://jsfiddle.net/80vL3zu9/

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

Based on the report, it looks like the `object`

[2022-04-12 16:08] break-stuff opened #5828 "fix: multiple tabs on a page without ids will results in duplicate ids"
# 🐛 Bug Report

## 💻 Repro or Code Sample

https://jsfiddle.net/1f68v7ub/

## 🤔 Expected Behavior

Tab IDs should be unique so within the same page so tabs can be associated with the correct panels.

## 😯 Current Behavior

Tab panels are being assigned an ID based on the count within a tabs component. This works fine if there is only one set of tabs on a page. If there are multiple, then you end u

[2022-04-12 20:11] robarbms opened #5830 "fix: scrolling back from end and forward retains next flipper in horizontal-scroll"
# 🐛 Bug Report

Scrolling to previous will scroll the first in view card. This is different than the next behavior which scrolls to the last in full view card. When in view cards are slightly bigger than the viewport, this is causing the horizontal scroll to require another scroll to bring the last few pixels in view when scrolling to the end.

## 💻 Repro or Code Sample

Resizing the cards in the

[2022-04-12 21:12] #5804 closed

[2022-04-12 22:54] nicholasrice commented on #5638
I think we may need to re-approach the solution for getting component stylesheets for SSR rendering. This approach we implemented does not expose any stylesheets added via `Controller.addStyles()` calls. This is a problem because the `PropertyStylesheetBehavior`, for example, is a behavior that conditionally adds a stylesheet when a property of an element matches some value. We use this to conditi

[2022-04-13 01:35] EisenbergEffect commented on #5638
If we added something like`getAllStyles()` to controller that was an iterator and returned the sore resolved styles plus all the styles held by the controller, would that work?

[2022-04-13 05:01] yinonov commented on #5806
here's a concern worth mentioning, setting parts on shadowRoot elements makes them exposed for authors to customize easily. when locking down components to enforce a design system rules, setting parts can conflict with the general intention.
one can obviously querying all part attributes from within the class and remove 'em programmatically.

still, not sure what the tradeoffs are. wondering what

[2022-04-13 05:06] chrisdholt commented on #5806
This one is definitely interesting; I’d be open to a separate issue raising this as a potential enhancement (templates with and without) to gather feedback and consider how/if this could be best addressed. Thoughts on opening an issue specifically for that @yinonov?

[2022-04-13 06:13] yinonov commented on #5806
of course 👌

[2022-04-13 07:12] yinonov opened #5832 "feat: add control over 'parts' when extending fast foundation components"
# 🙋 Feature Request

setting parts on shadowRoot elements makes them exposed for authors to customize (and abuse) easily.
when locking down components to enforce a design system rules is a concern, setting `part` attributes conflicts with that general intention.

wondering what other design system maintainers feel about that...

## 🤔 Expected Behavior

consumers of fast foundation components shoul

[2022-04-13 16:24] nicholasrice commented on #5638
Yep. SSR just needs a mechanism to retrieve *all* styles applied to an element.

[2022-04-13 16:54] chrisdholt commented on #5832
Thanks opening this @yinonov - a key belief some of the core maintainers have held is that design systems are often on a spectrum of customization. Where that customization happens depends on the requirements of a given project; some may value more open approaches and some may want things more locked down. I think this falls into the latter camp which is a gap right now. We have some ideas brewing

[2022-04-13 17:15] simonxabris opened #5833 "fix: selection range remains visible when an option is selected in combobox"
# 🐛 Bug Report

When the combobox is in `inline` or `both` mode and you start typing and use the cursor to select an option, the option gets selected but the inline selection remains visible in the input. I think this is not the desired behaviour and the selection should be cleared. It is already implemented when the option is selected using the `Enter` key.

## 💻 Repro or Code Sample

You can rep

[2022-04-13 18:23] simonxabris commented on #5832
I agree with @yinonov that the less escape hatches you have the more you're able to enforce consistency within the apps that are consuming the design system and in my opinion `part` is an escape hatch. Any new features that lets us customise this would be a welcome addition.

[2022-04-13 18:41] chrisdholt commented on #5827
Thanks for the issue @break-stuff - I just ran Lighthouse and wasn't able to repro there, can you share a screenshot of the exact error using A11y insights for web? That'll help us focus effort.

[2022-04-13 18:57] break-stuff commented on #5827
Sure! Here is the error I am getting from Accessibility Insights for Web

![MicrosoftTeams-image](https://user-images.githubusercontent.com/31320098/163250951-f207f876-c520-4c1c-b2c8-f052248e3c61.png)

[2022-04-13 19:16] atmgrifter00 commented on #5123
The only issue that I'm seeing that is still present is that if you set `position` to `above` in the HTML, the `fast-select` will have its `class` set with `below`. See [this Stackblitz example](https://stackblitz.com/edit/typescript-aaj7ij?devToolsHeight=33&file=index.html). Obviously you will need to inspect the DOM to see the wrong `class` applied.

[2022-04-13 21:28] yinonov commented on #5832
exactly. it puts much trust in authors. which, unfortunately, hasn't been working out for us and the unification objective
But I can honestly say locking down has done wonders

[2022-04-14 02:29] chrisdholt commented on #5827
After digging in here, I think this can be resolved with `role="presentation"`. In the case of skeleton, the host element itself should likely have an aria-label (or aria-labelledby) to describe it's purpose on the page. Will get a PR out soon for this.

[2022-04-14 06:14] #4190 closed

[2022-04-14 15:08] break-stuff opened #5839 "fix: required attribute is not updating the corresponding input element in Combobox to inform assistive technologies of its required state."
# 🐛 Bug Report

When adding the `required` attribute to the component, the `input` element does not get updated with `required` or `aria-required="true"` attributes to inform assistive technologies that the field is required.

## 💻 Repro or Code Sample

https://codesandbox.io/s/infallible-banach-fg5zmn

## 🤔 Expected Behavior

The `input` field within the component should be updated to indicate th

[2022-04-14 17:28] chrisdholt commented on #5839
Updating the title to be more descriptive of the problem for users searching through issues.

[2022-04-14 17:29] chrisdholt commented on #5839
assigning to @radium-v to investigate

[2022-04-14 18:40] prudepixie opened #5841 "perf: add Krausest inspired tests as default test suite"

[2022-04-14 18:43] prudepixie opened #5842 "perf: add scripts to generate dynamic tachometer config file"
Be able to pass in arguments for
- library
- versions
- test name

and generate tachometer config file, then run it

[2022-04-14 18:44] prudepixie opened #5843 "perf: add tests for SSR"
With addition of fast-ssr, initial benchmarks can be added to ensure future fixes and feature additions will not introduce regression.

[2022-04-14 18:45] prudepixie opened #5844 "perf: first iteration of adding benchmarks to Github Actions"
Some possible tasks to explore with this task:
1. Automate tachometer results to be displayed when new PR is merged.
2. Setting checks to block PR if there are regressions- if Tachometer results show 'slower'
3. Visualize overall performance over a period of time, how FAST libraries have improved with each major version release (this might be broken down to another issue)

[2022-04-14 18:47] prudepixie opened #5845 "feat: add fast-benchmark"
# 🙋 Feature Request

Add fast-benchmark, a performance testing infrastructure to support local development and general benchmarking purposes for FAST libraries.

## 💁 Possible Solution

The main tool to use to run the benchmarks locally will be tachometer, it is a tool used widely for benchmarking known low-level libraries, such as [lit](https://github.com/lit/lit) and [preact](https://github.com/

[2022-04-14 20:31] nicholasrice commented on #5638
@EisenbergEffect scratch that! I just realized I can use the SSR style strategy to track that info and implement a retrieval mechanism directly in the SSR package. No work from you needed!

[2022-04-14 20:31] #5638 closed

[2022-04-14 22:11] scomea commented on #5813
You may be able to create this behavior by using custom list items that eat clicks so they can't get deleted and have any aria attributes you may need to communicate their state and limiting the number of selected items the number of items in your list initially so no edit box shows up.  Not saying a read-only mode isn't interesting, just that their may be reasonable workarounds in the meantime.

[2022-04-14 23:42] bheston opened #5848 "fix: fillColor more accurately represents background color in element design token context"
# 🐛 Bug Report

The `fillColor` design token is used as the reference for many other color recipe design tokens, but it's not commonly set correctly as the context for an element background color. The only place this is done is on the 'layer' components like `Card` or the listbox on a `Select`.

The `fillColor` must be set correctly for the color system to cascade correctly.

## 💻 Repro or Code Sa

[2022-04-15 00:04] chrisdholt opened #5849 "The future of FAST Components"
Hello FAST community! On behalf of the @microsoft/fast-steering-committee and the core collaborators, I want to share with you some exciting changes we will be making regarding the `fast-components` and provide a peek at where we are headed with the future of `fast-foundation`.

# Evolving `fast-components`
`fast-components` have always meant to act as an example or starter kit for teams looking t

[2022-04-15 00:10] bheston commented on #5587
This is tricky. The short answer is this is by design. This was changed in #4918, which includes some notes about why.

We know this behavior produces some cases like you found, though I tried to find the exact color you used and wasn't able to reproduce it now or find a color that produced this using the same UI. The competing issue is maintaining contrast in both rest and hover state combined wi

[2022-04-15 00:16] bheston commented on #2618
Closing this because it's not actionable without answers to the above questions. We have #4313 to track general improvements to this tool and related documentation.

[2022-04-15 00:16] #2618 closed

[2022-04-15 00:22] bheston commented on #1904
Resolved by #5111

[2022-04-15 00:22] #1904 closed

[2022-04-15 00:46] bheston commented on #3798
I just checked into this and followed up with the platform team again. There is currently a way to set the background color of the button, but I haven't found a way to update the foreground color yet.

[2022-04-15 03:23] #5827 closed

[2022-04-15 08:04] fcollonval commented on #5587
Thanks for the answer @bheston.

[2022-04-15 15:25] #5828 closed

[2022-04-15 16:49] CuddleBunny opened #5852 "fix: generating palette with PaletteRGBOptions.preserveSource does not give cohesive results"
# 🐛 Bug Report

New palette generator does not yield cohesive colors relative to source color with `preserveSource: true`.

## 💻 Repro or Code Sample

In the `feature/fast-component-update-visuals` branch `ComponentStateColorPalette` has been deprecated in favor of a new approach which I believe is based on contrast instead of luminance. The new palette generation code does not guarantee that the

[2022-04-15 21:37] chrisdholt commented on #2430
@janechue can this be closed with the removal of the component explorer in #5853?

[2022-04-15 21:38] chrisdholt commented on #2345
@janechu I think this should be closed given #5853 as well - let me know if you agree.

[2022-04-16 17:41] chrisdholt commented on #5465
Not stale - we’ll handle in the next version of Foundation, coming with Fast element 2

[2022-04-16 19:47] yinonov commented on #5478
can be closed considering #5806

[2022-04-16 21:08] chrisdholt commented on #3443
Closing given #5853

[2022-04-16 21:08] #3443 closed

[2022-04-16 21:10] chrisdholt commented on #3854
closing given 5853

[2022-04-16 21:10] #3854 closed

[2022-04-16 21:10] chrisdholt commented on #3732
closing given #5853

[2022-04-16 21:10] #3732 closed

[2022-04-16 21:11] chrisdholt commented on #3813
closing for now given #5853

[2022-04-16 21:11] #3813 closed

[2022-04-16 21:13] chrisdholt commented on #5320
Will be picked up with FAST Foundation vNext work

[2022-04-16 21:22] chrisdholt commented on #4642
To be picked up in FAST Foundation vNext (as part of FE 2)

[2022-04-16 21:37] chrisdholt commented on #5127
closing this due to implications of #5853

[2022-04-16 21:37] #5127 closed

[2022-04-16 21:39] chrisdholt commented on #4851
Closing given no feedback on this from the last comment (9 months). If this is still an issue we can reopen and investigate.

[2022-04-16 21:39] #4851 closed

[2022-04-16 21:39] chrisdholt commented on #4801
To be picked up as part of Foundation vNext

[2022-04-16 21:40] chrisdholt commented on #4731
@nicholasrice I believe that we've addressed this for FE - I'm not sure we should (or how we would) support multiple versions of Foundation; thoughts?

[2022-04-16 21:42] chrisdholt commented on #5503
Is this still a pertinent issue @robarbms or can we close?

[2022-04-16 21:47] chrisdholt commented on #4683
This can be accessed by hitting `.` within the root or any relevant portion of the code in GH's interface. You can't run the dev server but this is default behavior by GH now I believe. Closing this as I don't think there is any actionable effort required from us.

[2022-04-16 21:47] #4683 closed

[2022-04-16 21:49] chrisdholt commented on #4658
Looks like #5786 would close this.

[2022-04-16 21:52] chrisdholt commented on #4551
Closing based on this comment and the fact that sequential tab ordering is not recommended as standard practice or pattern (https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex)

[2022-04-16 21:52] #4551 closed

[2022-04-16 21:53] chrisdholt commented on #4334
Closing as this has had no action for over a year

[2022-04-16 21:53] #4334 closed

[2022-04-16 21:54] chrisdholt commented on #4315
closing this as #5677 addressed this

[2022-04-16 21:54] #4315 closed

[2022-04-16 21:56] chrisdholt commented on #3973
Closing this given #5853

[2022-04-16 21:56] #3973 closed

[2022-04-16 21:58] chrisdholt commented on #3960
Given #5853, I think I'm going to close this. With that said, I'd love to see this as a utility library available on NPM perhaps :)

[2022-04-16 21:58] #3960 closed

[2022-04-16 22:00] chrisdholt commented on #3643
closing given #5821

[2022-04-16 22:00] #3643 closed

[2022-04-16 22:01] chrisdholt commented on #3233
Closing given #5853, also given the DSP is considered "legacy at this point"

[2022-04-16 22:01] #3233 closed

[2022-04-16 22:02] chrisdholt commented on #3616
Closing as I haven't repro'd this recently.

[2022-04-16 22:02] #3616 closed

[2022-04-16 22:02] chrisdholt commented on #2439
Closing given #5853

[2022-04-16 22:02] #2439 closed

[2022-04-16 22:03] chrisdholt commented on #2766
Closing given #5853 - additionally, if we decide to add the density work for Adaptive UI to the CLI as an example, I think density ends up resolving this issue.

[2022-04-16 22:03] #2766 closed

[2022-04-16 22:03] chrisdholt commented on #2778
Closing given #5853

[2022-04-16 22:03] #2778 closed

[2022-04-16 22:06] chrisdholt commented on #3711
I think this can be closed given #5853 - I will be opening a new issue though as we'll need a visual testing aspect with super baseline styles for ensuring that our templates work as expected in fast-foundation.

[2022-04-16 22:06] #3711 closed

[2022-04-16 22:09] chrisdholt commented on #2428
@janechu Do we want to transfer this to the necessary repo or can this be closed? I think perhaps it was left for the explore site.

[2022-04-16 23:02] chrisdholt commented on #3874
I think we should close this given #5853, but I wanted to put together an example of how this could be accomplished using the design tokens. It's not perfect, but it is an approach that can support the concept and tends to work with smaller number sets...

Attaching a stackblitz where I've extended TextField and added a custom change handler for the maxlength attribute. I've created a design token

[2022-04-17 00:50] chrisdholt commented on #3869
It feels silly looking back and thinking we needed to use the system for this - in fact, what we needed to do was eject from the system. @m-akinc, @MarcSkovMadsen - this is in PR. Thanks for your patience :).

[2022-04-17 00:53] CuddleBunny commented on #3960
Can do, I've already made this and just need to spend the time to bundle it up separate some day.

[2022-04-17 01:18] chrisdholt commented on #4839
Closing this based on @scomea's response above - if there are still gaps here we can dig in and see if it is expected/should be supported. I think one problem with preventing focus on certain cells is that it could create conflicts or issues with Assistive Tech; we are really limited in what we can do given the current support and specifications around grid.

[2022-04-17 01:18] #4839 closed

[2022-04-17 01:19] chrisdholt commented on #5568
Picking this up with Foundation vNext work.

[2022-04-17 01:26] chrisdholt commented on #5491
Yes, I was able to repro this in Chrome (not Edge interestingly enough) with that version, but it does appear to be fixed in 2.28.0. @caseyfaber if this comes up again, please reopen and we'll be happy to dig in.

Thanks!

[2022-04-17 01:26] #5491 closed

[2022-04-17 01:29] chrisdholt commented on #5297
I think that some of what is enumerated in #5849 for the future of `fast-foundation`. @EisenbergEffect as FYI w/r/t template customization.

[2022-04-17 01:40] chrisdholt opened #5857 "feat: fast-foundation elements attribute `changed` handlers should be protected methods rather than private"
# 🙋 Feature Request
While working to extend the behavior of TextField to support some customization I found that due to the private nature of the changed handlers for the attributes I was unable to extend and super the handler.

Example of the delta in support illustrated on the [typescript playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgQxjKcC+cBmUIhwBEAAiMAMb4DOEOMA9DstTAL

[2022-04-17 02:47] chrisdholt commented on #5414
I believe this was closed by #5435 - @rajsite if you come across other instances, let us know, but this should be addressed. Thanks all!

[2022-04-17 02:47] #5414 closed

[2022-04-17 02:50] chrisdholt commented on #5407
@eljefe223 Did this end up getting closed out or did we have more work to do on it? I don't recall if this was fully resolved or not.

[2022-04-17 02:55] eljefe223 commented on #5407
@chrisdholt I believe we only addressed fluent elements and this remained open.

[2022-04-17 03:16] chrisdholt commented on #5268
@nicholasrice curious of your thoughts here. It looks like perhaps scenarios where we have an internal input such as text field, number field, etc, we need to pass the validity from the input being used for text field to the class itself.

[2022-04-17 03:20] chrisdholt commented on #5291
Closing based on the above conversation - if we gather feedback from the community here, more than happy to dig in on how we might address this, but I think this was point in time and implementation specific for folks running in closed mode.

[2022-04-17 03:20] #5291 closed

[2022-04-17 03:21] chrisdholt commented on #5478
Closing, thanks @yinonov for this issue and all the feedback - looking forward to making these updates :)

[2022-04-17 03:21] #5478 closed

[2022-04-17 04:10] #5732 closed

[2022-04-18 15:55] KingOfTac opened #5863 "feat: add events to files generated by CEM Analyzer"
# 🙋 Feature Request
I think it would be a useful addition to the CEM Analyzer script to add events emitted by a component to the generated API document.

## 🤔 Expected Behavior
Generated component API includes emitted events.

## 💁 Possible Solution
The `@custom-elements-manifest/analyzer` package already supports events via `@event` and `@fires` JSDoc directives.

## 🔦 Context
Currently it is a b

[2022-04-18 17:26] bheston commented on #2439
For future reference, the latest thoughts around solving this are described in #5510

[2022-04-18 17:30] bheston commented on #5286
This is still needed as part of the latest design package update.

[2022-04-18 18:35] rajsite commented on #4930
We'd still be interested in having the fixture utility available in some form so we can share test patterns with FAST

[2022-04-18 20:38] EisenbergEffect commented on #4930
Planning this for the set of releases based on FASTElement 2.0.

[2022-04-18 20:40] EisenbergEffect commented on #5297
Yep. I think this can be easily handled as part of the new foundation APIs I thinking of.

[2022-04-18 20:43] awentzel opened #5864 "fix: copyright should be horizontally aligned with all footer items"
# 🐛 Bug Report
The footer links are not in alignment:
![Screen Shot 2022-04-18 at 1 40 52 PM](https://user-images.githubusercontent.com/16669785/163874707-b2e37aa8-42f1-4203-9479-dd2295374af1.png)

## 💻 Repro or Code Sample
Visit https://www.fast.design or https://stage.www.fast.design/

## 🤔 Expected Behavior
All footer links should align on the same horizontal access point.

## 😯 Current Behavio

[2022-04-18 20:56] awentzel opened #5865 "fix: building FAST results in hundreds of "failed to retrieve the git history" errors"
# 🐛 Bug Report
![Screen Shot 2022-04-18 at 1 53 16 PM](https://user-images.githubusercontent.com/16669785/163876441-d7659e78-a033-4798-8bdd-a3eb58f547e9.png)

This depends on a resolution to #5868 #5867 before troubleshooting will continue. It seems that Docusaurus should gracefully handle these errors by not creating "lastUpdatedTime" value because the only way to retrieve this value is if they a

[2022-04-18 20:59] chrisdholt commented on #5865
Does this repro outside vscode or is it specific to that tooling? I don’t repro locally outside vscode, so I’m curious if this is specific to that scenario.

[2022-04-18 21:13] awentzel opened #5866 "fix: markdown links unresolved"
# 🐛 Bug Report
![Screen Shot 2022-04-18 at 2 11 17 PM](https://user-images.githubusercontent.com/16669785/163878811-7723f167-4c6f-4888-8d92-b418ba44ac36.png)

## 💻 Repro or Code Sample
1. cd sites/website
2. yarn
3. npm run build
4. wait until you see yellow WARNINGS

## 🤔 Expected Behavior
Shouldn't be any errors/warnings during CLI commands

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Co

[2022-04-18 21:37] awentzel commented on #5865
this started appearing on the pipeline last week and now appears locally when building the documentation sites.

[2022-04-18 21:39] chrisdholt commented on #5865
Thanks for the info.

@williamw2 this may be unrelated but it looks like the timeline tracks with the CEM work. Not sure if you can glean any potential insights from the errors above…

[2022-04-18 21:46] nicholasrice commented on #5268
All form associated custom elements should implement validity behavior to match control options (min-length) for example. For these controls that implement an internal input element then we may be able to use that control to inform the custom element's validity, but AFAIK the `.setValidity()` method still needs to be invoked with that validity. I don't know at this point what, if any, edge cases t

[2022-04-18 22:00] williamw2 commented on #5865
I doubt it. The CEM changes do not touch any of the files in the /website/docs/api folder. CEM only modifies the markdown files in fast-foundation/src/ which indirectly modifies the files in the /website/docs/components folder. I am able to repro these errors locally when I run "yarn build" within the /sites/website/ folder. It appears to be Docusaurus related.

[2022-04-18 22:43] awentzel opened #5867 "fix: warnings when building sites"
# 🐛 Bug Report
![Screen Shot 2022-04-18 at 3 41 52 PM](https://user-images.githubusercontent.com/16669785/163888821-c4dff349-0d00-45b5-9403-bd6f2435c63d.png)

## 💻 Repro or Code Sample
1. cd sites/website
2. yarn
3. yarn api-documenter markdown -i src/docs/api -o docs/api
4. This is the internal command that's creating these issues.

## 🤔 Expected Behavior
Warnings should not occur

## 😯 Current B

[2022-04-18 22:44] #5792 closed

[2022-04-18 22:59] #5799 closed

[2022-04-18 23:02] williamw2 commented on #5865
I've done a little digging. This seems related to the "showLastUpdateTime" option in the docusaurus.config.js file. Setting this to "false" resolves the errors. It appears to have been changed to "true" here: #5505

[2022-04-18 23:04] awentzel commented on #5865
Thanks @williamw2 this is helpful. That's actually the attribute I'm testing for right now.  When set to "true" that value should be writing to the page, instead it's null.  I'll poke around Docusaurus and file a bug on them if I can't figure it out in 15 minutes.

[2022-04-18 23:17] williamw2 commented on #5865
No problem, @awentzel. I also notice that all of the errors occur on files that are not actually tracked in github, which is probably why github does not return a history. It seems odd to me that this is even on. Maybe I'm blind but I don't see the "last updated" dates on any of the pages on fast.design. If there isn't a better solution you can probably just turn it off.

[2022-04-19 00:42] awentzel commented on #5867
@bheston said "Just a guess, but design-system-provider/index.ts  has {@link DesignSystemProvider} in the docs on line 1078. This references the class on line 146, but it's marked @internal. Do elements need to be marked public to turn up in the docs?"

@nicholasrice agreed, and said "exports marked as internal won't emit to docs"

[2022-04-19 12:49] ben-girardet commented on #5849
Will the CLI distribution provides a storybook pre-configured for FAST components packages mirror ?

[2022-04-19 12:52] EisenbergEffect commented on #5849
Not sure if I'm understanding you correctly wrt "FAST components packages mirror" but...

The goal with the CLI is to have a full setup for building design systems. So, the component starter code, a test setup, Storybook, custom elements manifest, markdown documentation generation, etc. We probably won't have all of that in the first release, but that's our goal.

[2022-04-19 13:12] EisenbergEffect commented on #5852
Assigned to @bheston to explore options with @CuddleBunny.

[2022-04-19 13:13] EisenbergEffect commented on #5863
I believe this is planned. @williamw2 can provide more information or take feedback.

[2022-04-19 13:15] EisenbergEffect commented on #5864
@huynhicode Can you take a look into this? Hopefully it's a quick fix but there are some nuances to the footer. I think that @radium-v has the details if you aren't familiar with that part of the site's code.

[2022-04-19 13:19] EisenbergEffect commented on #5865
We'd like to have the last updated date for each document if possible. But if there's no way to make it work with how docusaurus is implemented, then we can just turn it off. Let's at least try to determine that for sure first though. Research shows that a "freshness" date on documentation helps instill confidence in the community.

[2022-04-19 13:26] EisenbergEffect commented on #5867
@huynhicode Here's another few documentation generation issues to look into when you get a chance. These likely need to be fixed directly in our source code, either by using some other link/doc format or by correcting some visibility of linked types.

[2022-04-19 14:26] KingOfTac commented on #5863
I also noticed that the name column doesn't populate for boolean attributes.

[2022-04-19 16:11] EisenbergEffect commented on #5865
I'm not sure they are related, but I've assigned the other issues to @huynhicode to investigate since she's been doing lots of other docs improvements.

[2022-04-19 17:15] williamw2 commented on #5863
@KingOfTac - Yes, this is planned. I'm waiting on the Typescript version PR to be merged. Then I will need to upgrade our api-extractor and tsdoc-config version. After that I will be able to add all of the additional JSDOC tags supported by CEM Analyzer ("@event", "@slot", etc) to the tsdoc.json file and people can begin updating the components with this additional information.

[2022-04-19 17:18] KingOfTac commented on #5863
Awesome, I can close this out then if needed.

[2022-04-19 17:29] williamw2 commented on #5863
You can leave it open. I'll close it once it is resolved.

As for the blank names on boolean attributes, this is definitely a CEM Markdown quirk, and it appears to only be blank for attributes that have the same name as its field. For example, on Checkbox the "readonly" attribute name is different from the "readOnly" field name and it is displayed, but on Accordion the "expanded" attribute and fie

[2022-04-19 20:09] #3869 closed

[2022-04-19 20:21] nicholasrice opened #5870 "feat: add mechanism to opt component types out of SSR declarative shadow DOM emission"
# 🙋 Feature Request
SSR infrastructure should enable opting specific web components out of SSR shadow-DOM emission. This will likely be useful for components that are only meaningfully rendered on the Client.

We'll need to figure out an ergonomic way to opt components in.

[2022-04-19 20:24] nicholasrice opened #5871 "feat: add mechanism to opt component instances out of SSR shadow DOM emission"
# 🙋 Feature Request
SSR infrastructure should allow opting specific component instances out of declarative shadow DOM rendering. Similar to #5870, but for component instances instead of component types.

We'll need to figure out an ergonomic way to handle this.

[2022-04-19 21:19] #5166 closed

[2022-04-20 17:15] nicholasrice commented on #4731
Aside from DesignTokens I don't think multiple instances of Foundation will be an issue. Perhaps we can just take a task to investigate this for DesignToken.

[2022-04-20 17:18] nicholasrice commented on #5867
The DesignToken warnings *may* be impossible to circumvent. I recall API documenter being unable to surface two exports by the same name (in this case a const variable and an interface). I haven't looked into it in a while so that may be fixed in newer versions of API extractor, but just wanted to drop this for context.

[2022-04-20 22:56] rajsite commented on #5099
We are using `rollup-plugin-transform-tagged-template` and copied in the FAST [transform-fragment](https://github.com/microsoft/fast/blob/a8aada16c7b089728a13a6bb7d98b8b928bb2b4f/build/transform-fragments.js) into our build but are finding that the plugin does not seem to be sourcemap aware and it was breaking debugging via sourcemap (line numbers, etc for breakpoints were wrong). Haven't found a

[2022-04-20 23:27] #5842 closed

[2022-04-20 23:28] prudepixie commented on #5842
generates tachometer config file based on passed in arguments, also only compiles tsc of the specified library

[2022-04-21 14:36] awentzel opened #5874 "fix: windows build pipeline fails on Accordion tests"
# 🐛 Bug Report
![Screen Shot 2022-04-21 at 7 33 37 AM](https://user-images.githubusercontent.com/16669785/164481787-45448a40-fe18-4813-b61d-e49296b30558.png)

## 💻 Repro or Code Sample
1. Rebuild
2. run 'yarn lerna run test --stream since=origin/master'
3. See the errors that happen only on Windows Platform

## 🤔 Expected Behavior

## 😯 Current Behavior
Windows platform fails the test scenario

##

[2022-04-21 17:27] prudepixie opened #5876 "fix: documentation on using decorators in CRA"

[2022-04-21 17:48] prudepixie commented on #5876
[code]
[code]

[2022-04-21 18:21] atmgrifter00 commented on #4811
Any thoughts on this from the FAST devs?

[2022-04-21 18:34] chrisdholt commented on #4811
I think we can start a "spec" to investigate this after our Foundation vNext release.

[2022-04-21 18:51] radium-v commented on #5061
This might be actionable once #5788 goes in.

[2022-04-21 19:15] prudepixie commented on #5876
include recommendation of using ReactWrapper

[2022-04-21 23:30] radium-v commented on #4663
I can't reproduce the issue on the current release.

[2022-04-22 00:17] chrisdholt commented on #4663
closing given this investigation - if this is still an issue feel free to reopen. Thanks!

[2022-04-22 00:17] #4663 closed

[2022-04-22 14:03] EisenbergEffect commented on #4930
PR under review to add this as part of the next major release.

[2022-04-22 14:24] rajsite commented on #4930
@EisenbergEffect it looks like FASTElement 2 is getting close, will there be -beta or -rc pre-release packages released to test against before the 2.0 release?

[2022-04-22 14:28] EisenbergEffect commented on #4930
We've got to get together and figure out the logistics of that. I'd like there to be an official beta, rc, etc. yes.

[2022-04-22 14:31] rajsite commented on #4930
Sounds great! 🎉

[2022-04-23 14:08] fcollonval commented on #4082
Hey I would like to add this to our toolkit. But it would definitely be better if it can be upstream. Is there some pointers on the API design to implement this feature - presumably linked to that issue too https://github.com/microsoft/fast/issues/2442?

[2022-04-25 14:12] fredvisser commented on #5773
I assume this is resolved in https://github.com/microsoft/fast/pull/5878?

[2022-04-25 15:17] simonxabris opened #5882 "feat: add custom filtering option to combobox"
# 🙋 Feature Request

I'd like to be able apply my custom filtering logic when using the combobox in an ergonomic manner.

## 💁 Possible Solution

My idea is that a `customFilter` property could be added to the `Combobox` class that users can bind a function to with (roughly) the following signature: `(option: ListboxOption) => boolean`. This function would define if an option fits the given criter

[2022-04-25 17:36] CuddleBunny opened #5885 "fix: fast-accordion-item has higher z-index than other components"
# 🐛 Bug Report

fast-accordion-item has a z-index of 2 which causes it to appear above dialogs and other components with a z-index of 1.

## 💻 Repro or Code Sample
https://stackblitz.com/edit/typescript-nsa8l3

## 🤔 Expected Behavior

Accordion items should appear below dialogs and other components which use z-index.

## 💁 Possible Solution

In my own components I've removed z-index and left the r

[2022-04-25 17:38] chrisdholt commented on #5885
I believe that #5381 resolves this - let's confirm and if so we can close. Thanks @cuddlebunny!

[2022-04-25 17:45] CuddleBunny commented on #5885
it does, closing

[2022-04-25 17:45] #5885 closed

[2022-04-25 17:54] chrisdholt opened #5886 "feat: add basic styles and storybook testing setup for fast-foundation"
# 🙋 Feature Request
With the coming removal of `fast-components`, we will need/want some basic styles to ensure that templates can accommodate common scenarios and validate that certain changes don't cause significant regressions. This feature request exists to add a new storybook testing site with a thin layer of visual styles to provide support for testing the foundation classes and templates.

[2022-04-25 20:26] rajsite commented on #5765
I think switching [enums to objects](https://www.typescriptlang.org/docs/handbook/enums.html#objects-vs-enums) would work well together with [template literal types](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) to create enumerable objects and create a union type that is easy to maintain:

[code]
[playground](https://www.typescriptlang.org/play?#code/MYewdgzgLgBACiCB

[2022-04-25 22:27] radium-v opened #5890 "fix: delegatesFocus breaks form submission with invalid required fields"
# 🐛 Bug Report

When submitting a form with an invalid required form component, an error is thrown.

## 💻 Repro or Code Sample

[code]

This affects these components:

* `<fast-combobox>`
* `<fast-number-field>`
* `<fast-search>`
* `<fast-text-area>`
* `<fast-text-field>`

## 🤔 Expected Behavior

When submitting the form with an empty value in a required field, the browser should focus the compone

[2022-04-26 20:36] #5198 closed

[2022-04-26 22:58] nicholasrice opened #5897 "fix: SSR TemplateRenderer does not evaluate bindings for html, head, and body elements"
# 🐛 Bug Report
TemplateRenderer does not seem to be evaluating bindings for html, head, and body elements. Instead, the resulting SSR string contains fast-element binding placeholder strings.

## 💻 Repro or Code Sample
[code]

## 🤔 Expected Behavior
The above should resolve the string `<body test-attr="value"></body>`

## 😯 Current Behavior
The above currently resolves `<body test-attr="{fast-elem

[2022-04-26 23:24] nicholasrice commented on #5897
The cause of this is due to how the template strings are being parsed into a node-tree. The template-parser uses parse5 to parse a template string into a document fragment. Parsing `<body>`, `<html>`, and `<head>` result in an empty document fragment, so the template string is returned w/o any further processing.

[2022-04-27 03:29] chrisdholt commented on #5857
closed with #5872

[2022-04-27 03:29] #5857 closed

[2022-04-27 03:31] chrisdholt commented on #5766
I believe this was closed with #5802 :)

[2022-04-27 03:31] #5766 closed

[2022-04-27 06:32] chrisdholt commented on #5587
Closing as by design per the above answer from @bheston

[2022-04-27 06:32] #5587 closed

[2022-04-27 15:51] EisenbergEffect opened #5901 "The Future of FAST Foundation"
Last week @chrisdholt shared [our vision for the future of FAST Components](https://github.com/microsoft/fast/issues/5849). In that post, we briefly touched on how FAST Foundation might evolve and play a more prominent role in the future, combined with the introduction of [our new command-line interface (CLI)](https://github.com/microsoft/fast-cli). I want to take some time now to expand those ide

[2022-04-27 16:39] nicholasrice opened #5902 "feat: restrict DesignToken to being set for FASTElement instances only"
# 🙋 Feature Request
DesignToken can currently be set and retrieved for any HTMLElement instance, and this poses two problems. The first is that native elements cannot be reliably watched for DOM detachment, which should force DesignTokens to re-evaluate.  This can lead to odd behavior, where tokens resolve from an element that is no longer in the DOM. Second, SSR infrastrucutre only constructs cus

[2022-04-27 16:55] nicholasrice opened #5903 "feat: add token resolution strategy to DesignToken"
# 🙋 Feature Request
SSR does not support the APIs that DesignToken currently uses to locate upstream DesignTokens (`parentNode`,  `getRootNode()`), meaning we'll need to implement an alternative resolution algorithm in NodeJS environments. There are methods we'll need to provide implementation injection for:
1. `DesignTokenNode.contains()`
2. `DesignTokenNode.findParent()`

I think we can follow t

[2022-04-27 18:21] williamw2 opened #5904 "feat: add slot, event and css shadow part JSDoc tags to Fast-Foundation components"
Update comments in Fast-Foundation components to include all necessary @slot, @fires, and @csspart information.

The CEM Analyzer is not capable of parsing the templates in order to automatically determine slots and CSS Shadow Parts but can read them out of the JSDOC tag comments placed in the comment block above the class declaration in the [component].ts files. Unfortunately, this means that thi

[2022-04-27 19:04] nicholasrice opened #5906 "fix: SSR templates rendered with the `useFASTStyle` has significant FOUSC"
# 🐛 Bug Report
I noticed when experimenting with SSR code that when using the `FASTStyle` component to reduce component stylesheet payload, there was a pretty significant FOUSC when loading the page.

I'm not 100% certain why so we'll need to some investigations. I thought that because the `FASTStyle` element was defined in the head, it would upgrade prior to painting the custom element's shadow D

[2022-04-27 20:19] chrisdholt commented on #5902
@nicholasrice does this include not supporting the current behavior for `document.body` or would that be a special non-FE case we support?

[2022-04-27 20:45] nicholasrice commented on #5902
The `withDefault()` would still reflect to the `document.body`, but `token.setValueFor(document.body, value)` would not be supported due to the type signature change.

[2022-04-27 21:45] #4982 closed

[2022-04-27 22:35] nicholasrice opened #5908 "Determine how FASTStyle and Command Buffering client code gets exposed"
SSR has two features that require client-side JavaScript code to be executed prior to custom element parsing on the client;
1. The `FASTStyle` custom element
2. command-buffering custom element

For both of these features, we need to decide how exactly to expose the JavaScript for those features. The JavaScript will need to be emitted to a `<script>` element in the page response / resulting HTML.

[2022-04-27 23:16] nicholasrice opened #5909 "fix: Determine how FASTStyle cache should work in SSR infrastructure"
`@microsoft/fast-ssr` implements a stylesheet cache to work with the FASTStyle custom element to reduce the stylesheet payload. When a stylesheet is first encountered, the sheet gets assigned an ID and the stylesheet content is emitted. When the stylesheet is encountered in subsequently, no stylesheet content is emitted because the sheet has already been sent to the client.

This caching behavior

[2022-04-28 05:17] KingOfTac commented on #5901
1. For me, iteration 1 was the point that FAST was valuable. I stumbled upon the library by accident while researching design patterns and ways to abstract away the boilerplate of web components and it was immediately a game changer for me. I am however, very much looking forward to iteration 3 since if beyond that point existing APIs remain stable and aren't at risk of removal, it will mean I no

[2022-04-28 05:20] KingOfTac commented on #5901
Another nice to have would be an option for the CLI to upgrade existing projects to the newer way of doing things.

[2022-04-28 13:38] EisenbergEffect commented on #5901
Great feedback @KingOfTac ! @janechu Can you capture the requests for the CLI? I think we have most of this on our list but just want to make sure we don't miss something.

[2022-04-28 17:59] scomea opened #5913 "feat: add slot event part docs to foundation for data-grid"
# 🙋 Feature Request

Do this for data-grid
https://github.com/microsoft/fast/pull/5912

[2022-04-28 20:14] #4664 closed

[2022-04-28 20:44] #5630 closed

[2022-04-28 20:50] radium-v commented on #4669
This behavior is no longer reproduceable with the current releases:

* `@microsoft/fast-foundation@2.44.0`
* `@microsoft/fast-components@2.30.1`

[2022-04-28 20:50] #4669 closed

[2022-04-28 22:27] #5626 closed

[2022-04-29 03:53] awentzel commented on #5865
Docusaurus requires git tracked files to determine last updated date. API files are not tracked and so these errors result. Resolution is to not use last updated date for Docs at this time util all files are tracked.

[2022-04-29 03:53] #5865 closed

[2022-04-29 03:54] #3330 closed

[2022-04-29 03:55] awentzel commented on #5867
Resolved most issues with the PR above.  two issues remain:

![Screen Shot 2022-04-28 at 3 59 10 PM](https://user-images.githubusercontent.com/16669785/165883126-73d5974b-8b53-42ab-9d3c-676cb77d21d6.png)

[2022-04-29 03:56] #5866 closed

[2022-04-29 03:57] #5864 closed

[2022-04-29 05:43] chrisdholt commented on #5721
After validating, both a light dismiss when clicking outside the control and clicking the indicator have recently been resolved in Open UI, so we'd be happy to pick this up.

[2022-04-29 16:41] CuddleBunny commented on #5901
What about a generator for a standalone component with a convention that when followed enables that community component to be pulled into the design system project from the CLI? I was thinking about #3960 and how I might distribute such a thing in this new world. Something like `fast add-component https://github.com/CuddleBunny/fast-placeholder` perhaps?

For starters this could just copy the comp

[2022-04-29 16:44] prudepixie opened #5918 "perf: add documentation for running and adding benchmarks & operational tests to fast-benchmarks"
The project has reached a point where the foundation is pretty stable, there are many configurations possible:
- you can add a benchmark comparing different versions of same library
- you can add a 2nd benchmark for same implementation (local version)
- you can add an operation to test the benchmark
- you can run specific operations to test the benchmark
- you can run all operations to test the be

[2022-04-29 16:50] EisenbergEffect commented on #5901
Great feedback. We had thought about supporting multiple project templates but this is more like being able to import a component template. Cool idea. Maybe we could support something like Gist, where you whatever files are in the gist get pulled in? /cc @janechu

[2022-04-29 19:20] nicholasrice opened #5919 "feat: implement API extractor into fast-ssr"
`@microsoft/fast-ssr` package should have API extractor integrated.

We'll want on this until the fast-element-2 branch has been rebased with master for the TypeScript 4 update, at which point we should align the api-extractor version with https://github.com/microsoft/fast/pull/5917

[2022-04-29 19:38] jattasNI commented on #5901
I'm really excited about the builder pattern for templates. We've needed to extend `fast-foundation` templates by adding extra DOM elements for a few components. The only options have been sub-optimal: to do flaky string concatenation or to copy the FAST template into our design system and modify it. I think the builder pattern will make this a lot cleaner.

For extending and sharing CSS the build

[2022-04-29 21:38] prudepixie commented on #5841
As I progressed in this ticket, I realized on top of having a default set of tests or operations to run for a benchmark, there should probably be an option to allow users to write their own 'operation' to test their benchmark. So in conjuncture with this work, I wanted to restructure the layout to make this possible.

[2022-04-29 22:48] JohnLemireMSFT opened #5923 "fix: [aria-selected attribute not updated when removing selected attribute] in [fluent-option?]"
# 🐛 Bug Report

I am using an observable array and an observable currentItem to populate a select and set the option's selected prop
I have noticed when I do this if I change the currentItem the selected attr is properly removed from the previously selected option and added to currently selected item but the derivative aria-selected attr is set true on the new one and left as true on the old one c

[2022-04-29 23:15] EisenbergEffect commented on #5901
Great to hear the builders will be valuable for you @jattasNI. We'll definitely have the template builder work first. I actually spent some time prototyping it today. A little more time next week and I think I will have nailed down the details enough for us to move ahead with that. On the CSS side, there's a lot more to work out, so I think that will probably be the last piece, and we'll likely ne

[2022-04-30 00:48] radium-v commented on #5219
For `ListboxOption`, changing the `value` _property_ doesn't change the `value` _attribute_ since the attribute actually represents the _initial value_ of the option. This is evidenced by the `@attr` decorator being applied to the `initialValue` property rather than the `value` property.

Changing the value via `option.setAttribute("value", "1")` should work as long as the `value` hasn't already b

[2022-04-30 00:48] #5219 closed

[2022-04-30 00:54] radium-v opened #5925 "fix: listbox-option value is not coerced to a string"
# 🐛 Bug Report

The value properties for the option and select components don't coerce the value to a string.

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

I'd expect the value to be coerced to a string, which is also a native option behavior.

## 😯 Current Behavior

The value property is not coerced to a string.

## 🔦 Context

This bug report is split off from #5219, originally repo

[2022-04-30 00:57] radium-v commented on #5425
This may have been resolved by #5257

[2022-05-02 15:39] EisenbergEffect opened #5926 "docs: enable versioned docs in preparation for vNext"
# 🙋 Documentation Request

Enable docusaurus versioning in order to support vNext and current docs simultaneously.

## 💁 Possible Solution

Docusaurus has support for multiple versions. It needs to be configured and we need to adjust and folder structures or build script in order to support this.

[2022-05-02 15:55] EisenbergEffect opened #5927 "chore: prototype new template anatomy API"

[2022-05-02 18:22] Mashiane opened #5928 "rfc: add a User friendly approach to Documentation"
# 💬 RFC

Thanks for an awesome framework. I was just going through the documentation and I must admit, it's not "newbie" friendly at all. I feel like the assumption that is being made here is that "people know what we are talking about". A simple distinction is  what a "field" is and what an "attribute" is when creating HTML elements in the context of Fast. Are these interchangeble / mutually excl

[2022-05-02 18:26] levithomason commented on #5901
This is a well thought out write up. It sort of reminds me of the days when frontend tooling was iterating, browserify -> grunt -> gulp -> yeoman / parceljs / create-react-app / etc. type of progression.

The FAST vision for design systems seems more comparable to the yeoman level approach for building frontend projects. These things really helped accelerate and empower (especially smaller) teams

[2022-05-02 19:32] #4189 closed

[2022-05-02 20:37] EisenbergEffect commented on #5901
It's certainly possible to eject or not use the template DSLs at all. No one is prevented from doing that.

However, the main point is that for the standard components, the core anatomies are largely the same with only a narrow set of variations per component. There are typically core functional structures that are required, if only to ensure that the accessibility model is correct. So, why rebuil

[2022-05-02 20:50] levithomason commented on #5901
Thanks for the reply. It would be interesting to investigate shared tests for conformance as well. This is one step closer to the DIY end of the spectrum but still allows adherence. I'm thinking something similar to what [singel](https://github.com/diegohaz/singel) tried to do with the single element pattern.

[2022-05-02 20:53] EisenbergEffect commented on #5928
Thanks for the feedback @Mashiane ! We really appreciate it. We're working on a next round of updates to the component documentation to include things like events. It's also great feedback on the ordering of the content and the terminology. I'm not 100% sure what the best way to handle the terminology is, especially with something like fields vs. attributes. I think we do explain this in the docs

[2022-05-02 20:59] EisenbergEffect commented on #5901
Absolutely. So, one of the cool things is that the `build` phase for each template has a `validation` step. This allows the anatomy to apply arbitrary rules to ensure functional structures, accessibility, or whatever else is desired.

[2022-05-02 21:06] #5904 closed

[2022-05-02 21:39] chrisdholt commented on #5913
closed with #5912

[2022-05-02 21:39] #5913 closed

[2022-05-02 22:25] #5220 closed

[2022-05-02 22:25] #5925 closed

[2022-05-02 23:35] #5897 closed

[2022-05-03 02:04] chrisdholt commented on #5765
I have a PR for this and as illustrated by @rajsite I think this is going to be essentially transparent. The types will exist so types shouldn't break and importing the const should be able to be used like the enum was.

[2022-05-03 16:29] robarbms commented on #5503
This was due to the way content was being referenced in article card and not due to the horizontal scroll component.

[2022-05-03 16:29] #5503 closed

[2022-05-03 19:48] #5765 closed

[2022-05-03 21:23] JennyzhaoM opened #5933 "fix: [a wrong Animation is added to tab when re-rendering the tab panels ] in [tabs]"
# 🐛 Bug Report

There is an issue on the internal function tabpanelsChanged which calls handleActiveIndicatorPosition to renew the tab status by using the the previous active tab index. However ths prevActiveTabIndex was not updated to the current index if we had switch once betore. For this scenario,  1. we click on the second tab to call change the active tab from tab1 to tab2.  2. we make click

[2022-05-03 23:28] prudepixie commented on #5918
On top of updating the README, I'm thinking about recording a demo for what this looks like, will update when I have this ready.

[2022-05-04 00:11] hajo-travanto opened #5936 "fix: [when condition breaks table layout] in [fast-element html]"
[code]

[2022-05-04 00:37] rajsite commented on #5901
We tend to duplicate patterns from fast-components, like making a [direction token](https://github.com/microsoft/fast/blob/a150068ee196e73fe7a4f7b538a38752e0e506ba/packages/web-components/fast-components/src/styles/direction.ts) for handling ltr-rtl, appearance behavior pattern like mentioned above, dozens of nitty gritty things like [styles for button alignment](https://github.com/microsoft/fast/

[2022-05-04 00:47] chrisdholt commented on #5901
Thanks for the feedback @rajsite - while #5853 does remove those packages, #5849 provides some insight into the "why" and reasoning behind that, as well as how we plan on continuing to provide some of those valuable out of the box implementations. If you haven't yet taken a look, hopefully that can provide some additional insight and background to the intent of 5853.

In terms of some of the OOTB

[2022-05-04 01:07] chrisdholt commented on #5425
Just tried to repro and the above markup showed the correct default option when swapping between the option values. Closing this for now as fixed likely by #5257

[2022-05-04 01:07] #5425 closed

[2022-05-04 16:35] chrisdholt commented on #5933
I think we'll need some kind of repro of this, even if it doesn't include the exact visual effects you're currently using. Without that, I'm not sure we can understand your specific scenario. Thanks!

[2022-05-04 17:35] chrisdholt commented on #5773
I have a repro of this still I believe - https://stackblitz.com/edit/typescript-qjvxhe?file=index.ts

@radium-v can you investigate and see if this can be addressed prior to the removal of fast-component?

[2022-05-04 22:04] radium-v commented on #5833
Fixed by #5834

[2022-05-04 22:04] #5833 closed

[2022-05-04 23:08] nicholasrice opened #5937 "feat: remove @internal methods from exposed d.ts for all packages"
# 🙋 Feature Request
It's come to my attention that API extractor is not configured to remove any code assets marked with the `@internal` tsdoc tag. One of the core benefits of the `@internal` tag (in my opinion) is to not surface the method/property/export to intellisensel.

API extractor does support stripping `@internal` tags using "trimming", docs on that here: https://api-extractor.com/pages/s

[2022-05-04 23:10] #5123 closed

[2022-05-04 23:10] #5810 closed

[2022-05-04 23:18] nicholasrice commented on #5937
I've already taken care of this for the `@microsoft/fast-ssr` package off the `features/fast-element-2` branch.

[2022-05-04 23:26] chrisdholt commented on #5937
@nicholasrice I'll take a look at this for the common configurations across the project. Any hesitation to introducing this and getting proper documentation up? The only negative I could see is documentation disappears for internal functions folks had previously seen - which I'm not sure is a net-negative, just correcting the record. Thoughts?

[2022-05-04 23:31] nicholasrice commented on #5937
@chrisdholt folks could potentially get TS compile errors if they're accessing @internal functions / properties in applications. It affects the types shipped with the packages, not the documentation.

[2022-05-04 23:31] donaldmcn opened #5938 "fix: Tooltip position attribute has no effect in <fluent-tooltip> web-component"
# 🐛 Bug Report

When using the <fluient-tooltip> web component the position= attribute has not effect. The tool tip is always being rendered in the same options (appears to be the top / center)

## 💻 Repro or Code Sample

[](https://stackblitz.com/edit/typescript-xq1him?file=index.ts)

## 🤔 Expected Behavior

the tool tip should render in the position indicated by the position attribute

## 😯 Curr

[2022-05-04 23:32] chrisdholt commented on #5937
Gotcha - makes sense. I'll start from the FE2 branch.

[2022-05-04 23:33] chrisdholt commented on #5938
Thanks @donaldmcn for this. I believe that I'm repro'ing this issue with this stackblitz: https://stackblitz.com/edit/typescript-xq1him as any value passed for position doesn't seem to take effect (repro's with the FAST components as well as the Fluent component in example).

@scomea would you mind taking a look?

[2022-05-05 03:20] chrisdholt commented on #5863
closed with #5912

[2022-05-05 03:20] #5863 closed

[2022-05-05 17:42] scomea commented on #5938
The problem is that tooltip is dependent on anchored-region, and we don't automatically register dependencies.  If you register fluentAnchoredRegion it works.  We have an issue for this - https://github.com/microsoft/fast/issues/5423

[2022-05-05 17:43] #5938 closed

[2022-05-05 22:27] JennyzhaoM commented on #5933
I just remove the work around fix in my build, so it the issue can be repro in the test link: https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fmicrosoft%2Ffast%2Fissues%2F5933

https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fmicrosoft%2Ffast%2Fissues%2F5933

[2022-05-05 23:00] chrisdholt commented on #5933
Most everything is 404'ing on this page. Are you able to put together a repro using just the basic components or is this specific to your scenario?

[2022-05-06 01:05] prudepixie commented on #5918
[fast-benchmark demo](https://microsoft.sharepoint.com/:f:/t/fast-dna/Eu5ny8S2OodKmPy6nleZaVoBFGHTMqFyBfyOEagMDjsDwg?e=YcGnHL)

[2022-05-06 01:05] #5918 closed

[2022-05-06 16:13] chrisdholt commented on #5923
Thanks @JohnLemireMSFT for this issue - I think some kind of repro steps will be helpful here just to get down to the nuance of how things are getting setup. I did do a quick pass to just confirm that this is working for the option itself - when setting the property the attribute is reflected as expected and changes to `"false"` when removing it.

If you can provide a small repro, perhaps even usi

[2022-05-06 16:22] atmgrifter00 opened #5950 "fix: Setting value on disabled NumberField throws exception"
# 🐛 Bug Report

If you simply change a `fast-number-field` (or some other component derived from `fast-foundation` `NumberField`) to be disabled, and set its value to a fractional value (e.g. 0.5), you will see the following exception be thrown in the console debugger:

[code]

Digging into a bit, the `stepMismatch` validation flag is getting set, but no message is provided. Note that I don't beli

[2022-05-06 17:31] chrisdholt commented on #5773
Dropping the `fast-components:fiinal` label from this. We're investigating and working on this, but we'll need more time. The work here is in `fast-foundation` so I don't think we need to block to get the fix in for the `fast-components`.

[2022-05-06 17:32] chrisdholt commented on #5734
@claviska we're working on how to best approach/solve this. I'm going to pull the `fast-components: final` label off this as it's explicitly tied to code in `fast-foundation` which is a dependency so I don't think we need to block or component changes. Thanks for hanging with us, we'll work on coming up with a way to solve this.

[2022-05-06 17:33] nicholasrice commented on #5950
This looks like a FormAssociated issue. ElementInternals.setValidity is being called with a validity object from the native input, but the interface signatures are not completely compatible: https://developer.mozilla.org/en-US/docs/Web/API/ElementInternals/setValidity vs https://developer.mozilla.org/en-US/docs/Web/API/ValidityState. It seems the `valid` flag is true in the example provided, which

[2022-05-06 18:19] radium-v commented on #5886
Related: https://github.com/microsoft/fast/pull/5821

We should use Storybook as intended, with atomic stories for each component.

[2022-05-06 18:19] chrisdholt commented on #5886
This is the hope - planning on leveraging this work for the conversion!

[2022-05-06 18:34] ameyasubhedar opened #5951 "fast_anchor are not SEO crawlable"
I noticed that the fast_anchor and FluentAnchor generate `<a>` elements that are not SEO optimized.

Running the Lighthose on the web app that have fast_anchor shows the report below, none of the anchor could be crawled.

![image](https://user-images.githubusercontent.com/13166236/167197609-5e21abb1-ab8f-4acd-8962-ed09298229fc.png)

As a results the links are not shown in the search results, this

[2022-05-06 18:48] chrisdholt commented on #5951
I'm not quite sure what we can do here as we're using the platform to delegate focus to a semantic element here. The alternative would be to make all the actual actionable elements themselves slotted. Open to suggestions here, but I'm not sure we have a good alternative here with delegates focus.

[2022-05-06 21:12] atmgrifter00 opened #5952 "fix: Disabled options in Combobox do not get filtered"
# 🐛 Bug Report

When using the FAST `Combobox` (`fast-combobox`), and you give it an option that is set to `disabled`, then if the `Combobox` has its `autocomplete` set to filter the options (`inline` or `both`), then when you enter in text, even if the disabled item doesn't match the entered text it still shows up in the dropdown.

While harmless in that you can't select it, it's at least a visua

[2022-05-06 21:19] #5849 closed

[2022-05-09 13:37] YonatanKra opened #5954 "[BUG] Using `list` autocomplete"
Hi,
When using the form fields (mainly text field) and adding the `list` attribute, it has no effect.
This happens because the data list is outside the shadow while the input element is inside the shadow.
Here's an example that shows the issue:
https://codepen.io/yonatankra/pen/OJQNXpb?editors=1111
In this example, there's a datalist outside the shadow - and the `list` attribute has no effect.
Cli

[2022-05-09 16:25] prudepixie opened #5955 "perf: add peregrine related benchmarks"

[2022-05-10 00:03] bheston commented on #4082
That would be great. I would still love to see this come in as a feature. In general we keep the API consistent with any existing public API, like https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Constraint_validation#validation-related_attributes. I suspect there is probably a tie-in with the `form-associated` portion of the components, which I don't have a ton of familiarity around, but p

[2022-05-10 00:15] hawkticehurst commented on #5901
@EisenbergEffect this actually just reminded me of another question I have about these proposed changes.

One of the long terms goals for the Webview UI Toolkit is to make sure that our accessibility model is aligned with that of VS Code core UI. We haven't done much work auditing the differences between the toolkit a11y model and VS Code core a11y model so there might not actually be that big of

[2022-05-10 01:37] ameyasubhedar commented on #5951
@chrisdholt , @EisenbergEffect . I did some more digging around and initially I thought this issue is caused by the fast_anchor but apparently this looks like an issue with Blazor Webassembly default error handler that adds 2 `<a>` elements for reloading and dismissing the the error message. I raised an issue with Blazor team https://github.com/dotnet/aspnetcore/issues/41600.

[2022-05-10 02:59] EisenbergEffect commented on #5951
Thanks for following back up. We'll close this issue then and let Blazor pick it up on their side. If something else comes up we can open a new issue as needed.

[2022-05-10 02:59] #5951 closed

[2022-05-10 06:40] chrisdholt commented on #5671
@shachak Do you repro what is expected with the native input here? https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range

On my Mac using VoiceOver I repro this same lack of behavior for both our slider and a native input. I'm not sure this is something that's able to be fixed from our implementation. After investigating, the expectation is that both `aria-valuemin` and `aria-value

[2022-05-10 12:53] EisenbergEffect opened #5960 "chore: update vNext package export configuration"

[2022-05-10 12:58] #4306 closed

[2022-05-10 14:35] EisenbergEffect commented on #5901
Great question @hawkticehurst. I feel pretty confident that you'll be able to get what you want. The template DSLs will be pretty flexible, and as always, we want to work with the community to refine these over time. So, if there's something blocking in a particular component DSL design, then we're always open to find a way to fix that. I think early feedback will be key here. To that end, let me

[2022-05-10 14:44] EisenbergEffect commented on #5901
If anyone is interested in how the `AccordionItemAnatomy` class shown above is implemented, here's the code for that. Please bear in mind that this is early prototype code and will probably change a bit. That said, I'm pleased so far with how easy it is to build these anatomy classes based on core FAST primitives.

[code]

[2022-05-10 16:44] nicholasrice opened #5961 "Investigate if SSR event support can serve for DesignToken and DI resolution"
# 🙋 Feature Request
https://github.com/lit/lit/pull/2309 is an early draft that adds event emission to the SSR ElementRenderer community protocol interface. Let's investigate if that draft  implementation is sufficient to power Design Token, DI, and context APIs.

[2022-05-10 16:56] #5955 closed

[2022-05-10 17:42] prudepixie opened #5962 "feat: add length property to be observable in array"
# 🙋 Feature Request
Make length property observable in FAST.

## 🤔 Expected Behavior

The length property of an Array should be observable.

## 😯 Current Behavior
Reference below:
https://stackblitz.com/edit/typescript-bokqty?file=index.ts

Currently, the length property of Array is not observable.
When hitting 'append' button, the items list updates as expected, but the 'total length of items' (t

[2022-05-11 03:28] EisenbergEffect commented on #4930
Betas coming very soon 😄

[2022-05-11 03:28] #4930 closed

[2022-05-11 04:58] shachak commented on #5671
@chrisdholt I am seeing the same issue with the native input here as well. So, I am not sure what you mean, but is it the issue with the underlying native input? Given, that you say we are adding both aria-valuemin and aria-valuemax.

[2022-05-11 05:05] chrisdholt commented on #5671
The reason I bring this up is because I don't think it's a bug that's on our implementation. Our implementation is not using the native input but the role of slider and ARIA. The fact that this repro's in the native element is telling, as if this is expected behavior here, the issue repro's in both implementations. We've built to meet the requirements outlined, and the native input is written to m

[2022-05-11 05:15] YonatanKra opened #5963 "Associated form elements' validation is not observed"
Shouldn't the validation state be an observable?
The use case is I'm trying to create a custom error message in the template like this:
[code]
This will not change the view because `validationMessage` is not observed. Nor any of the validity variables.
My workaround was to do the following:
[code]
And then in my template use `errorValidationMessage` to set the message.
This forces me to expose ano

[2022-05-11 07:01] codef0rmerz opened #5964 "fix: fast-foundation - 'get' and 'set' accessor must have the same type"
# 🐛 Bug Report

In Angular11, I'm getting a following error.

[code]

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

Both types should match.

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: MacOS
* Browser Google Chrome
* Version Latest

[2022-05-12 19:49] nicholasrice opened #5968 "docs: add documentation for SSR package"
SSR package is missing usage docs. This task tracks updating the SSR package readme.md w/ usage guidance and any other valuable information.

[2022-05-12 21:46] nicholasrice opened #5970 "rfc: What should be included in SSR DOM shim"
The SSR package requires certain DOM global to exist with certain functionality to function properly. It ships these in an installable dom-shim export that is imported by application authors. I'd like to discuss what exactly we put in this DOM shim, because the required globals will vary depending on what APIs components are accessing.

For instance, the `@microsoft/fast-element` package accesses

[2022-05-13 00:07] EisenbergEffect opened #5971 "chore: separate update queue from DOM helper in fast-element"
Remove the update queue and style APIs from the `DOM` helper and put them in a more appropriate location. Plan to deprecate the commonly used previous APIs, but make sure to update all of our code to the latest.

[2022-05-13 03:17] KingOfTac commented on #5970
Does the shim get exported by fast-element or the SSR package? If it was exported by fast-element, I think it would make sense for it to only provide the APIs needed for fast-element to function and then foundation could extend the shim and re-export it. This way users who only need fast-element get the minimal shim and users who need the extra APIs provided by foundation get those as well.

[2022-05-13 15:31] EisenbergEffect opened #5974 "fix: improve type inference quality of the repeat helper"
There are several scenarios where the type inference of the `repeat` in v2 loses type information for the parent type, making code unsafe. There are also a few use cases that unnecessarily crate compile-time errors. We need to look into the typings of the `repeat` and see if we can address this.

[2022-05-13 20:01] #5971 closed

[2022-05-13 20:02] #5974 closed

[2022-05-13 20:18] #5962 closed

[2022-05-16 12:53] EisenbergEffect opened #5982 "refactor: finalize new binding engine APIs"
Make a final pass over the new binding APIs for 2.0, making any final changes and adding comments.

[2022-05-16 13:04] EisenbergEffect commented on #4922
Closing this since we're moving away from the `compose` APIs in the future.

[2022-05-16 13:04] #4922 closed

[2022-05-16 13:08] EisenbergEffect commented on #5419
Closing this since it involves a 3rd party library and I'm not sure there's anything we can do on our end. My recommendation would be to follow up with the `html2canvas` project and see if you can convince them to better support Shadow DOM and Adopted StyleSheets.

[2022-05-16 15:07] mollykreis opened #5983 "fix: opening submenu with click does not allow mouse navigation into submenu"
# 🐛 Bug Report

If you have a menu with nested items, clicking on the parent menu item to open the menu leave the menu in a state where you cannot use the mouse to navigate into the submenu.

## 💻 Repro or Code Sample

1. Go to https://explore.fast.design/components/fast-menu and selected "Nested" from the drop-down
2. Click on one of the menu items to expand its submenu
3. Try to use the Right Ar

[2022-05-16 15:19] mollykreis opened #5984 "fix: Escape key is not handled for menu items"
# 🐛 Bug Report

According to the [ARIA accessibility guidelines](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/menuitem_role#keyboard_interactions), when you press Escape on a menu item, the menu should close and focus should return to the parent menu item.

In FAST, when you press Escape on a menu item, nothing happens.

## 💻 Repro or Code Sample

1. Go to https://explore.

[2022-05-16 17:16] nicholasrice commented on #5970
The shim does get exported from the SSR package. I agree with you though @KingOfTac, to me it makes sense to minimally support fast-element w/ the default DOM shim. fast-foundation can expose it's *own* shim that extends that shim. Though, that would put fast-foundation in an odd position of taking a dependency on the FAST ssr package (in order to extend the shim).

Another alternative would be to

[2022-05-16 18:14] break-stuff opened #5985 "fix: Keyboard Functionality Still Works in Readonly Sliders"
# 🐛 Bug Report

Users can still update readonly slider inputs using the keyboard.

## 💻 Repro or Code Sample

https://codesandbox.io/s/web-component-header-test-forked-kg241l

## 🤔 Expected Behavior

Keyboard functionality to update the slider value should be disabled when the component is `readonly`.

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Devic

[2022-05-16 19:18] prudepixie commented on #5844
For first pass (fast-element specific):
- Benchmarks should only be run if fast-element library is touched (on new pull request)
- Run all benchmarks under fast-element
- If 'local-version' reports **Slower** than current version (latest), block merge

[2022-05-16 23:40] #5982 closed

[2022-05-17 12:46] EisenbergEffect opened #5992 "feat: add two-way databinding"
Enable two-way binding in templates.

This should be a general purpose binding mode that allows folks to plugin in and customize which events are used for detecting changes. There should be a general configuration for this as well as a per-binding override for the change event. Additionally, it should be possible to plug in a converter function to convert the data type from the component back to t

[2022-05-17 16:39] #5919 closed

[2022-05-17 16:44] nicholasrice opened #5993 "feat: Implement ElementRenderer and DOM shim directly into fast-ssr"
# 🙋 Feature Request
This task removes the dependency on `@lit-labs/ssr` and implements the ElementRenderer and DOM shim directly into the fast-ssr package. This is being done so that iteration on those components can be done more easily.

When / if the ElementRenderer is proposed and accepted by the WC Community Group, FAST should work to align the ElementRenderer interface with that proposal, usi

[2022-05-17 19:48] KingOfTac commented on #5970
I think the alternative would make the most sense. No reason for foundation to take on the extra dependency for something that isn't a requirement for it to function.

[2022-05-18 16:00] Brian-Hofmann opened #5996 "fix: Recycle Property On Repeat Does Not Work When Binding Does Not Change"
When using the repeat directive with recycle false, the view is still reused when the binding does not change.

Example code:

I was using a custom dropdown I made using FAST.

[code]

When I used my dropdown in an application, I used the repeat directive as so:

[code]

I run specific logic in my `slottedNodesChanged` function on my dropdown and noticed it was not running whenever the dropdown go

[2022-05-18 19:55] nicholasrice opened #5998 "docs: add documentation for overriding SSR DOM shim"
# 🙋 Documentation Request
Add documentation for adding objects to the DOM shim, and overriding default values of the DOM shim.

[2022-05-18 20:48] #5723 closed

[2022-05-18 23:12] bheston commented on #5902
I was initially concerned about this, but after our chat I see it's not much different than what we have today. The only issue I see with this is one we have already today as described in #5848. We have discussed solutions to that, which once resolved will apply identically given the change proposed here.

From the perspective of the color system, the best example of how this might be an issue is

[2022-05-19 16:59] prudepixie opened #6001 "perf: add query params to run benchmarks for `repeat`"
Following the work for adding appending related benchmarks, we want to use a similar model to create benchmarks for 'repeat' from fast-element.

The pattern is to run different benchmark implementations of the same file using query-params.
?method=repeat
?method=forEach
?method=map

Perhaps a --url argument can be added to the cli in this case.
Currently the **append** benchmarks are run by a cust

[2022-05-19 22:42] #5992 closed

[2022-05-20 16:44] prudepixie commented on #5876
There is currently a [babel bug](https://github.com/babel/babel/issues/14469#:~:text=The%20decorators%20Plug%20In%2C%20when%20version%20is%20%272018-09%27,%28While%20processing%20node_modules%2F%40babel%2Fplug-in-proposal-decorators%2Flib%2Findex.js%24inherits%20Environment%20%22%40babel%2Fcore%22%3A%20%22%5E7.12.9%22%2C%20%22%40babel%2Fplugin-proposal-decorators%22%3A%20%22%5E7.17.9%22%2C) relate

[2022-05-20 16:56] prudepixie commented on #5844
Benchmarks that compare published versions of fast-element runs as expected, but I'm having trouble running the **local** fast-element version in Github actions.

Issues for reference:
https://github.com/Polymer/tachometer/issues/215

[2022-05-23 16:49] EisenbergEffect opened #6003 "fix: array observer delivers changes to subscribers that subscribe after changes"
# 🐛 Bug Report

If an array that is already being observed changes, and then during the same turn a new subscriber to that array is added, the new subscriber will receive notifications on changes that happened before its subscription was added.

## 💻 Repro or Code Sample

Here's the code for a failing test:

[code]

## 🤔 Expected Behavior

The test above should pass since the subscriber was added

[2022-05-23 17:30] EisenbergEffect opened #6005 "fix: prevent entrance on two-way bindings"
# 🐛 Bug Report

It's possible to get in an endless updates cycle with two-way bindings. A property is updated, which triggers a change, which updates a property, which triggers a change, etc.

## 🤔 Expected Behavior

The two-way binding system should prevent endless update cycles.

## 😯 Current Behavior

When two-way binding is used with certain components, and infinite update cycle can be trigger

[2022-05-23 17:45] #5674 closed

[2022-05-23 18:59] hjp-work commented on #3457
any update on this one?

a workaround for css files could be to minify them beforehand and/or use imports with a loader that minifies them, e.g. sass-loader with scss files. webpack seems to automatically minify those files for production builds before passing the imported content string to FAST css.

for the template parts there is no such possibility as far as i know. the referenced issue #3452

[2022-05-23 20:40] nicholasrice opened #6008 "feat: add DOM shim that supports fast-foundation to fast-ssr"
# 🙋 Feature Request
This task tracks a feature to add a second dom-shim implementation to fast-ssr. This shim would support all of the browser APIs that are accessed in fast-foudation components.

This feature will go a long way towards helping consumers of the FAST components themselves integrate with SSR, and provides an out-of-box experience for component consumers. Anyone that wants the minima

[2022-05-23 20:41] #5993 closed

[2022-05-23 20:43] nicholasrice commented on #5961
I implemented the event support strategy designed in the linked draft PR and it worked for design-token resolution. Closing this out as confirmed to support the design-token and DI.

[2022-05-23 20:43] #5961 closed

[2022-05-23 20:48] nicholasrice opened #6009 "feat: add event support to SSR"
# 🙋 Feature Request
This feature adds event support to fast-ssr. Specifically, it adds the `Element.addEventListener()`, `Element.removeEventListener()`, and `EventTarget.dispatchEvent()` methods, and the `CustomEvent` global type.

It also adjusts the ElementRenderer to support custom events.

Event support is for programmatically emitted events on custom elements only - handlers on native elemen

[2022-05-23 21:09] nicholasrice commented on #6008
Tests should be added for each component to ensure that over time, the APIs shimmed support the APIs accessed in fast-foundation.
There isn't currently an export of all components from fast-foundation so this will need to be kept up-to-date manually unless we add an export. If we do, that export will need to be kept up to date.

Today, those APIs include:
- Node
  - .appendChild
  - removeChild
-

[2022-05-23 21:40] #6003 closed

[2022-05-23 22:54] #5466 closed

[2022-05-24 14:30] break-stuff opened #6012 "fix: Submenus Not Displaying Correctly in CodeSandbox"
# 🐛 Bug Report

Submenus are not rendering correctly in a CodeSandbox environment

## 💻 Repro or Code Sample

https://codesandbox.io/s/stupefied-moon-2skhey

## 🤔 Expected Behavior

## 😯 Current Behavior

When rendering submenus in a CodeSandbox environment, they are not hidden initially and overlap the menu contents rather than display to the right.

## 💁 Possible Solution

It looks like the slot

[2022-05-24 14:45] break-stuff opened #6013 "fix: Required Switch is not Announced to Screen Readers"
# 🐛 Bug Report

## 💻 Repro or Code Sample

https://codesandbox.io/s/objective-vaughan-x2bbdx

## 🤔 Expected Behavior

Screen readers should announce when a switch is required.

## 😯 Current Behavior

When the `required` attribute is used on the `switch` component, it is not announced to screen readers.

## 💁 Possible Solution

Adding `aria-required="true"` to the host element when the `required` a

[2022-05-24 15:31] chrisdholt commented on #6012
Thanks for the issue @break-stuff - looks like an issue with AnchoredRegion not being registered perhaps...we'll take a look.

[2022-05-24 17:14] #5568 closed

[2022-05-24 17:16] #5339 closed

[2022-05-24 17:16] #5320 closed

[2022-05-24 17:40] chrisdholt commented on #5320
I'll take a look - trap focus seems like it's going to be a difficult one to figure out into false in scenarios where it should "just work". I'll know more about the others when I look.

[2022-05-24 17:43] rajsite commented on #5320
Yea in those scenarios we have inverted the name, ie I could see changing "trap-focus" => "avoid-trapping" so by default it traps.

[2022-05-24 18:16] EisenbergEffect commented on #5320
We should definitely fix this so that all boolean attributes default to `false`.

[2022-05-24 19:24] chrisdholt commented on #5320
Boolean fix for dialog trapFocus is linked above.

[2022-05-24 19:29] EisenbergEffect opened #6018 "feat: add makeObservable to fast-element"
Add a `makeObservable()` utility that takes a plain JS object and turns its properties into observable properties. The API should allow the caller to specify whether to make it deeply observable.

As part of this, we should explore whether to enable providing a subscriber that could auto-subscribe itself to all aspects of the graph.

[2022-05-24 19:49] chrisdholt commented on #5320
Tabs is up at the link above

[2022-05-24 19:57] hkusulja commented on #5442
@EisenbergEffect told in latest that this will be kept open, but now is auto-closed, so please reopen

[2022-05-24 19:58] chrisdholt commented on #5442
I'm going to move this over to the Fluent web components as this is an implementation of several foundational components and not a Foundational component. Happy to track over there - I'll make the move accordingly.

[2022-05-24 20:23] rajsite commented on #5320
@chrisdholt @EisenbergEffect  These updates are great! In the vein of potentially breaking changes making it in for FE2 do you think getting noImplicitAny and strictPropertyInitialization can also be targeted for that branch? https://github.com/microsoft/fast/issues/5338

It's been a recurring issue for us that components property types don't align with their values, usually because they are not i

[2022-05-24 20:29] chrisdholt commented on #5320
We'll be making some "progressive" breaks as part of the beta. I'll look for low hanging fruit to see if we could sneak it, but it's coming in hot for Thursday release day.

[2022-05-24 20:45] chrisdholt commented on #5320
@rajsite I think perhaps one solution we could do for an initial pass here would be - @EisenbergEffect?

[code]

[code]

[2022-05-24 20:57] rajsite commented on #5320
For attribute-bound booleans I think it's pretty safe to initialize them to `false` (since that does not change the attribute value in the DOM).

For other types (string, number) making them optional would be a good first step, as the type definition then better aligns with the actual value when accessed at runtime.

[2022-05-24 21:00] chrisdholt commented on #5320
Agree here - my biggest concern is string initialization, etc and typically because those often *aren't* actually required, where a boolean should almost always have an initial value.

[2022-05-24 21:13] #6001 closed

[2022-05-24 21:15] rajsite commented on #5320
Makes sense. My ultimate end goal is getting as close as possible to API compatibility with native elements for our fast-foundation based elements. Or not achieving that, having strict types to help our devs out.

So for some properties like the `type` on a vanilla button with html `<button></button>`  returns `'submit'` while the `type` on a fast foundation based button returns `undefined` for th

[2022-05-24 21:28] prudepixie commented on #5844
I was able to get the local build working, the bottleneck was getting the local branch when running the scripts in github actions. Now it works by passing in an argument called --branchName, and the variable is taken from github actions ${GITHUB_HEAD_REF}

[2022-05-24 21:38] chrisdholt commented on #5320
I'm going to go and try and set these for booleans, but I don't think we can turn it off completely. I just ran locally and immediately hit an issue with `id` in Accordion Item - I think because the HTMLElement interface is set to `string` and not `string | undefined/null`. So, the best we can probably do for now is set the boolean values.

[2022-05-24 22:11] chrisdholt commented on #5320
@EisenbergEffect @rajsite PR is here for setting default values for boolean attrs: https://github.com/microsoft/fast/pull/6023

[2022-05-24 22:14] chrisdholt commented on #5985
fixed with #5987 via @break-stuff so closing this

[2022-05-24 22:14] #5985 closed

[2022-05-24 22:22] chrisdholt commented on #5338
Closing this as I don't think we are going to be able to overcome issues with certain attributes which inherit from HTMLElement and don't support undefined values. In these cases, we'd ideally want to either set them to undefined or have them optional, but they essentially are neither. An example was, `id`.

[code]

The above isn't doable since `id` is simply typed as a string. As a compromise we'

[2022-05-24 22:22] #5338 closed

[2022-05-24 22:48] #5844 closed

[2022-05-24 23:31] prudepixie opened #6024 "perf: add additional benchmarks for repeat directive"
Follow up work for [#6001](https://github.com/microsoft/fast/issues/6001)

1.  From fast-element v2 work to add benchmarks for:
    - [change to array observation](https://github.com/microsoft/fast/pull/5999)
    - 3 new splice strategies

2. Add relevant script to run repeat benchmarks in github actions workflow

relevant issue:
https://github.com/microsoft/fast/issues/6025

[2022-05-25 05:25] #5937 closed

[2022-05-25 16:54] prudepixie opened #6025 "perf: investigate optimization for updateViews() in repeat"
Following some investigation around repeat performance, we looked at a couple of scenarios:

1. push new element into array
2. updating existing section of array with new elements

updateViews() in RepeatBehavior class is triggered when array is updated (.splice() , .push()),
According to findings:
"In the way, it will try to apply splice on views, and try to reuse the removed views to bind with n

[2022-05-25 20:25] EisenbergEffect opened #6028 "feat: add useState() and useEffect() hooks for simple state scenarios"
Add a simple `useState()` and `useEffect()` hook optionally imported from a hooks package export.