[2020-11-03 13:31] awentzel commented on #3872
@EisenbergEffect from previous conversations with @kenotron you can find more details on its issue [here](https://github.com/microsoft/beachball/issues/435).

[2020-11-03 14:30] awentzel opened #4090 "Add Microsoft Clarity to FAST Sites for better UX understanding"
All you need to know is https://blogs.bing.com/webmaster/october-2020/Microsoft-Clarity-is-now-Generally-Available at the end is how to sign-up and begin using.

https://clarity.microsoft.com/

clarity tracking code
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://

[2020-11-03 15:57] awentzel opened #4091 "add defaults to FAST Azure CLI to replace global variables"
Global variables are being used in some places in the program where we may be better off setting and using Azure CLI Defaults as described in https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration

This may allow offloading some of our code to use that already provided.  Also, we should leverage the use of the configuration file for the same purposes if possible or at least inherit fro

[2020-11-03 16:20] janechu commented on #2168
Closing this as the CSS property editor is being removed in #4092 in favor of the solution in #3773

[2020-11-03 16:20] #2168 closed

[2020-11-03 16:20] janechu commented on #1790
Closing this as the CSS property editor is being removed in #4092 in favor of the solution in #3773

[2020-11-03 16:20] #1790 closed

[2020-11-03 16:21] janechu commented on #1735
Closing this as it is now in spec for #3773

[2020-11-03 16:21] #1735 closed

[2020-11-03 17:38] #4086 closed

[2020-11-03 18:53] nicholasrice commented on #4054
closed by #4075

[2020-11-03 18:53] #4054 closed

[2020-11-03 19:31] nicholasrice commented on #2694
After thinking on this some more:

I don't recommend going with a wrapper model. I really like the ergonomics of the wrapper, but there are technical limitations that are blockers on the implementation (primarily limited pseduo-class selectors from slotted elements.) I don't think we'll be able to achieve visual designs targets.

That really leaves us with our existing model (ElementInternals wher

[2020-11-03 19:48] janechu commented on #3985
This was fixed in https://github.com/microsoft/fast/pull/4005/files#diff-4ac42f1437a58874fab6ca9e2b0f631035c5a377c972de907cf006eed878cc6b

[2020-11-03 19:48] #3985 closed

[2020-11-03 21:00] awentzel opened #4094 "Add Azure storage account using FAST Azure CLI"
Need to create adding a blob storage account as a requirement of creating a CDN using the Azure CLI.  This can be found in the `build/operations/services/create-cdn.sh` in the dependency section and then in the `build/operations/services/create.st.sh` which would execute the creation.

The script to create CDN current fails with:
[code]
because the storage account doesn't yet exist.

[2020-11-03 21:04] awentzel opened #4095 "Update script to create dns through script using the FAST Azure ClI"
Need to first update the DNS and then retest for creating customer domains using the file in `build/operations/services/create-dns.sh`

One issue that may come up and delay implementation could be related to # Issue: https://github.com/Azure/azure-cli/issues/13678 requiring the previous line of code to require `& wait $!` for the process to complete.

[code]

[2020-11-03 21:32] awentzel opened #4096 "Update Azure CDN scripts for additional functionality"
#TODOs
[ ] Add Get Secret in Key Vault for Microsoft.Azure.Cdn using Azure CLI prior to creating custom domain
[ ] Update to endpoint so that it properly waits for completion before continuing to create custom-domain
[ ] Add certificate usage for CDN as indicated below by issue.
[ ] Configure CORS https://docs.microsoft.com/en-us/azure/cdn/cdn-cors#one-regular-expression-with-all-valid-origins
[ ]

[2020-11-03 21:57] awentzel opened #4097 "Add unit testing for FAST Azure CLI scripts"
Add unit testing such that when changes occur on one script, it can be re-ran in a sandbox to verify no breaks in other areas of the code.

[2020-11-04 16:11] awentzel opened #4099 "Test coverage no longer reporting on GH"
On https://github.com/microsoft/fast the badge for reporting code coverage is not reporting and instead of showing a `?` and not grade.

This possibly is related to #4055 and if fixing should consider #3045

This is important for demonstrating quality and should be prioritized.

closes #4055

[2020-11-04 18:36] #3979 closed

[2020-11-04 19:24] awentzel opened #4101 "implement azure resource locking"
It's important to lock resources in production to owners, to ensure no accidental deletion of services by contributors.

# Lock Resource Group : https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/manage-resource-groups-cli#lock-resource-groups
# az lock create --name LockGroup --lock-type CanNotDelete --resource-group $resource_group

[2020-11-04 19:39] awentzel opened #4102 "Add backup/recovery tasks to cloud"
Backup and recovery should be setup for all app service plans, tested, and verified under development and testing scenarios.

1. Setup and configure snapshots on each app service plan's apps.
2. Include logic in the `create-app.sh` as part of the configuration process for each app
3. Create a solution to view all snapshots for any given app with the option of selecting one and choosing to recover

[2020-11-05 17:29] #3772 closed

[2020-11-06 09:23] LucSuy opened #4105 "JS error when using fast-dialog in a Blazor app"
**Describe the bug; what happened?**
The use of a fast-dialog component on a page causes an Uncaught TypeError 't.querySelectorAll is not a function error' to occur.

**What are the steps to reproduce the issue?**
1. Create a new Blazor Webassembly project following the integration guidelines [https://www.fast.design/docs/integrations/blazor]
2. Add a fast-dialog to the bottom of the Index.razor p

[2020-11-06 19:59] bsrdjan opened #4106 "fast-text-field not updated after the bound value changed"
**Describe the bug; what happened?**

Programatic changes of the `fast-text-field` bound value not anymore reflected in `fast-text-field` ui field, after `fast-text-field` value once changed manually.

**What are the steps to reproduce the issue?**

1. Create React app following these steps: https://www.fast.design/docs/integrations/react
2. Add the change event listener to `fast-text-field`, to s

[2020-11-09 15:12] EisenbergEffect commented on #4105
@LucSuy Does this error only happen intermittently? You mention pressing refresh several times so I wanted to get some clarification on that. Thank you!

[2020-11-09 15:14] EisenbergEffect commented on #4106
@bsrdjan I believe we have fixed this in master and it should be in the next release. @nicholasrice Can you confirm?

[2020-11-09 17:59] nicholasrice commented on #4106
Your implementation is binding to the `value` HTML attribute, not the `value` DOM property, which represents the stateful value. React does not currently expose a declarative way to bind to the property (as opposed to the attribute) like other libraries do; see https://www.fast.design/docs/integrations/react#html-attributes and https://www.fast.design/docs/integrations/react#interop-layers-skatejs

[2020-11-09 20:12] LucSuy commented on #4105
@EisenbergEffect Just tested it again. Pressing F5 causes the error to appear "most of the times", when pressing CTRL+F5 the error appears "sometimes". If you wish I can make some screen recordings of it.

[2020-11-09 20:14] EisenbergEffect commented on #4105
@LucSuy No need for the screen recordings. I'll dig in and make sure I can reproduce this and see if I can tell what's going on. Thanks!

[2020-11-10 01:30] nicholasrice opened #4109 "Programtically creating a DesignSystemProvider element throws in FF"
Repro in FF:
`document.createElement('fast-design-system-provider`)`

New `StyleElementCustomPropertyManager` code relies on accessing the `rules` property of an `HTMLStyleElement.sheet` instance, however when an element is not attached, `HTMLStyleElement.sheet` will be null. We need to defer accessing `HTMLSTyleElement.sheet.rules` until after the element is attached so that `sheet` is not null.

[2020-11-10 16:47] eljefe223 opened #4111 "Active indicator no longer animates in Tabs"
**Describe the bug; what happened?**
Active indicator no longer animates in Tabs. Appears to be a regression.

**What are the steps to reproduce the issue?**

Example:

1. Go to https://explore.fast.design/components/fast-tabs
2. Click on another tab
3. Active indicator no longer animates

[2020-11-11 17:04] #3940 closed

[2020-11-11 19:38] #2279 closed

[2020-11-11 20:51] chrisdholt commented on #3952
@scomea I've had recent conversations around scan mode that has pushed back on it being used this way. I'll work on getting some better feedback on that - TLDR; this needs more investigation as I'm not sure we need to actually support this scenario specifically for scan mode.

[2020-11-11 21:30] scomea commented on #3952
@chrisdholt Cool, this issue was as much about sussing out the expected behavior as anything else.

[2020-11-11 22:50] jchen790 opened #4113 "No default expanded state for Tree Items with children"
**Describe the bug; what happened?**
When you run Narrator on Tree View, for Tree Items with children, there is not default expanded state. As a result, Narrator doesn't state whether the Tree Item is expanded or not.

**What are the steps to reproduce the issue?**
1. Go to https://explore.fast.design/components/fast-tree-view
2. Turn on Narrator
3. Click on "Tree Item 1"
4. Notice that Narrator d

[2020-11-11 22:52] chrisdholt commented on #4113
Thanks @jchen790!

[2020-11-12 01:29] chrisdholt commented on #3952
Confirmed with an internal a11y contact after sharing this scenario that while interaction is possible in scan mode, it's not really the intent nor is it expected if everything else works as expected. Closing this given that guidance.

[2020-11-12 01:29] #3952 closed

[2020-11-12 12:38] bsrdjan commented on #4106
Thanks @nicholasrice

[2020-11-12 12:38] #4106 closed

[2020-11-12 18:30] #4113 closed

[2020-11-12 20:00] #3817 closed

[2020-11-12 20:01] #3990 closed

[2020-11-13 00:19] shhnjk opened #4118 "Unable to block innerHTML usage with DOM.setHTMLPolicy"
**Describe the bug; what happened?**
Following describes how one can sanitize `innerHTML` usage.
https://github.com/microsoft/fast/blob/2e730885a485febfbc2b993040f039ef4b85b4ec/packages/web-components/fast-element/docs/guide/declaring-templates.md#L144-L169

Since we didn't wanted our developers to use `innerHTML`, we've created following policy.
[code]

However, this break FAST component itself.

[2020-11-13 00:27] shhnjk commented on #4118
CC: @EisenbergEffect because this was added in https://github.com/microsoft/fast/issues/2850

[2020-11-13 00:30] EisenbergEffect commented on #4118
The purpose of this API is not to block the use of innerHTML but rather to ensure that any html that is rendered is properly sanitized. We could split this into two API potentially...one that is used by FAST and one that is specifically used for innerHTML scenarios. Thoughts?

[2020-11-13 00:39] shhnjk commented on #4118
Yes, splitting makes sense.
But is there any guarantee that anything generated by FAST won't contain user controllable data which would result in XSS? If there is nothing like a [Script Gadgets](https://github.com/google/security-research-pocs/tree/master/script-gadgets) in FAST, then the split should solve the issue 😊

[2020-11-13 04:51] EisenbergEffect commented on #3947
Looks like Big Sur fixes this. I'm installing now and will report back. The update is supposed to go to other versions of OSX as well, according to the webkit bug.

[2020-11-13 14:13] EisenbergEffect commented on #3947
Ok, I have confirmed that this bug has been fixed by the webkit team and is now available. Closing as obsolete.

[2020-11-13 14:13] #3947 closed

[2020-11-13 14:15] EisenbergEffect commented on #4118
Thanks for the feedback. I'm adding this as a feature request and will put it pretty high up in our backlog.

[2020-11-13 15:15] tgoze opened #4119 "Add testing suite to fast-foundation"
Currently, testing functionality is written into fast-foundation. Specifically, the `fixture` function is used to test custom elements, templates, and bindings in the DOM. It would be convenient to use this when developing custom elements.

The functionality should be exported as a testing suite from fast-foundation. Accompanying documentation would be nice as well.

[2020-11-13 18:27] chrisdholt commented on #4119
Thanks @tgoze for the issue! I think the primary question I have is whether fast-foundation is the right place for the testing utility to be extracted to. It definitely could be, but determining packages and exports is always a bit tricky when we consider extensibility and long term goals.

@EisenbergEffect as FYI - might be good to determine if there are other testing utilities or perhaps other g

[2020-11-13 19:26] EisenbergEffect commented on #4119
I would like to pull this out into its own test library and continue to grow the test capabilities as its own thing. I think there's probably a good bit we can do there over time to facillitate various testing scenarios. I'd propose `@microsoft/fast-testing`.

[2020-11-13 22:02] #1275 closed

[2020-11-16 13:52] awentzel opened #4120 "Add PWAs for each website"
Each website should leverage PWA technology which has become easier than ever.  Visit https://www.pwabuilder.com/?url=https%3A%2F%2Fwww.fast.design and create the necessary files to enable PWAs on www.fast.design

[2020-11-16 13:55] awentzel commented on #3889
Blocked awaiting Beachball's Metadata feature to fully support how we'd want to use beachball.

[2020-11-16 13:58] awentzel commented on #3872
I believe everyone is in agreement to how this could be done.  However, beachball requires another feature to fully implement around support for semver metadata.  Until this is implemented we could not fully implement this release strategy.

[2020-11-16 14:06] awentzel commented on #3889
#4018 implements plumbing in PR 2 of 2 in preparation for new beachball feature.  Once this goes in, final testing and configuration would need performed to verify.  Then metadata could be implemented as a final step when the feature is available.

[2020-11-16 14:19] EisenbergEffect commented on #3872
Let's not close this. We do intend to implement this as soon as we can get the Beachball PR in.

[2020-11-16 14:21] EisenbergEffect commented on #3889
Let's not close until we get #4018 merged.

[2020-11-16 18:59] awentzel commented on #1189
Duplicate and aged.  Will close this and use #4120 moving forward to properly build out PWAs.

[2020-11-16 18:59] #1189 closed

[2020-11-16 19:02] #3788 closed

[2020-11-16 22:12] #4109 closed

[2020-11-17 17:22] eljefe223 commented on #4111
This PR caused the animation regression:

https://github.com/microsoft/fast/pull/4085

[2020-11-17 18:54] #3806 closed

[2020-11-17 23:45] stevenbenack opened #4127 "bug: fast-tree-item does not indicate affirmative selected state using screen reader"
**Describe the bug; what happened?**
Using NVDA, tabbing through a fast-tree-view for tree-items, screen reader announces aria-selected=false, but does not announce aria-selected=true.

**What are the steps to reproduce the issue?**
1. Boot NVDA screen reader
2. Go to FAST component explorer, https://explore.fast.design/components/fast-tree-view
3. Select a tree-item
4. Tab into the selected tree-

[2020-11-17 23:58] chrisdholt commented on #4127
Thanks @stevenbenack for the issue. To be honest, I think we can investigate, but I'm not really sure what to make of this. From our standpoint, the component has the correct role and includes the correct attributes with valid states. We're providing a valid UIA representation as far as I can tell. Does this repro in other AT (JAWS, Narrator) or just NVDA? Note, VoiceOver calls out "listbox" for t

[2020-11-18 00:01] chrisdholt commented on #4127
@stevenbenack after a quick search, I think I've found this to be an issue with NVDA: https://github.com/nvaccess/nvda/issues/8587. I think this is external to FAST so I'm going to close as such.

Thanks!

[2020-11-18 00:01] #4127 closed

[2020-11-18 00:02] chrisdholt commented on #4127
Closed as not-actionable by FAST - External to AT.

[2020-11-18 17:16] #4111 closed

[2020-11-18 20:52] #4068 closed

[2020-11-18 21:27] #2043 closed

[2020-11-18 21:50] janechu commented on #2452
There is a way of doing this already as the implementation of adding items allows the removal of them.

[2020-11-18 21:52] janechu commented on #2452
Re-opening with updated requirements.

[2020-11-18 22:01] janechu commented on #2619
Closing this as it appears upgrading TypeScript has solved the issue.

[2020-11-18 22:01] #2619 closed

[2020-11-18 23:26] #4017 closed

[2020-11-19 00:09] eljefe223 opened #4131 "Disabled accordion item is not really disabled"
`accordion-item` does not have a disabled attribute. Should we add one? How would it work? There are several things to consider:

The only reference to disabling an item in the W3C  is"If the accordion panel associated with an accordion header is visible, and if the accordion does not permit the panel to be collapsed, the header button element has aria-disabled set to true."

Note: The above is re

[2020-11-19 04:44] MarcSkovMadsen opened #4132 "fast-text-field does not use the --font-family"
I am trying to use Fast and set a custom font. I can see that not all the Fast Components are not using the specified Font.

I would have expected that.

![image](https://user-images.githubusercontent.com/42288570/99622764-16d5c200-2a2b-11eb-88f7-798219461cb9.png)

[code]

I'm using Chrome on Windows.

#### Additional Context

I also saw the bug for the `fast-text-area`. If you recognize that this

[2020-11-19 18:06] scomea opened #4133 "bug: Anchor component doesn't always have focus state in high contrast"
- turn on high contrast
- navigate to https://explore.fast.design/components/fast-anchor
- tab to the sample anchor
- note that no focus state shows

**What behavior did you expect?**
- visible focus state in high contrast mode

**In what environment did you see the issue?**
Windows, Edge retail

[2020-11-19 18:40] chrisdholt commented on #4132
Thanks @MarcSkovMadsen - I don't see this on Text Area, but I do see it on text field as well as several other components. A good test in the repo was to swap the body font to Wingdings and watch what happens :). I'll have a PR up soon for this.

As an FYI, I'm not sure that `body-font` as an attribute would work as you have above. I do know that you can either apply it in CSS such as;

[code]
Alt

[2020-11-19 19:22] EisenbergEffect commented on #3751
@radium-v Can we close this one as done?

[2020-11-19 19:23] #4132 closed

[2020-11-19 19:53] eljefe223 commented on #4131
My thoughts are to not support a disabled `accordion-item` since there is no reference to that functionality at all.

[2020-11-19 20:15] radium-v commented on #4131
- if an `accordion-item` is `disabled`, its `expanded` property cannot be changed, meaning:
  - an `accordion-item` that is `disabled` and not expanded cannot be expanded.
  - an `accordion-item` that is `disabled` and expanded cannot be collapsed.
- if an `accordion-item` is `disabled` and `expanded`, would expanding another `accordion-item` in `single` mode collapse the `disabled` item, or preve

[2020-11-19 20:58] radium-v commented on #3751
@EisenbergEffect The `fast-select` and `fast-option` components are complete but the spec side still needs to be addressed. #3619 is an older PR for the spec side.

[2020-11-19 21:57] EisenbergEffect commented on #3751
@radium-v Any notion of how much work is left on the spec? Is it something that could get finished this week or should we push it out to the next milestone?

[2020-11-19 22:08] #4133 closed

[2020-11-19 22:59] radium-v opened #4137 "Disabled listbox is missing styles and allows click events"
**Describe the bug; what happened?**
The `listbox` component doesn't fully support its `disabled` attribute, which should prevent mouse interaction and change its appearance to show that it's disabled.

[2020-11-20 14:21] MarcSkovMadsen opened #4138 "Fast not working on Iphone 8"
I'm trying to develop easy to use Fast Templates for Pythonistas and data scientists.

I have something preliminary up and running at https://awesome-panel.org/fast-grid-template which looks like

![image](https://user-images.githubusercontent.com/42288570/99809407-88546400-2b42-11eb-82d1-1ae51b057c32.png)

in Chrome on Windows. It also works in Firefox on Windows.

If I open the url in Safari on

[2020-11-20 18:28] radium-v commented on #3751
@EisenbergEffect I'll pick up the spec now and update it to be in sync with the select component.

[2020-11-20 18:32] EisenbergEffect commented on #3751
Thanks!

[2020-11-21 03:18] chrisdholt commented on #2255
Closing as this is "closed"

[2020-11-21 03:18] #2255 closed

[2020-11-21 03:19] chrisdholt commented on #3940
@MarcSkovMadsen This should be fixed in the latest published version of `fast-components`.

[2020-11-23 11:46] bigopon commented on #3612
@mitchcapper @ben-girardet

This is now can be solved with proper API in Aurelia v2. Please have a read at the following links for the documentation:
- Extending templating syntax: https://docs.aurelia.io/app-basics/extending-templating-syntax
- Example code for FAST components integration: https://docs.aurelia.io/examples/integration/ms-fast

[2020-11-23 20:33] ben-girardet commented on #3912
Closed with https://github.com/microsoft/fast/pull/4013

[2020-11-23 20:33] #3912 closed

[2020-11-25 10:16] LucSuy opened #4145 "The height of the fast-select component is incorrect"
**Describe the bug; what happened?**
The new fast-select component appears to be slightly higher than the fast-text-field component.

**What are the steps to reproduce the issue?**
1. Create a horizontal flexbox and add some fast-text-field components and a fast-select component
[code]
2. Compare the height of the text-field components and the fast-select component
3. The fast-select component is

[2020-11-26 15:24] aayushd opened #4149 "CAPS+ Enter doesnt select from the list of dropdown in Select component"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**
1. Go to edge://settings/appearance . Notice the theme dropdown which uses the Select component from fast-components-react-msft
2. start narrator on windows
3. open the dropdown of the select component
4. focus on some dropdown item
5. use CAPS+Enter

expectation-
the option should get selected

Observation-
nothi

[2020-11-26 16:36] chrisdholt commented on #4149
This is a component which no longer exists in this repository and is no longer being maintained here. Closing this as in actionable for FAST.

[2020-11-26 16:36] #4149 closed

[2020-11-27 09:25] sirinath opened #4150 "Support Alpine.js"
Please add support for [Alpine.js](https://github.com/alpinejs/alpine)

[2020-11-27 16:39] ben-girardet opened #4151 "FAST fails to work properly with latest version and Safari"
**Describe the bug; what happened?**

When running the latest version of FAST on safari there is a new issue that makes FAST not working. This happened for me in an Aurelia 2 application. Should be noted that it didn't happen with previous version of FAST.

**What are the steps to reproduce the issue?**

Example:

1. Follow the [steps described in the doc](https://www.fast.design/docs/integrations

[2020-11-30 06:48] MarcSkovMadsen commented on #4151
I see the same problem. But for all browsers on my iphone: Safari, Edge , Chrome

[2020-11-30 09:31] MarcSkovMadsen commented on #4138
By downgrading to Fast Components 1.11.0 it works on my iphone across browsers. The problematic version is 1.12.0.

[2020-11-30 15:13] EisenbergEffect commented on #3612
@bigopon Do you have any interest in contributing parallel documentation into the FAST Aurelia 2 docs article?

[2020-11-30 16:18] EisenbergEffect commented on #4150
@sirinath Can you clarify what you mean by this? Do you mean that we should add an integration doc on how to use fast components inside an Alpine app?

[2020-11-30 16:33] sirinath commented on #4150
Add the same level of testing and validation to ensure FAST works with Alpine.js

Yes.

Yes.

[2020-11-30 18:06] #2287 closed

[2020-11-30 18:26] #2452 closed

[2020-11-30 19:00] #4138 closed

[2020-11-30 19:00] #4151 closed

[2020-11-30 21:30] #4145 closed

[2020-12-01 01:49] bigopon commented on #3612
@EisenbergEffect sure I can do that, unless @ben-girardet wants to give a go, since he's actively using the integration

[2020-12-01 07:42] ben-girardet commented on #3612
I gave it a go ;-)

https://github.com/microsoft/fast/pull/4155

[2020-12-02 21:42] eljefe223 commented on #4131
Should we close this issue? I don't think we should support disabled accordion items as it can create a confusing user experience.

[2020-12-02 21:45] eljefe223 opened #4160 "Button in accordion item should be marked aria-disabled when expanded in single select mode"
**Describe the bug; what happened?**
The button in accordion item should be marked `aria-disabled` when expanded in single select mode since the button is no longer interact-able. This is outlined in the aria spec.

[code]

[2020-12-07 16:25] EisenbergEffect commented on #4105
I finally got around to looking into this. Apologies for the delay @LucSuy I've got a PR up that should fix the problem. I need a few other team members to review it though as this may have uncovered some additional issues with the dialog and I need folks more familiar with some of those details to take a look. Thanks for your patience!

[2020-12-07 17:28] EisenbergEffect commented on #3820
@tgoze I believe this bug was fixed somewhere along the way. I can't reproduce it in your demo. The conditional rendering always updates correctly regardless of the starting value. One thing to note is that you probably want to bind the input's `value` attribute rather than the property, otherwise you'll get the string "undefined" displaying in your input control.

Here's a link the updated demo:

[2020-12-07 17:28] #3820 closed

[2020-12-07 17:34] robarbms commented on #3582
Changes are up and running on my [server](http://localhost:6006/?path=/story/checkbox--base).

Testing was a little tricky. If you click on something in the frame, it will draw focus, but I found it easiest to break the frame out using the 'Open canvas in new tab' button in the upper right corner. - [http://localhost:6006/iframe.html?id=checkbox--base](http://localhost:6006/iframe.html?id=checkbox

[2020-12-07 17:58] tgoze commented on #3820
@EisenbergEffect Yes it looks like this has been fixed. Thanks!

[2020-12-07 18:58] #4105 closed

[2020-12-07 19:45] LucSuy commented on #4105
@EisenbergEffect thanks a lot for the fix.
And yes, as you state "_Given the nature of this bug, I'm not sure that tabbable was working correctly with the dialog ever._", I indeed encountered tabbing problems in the dialogs too.

[2020-12-07 19:47] EisenbergEffect commented on #4105
@LucSuy Thank you for the confirmation 😄  Hopefully this will address the other issues as well. Side note: we're in process on making some decisions and getting moving on some new e2e tests for our components, so those should help mitigate issues like this in the near future.

[2020-12-07 20:20] LucSuy opened #4170 "Inconsistency in the styling of the components when focused"
**Describe the bug; what happened?**
Textfield, Button, Radio, Slider, Switch, TextArea: these get a somewhat thicker grey border when focused.
Select, Anchor, Button outline on the other hand have a differencing focused styling. (There may be others).
Tabbing the components in a horizontal flex for instance, gives a rather turbulent userexperience.

**What are the steps to reproduce the issue?**

[2020-12-07 20:22] chrisdholt commented on #4170
Thanks for the issue @LucSuy - definitely a bug. @eljefe223 Can you take a look at this?

[2020-12-07 21:41] bheston commented on #4170
The intent behind the current design is that in most cases the focus is a 2px (`focusOutlineWidth`) border within the bounds of the control footprint. For instance, on buttons or text inputs, that's a 2px inner border. This replaces a 1px outline (`outlineWidth`) or adds the 2px outline for controls that weren't otherwise outlined. On smaller controls like radios and checkboxes the same 2px treatm

[2020-12-08 22:40] janechu opened #4174 "List of tasks needed to complete the CSS custom property control"
# Abstract

Related to #3773

The `@microsoft/fast-tooling-react` `<Form />` accepts custom controls, one which is in progress and can be found in the feature branch `features/form-custom-control-css` is the css custom control which is comprised of the following files:

- `packages/tooling/fast-tooling/react/src/form/custom-controls/control.css-ref.props.ts`
- `packages/tooling/fast-tooling/react/

[2020-12-08 22:51] janechu opened #4175 "Create a web component for the `<color>` syntax"
# Abstract

As a line item in #4174 this is the task to create a web component for the `@microsoft/fast-tooling-react` packages custom CSS control export (see #4174 for details on the files making up the CSS control).

## Requirements

The `<color>` syntax which can be identified in the file `css-data.js` as part of the syntaxes export consists of the following: `<rgb()> | <rgba()> | <hsl()> | <hs

[2020-12-09 05:15] scomea opened #4177 "[Discussion] - handling tag dependencies in component templates"
When we define base component classes in 'fast-foundation' we typically include a default template which is then used in libraries that actually declare a component implementation.  For example we export a 'Badge' class and 'BadgeTemplate' from 'fast-foundation' which are used to declare the <fast-badge> custom element.

[code]

This works well for simple components like Badge that only use basic

[2020-12-09 17:00] EisenbergEffect commented on #4177
This is a tricky issue. I have thoughts on a long, medium, and short-term solutions.

## Long Term Solution

In the long-term, we'll have a new browser feature which will enable us to instantiate custom element registries and associate those with shadow dom. The registry will allow us to map tag names to element definitions, scoped to the shadow root. By combining this with our new provider system

[2020-12-11 10:46] bsrdjan opened #4182 "Two-way checkbox binding in Aurelia and Angular integrations"
When the fast-checkbox value is changed in the UI, the bound data element is not updated. The other way around works.

Reproduce with Aurelia integration (the same with Angular):

**my-app.html**
[code]
**my-app.ts**
[code]
The first checkbox works and the fast-checkbox works only with onCheckBox2 change event handler. Should it work also without it?

Without change handler, when toggled to `true`

[2020-12-11 11:01] bigopon commented on #4182
@bsrdjan did you test with the latest API as suggested here https://docs.aurelia.io/examples/integration/ms-fast

[2020-12-11 12:08] bsrdjan commented on #4182
Thanks, I did not know about that doc. I found only the FAST guide for Aurelia:  https://www.fast.design/docs/integrations/aurelia and Aurelia guide for FAST is not mentioned there (I think...).

I tried and getting following error as soon the `checked.bind="admin"` added to `fast-checkbox` markup:

[code]

**my-app.html**
[code]
**my-app.ts**
[code]

**main.ts**
[code]

**package.json**
[code]

[2020-12-11 12:24] bigopon commented on #4182
@bsrdjan oops, sorry for that. There shouldn't have been any dirty checker. I'll test it and get back to this. And nice details 👍

[2020-12-11 12:26] bigopon commented on #4182
On a second look, maybe these lines are the issue:
[code]
It should have been
[code]

[2020-12-11 12:32] bsrdjan commented on #4182
Thanks @bigopon, that was the issue indeed, it works now.

[2020-12-11 14:43] bsrdjan commented on #4182
Does the same or similar is missing with Angular? Following the FAST for Angular guide https://www.fast.design/docs/integrations/angular/, I need an event handler to make the the two-way binding work:

[code]

[code]

[2020-12-11 16:31] scomea commented on #4177
Seems like a reasonable plan to me.  So unless there are other alternatives we could get more specific about what needs to happen to implement a short term solution so we can unblock?

[2020-12-11 16:42] EisenbergEffect commented on #4177
The first decision we need to make is whether we're ok just using the `fast-` prefix or wether we feel we need some helper that generates a random prefix and obscures that. I'd prefer to go the simple route of using the `fast-` prefix, at least at first. If we do that, all we need to do is call `FASTElement.define` with the `fast-` prefix based name for each of the child components and use some in

[2020-12-11 16:48] scomea commented on #4177
Does that have consequences for scenarios where people mix libraries in the same project?

[2020-12-11 17:28] EisenbergEffect commented on #4177
It definitely would. If they used fast-components and the fluent components together the library would try to register the same tag name. It's possible we could add a new API in foundation for aliasing elements, which could prevent dupes. However, if the actual element is different because the fluent version adds some additional properties or behavior, then things would break in another way as the

[2020-12-11 17:34] EisenbergEffect commented on #4177
There's another option I just though of. Instead of writing templates, we can write template factories, that take a prefix as an input.

[code]

[code]

[code]

[2020-12-11 17:36] #3612 closed

[2020-12-11 17:40] scomea commented on #4177
That seems interesting, fewer cases where implementers need to make custom templates, and we could remove the "fast" references from the foundation library as well.

[2020-12-11 17:45] EisenbergEffect commented on #4177
Yes, I'm a little embarrassed this wasn't my first thought actually 🤣

We only need to do this for templates that embed other elements. It's just a minor change, isn't a hack, and is going to have the best memory/perf characteristics of the options I believe.

[2020-12-11 17:45] chrisdholt commented on #4177
I think this is more along the lines of what I was envisioning. I think this will really help and provide a solid solution and path forward for these!

[2020-12-11 17:59] scomea commented on #4177
Actually, wouldn't we want a generic 'createComponentTemplate(component.template.template, myPrefix)' function rather than component specific ones?  And if so, do we need to differentiate template templates from regular templates?

[2020-12-11 18:16] EisenbergEffect commented on #4177
I'm not sure what a generic function would do. I worry that this might add complexity when we can just use a simple function for this case.

[2020-12-11 18:29] chrisdholt commented on #4177
I'd agree with the above - I think specific functions will help avoid confusion as to when to leverage, etc.

[2020-12-11 18:35] scomea commented on #4177
How would we differentiate between a component like data-grid which has a template factory and one that does not?  ie. how does an implementor know to call the function in a custom component declaration?

[2020-12-11 18:38] EisenbergEffect commented on #4177
I don't think the types will match up if they are in TS. I'd rely on that plus documenting the exported function for now.

[2020-12-11 19:08] scomea commented on #4177
I'll see about rigging data-grid as a sample then, I think I have all I need to give it try.

[2020-12-14 17:08] scomea commented on #4177
I have added a draft PR for tooltip with a proposed implementation as well as updated the existing [Data Grid pr.](https://github.com/microsoft/fast/pull/4029).  The data grid one is interesting because it also customizes the templates used to generate items as well as the component's base template.

[2020-12-14 17:38] EisenbergEffect commented on #4177
The DataGrid PR is interesting, the way you composed those together. Seems like it will work.

[2020-12-14 21:22] EisenbergEffect commented on #4182
@bigopon Would you mind making a PR to correct our documentation?

@bsrdjan I'm not as familiar with how this situation is handled with Angular without the manual event handler. If you find a solution to that, we'd happily take a PR to our documentation to add the information for future visitors.

[2020-12-15 00:13] #4170 closed

[2020-12-15 13:06] bsrdjan commented on #4182
Thanks, my fault. Expected `[(checked)]` should work in Angular but not the case. It is not good to start with Aurelia, expect too much from other frameworks :)

[2020-12-15 23:49] radium-v opened #4189 "selectedIndex property ignores disabled options in listbox and select components"
**Describe the bug; what happened?**

The `selectedIndex` property is currently set against a collection of options that are enabled. It should instead be set against all slotted options.

**What are the steps to reproduce the issue?**

[code]

[code]

**What behavior did you expect?**
The `selectedIndex` value should reflect the first selected option regardless of its `disabled` state.

[2020-12-16 18:37] radium-v opened #4190 "Add multiple mode to listbox/select"
**What feature are you requesting?**
Listbox/Select should support `multiple` and `size` properties, which will allow users to choose more than one option at a time. This will require support for related ARIA attributes as well as keyboard navigation changes. See https://www.w3.org/TR/wai-aria-practices-1.1/#listbox_roles_states_props for more info on ARIA role support.

From a presentation perspe

[2020-12-17 01:50] scabana opened #4196 "Tooltip within accordion-item positionning problem"
When a tooltip is added to the second accordion item, it gets badly placed.

**What are the steps to reproduce the issue?**

paste the example's html in https://explore.fast.design/components/fast-tooltip. Open and close the different accordion items and hover over the button, at some point, it miss aligns. Only seen mis alignment on second (didn't try more than 2) accordion item.

Example:

[code

[2020-12-17 18:47] oriziv opened #4198 "Add date-picker to FAST web components"
My team are developing a set of widgets for the media space, and we need a date-picker component like [this](https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker)

Thanks,
Ori

[2020-12-17 20:56] janechu opened #4199 "Update docusaurus site with nested components to accomodate non-standalone component documentation"
# Abstract

There are inconsistencies with how non-standalone components are documented, what could be considered a non-standalone component are components that are expected to be nested with other components and not used by themselves. Non-standalone components currently include:

- `<fast-accordion-item>` - expected parent `<fast-accordion>`
- `<fast-breadcrumb-item>`- expected parent `<fast-bre

[2020-12-18 01:02] litteredwitherrors opened #4201 "Improve focus styles for lightweight FAST Button"
**What feature are you requesting?**
Add visually noticeable focus styles for `fast-buttons` that are set to `appearance="lightweight"`

**What would be the benefit of adding this feature?**
Providing a visual focus cue would benefit accessibility.

[2020-12-21 04:07] rushilp2311 commented on #3825
I can work on this.

[2020-12-21 18:48] stevenbenack opened #4206 "bug: focus disappears when tabbing through fast-menu items"
**Describe the bug; what happened?**
When tabbing through the fast foundation menu, focus gets lost. This is not an issue when using the up/down arrows, only when using tab.

**What are the steps to reproduce the issue?**

1. https://explore.fast.design/components/fast-menu
2. Attempt to tab through menu items
3. Observe that we are unable to tab through the items

**What behavior did you expect?*

[2020-12-21 20:39] chrisdholt commented on #4206
Tabbing is not a valid method of navigation in a menu. Per the W3C, focus moves from item to item via arrow keys. The reason focus is disappearing is because focus is moving outside of the menu. Closing this as by design.

[2020-12-21 20:39] #4206 closed

[2020-12-22 19:21] Ibrahimmaga commented on #3521
When I run the application locally, I didn't see any duplicate certificate. Can you reproduce the steps to get the duplicate? witch tool are you using?

[2020-12-24 22:45] ameyasubhedar opened #4209 "FAST and BLAZOR - How to change the color pallet of fluent-design-system-provider with Blazor"
**Describe the bug; what happened?**
I am evaluating the new Microsoft fast.design https://www.fast.design/ with **fluent-design-system-provider** and trying to customize the accent color for Blazor project but no luck...

This is what I did so far as per the official documentation (https://www.fast.design/docs/design-systems/fast-frame):

In my asp.net core **Blazor Server Project's _Host.cshtml*

[2020-12-27 14:47] MeijerM1 commented on #3578
Any news on this. Or a temp fix?

[2020-12-28 17:05] EisenbergEffect commented on #4209
@ameyasubhedar Most of the team is out on vacation now. Folks should start trickling back in next week. Thank you for your patience.

@nicholasrice can you provide some guidance on this when you are back in office? Let's also think about whether there's some documentation improvements we can make.

[2020-12-28 22:34] #3750 closed

[2020-12-29 18:52] nicholasrice opened #4213 "Conditional template binding causes template not to update in certain scenarios"
**Describe the bug; what happened?**
When the `repeat` directive and the `when` directive are used in conjunction, the template fails to update in a case where the `when` directive switches between true and false cases. See https://webcomponents.dev/edit/GvZ1ei7qxCZ4n9n27vzo for a min repro of the issue.

[2020-12-29 20:00] nicholasrice commented on #4209
@ameyasubhedar It looks like your `site.js` just isn't importing the modules from the right location; there is no `"@microsoft/fast-colors"` and `"@microsoft/fast-components"` in the filesystem to import from. Changing to the following worked locally for me (minus the Blazor stuff).

[code]

[2020-12-30 00:33] nicholasrice commented on #4213
It appears that this repros without the `repeat` directive; I've updated the above repro link to illustrate.

[2021-01-04 14:12] #4209 closed

[2021-01-04 14:48] EisenbergEffect commented on #3592
@limefrogyank 2-3 months back we made a fix made to our array observation code. It was in response to a different bug report but I think it could be related to this issue as well. If you are still working on this, would you mind giving things a try with the latest release?

[2021-01-04 15:36] #4182 closed

[2021-01-04 15:39] #3875 closed

[2021-01-04 18:58] awentzel commented on #3543
This works depends on #3889 and it's dependencies.

[2021-01-04 20:29] awentzel commented on #3521
Confirmed, not able to replicate.  No longer an issue.

[2021-01-04 20:29] #3521 closed

[2021-01-04 22:21] SethDonohue opened #4219 "text-field's label div is not properly hidden when start or end slots have content"
**Describe the bug; what happened?**
In Text Field when there is content in the start or end slots the label div is _not_ hidden causing Text Field to have a larger height than it should.

With Start:
<img width="203" alt="Screen Shot 2021-01-04 at 2 16 30 PM" src="https://user-images.githubusercontent.com/31681651/103585221-8a2a7a80-4e97-11eb-990b-e486495ebe7e.png">

With End:
<img width="203" al

[2021-01-04 22:33] SethDonohue opened #4220 "content around anchor element shifts when anchor is focused and appearance is hypertext"
**Describe the bug; what happened?**
When focusing on an `Anchor` element with appearance of `hypertext` the content around the anchor shifts around.

**What are the steps to reproduce the issue?**
View an `Anchor` element with appearance = hypertext and bring focus to the element (tabbing) and notice how the content below the anchor moves.
![anchorhypertextcontentbump](https://user-images.githubu

[2021-01-04 23:49] marjonlynch opened #4221 "fast component explorer throws exception when changing tab orientation attribute twice"
When changing the tabs component orientation via the drop down in the config panel, the first time it works but changing it back to `horizontal` causes an exception to be thrown

**What are the steps to reproduce the issue?**

1. Go to https://explore.fast.design/components/fast-tabs
2. change the orientation in the far right config panel to `vertical`
3. observe the tabs are now in vertical orien

[2021-01-05 19:44] SethDonohue opened #4222 "Slider shows cursor pointer when disabled or readonly"
**Describe the bug; what happened?**
Cursor for _disabled_ and _readonly_ Slider shows as pointer.
<img width="509" alt="Screen Shot 2021-01-05 at 11 35 39 AM" src="https://user-images.githubusercontent.com/31681651/103690865-32991700-4f4a-11eb-8ccf-b9937be5ce69.png">

**What are the steps to reproduce the issue?**

Go the components explorer and select Slider, then chose disabled or readonly attr

[2021-01-05 19:51] EisenbergEffect opened #4223 "Configure Playwright for use with FAST Components"
In order to have better e2e tests for our components and tools, we're adopting Playwright. We'll use this issue to track the progress on getting that setup and integrated with CI.

[2021-01-06 17:17] ScottKane opened #4227 "Blazor JsInterop function not binding data in fast-data-grid"
Using the example Blazor integration you should be able to achieve the same issue with the following:

In `wwwroot/` create a js file to hold interop functions (wwwroot/fastInterop.js):
[code]

Then create a C# class to bind the equivalent function (FastInterop.cs):
[code]

Create a razor file to be the Blazor component nesting the fast-data-grid (FastTable.razor):
[code]

Create a POCO class to r

[2021-01-06 17:47] ameyasubhedar opened #4228 "ASP.NET Core Data Annotation Validations and Model Binding Tag helpers do not work with fast-components"
**Describe the bug; what happened?**

As per [official docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-5.0), Blazor server uses ASP.NET core concepts for authentication e.g. Login that requires SignInManager... so for implementing Login.cshtml with fast components  (using fluent-design-system-provider) I tried to model bind using asp-for but that did not work !

[2021-01-07 21:19] ameyasubhedar opened #4231 "Dark/Light mode does not update neutral and foreground colors for Blazor projects using JavaScript"
**Describe the bug; what happened?**

See sample code in Github: https://github.com/ameyasubhedar/FastBlazorTheme

I have a Razor component library that bundles the styling and JavaScript for multiple Blazor WebAssembly and Blazor Server projects. I am trying to achieve same look and feel for all of the Blazor projects, so the razor component libraries contains the css and  JS to initialize the fa

[2021-01-08 20:34] nicholasrice commented on #4231
Thanks @ameyasubhedar. I'm not 100% sure what the cause of this is but it appears there is an issue with the base layer luminance system. If you're blocked in the short term you can set the background color directly (instead of layer luminance) as show here: https://stackblitz.com/edit/js-zmgrjb

[2021-01-08 21:02] #3857 closed

[2021-01-08 21:24] ameyasubhedar commented on #4231
@nicholasrice, thanks. I referenced the FAST website code to build the code for Blazor and JavaScript. The fast website has a custom component fast-frame that uses baseLayerLuminance to update the background. How does it work there ? Can you also check this source and let me know if I am missing something.

https://github.com/microsoft/fast/tree/906d9c2f42172c7e0c9041e0d6fb07609c83cfbd/sites/fast-

[2021-01-11 15:08] EisenbergEffect commented on #3361
A quick update on this work...

As part of the exploration, we decided to try directly incorporating a dependency injection system. The results of the exploration were very positive. So, we've reworked the entire provider plan on top of a core DI system. The linked PR contains the code for the DI, FoundationElement, and a configuration DSL for basic configuration of elements, templates, and styles

[2021-01-11 16:11] EisenbergEffect commented on #4228
My understanding is that the `asp-for` helper is not designed to work with arbitrary html elements, but only works with built-ins. We'll need to work with the community to resolve this. There may be some way to plug in on the .NET side and "teach" the `asp-for` helper how to properly bind to web components.

[2021-01-11 18:30] janechu commented on #4221
This doesn't appear to be an issue in the local version and the site nor is it an issue on the staging site.

@awentzel @chrisdholt @EisenbergEffect I recommend we publish staging to production for the explore site on next publish. It should in fact be deploying every publish but I understand we've been off schedule for the last month or so.

[2021-01-11 18:35] ScottKane commented on #4227
Modified interop binding classes so that I can consume the scoped IJSRuntime via a singleton and provide bindings statically.

[code]

This now results in the following:
[code]
I had read that this could be caused by using toSet() and toSetSeq(), if thats the case maybe use toList(), toMap() or toArray() instead?

[2021-01-11 18:37] ScottKane commented on #4227
Although not serializing during the C# binding method and just passing the raw object adds the expected number of rows to the grid, they are however still empty.

[2021-01-11 18:40] chrisdholt opened #4237 "Create a behavior for attaching component styles based on an appearance"
Many of our components have an "appearance" attribute to define a given visual treatment (anchor, button, etc). Currently for a given component all styles are attached regardless of the component appearance. So if I have an input with a "filled" appearance, the "outline" appearance is also being created and attached as styles. Ideally, we should only include those styles which are being leveraged

[2021-01-11 19:10] EisenbergEffect commented on #4221
Agree. We need to get the sites updates. We're missing docs for all the new components...

[2021-01-11 19:16] janechu commented on #3643
@chrisdholt @EisenbergEffect I think there are two ways of resolving this:

1. Inject tooling to allow for dynamic updates to the fixtures while in storybook
2. Simply edit the fixtures files to include visual tests (would make for quite a long fixture file)

A couple things to consider, first how this will affect the use of fixtures down the line, vis a vis screenshots for visual diffing. Secondl

[2021-01-11 20:00] EisenbergEffect commented on #4237
To make sure I follow...is the idea that the behavior would observe the `appearance` attribute of the host element, and when its value equals "accent" it will add the specified stylesheet, otherwise it will not add or remove the styles?

[2021-01-11 20:02] chrisdholt commented on #4237
Essentially, yes - consider the behavior we have for something like forced colors or match media but scoped to a given attribute value rather than the state of the OS or window.

[2021-01-11 20:15] EisenbergEffect commented on #4237
Cool. We can definitely do this. We can probably create a general mechanism for this so that we could even separate out the various attribute values, allowing for them to be tree-shaken.

[2021-01-11 20:44] nicholasrice commented on #4237
Small clarification since the question came up when syncing w/ this with Jeff, I think we would want to map this to observable *properties* and not content attributes, is that correct?

[2021-01-11 20:47] EisenbergEffect commented on #4237
I think so. If it's based on observable properties, we can use it with any property that uses our system and not just html elements. If I'm following you...

[2021-01-11 20:59] eljefe223 commented on #4237
Thinking something like this:

[code]

[code]

Any thoughts or objections?

[2021-01-11 21:42] EisenbergEffect commented on #4237
This is a good solution with what we have today. There are other options once the DI system is in place, if you want to be able to resolve appearance values from the design system itself and tree-shake out ones that customers aren't using. For example, you could have something like this:

[code]

where `appearanceBasedStyles` does something like this

[code]

It depends on what direction you want

[2021-01-11 23:42] Ibrahimmaga commented on #3317
api-extractor.json was causing problem in windows environment when I was messing around with prettier:diff to solve windows os validation. This doesn't seems a problem any longer since windows validation is working. But if someone get any exception error, let me know then we will remove the exception.

[2021-01-12 00:38] jayjl commented on #4213
I am experiencing the same issue with this. Thanks Nick for chatting about it offline. Please let me know when this can be fixed. Really appreciate!

[2021-01-12 01:55] ScottKane commented on #4227
You will also need to register the following:
[code]

[2021-01-12 16:09] Holyphoenix commented on #4213
This issue is also impacting me.

[2021-01-12 17:35] nicholasrice commented on #4213
It seems that this doesn't have anything to do with the `when` directive inherently, and more to do with re-binding of template instances. In this [min repro](https://webcomponents.dev/edit/7wWVRpdUUBb3mQ2agAse) a template that is defined inline *in* a binding expression will unbind and rebind w/ the expected behavior, but a template stored in an external variable and *used* in the binding express

[2021-01-13 00:23] #4237 closed

[2021-01-13 18:48] eljefe223 opened #4242 "Using a behavior that dynamically loads styles and uses other behaviors seems to not properly append behaviors"
**Describe the bug; what happened?**
We created a behavior that dynamically loads in stylesheets based on a property. We are using this to dynamically load stylesheets based on the `appearance` property for `fast-anchor` and `fast-button`.  The behavior loads in the various styles but not the `behaviors` for the various appearances. Meaning the colors are not loading for the various anchor and but

[2021-01-13 21:04] SethDonohue commented on #4219
Looks like the template is interpreting the "white space" before and after the provided svg for start as `text` nodes, causing `defaultSlottedNodes` to have elements, leading to the label _not_ being hidden.
Not sure if this is a component change, slotted directive, or a templating issue.

I have highlighted in the code what it is seeing as `text` nodes, if this white space is removed the label is

[2021-01-13 22:26] EisenbergEffect commented on #4219
White space is legitimately intended by the web standards to be projected into the slot. So, if we want to show/hide something internally, filtering out whitespace intentionally, I think we'd want to do that specific for a given component and not intentionally part of our slot directive, for example. What that means is that we probably need a custom filter for `defaultSlottedNodes` so that the con

[2021-01-13 22:31] chrisdholt commented on #4219
@SethDonohue I don't think we want to filter out whitespace as you've shown for the slotted example above as that needs to be projected if it's part of something (such as a string). That space is a label as it's technically content.

I think the true culprit here is the whitespace in the template. Fixing that should address the issue IMO. It's possible that this could (or is?) able to be detected

[2021-01-13 23:04] SethDonohue commented on #4219
@EisenbergEffect I agree which is why I was saying it sounded heavy handed. Thanks for the extra info on it! I think I'll explore a custom filter for `defaultSlottedNodes` on just text-field, and also keep an eye out for your follow up here.

@chrisdholt The whitespace in the template has no effect on this and does not cause this issue with the other text-field examples where no default slotted no

[2021-01-14 00:43] SethDonohue commented on #4219
This regex filter seems to work.
Not sure I need the `nodeValue === "string"` check though. It is probably redundant since I am checking if it is nodeType of 3 and that is `text` so nodeValue _should_ always be a string, but I am having trouble confirming that.
[code]

[2021-01-14 00:46] SethDonohue commented on #4219
The above _is_ also removing whitespace around any slotted html markup, but for this component the default slotted nodes become the label and any whitespace seems to be removed anyways.... which I just realized means I should be able to just use the `elements()` filter used elsewhere. That works the same.

[2021-01-14 17:19] scomea opened #4244 "Some FAST components lose focus when tabIndex is changed"
This appears to be an issue related to components that delegate focus, for example fast-button and fast-text-area.  The issue is that if a component has focus and the component's tab index is changed the element loses focus and the document body becomes the activeElement.

This is problematic because components that manage tabbing and keyboard navigation will frequently change the tabIndex of focu

[2021-01-14 19:28] SethDonohue commented on #4219
I've created a _draft_ PR with the changes:
PR #4245

[2021-01-14 21:40] EisenbergEffect commented on #4219
Looks like I removed the whitespace checking code some time back because it wasn't needed for the core. Glad you found a solution!

[2021-01-14 23:26] #4222 closed

[2021-01-15 18:10] #4058 closed

[2021-01-19 03:17] ameyasubhedar opened #4248 "Blazor/Razor fast-checkbox does not model bind (2-way)"
**Describe the bug; what happened?**

Model binding for fast-checkbox does not work. This basically means that we cannot use the fast-checkbox in HTML forms with model binding.

For e.g. if I use fluent-text-field, I can bind the value to the onchange event and this works perfectly. I am able to update my model with 2-way binding.

[code]

However if I try to use the model binding with fast-checkb

[2021-01-19 17:56] #3731 closed

[2021-01-19 19:54] #4220 closed

[2021-01-20 17:23] SethDonohue commented on #3812
I'll get this done

[2021-01-20 18:18] SethDonohue commented on #4035
For now are we sticking with the author needing to add a non-negative tabindex to the fast-buttons for it to show in the dialog tab queue, or are we thinking of changing fast-button to have a tabindex="0" by default? Just curious if there has been any movement on this.

[2021-01-20 18:25] chrisdholt commented on #4035
I think when @EisenbergEffect lands the Provider DSL we'll be able to plug into that and leverage some of the benefits for our own trap focus implementation. The problem here is that we need to maintain a list of all HTML focusable elements as well as a list of our focusable custom elements, while also providing a method for users to register their own. Add to this the fact that someone may regist

[2021-01-20 19:46] #3812 closed

[2021-01-20 19:48] nicholasrice commented on #4242
Min repro here: https://stackblitz.com/edit/behavior-detachment?file=index.ts

I think there are a few issues going on here:

## Detached Detachment
ElementStyles does not first discern whether the styles are attached to a particular element prior to detaching from it. This causes the styles to filter the adopptedStyleSheets array even if it is not attached, and also to remove any behavior instanc

[2021-01-20 21:37] EisenbergEffect commented on #4242
The third issue seems the trickiest. We may need to take an approach where, internal to the controller, rather than keeping a list of behaviors, we keep a list of entries that holds a behavior along with a reference count, or something like that. Then only remove the entry and unbind the associated behavior if the count reaches zero. Just off the top of my head idea, but definitely looks like we n

[2021-01-20 22:41] nicholasrice commented on #4242
We do that type of tracking w/ css custom properties in the DesignSystemProvider, only unregistering and removing the property once the last dependency is removed. Do you think it would be odd if `Contoller.removeBehaviors()` didn't unbind a behavior? Should we introduce a force-remove flag? `removeBehaviors(behaviors: ReadOnlyArray<Behavior>, force = false)`?

[2021-01-21 02:48] nicholasrice commented on #4231
Okay I tracked this down.

For historical reasons, the color recipes themselves implement design-system memoization where return values are memoized by object reference. We're tracking an issue to change that here: https://github.com/microsoft/fast/issues/3833.

What is happening in your example is the product of `neutralLayerCardContainer` is getting memoized on the first invocation, and keeps re

[2021-01-21 12:52] m4thieulavoie commented on #4035
@chrisdholt are you suggesting people manually add `tabindex="0"` in their own app for now, or that FAST handles that internally (by adding `tabindex="0"` if none was specified by the user)? If the latter, I'm happy to contribute if you want 👍

[2021-01-21 17:29] nicholasrice commented on #4248
@ameyasubhedar are you saying that a change event is never fired from the checkbox?

[2021-01-21 17:42] SethDonohue commented on #4035
For now, we need to add tabindex="0" manually. The work he mentioned above with the Provider DSL will help with this issue once it is ready.

[2021-01-21 17:55] chrisdholt commented on #4035
@m4thieulavoie yeah, for added clarity on what @SethDonohue mentioned, there are a few considerations that make this difficult to handle all up currently. Currently we use tabbable which doesn't have a method for accounting for custom elements. We need to create a utility for trapping focus and while we could likely handle anything with a `fast` prefix today, the problem really starts in `foundati

[2021-01-21 17:58] ameyasubhedar commented on #4231
@nicholasrice Thanks for the fix. Yes it does work now. One quick question is there any order dependency for the designSystemProvider force evaluate. For example I am first setting the layer luminance, then the accent color template followed with neutral color pallet and finally update the background color as show below. Hope this order is Ok ?

But overall its working now, thanks for a quick fix.

[2021-01-21 18:12] nicholasrice commented on #4231
Great! Sorry for the confusion, that is an area we're hoping to address soon.

The order doesn't matter, it will all get reconciled by the provider :)

[2021-01-21 18:12] #4231 closed

[2021-01-21 18:28] ameyasubhedar commented on #4248
@nicholasrice, I think the change event works but fast checkbox value is not updating based on the change event.  We have to do it manually.

// This works
<input type="checkbox" @bind="CurrentValueBool" />

**// This does not work**
<fast-checkbox @bind-checked="CurrentValueBool" @bind-checked:event="onchange"></fast-checkbox>

// This works (but manual binding is required)
[code]

[2021-01-21 19:09] robsonsobral opened #4257 "Add character counter to/in text fields"
Hi!

I just arrived at this project and still don't know what kind of feature do you prefer to implement.

**What feature are you requesting?**

Is it possible to add characters counters to the corner of text fields?

**What would be the benefit of adding this feature?**

It would help users to plan their text ahead of reaching the field limit.

**What solution would be ideal for you?**

A paramet

[2021-01-21 23:50] ameyasubhedar commented on #4248
@nicholasrice, Actually even the manual binding does not work correctly.... **@onchange event sends ChangeEventArgs e.Value="on" for both checked and non-checked state.**

[code]

[2021-01-22 06:58] nicholasrice commented on #4248
Ahhh okay. The `value` isn't *supposed* to change. Only `checked` is supposed to change. The Checkbox WC is modeled off of the native platform `input[type='checkbox']`, which  exhibits the same behavior: https://codesandbox.io/s/fragrant-tdd-udihc?file=/index.html

[2021-01-22 07:22] ameyasubhedar commented on #4248
@nicholasrice, thanks that make sense now as to why Value is on always. But the core problem stays in case of manual binding as a workaround of the solution ChangeEventArgs only has the Value field, so the onchange callback BindCurrentValue does not have access to checked state ?

[2021-01-22 07:29] nicholasrice commented on #4248
I may not be familiar enough with Blazor to have insight into what is going on here. You're saying `ChangeEventArgs` doesn't have a `checked` property?

[2021-01-22 07:34] ameyasubhedar commented on #4248
Nope, it does not and I think that leaves us no way to bind the checked state back to the model. Ideally Value should have reflected the new checked state but since that the native HTML behavior there should at-least be a way for applications to access the checked state

**Microsoft Source**

[2021-01-22 16:48] EisenbergEffect commented on #4242
I feel a bit uncomfortable removing without unbinding. That also sort of pushes the burden back on the caller to track more things and know when to unbind or not. We could switch behaviors internally to be a map of behavior to count and then bind/unbind based on that. Would that work?

[2021-01-22 22:28] janechu opened #4262 "Replace instances of the deprecated React component Label with the native label element"
# Description

Replace the `<Label />` component from the deprecated package `@microsoft/fast-components-react-msft` in `./sites/site-utilities/src/components/accent-color-picker-index.tsx` with a native `<label>` element that has styling tied to the `<fast-design-system-provider>`.

Add to the styles:
[code]

[2021-01-22 22:32] janechu opened #4263 "Replace instances of the deprecated React component ActionTrigger with fast-button"
# Description

Replace the `<ActionTrigger />` component from the deprecated package @microsoft/fast-components-react-msft in `./sites/site-utilities/src/components/dimension/index.tsx` with `<fast-button>`.

[2021-01-22 22:35] janechu opened #4264 "Replace instances of the deprecated React component NumberField with fast-number-field"
# Description

Replace the `<NumberField />` component from the deprecated package @microsoft/fast-components-react-msft in `./sites/site-utilities/src/components/dimension/index.tsx` with `<fast-number-field>`.

[2021-01-22 22:59] janechu opened #4265 "Replace instances of the deprecated React component Label with the native heading elements"
# Description

Replace the `<Heading />` component from the deprecated package `@microsoft/fast-components-react-msft` in `./sites/site-utilities/` files with a native `<h1>`/`<h2>`/`<h3>`/`<h4>`/`<h5>`/`<h6>` elements that has styling tied to the `<fast-design-system-provider>`.

[2021-01-22 23:01] janechu opened #4266 "Replace instances of the deprecated React component Badge with fast-badge"
# Description

Replace the `<Badge />` component from the deprecated package @microsoft/fast-components-react-msft in `./sites/site-utilities/` files with `<fast-badge>`.

[2021-01-22 23:05] janechu opened #4267 "Replace instances of the deprecated React component ActionToggle with fast-switch"
# Description

Replace the `<ActionToggle />` component from the deprecated package @microsoft/fast-components-react-msft in:
- `./sites/fast-creator/app/creator.tsx`
- `./sites/fast-component-explorer/app/explorer.tsx`
With `<fast-switch>`.

[2021-01-22 23:10] janechu opened #4268 "Replace instances of the deprecated React component Background"
# Description

Replace the `<Background />` component from the deprecated package @microsoft/fast-components-react-msft in:
- `./sites/site-utilities/src/components/logo/index.tsx`
- `./sites/fast-creator/app/creator.tsx`
- `./sites/fast-component-explorer/app/explorer.tsx`
With a `<div>` using `<fast-design-system-provider>` CSS variables.

[2021-01-22 23:12] janechu opened #4269 "Replace instances of the deprecated React component Select with fast-select"
# Description

Replace the `<Select />` component from the deprecated package @microsoft/fast-components-react-msft in:
- `./sites/fast-component-explorer/app/explorer.tsx`
With `<fast-select>`.

[2021-01-22 23:14] janechu opened #4270 "Remove deprecated FAST packages from the Creator, Site utilities and Component Explorer sites"
# Description

This is the parent issue detailing the removal of the dependency on `@microsoft/fast-components-react-msft` and `@microsoft/fast-components-styles-msft` and `@microsoft/fast-jss-manager-react` that are still used in the sites Creator and Component Explorer.

## Requirements to remove `@microsoft/fast-components-react-msft`

The removal of `@microsoft/fast-components-react-msft` requ

[2021-01-23 00:51] #4219 closed

[2021-01-25 16:27] #3894 closed

[2021-01-25 16:27] #4055 closed

[2021-01-25 16:45] #3751 closed

[2021-01-25 18:06] nicholasrice commented on #4242
That's what I meant, bad phrasing on my part. I was considering if it would be odd if `Controller.removeBehaviors()` didn't *always* unbind the behavior (would behave as you spec above).

[2021-01-25 19:13] EisenbergEffect commented on #4242
Ah! Hmm. I think I'm following now. So, the `force` param would say "reduce usage down to zero and unbind" effectively. I think that makes sense.

[2021-01-25 19:44] janechu opened #4271 "Replace StandardLuminance used in the Site utilities and Creator"
# Description

Replace the `StandardLuminance` currently used from the package `@microsoft/fast-components-styles-msft` with the same enum in `./packages/web-components/fast-components/src/color/neutral-layer.ts`.

Locations this needs to be replaced:
- `sites/site-utilities/src/components/editor/index.tsx`
- `sites/site-utilities/src/components/editor/editor.props.ts`
- `sites/site-utilities/src/

[2021-01-25 19:53] janechu opened #4272 "Remove the ColorRecipe from the Logo component"
# Description

Remove the `ColorRecipe` and optional `backgroundColor` as this is unused, from the React `<Logo />` props. This is located here: `sites/site-utilities/src/coponents/logo/logo.props.ts`.

[2021-01-25 20:04] #4099 closed

[2021-01-25 20:08] janechu opened #4274 "Remove DesignSystem reference from sites"
# Description

The `DesignSystem` and other imports from the `@microsoft/fast-components-styles-msft` package which is deprecated.

## Requirements
- Remove the imports from `sites/fast-creator/app/preview.styles.ts`, `sites/fast-component-explorer/app/preview.styles.ts` & `sites/fast-creator/app/creator.style.ts`
- Create a CSS stylesheet for import using the same global styles expressed in the a

[2021-01-25 20:22] janechu opened #4275 "Remove the JSS wrapper"
# Description

Remove the JSS wrapper from the following locations:
- `sites/fast-component-explorer/app/preview.tsx`
- `sites/fast-creator/app/preview.tsx`

Remove the `DesignSystemProvider` from the following locations:
- `sites/fast-component-explorer/app/explorer-region.tsx`
- `sites/fast-creator/app/app.tsx`

Add the `<fast-design-system-provider>` web component as a wrapper.

Ensure that all

[2021-01-26 18:26] ScottKane commented on #4227
This error was happening while loading fast from CDN, I have since pulled in fast through NPM and am serving it myself which solves the issue. Strange that binding the rowsData doesn't work from CDN

[2021-01-26 20:02] #4272 closed

[2021-01-27 02:11] #3980 closed

[2021-01-27 17:28] Ibrahimmaga opened #4280 "Security: weekly security, accessibility, and privacy scans"
This is to resolve issues from code scanning from WebScout.

You can view the results of this scan at https://webscout/#/scans/862909.

Total URLs: 72
Total issues found: 10
URLS with issues: 17
Suppressed issues: 9
Time in queue: 0h 5m 43s
Scan duration: 9h 5m 13s

For this Work Item, I only want to tackle improvement for Non Suppressed items (new items) with medium severity or higher.

Investiga

[2021-01-28 00:18] janechu commented on #4082
The `@microsoft/fast-tooling-react` usage of the `@microsoft/fast-components` is effectively blocked without visual validation. The use of a pink accent color border for such inputs as `<fast-text-field>` is also incredibly confusing as from a user perspective this should have a red border if it is invalid. Having pink on a form filled with such inputs lends the impression that all fields are curr

[2021-01-29 01:28] bheston opened #4287 "Add fast-icon wrapper component"
## Problem

Controls often share consistent padding for visual balance and for stacks or rows to align properly. Control padding is often expressed simply like "12px padding left and right and 8px between elements, for instance, like in this button:

![image](https://user-images.githubusercontent.com/47367562/105788283-09f6b280-5f35-11eb-9d98-955adc135f4c.png)

Many modern icon libraries build in

[2021-01-29 18:11] lee-leonardo opened #4290 "loss of tabindex attribute and unable to tab 2+ fast-menu-item in fast-menu"
**Describe the bug; what happened?**

The issue deals with tabbing through the child elements of the fast-menu component. If you press tab, the first child is correctly focused, but upon a subsequent tabs it skips the rest of the children and jumps to the next element. So this behavior seems to suggest that menu-items by default are taken out of the tabindex. When manually setting the tabindex, if

[2021-01-29 18:16] chrisdholt commented on #4290
Thanks for the issue and the repro @lee-leonardo. For clarity, are you expecting that you should *tab* through the menu items? If so, I think this is likely a misunderstanding of how one navigates through the menu. While tab does bring you into the menu, subsequent menu items are navigable via the arrow keys. While this describes both a menubar and menu's, the navigation is accurate for tab as des

[2021-01-29 19:19] lee-leonardo commented on #4290
Ah okay good to know, if the accessibility team does push back on it, then we're better equipped to push back. Thanks!

[2021-01-29 19:19] #4290 closed

[2021-01-30 00:38] #4242 closed

[2021-02-01 03:28] KingOfTac opened #4293 "Slotted Directive Behavior is Inconsistent with Documentation"
**Describe the bug; what happened?**
According to the documentation for the [Slotted Directive](https://www.fast.design/docs/fast-element/using-directives#the-slotted-directive), the property that the reference is assigned to should be available in connectedCallback. When the reference property is logged to the console in the connectedCallback, it returns an empty array instead of the slotted node

[2021-02-01 16:17] EisenbergEffect commented on #4293
@KingOfTac Thanks for reporting this! I'll get this corrected.

The property is set to an empty array by the connected callback, but may not be updated with the slotted nodes because the browser may not have projected them yet. The best way to respond is to make the property `@observable` and add a change handler so you can be notified whenever the slotted nodes change.

[2021-02-01 16:46] KingOfTac commented on #4293
@EisenbergEffect That makes sense, thanks. I have been using the attribute changed callback as a work around, however, this breaks down in cases where you have multiple slotted directives and need to pass the slotted elements along to a third party library.

My specific use case for this is I have a custom element that is a wrapper/provider for Popper.js. The element has two slots that I am using

[2021-02-01 20:49] #4266 closed

[2021-02-02 00:48] m4thieulavoie commented on #3825
I opened [this PR](https://github.com/microsoft/fast/pull/4298) to take care of this!

[2021-02-02 18:57] m4thieulavoie commented on #3825
@chrisdholt we can close this issue 👍

[2021-02-02 19:09] #3825 closed

[2021-02-02 19:09] chrisdholt commented on #3825
closed by #4298

[2021-02-02 20:04] EisenbergEffect commented on #4293
Hmm. I'm trying to be careful not to add additional lifecycle hooks other than the ones provided by the platform. It seems simple but can introduce a surprising amount of complexity in implementation.

Can you share a code sample for how you are interacting with `$fastController`. I can provide some feedback on the approach.

When needing to pass two different slots along to a 3rd party library, t

[2021-02-02 20:22] nicholasrice opened #4302 "Tooltip does not work in a shadow DOM"
When tooltip is used used in the shadow DOM of another web-component, the tooltip fails to show on hover.

repro: https://webcomponents.dev/edit/8BLd8rWnbGiYm4g2DcrY

It looks like `Tooltip.getAnchor()` is using `document.getElementById()` to retrieve the tooltip anchor, which doesn't account for the element existing in a shadow DOM. ~~I think this can be fixed by changing that line to use `this.g

[2021-02-02 21:13] janechu commented on #2344
A different method for this has been used by exporting an abstract component from the private site package `site-utilities` which can be imported as `Editor`.

[2021-02-02 21:13] #2344 closed

[2021-02-02 21:15] EisenbergEffect opened #4304 "docs: build a re-usable component end-to-end tutorial"
Add a guide to the documentation that walks the reader through building a components that is designed to be re-used acorss projects. Include:

* Accessibility
* Using the design system
* etc.

[2021-02-02 21:17] EisenbergEffect opened #4305 "docs: enable documentation search"
Enable a quick search of the documentation so that it's easier to find topics, keywords, etc.

[2021-02-02 21:20] EisenbergEffect opened #4306 "docs: define and standardize information about components"
Review the component documentation and expand out to include missing details:

* Methods, properties, etc.
* Design tokens used by component
* What is the template?
* Link to the spec
* More practical usage examples
* Notes on accessibility
* How to apply custom styles
  * design properties
  * override styles
  * etc.

How to target different audiences?

[2021-02-02 21:21] janechu opened #4307 "Add a fast-design-system-provider in the component explorer for each component"
# Description

The components which rely on the `<fast-design-system-provider>` do not see the design system's values change in the Monaco Editor preview. This change should expose the values being used on the design system provider to give an accurate code snippet to copy and paste. It should also be made available as a switch between editing that component and the wrapping design system provider

[2021-02-02 21:21] janechu commented on #4307
Relies on #3947 for usability

[2021-02-02 21:22] EisenbergEffect opened #4308 "docs: approaches to customizing components"
We need an article or section of the documentation that lays out the various strategies for customizing a component and provides guidance for which path to take in different scenarios.

[2021-02-02 21:25] EisenbergEffect opened #4309 "docs: distinguish between libraries in the FAST offering"
Re-work how we introduce FAST and its libraries. How to make it clear to customers what we provide and what to use when? Do we need a clearer visual representation/distinction throughout the site?

[2021-02-02 21:29] EisenbergEffect opened #4310 "docs: provide guidance on how patterns, practices, things to avoid"
We should take more of our learnings from building components and experience and produce documentation that leads customers into the pit of success.

* Project organization
* File structure
* Naming components/classes
* How to think about state
* TypeScript practices

[2021-02-02 21:33] EisenbergEffect opened #4311 "docs: re-organize content related to styles and foundation"
The "Design" and "Design System" documentation is fragmented and awkward in its organization. We should revisit this and determine how best to organize these ideas. Should there be a section dedicated to foundation vs. the fast-components design system specifically? Should we call out fluent here at all?

[2021-02-02 21:35] EisenbergEffect opened #4312 "docs: guidance on application scenarios"
Documentation of new capabilities targeted at larger experiences such as DI and routing. Guidance on building larger experiences.

[2021-02-02 21:37] EisenbergEffect opened #4313 "docs: make the color tool more visible and guide people in how to use it"
The color tool is difficult to find. We can link it more strategically and then provide some guidance on how to use it and how to think in terms of our color philosophy.

[2021-02-02 21:40] EisenbergEffect opened #4314 "docs: unify top-level nav across docs and tool sites"
When navigating between the home page and the component explorer, for example, there's no link back to the main site.

[2021-02-02 21:48] EisenbergEffect opened #4315 "docs: add visuals"
Look for places to replace walls of text with visualizations. Probably need at least a high-level visual that describes the system itself and how the parts relate to one another.

[2021-02-02 21:49] EisenbergEffect opened #4316 "docs: add a cheat sheet"
An at-a-glance view with lots of examples of the most common tasks, linking back to the full documentation that relates to it.

[2021-02-03 05:34] nicholasrice opened #4321 "Increment @microsoft/fast-element major version to 1"
**Describe the bug; what happened?**
Right now, `@microsoft/fast-element` is major version 0. This is an issue because when a package has major version 0, `npm` treats the *minor* version as the major version when determining if a package dependency can be de-duped. For example, installing *only* `@fluentui/web-components@0.11.0` results in the following dependency graph for `@microsoft/fast-eleme

[2021-02-03 07:02] chrisdholt commented on #4321
Yes, let’s do it!

[2021-02-03 16:12] KingOfTac commented on #4293
I don't think this is the best solution because of how deep I have to dig into $fastController, so I am open to suggestions for a better solution.

[code]

[2021-02-03 16:32] EisenbergEffect commented on #4293
Interesting. Yes, this is pretty brittle code. As an alternative, place a `ref` on each of the slots and use that to access it's assignedNodes. That said...I'm not sure why the properties aren't populated even though the assignedNodes are. That could be a browser timing issue with the slotchanged event timing or possibly an issue with our directive's implementation or timing. It certainly seems th

[2021-02-03 18:26] KingOfTac commented on #4293
I did a little digging and I think it is definitely a timing issue somewhere. When the slotted behaviors get bound, `SlottedBehavior.target` is assigned to the correct slot element, but `SlottedBehavior.getNodes` returns an empty array. So at some point between the behaviors binding and `$fastController.onConnectedCallback` finishing the slot's assigned nodes become available, but I have not been

[2021-02-03 19:04] EisenbergEffect commented on #4293
Are the slotted nodes created by a repeater by any chance?

[2021-02-03 19:41] KingOfTac commented on #4293
No

[2021-02-03 20:04] EisenbergEffect commented on #4293
Hmm. Well, one theory out the window 🤣  I'll try to spin up a repro and take a look at what's happening at runtime. It seems like we should be able to make this better...

[2021-02-03 20:05] EisenbergEffect commented on #4293
FYI I think changing the bind vs. append ordering could have perf implications. I'm a bit nervous about making that change.

[2021-02-03 20:10] awentzel opened #4325 "Syntax Error and unexpected token in Data Grid on Staging."
**Describe the bug; what happened?**
When viewing the Data Grid on https://stage.www.fast.design/docs/components/data-grid/ you'll notice the code sample example is not loading and instead reveals an error.

**What are the steps to reproduce the issue?**
Visit the link described above.

**What behavior did you expect?**
No syntax errors in documentation

**If applicable, provide screenshots:**
![S

[2021-02-03 20:17] SethDonohue opened #4326 "accordion focus moves from focusable panel content to header when arrow key up or down are pressed"
**Describe the bug; what happened?**
The focus is moving from accordion item panel focusable content back to the accordion headers when the down or up arrow keys are pressed.

**What are the steps to reproduce the issue?**

Example:

see stackblitz repro: https://stackblitz.com/edit/fast-design-tku4xg?file=index.html

1. Focus on accordion header
2. Tab focus to any button in panel
3. Press arrow

[2021-02-03 20:58] KingOfTac commented on #4293
Understandable. I am wondering however, if the browser waits to make the assigned nodes available until after the document fragment is inserted into the DOM. I also don't know enough about how this is implemented at the browser level, so I think this concludes my investigation into this.

I will move forward with using `ref` on the slots and getting the nodes manually for the time being until a so

[2021-02-03 21:04] EisenbergEffect commented on #4293
Thanks for helping to investigate. I've got this one assigned and triaged so hopefully will get some time soon to look a bit further. I'll report back if I discover anything we can do to improve this (without breaking stuff).

[2021-02-03 21:30] janechu opened #4328 "Create a mapping utility to convert component definitions to TypeScript definition files for interpretation by SkateJS"
# Description

Currently for integration between `@skatejs` and `@microsoft/fast-components` in a TypeScript React app there needs a separate definition file, which must be created manually see: https://www.fast.design/docs/integrations/react#typescript-and-tsx-support

This would be much easier to accomplish with a utility that can take component definitions (available for each of the `@microsoft

[2021-02-03 23:02] SethDonohue opened #4330 "accordion arrow key functionality out of sync once tab is used to change focus between accordion items"
**Describe the bug; what happened?**
If the 1st accordion item is focused, then tab is pressed to change focus to the 2nd accordion item, and then the up arrow key is pressed to navigate back to the 1st accordion item, the focus goes to the last item (4th in the repro below).
Similarly if the down key was pressed _instead_ of the up key, the focus stays on the 2nd accordion item.

**What are the s

[2021-02-04 18:50] Ibrahimmaga opened #4334 "chore: want to generate monthly report from github"
**What feature are you requesting?**
1. Monthly favorite report base on query
2. link: https://docs.github.com/en/rest/reference/activity#starring-vs-watching
3. link: https://docs.github.com/en/graphql/overview/explorer

**What would be the benefit of adding this feature?**
it will generate report monthly. right now github provide 2 weeks report

**What solution would be ideal for you?**
The idea

[2021-02-04 18:56] robarbms opened #4335 "feat: add a horizontal scroll component"
# Description

Add a carousel web component to fast-components.

## Motivation & context

A component for showing a set of scrolling inline content.
![Group 631294](https://user-images.githubusercontent.com/69695238/106941630-ef140300-66d7-11eb-8976-29541c40d270.png)

## Issue type checklist

- [ ] **Chore**: A change that does not impact distributed packages.
- [ ] **Bug fix**: A change that fixe

[2021-02-04 19:05] chrisdholt commented on #4335
Thanks @Robarms! Looking forward to digging in a bit here!

I do think one change will need to be made with the name. Unless this maps to the W3C carousel, we'll likely want a more "utilitarian" name for this. In the past we've called it "Horizontal Scroll" but I'm open.

[2021-02-05 16:55] vkrol opened #4340 "Incorrect wording about React on the website"
**Describe the bug; what happened?**
There is an incorrect wording about React on the website.
React 17 had already been released without the custom elements support.

**What are the steps to reproduce the issue?**
Example:
1. Go to https://www.fast.design/
2. Scroll down to the Works with existing frameworks section

**What behavior did you expect?**
Change of wording.

**If applicable, provide s

[2021-02-05 18:50] nicholasrice opened #4342 "Consider supporting navigation for Menu Items"
[This ARIA example](https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html) sets a precedent that an element with `[role='menuitem']` can navigate the user as the primary action.

Is this something that we want to support with FAST menu item? What diligence would we need to do to validate this scenario?

Additional precedent:
https://w3c.github.io/aria-practices/examp

[2021-02-05 19:00] radium-v commented on #4342
We do this for `Listbox` and `Select`: any slotted element with a `[role="option"]` is considered to be part of the collection, and is treated as if it's a `ListboxOption`. It's then up to the implementer to make sure that other properties work.

[2021-02-05 19:01] chrisdholt commented on #4340
Thanks @vkrol, when we initially put this out we were optimistic about support in v17. We'll look to rework that section. As a positive, you can still leverage Web Components w/ React!

[2021-02-05 19:27] janechu opened #4343 "Map the "title" and "description" directly between the web component definitions and JSON schema"
# Description

The "title" and "description" mapping from the `WebComponentDefinition` and the JSON schema do not match, this should be rectified to where the name is consistent.

[2021-02-05 19:29] janechu opened #4344 "Map the "title" and "description" using the same property names between the web component definition to JSON schema"
# Description

The "title" and "description" mapping from the `WebComponentDefinition` and the JSON schema do not match, this should be rectified to where the name is consistent.

[2021-02-05 20:00] janechu opened #4345 "Add title properties to the tag and attribute properties in the web component definitions"
# Description

The `title` and `description` in component definition files for attributes located in `@microsoft/fast-components` should be map better for the tooling. This means that the `title` should be as succinct as possible and the `description`, which will appear as a tooltip in the generated tooling form, should be as descriptive as possible. An example would be a checkbox's required attri

[2021-02-05 20:17] janechu commented on #3643
Since this does not seem like a tooling specific issue, I have re-worked the area to be for the development environment and re-assigned it to the components project.

[2021-02-05 20:18] janechu commented on #4343
This is a duplicate of #4344

[2021-02-05 20:18] #4343 closed

[2021-02-05 21:31] radium-v opened #4346 "build tools: test steps cause redundant builds"
These packages include `yarn build` as part of their `test` script, which creates unnecessary overhead and time-consuming workflow redundancies:
- `fast-figma-plugin-msft`
- `fast-tooling`
- `fast-tooling-react`
- `fast-animation`
- `fast-color-explorer`
- `fast-component-explorer`
- `fast-creator`
- `fast-tooling-examples`
- `fast-website`
- `site-utilities`

Projects `fast-tooling`, `fast-toolin

[2021-02-05 22:09] #4330 closed

[2021-02-08 05:25] KingOfTac opened #4348 "FormAssociated validate method call in Slider minChanged callback"
**Describe the bug; what happened?**
FormAssociated.validate does not actually get called from slider.minChanged because of a typo.

**What are the steps to reproduce the issue?**
1. slider.ts on line 152.
2. `this.validate` has a typo and does not get called. It should be `this.validate()`.

[2021-02-08 15:38] EisenbergEffect commented on #3361
Closing this as "done" since the infrastructure for almost everything described is now in `fast-foundation`. Over the next month or two, we'll layer on additional design system capabilities and switch the components over to using the new system.

[2021-02-08 15:38] #3361 closed

[2021-02-08 17:03] NPadrutt commented on #3614
Hi!
I wanted to check in if there is any update on this issue?

[2021-02-08 20:26] #4326 closed

[2021-02-08 22:09] janechu opened #4351 "Allow restriction on the types to display in the Navigation tree"
# Description

Currently all data types are shown in the `<Navigation />` component in the `@microsoft/fast-tooling-react` package. This may not be the ideal solution for users who only want to see representations of `Nodes` such as HTML elements. It is also especially redundant when used in conjunction with the `<Form />` as the `<Form />` will display all contents of an  `Object`.

To allow for

[2021-02-08 22:36] janechu opened #4352 "Allow user defined names for data items in the data dictionary"
# Description

The current `<Navigation />` component in `@microsoft/fast-tooling-react` displays the `title` used in the JSON schema. This default is fine however users may want to change this to their own defined string.

This means that when a tree items is selected and then selected again through click or keyboard action, it should convert to an input with `type` `text` where the value is the

[2021-02-09 13:27] #4302 closed

[2021-02-09 19:00] #3974 closed

[2021-02-09 21:55] #4344 closed

[2021-02-12 22:31] chrisdholt commented on #4345
@janechu I think I'll break this up into a couple of PR's if that works - One for the slots and another addressing the attributes.

[2021-02-12 23:34] SethDonohue commented on #4335
Should we consider this different than the stale Carousel that is still in review but is fairly old?

[2021-02-12 23:36] chrisdholt commented on #4335
@SethDonohue see comment above: https://github.com/microsoft/fast/issues/4335#issuecomment-773536879

Yes, "Carousel" is commonly a term that design uses to describe this behavior but it conflicts with the W3C description which is typically our north star. The name will change here :)

[2021-02-14 13:20] pedrocardoz0 opened #4366 "Result from fast-slider-label"
**Describe the bug; what happened?**
The output from `fast/packages/web-components/fast-foundation/src/slider-label/`or **_https://www.fast.design/docs/components/slider-label_** is broken.

**What are the steps to reproduce the issue?**
1 - Go to _https://www.fast.design/docs/components/slider-labe_

[2021-02-16 18:10] tgoze opened #4367 "Tab cycling stops working on an element with keydown binding in FAST Element"
**Describe the bug; what happened?**
When binding an event handler with the @ syntax to the keydown event on a focusable element (an element with tabindex=0), the browser's tab cycling ceases whenever that element is tabbed over.

**What are the steps to reproduce the issue?**

Go to the repro [here](https://webcomponents.dev/edit/Oyx4m9aCPdQJ2ZR8NWLF?pm=1).

1. Click the header text
2. Hit tab or

[2021-02-16 18:21] tgoze commented on #4367
This is actually expected behavior by:  https://www.fast.design/docs/fast-element/declaring-templates#events.

[2021-02-16 18:21] #4367 closed

[2021-02-16 20:40] nicholasrice opened #4369 "Design Systems VNext: Design Tokens"
With the addition of Dependency Injection and new component registration methods provided by `FoundationElement` and `DesignSystem`, this issue proposes a new way to expose Design Tokens to an application using those features.

**Goals:**
- Make Design Tokens a top-level API surface to better reflect industry standards and terminology
- Remove the need of a wrapping `fast-designs-system-provider`

[2021-02-16 21:20] EisenbergEffect commented on #4366
@pedrocardoz0 Are you referring to the demo in the web page itself?

[2021-02-16 21:43] pedrocardoz0 commented on #4366
Yes

[2021-02-16 23:25] nicholasrice commented on #4369
Additionally, scaffolding the current implementation of the DesignSystemProvider element with these APIs becomes very easy:

[code]

[2021-02-17 00:55] caseyfaber opened #4370 "Broken link to integration docs on Getting Started page"
On the [Getting Started](https://www.fast.design/docs/components/getting-started/) page there is a green tip area that says "Looking for a setup that integrates with a particular front-end framework or bundler? Check out [our integration docs](https://www.fast.design/docs/components/integrations/introduction).", but the link just goes to a Page Not Found.

**What are the steps to reproduce the iss

[2021-02-17 00:58] caseyfaber commented on #4370
Also, on this same Getting Started page there is an "Edit this page" link at the bottom, where I think it's trying to link to github to submit a change, but that link is also broken. It points to https://github.com/microsoft/fast/edit/master/sites/website/src/docs/fast-foundation/getting-started.md

[2021-02-17 17:27] janechu commented on #4221
This appears to be fixed in the latest release.

[2021-02-17 17:27] #4221 closed

[2021-02-18 18:11] nicholasrice commented on #4305
Docusaurus 2 makes this integration pretty easy with [Algolia](https://docsearch.algolia.com/docs/apply) which seems to be free for Open Source projects

[2021-02-18 20:14] #4370 closed

[2021-02-18 23:29] nicholasrice opened #4381 "Non-destructive ElementDefinition Configuration"
This issue concerns the alpha `DesignSystem` and `FoundationElement` interfaces.

## Feature Description
To scaffold Design System features, we would like to be able to compose ElementStyles into a component definition's stylesheets during registration with the Design System. This would allow a component definition to expose very basic structural styling, with design opinion layered on top during

[2021-02-19 21:55] EisenbergEffect commented on #4369
Ok, I'm super duper excited about this. So much so that I've been thinking a ton about it for the last week. I think we're on an excellent path here. I've got a bunch of feedback which will hopefully be useful. Including some pseudo-code to help with some of the ideas. Some of it has obvious holes so @nicholasrice would certainly need to tell me if it wouldn't work. In general, it focuses on expan

[2021-02-19 23:17] #4345 closed

[2021-02-20 00:55] nicholasrice commented on #4369
This looks awesome @EisenbergEffect! I like the idea of giving the `DesignToken` a bigger role, making it usable in stylesheets directly, and associating some metadata with it. One aspect I'm un-sure of is how best to support the "asynchronous intermediary" scenario, let me try to explain:

1. Three elements, *A*, *B*  and *C* exist, where *B* is a descendent of *A* and *C* is a descendent of *B*

[2021-02-22 17:08] EisenbergEffect commented on #4369
That all makes sense. I also realized there was a challenge around computed tokens being based on the wrong inputs if the inputs were overridden at a child node.

My thought was that the interesting operation is the operation of setting a token value. So, it may be that any time a token is set on a node, we need to pull down all tokens above and then invalidate computed tokens below. I think that

[2021-02-22 18:01] #4262 closed

[2021-02-22 18:01] #4264 closed

[2021-02-22 18:01] #4265 closed

[2021-02-22 18:02] #4268 closed

[2021-02-22 18:02] #4271 closed

[2021-02-22 18:47] janechu opened #4386 "Convert NavigationTreeItem to a function component"
# Description

The current render functions located in `navigation-tree-item.tsx` should be React function components. This would give more simplicity and maintainability with the automatic inclusion of props so that order doesn't matter.

[2021-02-22 19:10] Ibrahimmaga commented on #4223
closes #4252 #4249 #4337

[2021-02-22 19:10] #4223 closed

[2021-02-22 19:16] Ibrahimmaga commented on #3317
closes #4281

[2021-02-22 19:16] #3317 closed

[2021-02-22 21:28] nicholasrice commented on #4369
Yea I think that will work; I'll do some explorations and see how we can do that efficiently.

[2021-02-23 01:00] janechu commented on #4352
Completed by #4375

[2021-02-23 01:00] #4352 closed

[2021-02-24 16:45] marjonlynch opened #4395 "Add container/part to Tabs component for customization purposes"
**What feature are you requesting?**
Would like to be able to tweak the tab band separate from the tab panels below via a ::part.
At the moment if you want to change say the background color of just the tab band, not the tab panels you cannot.
The ideal situation would be having a container around just the tab band that has a part/class that devs can customize.

This is in reference to a closed is

[2021-02-24 20:38] SethDonohue commented on #4131
Not sure where this was left off, but the disabled accordion item isn't disabled from keyboard navigation.
![disabledaccordionitem](https://user-images.githubusercontent.com/31681651/109062696-19385f80-769d-11eb-861e-06a654603e3d.gif)

It _is_ disabled from click events though.
Should we just removed the disabled property and examples?

I can see a case for an author wanting a panel to not be expa

[2021-02-24 20:41] SethDonohue commented on #4131
Also, if we do keep the disabled attribute it would be good to add a visual showing that the item is disabled, right now there's not visual difference.

[2021-02-26 01:41] #4351 closed

[2021-03-01 16:15] EisenbergEffect commented on #4175
@janechu Is this completed?

[2021-03-01 18:18] williamw2 commented on #4269
Closing as it has been merged into feature branch and is pending merge into master.

[2021-03-01 18:18] #4269 closed

[2021-03-01 18:19] williamw2 commented on #4267
Closing as it has been merged into feature branch and is pending merge into master.

[2021-03-01 18:19] #4267 closed

[2021-03-01 18:20] williamw2 commented on #4175
Closing as it has been merged into feature branch and is pending merge into master.

[2021-03-01 18:20] #4175 closed

[2021-03-01 20:27] janechu commented on #3631
Closed by #4392

[2021-03-01 20:27] #3631 closed

[2021-03-01 20:31] awentzel opened #4405 "Re-add Code QL Security Scanner"
**Describe the bug; what happened?**
`ci-weekly.yml` previously included a code section for code quality analysis.  This seems to have been removed and requires adding back in.

**What are the steps to reproduce the issue?**
The code that should be re-added includes:
[code]
**What behavior did you expect?**
This code should be added to the weekly yml file

**If applicable, provide screenshots:**

[2021-03-01 20:40] janechu commented on #1944
Closing as a different method fo E2E testing is being created around Playwright.

[2021-03-01 20:40] #1944 closed

[2021-03-01 20:46] janechu commented on #269
This will be resolved with the E2E playwright testing.

[2021-03-01 20:46] #269 closed

[2021-03-01 23:45] janechu opened #4409 "Replace the design system with a key in the data dictionary"
# Background

The `<fast-design-system-provider>` web component is currently wrapping the entire `<Viewer />` component in the Creator site and has 3 global values that are set by the icons at the top, theme, accent color, and direction (right to left or left to right). This should be extrapolated into the full design system as part of the data dictionary.

## Requirements

- Create a key, "design

[2021-03-01 23:47] janechu opened #4410 "Add the design system to the Creator"
# Background

The `<fast-design-system-provider>` web component is currently wrapping the entire `<Viewer />` component in the Creator site, however this is not represented in the sites UI. To illustrate the changes that can be made to the design system that affect the components the provider is wrapping, this should be exposed in the `<Form />`.

Reliant on the completion of #4409

## Requirement

[2021-03-02 01:38] janechu commented on #4410
Doing a further investigation as it looks like the mapping between the monaco editor and the data dictionary causes any additional values to be over-written.

[2021-03-02 18:42] KingOfTac commented on #4369
From an outsider's perspective, I think this will be huge for component authors. You can definitely count me among the early adopters of these features.

[2021-03-03 23:23] #3909 closed

[2021-03-04 21:46] roryfa commented on #2960
@chrisdholt apparently this repros in Read Aloud for Edge

![image](https://user-images.githubusercontent.com/54419365/110035066-4610f600-7cdf-11eb-8887-0a71d5313e7d.png)

[2021-03-04 22:52] chrisdholt commented on #2960
@roryfa is that the deprecated react version though?

[2021-03-04 23:39] yeraycaballero opened #4420 "A separator is not added to Breadcrumb item when new one is appended to the list. fast-foundation > Breadcrumb.ts"
**Description**

A separator is not added to Breadcrumb item when new one is appended to the list

This is something I haven't been able to reproduce it using the component explorer editor, so I added a runnable example in stackblitz instead. https://stackblitz.com/edit/fast-design-breadcrumb?file=src/app.ts

This example renders a breadcrumb with three items.
There is a button, which will add a n

[2021-03-05 00:16] bheston commented on #4369
I agree with the overall evolution of the design and functionality here.

I do believe the intermediary issue described is something we'll need to address or it will lead to confusion during implementation.

I also really like the scaffolded `FastDesignSystemProvider` example. That seems like the perfect typed wrapper to the generic foundation. It essentially becomes the definition of any particul

[2021-03-05 05:11] shachak commented on #2960
we are currently using <Slider> from fast/fast-components-react-msft @chrisdholt not sure if this is deprecated.

[2021-03-05 17:14] williamw2 commented on #4275
Closed in features/remove-deprecated-site-component-dependencies bending merge into master.

[2021-03-05 17:14] #4275 closed

[2021-03-05 17:16] williamw2 commented on #4274
Closed in features/remove-deprecated-site-component-dependencies bending merge into master.

[2021-03-05 17:16] #4274 closed

[2021-03-05 17:20] williamw2 commented on #4410
Ignore the above "merged" mention. I put the wrong issue number into the pull request.

[2021-03-05 17:58] nicholasrice commented on #4369
I think we could use the existing `Behavior` / `CSSDirective` infrastructure to create recipe sets, where binding the behavior sets up hover / click /etc listeners and sets the `background-color` design token to the appropriate recipe:
[code]

The component would use the recipe set and set the background color:

[code]

The above isn't limited to fills either, and we can figure out how best to org

[2021-03-08 14:45] EisenbergEffect commented on #3906
@chrisdholt Can we close this as done?

[2021-03-08 14:45] EisenbergEffect commented on #4137
Did we fix this or should we bump it to our next milestone?

[2021-03-08 16:59] chrisdholt commented on #3906
@EisenbergEffect yes, this can be closed

[2021-03-08 16:59] #3906 closed

[2021-03-08 18:44] nicholasrice commented on #4321
Incremented in this commit: https://github.com/microsoft/fast/commit/2b465891734bca8b4a5cbfbc167bc7518ce5fd3f

[2021-03-08 18:44] #4321 closed

[2021-03-08 21:44] paucortescosta opened #4435 "Cannot use foundation Combobox when using Typescript ^4.0"
When updating to @microsoft/fast-foundation v1.15.1, several build errors popped up on some of our modules:

`error TS2611: 'options' is defined as a property in class 'FormAssociatedCombobox', but is overridden here in 'Combobox' as an accessor.`

To repro the issue just consume the latest foundation bits from a project using typescript +v4

[2021-03-08 21:52] chrisdholt commented on #4435
Thanks @paucortescosta - appears to be caused by https://github.com/microsoft/TypeScript/pull/37894.

We can start with an investigation as to whether we can refactor. It appears there may be a fix in the works on the TS side to allow for certain cases and scenarios.

[2021-03-09 16:09] #2530 closed

[2021-03-09 16:09] #2575 closed

[2021-03-09 19:35] chrisdholt opened #4440 "Combobox keyboarding ceases to work after initial selection"
**Describe the bug; what happened?**
The comobobox keyboarding seems to stop working after initial selection.

**What are the steps to reproduce the issue?**
1. Go to https://stackblitz.com/edit/fluent-combobox-example-18r5p3?file=index.html
2. Use down arrow to open the combobox
3. Select a state
4. Close the combobox using escape
5. Open the combobox again with down arrow
6. Press down or up arr

[2021-03-10 11:14] Garbee opened #4444 "General Question: Why not use the Dialog Element for the Dialog component?"
HTML provides a built in [dialog element](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element). It allows the browser to automatically handle all of the focus trapping, layering, and as many other accessibility concerns that exist.

I am curious as to why Fast uses a fully custom setup for this component? Looking through #729 I didn't see any support in either direc

[2021-03-10 20:32] eljefe223 opened #4446 "Add a way to filter only visual elements"
**What feature are you requesting?**
Ran into some issues using `children` and `slotted` with `filter: elements()` returns `<style/>` and `<script/>` tags. This makes sense but would be nice if we had something we could pass an argument to `elements()` to effectively do:

[code]

**What would be the benefit of adding this feature?**
Easily filter out none visual elements like `<script/>` and `<sty

[2021-03-11 18:41] #4335 closed

[2021-03-11 18:53] tlmii opened #4450 "FASTButton content font size uses default user-agent style"
**Describe the bug; what happened?**

The `<fast-button>` component's internal `<button>` element seems to use the default user-agent's stylesheet for font size rather than picking up on `--type-ramp-base-font-size` or something else configured in the DSP.

**What are the steps to reproduce the issue?**

1. Go to https://stackblitz.com/edit/typescript-vfnesb?file=index.ts
2. Notice that the font s

[2021-03-11 22:06] #4435 closed

[2021-03-12 23:09] #4440 closed

[2021-03-14 12:04] sridharkrishna opened #4463 "Syntax Error on tabbable: while binding DesignSystemProvider to template."
While binding FASTDesignSystemProvider or custom DesignSystemProvider to the template, causing a Syntax Error on dialog.js.

Created an application using VanillaJS
------------------------------------------

[code]

Custom Design Provider Syntax:
-----------------------------------

[code]

Fast versions used:

    "@microsoft/fast-components": "^1.18.1",
    "@microsoft/fast-element": "^1.0.0",

[2021-03-15 14:14] EisenbergEffect commented on #4444
Looks like it's Chromium only right now: https://caniuse.com/dialog Based on looking [here](https://bugs.webkit.org/show_bug.cgi?id=84635) it appears that the webkit work hasn't started yet and that there may be some bugs that are blocking the work. Seems like some of the focus work might even be broken/incorrect in Chromium as well.

@chrisdholt may have some other reasoning for not using the `di

[2021-03-15 14:16] EisenbergEffect commented on #4446
Happy to take a PR to the `elements` filter to make this the default behavior.

[2021-03-15 14:19] EisenbergEffect commented on #4450
Perhaps @bheston can comment on whether this is by design or not. If it is, we may want to expand our documentation around the type ramp.

[2021-03-15 14:22] EisenbergEffect commented on #4463
FAST doesn't have many dependencies but the tabbable library is one of them (the other is lodash). Based on the error, it seems that there could be an issue either with the transpiler/bundler you are using or perhaps something has changed in the way tabbable exports its functionality.

@chrisdholt has more knowledge in this area and can probably better help track down the issue.

[2021-03-15 14:27] #3042 closed

[2021-03-15 14:27] #3427 closed

[2021-03-15 15:53] chrisdholt commented on #4450
@eisenbergeffect, I requested this from @tlmii - definitely a bug. We had similar issues previously with font-family as the UA tends to use `font` which can create issues w/ specificity.

[2021-03-15 16:37] Garbee commented on #4444
Yea, the polyfill isn't *great*. Also I do have some personal issues with the API design. Which are actually detailed on the WICG Discourse [1].

My only concern with not using it where possible is, developers can still use z-indexing to put things on top of the dialog and/or the backdrop. For example, at our company they want toast notifications to be on top rather than using inline form error ha

[2021-03-15 18:38] litteredwitherrors opened #4465 "Add more examples to Skeleton component in Explorer"
**What feature are you requesting?**

Additional examples for the skeleton component that showcase different ways to used them, as well as showing the shimmer effect.

**What would be the benefit of adding this feature?**

This would allow users to better understand how to use the FAST Skeleton component.

[2021-03-15 20:46] #4450 closed

[2021-03-16 02:12] chrisdholt opened #4468 "RFC: Update fast-eslint-rules to better accommodate our needs"
The `fast-eslint-rules` package includes several rules as "on" which we appear to override in nearly all of our packages. While others can extend our eslint configuration, I think it's reasonable to ensure that our base set of rules meets our needs. This issue proposes updating the default rules to limit the amount of overrides we make on a per-project basis - let's reset the rules to ensure they

[2021-03-16 18:19] radium-v commented on #4468
It would be great if we could include `override` entries for the various JavaScript files throughout - things like babel, karma, rollup, and webpack configs, as well as build and utility scripts that run in a `node` context.

[2021-03-16 22:11] nicholasrice commented on #4381
Revisiting this now that #4390 has gone in.

The complication for this feature comes primarily from the `styles` data and potentially the `attributes` data. In practice I don't think the `attributes` data will be edited often, but it does manifest as an array like styles.

To add and remove data from the definition's `styles` property, we need to expose some mechanism to *concat* and *filter* the

[2021-03-17 11:07] sridharkrishna commented on #4463
FYI, I had used rollup JS for bundling purposes.

[2021-03-18 18:09] #4410 closed

[2021-03-18 23:11] nicholasrice opened #4478 "Allow `ComposableStyles` to be interpolated into an `ViewTemplate`"
A scenario brought up in the community channels is how, with injected templates, to add additional CSS for the template. The specific scenario involved the injected template being injected directly into the `repeat` directive. The author was using a `<style>` element in the template which works, but isn't performant for obvious reasons.

A thought I had was that we could leverage the binding synta

[2021-03-21 09:19] tech4GT commented on #3953
Hi @scomea is this issue still active? I would like to work on this 😄

[2021-03-22 14:17] vaudy opened #4482 "Add OS specific behaviour to select component"
**What feature are you requesting?**
On OSX a select option is only committed by pressing Space or Enter key while pressing Escape revert to the previous value.

**What would be the benefit of adding this feature?**
As a user, I would like a select to behave the same as my OS select behave

**What solution would be ideal for you?**
Reset previous value when
 - Pressing Escape
 - Clicking outside

[2021-03-22 15:50] scomea commented on #3953
@tech4GT Sure.  The important thing to remember is that template bound events invoke prevent default on the event by default (https://www.fast.design/docs/fast-element/declaring-templates#events) unless the call returns true which can be confusing.  Looking at the current state of the handleKeyDown() handler in tree item it always returns true and preventDefault has been added to the up/down key e

[2021-03-23 05:30] #4213 closed

[2021-03-23 21:38] tech4GT commented on #3953
@scomea I see! That makes sense! So the solution here would be to have a default case within the switch which returns true rather than breaking out and returning true every single time, correct?

Something like this
[code]

[2021-03-23 21:41] tech4GT commented on #3953
Also, I suppose we can also get rid of the explicit `e.preventDefault()` statements now that we would not be returning true in case one of those keys is pressed?

[2021-03-24 05:28] nmetulev commented on #4463
We are also running into this issue. Even though [tabbable exports an es module](https://github.com/focus-trap/tabbable/blob/master/package.json#L6), it is not picked up by rollup or other bundlers. We are also running into this with [@web/dev-server](https://www.npmjs.com/package/@web/dev-server).

I wonder if an option here is to reference the esm module directly when [importing tabbable](https:

[2021-03-24 16:19] scomea commented on #3953
@tech4GT Yes, a handler for template events should use the return values instead of calling preventDefault directly.

[2021-03-24 17:02] tech4GT commented on #3953
@scomea Thanks for your help! I've opened a pull request #4489

[2021-03-24 18:39] EisenbergEffect commented on #4084
@chrisdholt I wanted to draw your attention to this. This came up during our sync today with the Blazor folks. It would be nice to have this as an HTML attribute so that it can be set from HTML by Blazor. If it's only a property, Blazor can't set it and their customers would be forced to a JS interop layer for any checkbox they need to use this on, which isn't ideal.

[2021-03-24 18:49] chrisdholt commented on #4084
Thanks @EisenbergEffect - curious if this is the case w/ standard inputs as well where this is still only an IDL attribute.

[2021-03-24 19:41] EisenbergEffect commented on #4084
I think it's a property but not an attribute on built-ins. Per Nick's comment...this actually seems like an odd thing for the platform. We should probably bring it up with the HTML folks as something to address. In Blazor's case specifically, they can technically only call the `setAttribute()` API. So, if it's not an attribute, their customers can't set it without custom JS interop.

[2021-03-24 19:45] chrisdholt opened #4490 "Missing ARIA roles in fast-tooling navigation menu"
The following bug was found during an automated accessibility scan using Accessibility Insights for web.

**ARIA Required Parent: Ensures elements with an ARIA role that require parent roles are contained by them**
The Navigation Menu component includes items with a role of `menuitem` but is missing a required parent (menu or menubar respectively) for those roles.

**What behavior did you expect?*

[2021-03-24 19:49] chrisdholt commented on #4084
I'm good making this change, I think I'll also bring up an issue in Open-UI to elevate it there. Let's definitely track this as a larger HTML Platform improvement that's needed. Alternatively, they may push back and if so this seems like it would be an issue for Blazor all up. I'm good with making this change. We'll get it slotted.

[2021-03-24 19:52] EisenbergEffect commented on #4084
There might be a similar type of issue with the listbox value or selectedindex as well. @nicholasrice is going to be working on the Blazor wrapper stuff and will be able to provide more details and he proceeds. All-in-all we think that working with Blazor is going to help us find little things like this that we can do to improve the components. Many of these fixes should also make things better fo

[2021-03-24 19:53] chrisdholt opened #4491 "Incorrect ARIA for Navigation Menu Items in fast-tooling"
The following bug was found during an automated accessibility scan using Accessibility Insights for web.

**aria-valid-attr-value: Ensures all ARIA attributes have valid values**
Navigation Menu Items include an attribute of aria-controls which is pointing to an ID which does not exist.

**What behavior did you expect?**
`aria-controls` is used only when needed and correlates to an ID on the docum

[2021-03-24 20:53] chrisdholt opened #4492 "RFC: Remove Code Climate from CI processes"
This is a fairly straight forward RFC on removing Code Climate from our CI toolkit. Code Climate wasn't working for a bit and it's resurgence has revealed issues which seem to make it *less helpful* overall.

### Why should we remove Code Climate?
1. **Causing more confusion than help** - currently we have regular confusion as to whether code climate issues are *required* for being fixed, why they

[2021-03-24 21:02] janechu commented on #4492
During the time it was disabled, I can't say it was missed. I agree with all the points @chrisdholt raised, especially #3.

This being a mono repository, there are quite a few duplications in particular which are purposeful and necessary to prevent a rats nest. That's just a single example, there are other examples that come to mind and ultimately it creates more work than it helps solve potential

[2021-03-24 21:08] SethDonohue commented on #4492
I have noticed the comments it adds to PRs and they don't seem very helpful. To reiterate your point, I could see them being confusing to all users, but especially to first-time contributors.

[2021-03-24 21:13] awentzel commented on #4492
While these are valid concerns, without code climate we have no way to measure and educate around code quality.  Code Quality is the fundamental best method we currently have to help market and advertise how the work we do compares to other open-source projects and our competitors.  Additionally, it provides great tips based on industry best practices for new engineers to learn how to write high-q

[2021-03-24 22:39] radium-v opened #4493 "Lock yarn to a specific version"
**What feature are you requesting?**
Use `yarn policies set-version` to enforce a single version of Yarn across the monorepo.

**What would be the benefit of adding this feature?**
This would ensure developers are all using the same version of Yarn while working within the project.

**What solution would be ideal for you?**

1. Add an `engines` property to the root-level `package.json` to ensure t

[2021-03-25 13:56] vaudy opened #4494 "Add "value" attribute to Select component"
**What feature are you requesting?**
Doing proper binding in form when a model is involved

**What would be the benefit of adding this feature?**
Reloading persisted data without having to apply `selected` attribute on options when model equals option value.

**What solution would be ideal for you?**
Driving the selected option using the select "value" attribute while `null` select's the first non

[2021-03-25 17:01] Ibrahimmaga opened #4495 "window validation is failing"
**Describe the bug; what happened?**
Window validation failing since this work was completed on @microsoft/fast-component-explorer: https://github.com/microsoft/fast/pull/4457
![image](https://user-images.githubusercontent.com/14119043/112510989-3a997380-8d4f-11eb-80c6-ef1556b5caba.png)

**What are the steps to reproduce the issue?**

Example:

1. Go to '...' Github actions
2. Click on '....' Fast

[2021-03-25 17:59] williamw2 commented on #4495
These errors appear to be in untracked files that are auto-generated as part of the build process. Maybe some sort of caching problem in the test environment? Has the build process changed?

[2021-03-25 18:16] Ibrahimmaga commented on #4495
no. look at the first screenshot. it is trying to find a module in fast explorer
![image](https://user-images.githubusercontent.com/14119043/112522372-c533a000-8d5a-11eb-9d68-c52db2b82c4b.png)

and here the changes in fast explorer files https://github.com/microsoft/fast/pull/4457/files. Perhaps there may be a module needed that has been deleted.

[2021-03-25 18:45] williamw2 commented on #4495
None of the \sites\fast-component-explorer\app\fast-components\configs\*.ts files where modified by the PR and the module files that are not found are in the /.tmp/ folder which is not tracked by GIT and are auto-generated. The /.tmp/accordion/scenario file states "// Generated file from ./build/convert-scenarios.js".
There is a "clean:tmp" and "convert:scenarios" scripts in the package.json which

[2021-03-25 18:48] Ibrahimmaga commented on #4495
Oh! thanks for the clarification. Let wait on Jane and see if she can come up with something

[2021-03-25 19:17] vaudy commented on #4494
Another tentative was to set select value programatically within the connectedCallback and didn't work either
`next` value was '15' but gets reseted at L96

<img width="1219" alt="Screen Shot 2021-03-25 at 3 16 43 PM" src="https://user-images.githubusercontent.com/1149156/112530737-2d937900-8d7d-11eb-9b0a-1a4147a0d2bb.png">

[2021-03-25 19:22] chrisdholt commented on #4463
@sridharkrishna @nmetulev are these in bundles you're creating using Rollup? If so, I wonder if one approach would be to include the esm instance per the above. We generate a series of rollup bundles of all our components to be used as a straight script tag implementation and similarly, we need to export `fast-element` and `fast-foundation` specifically for the rollup bundles. An example of the ro

[2021-03-25 19:50] brookdozer opened #4497 "Inherited font-sizes move glyph positions in fast-flipper"
When `<fast-flipper>` is a child of any element with a font-size, the slots inherit the parent font-size which messes up the glyph positioning. You can even see it in the docs page: https://www.fast.design/docs/components/flipper/ where it the glyph is offset due to the 15.4px font-size.

**What are the steps to reproduce the issue?**
- Go to the [example codepen](https://codepen.io/brookdurant/pe

[2021-03-26 00:56] janechu commented on #4495
I've added a PR for it, seems like a very odd issue for windows to get caught up on, but hopefully this will resolve it.

[2021-03-26 01:58] janechu opened #4501 "Replace the NavigationMenu component with fast-components tree view"
# Abstract

The `<NavigationMenu />` used in the Component Explorer site should be replaced with `<fast-tree-view>` from the `@microsoft/fast-components` package. This should help unify the "look and feel" of the Component Explorer site which already uses several `@microsoft/fast-components`.

## Requirements

Replace the `<NavigationMenu />` in `sites/fast-component-explorer/app/explorer.tsx` wit

[2021-03-26 05:11] anjulgarg opened #4503 "FAST component observable doesn't work in create-react-app (Typescript)"
**Unable to make an observable re-render the template inside a typescript react app.**
(This might be a dumb question OR I might be missing something since I am fairly new to web components.)

"react": "^17.0.2"
"@microsoft/fast-components": "^1.19.1"
"@microsoft/fast-element": "^1.0.1"

**Steps to Reproduce**
[code]

[code]
<img width="1080" alt="Screen Shot 2021-03-25 at 10 09 26 PM" src="https:

[2021-03-26 05:32] nmetulev commented on #4463
I just noticed your dependency on `tabbable` is for version 4 which doesn't support es modules. I'm wondering if updating `tabbable` to the latest (5.1.*) will solve this issue?

Yes. We are also using es modules in the browser without bundling and the browser doesn't know what to do with `tabbable` either.

I was able to get a workaround working for us by importing your bundle as you suggested. I

[2021-03-26 15:54] sridharkrishna commented on #4463
In our use case, the commonjs plugin helps us to get successful build files, and it's working. Still, we have issues with es modules in the browser without bundling.

[code]

Fixed with:
[code]

[2021-03-26 22:59] Garbee commented on #4492
Is this really true? Does alternative tooling not exist that could be leveraged to supply the same relative data as Code Climate that could then be acted upon by custom CI logic?

WebStorm's project analysis for one seems to do at least some of the functions of Code Climate (duplicate code chunks across the codebase for example.) It at the very least could be leveraged in some way for CI if no oth

[2021-03-26 23:29] chrisdholt commented on #4492
Thanks @awentzel and @garbee for the thoughtful responses here. I think there's good things to consider and I have some thoughts I'll add below:

I think code quality is important, but I'd argue that we have some fantastic engineers contributing to the project who are catching much of this in their own. In several PR's recently and without the help of code climate, we've had folks call out improve

[2021-03-27 23:07] EisenbergEffect commented on #4503
This is extremely odd. Can you share your project by any chance?

[2021-03-27 23:12] EisenbergEffect opened #4508 "bug: fast-number-field does not fire input event when buttons pressed"
**Describe the bug; what happened?**

The input event is only fired when typing into the number field. When incrementing/decrementing via the up/down button no event is fired. We should fire an input event in this case, otherwise there's no way to consistently know when the value is changing.

**What are the steps to reproduce the issue?**

1. Create a fast-number-field
2. Add an `input` event lis

[2021-03-29 03:32] anjulgarg commented on #4503
Don't really have a project I can share. But I tried it multiple times and was able to replicate the issue every time.

[2021-03-29 15:16] Ibrahimmaga opened #4509 "Release pipeline with ADO"
**What feature are you requesting?**
We have CI-Publish that will publish to npm once a day on schedule. Need to add publishing with ADO as well.

The intent is an internal only push button NPM publish such that nobody has to publish manually.  They simply go to a project / ado page and trigger a publish.

**What would be the benefit of adding this feature?**
This feature will allow to trigger CI-

[2021-03-29 17:05] #3992 closed

[2021-03-29 17:31] brookdozer commented on #4497
Bringing over comments from the PR to track them here in the bug.

 @scomea said:

 @chrisdholt said:

[2021-03-29 17:36] brookdozer commented on #4497
::slotted(svg) doesn't work because `previous` and `next` parts are spans that inherit the parent font-size and the slotted content is in those parts.

[2021-03-29 17:49] radium-v commented on #4494
This is the same behavior exhibited by the native HTML `select` element:

https://html.spec.whatwg.org/multipage/form-elements.html#dom-select-value

[2021-03-29 17:57] radium-v commented on #4497
Since `previous` and `next` are spans, adding a `display` of `flex`, `inline-flex`, `grid`, or `inline-grid`, to `.next, .previous` fixes this.

Alternatively, giving the `svg` in the `previous` slot a `display` of any non-`inline` type will work as well.

[2021-03-29 17:59] Garbee opened #4510 "Docs: Provide guidance on Content Security Policy rules"
Content Security Policy is an important part of web apps being more secure in deployment. Fast should provide a documentation page providing known limitations and guidance for how to avoid CSP issues in restricted environments. It does not need to be all inclusive to start. Just a few of the current known things with examples. The resource is expected to grow as more things are tested and discover

[2021-03-29 18:04] #4495 closed

[2021-03-29 19:05] nicholasrice commented on #4503
@anjulgarg is this using create-react-app? There are known integration issues with that package and property decorators.

[2021-03-29 19:07] anjulgarg commented on #4503
Yes. I used the guide here.

[2021-03-29 22:16] anjulgarg commented on #4503
Thanks for that info @nicholasrice
I will try setting react from scratch, and see if the issue goes away.

[2021-03-30 04:15] scomea commented on #4035
How about we do this to lessen some of the pain for dialog:

- add attributes/properties to dialog for the start/end elements of the tab queue that authors can set, either by passing an element reference or id.
- use the provided elements to manage the queue, but keep the tabbable system in place so we don't break existing implementations.

Here's a working branch:
https://github.com/microsoft/fas

[2021-03-30 14:17] vaudy opened #4514 "Select accessibility issue with screen reader"
**Describe the bug; what happened?**
When using a screen reader for accessibility, the navigation over options using they keyboard arrow didn't tell on which option we are.

**What are the steps to reproduce the issue?**

1. Activate accessibility on you computer
2. focus a select component
3. Press space to open it
4. Use the arrow key to navigate over an option
5. No voice over is telling me whi

[2021-03-30 14:24] vaudy commented on #4514
Here's an example on the expected behaviours thanks https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select

[2021-03-30 16:12] #4497 closed

[2021-03-30 16:30] chrisdholt commented on #4514
Thanks for the issue @vaudy - I do repo the issue on options as I'm on a Mac, though I will say that VoiceOver is notoriously unreliable as a screen reader. We've built to the W3C ARIA specification for a select only combobox, which does seem to be recognized. I think our first steps here is to see if this repro's on other assistive technology which is aligned to the current ARIA 1.2 spec.

[2021-03-30 17:33] #4348 closed

[2021-03-30 19:19] eljefe223 opened #4517 "Progress value of 0 is indeterminate"
**Describe the bug; what happened?**

When progress value is set to `0` progress goes into its `indeterminate` state. `0` should be a `determinate` value.

https://stackblitz.com/edit/fast-progress?file=src/progress-app.ts

[2021-03-30 21:54] #4369 closed

[2021-03-30 22:43] Garbee commented on #4510
Initial rough draft is available for review/commenting. I have a feeling this is a bit out from being decent enough for inclusion. Solid start though.

Reference: https://hackmd.io/@Garbee/Hk8qLm-Su

[2021-03-31 13:30] vaudy commented on #4494
You're right. My concern was more about driving the component with a model value. I found a workaround, thanks

[2021-03-31 13:30] #4494 closed

[2021-03-31 17:09] nicholasrice opened #4521 "DirectionalStyleSheetBehavior does not fail gracefully"
[DirectionalStyleSheetBehavior](https://www.fast.design/docs/api/fast-foundation.directionalstylesheetbehavior) implicitly relies on a `direction` design system property being defined in the DesignSystemProvider, but does not throw an intuitive error or otherwise fail gracefully when no `direction` property is defined. Instead, it will try to add an `undefined` value as styles to the component, re

[2021-03-31 19:11] #4517 closed

[2021-03-31 19:21] radium-v commented on #4035
The latest version of Tabbable also includes `focusable` and `isFocusable` functions that I'm using in the toolbar component. For some reason if you wait for the element's `$fastController.isConnected`, then `isFocusable` seems to work with components.

[code]

[2021-03-31 22:51] scomea commented on #4035
@radium-v  Even without setting tab index to 0?

[2021-04-01 16:45] nicholasrice opened #4531 "Add template event binding support for addEventListener options (capture, once, signal, passive)"
`@microsoft/fast-element` event binding does not currently provide opportunity to bind events with the [EventTarget.addEventListener](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener) options. I've *captured* some good discussion from the discord channel on this topic below:

[12:12 PM] John Kreitlow: is there any way to enable capturing when using a template event han

[2021-04-01 17:13] EisenbergEffect commented on #4531
Pun appreciated 😉

[2021-04-01 17:16] EisenbergEffect commented on #4531
Note to self...we should built this in an extensible way so that things like debounce can be easily plugged in as well. This may require some formalization of how the HTMLBindingDirective is implemented internally to allow for controlling how the event is attached and how the target method is invoked.

[2021-04-01 17:52] anjulgarg commented on #4503
@nicholasrice I can confirm that decorators work when I created a react typescript from scratch and setup a custom webpack configuration.
It would be great if we can have this explicitly mentioned in FAST docs. :)

[2021-04-01 21:16] radium-v commented on #4035
@scomea The experiment in my previous comment actually broke tests for proceeding elements in our test suite (the `async` part, though the check for `$fastController` may still be viable).

One possible way I've been thinking about could be to look for a specific `ref` property - so far `control` seems to be the most prevalent in foundation. Other than that, I haven't been able to find any intrins

[2021-04-01 21:24] EisenbergEffect commented on #4035
If we do our own implementation, we could add a registry so that any tag could be added to a known list. We could even add a special decorator in foundation that lets us decorate components so that they get added to the registry, or something along those lines. In this was, we could make it work with our components, establish a pattern for people building on top of FAST, and still have a way for a

[2021-04-01 22:23] chrisdholt commented on #4035
This is intriguing to me because it could scale across multiple components. The registry knows what is focusable. The registry is used for Dialog (traps focus) Flyout (non-modal dialog traps focus), toolbar, OR any other component someone else makes that *we* don't know about.

[2021-04-02 01:25] scomea commented on #4035
Sorry, I think a registry would be fine if we only had to worry about a narrow list of component tags but I get the impression the global list of web components could get huge and make the approach unwieldly.  And then there's the closed mode problem. The more I look at this the more I think that any good solution is going to require platform help to give us a better hooks into the tab queue (whic

[2021-04-02 09:32] scomea commented on #4035
What I propose is this.
-	Any base component that implements a contained tab queue, such as dialog, exposes two attributes/props that correspond to the first and last elements of the tab queue.
-	If it gets a string we look for an element id in the light dom.  This will actually cover most cases, be fast and relatively bulletproof.
-	If it gets an element reference we use that.
-	If it gets a func

[2021-04-02 19:48] EisenbergEffect commented on #4492
@awentzel Perhaps we can disable this for now in order to remove the friction for the team. Then take a task to research alternative solutions. These could even be command line tools that we run over specific parts of the codebase as needed. For example, pulling GitHub data or analyzing dependency trees via webpack plugins.

That said, let's make sure you have the data you want for your upcoming D

[2021-04-03 17:17] stefcameron commented on #4035
👋 Hi folks, I'm the [tabbable](https://github.com/focus-trap/tabbable) maintainer. I noticed our issue https://github.com/focus-trap/tabbable/issues/50 had been tagged by this issue. Interesting problem! Disclaimer: While I do understand the basic concept of web components and the shadow DOM, I don't know FAST, and I have no experience really working with web components.

I like what @scomea is pr

[2021-04-04 02:32] janechu opened #4537 "When a value for FASTSlider is updated the thumb position does not move to the corresponding location"
**Describe the bug; what happened?**

After implementing the `<fast-slider>` there was a requirement to update the `value` attribute from a secondary source. When this is implemented, although the value can be implemented from the `<fast-slider>` when updating it from another source it will not show the correct position of the thumb.

**What are the steps to reproduce the issue?**

Example:

1. Im

[2021-04-05 15:16] #4405 closed

[2021-04-05 15:18] EisenbergEffect commented on #4503
Turned into a docs request and assigned to @nicholasrice

[2021-04-05 17:26] awentzel opened #4540 "Add CI/CD pipeline for publishing FAST Nugget packages"
This pipeline will publish FAST Web Components for use on .NET Blazor ecosystems.

~~1. Enable manual GH Action to publish
2. Major/Minor will likely match FAST
3. Patch could be more C# related
4. .NET repository that will facilitate this work https://github.com/dotnet/blazor-fluentui
5. Need an account and permissions to use Nuget.
6. Publish for [Nuget](https://www.nuget.org/)
7. Additional not

[2021-04-05 18:01] Ibrahimmaga opened #4541 "Add check changed (check change should fail on PR)"
**What feature are you requesting?**
Check change is not failing on PR at this time

**What would be the benefit of adding this feature?**
Check change will validate if there is a change in the package (Chris will provide more info)

**What solution would be ideal for you?**
developer should generate the change file, and there should be no failure on PR

**What alternatives have you considered?**

[2021-04-05 20:44] robarbms opened #4543 "bug: horizontal-scroll doesn't update when content is delay loaded"
**Describe the bug; what happened?**
When an empty horizontal-scroll component delay loads content,

**What are the steps to reproduce the issue?**
Create <fast-horizontal-scroll><fast-flipper></fast-flipper></fast-horizontal-scroll>
Ajax content into the component.
Flippers do not show up.

**What behavior did you expect?**
The scroll flippers should show up once content is loaded.

**If applicab

[2021-04-05 21:05] #3495 closed

[2021-04-06 02:59] janechu opened #4546 "Update fast-tooling test dependencies to use mocha and chai"
# Description

Remove `jest` as a dependency for `fast-tooling` and rely on `mocha` and `chai` to align testing strategies with the `web-components` package.

## Requirements

- Remove `jest` as a dependency for `fast-tooling`
- Add `mocha` and `chai` as devDependencies
- Update syntax for `.spec` files to reflect this change

[2021-04-06 03:03] janechu opened #4547 "Add karma and preliminary tests to fast-tooling"
# Description

Add `karma` as a devDependency and use it to test web components in the `@microsoft/fast-tooling` package.

Relies on #4546 and the completion of #3775 and related work to create a web component for initial testing using `karma`.

## Requirements

- Add `karma` as a devDependency

[2021-04-06 03:03] chrisdholt opened #4548 "Update `fast-web-utilities` test dependencies to rely on mocha and chai"
# Description
Similar to #4546.

Remove `jest` as a dependency for `fast-web-utilities` and rely on `mocha` and `chai` to align testing strategies with the `web-components` package.

## Requirements

- Remove `jest` as a dependency for `fast-web-utilities`
- Add `mocha` and `chai` as devDependencies
- Update syntax for `.spec` files to reflect this change

[2021-04-06 18:33] #4541 closed

[2021-04-06 19:30] ScottKane opened #4551 "fast-select tabindex="0" forced - Bug?"
I have started using fast on a larger scale application where accessibility is a bigger concern, I was putting together a form and noticed that all fast-selects get tabindex="0" but it's not even just by default, you can't override it at all. Is this a bug?

[2021-04-07 16:20] Ibrahimmaga opened #4556 "rfc: follow up on beachball publish"
# 💬 RFC

beachball publish failed due to access restriction
## 🔦 Context
![image](https://user-images.githubusercontent.com/14119043/113899223-6ff78580-9781-11eb-8661-7d28564bef50.png)

1. try to use --access public command and verify our credentials
2. have Chris use his credential
3. contact Ken from beachball team
4. research npm publish for organization
     Organizations allow teams of contri

[2021-04-07 16:31] scomea commented on #4035
@stefcameron What if tabbable could be called with a list of additional focusable tags?
For example  'this.tabbableElements = tabbable(myContainer, ["fast-button", "fast-checkbox"]);
This would help folks with the issue that focusable web components don't get included in your scan.

[2021-04-07 18:15] awentzel commented on #4556
I'm not sure the 4th item is relevant since we're part of Microsoft organization, we shouldn't have to worry about pricing plans, and we've already registered our service account with our organization NPMjs admin.

[2021-04-07 18:23] tlmii commented on #4038
Per discord discussion, I'm adding the details of my scenario that falls under the "... but not other cases, ..." comment in the OP's comment.

In my case, my dialog is hidden initially, so when tabbable is called to determine which children should be in the tabbableElements list, it returns nothing. That's expected behavior with [tabbable](https://github.com/focus-trap/tabbable):

But there's no

[2021-04-07 18:42] Ibrahimmaga commented on #4556
Ken confirm that we should use --access public command  to not be restricted

[2021-04-08 04:42] idoros commented on #4035
I don't think it's a problem to implement.

I assume you mean tags that represent elements that have shadow dom that needs to be scanned for potentially tabbable elements, not definitely tabbable elements themselves.

[2021-04-08 16:33] scomea commented on #4035
@idoros No, this would be additional elements that are focusable.  For example a "<fast-button>" is a focusable element but tabable does not recognize it as such unless we decorate it with a tabindex of 0.  My thinking is that authors could pass in a list of focusable web components included in their project.  The issue of focusable elements within a shadow dom isn't addressed by this (and persona

[2021-04-08 16:43] stefcameron commented on #4035
@scomea How does the browser recognize these elements as being focusable if they aren't natively focusable, and don't have a tabindex?

[2021-04-08 16:47] chrisdholt commented on #4035
@stefcameron Certain components such as `fast-button` or `fast-anchor` leverage the delegatesFocus API from the platform to pass focus to elements within the shadowRoot rather than the host itself: https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot/delegatesFocus

[2021-04-08 16:52] scomea commented on #4035
Random thought - is scanning for elements that implement "delegatesFocus" a viable approach?

[2021-04-08 17:04] EisenbergEffect commented on #4035
I don't believe you can get that metadata from an arbitrary web component. It goes into the config but there's no way to get it back out that I know of. We can add APIs to FASTElement to make these discoverable for our own components but I don't think there's a general way to do it.

My idea behind the registry is that there could be an API to let the developer tell us what elements did this. We c

[2021-04-08 17:10] idoros commented on #4035
Implementating a list of custom elements to add to the candidate tabbable list is easy.

However I would like to implement support for resolving the list of tabbable elements within shadow doms as well. I wonder if a focus delegating element should be included in the result list if we also figure out its internal tabbable shadow elements.

I have no problem implementing an initial support for reso

[2021-04-08 17:30] radium-v commented on #3136
Here are some defaults I'm thinking about:

[code]

[2021-04-08 18:03] nicholasrice opened #4566 "fix: boolean attributes not overriding default property values in fast-element"
# 🐛 Bug Report
Min Repro: https://stackblitz.com/edit/typescript-bxsxvb?file=index.ts

## 💻 Repro or Code Sample
1. Define an custom-element with some attribute with `mode="boolean"`, with the default value assigned `true`
2. Define another custom-element that renders the above element into it's shadow DOM. Use boolean template binding syntax to assign the attribute a `false` value.

## 🤔 Expected

[2021-04-08 19:35] scomea commented on #4035
@idoros Happy to help test/validate any solution you come up with.  I'm not yet clear on how challenging the "scanning shadow doms" issue is, particularly when they are closed.

[2021-04-08 22:26] nicholasrice commented on #4566
This behavior is a byproduct of some DOM changes being routed through `DOM.queueUpdate` while others are not. At a high level, what is happening in the above min-repro is:

1. The element constructor sets the `trueBoolAttr` property value to `true`, which kicks off a `DOM.queueUpdate()` from `AttributeDefinition.tryReflectToAttribute` to set the attribute value. At this point the *property* value

[2021-04-09 01:03] #4546 closed

[2021-04-09 01:03] #4547 closed

[2021-04-09 06:32] idoros commented on #4035
I don't believe there is any automatic solution with closed mode components. The best we can do is imagine some optional interface, like you described above, that such a component can expose to help navigate its internal focus (not sure if that means exposing internal elements references, as that would bypass the "closed mode").

Another issue that I'm thinking about is slotted elements, they are

[2021-04-09 14:55] stefcameron commented on #4035
Thanks for the reference, @chrisdholt . MDN states this is an experimental API, and it's not supported across all browsers tabbable supports. That makes me favor a more explicit solution, like telling tabbable what additional nodes it should consider focusable, rather than trying to infer it, since we couldn't infer it reliably for all supported browsers.

Not all focusable nodes are tabbable, how

[2021-04-09 15:58] EisenbergEffect commented on #4566
Hmm. I think this is the correct fix, but I'm not 100% confident. I think we may need to spend some time reviewing this part of the system. I wonder if the internals of the AttributeDefinition should handle dom reflection different or if the Binding should queue but only in particular cases, or if this is an issue that's present only during initial bind, etc. @nicholasrice Do you have any time nex

[2021-04-09 17:01] nicholasrice commented on #4566
Yea I'll poke around more. This seems to be be primarily an issue during initial binding and construction, but I suppose it could manifest anytime the property value is set simultaneously as the template compiler sets the attribute, where both values are different.

[2021-04-09 20:37] #4548 closed

[2021-04-12 06:50] hkusulja opened #4576 "add sort feature to data-grid component"
# 🙋 Feature Request

data-grid component should have and support sort feature per column.

[2021-04-12 16:20] Ibrahimmaga opened #4579 "rfc: The total coverage in the repository is 78.7% (0.0% change) drop from 85.2%"
# 💬 RFC
Improve code coverage with code climate

## 🔦 Context
better code coverage means lower technical debt

## 💻 Examples
Code Climate has analyzed commit 6a9ead7 and detected 0 issues on this pull request.

The test coverage on the diff in this pull request is 100.0% (50% is the threshold).

This pull request will bring the total coverage in the repository to 78.7% (0.0% change).

View more on

[2021-04-12 18:08] jchen790 opened #4581 "fix: selected option is not visible when dropdown is opened in fast-select"
# 🐛 Bug Report

## 💻 Repro or Code Sample

1. Create fast-select
2. Pass in a valid value for `selectedIndex`
3. Open dropdown to see all options
4. Dropdown does not open to selected value

## 🤔 Expected Behavior

When opening the dropdown, the selected value should be focused and in view.

## 😯 Current Behavior

The component seems to be trying to focus and scroll before the dropdown is fully re

[2021-04-12 18:20] nicholasrice opened #4582 "feat: add `tryGet()` method to dependency-injection `Container`"
# 🙋 Feature Request

Let's add a `tryGet()` method to `Container` so that authors can try to get a DI key value that may not exist without try/catching.

## 🔦 Context
PR conversation: https://github.com/microsoft/fast/pull/4580/files/1066544db1748a8353b39c644aa73aa1f45ad076#r611828395

[2021-04-12 20:10] awentzel commented on #4509
Closing this issue as it's now being implemented on GitHub and using 'action', the person logged in, to validate and ensure publishing only occurs by those whom are allowed to publish.

[2021-04-12 20:10] #4509 closed

[2021-04-12 20:27] EisenbergEffect commented on #4579
I don't think we need an issue for this.

[2021-04-12 20:27] #4579 closed

[2021-04-12 20:29] EisenbergEffect commented on #4576
Ping @scomea

[2021-04-12 22:50] scomea commented on #4576
This should be achievable now by authors hooking up handlers to a header element that sorts the rowsData array they provide to the data-grid component.

I think there are a number of cool base grid features like this one, re-ordering columns, resizing columns, etc... that should be conveniently packaged up but I'm not sure if they are best implemented in the foundation classes or left to classes d

[2021-04-13 15:10] Ibrahimmaga opened #4586 "fix: macs os network failure"
# 🐛 Bug Report
Trouble with network connection on mac

## 💻 Repro or Code Sample
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
error An unexpected error occurred: "https://registry.yarnpkg.com/rxjs/-/rxjs-6.6.3.tgz: ESOCK

[2021-04-14 16:30] ameyasubhedar commented on #4248
@nicholasrice, any update on the fix or the timeline. Check box is a basic component and needs to support model binding for asp.net applications.

[2021-04-14 16:44] maloo opened #4589 "fix: change default cancellable to true in $emit"
# 🐛 Bug Report

Currently it is not possible to cancel change/input/... events from fast components because all events are not cancellable by default. This prevents a custom web component (FAST or other) to contain events from events originating from elements in the shadow dom of the custom component. One example is a composite component with two fluent inputs, say a slider and a numeric field for

[2021-04-14 16:44] maloo commented on #4589
@EisenbergEffect

[2021-04-14 19:12] scomea commented on #4035
I've pushed up a draft PR with the changes I proposed.  Still need to add tests, but open for comments/feedback.

[2021-04-15 00:03] bekell opened #4594 "Accessibility: Pane Separator incorrectly reports aria-valuenow"
Pane separator component had aria-valuenow added to it here: https://github.com/microsoft/fast/issues/3231

However, there are some issues with the current implementation.

1. Using the keyboard, aria-valuenow can be set below and above aria-valuemin and aria-valuemax. To reproduce, use the keyboard arrows to move the separator to the min & max values, notice aria-valuenow goes above & below the v

[2021-04-15 00:09] chrisdholt commented on #4594
Hey @Bekell - We've deprecated the package that the pane was in, so closing this as it's no longer pertinent to this repository.

[2021-04-15 00:09] #4594 closed

[2021-04-15 15:44] m4thieulavoie opened #4595 "fix: remove disabled stylings in anchor component"
# 🐛 Bug Report

I noticed that adding the `disabled` attribute to the anchor component styles it, where it has no disabled logic whatsoever.

You can track the discussion in [discord](https://discord.com/channels/449251231706251264/449251231706251266/832239386195394560)

## 💻 Repro or Code Sample

You can try it [here](https://explore.fast.design/components/fast-anchor)

## 🤔 Expected Behavior

No

[2021-04-15 19:17] scomea commented on #4035
PR is ready for review.

[2021-04-16 02:49] awentzel commented on #4540
Blocked until Thursday April 22, when contact returns to office to give permissions for .net foundation.

[2021-04-16 03:02] janechu opened #4601 "Convert Shortcut unit tests async"
# Description

The tests for the Shortcuts service must be async or they will cause other tests to not be run, or to throw errors.

## Requirements

- Convert the tests in `shortcuts.service.spec.ts` to `async` and ensure the tests do not skip over other tests
- Remove the file from the ignore glob in karma.conf.js

[2021-04-16 03:04] janechu opened #4602 "Convert Monaco Adapter unit tests to be async"
# Description

The tests for the Monaco Adapter service must be async or they will cause other tests to not be run, or to throw errors.

## Requirements

- Convert the tests in `monaco-adapter.service.spec.ts` to `async` and ensure the tests do not skip over other tests
- Remove the file from the ignore glob in karma.conf.js

[2021-04-16 03:06] janechu opened #4603 "Convert Ajv validation unit tests to be async"
# Description

The tests for the Ajv Validation service must be async or they will cause other tests to not be run, or to throw errors.

## Requirements

- Convert the tests in `ajv-validation.service.spec.ts` to `async` and ensure the tests do not skip over other tests
- Remove the file from the ignore glob in karma.conf.js

[2021-04-16 04:57] janechu opened #4604 "Increase code coverage of tooling to 100 across statements, lines, branches and functions"
# Description

Increase the code coverage of the `fast-color-picker` to `100%` across all statements, lines, branches, and functions.

## Requirements

- Change the `karma.conf.js` file to use global coverage thresholds of statements, lines, branches and functions to 100
- Add the necessary tests to pass these new requirements for the `fast-color-picker`

Note: this must be done after #4558 has be

[2021-04-16 22:26] williamw2 opened #4608 "chore: add test coverage for native definitions in fast-tooling"
# 🙋 Feature Request

Code in /packages/tooling/fast-tooling/src/definitions/native/html-native.definition.ts needs test coverage after PR #4607 is merged.

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 💻 Examples

[2021-04-19 15:48] chrisdholt commented on #4325
Looks like this was closed w/ #4338

[2021-04-19 15:48] #4325 closed

[2021-04-19 15:50] chrisdholt commented on #4420
@khamudom can you take a look at this?

[2021-04-19 23:05] janechu opened #4613 "feat: add override capability to the CSS control in @microsoft/fast-tooling-react"
# 🙋 Feature Request

Create a multi-property modular controls override system for the CSS control.

## 💁 Possible Solution

The ability to override the CSS control should follow the API provided in the `control.css.md` spec.

## 🔦 Context

The update should allow new controls to be created which would change one or more CSS properties at once, giving greater flexibility to the CSS control. Without

[2021-04-20 20:45] #4420 closed

[2021-04-22 20:22] awentzel opened #4626 "Add additional release channels"
Enhance our nightly publishing strategy to include additional channels as FAST packages mature over time using [beachball](https://microsoft.github.io/beachball/).

#### Publish to NPM
Links for inspiration.
- https://github.com/danillouz/til-npm-release-channels

#### Dependency
[This](https://github.com/microsoft/beachball/issues/429) feature is required for FAST to add additional tags with meta

[2021-04-22 20:39] awentzel commented on #3872
The hardest part of this work is completed.  I've started a new issue #4626 for the remainder of the future when the dependency is completed by Beachball.  All important remaining details from this have been moved to the new issue.  The rest is now considered complete.  Closing this issue.

[2021-04-22 20:39] #3872 closed

[2021-04-22 20:45] Ibrahimmaga commented on #4626
we need to set up a meeting on tagging again. Last time it was a little confusing whether to use canary, dev or latest

[2021-04-22 20:45] awentzel commented on #3889
This work has been completed.  The additional 'metadata' work will be completed during #4626 work in the future.

[2021-04-22 20:45] #3889 closed

[2021-04-22 21:23] awentzel commented on #4540
Started working through email to get information on permissions.

[2021-04-22 21:55] #3833 closed

[2021-04-22 22:18] Ibrahimmaga commented on #4346
I believe the work recently done by Jane on testing is sufficient for all testing on fast tooling.  Also,  all test are being done line by line. we are not skipping anything. It's time consuming, but it's better to catch the error early than doing damage control.
I will ping Jane to see if she has something to add.

[2021-04-22 23:50] awentzel commented on #4280
Closing, as there are more recent scans making this moot.

[2021-04-22 23:50] #4280 closed

[2021-04-23 02:27] ashwinGokhale commented on #4503
I'm also having the same issue 😢. Is there any way to make it work with Babel + Typescript?

[2021-04-23 02:55] #4613 closed

[2021-04-23 05:18] ashwinGokhale commented on #4503
To give some more info, with legacy Babel decorators, the code compiles fine, but the decorators don't work because of how they are compiled as stated above ^:

[code]

When enabling the `decoratorsBeforeExport` option, the code compiles, but at runtime it throws an error:
[code]

Error thrown at runtime:
[code]

[2021-04-23 05:55] ashwinGokhale commented on #4503
Did some digging.

These are the Babel plugins I am using:

[code]

I think I found a bug in the way the `Observable` defines properties:
https://github.com/microsoft/fast/blob/master/packages/web-components/fast-element/src/observation/observable.ts#L148

The way that Babel transpiles the code, the parameters will be this:
![image](https://user-images.githubusercontent.com/21692499/115824379-b0c7

[2021-04-23 12:53] EisenbergEffect commented on #4503
It looks like you may be using the wrong version of decorators. There is no `kind` property, for example. That was part of the second proposal. There have been 5 or 6 proposals over the years. TS uses the very first proposal and has stayed there awaiting the stabilization of the language feature (which finally looks like it's happening after many years of work). I don't know the correct configurat

[2021-04-23 14:55] awentzel commented on #3543
This work is now completed and GitHub Releases should be updated nightly or as needed depending on what changes are being made each day.  Thanks.

[2021-04-23 14:55] #3543 closed

[2021-04-23 18:30] nicholasrice opened #4633 "feat: add partial CSS tagged-template literal to fast-element"
# 🙋 Feature Request
`@microsoft/fast-element` exposes the `css` tagged-template literal to create CSS documents that support's `ElementStyles`, `CSSDirective` and `string` interpolation. In implementation, each `ElementStyles` instances get's converted to a `CSSStyleSheet` instance, and this works for most purposes.

There are [some cases though](https://github.com/microsoft/fast/pull/4631/files#d

[2021-04-23 21:52] ashwinGokhale commented on #4503
I switched back to Babel legacy decorators:
[code]

I was able to find a workaround by creating my own `observable` decorator:

[code]

[2021-04-23 22:38] Ibrahimmaga commented on #4346
conversation to solve scripts:
- change lower level test to "test": "lerna run test",
- compare all build, test, prepare for all packages
- make sure they are not duplicating command
- make sure developer workflow is not impacted

[2021-04-23 22:45] Ibrahimmaga opened #4636 "rfc: prettier check should run before the build across pipelines for consistency"
# 💬 RFC

ci-daily, ci-weekly,
## 🔦 Context
Prettier check must fail the ci process if the code formatting is not complying.
1. some prettier checks are run before builds and some run after builds. for consistency, we want to run prettier checks before build.
2.  we also want the build to compile code when the prettier check has passed.  The other benefit, if a PR will fail on the prettier check, w

[2021-04-24 01:00] ashwinGokhale commented on #4503
Also possibly related, the `attr` decorator does not trigger rerenders when an attribute changes, but using the `attributes` array in the `customElement` decorator instead does work. @nicholasrice @EisenbergEffect Since I was able to get around the `observable` decorator issue, I feel like this might be a bug related to the implementation of the decorators.

[2021-04-26 18:21] awentzel commented on #4556
closed by #3889

[2021-04-26 18:21] #4556 closed

[2021-04-26 21:27] awentzel commented on #4492
I've deactivated the display of these informational notices on GitHub.  I'm putting in the backlog to verify these are removed. I also have had a ticket outstanding for a few weeks since this RFC was written and awaiting a response to get more information on usage including additional items I've been curious about.

[2021-04-26 21:29] awentzel commented on #4636
@Ibrahimmaga  Please elaborate on the problem and the solution in detail.

[2021-04-26 23:48] Ibrahimmaga commented on #4636
In some ci/cd we have prettier check before the build. There are some workflows that are checking prettier formatting after the build. It does not causing an issue,  but if prettier will fail, then if should fail before the build. It will save time.

[2021-04-27 18:24] m4thieulavoie opened #4642 "feat: add a label slot in the Select component"
# 🙋 Feature Request

As discussed [here](https://discord.com/channels/449251231706251264/482296787021856768/835220752226975764), I would like to request a label slot in the Select component, to give the same end result than the Text Field

## 🤔 Expected Behavior

A consumer can set a label in the Select component

## 😯 Current Behavior

## 💁 Possible Solution

Add an additional slot

## 🔦 Context

[2021-04-27 20:08] Ibrahimmaga commented on #4540
I saw a notification for package id: and project name that need to be updated. It should be in this issue right? I can't find it anymore

[2021-04-27 20:29] Ibrahimmaga commented on #4540
nevermind found it

[2021-04-28 14:06] Garbee commented on #4305
[web.dev](https://github.com/GoogleChrome/web.dev) is using Algolia as well. Statically generated site from 11ty. So seems like a good place to use for a search API in this situation.

[2021-04-28 15:41] scomea opened #4648 "bug: slot attributes are duplicated in component explorer sample site"
# 🐛 Bug Report

Code samples in the component explorer site that include "slot" attributes show duplicates.  You can see the issue with the tab and tree view component code samples.

![image](https://user-images.githubusercontent.com/7649425/116430605-d8270d80-a7fb-11eb-9277-87dbe47a0e46.png)

## 💻 Repro or Code Sample

See sample html generated here:
https://explore.fast.design/components/fast-ta

[2021-04-28 16:12] graycrow opened #4649 "bug: Active indicator highlights the wrong tab when activeid is changed via attribute in tabs"
# 🐛 Bug Report

When the active tab is changed via the `activeid` attribute instead of clicking on the tab, `handleActiveIndicatorPosition()` highlights the wrong tab because `prevActiveTabIndex` is no longer set properly in this case.

Also, not directly related to the bug, but the following calls are redundant because the same functions are called on the `activeidChanged` observer, and as a resu

[2021-04-28 23:35] janechu opened #4652 "fix: using setCustomValidity on form elements"
# 🐛 Bug Report

On HTML form elements such as `input` and `select` there is a method that can be used [`setCustomValidity`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement#methods). This should be available for web components that are `FormAssociated` and have a proxy element that has this option.

Examples of this are:
- `fast-checkbox`
- `fast-radio`
- `fast-combobox`
- `fast-t

[2021-04-29 17:52] marjonlynch opened #4654 "fix: favicon in main fast.design website not serving up favicon.ico for google service"
# 🐛 Bug Report

When a dev uses a service like "https://www.google.com/s2/favicons?sz=32&domain=fast.design" the correct favicon should be returned. Currently it is not. This might be due to the fact we have something like the following:
`<link rel="icon" type="image/svg+xml" href="https://static.fast.design/assets/favicon.svg" sizes="any">`

just plug this "https://www.google.com/s2/favicons?sz=3

[2021-04-29 18:28] bheston commented on #4082
I agree this is something we should support in the base components, as well as for unblocking the tooling work. I think from the styling perspective this will be easier to support once the new color work lands because it will make additional palettes like `success` and `error` easier to support. Obviously the other plumbing needs to be in place for the validation logic first still.

[2021-04-29 21:52] caseyfaber opened #4655 "fix: tooltip doesn't display in Angular apps"
# 🐛 Bug Report

Tooltip doesn't display in Angular apps.

## 💻 Repro or Code Sample

https://stackblitz.com/edit/angular-wv9ahn?file=app/app.component.html

## 🤔 Expected Behavior

When you hover over the button, a tooltip should show. Or, if the visible attribute is on, it should always show.

## 😯 Current Behavior

No tooltip shows.

## 🔦 Context

I was just testing various components that my te

[2021-04-30 17:38] #4652 closed

[2021-04-30 17:42] nicholasrice commented on #4652
@janchu Yea Form Associated Custom Element's don't get a "setCustomValidity" method, only a "setValidity" which has a different API. I suppose we could add a "setCustomValidity" method to `FormAssociated` mixin and just alias it to "setValidity" but I don't really see the benefit of that

[2021-04-30 17:44] janechu commented on #4652
I think we can leave it, if we see a lot of requests to include it due to the expectation of it being there we could take another look at this.

[2021-04-30 18:18] #1942 closed

[2021-05-02 17:32] apsthisdev opened #4658 "Add ability to select rows and add other fast_component in cell"
# 🙋 Feature Request

**data-grid should have the ability to select the row and click event so authors can react to row selection**

Use case - Most typical use-cases will involve users seeing the data and then performing some actions on them like, opening the data record (row) or editing or deleting the record.

**data-grid should have the ability to add other fast_components in the cell instead o

[2021-05-03 15:56] EisenbergEffect commented on #4658
@scomea Can you provide some thoughts on this? If I recall, we had some or all of this implemented already. Perhaps we just need to add documentation.

[2021-05-03 17:16] janechu commented on #4648
This issue was fixed and deployed.

[2021-05-03 17:16] #4648 closed

[2021-05-03 18:27] ameyasubhedar opened #4660 "Data grid cell value does not indent properly"
OOTB fast_data_grid cells does not indent or align properly.

Q1: How do I tell the cells to left align with each corresponding column headers ?

Q2: How do I make the data grid responsive for specific certain column ?

Here is the simple example

![image](https://user-images.githubusercontent.com/13166236/116914678-e0b68400-abff-11eb-8994-9f7b4e0eb9d8.png)

[code]

[2021-05-03 19:56] #4589 closed

[2021-05-03 23:26] caseyfaber opened #4662 "fix: custom design system provider doesn't consistently work"
# 🐛 Bug Report

Getting the color overrides in a custom design provider has been very inconsistent whether it works, some of my pages it does, and some don't. I have narrowed down some of what is going on - it seems to depend on whether there is custom elements, FAST components, or both on the page, as well as whether the script tag is at the beginning or end of the body. I have not been able to g

[2021-05-03 23:30] janechu opened #4663 "fix: empty value attribute in fast option when used in fast select triggers the use of textContent"
# 🐛 Bug Report

When `<fast-option>` has `value` this should always be used when emitting changes. This is not the case when value is an empty string, the `<fast-select>` will use the `textContent` instead, which may be different.

## 💻 Repro or Code Sample

Create a `<fast-select>` with contained `<fast-option>` and attempt to change from a value with text to a value with empty text.

Example:
[c

[2021-05-03 23:37] janechu opened #4664 "fix: the textContent used in select and option includes the whitespace"
# 🐛 Bug Report

When using a typical `<select>` and `<option>` if the `<option>` has content that includes indenting such as:

[code]

The `<select>` element still emits a change event with the value of `"foo"`. In `<fast-select>` and `<fast-option>` the newlines and whitespaces are included.

## 💻 Repro or Code Sample

Here are a few examples of what was attempted.
![Screen Shot 2021-05-03 at 2 4

[2021-05-04 04:22] caseyfaber commented on #4662
I am retracting this bug for now, there are some issues with my custom component that may be causing the issue and I need to investigate further or make to a smaller sample to narrow it down.

[2021-05-04 04:22] #4662 closed

[2021-05-04 23:13] janechu opened #4669 "fix: updating the selected attr in fast-option does not update the value in fast-select"
# 🐛 Bug Report

Updating the `selected` attr of a`<fast-option>` contained in a `<fast-select>` should update which option has been selected, currently it would appear that no update occurs.

## 💻 Repro or Code Sample

Example:
[code]

Attempt to add `selected` to the `<fast-option>` containing `"Bar"`.

## 🤔 Expected Behavior

The shown option should now be `"Bar"`.

## 😯 Current Behavior

The sh

[2021-05-04 23:31] janechu opened #4670 "fix: updating value attribute in fast-slider does not update the slider thumb location"
# 🐛 Bug Report

Updating the `value` attribute on `<fast-slider>` does not update the position of the slider thumb.

## 💻 Repro or Code Sample

[code]

Attempt to add a `value` attribute of `"3"`.

[code]

## 🤔 Expected Behavior

The slider thumb should reposition to the corresponding location.

## 😯 Current Behavior

The slider thumb does not reposition.

## 🔦 Context

In the event that an outsid

[2021-05-05 04:01] ameyasubhedar commented on #4660
@EisenbergEffect I looked at the src and could not find any property that would help align the cells ? Is this missing completely or a bug !

[2021-05-05 05:32] shhnjk commented on #4118
Hi, after thinking about this bit more, I think the only Trusted Types policy required is for internal usage. The other possibility where developer might pass string to HTML sinks, you would just need to make sure that you are assigning that value as-is.

This way, if a developer passes a `TrustedHTML`, there won't be any violation. But if they pass string, there will be a violation. This is how R

[2021-05-05 15:02] EisenbergEffect commented on #4660
@scomea Can you provide some guidance here on how to achieve the desired effect?

[2021-05-05 15:05] EisenbergEffect commented on #4118
@shhnjk I want to make sure I understand you correctly before making the change. Are you saying that we should adjust this so that only `innerHTML` is handled with the policy and remove the usage during standard template creation?

[2021-05-05 16:54] scomea commented on #4660
"sticky" is not a valid value for `grid-template-columns` (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns).   Try something like "1fr 1fr 1fr" and it should work.

[2021-05-05 17:02] scomea commented on #4660
As for making the grid responsive you can customize the `grid-template-columns` attribute for your grid which should give you a great deal of control over how the columns in your grid respond to resizing, similar to what you can do with a css grid (which is what controls the layout of each row).

[2021-05-05 17:43] #4595 closed

[2021-05-05 17:49] scomea commented on #4658
Yes, we absolutely definitely need to up our documentation game.  But in the meantime the best demo of advanced grid features is in the fast-components storybook sample.

![image](https://user-images.githubusercontent.com/7649425/117184885-14271900-ad8e-11eb-936c-12ed59cff963.png)

Authors can specify cellTemplates to use per column with custom column definitions which allows for advanced custom c

[2021-05-05 20:13] scomea commented on #4342
Confirmed that anchor elements work as menu items after resolving this issue - https://github.com/microsoft/fast/pull/4656

[2021-05-05 20:13] #4342 closed

[2021-05-05 20:39] awentzel opened #4674 "update automated pipelines to notify upon failure"
# 🙋 Feature Request
Notify the operations team in the case of automated pipeline failures, this way DevOps can operate proactively and immediately.

## 🤔 Expected Behavior
Upon failure, for example, and starting with cron scheduled pipeline failures, send an email to the operations team with a link to the failed GitHub Action to be reviewed immediately and proactively solved before customer impact

[2021-05-05 20:41] awentzel commented on #4540
Now publishing to https://www.nuget.org/packages/Microsoft.Fast.Components.FluentUI/

[2021-05-05 20:41] #4540 closed

[2021-05-05 21:36] ameyasubhedar commented on #4660
@scomea, thanks there appears to be a bug in the fast.design website component explorer. The Grid Template Columns has a drop down to choose for and that caused the confusion.
![image](https://user-images.githubusercontent.com/13166236/117207948-69bcef00-ada9-11eb-8fda-712ef460fa52.png)

As mentioned in your comments  I am now using grid-template-columns. But there is still this issues of cell val

[2021-05-05 21:41] ameyasubhedar commented on #4660
I don't want to have fixed size columns, **auto or 1fr** but the cell values (non headers) each indent differently based on the adjacent cell value.

[2021-05-05 21:50] scomea commented on #4660
Oh, I'll look into the site issue, that does look like a bug.

[2021-05-05 23:05] scomea commented on #4660
For the grid columns to align correctly their width can't be based on the width of the content because each row is it's own construct, so "auto" isn't going to align unless all items in the auto column are the same width (like maybe if you are toggling between a fixed width wide cell template and a narrow one for all items in a column).  The "fr" values work because they are based on available spa

[2021-05-05 23:23] scomea commented on #4660
Note: an author could set up a mechanism that somehow collects the "desired width" of cells in a column and uses that to set the column width to match the widest one.

[2021-05-05 23:35] scomea opened #4677 "docs: data grid definition file is incomplete/incorrect"
# 🙋 Documentation Request

The data-grid.definition.ts file is incomplete/incorrect and doesn't show the right options in component explorer.

![image](https://user-images.githubusercontent.com/7649425/117222278-efe43000-adbf-11eb-81e8-4b84d81611fc.png)

## 💁 Possible Solution
Correct/complete the definition file.

[2021-05-05 23:36] scomea commented on #4660
Issue for component explorer here:
https://github.com/microsoft/fast/issues/4677

[2021-05-05 23:57] ameyasubhedar commented on #4660
yup the "fr" work correctly.... I used "2fr 1fr 1fr"  Thanks. Good to go from my side

![image](https://user-images.githubusercontent.com/13166236/117223593-d85a7680-adc2-11eb-853f-2ccb3ab26762.png)

[2021-05-06 00:05] ameyasubhedar commented on #4658
Thanks, this was helpful. So we can use any fast-component inside the cell. That's great !

[2021-05-06 00:06] ameyasubhedar commented on #4658
The documentation needs some updates though with examples.

[2021-05-06 18:23] Ibrahimmaga opened #4682 "fix: Fast internal publish failed on installing dependencies"
**Fails to install dependencies**
# 🐛 Bug Report
Fast internal publish failed on installing dependencies

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment
https://dev.azure.com/microsoftdesign/FAST/_build/results?buildId=14197&view=results

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Brows

[2021-05-06 18:52] Ibrahimmaga commented on #4057
The latest scan does not reproduce any issue In Microsoft IIS/10.0 Web Server, the "removeServerHeader"

[2021-05-06 18:52] #4057 closed

[2021-05-06 21:26] awentzel opened #4683 "rfc: add codespaces to improve development lifecycle"
# 💬 RFC
Evaluate GitHub Codespaces which can help with:

sourced from GitHub

## 🔦 Context
Evaluate how this could be used for our situation?
* Implement as part of CLI for onboarding
* Implement examples for inclusion in documentation to quickly see different implementation examples.
* Other applications?

* Determine the specific functionality that Codespaces provides that can be leveraged to im

[2021-05-06 21:36] awentzel opened #4684 "rfc: add GitHub Discussions"
# 💬 RFC
Today, our discussions take place on Discord.  It's great that Discord is the first place we send people to communicate with us.  However, things quickly get lost each day as the conversations move on to the next thing.

What if we implemented GitHub Discussions, as a central repository, available on private and public projects, to open conversations for the community to provide feedback.

[2021-05-06 22:39] #4508 closed

[2021-05-06 23:53] Ibrahimmaga commented on #4090
![image](https://user-images.githubusercontent.com/14119043/117379092-921d1a00-ae8b-11eb-8dbd-a6c228286f97.png)

[2021-05-07 00:01] chrisdholt commented on #4090
Would this have GDPR requirements? I'd like to capture all of our compliance requirements and the implications of this before this becomes a work item if we can. Looks interesting!

[2021-05-07 00:09] Ibrahimmaga commented on #4090
I'm still gathering useful information about it. but it sounds like a nice tool. It provides analytics and a dashboard for visibility as well.

[2021-05-07 00:46] chrisdholt commented on #4090
Thanks @Ibrahimmaga - it would be great to see these RFC’s contain a proposal that describes the value, benefits, requirements, risks, etc. I’ll look to review once these are ready!

[2021-05-07 01:31] chrisdholt commented on #4684
It would be great to see a proposal for this request for comments. I'd love to get a more full picture of the role all of the channels would play. Discussions look great, I'd love to see a proposal for how it can enhance our project, how we can guide the community in how to leverage each, and how we can keep things manageable for folks participating in these various platforms. Do we have a clear i

[2021-05-07 18:11] nicholasrice opened #4692 "fix: StartEnd does not always apply the appropriate classes to the template"
# 🐛 Bug Report
In the below min-repro, `StartEnd` does not apply a `start` class to the `[part='start']` element like it is supposed to. When the `slotchange` event handler is invoked, `HTMLSlotElement.assignedNodes()` returns an empty array. It seems odd that there is a slotchange event fired but no nodes are actually assigned.

One fix would be to defer the reading of `assignedNodes()` with `DOM

[2021-05-07 21:14] nicholasrice commented on #4692
This seems to me to be an issue with https://github.com/microsoft/fast/blob/master/build/transform-fragments.js.

When the web-components.js file is built, templates are run through `transformHTMLFragment()` which outputting the following:
**Note: no space char between ref and slotchange**
[code]
The binding (an event listener) is being created as a normal binding behavior and getting evaluated du

[2021-05-07 21:31] EisenbergEffect commented on #4692
Interesting! We could fix this here: https://github.com/microsoft/fast/blob/24e74a90708916c9c04d4b389a6219bf79f1a2c9/packages/web-components/fast-element/src/dom.ts#L132 by just adding a space before and after. What do you think?

[2021-05-07 22:10] janechu opened #4694 "Could/Should ergonomic layout solutions be facilitated by the component package"
# Abstract

There is currently no shortcut for laying out common patterns on a page. A user would have to create their own styles in order to, for example, create a grid of `<fast-card>` components. Even if they did create a containing element that implemented `flexbox`, as an example, they would still need to add `margin` to each of the `<fast-card>` components.

Should there be some way to facil

[2021-05-07 22:16] radium-v commented on #4694
Are you looking for something like the `gap` property (formerly `grid-gap`)? It applies to containers, and works for both grid and flexbox layouts now: https://developer.mozilla.org/en-US/docs/Web/CSS/gap

[2021-05-07 22:26] janechu commented on #4694
@radium-v this is exactly what I need, first I've heard of it. I'm going to leave the issue up in case anyone else wants to comment.

[2021-05-07 23:16] robarbms commented on #4694
Agreed with John on using gap.

But when using margins, I was always a proponent of applying margins to the top and left. You can create styles that query the element before them, but not after them.

For example you could apply top margin to a paragraph tag except when it follows something like a heading.

[code]
If you're trying to gap between things I chose to start margins on the second elemen

[2021-05-08 01:18] shhnjk commented on #4118
Whenever Fast takes input from Web app to sinks which has Trusted Types enforcement, you will basically pass value as-is.

For example, we don't do the following:
[code]

But we do the following instead:
[code]

I'm not sure if this is technically possible, but if it is, that seems like a better option.

[2021-05-10 13:29] Relequestual commented on #3795
The answer is... Yes.

https://github.com/json-schema-org/json-schema-org.github.io/blob/66969467feb494dcc02247a431a1905a6f283baf/_layouts/redirect.html#L13

The most recent draft is now 2020-12.

The URIs are for determining the appropriate draft the schema relates to.
For 2019-09 and up, we use https. The URI for the prior drafts are unchanged.

The URIs used are identifiers ONLY. It so happens

[2021-05-10 15:03] EisenbergEffect commented on #4118
It's definitely possible from a technical perspective to allow this. It puts more responsibility back in the hands of the developer, but also more flexibility. I don't know that there's a way to ensure that the innerHTML property is always set through a policy though, which means we couldn't protect developers from making dangerous mistakes. Due to security policy, we might not be able to enable t

[2021-05-10 18:39] nicholasrice opened #4696 "fix: Elements with non-observable properties get overriden value clobbered on connection"
# 🐛 Bug Report
It seems that an element with a non-observable property that is initialized and then externally overridden prior to connection gets it's value reverted after connection. See min-repro.

## 💻 Repro or Code Sample
Min repro: https://stackblitz.com/edit/property-clobber-repro?file=index.ts

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your E

[2021-05-10 21:51] tonedef opened #4697 "feat: add ember integration to fast"
# Ember integration

Looking at possibly using fast with Ember. Considering LinkedIn's apps are primarily Ember and that LI is part of MS, I think it's a natural fit.

[2021-05-10 22:28] perpetualintelligence opened #4698 "Blazor - Fast Button raises click event even if disabled"
I have a simple fast-button in the disabled state. It may not be in disabled state and then the Click event is valid.

[code]

The JSInterop for blazor for the click event...

[code]

The button is correctly rendered and shows the disabled icon but if I click the onclick event calls OnDisClick...

![image](https://user-images.githubusercontent.com/62374075/117732227-58f2eb80-b1a4-11eb-9da0-101abfb

[2021-05-11 16:27] RandomEngy commented on #4696
I think this is behavior from custom elements. You can work around by moving that property initializer to the constructor and checking to see if it's been assigned a value already.

[2021-05-11 16:41] EisenbergEffect commented on #4670
I believe this is by design and that only updates happen through the value property, not the attribute. Special handling is needed for this in React. @nicholasrice can confirm/deny.

[2021-05-11 17:25] EisenbergEffect commented on #4698
We'll have to investigate how to do this, since the platform doesn't block events just because an element is disabled. This seems to be something that is built into the platform button itself.

[2021-05-11 17:25] #4543 closed

[2021-05-11 18:58] radium-v commented on #4692
Swapping the two lines in the source template (`ref()` and `@slotchange`) would probably work in this case, though that would just be a quick fix and not a solution to the underlying problem.

[2021-05-11 19:18] #4581 closed

[2021-05-11 20:48] nicholasrice commented on #3213
Yep! Woot!

[2021-05-12 03:45] ameyasubhedar opened #4704 "Blazor - Fast menu item does not appear on the top of fast-card"
I have a Dropdown button Razor component that is implemented as follows...

[code]

[code]

css

[code]

[code]

Now if I add the Button Dropdown inside the fast-card, it hides the menu.

I tried changing the z-index to be 999 for .pi-ddb-rmenu  (fast-menu) but still it does not show the menu

![image](https://user-images.githubusercontent.com/13166236/117914948-1c54ec00-b299-11eb-94f5-534ebd239a5

[2021-05-12 06:14] scomea commented on #4704
You could wrap your menu in an anchored-region that can place it as a fixed element (ie. breaks it out of parent containers) and positions it next to the element you "anchor" it to.   You may need to set some z-indexes if you have other "position: fixed" elements in your scenario.  The auto update mode setting keeps the fixed menu next to it's anchor as you scroll/resize.

Something like this migh

[2021-05-12 18:23] nicholasrice opened #4707 "enable HorizontalScroll tests that are disabled"
#4705 disables several tests that are broken but were not getting caught as errors due misuse of setTimeout. This issue tracks re-enabling those tests and fixing any underlying issues w/ the component or tests.

[2021-05-12 20:02] ameyasubhedar commented on #4704
@scomea, using the anchored-region gives me the same issue... here is my sample code

[code]

used inside the fast-card the anchored-region as a fixed element is still hidden by the card.'

![image](https://user-images.githubusercontent.com/13166236/118036606-a183e380-b321-11eb-8f36-c61f5846184c.png)

Another issue is that margin-top is not honored by the anchored region. If I add style="margin-to

[2021-05-12 20:16] ameyasubhedar commented on #4704
You can reproduce the issue in the fast.design website directly !

[code]

![image](https://user-images.githubusercontent.com/13166236/118038548-1bb56780-b324-11eb-8dd2-14659473232a.png)

[2021-05-12 22:50] Ibrahimmaga commented on #4090
a little update on heatmaps, session playbacks, and insights

[2021-05-12 23:09] scomea commented on #4704
This is by design.  If you want a margin on the menu set it on the menu element and not the region.

[2021-05-12 23:11] scomea commented on #4704
The clipping is because the card styling has "contains: content" set which helps with perf in some scenarios but limits rendering outside the component.  You can override that style with another value ("none" or maybe "size") so your menu can render outside.

[2021-05-12 23:13] scomea commented on #4704
We may need to consider if "contains: content" is the best default setting, but the workaround is easy.

[2021-05-13 00:18] ameyasubhedar commented on #4704
@scomea, I think we trying to bypass the issue by not setting contain:content.  But may be you can help explain this better.

Both contain:size and contain:none has side effects on the card contents.

To show this here is an example with multiple cards

**Case 1: fast-card -> style="contain:content"**
![image](https://user-images.githubusercontent.com/13166236/118058968-457e8680-b344-11eb-9143-b10

[2021-05-13 01:40] scomea commented on #4704
https://developer.mozilla.org/en-US/docs/Web/CSS/contain

If the scenario is that a descendant of the card renders outside of the bounds of the card, which is exactly what the menu is doing, then card can't have a css contain value of "content" or "paint" because "if a descendant overflows the containing element's bounds, then that descendant will be clipped to the containing element's border-box.

[2021-05-13 05:31] scomea commented on #4704
I do think that at a minimum we do need to talk about this somewhere in the docs so devs understand that a default value for "contain" has been set and its consequences.  I doubt you'll be the first to encounter clipping due to it. We may want to reconsider if "content" is the right default  @chrisdholt?

[2021-05-13 16:50] Ibrahimmaga opened #4712 "bug: publishing is failing do to beachball change folder in the master branch"
# 🐛 Bug Report
Publishing is failing to beachball change folder in the master branch

## 💻 Repro or Code Sample
https://github.com/microsoft/fast/projects/31

## 🤔 Expected Behavior
Beachball change folder should be deleted automatically after the publish task

## 😯 Current Behavior
Each changed file that is being created is in the queue and never been deployed
![image](https://user-images.githubu

[2021-05-13 17:00] chrisdholt commented on #4712
For clarity, is the change folder empty or does it include the change files? If we think this is an issue we should file it on Beachball rather than roll our own solution - doing so risks creating more issues in the future. Can we open something on Beachball rather than here if this is the case?

[2021-05-13 17:18] Ibrahimmaga commented on #4712
The change folder includes new and old files which create a conflict. I think this is our issue rather than a beachball. we should look into a strategy for deploying first. I suggest a deployment on push so that the change folder gets deleted right away. but that just one solution.

[2021-05-13 17:22] robarbms opened #4713 "fix: should be able to tab to the flipper control in horizontal-scroll component"
# 🐛 Bug Report

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

Should be able to set tabbing on flippers.

## 😯 Current Behavior
Click behavior is on a wrapper surrounding the flipper slots.

## 💁 Possible Solution

Moving the click behavior from the flipper slot wrappers to the flippers themselves will allow developers to use their own flippers , click and tabbing behaviors.

## 🔦 Context
Thi

[2021-05-13 17:22] chrisdholt commented on #4712
Are we sure that Beachball is not supposed to remove the change files? That’s been the behavior up until this point. Where is the code where we previously were doing this? I’m fairly certain that the change files in the change folder are supposed to be deleted as part of the publish process.

[2021-05-13 17:46] Ibrahimmaga commented on #4712
Beachball always removes the change folder in master after a deployment. But in a workspace like visual studio code, it doesn't get deleted; which is normal.  You can resolve that by git pull master, and the change folder will no longer be there.  without git pull to reflect the change in master, the change folder ends up in the master again; this time it won't delete, but there will be an error o

[2021-05-13 17:52] awentzel commented on #4712
This doesn't seem like a bug in the application.  This seems "by design" and ergonomics of the developer process.  Contributors should frequently be pulling down master and rebasing with their codebase and branches.

@chrisdholt do you think otherwise?

[2021-05-13 17:56] chrisdholt commented on #4712
Yeah, I’m trying to grok the above - I wonder if this is due to clicking the merge button on Pr’s? What’s causing these to be reintroduced? Nobody should be pushing the master branch...and anything being added back in should go through code review. I see the files, I’m trying to figure out if they aren’t being deleted or when they are being added back in - and why it’s not showing up in reviews if

[2021-05-13 18:11] awentzel commented on #4712
I'm attempting to re-sync the publish, which requires a force push, and then will monitor nightly, and if this happens again jump on it right away with a smaller sampling of what could be going wrong.

[2021-05-13 18:41] chrisdholt opened #4714 "Remove duplicate fixture.ts files once `fast-tooling` no longer pulls packages from npm registry"
As part of the vNext updates, the `fast-tooling` package was updated to pull dependencies from NPM to avoid issues and breaking changes. As part of this, we needed to remove the internal dependency on the local `fast-foundation` fixture utility and duplicate the those files within tooling.

This issue exists to track the removal of these duplicated files once tooling is again taking its dependency

[2021-05-13 22:10] Ibrahimmaga commented on #4712
Jane Chu — Today at 1:07 PM
Thanks for doing that chris!

Aaron Wentzel — Today at 1:13 PM
I'm stepping out for lunch, when I return and after this PR goes in I'll resume Publishing testing as well.  Thanksl

Chris Holt — Today at 2:42 PM
@Jane Chu @nicholasrice @Aaron Wentzel @EisenbergEffect sharing this here as it's currently on a couple threads. I think the issue we're running into is that Bea

[2021-05-13 22:23] awentzel commented on #4712
We've identified this as a symptom of another problem that will be addressed in a future PR.

[2021-05-13 22:23] #4712 closed

[2021-05-13 22:25] awentzel commented on #4636
@Ibrahimmaga please create a PR to bring consistency to the build process by moving Prettier before the build.

[2021-05-13 23:58] Ibrahimmaga commented on #4674
require webhook_id: ${{ secrets.WEBHOOK_ID }}  webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
https://github.com/appleboy/discord-action

[2021-05-14 20:22] RandomEngy opened #4717 "fix: error on attribute with empty string value followed by attached behavior in fast-element"
# 🐛 Bug Report
An attached behavior directive following an attribute with an empty string value will cause an error.

## 💻 Repro or Code Sample
Minimal repro: https://stackblitz.com/edit/empty-attr-error-repro?file=index.ts

## 🤔 Expected Behavior
Binding works fine and gives empty string to the attribute value, and executes the attached behavior

## 😯 Current Behavior

## 🔦 Context

Ran across th

[2021-05-15 07:24] ameyasubhedar commented on #4660
@scomea, How do I hide the horizontal grid lines in the data-grid. I could not find any property that I could set on the fast-data-grid to hide the grid line.

[2021-05-15 14:50] ben-girardet opened #4721 "fix: private backgroundColorChanged in FASTDesignSystemProvider"
# 🐛 Bug Report

I'm wondering if there is a specific reason why `backgroundColorChanged ()` is `private` in `FASTDesignSystemProvider ` ? See https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/design-system-provider/index.ts

## 🤔 Expected Behavior

I'm running an experiment to build an extended version of the fast design system. It's great to benefit from FA

[2021-05-15 21:32] scomea commented on #4660
That's the "border-bottom" from data-grid-row styles - https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/data-grid/data-grid-row.styles.ts.

You could set a custom "rowItemTemplate"  on the data grid, but I expect you could style it with css as well (data grid rows render in the light dom).

[2021-05-17 15:27] EisenbergEffect commented on #4721
@nicholasrice Can you chime in here with recommendations? Am I correct in assuming that this issue is solved with the new design token implementation?

[2021-05-17 15:38] EisenbergEffect commented on #4118
After some further review, I think we need to:

* Remove the use of the policy for normal template scenarios. This probably doesn't make sense anyway.
* Use the policy only for innerHTML binding.
* Throw an exception in the default policy so that devs must apply their own sanitizer when binding innerHTML
* Update the documentation to reflect this change

If folks need separate policies, could they

[2021-05-17 18:24] shhnjk commented on #4118
Are you referring to the following? This seems like an Fast's internal usage of `innerHTML`. If so, the safeness of that `inner
HTML` should be guaranteed by Fast (because Fast is the implementer of that `innerHTML`). Thus, it makes sense for Fast to create a policy for that (and use sanitizer if necessary).
https://github.com/microsoft/fast/blob/c93bc26c1fa438d86d049e6e0d8a09c65fda5781/packages/w