[2022-05-25 20:58] EisenbergEffect commented on #6018
Update: I decided to separate making something observable from subscribing. So the final implementation has a `makeObservable()` utility and a `watch()` utility.

[2022-05-26 17:34] #5970 closed

[2022-05-26 18:06] #5926 closed

[2022-05-26 21:30] #5110 closed

[2022-05-26 21:31] #6018 closed

[2022-05-26 21:31] #6028 closed

[2022-05-26 21:36] EisenbergEffect commented on #5968
Ok to close this one as done?

[2022-05-26 21:36] EisenbergEffect commented on #6008
Is this one done now?

[2022-05-26 21:37] EisenbergEffect commented on #6009
Did we get this in or was it coming in a follow-up after the initial package publish?

[2022-05-27 06:10] yinonov commented on #5849
Bravo, this really shows how fast is driven by the community! 🙏

[2022-05-27 17:19] oVerde commented on #3446
@huynhicode pleeeease consider this with tender and care :pray:

[2022-05-29 07:36] Yogeswaran66 opened #6038 "Enable HTTP/3 for azure appservice"
Enable HTTP/3 for azure appservices. Currently only HTTP/1 and HTTP/2 are available

[2022-05-29 08:01] #6038 closed

[2022-05-29 08:01] Yogeswaran66 commented on #6038
Moving to azure repository

[2022-05-31 15:09] EisenbergEffect opened #6039 "announcement: branch changes in progress"
We are in process on merging our vNext work from its current branch into main. What is currently in main will move to a patch branch prior to the merge of our vNext work. From then on out, we'll be primarily focused on vNext work on main in preparation for alpha/beta/final release of the new packages.

This means that any vCurrent work will need to be moved to the patch branch and will only be acc

[2022-05-31 16:06] huynhicode commented on #3446
Hi @oVerde, absolutely - support for Svelte is in the pipeline.  🙂

[2022-05-31 17:05] atmgrifter00 opened #6041 "fix: Combobox doesn't forward aria-label to input element in template"
# 🐛 Bug Report

Currently, the Combobox doesn't forward its `aria-label` attribute to the `input` element in its template. This flags the component as not being ARIA-compliant with tools like Lighthouse. The NumberField is an example of a component that [forwards the attribute as expected](https://github.com/microsoft/fast/blob/e57278e58bb0b486abbcf3173c2c93b9fe6155d4/packages/web-components/fast-

[2022-05-31 17:07] chrisdholt commented on #6041
Can you provide an example of the error you are getting and the tool you are getting it from?

[2022-05-31 17:15] prudepixie opened #6042 "perf: add repeat benchmarks to Github Actions"
Add completed repeat benchmarks to actions workflow (benchmarks.yml)

[some additional work with this task could be to only run these benchmarks if a fast-element file has been touched, eg if fast-foundation button file was changed in a PR, do not run benchmarks.yml. ]

--Update--
[Work involved with this ticket will include a custom script that runs through different combinations of query params

[2022-05-31 19:02] atmgrifter00 commented on #6041
[This](https://web.dev/label/?utm_source=lighthouse&utm_medium=cli) is the reported Lighthouse error.

[2022-05-31 19:23] atmgrifter00 commented on #6041
Note that I am happy to put up a PR to fix this, if it is agreed that it is an issue.

[2022-06-01 01:29] EisenbergEffect commented on #6039
Our vNext branch is now merged to master. Patches to current releases can be made against the `archives/fast-element-1` branch.

[2022-06-01 16:07] sknoslo opened #6050 "fix: RadioGroup does not check correct Radio when Radio value set through property"
# 🐛 Bug Report

If a Radio has a value set through the value property, a parent RadioGroup cannot correctly set the checked state of the Radios when the RadioGroup value is changed.

## 💻 Repro or Code Sample

This codesandbox shows exactly why this is an issue in Angular, but is also problematic in other scenarios. https://codesandbox.io/s/fastradiogroup-issue-kf2kyz?file=/src/app/app.component.h

[2022-06-01 16:10] sknoslo commented on #6050
I'm happy to put in a PR with a possible fix, but not sure which branch I should target given #6039.

[2022-06-01 16:13] chrisdholt commented on #6050
This would be great! Let’s start with the archive/fast-element-1 branch

[2022-06-01 18:38] #5968 closed

[2022-06-01 19:47] #5612 closed

[2022-06-03 17:19] EisenbergEffect commented on #6009
If the event bubbles all the way up and isn't handled by a custom element in the stack then we should emit the event on the window shim.

[2022-06-03 20:39] hjp-work opened #6065 "fix: [when within repeat incompatible with child / item] in [fast-element 2]"
# 🐛 Bug Report

With fast-element 2 there are child and item besides html, but using a when condition within a repeat does not support them.

Besides that i wonder if when within when and repeat within repeat should also work with using child / item?

## 💻 Repro or Code Sample

`
${repeat(x => x.y, child<ABC>'
    ${when(x => (x.check == 1), child<ABC>'
        test
    ')}
')}
`

## 🤔 Expected Be

[2022-06-03 21:42] EisenbergEffect commented on #6039
The branch change over is complete.

[2022-06-03 21:42] #6039 closed

[2022-06-05 00:26] prudepixie commented on #6025
Refer to findings here: [Repeat Benchmarks Report](https://microsoft-my.sharepoint.com/:w:/p/wendywendy/EaMnhNG4vcpBj5aoFETZNx4BG2OLd0PfuZIhzCSPv8-Wyw?e=xTBDOr)

[2022-06-05 00:26] #6025 closed

[2022-06-06 15:50] huynhicode opened #6068 "feat: FAST Rollup template"
Rollup integration guide

[2022-06-06 16:05] #5867 closed

[2022-06-06 18:29] radium-v opened #6070 "fix: rollup bundles don't resolve fast-element utilities"
# 🐛 Bug Report

It seems that Rollup doesn't support the use of the `exports` field in package.json.

Probably related:
* https://github.com/rollup/rollup/issues/3514
* https://github.com/rollup/plugins/issues/1192
* https://github.com/rollup/plugins/issues/1058
* https://github.com/rollup/plugins/issues/208

## 🤔 Expected Behavior

Rollup should be able to resolve and handle imports from `@micros

[2022-06-06 21:35] EisenbergEffect commented on #5928
We've made a number of improvements to content based on this issue. We still know we have a lot more work to do here. I'm going to close this issue out now since it is very general. We can open individual issues for specific issues in the future. Thanks again for the feedback!

[2022-06-06 21:35] #5928 closed

[2022-06-06 21:37] EisenbergEffect commented on #6070
I think it technically builds the bundle correctly..but yeah there's some sort of issue with Rollup not handling this right. It might be worth us contributing to rollup to fix this so that customers don't get confused/frustrated. I'm not sure if they've got an issue open or not yet.

[2022-06-06 21:38] EisenbergEffect commented on #6070
Oh, I see you linked the issues above 😝

[2022-06-07 00:06] prudepixie commented on #5996
This iteration seems to improve the perf when repeat has the default settings of {recycle: true}, what is curious is why {recycle:false} is still generally slower than {recycle:true}
<img width="2227" alt="recycle property implementation" src="https://user-images.githubusercontent.com/6309989/172268551-53b3cc2c-5e31-4ca7-8eb6-6dfbf2a356cd.png">

[2022-06-07 12:27] yinonov opened #6073 "fix: autofill background color breaks in text field"
textfield's autofill style only applies on the input itself and when affixing something to start / end slot, u'd notice the bug.

I would just have it stretched and positioned absolutely to make autofill display fully

note that this will override the natural inline `size` behavior

![image](https://user-images.githubusercontent.com/15140652/172377712-aa390f23-1d15-4659-aa93-cb762cdc8f01.png)

[2022-06-07 22:21] prudepixie commented on #5996
Here's a representation of the performance between refreshView() and updateView() - updateView() much slower
using default options where {recycle: true}
![repeatNested Benchmark refreshView() vs updateView()](https://user-images.githubusercontent.com/6309989/172492759-2356dd24-4759-419e-a970-1cd289842554.png)

[2022-06-07 23:05] prudepixie commented on #5996
faster in {recycle: false} case
![repeatNestedNoRecycle Benchmark refreshView() vs updateView()](https://user-images.githubusercontent.com/6309989/172497522-d36607e8-744c-493b-8f2f-bb7be700f707.png)

[2022-06-08 01:57] mwmcode opened #6075 "docs: fix picker, picker menu, picker list on fast.design site"
# 🙋 Documentation Request

Hello, I'm trying to checkout picker menu but clicking on throws the following error (screenshot of error in console).

![Screen Shot 2022-06-07 at 9 52 55 PM](https://user-images.githubusercontent.com/13101565/172514719-94db3331-7da8-401a-a159-ca5be73841f6.png)

[2022-06-08 02:08] derekdon commented on #5890
Just noticed this myself in Chrome Version 101.0.4951.64 (Official Build) (arm64) on mac.

[2022-06-08 14:16] EisenbergEffect opened #6077 "refactor: remove DesignSystem, ComponentPresentation, etc. and convert Foundation templates to plain functions"
As part of the Iteration 4 work for #5901 we need to update how the foundation templates are constructed. This means converting current template functions, which rely on special services from the DesignSystem/Registry, into plain functions that only rely on their configuration object and/or dependent fast-element definition objects.

After the templates are converted over to plain functions, the `

[2022-06-08 16:55] nicholasrice commented on #6009
This is still open; it hasn't been integrated yet.

[2022-06-08 17:49] #6065 closed

[2022-06-08 18:23] nicholasrice opened #6079 "docs: add SSR docs to do site"
# 🙋 Documentation Request
SSR API docs should be added to the API reference. Additionally, a section should be added to illustrate usage (similar to what is in current README.md)

## 💁 Possible Solution

[2022-06-08 21:35] bheston opened #6081 "fix: Use of API Extractor @internal flag used against intent and breaks when filtered"
# 🐛 Bug Report

The fast-element 2.0 branch included a change to trim the primary API Extractor declaration output to only `public` and `beta` tags. We have commonly used `internal` to mark private class members, but have also done this for protected members and even some public members.

Now that the default types export is the trimmed declarations, libraries that have subclassed the fast-foundat

[2022-06-08 21:36] yinonov opened #6082 "fix: proxy fails to support native attributes in text field"
# 🐛 Bug Report

text field isn't delegating `autocomplete`, `enterkeyhint`, `name`, `inputmode` (not supported by safari but might benefit in other browsers) to its proxy

## 💻 Repro or Code Sample

just paste the following in [fast-explorer](https://explore.fast.design/components/fast-text-field)

[code]

## 🤔 Expected Behavior

text field should support the mentioned attributes to play well in p

[2022-06-08 23:10] hjp-work opened #6083 "feat: add [retrieve or check getter function] to/in [fast-router]"
# 🙋 Feature Request

The Router object currently only supports adding and replacing content, but not listing or checking if a path or name is matching something that has been defined earlier

## 🤔 Expected Behavior

There could be something like a Route.path/name.check or Route.path/name.list functionality so that it will be possible to check for existing routes when needed

## 😯 Current Behavior

[2022-06-09 01:20] #4948 closed

[2022-06-09 06:01] Tbaby2022 opened #6084 "docs: fix/add [what] to/in [where]"
# 🙋 Documentation Request

## 💁 Possible Solution

[2022-06-09 06:01] Tbaby2022 opened #6085 "fix: [what is the issue?] in [where is the issue?]"
# 🐛 Bug Report

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozilla FireFox]
* Version [e.g. 1.8.0]

[2022-06-09 06:01] Tbaby2022 opened #6086 "rfc: add [what] to/in [where]"
# 💬 RFC

## 🔦 Context

## 💻 Examples

[2022-06-09 17:39] scomea opened #6088 "feat: Update fast dialog to take advantage of new platform capabilities"
We should look at updating our dialog component to take advantage of new platform capabilities like those described in this article - https://web.dev/building-a-dialog-component/.

[2022-06-09 17:40] #6085 closed

[2022-06-09 17:41] #6084 closed

[2022-06-09 20:45] nicholasrice opened #6090 "docs: develop API documentation strategy for package 'exports' fields"
Several packages (namely fast-element and fast-ssr at this point) use 'exports' fields in their 'package.json' to separate package exports. For example, fast-ssr exposes DOM shim assets from `@microsoft/fast-ssr/dom-shim` and fast-element exposes utilities from `@microsoft/fast-element/utilities`.

Our existing API extractor setup only emits for a single export (the 'main' or '*') exports, not the

[2022-06-10 20:08] hjp-work opened #6092 "fix: [when condition arrow function arguments with wrong context] in [fast-element2]"
# 🐛 Bug Report

Using a when() condition within a ChildContext still uses the RootContext and therefore methods like .parent/.parentContext are not available within the arrow function

## 💻 Repro or Code Sample
${repeat(x => x.books, child<ABC>'
    ${when((y, z) => (y.language == z.parent.user_language), html<ABC>'
        this book is in your language and therefore shown
    ')}
')}
``

## 🤔 Exp

[2022-06-10 20:20] EisenbergEffect commented on #6073
@bheston I have created a new label `area:adaptive-ui` and will be assigning related issues to the Design Systems board for you. This will include anything explicitly related to adaptive UI but also anything that pertained to the styles of the old fast components.

[2022-06-10 20:33] EisenbergEffect commented on #6083
@hjp-work Something that would really help would be a kind of code sample. Imagine that the API you want already exists, could you show me a sample bit of code for how you would use it so I can understand the use case better?

[2022-06-11 01:36] hjp-work commented on #6083
I created an example with a recipe list where some have a special subpage with additional information. It is not completly working, but i hope you are able to get the idea behind it. Otherwise i'll try to improve the example or create another one:

https://stackblitz.com/edit/typescript-ndlduu?file=index.ts

[2022-06-12 17:34] Tbaby2022 commented on #6084
What the fuck bro

[2022-06-13 13:40] #6024 closed

[2022-06-13 13:41] #5996 closed

[2022-06-13 13:42] EisenbergEffect opened #6094 "feat: apply ergonomics improvements based on early adopter feedback"
Several improvements to APIs in `fast-element` 2.0 should be made, based on feedback from early adopters and early experiences from our team:

* Remove the `child` and `item` template helpers and type restrictions
* Rename `length` to `lengthOf`
* Add `FASTElement.definition()` to create definition objects
* Add `Context.provide()` to enable providing simple context without callbacks

[2022-06-13 16:31] prudepixie opened #6096 "fix (fast-element-1): recycle property on repeat does not work when binding does not change"
REF: https://github.com/microsoft/fast/issues/5996
Following the fix that is merged into fast-element-2 (current master branch version), we also want to track this fix in fast-element-1

[2022-06-13 17:23] #6092 closed

[2022-06-13 17:23] #6094 closed

[2022-06-13 17:30] sknoslo opened #6097 "fix: tests silently fail to execute in fast-foundation"
# 🐛 Bug Report

When executing tests in fast-foundation several hundred tests silently fail to execute.

## 💻 Repro or Code Sample

On master branch in the fast-foundation project run `yarn run build && yarn run test`

## 🤔 Expected Behavior

All tests should execute and succeed

## 😯 Current Behavior

Only some (872 as of this writing) of the tests execute.

## 💁 Possible Solution

Seems to be so

[2022-06-13 18:37] EisenbergEffect commented on #6097
@chrisdholt Know anything about this?

[2022-06-13 21:43] #6050 closed

[2022-06-13 22:44] EisenbergEffect opened #6101 "chore: update the todo example to vNext"
We need to update the Todo App example to use the latest features of fast-element and show a few good patterns for project organization and state management. We should also remove old examples that are out of date or no longer relevant.

[2022-06-14 14:08] lindsma opened #6105 "fix: readonly checkbox can be updated on spacebar keypress in fast-foundation"
# 🐛 Bug Report

If a user tabs to a readonly checkbox, they can toggle the checked value of the checkbox on spacebar keypress.

## 💻 Repro or Code Sample

- Tab to navigate to a readonly checkbox
- Press the spacebar

## 🤔 Expected Behavior

- `keypressHandler` should not toggle the value of checked

## 😯 Current Behavior

- `keypressHandler` toggles the value of checked

## 💁 Possible Solution

-

[2022-06-14 14:41] atmgrifter00 opened #6106 "fix: Combobox emits 'change' event on Enter when nothing is changed"
# 🐛 Bug Report

If you place the cursor in the input field of the Combobox and continually press Enter, a `change` event will fire on each key press.

## 💻 Repro or Code Sample

See [this Stackblitz project](https://stackblitz.com/edit/typescript-znxogf?file=index.html,index.ts) (and look at the Console window).

## 🤔 Expected Behavior

A `change` event is only fired when the value actually change

[2022-06-14 16:07] #6096 closed

[2022-06-14 17:07] nicholasrice opened #6107 "feat: add DI and Context tests to SSR"
https://github.com/microsoft/fast/pull/6104 adds event support to SSR infrastructure but does not test DI and Context features. Let's add some tests specific to those scenarios to ensure those features work in SSR.

[2022-06-14 20:17] prudepixie opened #6110 "perf: when script option is turned on, enable custom script to run benchmarks"
Following the script that was created under the **Repeat** benchmark, there needs to be a way to run the script that compiles the JSON object that the script reads into a table that is more readable.

Tracking work here https://github.com/microsoft/fast/tree/users/wendy/custom-script
- There is a PR in tachometer where you can turn on 'collate' and it would filter the table to separate tables for

[2022-06-14 20:38] #6042 closed

[2022-06-14 20:48] atmgrifter00 opened #6111 "fix: Combobox does not always allow arbitrary values as its value"
# 🐛 Bug Report

The Combobox should always allow arbitrary values to be entered as its `value`. Currently, however, there is a (common) situation where this is prevented. If, at any point, a user selects a value that is one of the dropdown options, the user can then _not_ have an arbitrary value (one not represented by any option) accepted as the Combobox `value`.

If, prior to any option being se

[2022-06-14 21:01] yinonov opened #6112 "fix: checked and indeterminate co-exist in checkbox"
# 🐛 Bug Report

setting `checked` to checkbox while in `indeterminate` state doesn't set off `indeterminate`.
natively, setting input of type checkbox to `checked` will set `indeterminate` to false.

## 💻 Repro or Code Sample

1. visit [checkbox page on fast explorer](https://explore.fast.design/components/fast-checkbox)
2. set `indeterminate` property to `true`
3. click to checkbox to be `checked

[2022-06-14 21:30] #6009 closed

[2022-06-15 16:15] EisenbergEffect opened #6114 "rfc: new render directive for advanced MVVM"
# 💬 RFC

FAST has a powerful rendering engine with more capabilities than what are exposed out-of-the-box today. Of note, it has particularly strong support for MVVM through its basic templating model. However, while the engine supports very advanced MVVM techniques developed on other platforms over the last 15 or so years, FAST doesn't expose easy or ergonomic ways of using them. They are only ac

[2022-06-15 16:16] #6101 closed

[2022-06-15 17:04] bheston commented on #6114
I've come up against similar issues in both the Color Explorer and Figma plugin. The examples I'm thinking of were both 'switch' type selection for different templates.

Regarding the `@view` technique above, what if `Address` isn't my class, or if it exists in a separate data model structure where augmenting with rendering information is not possible or doesn't feel right? Is there an alternative

[2022-06-15 17:09] EisenbergEffect commented on #6114
With the above `render` directive, I would expose some sort of `TemplateLocator` API so that if the class originated in a library that wasn't your own, you could call APIs directly to associate templates with the types. The `view` decorator would likely just call this same API internally.

The above is the way that all of our decorators work. They just call an imperative API internally. So, you ca

[2022-06-15 17:12] EisenbergEffect commented on #6114
As an example of the locator API, it might be used directly something like this:

[code]

And all the `view` decorator would so is this:

[code]

[2022-06-15 17:45] dzearing commented on #6090
Related: https://github.com/microsoft/rushstack/issues/3274

[2022-06-15 18:44] robinchesterman commented on #6114
FWIW, this is the code example that made me say "this is what I want":

[code]

[2022-06-15 20:01] prudepixie opened #6117 "fix: only run benchmarks on PR when fast-element files are touched"
Add to github benchmarks workflow, a check to only run the benchmarks if it is a PR that includes updates for fast-element

[2022-06-15 21:35] #6105 closed

[2022-06-15 22:09] benmcmorran opened #6119 "fix: focus accessibility in data grid cell"
# 🐛 Bug Report

When using keyboard navigation to navigate a data grid on a small screen, cells are focused but may not be brought fully into view. This is particularly an issue for the last column in the table, which may be impossible to see fully using keyboard navigation (scrollbar use is required).

## 💻 Repro or Code Sample

Create a data grid large enough to trigger a horizontal scrollbar (o

[2022-06-15 22:15] chrisdholt commented on #6119
@scomea do you want to pick this up? Seems reasonable enough to ensure that we bring the element into view when focusing in this scenario.

[2022-06-16 17:27] fangwei716 opened #6122 "fix: name and autocomplete are not set on input on text-field."
in text-field template, name and autocomplete are not set from attributes. Browser auto-fill (https://web.dev/learn/forms/autofill/) doesn't work with text-field. also does text-field support focus and blur events?

https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/text-field/text-field.template.ts
[code]

[2022-06-16 21:17] #6112 closed

[2022-06-16 23:51] caseyfaber opened #6125 "fix: Submenus in small screens get cut off"
# 🐛 Bug Report

If menu has submenus, they aren't usable on small screen sizes as the submenu items get cut off.

## 💻 Repro or Code Sample

Sandbox: https://codesandbox.io/s/fast-submenu-issue-forked-tmommy?file=/index.html

1) Resize display area to 400px or less
2) Hover over Menu item 3

## 🤔 Expected Behavior

Perhaps the anchored region could position differently, like to the bottom or top,

[2022-06-17 12:41] EisenbergEffect commented on #6114
Ok, I've started working on this. The gist above should serve for folks on v1 today. The official version will be part of v2 and hopefully I'll have a PR next week. Most of the work is done in my branch but I need to add tests.

[2022-06-17 20:01] #6117 closed

[2022-06-17 20:24] rajsite commented on #6088
This would be interesting for us as well. We use the Foundation Dialog class and template to implement a Drawer component and behaviors like capturing / returning focus would be helpful.

The above screenshot shows how while the drawer is open I can still tab to the button underneath it which I imagine would be prevented if the dialog template leveraged the native dialog element.

![image](https:/

[2022-06-20 11:24] vnbaaij opened #6130 "fix: custom 'change' event has no arguments in fast-accordion"
# 🐛 Bug Report

The Accordion component fires a custom 'change' event when the active item changes however the event does not contain any data on what item is affected/clicked.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

I would expect a behavior where the affected fast-accordionitem (id) would be part of the event arguments like it is with the fast-tabs component

## 😯 Current Behavior

T

[2022-06-20 17:36] #5845 closed

[2022-06-20 19:44] nicholasrice opened #6132 "fix: binding aspect misbehavior with certain template content"
# 🐛 Bug Report
When binding to the content of template that resembles the format of an attribute binding, the templating engine mis-interprets the binding as an attribute binding. This eventually throws because the binding tries to invoke `setAttribute()` of it's binding target, which isn't actually an element.
[code]

## 💻 Repro or Code Sample
fast-element@2.0.0-beta.2 repro
https://stackblitz.co

[2022-06-20 20:06] nicholasrice opened #6133 "fix: fast-element@2.0.0 two-way binding throwing"
# 🐛 Bug Report
When the observed property bound to by a two-way binding changes, the binding throws. See min-repro below and click the checkbox to see the error.

repro code:
[code]

and resulting error when clicking the checkbox:
[code]

## 💻 Repro or Code Sample
https://stackblitz.com/edit/typescript-vg98gz?file=index.ts

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

##

[2022-06-20 22:53] nicholasrice opened #6134 "rfc: DesignToken API changes for fast-foundation@3.0.0"
For fast-foundation@3.0.0 we're looking at making some changes to the DesignToken API. The changes are intended to address a couple issues identified with the current implementation:

1. The existing implementation allows setting values for native HTML elements. Native HTML elements don't have lifecycle hooks to notify connection and disconnection, which have caused a few known issues and complica

[2022-06-21 15:04] EisenbergEffect commented on #6114
PR is ready for review. The above API is implemented along with a few additional capabilities.

[2022-06-21 16:47] scomea opened #6136 "feat: tree-item expanded state is confusing"
How the expanded state of fast tree-items is managed is confusing and should be reviewed.  Most notable the `expanded` property can be `true` even if the item is not actually able to be expanded because of not having tree-item children.   For example a tree item with no children could have its public `expanded ` prop set to `true` while also having an 'aria-expanded' attribute of `false`:

` aria-

[2022-06-21 16:52] chrisdholt commented on #6136
Thanks for the write-up, this is helpfu. I think here we would want to figure out if/how we would manage a controlled/uncontrolled state. To your point in discord, I think we may need an internal observable for tracking this as well as the attribute. That would allow us to default to a provided value in a controlled scenario, while doing the right thing if it's uncontrolled (similar to current beh

[2022-06-21 17:54] nicholasrice opened #6137 "feat: add `render` support to fast-ssr"
# 🙋 Feature Request
https://github.com/microsoft/fast/pull/6127 adds a new directive, `render` that needs to be supported by fast-ssr. This export from `fast-element` is from an export path, so we'll need to update fast-ssr's tsconfig.json to support importing from non-default export paths.

[2022-06-21 23:29] prudepixie opened #6140 "fix: alternate way to call totalRemoved.shift() in updateViews"
Following up on the fix for the Recycle option in repeat directive: https://github.com/microsoft/fast/pull/6072

**Further Exploration for Repeat** – Looking at the code to recycle views, I wonder if the call to totalRemoved.shift() is causing issues. Perhaps we should track an index into that array and simply look up views to reuse until we run out, then let the JavaScript GC collection the array

[2022-06-22 14:03] #5409 closed

[2022-06-22 14:37] atmgrifter00 opened #6142 "fix: Combobox does not report change event on focusout."
# 🐛 Bug Report

The Combobox does not currently issue a `change` event if the value has been updated in the input field by either typing or navigating the popup with the arrow keys, and then clicking off of the control (without pressing `Enter`). Normal `input` components will report a `change` event in similar circumstances (as does the FAST `text-field`).

## 💻 Repro or Code Sample

See [this St

[2022-06-22 18:01] #6132 closed

[2022-06-22 19:03] chrisdholt commented on #5984
Planning on picking this up once #6113 goes in.

[2022-06-22 20:40] bheston commented on #6134
This looks like a great set of updates overall. A few thoughts about each point:

1. As you and I have discussed a few times, and documented in #5286 and #5848, I hope we can solve the nested color token scenario efficiently without having to redefine custom color recipes as we did for scenarios like the button inside the tree view item. This has come up in support scenarios and would be good to r

[2022-06-22 20:46] claviska opened #6144 "fix: toggling a checkbox inside of an accordion item causes accordion item to collapse"
# 🐛 Bug Report

## 💻 Repro or Code Sample

https://jsfiddle.net/teu5bnof/

## 🤔 Expected Behavior

Toggling the checkbox shouldn't cause the accordion item to close.

## 🙃 Current Behavior

Toggling a checkbox causes the accordion item to close.

## 💁 Possible Solution

I haven't looked at the code, but it appears as if the `change` event emitted by the checkboxes may be related. A workaround is t

[2022-06-22 23:12] #6133 closed

[2022-06-23 03:15] scomea commented on #6144
I believe the fix is for accordion to make sure that the event originated on a child accordion item:
    `private activeItemChange = (event: Event): void => {
        if (event.target === null || this.accordionItems.indexOf(event.target as HTMLElement) === -1){
            return;
        }`

fix coming soon

[2022-06-23 14:28] claviska commented on #5499
Looking at this more, I'm not sure it _is_ a bug. The docs only show a `change` event coming from combobox, not an `input` event.

The `change` event is emitting the correct value. The `input` event, which is the one in question, is being retargeted to the host element from the internal `<input>`. That means `event.target` will be the host element, not the internal input. As a result, the code in

[2022-06-23 16:59] radium-v opened #6147 "feat: add add calendar stories to storybook in fast-foundation"
# 🙋 Feature Request

For the `calendar` component, some minor restructuring around types is needed so we can avoid hard-coding values in the story `argTypes`. Some of the template partials may also need to be split out to make composition a bit easier.

## 🔦 Context

Follow-up from #6113.

[2022-06-23 17:53] m-akinc opened #6148 "fix: set spinbutton role in NumberField"
# 🐛 Bug Report

The FAST foundation number field has [spinbutton](https://www.w3.org/WAI/ARIA/apg/patterns/spinbutton/) semantics, so the input control should set the `role` attribute to "spinbutton".

## 💻 Repro or Code Sample

Examine the accessibility tree in dev tools. You'll see the number field is listed as "textbox" rather than "spinbutton".

## 🤔 Expected Behavior

Accessibility role shoul

[2022-06-23 18:07] chrisdholt commented on #6148
Can you elaborate on this:

I'm not entirely sure that spinbutton is correct here as the intent here is to essentially provide encapsulation to a input with type of number, essentially a "number" field in a form. This will need more investigation and any additional information you have around the above or investigation that you've done will be helpful.

[2022-06-23 18:26] m-akinc commented on #6148
The FAST number field has a text input control and "step-up" and "step-down" buttons, where up and down arrow on the keyboard increment/decrement the value. The component also supports `min` and `max` attributes to limit the value range. The description of a spinbutton (on the page I linked) matches this pretty closely:

Granted, the number field isn't _necessarily_ limited to a finite set of valu

[2022-06-23 18:37] rajsite commented on #6148
[`spinbutton` is also the implicit role for `<input type="number">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#accessibility) which it seems like number-field is an analog for.

[2022-06-24 14:31] EisenbergEffect opened #6151 "feat: enable per-request context and DI for SSR"
We need a way to isolate request-specific state so that Context and DI configuration doesn't get mixed up across requests from different users, as well as things like `window` and `document`. If possible, we should have a general purpose request storage solution in place with Context and DI layers on top of that.

[2022-06-24 14:36] #3446 closed

[2022-06-24 14:46] frederikhors commented on #3446
Why is closed? Where can we find info about it?

[2022-06-24 14:49] EisenbergEffect commented on #3446
It's closed because the work is complete. We'll be publishing the update to the website shortly, as soon as the build completes and is validated.

In the meantime, you can find Svelte starters here: https://github.com/microsoft/fast/tree/master/examples/svelte-starters and documentation on how to create your own setup here: https://github.com/microsoft/fast/blob/master/packages/web-components/fast

[2022-06-24 14:53] EisenbergEffect commented on #3446
Actually, it looks like there will be a delay in getting this published to the site. But you can use the links above. That markdown file is exactly what would be displayed on the site.

[2022-06-24 17:10] #6068 closed

[2022-06-24 18:29] #5886 closed

[2022-06-24 19:21] #6114 closed

[2022-06-24 21:15] hawkticehurst commented on #5901
@EisenbergEffect thank you for the write-up/explanation, this helps a lot!

I'm excited to see how this evolves, but it all looks very promising. I especially appreciate the ability to include arbitrary HTML as a sort of backdoor for the whole process if it's needed.

Also as time/energy permits, I would love to see more examples of this API as it evolves over the coming months.

[2022-06-24 21:22] EisenbergEffect commented on #5901
Next week I plan to start the work to move foundation to Iteration 4. That won't include the anatomies but it will get us through the breaking changes needed to enable that in the next iteration. I'm very much looking forward to that milestone. Once that's in place we can start building anatomy APIs in an incremental fashion for each component without introducing breaking changes.

In other words,

[2022-06-25 21:40] cryptographix opened #6156 "bug: throws on wrapping template tag with attributes, in non custom-element template"
You cannot include attributes on a wrapping template tag when there is no custom-element being rendered.

The issue was perceived when attempting to use the new `render` function, see (https://stackblitz.com/edit/typescript-ic8wc8?file=node-view.ts).

Fictitious example:

[code]

Expected behaviour: Generate a warning and not crash.

[2022-06-26 02:04] scomea opened #6157 "feat: add more functional tests for accordion"
# 🙋 Feature Request

The accordion component has no testing of runtime functionality, click expand button opening/closing etc...

We should add these in fast-foundation once we have moved to playright which should make event based testing easier and more robust.

[2022-06-26 17:31] arjendeblok commented on #5562
If I want to switch from material design components to FAST then this is absolutely necessary.

[2022-06-27 13:32] EisenbergEffect commented on #5678
Dropping a note here for you @nicholasrice This polyfill might be wroth looking at: https://github.com/calebdwilliams/element-internals-polyfill

[2022-06-27 18:52] huynhicode opened #6159 "docs: intro page updates"
Update [Intro page](https://www.fast.design/docs/introduction/):
- Move [Where Should I Start](https://www.fast.design/docs/introduction/#where-should-i-start) section to the top
- add visuals

[2022-06-27 20:04] solanors20 commented on #5099
I ended up using a simple replace with regex instead of the AST implementation because it was conflicting with other minifier (terser). But as @rajsite said, this can break the debugging. I haven't found a solution for that yet.

[code]

[2022-06-27 20:47] #6140 closed

[2022-06-27 21:42] nicholasrice commented on #5678
At this point I don't think this is an issue related to the ElementInternals implementation that we have and more of a component implementation issue. In this repro, only the text input repros the issue; the checkbox does not: https://stackblitz.com/edit/web-platform-xwkbet?file=index.html The big difference between these two is the use of delegatesFocus w/ an internal input element for the text f

[2022-06-27 23:22] prudepixie opened #6161 "fix: alternate way to reuse views from removed views"
Currently in **repeat** directive's _updateViews()_ function, we loop through the splices once to track all the removed views, then we loop through the splices array again to attempt to reuse the removed views if there are equal or more added items.
[code]

There could be an optimization opportunity here to reuse the removed views right away and only store them if there are leftover removed views

[2022-06-28 11:41] Yashi1201 commented on #6125
**GitHub Tags**:#LinkedBug;#Linked:Bug39148928;

Primary Bug Link : https://microsoft.visualstudio.com/OSGS/_workitems/edit/39148928

[2022-06-28 17:38] #6130 closed

[2022-06-28 18:07] prudepixie opened #6169 "fix: if view already exists, make insertBefore no-op"
[Repeat InsertBefore benchmarks](https://microsoft-my.sharepoint.com/:w:/p/wendywendy/EaMnhNG4vcpBj5aoFETZNx4BG2OLd0PfuZIhzCSPv8-Wyw?e=DIm1ky)

Following up on the discussions related to Repeat directive updateViews(),
on line 216 view.insertBefore(location), there were discussions around how there could be optimization opportunity to not run insertBefore() if view already exists.

Before making t

[2022-06-29 02:34] cryptographix opened #6170 "feat: add render() support for const objects"
# 🙋 Feature Request
Allow simple JS objects to be passed as parameters to the new render() directive, as a means of composing templates out of parametrized fragments of HTML.

## 🤔 Expected Behavior
Allows HTML fragments to be defined using the existing `html` directive and a `<TSource>` generic type parameter, and reused by passing non-observable objects, as in the following example:

Definition:

[2022-06-30 14:15] #6077 closed

[2022-06-30 14:17] EisenbergEffect opened #6174 "chore: move testing and di from fast-foundation to fast-element"
With the removal of `DesignSystem` and `FoundationElement`, there is now no dependency in testing on foundation nor is there any dependency in either direction on DI. Since these are both generally useful capabilities for any `fast-element` project whether one is using `fast-foundation` or not, we should move them to `fast-element` and provide them via export paths as follows:

* `@microsoft/fast-

[2022-06-30 18:52] prudepixie opened #6177 "bug: view is not inserted to the correct index when back to back shift and unshift operations are executed"
Starting from 2.0.0-beta versions, there seems to be a bug where if there are back to back shift -> unshift -> shift operations, the index of where the new views should be inserted is incorrect, reference here:
https://stackblitz.com/edit/typescript-cr8ipz?file=index.ts,index.html

Given `friends = ['one', 'two', 'three', 'four', 'five']`
after performing
[code]

the result should be `[ 'mary','tw

[2022-07-01 06:25] #6144 closed

[2022-07-01 20:12] #6161 closed

[2022-07-04 05:36] izaxon opened #6180 "docs: fix data grid custom columns sample in component explorer"
# 🙋 Documentation Request

The custom columns sample of the data grid doesn't seem to work. Cell content go missing when switching between custom columns.
![image](https://user-images.githubusercontent.com/805898/177087712-bbbbf9ec-5ac5-48dc-b3e4-93f3834cc4de.png)

It may be that the problem is in the data grid component.

## How to repeat:
1.  Go to https://explore.fast.design/components/fast-dat

[2022-07-04 20:29] JennyzhaoM commented on #5933
Sorry for the late response.
Here is the repo:
Test link: https://www.msn.com/en-us/feed?item=spalink%3A20220704.380/debug&item=flights%3Aprg-1sw-gbcnews3&wpoitems=Carousel%3AGroupedXfeedUpsell%3Bdynamicregion%3ACarouselCards
1. set the network to "slow 3G" from the devtool - network, click disable cache
![image](https://user-images.githubusercontent.com/100661201/177213400-fb138165-c2a1-41d8-bbbb

[2022-07-05 00:27] #6159 closed

[2022-07-05 20:03] chrisdholt opened #6185 "rfc: replace `anchored region` with utility from `floating-ui`"
# 💬 RFC

This issue proposes the deprecation of `Anchored Region` in favor of using utility provided via [floating-ui](https://floating-ui.com/docs/getting-started). Floating UI provides two key features, but for our scenarios we only require the primary functionality -  "Anchored positioning primitives". Floating UI describes this in the following way:

FAST is well aware of this problem which ha

[2022-07-06 15:09] scomea commented on #6185
Do the positioning "options" closely match the ones in the proposed css spec? ie. does it really avoid a future api change.  Can it do nested floaters? ie. menu items with menu items  We probably lose the menu "fill" behavior, but I think only `picker` uses that.

[2022-07-06 18:07] #6174 closed

[2022-07-06 18:33] EisenbergEffect commented on #6180
Thanks for reporting this @izaxon !
@scomea Any idea whether this is an issue with the grid itself or something in the explorer?

[2022-07-06 20:32] #6151 closed

[2022-07-07 14:20] claviska opened #6190 "fix: Disclosures overlap adjacent elements and incorrectly cache their expanded height"
# 🐛 Bug Report

Disclosures overlap elements that appear below them in the normal document flow.

I was creating a repro for one of our consumers and discovered a second, somewhat related bug, where it appears the expanded height is initially cached. That means subsequent changes to child elements will cause even more overlap.

Examples in the repro.

## 💻 Repro or Code Sample

https://jsfiddle.ne

[2022-07-07 17:20] chrisdholt commented on #6185
I've got nested menu items in the above video example - I think it would work going deeper as well as far as I can tell. In terms of positioning, I don't know if the current draft would be 100% 1:1 with the values that `floating-ui` has, but what is proposed is very, very close: https://tabatkins.github.io/specs/css-anchor-position/#anchor-pos. At worst, we'd only be updating/changing the values a

[2022-07-07 18:50] EisenbergEffect commented on #6185
I did some experimentation on my own with the `floating-ui` library recently and found it very easy to use. In particular, I need to implement context menus that were positioned relative to where the mouse had been clicked on a particular element. This was very easy to do by combining `fluent-ui` with our `menu` component. It wasn't as clear how to accomplish the exact same thing with our `anchore

[2022-07-07 23:57] #6170 closed

[2022-07-08 00:02] cryptographix commented on #6170
Looks good. Thanks Rob!

[2022-07-08 16:42] CuddleBunny commented on #6185
+1, before anchored region was released I actually implemented this in my own design system using `@popperjs/core` instead of `floating-ui` which looks just as capable. Taking third party dependencies is hard sometimes but there is a lot of nuance to anchored popups which I didn't want the maintenance overhead from when there is much prior art.

[2022-07-08 19:56] EisenbergEffect opened #6195 "fix: homepage rendering issues"
The homepage is broken in our main branch. We need to investigate and fix that so we can deploy our latest docs.

[2022-07-09 00:24] WolfspiritM commented on #3446
@EisenbergEffect It would be great if you could also provide some information how to use it with sveltekit. I know that sveltekit is still beta but more and more people are going to use it. Cause of SSR this doesn't really work. What I did is using the _layout.svelte file and add:

[code]

But not sure if that is the correct approach.

Also: Is there a way to add attribute autocomplete / suggestio

[2022-07-09 02:51] EisenbergEffect commented on #3446
We're not Svelte experts and unfortunately haven't worked with SvelteKit. But we'd be happy to take a contribution to the docs for any additional notes related to that. I couldn't say what the best approach would be with that library. We have to rely on the Svelte community to tell us.

There is a work in progress autocomplete. We need VS Code to support the new custom-element.json W3C Community P

[2022-07-09 03:11] #6195 closed

[2022-07-09 07:19] yinonov commented on #6185
Even though we mostly rely on fast foundation now in our codebase, we have done the same with floating UI.

Also tried to align to the popup explainer with its interface

https://github.com/Vonage/vivid-3/tree/main/libs/components/src/lib/popup

[2022-07-09 14:39] Holyphoenix commented on #6185
I think this is a good idea. My team has already started using floating-ui with our fast components due to how simple it was to get it to do what we needed. Solved some problems we were having with positioning (particularly with the dropdown) very quickly and easily with floating-ui.

[2022-07-11 16:49] EisenbergEffect opened #6199 "bug: isDefined on FASTElementDefinition reports true incorrectly"
`isDefined` on `FASTElementDefinition` should only return `true` if the definition has been registered with at least one platform custom elements registry.

[2022-07-12 12:09] EisenbergEffect opened #6200 "feat: enable render directive in SSR"
The optional `render` directive was recently introduced in `fast-element`. We need to add an SSR configuration for this so that it can be used in that context.

[2022-07-12 23:11] #6199 closed, assigned to EisenbergEffect

[2022-07-13 08:22] apanwar22i opened #6203 "Styling issue with the checkbox component."
I followed the steps from the given tutorial
https://docs.microsoft.com/en-us/fluent-ui/web-components/components/checkbox

I used the checkbox tag like this
![image](https://user-images.githubusercontent.com/109206668/178686249-4c17609d-db48-4b23-8dc2-026271d9eba2.png)

But giving me the result like that:
![image](https://user-images.githubusercontent.com/109206668/178686025-3c11422b-fa9d-4f90-87

[2022-07-13 08:41] apanwar22i opened #6204 "Couldn’t found the supported attributes and functionalities inside the Fluent UI documentation."
Hi,
If I want to implement any FluentUI component, there is no description of the supported attributes of the component.
For example, If i'm going to implement fluent-combobox, i can see the implementation tags inside the combobox documentation but not the supported attributes and the functionalities
https://docs.microsoft.com/en-us/fluent-ui/web-components/components/combobox

🙋 Please can you pr

[2022-07-13 09:21] apanwar22i opened #6205 "Fluent Card is not working correctly and throwing "Cannot read properties of undefined"."
Hi, im getting a runtime error of the Fluent Card component.
<img width="503" alt="card" src="https://user-images.githubusercontent.com/109206668/178691494-db90f983-6f86-4150-bad2-e04ba1795898.png">

my implementation is like this:
![card code](https://user-images.githubusercontent.com/109206668/178691166-e1f4f40f-6b47-42ad-86ff-1d9b71db047e.png)

Tags:
![card tags](https://user-images.githubuserc

[2022-07-13 16:37] prudepixie opened #6207 "fix(fast-element-1): only store removed views if it can't be reused right away"
REF: https://github.com/microsoft/fast/pull/6162
        https://github.com/microsoft/fast/issues/6161

Adding the solution above to archives/fast-element-1

[2022-07-13 16:45] benwaar opened #6208 "Design system tutorial TS build error"
Trying to build the design system tutorial results in a build error:

ERROR in ./src/main.ts
Module build failed (from ./node_modules/ts-loader/index.js):
Error: Debug Failure. False expression: Non-string value passed to ts.resolveTypeReferenceDirective, likely by a wrapping package working with an outdated resolveTypeReferenceDirectives signature. This is probably not a problem in TS itself.

Ya

[2022-07-13 16:46] chrisdholt commented on #6208
Thanks @benwaar, taking a look

[2022-07-13 21:41] eljefe223 opened #6211 "fix: auto sized children break horizontal scroll"
# 🐛 Bug Report

When children inside of `horizontal-scroll` have their widths set to `auto` the flippers will not appear.

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozill

[2022-07-14 00:54] #6156 closed

[2022-07-14 07:33] liulina0228 opened #6212 "fix: [when the attribute of the array element instruction changes， The repeat DOM dose not updated]"
# 🐛 Bug Report

 when the attribute of the array element  instruction changes， The repeat DOM dose  not updated

## 💻 Repro or Code Sample
// dom
${repeat(
    x => x.uploadQueue,
    html`
    <li class="uploader-file">
      <span class="uploader-file-name">${ x=> x.name}</span>
      ${when(x => x.showFilePauseBtn, html`
        <span class="uploader-file-pause" @click="${(x, c) => c.parent.fil

[2022-07-14 11:51] vnbaaij opened #6213 "fix: there are no slots defined in fast-tab"
# 🐛 Bug Report

`<fast-tabs>` has slots defined for start and end so you can easily put content in front or at the end of a tab list. The `<fast-tab>` component used inside the tabs does not have these slots defined (just one default slot for the content of the tab)

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

I would expect `<fast-tab>` to have slots like 'start' and 'end' to make it easy

[2022-07-14 12:15] #6200 closed

[2022-07-14 15:24] #6207 closed

[2022-07-14 17:38] KingOfTac commented on #6205
@apanwar22i It looks like you may be using FAST within a React application. There are integration docs available for React that might alleviate the issues you're having. https://www.fast.design/docs/integrations/react

[2022-07-14 17:46] KingOfTac commented on #6205
Stackblitx example. https://stackblitz.com/edit/react-ts-wr3hj1?file=App.tsx

[2022-07-14 17:59] KingOfTac commented on #6204
@apanwar22i Fluent UI Web Components uses the component classes exported by fast-foundation which have API documentation that can be found on the FAST website. https://www.fast.design/docs/components/anchor#api

Fluent UI also has a storybook. https://fluent-components.azurewebsites.net/

[2022-07-14 22:09] KingOfTac opened #6217 "feat: add subpath export for custom-elements.json to `Foundation`"
# 🙋 Feature Request
Something I noticed in my own web component package is I can no longer import the custom-elements.json it exports after switching to using subpath exports. This makes tooling built around the custom-elements-manifest to break when importing the package.

Since `Foundation` currently does not have an exports field for the manifest, it will suffer from the above behavior after V3

[2022-07-14 22:11] KingOfTac commented on #6217
I'll get a PR up this evening

[2022-07-15 01:43] EisenbergEffect opened #6220 "feat: enable all "binding modes" to be used anywhere, including repeat, render, when directives"

[2022-07-15 08:08] apanwar22i commented on #6205
Thank you, Its working now.

[2022-07-15 08:08] #6205 closed

[2022-07-15 19:36] nicholasrice opened #6222 "docs: update link in SSR directive support matrix when new fast v2 documentation is published"
See #6215 for context. fast-ssr README.md contains a support matrix for fast-element directives that all like to relevant documentation, except for the `render` directive which at this point in time does not have public documentation to link to. When a documentation endpoint is added for `render`, that support matrix should reference that endpoint.

[2022-07-16 09:39] A55imilat0r commented on #5526
Not stale still seeking community support to run with this.

[2022-07-16 18:19] EisenbergEffect commented on #5526
Thanks for tagging this @A55imilat0r. I've removed the stale tag. This remains something we are interested in and would love to do. At the present time, we aren't able to do the work ourselves, as much as we would like to. We'd be more than happy to work with a community member on this if someone wants to give it a shot.

[2022-07-17 02:25] prudepixie opened #6223 "chore: upgrade tachometer version to 0.7.0"
There are some breaking changes in polymer/tachometer@0.7.0:
https://github.com/Polymer/tachometer/commit/e6c340aee3920425e8f1c2d49e030a1211ab26a2
`Tachometer is now an ES module binary`
May have to adjust a few things based on this change.

There was also a 0.6.0 version update: https://github.com/Polymer/tachometer/commit/dfd623f0efe86413b957460eb15000d532af3972
`Previously, the server root and

[2022-07-18 18:44] #6213 closed

[2022-07-18 19:49] EisenbergEffect opened #6225 "fix: extract error messages from context and DI"
Now that the DI system is part of `fast-element` it can more easily use the debug error system. We should extract all the error messages out of these modules and use the debug system.

[2022-07-18 20:01] #6225 closed

[2022-07-18 20:26] #6217 closed

[2022-07-18 21:34] KingOfTac commented on #6203
Stackblitz using the latest `fluentui/web-components` and `fast-react-wrapper` with a `fluent-checkbox` https://stackblitz.com/edit/react-ts-wr3hj1?file=App.tsx

[2022-07-19 12:44] vnbaaij opened #6228 "fix: no change event emitted when 'clear' button is clicked in Search component"
# 🐛 Bug Report

As the title says...Because of this, I can't 'catch' this event on the Blazor side and respond to the clear click in an appropriate way.

## 💻 Repro or Code Sample

The clear button clicked is handeled here: https://github.com/microsoft/fast/blob/838081ba9fb887fe6f9daa4eaffc76cd7db0da50/packages/web-components/fast-foundation/src/search/search.ts#L215

## 🤔 Expected Behavior

`hand

[2022-07-19 16:27] PoojaC94 opened #6229 "Enable external import of fixture from @microsoft/fast-element for unit testing"
There is limited documentation on unit tests for components built with FAST. While using 'fixture' is a good way to obtain the DOM elements and analyzing the functionality(clicks, button displays etc), it is unfortunately not exported from `@microsoft/fast-element`.

It would be very helpful if export of fixture is enabled and more documentation is provided for unit testing.

[2022-07-19 19:54] #6229 closed

[2022-07-19 22:56] #6223 closed

[2022-07-21 15:27] bougwal opened #6234 "fix: runtime undefined error when choosing pickers from sidebar in fast-explore-website"
# 🐛 Bug Report

[Fast explorer website](https://explore.fast.design/components/fast-accordion) sidebar picker elements are not accessible.
## 💻 Repro or Code Sample
Error message: **Uncaught TypeError: Cannot read properties of undefined (reading 'scenarios')**

## 🤔 Expected Behavior

Accessing picker components as the rest of the explorer website components such as Button or Accordion

## 😯 Curr

[2022-07-21 17:50] EisenbergEffect commented on #6203
@apanwar22i Can you confirm that this fixes your issue?

[2022-07-22 01:56] KingOfTac opened #6236 "rfc: add `MenuButton`"
# MenuButton

## Overview

As defined by the W3C:

### Background

A common request in the FAST community is how to make dropdowns, either for action menus or navigation. It is also a very common pattern amongst UI libraries, and while it is something that can produced using a combination of components that already exist in FAST it still a difficult pattern to implement correctly when accessibilit

[2022-07-22 02:31] KingOfTac commented on #6236
I don't how I missed #5469 when looking for existing issues tracking this.

[2022-07-22 09:50] KingOfTac commented on #6236
[WIP Examples](https://stackblitz.com/edit/typescript-7zraa7?ctl=1&embed=1&file=menu-button/menu-button.ts&hideDevTools=1&hideExplorer=1&view=preview)

[2022-07-25 06:15] liulina0228 commented on #6212
The uploadQueue is an observable， the showFilePauseBtn is a property of uploadQueue Array elements

[2022-07-25 10:58] apanwar22i commented on #6204
Thanks, @KingOfTac @EisenbergEffect for directing towards Fast documentation, it did help in resolving the issue. Glad that you are keeping this open and adding information to the Fluent site as well.

[2022-07-25 11:03] apanwar22i commented on #6203
@EisenbergEffect not yet, however, we have got a workaround suggested with https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/1772, and we are trying that now. I will update once it works.

[2022-07-25 15:47] EisenbergEffect commented on #6212
Is the `showFilePauseBtn` itself an `@observable` property? That's the key requirement to get UI updates. Each property has to be observable.

[2022-07-25 16:24] EisenbergEffect commented on #6234
Thanks for reporting this @walidBouguima. We are in a transition right now, moving away from the FAST Components and towards a new CLI that would enable quickly building custom design system. The components site is a bit of "legacy" content.

@chrisdholt @janechu How do we want to address this? Is there a quick fix we can make? I think that several community members have it this issue.

[2022-07-25 16:30] KingOfTac commented on #6234
@EisenbergEffect as a sidenote, `Search` is having the same issue and disclosure loads but doesn't work properly.

[2022-07-25 18:47] EisenbergEffect commented on #5901
Update: Foundation Iteration 4 is committed to our main branch and released in beta. The CLI does not yet generate components based on this version, but that work is in progress now.

[2022-07-25 18:50] chrisdholt commented on #6234
I don't know if there is a quick fix - the fix would need to happen in the fast-components archive I believe, especially if there is a component issue. I think the consideration here is that we need to get the CLI up and then we need some way to help get folks routed there for the components.

[2022-07-25 19:14] EisenbergEffect commented on #6234
@chrisdholt Should we use the CLI to generate a default Storybook with our base styles and then point the components link to that?

[2022-07-25 20:42] prudepixie commented on #6110
This work is moved back to backlog, as this works locally, but to merge into the main branch, would have to wait until the collate PR gets merged to tachometer.

[2022-07-25 21:28] EisenbergEffect commented on #6234
@janechu @bheston What do you two think of creating a Storybook plugin that can manipulate some design tokens? We could use this for our default CLI setup as well as our components site.

[2022-07-25 21:31] chrisdholt commented on #6234
Just a note that for initial work, we can likely just use the current add ons which support some basic setting of things like theme, and we can probably do a "select" for accent color to start. That would get us off the ground and we could create a customized picker or whatnot if we want. If the consideration is immediacy with low overhead, I'd probably suggest starting with the existing addons su

[2022-07-26 16:04] EisenbergEffect commented on #5901
Great feedback @sonntag-philipp ! On the documentation/analyzer front, we have plans around that as part of the CLI. We've recently done some work to generate custom-element.json files from our foundation components and then to generate markdown documentation from that. We're looking at bringing this into the CLI so that the same can be auto-generated for any design system.

[2022-07-26 16:23] prudepixie opened #6239 "perf: add benchmarks for Observables"
Following the docs on Observables https://www.fast.design/docs/fast-element/observables-and-state,
Create benchmarks around observables and subscription.
This would be helpful in future iterations involving Observables.

[2022-07-26 21:59] atmgrifter00 commented on #6111
@EisenbergEffect, I thought I had fixed this issue with the above PR (#6415), but that didn't cover the case for the `autocomplete` modes of `inline` and `both`. Apologies. I will have a new PR up shortly to address this.

[2022-07-26 22:18] EisenbergEffect commented on #6111
Not a problem. Adding @chrisdholt since he manages the component work.

[2022-07-27 06:47] scomea commented on #6125
Fix in progress.  Should have something up in the next few days.

[2022-07-27 10:19] sonntag-philipp commented on #5901
Alright, I'm really glad to hear that!
Are you able to share some information of the parts that will describe the custom elements? Like, if they will be statically analyzed JSDoc annotations like the ones already used by the cem analyzer? I could also think of a completely different solution that uses TypeScript decorators or something else.
It's also fine if you can not say anything about that fo

[2022-07-27 13:29] EisenbergEffect commented on #5901
At present, the plan is to use the CEM analyzer. This is what we're using for our current foundation docs. We hope to have the CLI set this up for any design system projects as well.

[2022-07-27 18:17] prudepixie opened #6245 "fix(fast-element-1): if view already exists, make insertBefore no-op"
Adding solution from https://github.com/microsoft/fast/issues/6169 to fast-element-1

[2022-07-27 20:12] #6169 closed

[2022-07-27 22:03] rajsite commented on #5626
@chrisdholt another client of ours landed on this and while the method now exists we were surprised that it was marked protected. The select method is part of the public api of the native `<input type="text">` which is the API surface that FAST Text Field would try to implement.

Is the intention that as a class extending Fast Foundation we would have to manually opt-in to exposing parts of the AP

[2022-07-27 22:05] chrisdholt commented on #5626
Do you have an example of the implementation being utilized here so we can look across things accordingly?

[2022-07-27 22:15] rajsite commented on #5626
For usage of the select() method an example that came up was a text field used for form entry. When the user attempted to submit the form and validation failed a script called select() on the text field to highlight the content of the text field that failed validation making it easier for the user to try and enter a new valid value.

In our design system we implemented a TextField that extends Fou

[2022-07-28 04:07] chrisdholt commented on #6236
Thanks for this! One immediate thought that I have here is that I think the current RFC details _two_ implementations. What I mean by that is that I think this illustrates both the *foundation* implementation, as well as what I would expect from the CLI.  Specifically, I wonder about the "universal" applicability of `menu-width`, `menu-height`, and `menu-offset`. I *really* like these for the "FAS

[2022-07-28 16:17] #6177 closed

[2022-07-28 16:27] KingOfTac commented on #6236
From a foundation point of view, I agree they aren't needed.

Getting into the implementation specifics, I would say if floating-ui is used by the foundation class, it would be pretty easy for implementations to provide their own version of `computePosition` and add the specific middewares and positioning details that they want. So with that in mind the CLI starter could very well add the `menu-wi

[2022-07-28 17:29] daviddossett commented on #5469
Hi all! Just checking in here. We're still looking to [add a split button to the webview UI toolkit](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/39) as soon as possible. Basically to have a component that mirrors VS Code's.

![vs-code-split-button](https://user-images.githubusercontent.com/25163139/181599971-17934ef5-7d70-4e84-b456-cb7a5d0185f1.gif)

..which is similar to Fluent'

[2022-07-28 17:32] chrisdholt commented on #6236
This was exactly the consideration I had when working to incorporate Floating-UI into a couple of our components as part of #6186. My thought was that while it might make for a robust API, exposing everything would make for a very "cluttered" API by default. Instead, I figured a better way might be to have a public method that could be overridden to provide a more custom and bespoke implementation

[2022-07-28 17:40] chrisdholt commented on #5469
I've done some prototyping here and I think the most difficult consideration is that ideally neither of these controls are in the Shadow DOM. @daviddossett do you have ideas on how split button might manifest as a foundation component? I'd be happy to share how I approached this in my prototype and how I think it could be setup for VSCode toolkit. Technically I guess I could contribute a proposal

[2022-07-28 18:07] chrisdholt commented on #5626
Thanks @rajsite, I think if I can get a small repro illustrating this it will help. Just from a cursory test myself, I'm able to get a reference to the element (text field) and call `.select()` on it, which resulted in correctly selecting the text while testing the foundation component.

[2022-07-28 18:29] chrisdholt commented on #5626
Thx for confirming, happy to take a PR to update.

[2022-07-28 18:31] rajsite commented on #5626
Will do!

[2022-07-28 19:13] rajsite commented on #5320
@chrisdholt do you know the state of #6023? It seems like it was closed a couple weeks ago but I'm having trouble finding a discussion on the outcome.

[2022-07-28 19:14] EisenbergEffect commented on #5320
I believe that the outcome wast to always make default boolean values `false` so that this issue doesn't happen. However, that's a breaking change so it would need to come in our upcoming major version. @Chrisdholt can correct me if I'm wrong.

[2022-07-28 19:16] chrisdholt commented on #5320
Yeah I closed this as it was so far out of date. It should be light work to be honest as these are all "false", I just need to get a branch setup. In some cases, code will likely need to be changed to ensure that some of these which bind to ARIA attributes don't _add_ ARIA where it's not expected (there are a few of these cases).

We did the work I believe in Foundation already to remove all defau

[2022-07-28 19:26] rajsite commented on #5320
Makes sense to be part of ffv3 as a breaking change, thanks!

[2022-07-28 19:34] KingOfTac commented on #6236
1. I think using menu is perfectly doable. The challenges with it are, like you said it doesn't represent all menus.

2. This comment made me realize I missed adding the menu role in the anatomy section, so I went and updated that above. I think you're right that `labelledby` won't cross the shadow boundary so that's why I intended the menu element to be a part of `MenuButton`'s anatomy. I can see

[2022-07-28 23:42] prudepixie commented on #5908
discussion on typescript minification https://github.com/microsoft/TypeScript/issues/8

[2022-07-29 16:20] m-akinc commented on #5626
I have created PR #6246 to make the select() functions public.

[2022-07-29 20:16] aidendk opened #6247 "fix: tri-state visible boolean value in fast/tooltip.ts"
# 🐛 Bug Report
The FAST tooltip variable `visible` is declared as a `boolean` here, https://github.com/microsoft/fast/blob/775d51602cba544347ec1e57fdb4fea248d1b1b5/packages/web-components/fast-foundation/src/tooltip/tooltip.ts#L33

but has the possibility of being `undefined` in this function.
https://github.com/microsoft/fast/blob/775d51602cba544347ec1e57fdb4fea248d1b1b5/packages/web-components/f

[2022-07-29 21:29] radium-v opened #6248 "fix: menu retains tab order when an item's hidden state changes after connect"
# 🐛 Bug Report

When a menu item's `hidden` state changes after its parent menu is connected, it remains in the parent menu's navigation order.

## 💻 Repro or Code Sample

1. Navigate to https://explore.fast.design/components/fast-menu
2. Click the first menu item.
3. Navigate focus to the end of the list with the down arrow key.
4. Open the browser devtools and inspect the second menu item.
6. Ad

[2022-08-01 16:29] KingOfTac commented on #6236
@chrisdholt Not a fully functioning menu button, but this shows the Behavior I was seeing with NVDA and using `Button` https://stackblitz.com/edit/typescript-lh92fh?file=index.ts

[2022-08-01 16:38] jweill-aws opened #6250 "docs: Algolia search box on fast.design docs returns no results for most keywords"
# 🐛 Bug Report

On the [fast.design documentation web site](https://www.fast.design/docs/introduction/), the search box in the upper-right corner does not return results for most keywords. For example, the keywords `design` and `checkbox` yield no results, but page names such as `Archive` return a link to the page.

## 💻 Repro or Code Sample

Visit https://www.fast.design/docs/introduction/, click

[2022-08-01 18:10] radium-v opened #6251 "fix: number-field accepts arbitrary "e" characters"
# 🐛 Bug Report

The `<fast-number-field>` element allows for the `e` character to be entered.

## 💻 Repro or Code Sample

1. Go to https://explore.fast.design/components/fast-number-field
2. Click the number field
3. type `e`
4. Type more `e`

## 🤔 Expected Behavior

Should the `e` character be allowed in the number field for exponent notation?

## 😯 Current Behavior

Values like `eeeeeeeee` are p

[2022-08-01 21:09] mikecentola commented on #5444
I was able to use CSP with [vscode-webview-ui-toolkit](https://github.com/microsoft/vscode-webview-ui-toolkit) by adding the `<meta property='csp-nonce' content='{cspNonce}'>` to my extension, but I think it should either use `<meta name='csp-nonce' ...` or check for both in https://github.com/microsoft/fast/blob/master/packages/utilities/fast-web-utilities/src/dom.ts

I can create a PR with this

[2022-08-02 17:54] KingOfTac commented on #6185
While `floating-ui` is very easy to use and works wonders, one adavantage that `AnchoredRegion` currently has over it is the concept of inset positioning. `AnchoredRegion` has the ability to position floating elements along the inner edge of a reference element while floating-ui cannot, at least not in a way that is documented or without writing a custom middleware.

[2022-08-02 18:55] chrisdholt commented on #6247
Adding @scomea who can hopefully provide some insight into when we might ever have a non-boolean value.

[2022-08-02 19:41] KingOfTac opened #6255 "feat: add subpath export for package.json to packages"
I recently discovered that tooling that tries to look at the package.json of a package using subpath exports cannot import the file unless it is explicitly exported. similar situation to #6217

# 🙋 Feature Request
export the package.json from `fast-element`, `fast-foundation`, and `fast-ssr`

## 🤔 Expected Behavior
`require.resolve("@microsoft/fast-element/package.json")` should import the file.

[2022-08-02 19:44] KingOfTac commented on #6255
I can tackle this since it is the same as #6217

[2022-08-03 15:03] atmgrifter00 commented on #6142
Fixed by [https://github.com/microsoft/fast/pull/6145](https://github.com/microsoft/fast/pull/6145).

[2022-08-03 15:03] #6142 closed

[2022-08-03 15:04] atmgrifter00 commented on #6106
Fixed by [https://github.com/microsoft/fast/pull/6145](https://github.com/microsoft/fast/pull/6145).

[2022-08-03 15:04] #6106 closed

[2022-08-03 15:05] atmgrifter00 commented on #6111
Fixed by [https://github.com/microsoft/fast/pull/6145](https://github.com/microsoft/fast/pull/6145) and [https://github.com/microsoft/fast/pull/6242](https://github.com/microsoft/fast/pull/6242).

[2022-08-03 15:05] #6111 closed

[2022-08-03 16:56] aidendk opened #6257 "fix: Tooltip `delay` value does not have a nullableNumberConverter in fast/tooltip.ts"
# 🐛 Bug Report
The `delay` value of the tooltip does not have a `nullableNumberConverter`, which conflicts with Angular attribute binding.

## 💻 Repro or Code Sample
https://github.com/microsoft/fast/blob/52a57b88060b24d61f6161a667cec3360b3429c4/packages/web-components/fast-foundation/src/tooltip/tooltip.ts#L63-L64

## 🤔 Expected Behavior
`delay` should always return as a number.

## 😯 Current Beh

[2022-08-03 18:26] nicholasrice commented on #6137
Dupe of #6200 - closed.

[2022-08-03 18:26] #6137 closed

[2022-08-03 18:38] #6257 closed

[2022-08-03 22:08] awentzel commented on #5444
That would be excellent. Please document the changes so others can learn and apply to their apps as well if you don't mind.  thanks for your contribution.

[2022-08-04 03:21] mikecentola commented on #5444
@awentzel do you need me to add more to the PR? I can try to add some to the docs too?

[2022-08-04 18:18] awentzel commented on #5444
I would add the minimum requirements for this change and then documentation would be great so people understand why it's important and how to implement.  I don't think we have any security documentation right now, so adding in the package readme.md would be sufficient under a Security section.

[2022-08-04 18:50] mikecentola commented on #5444
Roger that. I'll add to this PR with the additional README documentation.

[2022-08-05 20:05] robarbms opened #6261 "fix: next flipper disabled for hidden horizontal-scroll"
# 🐛 Bug Report

If a horizontal-scroll component is rendered hidden or inside of a hidden element, it will calculate all of it's children widths as 0px. This causes the next flipper to be disabled. It also causes all of the scroll stops to be 0.

## 💻 Repro or Code Sample

Render horizontal-scroll in a hidden container. Show the container.

## 🤔 Expected Behavior

When shown, the horizontal-scroll

[2022-08-05 23:17] nicholasrice opened #6263 "fix: better TypeScript support for instance checking FASTElement"
I would like to see the `FASTElement` type better TypeScript support for instance-checking `FASTElement` types. Specifically, the issue I've noticed is that within `instanceof FASTElement` conditionals, TypeScript does not correctly infer the type and expose FASTElement APIs (or HTMLElement APIs) for the variable.

**Repro of the unexpected behavior**
https://stackblitz.com/edit/typescript-wxvqac?

[2022-08-05 23:46] nicholasrice commented on #6263
Asserting the type also seems to fix the `instanceof FASTElement` checks, which wouldn't require any actual code changes:
[code]

[2022-08-06 14:39] apanwar22i commented on #6203
@EisenbergEffect @KingOfTac We tried a solution which was given inside this ticket https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/1772

[2022-08-06 14:50] apanwar22i commented on #6204
@KingOfTac @EisenbergEffect Just want to give you a heads-up.
If we are using components like this:
`<fluent-checkbox checked>Label string</fluent-checkbox>`
then FastUI docs are good.
But when we use the components inside react like this:
`<FluentCheckbox defaultChecked={true}>Label string</FluentCheckbox>`
Then we will face problem to understand attribute names.
Attribute names are different in

[2022-08-06 15:11] apanwar22i opened #6266 "Unable to set disabled attribute on FluentUI Checkbox in ReactJS."
Hi, I'm facing an issue with Fluent Checkbox. When I try to set "disabled" attribute on the control, the VS Code throw an error message:

We are using FluentUI Component inside ReactJS by using wrapping method. Strange thing is that, "disabled" property working on Fluent button. Please take a look to the screenshot:

<img width="918" alt="image" src="https://user-images.githubusercontent.com/10920

[2022-08-08 15:06] EisenbergEffect commented on #6203
Ok, closing this one out. The root of the issue seems to be that MGT isn't running the latest version of the Fluent components and that is causing some mis-matches in the styles. There's a work around in place and from some conversations we've had internally, MGT plans on updating the libraries to address this longer term as well.

[2022-08-08 15:06] #6203 closed

[2022-08-08 15:08] EisenbergEffect commented on #6204
Ah, that makes sense! We've recently done some work to improve the Fluent UI documentation for Web Components, where we've added explicit Blazor code samples. Our next step is to publish all the API definitions there, for general use. So, that should help in figuring this out going forward. After that, we can look at adding dedicated React examples along side the Blazor examples. It will take quit

[2022-08-08 17:13] atmgrifter00 opened #6267 "fix: Typing text in Combobox does not update value as you type"
# 🐛 Bug Report

I brought up this behavior in this [Discord post](https://discord.com/channels/449251231706251264/482296787021856768/1005149970665574501) in order to determine if there was an explicit reason why the `Combobox` didn't update its value as you typed the way the native `input` and the FAST `TextField` do. @radium-v noted some [ARIA guidance](https://w3c.github.io/aria-practices/exampl

[2022-08-08 17:17] #6263 closed

[2022-08-08 18:10] #6239 closed

[2022-08-08 18:12] prudepixie opened #6268 "perf: add observable benchmark to github workflow"
Follow up work for adding the new observable benchmark to our automation pipeline:
Reference: https://github.com/microsoft/fast/pull/6244

[2022-08-08 18:48] EisenbergEffect commented on #6250
Thanks for reporting this. We're looking into it now.

[2022-08-08 19:06] EisenbergEffect commented on #6266
Looks like `disabled` may indeed be a missing feature. @chrisdholt Can you confirm?

[2022-08-08 19:09] chrisdholt commented on #6266
This is inherited from FormAssociated, it exists on the class, is referenced in Checkbox and is able to be set: https://github.com/microsoft/fast/blob/21f3145620c12842a88314ea4f46899626fb6960/packages/web-components/fast-foundation/src/form-associated/form-associated.ts#L378

[2022-08-08 19:21] EisenbergEffect commented on #6266
Oops. Looks like I missed that when I was scanning the code. Hmm. Odd that TypeScript says it isn't there on the React Wrapper. That should pick up all public properties. I'll need to look into this separately. I'll add this to my list. @apanwar22i I'll add this to my list but not sure if I'll be able to get to it this week.

[2022-08-08 19:29] KingOfTac commented on #6266
I just tested using react@18.2.0 and fluentui@2.5.3 with fast-react-wrapper@0.3.11 and everything seems to be working fine.
https://stackblitz.com/edit/react-ts-wr3hj1?file=App.tsx

I'm wondering if it is issues caused by microsoft/mgt using an older version of fluentui which may be using an older version of fast-element and foundation that what @apanwar22i has specified in the package.json

[2022-08-08 20:01] EisenbergEffect commented on #6266
That could certainly cause the issue, yep.

[2022-08-09 05:02] apanwar22i commented on #6266
@KingOfTac @EisenbergEffect  So this is happening because of MGT? I checked your code snippet on stackblitz, we are using same version.

[2022-08-09 11:43] OndrejSulc opened #6305 "[Bug]: Combobox current-value not changing"

[2022-08-09 15:47] scomea commented on #6247
The intent is that the tooltip's visibility can either be explicitly controlled with true/false or if undefined the tooltip manages that itself based on the hover/focus state of the anchor.  Perhaps an enum "auto/visible/hidden" attribute ("visibility-mode"?) with a boolean read-only prop that tracks the current state of the tooltip?

[2022-08-09 16:08] EisenbergEffect commented on #6266
It could be a conflict between the version of the components that MGT is bundled with. I'm reaching out to the MGT team to see if they have any insight on this. Thanks for your patience.

[2022-08-09 17:21] huynhicode commented on #6250
This has been resolved by recrawling the site; search now returns results. 🎉 @EisenbergEffect @jweill-aws

[2022-08-09 17:35] #6134 closed

[2022-08-09 17:35] #5902 closed

[2022-08-09 17:35] #5903 closed

[2022-08-09 18:11] apanwar22i commented on #6266
@EisenbergEffect Is there any alternate solution/workaround for now?

[2022-08-09 18:35] EisenbergEffect commented on #6266
@apanwar22i Check to make sure you don't have two versions of the components in your solution. Have a look at your lock file. If you find two versions of fast or Fluent then try to manually resolve them all to the latest versions.

I don't know a lot about how MGT is put together. I've reached out to their team to try to see if we can get you a solution. But I'd start by checking for duplicates fi

[2022-08-09 20:48] nicholasrice opened #6271 "feat: add DesignToken root that can be used in SSR"
# 🙋 Feature Request
DesignToken should support registration of a root that can be used in SSR environments to store and emit CSS custom properties for a compilation context.

## 🤔 Expected Behavior

## 😯 Current Behavior
Today, the roots that can be registered for DesignToken default CSS custom property emission are any FASTElement instance or a document, with the default being the document. When

[2022-08-09 20:59] nicholasrice opened #6272 "feat: add SSR DesignToken strategy"
# 🙋 Feature Request
Implement a DesignToken resolution strategy that correctly resolves DesignTokenNode hierarchies in SSR environments.

## 🤔 Expected Behavior

## 😯 Current Behavior
The default resolution strategy implemented in DesignToken uses manual DOM walking to resolve DesignTokenNode hierarchies. This is more performant than Event emission, however it leverages APIs that are not implement

[2022-08-09 21:06] nicholasrice opened #6273 "docs: Update DesignToken documentation to address API changes from #6171"
# 🙋 Documentation Request
#6171 refactored DesignToken and changed the API. Documentation should cover:
- Changes to the subscribe & unsubscribe methods (no "target" argument anymore)
- DesignToken Resolver pattern
- How to set values for FASTElements (set values in connectedCallback / after connected to the DOM)
- Migration guide

## 💁 Possible Solution

[2022-08-09 23:58] #6268 closed

[2022-08-10 17:45] nicholasrice commented on #5678
I've distilled the repro down to one that uses only DOM APIs (no FAST code): https://stackblitz.com/edit/typescript-rguvon?file=index.ts

The behavior appears inherent to using both the ElementInternals feature in conjunction with delegatesFocus, which is the approach that the following FAST controls leverage:
- button
- combobox
- number-field
- search
- text-area
- text-field

It appears that th

[2022-08-10 19:55] EisenbergEffect commented on #6250
Thanks @huynhicode ! Closing as done.

[2022-08-10 19:55] #6250 closed

[2022-08-10 22:34] nicholasrice commented on #5890
This appears to be a dupe of #5678

[2022-08-10 22:34] #5890 closed

[2022-08-10 23:17] radium-v opened #6275 "fix: disabled tabs are focusable with home and enter keys"
# 🐛 Bug Report

When navigating between tabs in the `<fast-tabs>` component with the keyboard, the `Home` and `End` keys direct focus to the first and last items regardless of their `disabled` state.

## 💻 Repro or Code Sample

1. Go to https://explore.fast.design/components/fast-tabs
2. Paste this into the Code box:
[code]
3. Click the second tab labeled "Tab two" in the preview.
4. Press the lef

[2022-08-11 20:15] nicholasrice commented on #5678
Here are a few ways I think we can fix this problem. The changes would affect the following components, all of which use ElementInternals (and form association) and focus delegation:
- button
- combobox
- number-field
- picker (@scomea do you know if picker should be defined with delegatesFocus or not? storybook and .spec.ts implementations differ)
- search
- text-area
- text-field

### Wrapper Co

[2022-08-12 09:01] iamjanit opened #6276 "fix: fluentSelect unable to set selected option on load"
We are using fluent ui's control via @microsoft/fast-react-wrapper npm package, and when trying to render the FluentSelect with FluentOptions programmatically and setting the selected attribute to conditionally true, it doesn't work. Below is the code snippet we are using :-

[code]
Expected Behaviour:
Should set the options as selected when condition item.id === props.defaultSelection is true

Cu

[2022-08-12 11:21] apanwar22i commented on #6266
@EisenbergEffect Can you please review these npm packages that we are using on our React application. Is all fast packages are mandatory to use?

[code]

[2022-08-12 12:39] apanwar22i commented on #6266
@EisenbergEffect @KingOfTac

We just found out a Fluent UI link for React
https://developer.microsoft.com/en-us/fluentui#/

The version mentioned there is v9.
Name of the npm package is:
[code]

But these packages were not mentioned on the FluentUI documentation link:
https://docs.microsoft.com/en-us/fluent-ui/web-components/integrations/react
[code]
Can you please help us out if we arent using an

[2022-08-12 13:24] EisenbergEffect commented on #6266
There are two implementations of Fluent UI for Web. One implementation is done with Web Components and the other implementation is done with React. The Microsoft Graph Toolkit components are built as Web Components and thus leverage the Fluent UI Web Components (not the React implementations) internally.

Web Components work with any library or framework because they are the web standard for compo

[2022-08-12 22:50] calebdwilliams commented on #5678
This is a really simple fix. The `ElementInternals.prototype.setValidity` method takes three arguments:

- validityState: Partial<ValidityState>
- message?: string (required if any validity flag is set to true)
- validationTarget?: HTMLElement (must be included in the shadow root of the element being validated)

It looks like your problem is on [this line](https://github.com/microsoft/fast/blob/ma

[2022-08-12 23:08] nicholasrice commented on #5678
Thank you @calebdwilliams!! I can't believe it's that simple of a fix; I'd completely forgotten about that argument. I'll take a stab at implementing the mixin you linked too; it would be great to align to that if we can.

[2022-08-12 23:27] chrisdholt commented on #5678
Thank you @calebwilliams - it's worth quite a bit to know it works well!

[2022-08-15 14:38] EisenbergEffect opened #6279 "refactor: remove FASTElement dependency from the DI container"
The dependency injection container has a dependency on `FASTElement` in one place. This prevents tree-shaking of most of the parts of the `FASTElement` library for folks who want to use only the DI container. We should remove this dependency and instead re-work the dependent feature.

[2022-08-15 17:24] #6271 closed

[2022-08-16 04:25] #6279 closed

[2022-08-16 16:15] prudepixie opened #6281 "fix: recycle feature in Repeat should be set to true by default"
When this fix was added https://github.com/microsoft/fast/pull/6102, it fixed a bug around allowing users to be able to turn off and on the recycle feature of the Repeat directive, where it leads to different handling of views within Repeat. If Recycle is turned off, all views will be created from scratch, otherwise Repeat would attempt to utilize existing views.

Prior to introducing the recycle

[2022-08-16 16:24] prudepixie opened #6282 "fix(fast-element-1): recycle feature in Repeat should be set to true by default"
When this fix was added https://github.com/microsoft/fast/pull/6102, it fixed a bug around allowing users to be able to turn off and on the recycle feature of the Repeat directive, where it leads to different handling of views within Repeat. If Recycle is turned off, all views will be created from scratch, otherwise Repeat would attempt to utilize existing views.

Prior to introducing the recycle

[2022-08-16 20:45] #6281 closed

[2022-08-16 22:30] #6282 closed

[2022-08-17 00:05] nicholasrice opened #6287 "feat: add DesignToken support to SSR DOM shim"
# 🙋 Feature Request
To support DesignToken in SSR, several APIs need to be fleshed-out in the exposed DOM shim:
1. CSSStyleSheet.insertRule()
2. CSSRuleList
3. CSSStyleRule
4. CSSStyleDeclaration (the .setProperty() and .removeProperty() methods)

[2022-08-17 11:35] apanwar22i commented on #6266
Thank you @EisenbergEffect for detailed information, appreciate your efforts.
Coming back to the subjected issue, We will wait for your response. Please let us know once you get the solution from MGT team. Or do you suggest we need to raise separate issue for MGT team?

[2022-08-17 11:37] apanwar22i commented on #6276
@EisenbergEffect Any workaround solution for this?

[2022-08-17 14:28] EisenbergEffect opened #6288 "feat: declarative shadow DOM polyfill"
Provide at least one polyfill option for Declarative Shadow DOM as part of our SSR package and update the SSR example to show usage.

[2022-08-17 17:24] EisenbergEffect commented on #6276
@radium-v Do you have some time to look into this? At one point in time I think there was an issue with setting the initially selected item. Do you recall anything like that? The React wrapper literally just sets the value of the `selected` property on the `FluentOption` element. You have a lot more knowledge of the internals of our `select` so I thought I'd check with you first.

[2022-08-17 17:44] EisenbergEffect commented on #6266
@apanwar22i No need to bother the MGT team. I am coordinating with them internally on your behalf. We've got a repro from MGT now and they've handed it off to me for the next phase of investigation. I'm looking into it now.

[2022-08-17 19:49] EisenbergEffect commented on #6266
Ok, I believe I've uncovered the issue. There appears to be a type issue where the `Checkbox` type information is not properly flowing through the wrapper. We can fix this in our next major version (Actually I think we already fixed it. I'll double check.)

Fortunately, the workaround is pretty straight forward. You can cast the output of the wrapper to a more specific type. You will only need to

[2022-08-17 19:50] EisenbergEffect commented on #6266
@apanwar22i Let me know if this gets you going again. Thanks for your patience.

[2022-08-18 17:03] radium-v commented on #6276
I'm not familiar with how React rendering handles nested elements, but my first guess is that it could be a pacing condition where the select is created, then the options are added after the select has already initialized. This might cause the select to take the first option as the default selected option.

@iamjanit When you inspect the rendered DOM, does the desired option have the `selected` at

[2022-08-18 17:43] nicholasrice opened #6291 "feat: add DesignTokenRoot that can be used in SSR"
# 🙋 Feature Request
Add a SSR compatible DesignToken root object that authors can use to collect default CSS values for DesignTokens in SSR environments.

[2022-08-18 17:47] nicholasrice opened #6292 "feat: update Todo SSR example with DesignToken SSR implementation"
# 🙋 Feature Request
Implement DesignTokens into Todo app, and implement DesignToken SSR implementation into the SSR example app to demonstrate end-to-end DesignToken implementation.

[2022-08-18 17:58] EisenbergEffect opened #6293 "feat: enable an async resolution path for dependency injection"
For large apps, it would be nice to enable DI to integrate better with dynamically loaded modules.

To enable this, we can add a `getAsync` API to the `ServiceLocator` that enables an explicit async request process. When this API is called, the DI container will async resolve the dependency and any sub-dependencies. If no resolver is found for a given dependency, then the container will invoke a c

[2022-08-18 18:15] KingOfTac commented on #6236
@chrisdholt I'm just circling back to this. If you want, I can update the spec to be focused on the foundation implementation with notes on extending and implementing custom versions.

[2022-08-18 18:21] chrisdholt commented on #6236
I think that would be great. Having the spec focus on Foundation and then illustrate extensibility as examples will transition well for the CLI and documentation IMO. I'd love if our documentation broadened to open up examples of extending classes to address common scenarios

[2022-08-18 18:31] KingOfTac commented on #6236
Sounds good. I'll get a new version up this weekend.

[2022-08-18 18:49] #6288 closed

[2022-08-18 19:23] #6287 closed

[2022-08-18 20:18] nicholasrice opened #6296 "feat: re-implement #6253"
# 🙋 Feature Request
We needed to revert #6253 to satisfy publishing requirements (https://github.com/microsoft/fast/pull/6295). This issue tracks the re-implementation of that PR. Re-implementation should happen after FAST packages have been brought out of alpha and beta versions.

[2022-08-19 00:26] m4thieulavoie commented on #6275
Happy to take a look at this one

[2022-08-19 04:51] iamjanit commented on #6276
@radium-v When in inspect window, the selected class is only assigned to the first option. However, I will look into the pacing condition and let you know the outcome.

[2022-08-19 07:11] iamjanit commented on #6276
@radium-v I was able to solve it by using useEffect hook dependent on the default selection. So , it runs after the DOM is painted and is able to set the correct option as selected.

[code]

[2022-08-19 07:38] apanwar22i commented on #6266
Thanks @EisenbergEffect for the solution. The workaround you were suggested it work and we are able to use "disabled" attribute inside the FluentCheckbox component.
Thank you so much for your support. We'll let you  know if we may need further assistance .

[2022-08-19 13:24] #6266 closed

[2022-08-19 17:17] nicholasrice opened #6300 "rfc: Migrate FormAssociated components to @open-wc/form-control"
# 💬 RFC
`@open-wc/form-control` is an open-source library designed to assist authors in writing custom-element form controls. It leverages the [ElementInternals](https://developer.mozilla.org/en-US/docs/Web/API/ElementInternals) platform feature for form-association, and requires a [ElementInternals polyfill](https://www.npmjs.com/package/element-internals-polyfill) for browsers that do not suppor

[2022-08-19 17:28] sseira opened #6302 "Is there a way to extend a template? or use a template within a template?"
### Discussed in https://github.com/microsoft/fast/discussions/6301

<div type='discussions-op-text'>

<sup>Originally posted by **sseira** August 19, 2022</sup>
I would like to add help-text slot to radio button component using @fast-element.

However, I would like to leverage [radio.template.ts](https://github.com/microsoft/fast/blob/8ed6b1a836272d683fe42a0a22d6a07b2fff434f/packages/web-componen

[2022-08-20 20:49] NiteshSethi09 commented on #5341
Hey, is there anyone working on this issue? I'd like to give a try. @EisenbergEffect @chrisdholt

[2022-08-22 07:10] abbasc52 opened #6304 "fix: keyboard functionality works in readonly in fast-switch"
# 🐛 Bug Report

When using fast-switch with readonly attribute, if we focus on switch and use space key, it toggles the switch

## 💻 Repro or Code Sample

link -  https://codesandbox.io/s/web-component-header-test-forked-lq0jkh

## 🤔 Expected Behavior

switch should not toggle with keyboard when readonly attribute is present

## 😯 Current Behavior

switch is toggling with keyboard when readonly at

[2022-08-22 22:28] prudepixie opened #6306 "perf: add when directive benchmarks"
There has been some bad practices around using the when directive that I've seen in some codebases.
As part of the work to provide guidance on the when directive, a blog post is published to FAST (currently in review) https://medium.com/p/6e26ce7637ba/edit, and some benchmarks around the when directive have been ran to support the best practices.
This would be helpful to add as reference to fast-b

[2022-08-22 23:05] radium-v opened #6309 "fix: avatar element missing alt and src attributes"
# 🐛 Bug Report

The spec for the FASTAvatar component describes `alt` and `src` attributes, which are currently not implemented.

## 💻 Repro or Code Sample

https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/avatar/avatar.spec.md

[code]

## 🤔 Expected Behavior

* The `src` attribute should add an internal image.
* The `alt` attribute should be reflected onto

[2022-08-22 23:07] chrisdholt commented on #6309
I think this scenario likely is dependent on API changes to Foundation. IMO if an image is slotted we likely shouldn't have attributes for either alt or src. Will take a look.

[2022-08-22 23:10] radium-v commented on #6309
I initially got it wrong thinking `alt` goes on the internal anchor - I updated the issue text to fix that. The `alt` attribute would only make sense on an `<img>`, which would have to be present with a `src` to be valid.

[2022-08-23 17:47] radium-v opened #6311 "fix: unable to set initial boolean attributes on picker"
# 🐛 Bug Report

The `filter-selected` and `filter-query` boolean attributes on the `<fast-picker>` are `true` by default and the picker cannot be initialized in a state where they are not present.

## 💻 Repro or Code Sample

In this example, the picker is created and by default has the `filter-selected` and `filter-query` attributes present:
[code]

Inserting a `<fast-picker>` element in HTML has

[2022-08-23 21:02] sseira commented on #4801
It would be great if there was an option to add the label inside the `.control` and sit above the `<slot name="button-container">`

Trying to create something like this - which is a pretty standard design direction

<img width="432" alt="image" src="https://user-images.githubusercontent.com/3791711/186264931-86b8aab5-61bd-4bd0-a99f-d3b8d67779b2.png">

[2022-08-23 21:33] sseira commented on #4801
In case anyone is trying to achieve the same thing as me, I extended Select and overrode `displayValue()` to add a label and it seems to be working
[code]

https://user-images.githubusercontent.com/3791711/186270292-d78e33df-6734-4546-902d-f4827d5ad059.mov

[2022-08-23 23:57] radium-v opened #6312 "fix: render-collapsed-nodes attribute present but not implemented in tree view"
# 🐛 Bug Report

The `render-collapsed-nodes` attribute has no implementation details on the `<fast-tree-view>` element. Its mapped property, `renderCollapsedNodes`, has no initial value and is type `boolean`.

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

I would expect this attribute to control whether or not collapsed nodes are made present in the DOM.

## 😯 Current Behavior

This f

[2022-08-24 00:01] chrisdholt commented on #6312
Note that the functionality has been removed I believe so the attribute should likely go as well. I'll follow up and check on this.

[2022-08-24 10:40] apanwar22i opened #6313 ""onChange()" event is not firing on Fluent Checkbox"
Hi, We are applying "onChange()" event on Fluent Checkbox but it is not firing. same thing is happening with "**onKeyup()**" event, it is not working as well. I'm only getting response on "onClick()" event.

Below is the code snippet and here is the Stack Blitz:
https://stackblitz.com/edit/react-ts-bzusgl?file=App.tsx

[code]

Thank you.

[2022-08-24 13:55] apanwar22i commented on #6266
@EisenbergEffect @KingOfTac Got an another issue with the checkbox events. Can you please take a look this issue:
https://github.com/microsoft/fast/issues/6313

[2022-08-24 14:15] KingOfTac commented on #6313
You may need to configure event mappings for the checkbox.

https://www.fast.design/docs/integrations/react#configuring-custom-events

[2022-08-24 14:32] thomleclerc opened #6314 "fix: slider label postions is a bit off"
# 🐛 Bug Report

Slider label positions is off. If you compare it to the documentation you have here: https://explore.fast.design/components/fast-slider , the result I'm getting is not exactly like yours.

Don't hesitate if you need more information.

## 💻 Repro or Code Sample

Stackblitz for reproduction : https://stackblitz.com/edit/typescript-y2ptfh?file=index.ts

## 🤔 Expected Behavior

The lef

[2022-08-24 14:56] EisenbergEffect commented on #6313
@apanwar22i Can you give the event mapping that @KingOfTac mentions a try? This is sometimes required due to React's non-standard approach to handling events.

[2022-08-24 15:05] EisenbergEffect commented on #6311
@radium-v I believe we made a general decision that all boolean attributes should be setup to be `false` by default. @chrisdholt can confirm/deny.

[2022-08-24 16:00] KingOfTac commented on #6314
@thomleclerc As a workaround you could try to leverage some of the styles from fluent-ui as a custom override to `fast-slider` and `fast-slider-label`'s styles. https://github.com/microsoft/fluentui/blob/master/packages/web-components/src/slider/slider.styles.ts

[2022-08-24 20:53] atmgrifter00 commented on #6305
@OndrejSulc, you might want to check if this issue would be addressed by the changes I made to fix [this issue](https://github.com/microsoft/fast/issues/6111). My guess is that the fluentui/web-components package you were using had a fast-foundation version prior to the one that my fixes were a part of (at least I hope so).

[2022-08-25 00:25] SquGus commented on #5782
+1 to this bug. I can repro it in my environment.

@abbasc52 do you also face this issue when pressing only "Tab"?

[2022-08-25 17:42] thomleclerc commented on #6314
@KingOfTac Sounds good, i'll give it a try, thanks! I'll wait on an answer from @chrisdholt to work on a fix.

[2022-08-25 21:16] #5678 closed

[2022-08-26 17:30] chrisdholt opened #6324 "Add tests for `readonly` switch keyboard events"
This issue exists to track the addition of keyboard events for readonly switch scenarios with the fix to #6304. This fix is being made async with a migration over to playwright which complicates getting that PR completed or risks losing the newly added tests given a significant migration including the addition of new tests.

Once the playwright conversion is complete, this issue can be taken up an

[2022-08-26 18:55] KingOfTac opened #6325 "feat: add dynamic route titles in `FAST-Router`"
# 🙋 Feature Request

A nice feature I think would be the ability to interpolate route parameters into the title.

## 🤔 Expected Behavior

The ability to do something like this:
[code]

## 😯 Current Behavior

The above code would produce "{productName}" as the page title.

## 💁 Possible Solution
Since this is all happening in the route mapping, I think all that is required is to check if the `child

[2022-08-26 18:58] KingOfTac commented on #6325
I self-assigned this; however, I'd like to get other people's thoughts on the feature before starting on anything.

[2022-08-27 01:03] EisenbergEffect opened #6327 "feat: prepare for scoped element registries"
Make the necessary API and internal changes needed in order to support scoped custom element registries in preparation for Chromium ship.

[2022-08-27 17:11] chrisdholt commented on #5678
This has been published to both our latest *alpha* release of foundation (3.0.0-alpha.8) as well as back-ported into version 2.46.13.

[2022-08-27 17:50] EisenbergEffect opened #6329 "feat: expose the underlying async local storage instance for advanced SSR request scenarios"
Certain advanced SSR scenarios, particularly when integrating with existing systems, can be enabled by allowing the AsyncRequestManager to expose the underlying AsyncLocalStorage object.

[2022-08-27 17:56] EisenbergEffect opened #6330 "feat: implement state, ownedState, and computedState"
Rename `useState` to `state`. Introduce `ownedState` to enable private per-component state. Introduce `computedState` to encapsulate re-usable calculations.

The following is inspired by https://www.starbeamjs.com/ but is built as a thin layer on top of FAST's existing Observable infrastructure.

### `state` example

[code]

### `ownedState` example

[code]

### `computedState` example

[code]

[2022-08-27 19:41] #6306 closed

[2022-08-29 02:59] tebinraouf commented on #6313
@apanwar22i , for the checkbox onChange to work, you would need event mappings as @KingOfTac  suggested. Here is a Stackblitz that shows how to: https://stackblitz.com/edit/react-dgvloj?file=src/App.js

[2022-08-29 16:58] #6291 closed

[2022-08-29 17:57] iteratee opened #6333 "feat: add delegate directive to fast-element templates"
# 🙋 Feature Request

Add a `delegate` directive, similar to `when`, that would allow you to specfiy an accessor and a template for a different `TSource`.

e.g.
[code]

here `x.spades` etc have type `Suit` and `Suit.template` is a static of type `ViewTemplate<Suit>`

## 🤔 Expected Behavior

The behavior should be similar to the following:
[code]

## 😯 Current Behavior

Currently, to change types, y

[2022-08-29 22:11] #6329 closed

[2022-08-29 22:14] EisenbergEffect commented on #6333
I think we've got this already for vNext. Take a look at this and let me know if this will handle your scenarios.

* RFC: https://github.com/microsoft/fast/issues/6114
* PR: https://github.com/microsoft/fast/pull/6127

[2022-08-30 00:30] EisenbergEffect opened #6336 "feat: enable HTML and CSS language server support for fast-tagged-templates"
# 🙋 Feature Request

Now that FAST has a new VS Code Extension for syntax highlighting, it would be nice if that same extension could provide docs and tag completion, associated with a language server.

## 🤔 Expected Behavior

Complete tags and provide HTML/CSS autocomplete and docs as appropriate.

## 😯 Current Behavior

The plugin highlights correctly but is missing the above functionality.

##

[2022-08-30 01:16] chrisdholt commented on #6311
@scomea can you take a look at reworking picker to support defaulting to `false`.

[2022-08-30 01:54] #6304 closed

[2022-08-30 04:39] apanwar22i commented on #6313
Thanks, @KingOfTac @EisenbergEffect @tebinraouf the above solution work. 👍

[2022-08-30 12:56] #6313 closed

[2022-08-30 15:48] iteratee commented on #6333
I tried that, and it does what I wanted. Thanks.

[2022-08-30 15:48] #6333 closed

[2022-08-30 15:50] EisenbergEffect commented on #6333
Excellent! We'll have documentation on this as part of the 2.0 release. Hopefully the links above will suffice for now. Let me know if you have any issues.

[2022-08-30 16:56] nicholasrice opened #6338 "fix: Cannot compose `FASTDataGrid` with `dataGridTemplate` and `FASTDataGridRow`"
# 🐛 Bug Report
When composing `FASTDataGrid` with `dataGridTemplate`, a runtime error occurs when providing `FASTDataGridRow` to template options. This error occurs because `dataGridTemplate` immediately invokes [`tagFor`](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/data-grid/data-grid.template.ts#L34) on invocation, and at composition time, `FASTDataG

[2022-08-30 19:04] EisenbergEffect commented on #6338
I believe this problem can be solved by passing the definition object that you get from `compose` into the grid template function's options. Here's a link that shows some code:

https://statics.teams.cdn.office.net/evergreen-assets/safelinks/1/atp-safelinks.html

Let me know if that soles the problem.

[2022-08-30 20:09] nicholasrice opened #6339 "feat: add async rendering support to @microsoft/fast-ssr"
# 🙋 Feature Request
`@microsoft/fast-ssr` should support rendering components that have asynchronous rendering requirements. This will requires several core changes:
1. A mechanism(s) through which a component can communicate to SSR renderer that it should render asynchronously.
2. ElementRenderer in async rendering mode should implement `renderShadow()` and `renderAttributes()` that yield `string

[2022-08-31 00:34] nicholasrice opened #6341 "fix: retrieving a DesignToken value during a bheavior's bind() throws"
# 🐛 Bug Report
When a behavior is attached to a component that uses `DesignToken.getValueFor()` to retrieve a value for the token will throw with the error `Error: No value set for token [object Object] in node tree.`.

## 💻 Repro or Code Sample
[code]

## Explanation of the Behavior
The implementation of `DesignToken` leverages `Behavior` and constructs a hierarchy of Nodes when it's `bind()` met

[2022-08-31 17:08] nicholasrice commented on #6338
Yep, that should work - thanks @EisenbergEffect!

[2022-08-31 17:08] #6338 closed

[2022-08-31 18:16] eljefe223 opened #6344 "fix: fast foundation templates should be generic"
# 🐛 Bug Report

## 💻 Repro or Code Sample

If extend a class and then use the foundation template there is a type mismatch.

View error on `template`
https://stackblitz.com/edit/typescript-p5udp6?file=repro.ts

[code]

## 🤔 Expected Behavior

I should be able to assign a foundation template to an extended class.

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

*

[2022-08-31 20:45] #6330 closed

[2022-08-31 21:34] EisenbergEffect opened #6348 "feat: new behavior and context architecture"
There is ambiguity in behaviors. Some can only be applied to a host element and others only work inside of a template. The model should be updated to make this clear.

Additionally, behaviors should have a cleaner API contract when communicating with their controller. Behaviors applied to a host element should not have to located the semi-private `$fastController` and manipulate that directly but

[2022-09-01 00:53] #6312 closed

[2022-09-01 16:17] EisenbergEffect commented on #6344
Dropping a note here as a reminder, I think we need to change the types to something like this:

[code]

[2022-09-01 17:10] chrisdholt commented on #6344
I can take a look at picking this up @eisenbergeffect.

[2022-09-01 17:22] EisenbergEffect commented on #6344
@chrisdholt We would need to make this sort of change across every template factory function in foundation I believe. Probably also want to verify that this fixes @eljefe223's issue. I think it should but haven't checked myself yet.

[2022-09-01 17:25] chrisdholt commented on #6344
Yep - Going one by one now :). I have a sandbox I can test as well.

[2022-09-01 17:26] EisenbergEffect commented on #6344
Ok, just did a confirmation that this does fix the compile error.

[2022-09-01 17:53] nicholasrice commented on #6302
Working repro of the above here: https://stackblitz.com/edit/typescript-vbqeaz?file=index.ts,index.html

I think this is a bug. Templates can be embedded in other templates and I'm pretty sure we do this in other places, so I think this is a radio issue.

[2022-09-01 20:14] #6344 closed

[2022-09-01 21:28] #6309 closed

[2022-09-01 21:43] #6228 closed

[2022-09-02 17:01] prudepixie opened #6356 "fix: Bug in benchmarks causing unstable results"
Some updates from this PR https://github.com/microsoft/fast/pull/6307
caused regressions in the other benchmarks.
Specifically in template.js where the benchmark name is generated based on Template & Method & CustomQueryParam properties.
For the **when** directive, I only wanted to compare between templates without passing in a Method argument, thus the update in the PR.
I think there are some inc

[2022-09-03 16:57] yinonov opened #6358 "feat: add delegate / proxy strategy to @attr mode"
# 🙋 Feature Request

This might be a weak case but is still a required case in some implementations.
Add a new attribute mode to enable delegation of property

## 🤔 Expected Behavior

This strategy can be very useful for attributes like roles
Our team's philosophy avoids having mutating host

## 😯 Current Behavior

attribute mode allow only the following `"reflect" | "boolean" | "fromView"`

https

[2022-09-04 06:08] yinonov commented on #6358
is that a workaround to the above?
https://github.com/microsoft/fast/blob/1d230aa72f4802bb309c4679bf5b2fa27d385e7b/packages/web-components/fast-foundation/src/listbox-option/listbox-option.ts#L140-L155

[2022-09-04 12:15] imrishabh18 commented on #5343
Hey @chrisdholt! Is this issue still valid. I would like to contribute to this project, and would like to know the first few steps to resolve this issue.

[2022-09-06 20:53] #6356 closed

[2022-09-06 23:14] #6293 closed

[2022-09-06 23:16] EisenbergEffect commented on #6272
@nicholasrice Is this one complete? Would you link the related PRs? Thanks!

[2022-09-06 23:20] #6272 closed

[2022-09-07 15:00] yinonov commented on #6358
Here's the problem in practice - setting aria-label on button will set it twice, on the host and the shadowed button

<img width="861" alt="Screen Shot 2022-09-07 at 17 54 03" src="https://user-images.githubusercontent.com/15140652/188911102-8e157c95-01ab-4689-b848-d6feb5d478fa.png">

then it makes SR read it twice

<img width="1370" alt="Screen Shot 2022-09-07 at 17 57 52" src="https://user-image

[2022-09-07 16:22] EisenbergEffect commented on #6358
@yinonov Thanks for reporting this. We are aware of the issue. I believe we have a solution in the works. @nicholasrice was working on something related to attribute delegation a little while back as part of a performance investigation. @nicholasrice Do you think we could pick that work back up soon and add some capability for this scenario that would both help with perf and address the a11y issue

[2022-09-07 16:24] EisenbergEffect commented on #6358
@nicholasrice Probably also good to investigate this as part of the `ElementInternals` work. Perhaps we just use the `ElementInternals` API and maybe the polyfill works in a way that doesn't create the above issue.

[2022-09-07 16:39] chrisdholt commented on #6358
Which AT is actually reading this twice? While it exists on the host in button, there is no role and focus is never brought to it. While the generics are showing up in the a11y tree, I don’t know that this actually is presented twice. Can you share which AT repro’s this for button?

[2022-09-07 17:21] m-akinc opened #6360 "fix: no automatic accessible name on RadioGroup when label provided"
# 🐛 Bug Report

Radio group does not automatically associate label with host control. I.e. if a user creates a radio group element, and provides a label element in it, the accessibility node for the radio group does not have the name from the label.

## 💻 Repro or Code Sample

N/A

## 🤔 Expected Behavior

The user should not have to create the association between the label and the radio group.

##

[2022-09-07 19:51] chrisdholt commented on #6358
I just tried to repro this on Edge using VoiceOver and I get different results (not duplicated) though it does read "group". What browser combination are you using with this?

[2022-09-07 20:46] bheston opened #6362 "Foundation - Deduplicate Progress and Progress Ring."
With #6286 the template and options for progress and progress ring are the same. Go back and cleanup the duplication between the two components.

_Originally posted by @chrisdholt in https://github.com/microsoft/fast/pull/6286#discussion_r965090214_

[2022-09-07 20:51] bheston opened #6363 "Foundation: Rebuild `Dialog` on the native dialog"
The question came up in #6286 whether Dialog should be built using the native dialog capabilities.

_Originally posted by @EisenbergEffect in https://github.com/microsoft/fast/pull/6286#discussion_r948457986_

[2022-09-07 22:53] #6273 closed

[2022-09-07 22:53] #6292 closed

[2022-09-08 06:49] NiteshSethi09 commented on #5344
Hey @EisenbergEffect, may you assign me this issue. I'd like to work on this!

[2022-09-08 15:46] jedwards1211 opened #6365 "fix: typescript error TS2344 in fast-foundation.d.ts with TypeScript 4.8.2"
# 🐛 Bug Report

Starting with TypeScript 4.8.2 there are errors like

[code]

`CSSDesignToken` is declared as
[code]

## 💻 Repro or Code Sample

[TS Playground Example of the error](https://www.typescriptlang.org/play?ts=4.8.2#code/CYUwxgNghgTiAEAzArgOzAFwJYHtXzDigxAB4AVAPgApUoBbEAeRgGE9EsBzALngGcMMLKi4BKPqwDKUgCIh+3VORwBrEKgqUA3AChdIAB4AHHDAzxQkWAhEkYiKGATS5CpSvWby8IyVTA-AJCIlzwAD7wqMj0AEYgMBHwsT

[2022-09-08 18:54] KingOfTac commented on #6358
Using NVDA, windows Narrator, `@microsoft/fast-components@2.30.6`, and `@fluentui/web-components@2.5.5` on Windows 11 I couldn't repro the issue using this markup:
[code]

For every instance of `Button` in the example both the NVDA SR and Narrator SR read `[aria-label] button` only once. In the devtools accessibility tree I was seeing the reflected label attribute
[code]

[2022-09-08 19:05] KingOfTac commented on #6358
The only time I could create any sort of duplication was if I used the word button in the label, but you shouldn't really use the role in the label anyway.

[2022-09-08 19:10] chrisdholt commented on #6358
Well, and in this case the duplication isn't the label being read twice it's the label and button both being the same.

Thanks for the above @Kingoftac - Looks like we don't yet have a repro beyond VoiceOver, which is new behavior. I'll continue to do some digging here. In the meantime, I do think that a temporary workaround for voiceover could be to use `role="presentation"` to remove the user im

[2022-09-09 06:24] yinonov commented on #6358
@KingOfTac would you try only assigning a svg node? this is where aria-label as the svg by its own, doesn't make a discernible text.

[code]

that's really bizarre - I have just tried to reproduce it again and the duplicate reading no longer occur with the same code (still voiceOver) 🤔 flaky

<img width="1232" alt="image" src="https://user-images.githubusercontent.com/15140652/189283714-e612005e-c

[2022-09-09 06:33] chrisdholt commented on #6358
Looks like ‘role=“none”’ is on the host still, which probably explains it reading once 😄

[2022-09-09 06:59] yinonov commented on #6358
oh 🤦‍♂️. there you have it. your workaround proven

[2022-09-09 15:19] KingOfTac commented on #6358
I guess it's worth noting I also did my testing with the "icon" button scenarios in the fast component explorer, with the final test in the "icon in default slot" scenario with the text removed so there was only an icon.

[2022-09-09 15:56] #6348 closed

[2022-09-09 18:30] rajsite commented on #6358
We were rounding on the idea of setting `role="none"` on host elements for the same issue. Does that sound like the right way forward for these cases where the element that is the actual aria node is in the shadow root and not the host?
@m-akinc (for https://github.com/ni/nimble/issues/689)

[2022-09-09 19:42] xuwaters opened #6368 "fix: `@attr` in a derived class affects the getter methods in another derived class."
# 🐛 Bug Report

The `videoId` getter method in `ComponentB` is proxied to access the non-existing attribute `videoId` defined in `ComponentA`.

## 💻 Repro or Code Sample

Thanks Alberto Rivera for creating this repro link:
https://stackblitz.com/edit/fast-design-sfdxwf?file=src%2FChildrenComponent.ts,src%2FParentComponent.ts,index.html

A similar sample:

[code]

## 🤔 Expected Behavior

The expect

[2022-09-09 19:44] chrisdholt commented on #6368
Assigning to @eisenbergeffect who I believe has an idea already of what is going on here.

[2022-09-09 19:46] EisenbergEffect commented on #6368
I've marked this as pertaining to the FASTElement 2.0 milestone. However, as soon as we get this sorted I'll back port it to 1.x. I've wedged it into our current sprint so hopefully we can tackle this next week. It's top of my list.

[2022-09-09 20:40] JudahGabriel commented on #6236
Hi, I'm interested in building a split button and dropdown button components for FAST. **What's the status of this project?** Obviously you've got the spec here, but has any work been done to implement this?

I see two other issues asking for similar stuff:
- [Feat: add menu-button to FAST](https://github.com/microsoft/fast/issues/5469)
- [Add split button to FAST](https://github.com/microsoft/vsc

[2022-09-09 20:41] JudahGabriel commented on #6236
Hi, I'm interested in building a split button and dropdown button components for FAST. **What's the status of this project?** Obviously you've got the spec here, but has any work been done to implement this?

I see two other issues asking for similar stuff:
- [Feat: add menu-button to FAST](https://github.com/microsoft/fast/issues/5469)
- [Add split button to FAST foundation](https://github.com/mi

[2022-09-09 20:49] KingOfTac commented on #6236
This spec is still rather new. It needs more work and there are still a few unknowns around whether or not to compose existing components into this one or not. I  have been working on a new version of the spec that I hope we'll be able to start implementing.

Another reason why there hasn't been much new component work is that most of the team has been focused on the next major release of FAST whi

[2022-09-09 21:15] JudahGabriel commented on #6236
Ah, interesting indeed. Well, I'm beginning to question whether I should wait to contribute then. Thanks for the heads up.

@chrisdholt want to weigh in?  Would it be wise to wait to contribute until FAST vNext is released?

[2022-09-09 21:15] chrisdholt commented on #6236
Well, first - we'd welcome a contribution here. Specific to the split button work, the hope was to bring that into a more well rounded menu button approach, perhaps via a slot (noted here: https://github.com/microsoft/fast/pull/4083#issuecomment-1030250715) because it lends itself better to our goals. The biggest concern with serving both menu button (as represented in this issue) and split button

[2022-09-09 21:18] chrisdholt commented on #6236
Eh....I say no :). It depends though, I know that could be a bit chaotic.

We're exploring a few things that I think are really exciting right now, but due to gaps I haven't put together an RFC on the direction. Even then, I don't think it would impact the work you'd be contributing in super significant ways...perhaps some light refactoring but I don't see it significantly changing approaches for

[2022-09-09 21:21] EisenbergEffect commented on #6236
In terms of component building, I think you can use the v2 stuff in master with the v1 documentation. There aren't really breaking changes in how components are built and we've made the primary organizational changes in foundation. So, I think you're good to go.

[2022-09-09 21:25] JudahGabriel commented on #6236
Alright, that does make sense.

I'd be doing this contribution as part of Microsoft's Fix / Hack / Learn (FHL) week, meaning I have limited time to do this. Probably not enough time to build a well-rounded spec and component that conforms to W3C specs, but maybe enough to get started.

If anything, I could start a spec and create a proof-of-concept component(s) during FHL week, then get feedback f

[2022-09-09 21:27] chrisdholt commented on #6236
Sounds good - and it doesn't have to be _exhaustive_. I'd provide as much content as needed and no more - we are pretty open to be iterative, etc. The big thing we're looking for is to identify any gaps in assumption or understanding and provide feedback up front to avoid someone going in an opposite direction or one that misses a few gotchas, requirements, etc.

[2022-09-09 21:31] JudahGabriel commented on #6236
Also, for some context here, the reason I'm interested in contributing these components is because I work on apps.microsoft.com, and we're looking to rewrite our front-end using web components. It's currently in React + old FAST (before Web Components!), but we're considering migrating to newer tech, and one option is modern FAST.

Looking at modern FAST and doing some quick tech spikes, I noticed

[2022-09-09 21:32] chrisdholt commented on #6236
Contributions welcome - rising tide raises all ships and whatnot :)

[2022-09-10 02:48] KingOfTac commented on #6236
@chrisdholt On the split button part, are you thinking that you just slot another button into a MenuButton, or would SplitButton be its own component that composes a MenuButton?

[2022-09-10 05:42] KingOfTac commented on #6236
@chrisdholt
@EisenbergEffect
@JudahGabriel

New `MenuButton` spec that explores supporting split buttons. Per comments above, this merely positions the buttons and does not incorporate logic specific to split buttons.

Some basic exploratory examples here. https://stackblitz.com/edit/typescript-zg9qwx?file=index.html

# MenuButton V2

## Overview

As defined by the W3C:

### Background

A common r

[2022-09-10 06:12] KingOfTac opened #6369 "rfc: FAST Website Updates for vCurrent"
# 💬 RFC
This is a summary of proposed updates to the FAST homepage that could be incorporated right now. The RFC is to get feedback and suggestions from the team and members of the community.

## 🔦 Context
- There has been some confusion regarding FAST in relation to js frameworks (Is something like React required to use FAST?).
- There are also some parts of the homepage that could use some visua

[2022-09-10 06:20] KingOfTac opened #6370 "rfc: FAST Website Updates for VNext"
# 💬 RFC
This is a summary of proposed updates to the FAST homepage to coincide with the release of vNext. The RFC is to get feedback and suggestions from the team and members of the community.

## 🔦 Context
With all the new features coming out, there will need to be some docs restructuring as well as some wording changes on the homepage.

## 💻 Planned Changes
- Update the Features section with new

[2022-09-11 02:01] KingOfTac opened #6372 "feat: add support for options to AnimateSequence and AnimateGroup"
# 🙋 Feature Request
According to the level 2 spec, sequence and group effects can have timing options passed to them. This would be to add options support to `AnimateSequence` and `AnimateGroup`.
https://drafts.csswg.org/web-animations-2/#the-sequenceeffect-interface

## 🤔 Expected Behavior
You should be able to pass timing options to the sequence or group that controls the timing of the entire ef

[2022-09-12 12:40] vnbaaij opened #6373 "fix: Can't use fluent-select inside fluent-data-grid"
# 🐛 Bug Report
As the title says. I have tried to get this working with the Blazor components, but could not get it to work. Is seems to be an issue with the z-index...

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

Using a fluent-select inside a fluent-data-grid should just work OOTB

## 😯 Current Behavior

The list does not show

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

[2022-09-12 16:38] #6339 closed

[2022-09-12 16:52] nicholasrice commented on #5681
I can't actually reproduce this issue so I'm going to close it out for now. If anyone is able to get a repro we can re-open.

[2022-09-12 16:52] #5681 closed

[2022-09-12 17:00] #6245 closed

[2022-09-14 19:41] nicholasrice opened #6375 "fix: JavaScript class fields incompatible with Observable decorator"
# 🐛 Bug Report
It appears that the output of TypeScript decorators is incompatible with JavaScript class fields. We should document that using JavaScript class fields is not currently supported, and that anyone compiling projects with TypeScript should ensure that the `useDefineForClassFields` is set to `false`. `useDefienForClassFields` is automatically set to `true` for `target: ES2022` so autho

[2022-09-15 07:05] send2vinnie opened #6376 "docs: add 'Working without decorators' to 'Apps and Experiences\Dependency Injection'"
# 🙋 Documentation Request

The FAST element defining tasks can be done without using decorators according to the documentation. So does the FAST built in dependency injection capability. It's suggested to add a 'Working without decorators' section in the corresponding chapter as well as other pure Javascript practices while working with FAST in the no-transpilation world.

[2022-09-15 07:11] send2vinnie commented on #4310
Pure Javascript practices such as how to work without decorators in the various topics are also suggested.
[DI without decorators](https://github.com/microsoft/fast/issues/6376)

[2022-09-15 17:17] KingOfTac opened #6377 "fix: router maintains scroll position after navigation"
# 🐛 Bug Report
When using `Router`, if you have a link towards the bottom of a page that navigates to another route, after navigating to the new route, the scroll position will be at the bottom of the new page

## 💻 Repro or Code Sample
Will add a functioning example later.
Steps to repro are:
1. Create a route in the router config with a page component.
2. Put a link navigating to a new route at

[2022-09-15 20:39] EisenbergEffect commented on #6369
@KingOfTac Thanks for your patience in waiting for me to respond to this. Everything you've listed out here makes clear sense to me. If you want to jump in on this, I'd support getting t his work in as soon as you have availability. The best thing is probably to create a branch, make all the updates and then just send the PR referencing this issues. I can assign the issue to you for clarity. Just

[2022-09-15 20:43] EisenbergEffect commented on #6370
Yep. All sounds good. I think we might want to break the docs tasks out into a separate issue. There is going to be a bunch of new content, some old stuff removed, and definitely some re-organization, particularly in light of the new CLI-based design system approach.

It might be easier to start on the docs first, get that into a good position, and then circle back around for this second round of

[2022-09-15 20:46] EisenbergEffect commented on #6372
This library predates me and I've never really dug in personally myself. @nicholasrice probably has a much better handle on the state of the code than me. I don't think we've made much if any changes in the last few years. That said, I'm personally open to this type of improvement. From our perspective, I think it would be a low priority. But @KingOfTac if you wanted to pick this up and knock it o

[2022-09-15 20:47] KingOfTac commented on #6370
Agreed. I think updates to the homepage will fall into place easier if the new docs are already in place. I can split out the tutorial section into another issue if you'd like.

[2022-09-15 20:49] EisenbergEffect commented on #6373
@chrisdholt I think we've got one or more issues that capture this already. Do you recall? I think it's a recurring theme. Is this something we can address in vNext of foundation? Even though it's a "fix" to vCurrent, it seems it could involve a breaking change. In the meantime do we have any work-arounds we could document?

[2022-09-15 20:51] EisenbergEffect commented on #6376
Thanks for creating this for me @send2vinnie. I'm going to try to pick this up in our next spring, which starts next week. In the meantime, do you have the information you need to move forward with your project?

[2022-09-15 20:55] EisenbergEffect commented on #6377
What if we created a custom directive that you could put on any HTML element. That directive would subscribe to some event, and then reset the scrolling. Then folks could designate the scroll container and opt into that if they want it. Also, tree-shakeable if they don't use it. Thoughts?

[2022-09-15 21:04] KingOfTac commented on #6377
That could work, I'll do some experimentation on my end with a couple of options and add my findings here.

[2022-09-15 21:18] chrisdholt commented on #6372
If it's optional I think it can be done in a non-breaking way. I'd be happy to take a look as well or help out if need be. The library itself is pretty straightforward. Frankly, if we needed to major version to address this as well, I don't think that would be a problem as this library has been in a fairly stable state for quite some time.

[2022-09-15 21:23] KingOfTac commented on #6372
I think it it'll be pretty straightforward. There are some other improvements to the sequence and groups effects that I want to propose in the near future, but I need to check the spec first. I don't want to introduce changes that bring the library out of alignment with the standard.

[2022-09-15 22:30] EisenbergEffect commented on #6372
@KingOfTac Do you want me to assign to you?

[2022-09-15 22:58] KingOfTac commented on #6372
Yeah I can take this on.

[2022-09-16 00:04] EisenbergEffect commented on #6372
Ok. I assigned it to you @KingOfTac

[2022-09-16 00:48] EisenbergEffect commented on #6368
I'm a little behind schedule but am starting this one now.

[2022-09-16 15:00] KingOfTac commented on #6369
@EisenbergEffect How do you feel about also adding a stackblitz starter? https://developer.stackblitz.com/docs/platform/project-starters/

[2022-09-16 16:07] KingOfTac commented on #6369
Looking at the docs we could do something like `fast.design/v1/new` and `fast.design/v2/new` where each url would directly open a fork of their respective starter

[2022-09-18 16:17] scomea opened #6379 "fix: repeat directive indexing fails on splice of associated array"
# 🐛 Bug Report
After a recent update my virtual list pr stopped working correctly.  The underlying issue turned out to be how the observed array used in the repeat directive was being manipulated which could result in the `c.index` value used in item bindings always reported the array length and not the item's index.

When the list was updated with new items I had been using `splice` to clear out

[2022-09-19 08:00] send2vinnie commented on #6376
Would that be feasible for providing examples (in the docs, the storybooks and the repo) in both TypeScript and JavaScript? That would be helpful for bringing FAST to the pure-JS world.

[2022-09-19 08:13] hkusulja commented on #4576
Can you please update status on this?
This should use this component ? https://react.fluentui.dev/?path=/docs/preview-components-table--default

[2022-09-19 14:36] EisenbergEffect commented on #6376
@send2vinnie I think that's a reasonable request. Unfortunately, I don't think we have the resources right now to go through all the documentation and make separate JS examples of everything. If you want to create a separate issue for this, we can track if for some time in the future.

[2022-09-19 15:25] EisenbergEffect commented on #6379
@prudepixie Can you take a look at this? It looks like it might be a regression related to the recent changes in repeat.

[2022-09-19 15:34] EisenbergEffect commented on #4576
@hkusulja Just to clarify: FAST is the foundation for the FluentUI Web Components so FAST wouldn't use the Fluent data table. Rather, the Fluent Data Table would use FAST's foundational data table capability.

Right now I don't believe there is anyone actively working on the data table component. Most of the effort is going into the next set of releases, which include a general Fluent UI updated a

[2022-09-19 16:37] KingOfTac opened #6380 "fix: Missing syntax highlighting for css partials in FAST tagged templates extension"
# 🐛 Bug Report
The FAST Tagged Template Literals vscode extension doesn't recognize `css.partial` for syntax highlighting.

## 🤔 Expected Behavior
`css.partial` should be recognized for syntax highlighting

## 😯 Current Behavior
`css.partial` does not have syntax highlighting.

## 💁 Possible Solution
I think this [line](https://github.com/microsoft/fast/blob/c1909e9899d517f9483b24043d49a8b193af3c2

[2022-09-19 17:38] m-akinc opened #6381 "fix: radio shouldn't fire change event on uncheck"
# 🐛 Bug Report

The FAST radio button fires a "change" event when checked or unchecked. According to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event), the change event for a radio button (i.e. input with type radio) should only fire when the item is checked.

## 💻 Repro or Code Sample

Can be observed in the [FAST Component Explorer](https://explore.fast.design/comp

[2022-09-19 17:40] #5805 closed

[2022-09-19 17:43] prudepixie commented on #6379
Hi @scomea , can you adjust this stackblitz for a repro of this bug https://stackblitz.com/edit/typescript-opxvbs?file=index.ts

[2022-09-20 08:12] yinonov commented on #6185
how about moving forward to native popup?
https://developer.chrome.com/blog/pop-ups-theyre-making-a-resurgence/

there's a polyfill to be used until safely supported
https://github.com/oddbird/popup-polyfill

[2022-09-20 12:26] hkusulja commented on #4576
so, if using Fluent UI , (which relies on FAST), then sort feature is based on Fluent UI, since it is not implemented in FAST ?
So, when looking the react / fluent ui
https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist
or:
https://react.fluentui.dev/?path=/docs/preview-components-table--default
i do not see any connection with FAST also, heh :/ now completely confused..

[2022-09-20 13:54] EisenbergEffect commented on #4576
@hkusulja I definitely understand if it's confusing. Let me back up a bit and explain all the various pieces.

First, we have "Fluent". Fluent itself is a *design language*. It describes a look and feel, completely independent of any implementation or platform.

Next, there is "Fluent UI" which is a collection of *implementations* of the "Fluent" design language. There is a native implementation f

[2022-09-20 14:42] hkusulja commented on #4576
@EisenbergEffect thank you for detailed information and response.
I am trying to decide what to use for our new / future projects (web based). Our goal is to have a modern interface, which uses the latest version (can be in preview) , supported by teams, office applications and having the latest win11 look. Whatever is newer and more modern.

Our projects / banked is in .net 6 (moving to .net 7 no

[2022-09-20 15:05] #6368 closed

[2022-09-20 15:14] EisenbergEffect commented on #4576
One of the challenges in all this is that many things are currently in a transitional state. This includes shifts from earlier versions of the Fluent design language to newer versions as well as shifts from older React technology to newer Web Components technology.

If you need a set of components for the Web Platform that are Win11-aligned today, then the only option is the current Fluent UI Web

[2022-09-20 16:28] scomea commented on #6379
My initial repro is in a local branch that I updated to the latest master.  I've modifed your stackblitz and managed to get an error state that isn't the same behavior I was seeing but may be related -

https://stackblitz.com/edit/typescript-tf1b4y?file=index.ts

When I click the button twice I get an error the second time:

`Error in /turbo_modules/@microsoft/fast-element@2.0.0-beta.6/dist/esm/te

[2022-09-20 16:31] scomea commented on #6379
This is the fast branch where I can see the issue - https://github.com/microsoft/fast/tree/users/scomea/add-virtual-list

If you run it and swap comments on lines 1074 and 1075 of "virtual-list.ts" you can see the behavior change - https://github.com/microsoft/fast/blob/9cc401df293409959723cef70df3bd18b590b1f6/packages/web-components/fast-foundation/src/virtual-list/virtual-list.ts#L1074

[2022-09-20 17:48] hkusulja commented on #4576
I am interested in those that are transitioning, which are new / preview, can you confirm via link that you think that this is it -  about https://react.fluentui.dev/?path=/docs/preview-components-table--default ?

here is confusing image (3 options, one is above)
![image](https://user-images.githubusercontent.com/7479326/191328396-50b6cc32-af1c-4486-9b4f-44864422d203.png)

[2022-09-20 21:04] chrisdholt commented on #6185
This is the long term goal; I think I'd like to see the polfyfill tested using light DOM and shadow DOM implementations just to ensure that custom elements are fully supported. If you're open to exploring or creating a couple of prototypes (even just using stackblitz) which illustrate that the polyfill works well with a few shadow DOM implementations (such as nested shadow DOM within a template pe

[2022-09-20 21:10] EisenbergEffect commented on #6185
I had a very quick look at the polyfill implementation this morning. It's pretty straight forward. I think the main thing is that it doesn't handle all the same issues that Floating UI does, because it doesn't handle positioning in any sort of way (makes sense...that is part of the CSS anchor work). So, if we went with this polyfill (which basically just hides/shows things and makes them position

[2022-09-20 21:12] chrisdholt commented on #6185
Yeah, I think to move to the platform solution we need *both* the Popup and the CSS Anchored Positioning. We could certainly use Popup for our surfaces that need to sit on the top layer, but we'd definitely need a solution to handle positioning as well.

[2022-09-20 21:12] scomea commented on #6185
Anchoring to a coordinate isn't currently supported by anchored region.  Not sure how difficult it would be to add.  Note that anchored region perf is significantly better than floating ui for things like adjusting placement during screen resizes, for example.

[2022-09-21 14:08] robarbms opened #6386 "feat: add weekday start to calendar component"
# 🙋 Feature Request

Should be able to declare what day that the week starts on.

As this is a localization issue, perhaps it should try to default to a market.

## 🤔 Expected Behavior

Should be able to set the week start day to Monday.

## 😯 Current Behavior

The calendar renders like typical US market calendar starting on Sunday.

## 💁 Possible Solution

Query the JavaScript loc library for wha

[2022-09-21 15:36] EisenbergEffect commented on #4576
The link you have provided is to an unstable/preview implementation for a new Fluent Table component, implemented in React.

The image you are showing is from the Fluent documentation, some of which is out of date. If you choose Web Components, that will take you to the docs on the Web Components that are aligned with what is *currently shipped*. If you click on React that will take you to *old* d

[2022-09-21 17:22] bh3605 commented on #5198
What version was this addressed in? I'm using @microsoft/mgt@2.6.1, Typescript 4.6.3, and Angular 13. Same error.

The dependency chain goes as follows
@microsoft/mgt@2.6.1 > @microsoft/mgt-components@2.6.1 > @fluentui/web-components@0.22.1 > @microsoft/fast-foundation@1.16.0

[2022-09-21 21:13] scomea commented on #6185
Draft PR which adds support for anchoring to an arbitrary coordinate and mouse tracking to anchored region.  Turned out to be quite straightforward to add.  Mouse tracking is a scenario where anchored-region perf advantage would be noticable IMO.  https://github.com/microsoft/fast/pull/6389

[2022-09-21 21:23] prudepixie opened #6390 "fix(fast-element-1): repeat directive indexing fails on splice of associated array"
Backport of https://github.com/microsoft/fast/issues/6379

[2022-09-21 21:53] KingOfTac commented on #6185
I've been wondering something similar. An imperative API with the component as well as directives built on top of it would provide a lot of flexibility. https://github.com/microsoft/fast/pull/6345#issuecomment-1242646380

[2022-09-21 22:14] KingOfTac commented on #5198
This appears to have been fixed earlier this year, however I'm not sure the exact package versions. The issue you're having stems from `@microsoft/mgt-components` using a fairly old version of `@fluentui/web-components` that is at least two years old considering `@microsoft/fast-foundation@1.16.0` is about that old. The maintainers of `@microsoft/mgt-components` would need to update to the latest

[2022-09-21 22:32] scomea commented on #6185
Probably.  One "wrinkle" is this - one of the perf optmizations of anchored region is that it does not get into the business of examing the margins/padding that may be applied to the element it is positioning (ie. no wasting cpu cycles looking at css styles), it just places the element directly next to the anchor based on client rects.  So if you want your popup to have a margin between it and the

[2022-09-21 22:45] KingOfTac commented on #6185
Would it make sense to keep that behavior as the default, but also provide the more expensive "convenience" features as opt in like how `repeat` handles its positioning options?

[2022-09-22 14:29] scomea commented on #6185
It could just be making it clear in the docs that using css styles like "margin" to further adjust the placement of a positioned element will likely fail.  Maybe adding some anchor-marginX/Y props for people to use for adjustments.

[2022-09-22 15:37] PoojaC94 opened #6393 "Observable not updating when a method is called from a nested component"
### Discussed in https://github.com/microsoft/fast/discussions/6392

<div type='discussions-op-text'>

<sup>Originally posted by **PoojaC94** September 22, 2022</sup>
I have a FAST component which has multiple components in it
Component A
`const template = html<item>
${when x=> x.isComponentOpen,
<componentB></componentB>
}`
`<componentC :onClick={(x)=>x.onClick}></componentC>`

`@observable isCom

[2022-09-22 17:48] #6390 closed

[2022-09-22 18:59] nicholasrice opened #6394 "fix: support `shadowOptions: null` config in fast-ssr"
# 🐛 Bug Report
fast-element supports rendering a component's template to the light DOM by assigning [`shadowOptions: null` when defining the component.](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-element/docs/guide/working-with-shadow-dom.md#shadow-dom-configuration).

There is currently no handling of this in `@microsoft/fast-ssr`, meaning the component will render

[2022-09-22 19:55] KingOfTac commented on #6393
Resolved in linked discussion

[2022-09-22 19:55] #6393 closed

[2022-09-22 20:45] atmgrifter00 opened #6395 "fix: FAST components bleed through `table` headers"
# 🐛 Bug Report

If you provide FAST components as the cell element inside a `<td>` element, and then make the `<th>` elements stick through using the CSS `position: sticky;` setting, if you then scroll the contents of a table the FAST components will render on top of the `<th>` content. Standard HTML components do not exhibit this issue.

## 💻 Repro or Code Sample

See [this Stackblitz example](ht

[2022-09-22 20:59] chrisdholt commented on #6395
I’m not able to investigate immediately, but y his appears to be an issue with CSS stacking context which should be resolvable with CSS. Without investigating I can’t comment which component exhibits the issues or why, but the reason native elements don’t have this issue is that they don’t have any CSS from user land.

[2022-09-22 21:06] #6327 closed

[2022-09-23 00:54] nicholasrice opened #6396 "fix: Repeat Directive's Type Signature is incorrect"
# 🐛 Bug Report
It appears the type signature for the `repeat` directive is incorrect. Specifically, the acceptance of `Expression<TSource, TArray, ExecutionContext<TSource>>` types. This type expression forces the `context.parent` property of the expression binding to be of type `ExecutionContext<TSource>`, which is inaccurate. See a repro below, along with the difference in type signatures betwee

[2022-09-23 01:41] nicholasrice commented on #6372
Thanks @KingOfTac! It's been a long time since I've look at this code - go for it if it's an improvement!

[2022-09-23 11:58] hkusulja commented on #4576
@EisenbergEffect it would be good to ask the fluent UI team or FAST team, to have a new blog post, explaining about current status, of each repo / package, just to have resime of everything on one place.

in that, whole story, it is not clear for me, then where it falls the - https://github.com/microsoft/fast-blazor , this is NuGet package for ASP.NET - Blazor, supporting FAST, but components are

[2022-09-23 15:27] EisenbergEffect commented on #4576
I'll definitely let folks know that there needs to be an official communication in a central location. That has to be done by the Fluent team.

Regarding fast-blazor, that is a Blazor library that makes the Fluent UI Web Components easier to use in Blazor apps. These are the components described above. They are aligned with the Windows 11 version of Fluent UI currently. There is work to update the

[2022-09-23 20:38] #6396 closed

[2022-09-26 16:24] EisenbergEffect commented on #6395
I'm going to close this out since it's not necessarily a FAST issue. As @chrisdholt points out, it's likely related to stacking context or just document order. You can solve the problem by adding a z-index to your table header. I think this practice is probably pretty common when using `position: sticky`.

[2022-09-26 16:24] #6395 closed

[2022-09-26 22:11] Africanj1952 opened #6400 "fix: [what is the issue?] in [where is the issue?]"
# 🐛 Bug Report

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozilla FireFox]
* Version [e.g. 1.8.0]

[2022-09-26 22:11] Africanj1952 opened #6401 "docs: fix/add [what] to/in [where]"
# 🙋 Documentation Request

## 💁 Possible Solution

[2022-09-26 23:24] #6401 closed

[2022-09-26 23:24] #6400 closed

[2022-09-27 17:50] nicholasrice opened #6403 "feat: add hydration deferal to FAST"
# 🙋 Feature Request
FAST should support deferring element hydration for components rendered via the SSR renderer. Doing so will allow client-side applications to control the order and timing of element rendering, ensuring context / DI resolutions are timed correctly and that any async component fetching can performed prior to template rendering.

I propose aligning to the [`defer-hydration` commun

[2022-09-28 06:33] yinonov opened #6409 "feat: add directive to filter/map slotted content"
# 🙋 Feature Request
support run-time filtering of slot assigned nodes.

The general way WC let authors add custom content is by assigning nodes to slots (vulnerable to abuse) or class members.

in our own [components library](/vonage/vivid-3) we tend to expose only properties where we want to restrict just **any html** content and allow only strings (we favor a locked down approach).

so rather
[c

[2022-09-28 21:21] EisenbergEffect opened #6413 "rfc: changes in class bindings"
# 💬 RFC

There are three ways to set `class` on an `HTMLElement` and two ways on an `SVGElement`. I think we should make these mechanisms explicit rather than having FAST try to "do the right thing" especially since this attempt can fail with SVG in scenarios where it seems like it should not.

## 🔦 Context

We want to set `class` on an `HTMLElement`. There are **three** ways to do this from JS:

[2022-09-28 21:31] nicholasrice commented on #6413
That makes sense to me. I'd prefer to have consistent behavior w/ opportunity to optimize for a given scenario than to have fast-element branch it's behavior for this attribute.

[2022-09-28 22:15] radium-v commented on #6413
I wasn't aware of this behavior for the `class` attribute. Are there any noticeable differences on layout rendering between the three methods, in terms of frame timing?

[2022-09-28 22:25] EisenbergEffect commented on #6413
Not that I'm aware of, but I haven't tested that specifically. I'd be surprised if there was.

[2022-09-28 23:21] rajsite commented on #6375
Related issue https://github.com/microsoft/fast/issues/5017

[2022-09-29 07:26] yinonov commented on #6409
closing this following answer in discord

But that doesn't actually alter the slot itself. It just alters what you get in your children/slotted property.
You can then use that property to decide what to render in your shadow dom though. For example you could repeat over the filtered array and then generate different dom based on that.
We generally discourage a component actually altering the consu

[2022-09-29 07:26] #6409 closed

[2022-09-29 16:01] EisenbergEffect commented on #6413
I'm going to go ahead and put together a PR for these changes.

[2022-09-29 21:52] radium-v opened #6416 "feat: upgrade to Docusaurus 2.0"
# 🙋 Feature Request

Docusaurus 2.0 is now stable: https://docusaurus.io/blog/2022/08/01/announcing-docusaurus-2.0

We're currently locked to `2.0.0-beta.20` in the `fast-site` package (`sites/website`).

[2022-09-29 23:33] EisenbergEffect commented on #6416
I wonder if @huynhicode would be interested in a little OSS contribution to help us out with this 😉

[2022-09-29 23:35] huynhicode commented on #6416
Yes, I would love to!  Thanks for thinking of me @EisenbergEffect .

[2022-09-29 23:42] EisenbergEffect commented on #6416
Wondrously wonderful! These sorts of contributions really help us out. @huynhicode I'm not sure if you remember, but I had to change up the cards on the docs intro because there was an issue with the links. It might be cool to see if the bug was fixed and we could re-enable that after updating.  It was kid of tricky to test though...

[2022-09-30 00:01] huynhicode commented on #6416
I will take a look!

[2022-09-30 14:47] #6413 closed

[2022-09-30 21:44] nicholasrice opened #6421 "feat: add uninstallDOMShim method to RequestStorageManager"
# 🙋 Feature Request
Add an uninstall method to fat-ssr's `RequestStorageManager` to stop scoping global property requests per request. Invoking the method should re-define the property values with the original values stored when `installDOMShim()` was invoked.

[2022-10-03 16:18] nate-ni commented on #5775
@chrisdholt, @EisenbergEffect , @mollykreis. Just an FYI, we have finally been able to make our design system repo public.
https://github.com/ni/nimble

[2022-10-03 21:08] prudepixie opened #6427 "fix: fast-benchmarks scripts fail when branch name includes a "." character"
In this PR, https://github.com/microsoft/fast/pull/6406
benchmark runs representing the local branch, specifically named 'users/jokreitl/update-engine.io' were failing/returning early

The problem is the versions argument in the node scripts, if it includes the "." character, it is set up to look for published versions of the FAST library. But this same versions argument also accepts git branch na

[2022-10-03 22:26] chrisdholt commented on #6275
closed with #6298

[2022-10-03 22:26] #6275 closed

[2022-10-05 20:35] chrisdholt commented on #6373
There's a lot of background here actually. I'll link to this comment first and foremost: https://github.com/microsoft/fast/issues/5363#issuecomment-961312682.

This is a stacking context and positioning issue. I think if we want to be accurate, the title of this is likely, "Can't use fluent-select inside fluent-data-grid without CSS".

The underlying issue here where the expectation is set is that

[2022-10-05 20:36] chrisdholt commented on #6373
Assigning to @radium-v just for the sake of organization. I think once we have the path forward we'll likely dupe all existing/related issues to a single issue describing the feature. For now, this can at least illustrate that we're looking at solving this.

[2022-10-05 23:19] #6394 closed

[2022-10-06 03:57] KingOfTac commented on #6369
Small update on progress here. Life got in the way like it tends to do and I wasn't able to get started on this as soon as I would have liked.

With that being said, work on the homepage updates is underway.
I'm currently working on replacing the fast frame tool with an embedded stackblitz example and stackblitz starters for v1 and v2 of fast-element.

I had initially started working on the animat

[2022-10-06 06:20] #5984 closed

[2022-10-06 13:27] olaf-k opened #6429 "fix: unexpected radio selection in radio-group when dealing with duplicated value"
# 🐛 Bug Report

If you group several radio buttons with the same value, none of them selected, clicking one will always select the last of the group.

## 💻 Repro or Code Sample

CodePen: https://codepen.io/olaf-k/pen/GRdGZVo
In this sample, all radio buttons share the same value but no radio is selected. Clicking on the first one will select the last radio.
(Added native radio for contrast.)

## 🤔

[2022-10-06 17:18] EisenbergEffect commented on #6379
@scomea Can you create a separate issue for the rebind problem? I've got a fix for the original index issue that I'm about to post. I'll need to tackle the other issue separately.

[2022-10-06 17:26] scomea opened #6431 "fix: repeat directive can unnecessarily rebind views when source array manipulated"
# 🐛 Bug Report

Initially associated with https://github.com/microsoft/fast/issues/6379#issuecomment-1270432999 but turned out to be a separate issue.

I'm seeing a lot of rebinding when I do a splice operation with the same objects. In V1 I could do a splice operation on an array used in a repeat directive that cleared out the previous objects, repopulated it with the same objects or mostly the s

[2022-10-06 17:26] scomea commented on #6379
https://github.com/microsoft/fast/issues/6431

[2022-10-06 19:33] #6379 closed

[2022-10-07 03:20] tebinraouf commented on #6070
It's probably related to this so I'd leave the comment here instead of creating a new issue. While testing the FAST Foundation components `v3.0.0-alpha.15`, I get the following error:
[code]

Here is a sample Angular project to show the error:
https://github.com/tebinraouf/fast-alpha-angular-project

I do see there is a TODO to remove it and when I do so, it works as expected. Wondering when we ca

[2022-10-07 18:57] EisenbergEffect commented on #6070
I forgot about this one. @janechu Do you know if we still need this for the CLI?

[2022-10-07 19:58] EisenbergEffect commented on #6429
Thanks for the repro and great issue write-up @olaf-k !

[2022-10-07 23:31] eljefe223 opened #6435 "fix: $fastController.isConnected is returning false when component renders"
# 🐛 Bug Report

`$fastController.isConnected` is returning false when `tree-item` renders. This causes a `tree-view-item` tha is set to `expanded` with to not display its nested items because `aria-expanded` never gets set.

[code]

## 💻 Repro or Code Sample

This needs to be repro'd using the lastest fast-foundation and fast-element.

[code]

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Po

[2022-10-09 02:34] chrisdholt commented on #6435
@eljefe223 I'm going to close this as the component doesn't actually call this during connectedCallback. I'll push a fix that should address the issue here tonight.

[2022-10-09 02:34] #6435 closed

[2022-10-09 06:05] yinonov opened #6437 "WCAG 4.1.2: Ensures ARIA attributes are allowed for an element's role (fast-radio)"
#### Issue
`Ensures ARIA attributes are allowed for an element's role` ([aria-allowed-attr](https://accessibilityinsights.io/info-examples/web/aria-allowed-attr))
#### Target application
[FAST](https://explore.fast.design/components/fast-radio)
#### Element path
iframe;fast-radio
#### Snippet
`<fast-radio readonly="" role="radio" class="readonly" aria-checked="false" aria-required="false" aria-dis

[2022-10-09 06:10] yinonov commented on #6437
this was generated by accessibility insight chrome extension
<img width="795" alt="image" src="https://user-images.githubusercontent.com/15140652/194740947-0a6d0f6d-b831-43f7-bc43-17f61deb60f9.png">

[2022-10-09 14:42] eldarj commented on #5198
How is this fixed? I just wanted to try it out and it breaks - TS version `~4.4.4` with
[code]

[2022-10-10 21:23] #6386 closed

[2022-10-11 11:09] bennypowers opened #6440 "rfc: remove disabled from form-associated custom elements"
# 💬 RFC

Remove `disabled` attribute

## 🔦 Context

FACE specification [goes out of it's way to break](https://github.com/whatwg/html/issues/8365#issuecomment-1271259061) the long-standing practice of custom elements reflecting their `disabled` property as a boolean attribute. FAST will have to stop doing this when they wire up their components as FACEs.

## 💻 Examples

See above thread

[2022-10-11 20:32] bennyrags opened #6442 "fix: aria-describedby isn't recognized by SRs in fast-button"
# 🐛 Bug Report

When a user adds the `aria-describedby` attribute and value to the `fast-button` element, the attribute appears on both the `fast-button` element and its `button` child element. This dual use appears to break the `aria-describedby` functionality. This is an important for screen readers, which use `aria-describedby` to tie a focusable element, such as a `button`, to another element

[2022-10-11 20:35] chrisdholt commented on #6442
Thanks @bennyrags - we're aware of this but will use this as a tracking issue for our current vNext work. We're looking at discussing and addressing the approach here. Just an FYI that it may be that we change how we've implemented tooltip or we update to move away from delegatesFocus due to the current gaps with cross root ARIA.

We'll use this issue to keep the discussion going and the community

[2022-10-12 13:26] RehanSaeed opened #6445 "feat: add ability for multiple tabs to point to the same tab panel"
# 🙋 Feature Request

The tab component seems to use the index of the tabs and tab panels to determine how they are linked.

## 🤔 Expected Behavior

I'd like a way to force a particular tab to point to a particular tab panel.

## 😯 Current Behavior

The implementation seems to use the index of the tab or tab panel to relate the two together.

## 🔦 Context

We have a single tab panel containing a iF

[2022-10-12 13:34] thinkbig1979 commented on #4791
Also very interested in a fix. In the case of our application, the dropdown sits on a card that can be one of many cards in the view. One would expect the dropdown to just open over the top of the other elements on the page, including its parent element, but it just runs into the edge of the card and does not expand any further. This can be clearly seen in the component explorer on the fast.design

[2022-10-12 14:46] scomea commented on #4791
I have a prototype branch that hooks up select to a refactored anchored-region positioning class here -https://github.com/microsoft/fast/tree/users/scomea/anchor-region-refactor

That would be able to escape parent containers much more effectively.

[2022-10-12 17:12] EisenbergEffect opened #6447 "feat: introduce DOMPolicy and plumb it throughout templating"
We have identified a number of improvements we can make to fast-element, which will make it safer to use for developers, particularly those that are less aware of certain dangers related to HTML DOM sinks which can result in XSS attacks.

This set of improvements will introduce a new `DOMPolicy` abstraction which will be consumed by the template compilation and binding APIs. Through this abstracti

[2022-10-12 18:00] MaiLeeTR opened #6448 "fix: screen readers don't announce the indeterminate state correctly in checkbox"
# 🐛 Bug Report

The indeterminate state of the checkbox isn't announced correctly to users who use screen reader software and declares the state as "checked."

Screen readers will announce the indeterminate state in different ways, such as "mixed" (iOS), "half-checked" (NVDA), "partially checked" (JAWS), or "partially ticked" (TalkBack). (2.1.1)(1.3.1)(4.1.2)

Also agree that there should also be

[2022-10-12 22:25] chrisdholt commented on #6448
Thanks for this - picking it up :)

[2022-10-12 22:51] chrisdholt commented on #6448
There is a PR out with a fix for this issue.

With regards to this:

Definitely appreciate the feedback here. While these are ARIA radios and not inputs with a type of checkbox, I'm not ready yet to add a content attribute given the current platform API for checkboxes and indeterminate being strictly a property. We'll certainly keep an eye on it. If we wanted to change platform behavior to reflect

[2022-10-12 23:53] chrisdholt commented on #4791
@scomea has done some explorations here and I posted in our discord today that @radium-v has been iterating on adding this to select/combobox and likely will have something up in the next day or so. Landing the desired path here for our Foundation approach is a key part of our current alpha state of Foundation. Whatever is the default approach, we plan to enable users to take control or opt-out of

[2022-10-13 06:40] thinkbig1979 commented on #4791
Thanks @scomea and @chrisdholt. Great to see progress on this :-)

[2022-10-13 14:07] MaiLeeTR commented on #6448
Thanks for the quick response and turnaround time for getting a fix in! Really appreciate it.

[2022-10-14 16:29] KingOfTac opened #6455 "feat: add default value for `activeid` to `Tabs`"
# 🙋 Feature Request
When `Tabs` does not have the activeid attribute explicitly set by a developer, the active indicator jumps beyond the next tab that is clicked on before settling into the correct position. By setting the activeid this behavior does not happen.

## 🤔 Expected Behavior
If the active indicator is enabled, the animation for selecting tabs should function smoothly.

## 😯 Current Beh

[2022-10-14 16:39] KingOfTac commented on #6369
I have most of these changes in place minus the stackblitz examples and the css transition performance improvements. Currently working on the stackblitz portion.

@Falkicon I'd like to get your thoughts on this:
With regards to the transition performance issues, I have confirmed that it is not the `background-design` element that is slowing down page performance like I previously theorized and I h

[2022-10-14 18:12] #6448 closed

[2022-10-17 13:18] #5588 closed, assigned to EisenbergEffect

[2022-10-18 13:58] YonatanKra opened #6458 "fix: validation doesn't work in text-area"
# 🐛 Bug Report

When trying to check for text-area validation, I keep getting a valid state:
[code]
When running:
`element.checkValidity()`
it returns `true` even though it is supposed to return false.

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

I'd expect `checkValidity` to return `false` and set the element's state to `invalid`.

## 😯 Current Behavior

Validity remains true even

[2022-10-18 16:38] bheston opened #6459 "feat: allow CSSDirective to render in html directive"
# 🙋 Feature Request

In the new Adaptive UI Explorer we identified a new pattern where design tokens are rendered in an inline `style` attribute in an html element.

## 🤔 Expected Behavior

Allow the `html` directive to render `CSSDirective`s as well.

## 😯 Current Behavior

Because the `CSSDirective` is being rendered in an `html` template instead of `css`, we have to call `createCSS` manually.

[2022-10-18 16:51] nicholasrice opened #6460 "fix: DesignToken's default value is mutable across SSR requests"
# 🐛 Bug Report
If an application invokes `designTokenInstance.withDefault()` during an SSR process, it is the potential to impact value resolution of design tokens in other requests.

This happens because DesignToken implements a singleton to store default token values, which is shared across processes in the current implementation.

[2022-10-18 22:08] #5870 closed

[2022-10-18 23:49] nicholasrice opened #6462 "rfc: consider connecting behaviors *before* rendering component templates"
# 💬 RFC
In investigating a bug in DesignToken, I realized that the `ElementController` invokes the element's behavior's connectedCallback *after* it renders the element template. The impact of this is that a descendent element will have its behavior's connectedCallback invoked *before* an ancestor's behavior's connectedCallback is invoked. See https://stackblitz.com/edit/typescript-pehqnq?file=ind

[2022-10-19 15:48] janechu commented on #6070
This is not needed by the CLI.

[2022-10-19 21:19] EisenbergEffect commented on #6462
Thanks for the detailed invocation order. That makes things very clear. I agree, the current behavior is odd and I can see how that would cause issues. Let's move ahead and see if we can make this change, just making sure to test a few different behavior scenarios.

[2022-10-20 21:53] nicholasrice opened #6464 "fix: DesignToken max callstack exceded when setting a token from a token subscriber"
# 🐛 Bug Report
https://stackblitz.com/edit/typescript-1bfmxg?file=index.ts,index.html for min repro.
Setting a token within the `handleChange()` method of a DesignTokenSubscriber throws.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser

[2022-10-21 05:58] #6403 closed

[2022-10-25 12:35] olaf-k opened #6473 "fix: discrepancy between Slider and native input range behaviors"
# 🐛 Bug Report

The current Slider implementation differs from the native input range element in two aspects:
- The default `max` value: 10 for the FAST Slider, 100 for the native input.
- The Slider `step` attr/prop accepts values that do not evaluate to a positive number, which breaks it. It also does not recognize `any` as a valid value.

## 💻 Repro or Code Sample

Simple demo: https://stackbli

[2022-10-25 13:57] yinonov commented on #6473
there's no smooth dragging in the slider 😿

[2022-10-25 19:43] KingOfTac commented on #6455
I'm good with either result. I can see value in both tracking for adding through the CLI and an example of manually adding it for folks who opt out of using the CLI.

[2022-10-25 21:07] EisenbergEffect commented on #6473
@chrisdholt I tagged this one and then assigned to you so you could figure out how you want to handle it. Seems like some good feedback and suggestions here. I think slider hasn't been touched in a long time. IIRC it was one of our first components.

[2022-10-25 21:45] #6070 closed

[2022-10-26 12:19] YonatanKra commented on #6458
@chrisdholt
It happens for me locally with 2.46.14 but also happens here.

[2022-10-26 15:39] engelsdamien opened #6475 "docs: fix interpolations in https://www.fast.design/docs/fast-element/using-directives#host-directives"
# 🙋 Documentation Request

The first example in https://www.fast.design/docs/fast-element/using-directives#host-directives has a few typos:

[code]

## 💁 Possible Solution

It should likely be:

[code]

[2022-10-26 16:32] YusakuNo1 opened #6476 "fix: Fallback renderer fails to process boolean type"
# 🐛 Bug Report

My code fails at this line: https://github.com/microsoft/fast/blob/master/packages/web-components/fast-ssr/src/element-renderer/element-renderer.ts#L134 with a boolean attribute

## 💻 Repro or Code Sample

Attribute definition
`@attr isShow = false;`

## 🤔 Expected Behavior

Render correctly

## 😯 Current Behavior

ElementRenderer throws an exception

## 💁 Possible Solution

Add bo

[2022-10-26 16:40] chrisdholt commented on #6476
Thanks @YusakuNo1 - Does this fail when the boolean attribute is decorated with a mode of boolean? That would denote that this is actually boolean. Besides the value given to the property above, there's nothing to say it's boolean.

[code]

Here's a link to the current docs on customizing attributes: https://www.fast.design/docs/fast-element/defining-elements#customizing-attributes

[2022-10-26 17:34] YusakuNo1 commented on #6476
Discussed offline, let me close this issue as Chris suggested above

[2022-10-27 18:57] EisenbergEffect commented on #6475
Wow. Good catch. This was some documentation from the early version of fast-element when it was pre v1.0 and we were still thinking of using `$` for attributes. Must have gotten missed when we updated things.

[2022-10-28 01:13] soulofmischief opened #6480 "feat: Support Mithril.js"
[Mithril](https://mithril.js.org/) is a view framework which offers a much terser and idiomatic developer experience than React. Component lifecycle is very similar to React.

I looked into the fluent Web Components but found the documentation lacking. Would love to get the discussion started on Mithril support! Happy to provide more information, but not sure where to start.

[2022-10-28 15:10] EisenbergEffect commented on #6480
@soulofmischief Thanks for reaching out. We're happy to add documentation on additional frameworks. Unfortunately, we're not experts in Mithril, so it's a bit difficult for our team to put that together. We'd be happy to work with you to make this happen if you are interested in working on the documentation.

As a first step, have a look at some of our other integration docs:

https://www.fast.des

[2022-10-28 15:18] yinonov opened #6484 "[foundation] slider readonly deviates from native range control"
`slider` component doesn't align with native input of type range, readonly property is not supported in the native control, thus, is redundant in the slider component.

should these lines be removed?

https://github.com/microsoft/fast/blob/9220e20045ad0e29ecb1d62028d137d8fc779b52/packages/web-components/fast-foundation/src/slider/slider.ts#L35-L48

https://user-images.githubusercontent.com/1514065

[2022-10-28 17:11] #4971 closed

[2022-10-28 17:11] #5629 closed

[2022-10-28 17:11] #6373 closed

[2022-10-28 22:02] EisenbergEffect commented on #6462
@nicholasrice Can you link the PR and update the status on this? Thanks!

[2022-10-28 22:47] #6462 closed

[2022-10-31 15:38] MaiLeeTR opened #6489 "fix: VoiceOver keyboard traps using slots in fast-accordion-item"
# 🐛 Bug Report

When a user turns on VoiceOver and uses the keyboard to navigate an expanded accordion item with an end slot, they're not able to use the right arrow key to access the panel content. Alternatively, a user is also not able to access the first accordion item panel content if they try to use the left arrow key when they're focused on the second accordion item heading.

## 💻 Repro or C

[2022-10-31 17:01] nicholasrice opened #6490 "fix: FAST SSR DOM Shim does not support rendering fast-foundation components"
# 🐛 Bug Report
A bug in the SSR tests prevented the SSR repository from testing complete rendering of fast-foundation components. This task tracks work to fix the tests and update the DOM shim or components as necessary to successfully render in SSR.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

## 😯 Current Behavior

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device

[2022-10-31 18:06] MaiLeeTR opened #6491 "feat: add aria-describedby to the button and id attributes to the slots in fast-accordion-item"
# 🙋 Feature Request

Add `aria-describedby` to the button and `id` attributes to the start and end slots to establish and announce a relationship between the heading text and the slots.

_VoiceOver on macOS was used for testing_

## 🤔 Expected Behavior

If `aria-describedby` is added to the button and references the `id` of the start and end slot, a user with screen reader software turned on will

[2022-11-03 13:42] rachelbt opened #6494 "[select]: fast-listbox for wrapping fast-potion"
Isn't it better for the fast-potion to be wrapped fast-listbox rather than a div with `role="listbox"`?

https://github.com/microsoft/fast/blob/6ebb5ec7bdb7666f49ddc524bc56f70a2e8aa574/packages/web-components/fast-foundation/src/select/select.template.ts#L58

[2022-11-03 18:23] TrevorKarjanis commented on #6365
I experienced the same with TS 4.6.4. [skipLibCheck](https://www.typescriptlang.org/tsconfig#skipLibCheck) resolves the issue if necessary.

[2022-11-03 20:55] nicholasrice opened #6497 "feat: add public directive configuration to fast-ssr"
fast-ssr contains an internal mechanism for configuring the directive renderers used by the TemplateRenderer. The feature was design this way so that authors could write directive renderers for custom directives not shipped as part of `@microsoft/fast-element`. This feature is not currently exposed publicly.

We should add a configuration option to `SSRConfiguration` to accept `ViewBehaviorFactory

[2022-11-04 04:23] nicholasrice commented on #6464
Min-repro w/ just DesignTokenNode: https://stackblitz.com/edit/typescript-rtojj1?file=index.ts

[2022-11-04 04:52] #6459 closed

[2022-11-04 14:20] EisenbergEffect commented on #6489
Thanks for reporting this @MaiLeeTR !
/cc @chrisdholt for triage/investigation.

[2022-11-04 14:22] EisenbergEffect commented on #6491
Awesome writeup @MaiLeeTR! Thank you 🙇
/cc @chrisdholt for triage/investigation.

[2022-11-04 15:27] vnbaaij opened #6500 "fix: keyboard navigation not working anymore in nested components in a datagrid"
# 🐛 Bug Report

(report and sample are on fluentui but error lies in fast)
If you nest, for example, text fields in a data grid, you cannot navigate through a text field with the keyboard anymore. Instead, you are transferred to other fields in the grid.

## 💻 Repro or Code Sample

See https://codepen.io/vnbaaij/pen/LYrZmjb. This is using `web-components@2.0.0` where it works like it should. If yo

[2022-11-04 18:11] chrisdholt commented on #6500
@scomea are you able to investigate?

[2022-11-04 18:21] scomea commented on #6500
Yup, will take a look.

[2022-11-04 18:35] YusakuNo1 commented on #6476
Fixed: https://github.com/microsoft/fast/pull/6493

[2022-11-04 18:35] #6476 closed

[2022-11-04 18:57] EisenbergEffect opened #6502 "chore: cleanup pass on fast-element"
While working on the last few rounds of improvements to fast-element, several cleanup tasks revealed themselves. This include deprecated code that needs to be removed, code in the wrong place, code that should be a utility rather than in core, incorrect import statements, etc.

This work will handle polishing up the codebase and dealing with those issues.

[2022-11-07 14:32] EisenbergEffect commented on #6185
@chrisdholt Can this be closed as done now?

[2022-11-07 18:33] chrisdholt commented on #6185
Tooltip is still outstanding on this, so while most existing things have transitioned, it's not quite "done" fully yet.

[2022-11-07 22:40] #6447 closed

[2022-11-08 13:34] scomea commented on #6500
Here's a pen with what I believe is the correct keyboarding behavior
https://codepen.io/scomea/pen/yLEVXGP?editors=1010

Two issues:
- passing the columnDefinition to cells could be challenging in Blazor.  Can this api be made easier to use for simple cases?
- There is a bug where the row moves focus when a cell's internal queue is active if arrow key events from the cell internals are not marked

[2022-11-08 20:34] vnbaaij commented on #6500
I'm using this `js` file for the grid: https://github.com/microsoft/fast-blazor/blob/v2/src/Microsoft.Fast.Components.FluentUI/Components/DataGrid/FluentDataGrid.razor.js. The `init` function is called right after the grid is rendered for the first time (Blazor's JavaScript interop in the `OnAfterRenderAsync` Method).
You think it would be possible to integrate your code from the pen in this javac

[2022-11-08 22:22] #6497 closed

[2022-11-09 14:43] #6464 closed

[2022-11-09 18:46] prudepixie opened #6511 "fix: benchmark pipeline failure on download-artifact"
Recent PRs that trigger the benchmark Github Actions are experiences consistent failures on the 'Report Results' step:

![Image](https://user-images.githubusercontent.com/6309989/200915327-944d5a76-04a7-4dc2-a1db-976239aa3a80.png)

Expected all Actions to pass and report benchmark results.

[2022-11-10 12:29] OneWorld123 opened #6514 "docs: There should be only one installation guide/npm package for Vue.js"
# 🙋 Documentation Request

I want to integrate the look and feel of FluentUI into a Vue.js app.

* [FAST website tells me use `@microsoft/fast-components`](https://www.fast.design/docs/integrations/vue/)
* [The readme of this git repo and the Microsoft page tells me to use `@fluentui/web-components`](https://learn.microsoft.com/en-us/fluent-ui/web-components/integrations/vue)

Why are there two so

[2022-11-10 13:35] scomea commented on #6500
Is this for FAST V2?  If so, I'd rather get the bug fix part into FAST so we don't have to worry about it here.  The part about how to pass the columnDefinition to the cells remains.  Ideally authors would be able to control these params, yes?

[2022-11-10 16:18] vnbaaij commented on #6500
Not sure which version is used underneath the Fluent UI web components atm. Anyways, I'm not exposing `columnDefinition` to the user (and not using it internally either). If it is needed, I think I can generate it internally and pass it onwards.

[2022-11-14 15:21] EisenbergEffect commented on #6514
@OneWorld123 We apologize for the confusion. These are actually not two solutions for the **_same_** thing. These are two completely different design systems.

FAST enables the creation of multiple design systems, in order to meet the broad needs of the industry. You can use FAST to create Fluent, Material, Lion, etc. with minimal effort. The official Fluent UI Web Components are built on FAST. We

[2022-11-14 15:21] #6514 closed

[2022-11-14 15:28] tbeseda commented on #6336
As a web dev that writes countless html strings in .js tagged templates, enabling lang servers (HTML, CSS, even JS) would be very helpful.
I've been reviewing available Code extensions to enable highlighting and (hopefully) LSPs for tagged templates, but no luck so far. Even code folding would be beneficial, but I think enabling the lang server would solve that as well.
Thanks!

[2022-11-14 21:58] EisenbergEffect opened #6518 "feat: enable opt-in to shared kernel"
Right now, the FASTElement kernel is automatically shared with all instances of FASTElement on a page. This includes sharing of the v2 kernel with v1. Whichever kernel is loaded first will be shared. So, as long as you load the v2 kernel first, it will work for both v1 and v2.

However, some architectures prevent loading of v2 before v1 and don't need the shared kernel. So, we're going to make a c

[2022-11-15 18:24] #6511 closed

[2022-11-15 18:50] #6427 closed

[2022-11-17 02:02] KingOfTac opened #6523 "rfc: Proposal for a way to disambiguate shadow parts when composing components"
# 💬 RFC
Recently it has come up that a potential shortcoming in Foundation templates is the common usage of the same part names across components and trying to style template parts that are deeply nested in composition scenarios. The problems and solution illustrated here tend to break the isolation of Shadow DOM, however can prove to be useful for library authors who want to provide more flexibil

[2022-11-17 02:15] chrisdholt commented on #6523
I’m out this week and taking a break from most things here as well, but wanted to provide a quick response. I think this is “planned” with the Foundation work we’ve discussed and continue to move towards as you’ve noted. On my phone but @EisenbergEffect might know off the top of my head which stage of changes we’ll look at this. With that said, I’m not going to go much into the details on implemen

[2022-11-17 02:25] EisenbergEffect commented on #6523
I believe the template/anatomy builder proposed in https://github.com/microsoft/fast/issues/5901 will enable this type of renaming as needed by design system authors.

[2022-11-17 02:33] KingOfTac commented on #6523
Pretty much the response I was expecting, but wasn't sure what had been discussed on the subject so far, so I thought I'd bring it up through RFC, with people being out right now this seemed like the best way to bring it up without getting lost.

[2022-11-17 02:34] KingOfTac commented on #6523
Moving this over to #5901 to consolidate features for the builder there.

[2022-11-17 02:34] #6523 closed

[2022-11-17 02:37] chrisdholt commented on #6523
Thanks @kingoftac!

[2022-11-17 02:39] KingOfTac commented on #5901
Until there is an issue specifically for tracking the template builder work for iteration 5. This brings up being able to customize shadow parts for some interesting styling scenarios, and likely would fit somewhere in that work in some shape. #6523

[2022-11-17 09:52] brendonofficial opened #6524 "docs: SSL/TLS certificate for fast.design is expired"
# 🙋 Documentation Request

The SSL/TLS certificate for hostname `fast.design` expired November 13, 2022.

## 💁 Possible Solution

Replace the certificate so that redirection to `www.fast.design` works again without security warning.

[2022-11-17 13:05] YonatanKra commented on #6180
@EisenbergEffect
This is an issue with the grid itself.
Here is a cleaner example: https://codepen.io/yonatankra/pen/vYredxP?editors=1111
It also happens locally for me.

[2022-11-17 13:50] EisenbergEffect commented on #6180
Thanks for the update @YonatanKra !

[2022-11-17 14:14] scomea commented on #6180
There looks to be an issue with swapping in a new array instance for columnDefinitions vs mutating the existing array.
This variation of the example works as expected - https://codepen.io/scomea/pen/poKWYJp?editors=1111
Ideally the grid should tolerate a swap as well, so I'll look into it.

[2022-11-17 16:01] #6518 closed

[2022-11-17 16:34] thomleclerc opened #6525 "fix: limitation when trying to set a default value without triggering change event in radio-group and radio components"
# 🐛 Bug Report

I'm using the radio group and the radio button FAST components and I came across a small limitation and was wondering if there was any workaround possible. I'm trying to provide a defaultValue to the radio-group component using the value attribute which works but it's triggering the "change" event which isn't a really big problem but I'd like it better if was possible to not trigge

[2022-11-17 16:37] EisenbergEffect commented on #6525
@chrisdholt Assigning this to you for further triage and follow-up.

[2022-11-17 18:14] YonatanKra opened #6526 "fix: yarn fails"
When I run `yarn` the installation fails on the `prepare` flow.
Here's the error I get:
[code]
It appears to be an issue with `mocha`.

This happens even if I add `skipLibCheck` in `tsConfig`.

Any idea what the issue might be?

[2022-11-17 22:04] EisenbergEffect commented on #6524
Thanks for reporting. We are aware of this and working towards a fix. For now, if you visit `www.fast.design` you shouldn't have any problem.

[2022-11-17 22:16] EisenbergEffect opened #6527 "rfc: vNext documentation"
# 💬 RFC

In preparation for vNext releases, we need to make many updates, additions, and improvements to our documentation. This RFC attempts to gather that plan into a single place. This RFC does not cover the site home page, which also needs updates. It only covers our documentation.

## Organization

At present, our documentation is scattered across the repo, with each package having a sub `doc

[2022-11-17 22:23] EisenbergEffect commented on #6527
I'd also like to add a "Tutorials" section. I think that probably has to come after we get the basic content in place though.

[2022-11-18 01:15] KingOfTac commented on #6527
I think the stackblitz templates I've been working on would fit somewhere in the Code Examples/Tutorials area. They may need their own home however since they are bigger than what you describe the code examples to be but not exactly a full blown tutorial either. They're more so meant for someone to quickly clone and have an environment already setup where they can play with a specific feature set

[2022-11-18 04:41] huynhicode commented on #6527
Yay, I am excited for vNext documentation @EisenbergEffect . Looks great at first glance. I like the expansion of the "Creating Design Systems" section and the documentation being geared toward those new to FAST.

[2022-11-18 05:41] jedwards1211 opened #6528 "@microsoft/fast-react-wrapper is missing "type": "module" in 0.x"
# 🐛 Bug Report

When using `"moduleResolution": "NodeNext"`, I get errors inside `@microsoft/fast-react-wrapper@0.1.48` (used by `@vscode/webview-ui-toolkit`) due to TS considering its code to be CommonJS by default.

I'm not sure how to make a PR since the master branch has that package on an alpha version.

[2022-11-18 17:02] EisenbergEffect commented on #6526
This is strange. I just did a clean install on a new OS this morning and everything worked as expected. Did you run `yarn` exactly or did you also run something like `npm install` first by any chance? Any additional details you can provide?

[2022-11-18 17:04] EisenbergEffect commented on #6528
I don't think we can update our previous version libraries to use `"type": "module"`. That was a major change we made for the new versions. I think that would break people. If I recall there were additional reasons why we couldn't do this prior to the new versions. @nicholasrice may recall the details.

[2022-11-18 18:28] rajsite opened #6529 "fix: DesignToken derived values cannot be enums in Fast Foundation"
# 🐛 Bug Report

When setting a `DerivedDesignTokenValue` on any of the `DesignToken` apis, the type configuration causes enum values to not work as expected and result in a TypeScript type error. [Stackblitz](https://stackblitz.com/edit/fast-enum-design-tokens).

Found that the issue does not reproduce in master, see comments in #6530.

## 💻 Repro or Code Sample

For the enum:

[code]

The followi

[2022-11-18 21:26] mollykreis opened #6531 "'control' is not always defined on BreadcrumbItem"
# 🐛 Bug Report

The `BreadcrumbItem` class extends `Anchor`, which exposes a public property `control: HTMLAnchorElement`. However, when an instance of a breadcrumb item does not specify an `href`, the template for the breadcrumb item does not include an anchor element. As a result, `control` is undefined, which isn't a valid value for type `HTMLAnchorElement`.

This causes problems when `@typescr

[2022-11-19 02:00] YonatanKra commented on #6526
Nope - just followed the `contribution` guide to the letter :)
It used to work in the past. Deleted the old clone, recloned, and started all over - but it didn't work.
It fails on `fast-todo-app`:
[code]

[2022-11-19 02:26] YonatanKra commented on #6526
@EisenbergEffect
I've added `"skipLibCheck": true,` to the `todo-app`'s `tsconfig` and now everything is working fine.

[2022-11-19 02:26] #6526 closed

[2022-11-19 02:36] YonatanKra opened #6532 "docs: fix contribution guide"
The contribution guide is out of date.

For instance, the path `packages/web-components/fast-components` does not exist on `master`.

In addition, npm scripts like:

[code]

No longer work.

[2022-11-19 02:43] YonatanKra opened #6533 "How to run the tests?"
I am trying to run the tests but they fail locally.

I enter `packages/web-components/fast-foundation` and run `yarn test`.

It starts `eslint`, then `storybook`, and then tests with playwright.

The playwright tests - besides taking a lot of time to run - fail locally. There's a `retry` policy which gives the sense the tests are flaky in nature.

Is there a `jest` or `karma` setup to run unit tes

[2022-11-19 23:49] jedwards1211 commented on #6528
Huh, seems odd considering that the published source code has `import`/`export` statements anyway?

[2022-11-20 13:57] LorenzKahl commented on #6527
Looks great. I‘d love to see the addition of a DX section on „How to best setup VSCode for FAST Development“.

[2022-11-20 21:38] LorenzKahl commented on #6527
Answer to myself:
https://www.fast.design/docs/tools/vscode

Still, this doesn't give me "jump to definition" or Emmet-style expansion in CSS, but it's okay for starters ;-)

[2022-11-21 14:32] YonatanKra opened #6534 "fix: custom dataGridRow and dataGridCell result in `undefined` tag names in data-grid"
# 🐛 Bug Report

When using the `data-grid` and trying to add custom grid classes with foundation's templates, the tag names are not taken correctly

## 💻 Repro or Code Sample

https://codesandbox.io/s/using-fast-data-grid-forked-2oe93h

Note the output in the screen with `undefined` tag names.

## 🤔 Expected Behavior

I would expect the tag name to be the tag name of my custom row and cell element

[2022-11-21 16:43] KingOfTac commented on #6532
The docs will be seeing a complete overhaul soon for the vNext release so if you could add any feedback/suggestions on #6527 so that they can be consolidated and tracked along with that effort, it would be greatly appreciated.

[2022-11-21 20:20] radium-v commented on #6533
You may need to install the Playwright binaries - this is usually only needed when first initializing the project or when there's a major version change for Playwright. You can install it with this command:

[code]

If you're using Ubuntu, you can install Playwright's dependencies automatically with this:
[code]

[2022-11-22 12:21] rinaok opened #6536 "fix: change event in menu fired multiple times when clicking on `menuitemradio` items"
# 🐛 Bug Report

The `menu` fires a `change` event multiple times when you click on a` menu item radio`.

## 💻 Repro or Code Sample

Catch the `change` event by clicking on a `menu item radio`.

## 🤔 Expected Behavior

`Change` event should only be fired once.

## 😯 Current Behavior

The `change` event is fired multiple times.

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Dev

[2022-11-22 13:11] yinonov commented on #6536
menu `change` event is bubbling from `menuitemradio` buttons
the following recording shows how 1 click triggers 3 changes -

https://user-images.githubusercontent.com/15140652/203319476-52953bd5-983c-45b8-9893-17e8191c054f.mov

1. the clicked radio button that changed from `checked="undefined"` to `checked="true"`
2. the previous sibling radio button that changed from `checked="undefined"` to `che

[2022-11-22 14:38] YonatanKra commented on #6534
I found out now that `Master` is not the released version (quite confusing for me).
The version in `Master` should indeed fix this issue.
Any ETA for its release?

[2022-11-22 19:34] rajsite commented on #5750
Maybe a potential use case for using the W3C WC community context protocol being added to vNext?: https://github.com/microsoft/fast/pull/6053
A way to let the radio group respond to interactive changes from child radio buttons without relying on "user facing" events.

[2022-11-22 20:57] chrisdholt commented on #5750
Thanks for this @sknoslo - I need to grok a bit more on what's going on and what's going *wrong* here. I think the main issue with moving event emission to keydown and click handlers is the fact that these can and also do need to change programatically. Definitely happy to have you work on this and take up helping to solve it. Which version are you working with for this just for my own understandi

[2022-11-22 21:37] sknoslo commented on #5750
@chrisdholt well, I'm currently building a design system on the current stable version, so ideally whatever fix is decided on would be backported to that version as well as being fixed on master.

And if I could summarize the problem, it's that I do not expect a `change` event to be emitted when a checkbox (or radio or switch) is checked programmatically. So `checkbox.checked = true;` should not e

[2022-11-22 21:45] chrisdholt commented on #5750
@simonxabris assigning you to this as well :)

[2022-11-22 22:08] KingOfTac opened #6537 "fix: vNext `fast-router` templates not attaching on safari 16+"
# 🐛 Bug Report
There appears to be an issue with the latest version of webkit that is causing `Router` to not get a template. Currently not aware if this is an issue with the vCurrent version of `Router`.

## 💻 Repro or Code Sample
Working on a repro.

Simple repro steps would be to create a new project using the latest FAST prerelease versions and add router with a few routes and a default layout

[2022-11-22 22:22] chrisdholt commented on #6531
@mollykreis can you create a simple repro with this in Stackblitz perhaps?

[2022-11-22 22:30] chrisdholt commented on #6491
I don't think we'll add id's specifically to _any_ slots because that would mean that the slots themselves need to be added into the document flow rather than simply projecting their children. While the scenario might solve this specific approach, it breaks the concept of slots where they by nature project their children rather than live in the a11y tree and dom themselves. Thanks for the great wr

[2022-11-22 22:39] chrisdholt commented on #6489
@MaiLeeTR I think I need more insight here on what is expected. Keyboard follows the ARIA Practices guidance detailed here, but AT (screen readers such as Voice Over) do not directly follow that and AT has multiple shortcuts and hotkeys to scan and process content well beyond what is documented in the APG. Unfortunately what we have to work with for communicating with assistive tech is DOM + ARIA;

[2022-11-22 23:00] KingOfTac commented on #6537
@EisenbergEffect I think I discovered the issue here, but not sure if it is an indication of a larger issue.

I noticed in my debugging that the `DefaultRouter`'s config setter was not getting called in safari16. In the web component template that hosts the router element, I am binding the route config through a property binding: `<fast-router :config=${x => x.config}>`. I moved the setting of `Ro

[2022-11-22 23:51] chrisdholt commented on #6458
These are the same versions - we fixed validation in the latest alphas...I'll take a look and see if that can be backported to fix this.

[2022-11-23 16:17] EisenbergEffect commented on #6537
That's very strange. Can you isolate the issue to a simple component without the router?

[2022-11-23 17:14] KingOfTac commented on #6537
I've been working on isolating, but no luck yet. It may also be a combination of things since I am using the inject decorator to inject the router config into the router's parent component.

[2022-11-28 03:49] KingOfTac commented on #6537
@EisenbergEffect I haven't been able to create a reliable repro yet, but seems like something changed in webkit16+ that is causing DI to break in some scenarios. I no longer think that this is an issue with Router, and instead it is in DI. I also don't think it is an issue with FAST at all but a bug introduced in Webkit since prior to 16 everything worked fine.

[2022-11-28 04:11] bigopon commented on #6537
Recently Aurelia has also been hit by some issues from webkit 16+. The issue is at https://github.com/aurelia/framework/issues/1003

There's a breaking change in the spec at https://github.com/whatwg/dom/pull/754, @jded76 and I have been trying to get a spec revert, and are waiting for some responses. You can join the discussion at https://github.com/whatwg/dom/pull/819#discussion_r1004995480

[2022-11-28 15:53] EisenbergEffect commented on #6537
@bigopon and @KingOfTac Thanks for helping to look into this. I have a couple of questions:

Is the primary issue that `document.adoptNode(...)` doesn't return the adopted node anymore? If so, could that code just be changed to use the original `template.content`?

If not, does using `document.importNode(...)` solve the problem universally?

If not, is there an issue with the `View` moving element

[2022-11-28 16:00] jded76 commented on #6537
It returns a node as usual, but this node doesn't have an owner document (it's still an empty document) because adoptNode returns early.

[2022-11-28 16:12] mmmhsalois opened #6538 "fix: date selection in Calendar does not work"
# 🐛 Bug Report
When trying to select a date in the Calendar, the date does not get selected.

## 💻 Repro or Code Sample
- Open Storybook
- Go to Calendar component
- click on a date

## 🤔 Expected Behavior
The date should receive the class `selected` and the styles applied.

## 😯 Current Behavior
Nothing happens. There's no error, but the date does not receive the `select` class and no styles are

[2022-11-28 16:19] KingOfTac commented on #6537
The primary issue I have been facing is that dependencies injected into a component using either the `inject` decorator or the dependency as a decorator itself, are not available in the template for bindings on the initial render anymore. It sounds like the DI issue may just be a side effect of the above though it's just speculation at this point.

[2022-11-28 16:27] EisenbergEffect commented on #6532
Closing this one as duplicate since we're tracking a big rework of the content starting soon.

[2022-11-28 16:27] #6532 closed

[2022-11-28 16:57] EisenbergEffect commented on #6534
Some of the code in the code sandbox is incorrect. I think there's a simple solution, which is to tell foundation that the base type maps to your new derived type. You can do this when you define your component:

[code]

[2022-11-28 16:57] #6534 closed

[2022-11-28 17:33] navinamat opened #6539 "fix: Fluent-tabs .tabpanel missing "part attribute""
# 🐛 Bug Report

![image](https://user-images.githubusercontent.com/118706167/204336729-401d0e5b-7973-41f4-9437-2d75af70f722.png)

In the shadow root of the fluent-tabs component, the div with the class "tabpanel" is missing the part="tabpanel" attribute.

Instead the part="tabpanel" attribute has been added to the slot element within the div.
This means we are unable to select it in CSS and theref

[2022-11-28 17:41] chrisdholt commented on #6539
I think this is an issue both in the main branch and the archives. Thanks for this!

[2022-11-28 17:58] mollykreis commented on #6531
I've updated the description to include a stackblitz link.

[2022-11-28 18:14] chrisdholt commented on #6531
Thanks, I think this is essentially "resolved" in the vNext implementation as we've removed the "when" in favor of keeping the anchor (just without an href): https://github.com/microsoft/fast/blob/802443ffb2b19a078f9b48f62e6d1a35e3276fb5/packages/web-components/fast-foundation/src/breadcrumb-item/breadcrumb-item.template.ts#L14

I'll take an action item to update the typing in the archives branch