[2020-08-07 02:02] #3634 closed

[2020-08-07 06:33] NPadrutt commented on #3544
@chrisdholt works as expected after adjusting all the components from fast- to fluent-, including the fix for this issue here. thanks! :)

[2020-08-07 15:08] arkadiuszwojcik opened #3646 "Tab component should use pointer cursor style"
**Describe the bug; what happened?**

Current Tab component implementation on cursor hover display text cursor

**What are the steps to reproduce the issue?**

1. Hover cursor on Tab control

**What behavior did you expect?**

I expect pointer style cursor

[2020-08-07 16:56] CuddleBunny opened #3647 "[Proposal] Introduce FAST docs with an intent driven questionnare"
A great deal of confusion seems to surround what FAST is, what all of the pieces are for, and which pieces to use to achieve a specific goal in the community as awareness grows. I propose we write a questionnaire which branches out to different sections of the docs. Perhaps something like:

"What can FAST do for me?"
 - I just want components! [link to fast-components]
 - I want to build my own co

[2020-08-07 18:33] #3635 closed

[2020-08-07 18:41] ruphin opened #3648 "Marker length in fast-element"
The way the marker is currently generated, it may contain less random characters than intended. It is possible (although somewhat unlikely) for the marker to contain 0 random characters.

**What are the steps to reproduce the issue?**

This code will find a marker with only two random characters. It finds one instantly on my machine. Markers with one random character are also near instant.

[code]

[2020-08-08 05:54] simkimsia commented on #3622
I have similar questions as @MarcSkovMadsen

My priorities are

A) readonly table how to do sorting filtering and pagination
B) how to use fast to build layouts templates in example driven manner
C) how to introduce fast with existing code bases (I'm running react)

[2020-08-08 06:50] SayusiAndo commented on #3622
@MarcSkovMadsen Have you seen [this](https://youtu.be/sYTH_xYH3iA)? No roadmap info in it, but the motivation, what problem is solved by having this framework?, is explained well with a good example.

[2020-08-08 07:03] MarcSkovMadsen commented on #3622
Yes. The video is really, really awesome. And I totally get it.

I believe so much in web components. Maybe because I'm not a traditional front end developer but someone who comes from a data science background. Also because my experience is that in an enterprise is so difficult to get nice looking, branded components if you are not on the main framework. But there are so many other frameworks and

[2020-08-08 07:53] ashoka-tech commented on #3646
Hi

Can I submit a pull request for this?

I think we need to change this file ..fast-master\packages\web-components\fast-components\src\tabs\tab\tab.styles.ts

and add cursor: pointer; to ${display("inline-flex")} :host {

[2020-08-08 09:04] arkadiuszwojcik commented on #3646
Will this automatically fix [fluentUI](https://github.com/microsoft/fluentui) aswell or separate PR will be required?

[2020-08-08 13:48] peteryates opened #3653 "Incorrect open and close symbols in accordion documentation"
On the [accordion component page](https://explore.fast.design/components/fast-accordion) the example accordion uses '+' symbols to close segments and '-' symbols to open them. This goes against the convention set by several other design systems and libraries:

* [GOV.UK Design System Accordion](https://design-system.service.gov.uk/components/accordion/)
* [US Web Design System Accordion](https://d

[2020-08-08 16:20] ashoka-tech commented on #3646
Pardon me @arkadiuszwojcik , are you asking me?
If so, sorry I am not sure about the fluentUI components impact, but happy to spend time to explore and understand it, if you would like me to find answer for your question. Additionally could you help with providing some pointers to understand your question? :)

[2020-08-08 17:06] chrisdholt commented on #3646
@arkadiuszwojcik I’ve created an issue for the Fluent implementation as well.

[2020-08-08 19:52] chrisdholt commented on #3653
Thanks @peteryates! I can confirm this repros across *all* browsers and OS' 😄

[2020-08-08 19:54] chrisdholt commented on #3646
@arkadiuszwojcik PR for the Fluent issue: https://github.com/microsoft/fluentui/pull/14421

[2020-08-10 01:56] diegoguarchaj opened #3656 "cydia.com"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

Example:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google C

[2020-08-10 02:11] chrisdholt commented on #3656
Closing as spam

[2020-08-10 02:11] #3656 closed

[2020-08-10 04:57] rimildeyjsr commented on #3641
@janechu @chrisdholt - can I work on this?

[2020-08-10 10:07] equinusocio commented on #3646
The cursor value should be "default" (arrow) not the pointer

From:

https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b#.b33l7fivt

[2020-08-10 12:23] OmarAlhammadi1996 opened #3657 "[what is the issue?] in [where is the issue?]"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

Example:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google C

[2020-08-10 13:58] #3657 closed

[2020-08-10 14:03] arkadiuszwojcik commented on #3646
@equinusocio @chrisdholt  Just to be clear, when I reported this issue I was basing on current FluantUI behavior (React one) which is using pointer style. So at least microsoft/fluentui#14421 is now consistent with FluentUI React. As for this issue I am not an expert on web standards so I'm not sure about it.

[2020-08-10 14:06] equinusocio commented on #3646
Well if Fluent design use `pointer` as a cursor, it should be defined the same inside the Fluent theme. But it should be a CSS custom property with `default` as default value to show the arrow cursor. The same is true for buttons, tabs etc..everything that isn't a text link.

[2020-08-10 14:09] arkadiuszwojcik commented on #3646
"For example, command buttons already have a strong affordance, so they don’t need a hand pointer. The hand pointer must mean “this target is a link” and nothing else."

I think this rule don't apply here as Pivot (name form FluentUI) or Tab (in Fast) don't have strong affordance as Tabs had i.e. in Windows 98.

[2020-08-10 17:01] awentzel opened #3659 "add https support for json-schema validation"
**What feature are you requesting?**
The AJV Validation code should be upgraded to support https instead of http moving forward.  Http was converted everywhere to use https in the source code for consistency and make sure not external linked to http (less secure) is being done.  Somewhere on ajv-validation.spec.ts support is failing when changing from http to https and this should pass testing.

*

[2020-08-10 17:07] jackrmomo commented on #3659
package.json

[2020-08-10 17:37] janechu commented on #3641
@rimildeyjsr go for it!

[2020-08-10 18:12] awentzel opened #3660 "Remove obsolete files from web release deployments"
**What feature are you requesting?**
New files deploy from GitHub Action's, however there is no mechanism that exists today to remove obsolete or out-of-date web files.  This task would create a GitHub Action job to remove all files prior to deployment to maintain low disk space and simplify maintenance/diagnostics of wading through erroneous files.

For example, each release deployment may includ

[2020-08-10 18:25] EisenbergEffect opened #3661 "bug: fast-text-field does not submit form on enter"
When using a `fast-text-field` inside of a `form` element, pressing the `enter` key should cause the form's `submit` event to fire, just as with a normal text `input` element. Presently, nothing happens when the enter key is pressed.

[2020-08-10 18:27] EisenbergEffect opened #3662 "bug: slider drag should not invoke animation"
When dragging the handle of a `fast-slider`, no animation should be applied. Applying animation during this process creates a laggy experience. Remove the animation and only apply animation when a location on the track is clicked that the slider handle must animate to.

[2020-08-10 18:28] EisenbergEffect opened #3663 "feat: optimize SVGs and script performance for FAST home page"
## Original Request
Ensure that all png on the site is switched to SVG and that we have proper asset compression in place.

## Subsequent investigation
Investigate optimizing the performance by placing SVGs on the CDN rather than web packing them into the application.  This will leverage Brotli caching on CDN, concurrent downloading, smaller main JS file size, and less script blocking waiting to d

[2020-08-10 18:32] EisenbergEffect opened #3665 "feat: mobile docs toc button"
When the docs are displayed on mobile, the ToC collapses and a button appears in the bottom right corner of the screen, which can be used to display the ToC. The style and location of the button make it hard to discover. Let's see if we can at least style the button with an accent color as a minimum. If we can also rework the CSS to position it in the top right, that would be even better.

[2020-08-10 18:36] EisenbergEffect opened #3666 "feat: add links to documentation header"
The documentation should have the same three links as the home page, except replacing the "Documentation" link with a "Home" link.

[2020-08-10 18:42] Falkicon opened #3667 "fast-anchor has extra underline to the right on the result example on the doc site"
The fast-anchor "RESULT" example on the doc site has an extra long underline on the right side of the anchor. This appears to be caused by the following css:

:host {
    display: inline-flex;
}

Go to https://fast.design/docs/components/anchor and review the "RESULT" section under "Usage". Observe the extra underline to the right of the "FAST" link.

**What behavior did you expect?**
No extra und

[2020-08-10 18:42] EisenbergEffect opened #3668 "feat: docs dark/light toggle should also toggle components"
The documentation currently supports a dark/light mode toggle, provided by the underlying docusaurus system. We should try to integrate this such that it switches the FAST components used in the docs into their corresponding dark/light themes as well.

[2020-08-10 18:42] #3653 closed

[2020-08-10 18:44] EisenbergEffect opened #3669 "docs: improve introduction explanation"
Based on feedback from HN commenters, we should work to improve the introductory content in both our GH readme and the docs site introduction page.

[2020-08-10 18:46] chrisdholt commented on #3669
We had looked at writing a 5 blog series to address similar feedback; should we consider an abbreviated format of the same core content here? Happy to provide that outline here if so.

[2020-08-10 18:54] EisenbergEffect opened #3670 "bug: account for Chromium adopted styles sheets bug"
Here's a reference to the platform issue:

https://bugs.chromium.org/p/chromium/issues/detail?id=1111864#c2

To manage this, we can keep a manual list of all styles added to a component in the controller. If we're running in adoptedStyleSheet mode, then during connect we can simply assign the array again. More to it than that, but it's a basic idea for the solution.

[2020-08-10 18:58] Falkicon commented on #3545
@JazibJafri , I have attached a zip with two SVG logos (one light, one dark). Not sure exactly how Docusaurus has this set up but it appears to swap logos when the light/dark toggle is flipped.

[logo_fast.zip](https://github.com/microsoft/fast/files/5052832/logo_fast.zip)

[2020-08-10 19:38] EisenbergEffect commented on #3663
@awentzel Can you look into compression of the assets? We'd like to get this for the site release on Thursday if possible since it's the one thing that's showing up in the site perf metrics as not ideal.

[2020-08-10 19:39] EisenbergEffect commented on #3663
@awentzel Here's the perf analysis: https://gtmetrix.com/reports/fast.design/Gc5y0lUo Note that every issue is A except compression which is F.

[2020-08-10 19:57] skerche88 opened #3672 "[what is the issue?] in [where is the issue?]"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

Example:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google C

[2020-08-10 19:58] skerche88 opened #3673 "Add [what] to/in [where]"
**What feature are you requesting?**

**What would be the benefit of adding this feature?**

**What solution would be ideal for you?**

**What alternatives have you considered?**

**Is there any additional context for your request?**

**Attach screenshots or images add detail to your request:**

[2020-08-10 20:03] #3637 closed

[2020-08-10 20:06] #3672 closed

[2020-08-10 20:06] EisenbergEffect commented on #3545
There is a config setting in the `docusaurus.config.js` file for this. However, we'll need to get these assets up on CDN as well. @awentzel can you assist with this. This also relates to the asset compression issue we'd like to solve if we can.

[2020-08-10 20:06] awentzel commented on #90
While this may be a good idea it would require self-signed certificates on each of our developer machines which may be cumbersome for contributors and consumers.

[2020-08-10 20:06] #3673 closed

[2020-08-10 20:22] awentzel opened #3675 "Review, identify, and resolve compliance issues"
Continue managing the review and auditing for security, privacy, and accessibility to identify and create new issues that are required for compliance by Microsoft.

WebScout, GTMetrics, Website Compliance, and among other tools.  All tools and internal CELA requests in need of action will be represented by a GitHub Issue.

## Security Compliance
### Webscout Bugs & Exceptions
Exceptions as a resul

[2020-08-10 20:24] #3662 closed

[2020-08-10 21:23] #3648 closed

[2020-08-10 21:31] EisenbergEffect opened #3676 "bug: the home page fast frame radio demo isn't acting like radios"
On the fast.design home page, the radio buttons in the FAST Frame demo area do not behave with the mutually exclusive selection behavior that they should.

[2020-08-10 22:01] chrisdholt commented on #3676
Let's go ahead and just wrap this in a radiogroup. :)

[2020-08-10 22:31] awentzel opened #3679 "Fast brand image is not displaying from LinkedIn"
**Describe the bug; what happened?**
When adding a link to FAST on LinkedIn, the image is not loading.  We should make sure we have correct implementation so that linking to our site will preload the brand graphics in sites like LinkedIn and any other social media site to help with marketing.

![Screen Shot 2020-08-10 at 3 28 19 PM](https://user-images.githubusercontent.com/16669785/89837627-37ce7

[2020-08-10 22:37] bheston commented on #3646
@equinusocio thanks for the links to the guidance and the article. Accessibility clearly has a long history, going all the way back to the invention of the hyperlink. Things have come a long way since then, and as our team has gone to great lengths to make the most accessible product we can, we've found many cases ripe for debate and some flat out contradictions.

@ashoka-tech, yes, I agree with y

[2020-08-10 23:03] awentzel opened #3680 "UTF charset undefined found during security test"
**Describe the bug; what happened?**
UTF-8 charset must be defined for https://color.fast.com

**Description**:

The encoding hasn’t been declared either through the meta-tag, the byte-order-mark or the header, so the browser will make an attempt to detect the document’s encoding. This exploit only works if the document reflects user input and the browser can be tricked into encoding the page as U

[2020-08-10 23:09] chrisdholt commented on #3679
Any insight here @awentzel? I don't see this issue when linking on other social media sites - is this an issue within the repo?

[2020-08-11 00:00] #3565 closed

[2020-08-11 00:00] awentzel commented on #3679
I'm not sure if metadata is missing to support LinkedIn in our page html or something else.

[2020-08-11 00:18] awentzel commented on #3680
Bug filed on WebScout and marked as suppressed in tool.

https://msazure.visualstudio.com/One/_workitems/edit/7947911
https://msazure.visualstudio.com/One/_workitems/edit/7947901

[2020-08-11 00:18] #3680 closed

[2020-08-11 00:24] Abu441 commented on #3680
#3680

[2020-08-11 00:25] awentzel opened #3683 "'Web beacon' checkname in WebScout reporting issues with badge.fury.io"
### Description

A messenger gif was found on the website. This is an invisible image that can be used to signal an attacker's website that a given page is being browsed.

This is informational but still should be resolved as a security vulnerability.  It's possible that #3584 may resolve this issue depending on the chosen solution.

Found in:
- https://fast.design/docs/introduction/
- https://fas

[2020-08-11 00:41] awentzel commented on #3584
I'm attempting to add these to a whitelist, which I believe would resolve these issues if approved since these are common 3rd-party CDN libraries.

The tool can be found here: https://webscout/#/whitelist though I did have to file a bug on the tool as it barely works.

[2020-08-11 01:06] Abu441 commented on #3680
3680

[2020-08-11 01:30] Abu441 commented on #3675
G

[2020-08-11 01:32] Abu441 commented on #3675
[[]()]()

[2020-08-11 02:35] #3676 closed

[2020-08-11 02:58] #3667 closed

[2020-08-11 04:02] bw-space commented on #3666
Hello, I want to work on this issue, but I am unable to follow, which is the home page, in question? How do I access it?

[2020-08-11 04:06] EisenbergEffect commented on #3666
* The home page refers to this page: https://www.fast.design/
* On the home page we have header links for "Components", "Documentation", and "Community"
* We'd like to have "Home", "Components", and "Community" on the docs which are here: https://www.fast.design/docs/introduction/
* To fix this issue, we believe a configuration change is needed in our docusaurus config. That file can be found here

[2020-08-11 04:09] bw-space commented on #3666
Thanks a lot.

[2020-08-11 04:59] bw-space commented on #3666
![fast_result](https://user-images.githubusercontent.com/43056530/89858939-7109f000-dbbd-11ea-9ff4-9c0a5bd22435.png)
Is this the expected result?

[2020-08-11 05:05] bw-space commented on #3666
![fast_result2](https://user-images.githubusercontent.com/43056530/89859287-48362a80-dbbe-11ea-93cc-55443ab73aa7.png)

Sorry, I am missed the change in positions.

[2020-08-11 05:05] chrisdholt commented on #3666
@bw-space, I think for the most part that looks good. @EisenbergEffect if the FAST logo takes you to the homepage, do we need a link for "Home"? If we do need "Home" I think the secondary position looks good (updated while I was typing 😄 ).

[2020-08-11 05:07] chrisdholt commented on #3666
@bw-space let's go ahead and create a PR with it how it is - @EisenbergEffect is ahead of me by about 3hrs so I anticipate in the AM we'll get resolution for whether we need the home link or not (given that the logo goes to the homepage).

[2020-08-11 05:07] bw-space commented on #3666
ok cool, I am working on it.

[2020-08-11 06:44] JazibJafri commented on #3545
@Falkicon @EisenbergEffect thanks alot. I will send a PR for this soon.

[2020-08-11 10:22] nikolaykrashnikov commented on #1677
can i take this?

[2020-08-11 10:51] ben-girardet opened #3685 "issue with autofocus in text-field"
**Describe the bug; what happened?**

When I use a `<fast-text-field>` with `autofocus` (`<fast-text-field autofocus>`) I get issues with the rest of the application. My use case is an Aurelia 2 project where using the `autofocus` interferes with the routing. I had a similar issue when using `autofocus` inside a `<fast-dialog>` where the autofocus would not work.

In both scenario, if I do the foc

[2020-08-11 13:45] EisenbergEffect commented on #3666
@chrisdholt Per a convo I had with @Falkicon he wanted to have the Home link as well. There was some concern that the logo might not be obvious enough on its own.

[2020-08-11 13:48] #3666 closed

[2020-08-11 14:13] EisenbergEffect commented on #3531
@khamudom Before we put this in place, I thought it might be good to check into what the Fluent UI team is doing in their docs. If we can align on content and/or format, that would a bonus.

[2020-08-11 15:52] khamudom commented on #3531
Good idea. I'll investigate that. Thanks @EisenbergEffect

[2020-08-11 16:44] brookdozer commented on #3679
LinkedIn's [post inspector](https://www.linkedin.com/post-inspector/) gives a warning for https://www.fast.design - og:image tag is needed.

[2020-08-11 16:54] awentzel commented on #3679
Thanks @brookdozer, Also, this for additional details https://stackoverflow.com/questions/10042786/how-to-successfully-implement-ogimage-for-the-linkedin/25093272#25093272

[2020-08-11 18:13] ashoka-tech commented on #3646
@bheston  Thanks, will submit the change.

[2020-08-11 19:01] #3545 closed

[2020-08-11 19:24] ben-girardet opened #3688 "Inconsistencies between fast-text-field and fast-text-area"
**Describe the bug; what happened?**

When using `<fast-text-field>` and `<fast-text-area>` with a `width: 100%;` they do not act in a consistent way.

* fast-text-field grow to 100% but not its control do not fit its entire width
* fast-text-area do not grow to 100% but its control fits its entire width

**What are the steps to reproduce the issue?**

[code]

[code]

**What behavior did you expec

[2020-08-11 19:28] ben-girardet commented on #3688
Probably related, when using a slotted content in the `start` slot it pushes the control away to the right.

[code]

[code]

Here is a screenshot of this bug:

<img width="631" alt="Capture d’écran 2020-08-11 à 21 26 57" src="https://user-images.githubusercontent.com/4275071/89940181-68470780-dc19-11ea-8e9d-a97e9455ae1a.png">

[2020-08-11 19:30] chrisdholt commented on #3688
Thanks @ben-girardet - I *think* we’ve addressed the width issue and that should release this week. I’ll look into the second issue with start content now. Once I find the related PR for the width I’ll link here (on my phone currently).

[2020-08-11 20:36] tbetous opened #3692 "Tab animation glitch in Tabs component when I use key home and key end"
**Describe the bug; what happened?**

In tabs component there is a glitch when I use home key or end key. The line under the title goes too far. Plus when you key down one more time and the line is well placed, the line move in the wrong place.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/4435536/89946044-9846d880-dc22-11ea-8fe8-d5b7c989d4f5.gif)

**What are the steps to repro

[2020-08-11 20:39] tbetous commented on #3692
If it's a bug, I volunteer to resolve it ! ✋

[2020-08-11 20:40] chrisdholt commented on #3692
Thanks @tbetous - this definitely looks like a bug and we would love you to take this on!

[2020-08-11 20:41] chrisdholt commented on #3692
@tbetous assigned to you 👍 - Thanks!

[2020-08-11 20:56] ben-girardet commented on #3688
Thanks @chrisdholt for your answer. I've found [this PR which aims to solve the width 100% for text-area](https://github.com/microsoft/fast/pull/3623) but I'm afraid it doesn't address the `start` slot issue.

Would be great to test the above use cases against the current fixes

[2020-08-11 21:05] chrisdholt commented on #3688
@ben-girardet Yes, that's the PR and it for sure doesn't address start/end issues. I'm looking into that now and I'll be aiming to get this out for our Thursday release. Thanks for filing this!

[2020-08-11 21:07] #3661 closed

[2020-08-11 22:23] brookdozer commented on #2260
Can I take this one?

[2020-08-12 01:30] awentzel opened #3695 "Favicon.svg is not loading"
**Describe the bug; what happened?**
All tabs are now having trouble loading favicon.svg which network trace says is blocked.

[2020-08-12 06:55] Falkicon commented on #3695
@awentzel, seems to be loading fine for me in Edge/Windows.

![image](https://user-images.githubusercontent.com/943328/89984335-165cac80-dc2e-11ea-8772-dac011476629.png)

[2020-08-12 16:43] marjonlynch commented on #3685
Hey @ben-girardet, I'm not sure if the dialog example is the best way to repro this issue, if I put a standard <input type="text" autofocus /> element in it doesn't get focus after showing the dialog from a hidden state. Maybe this is an issue with dialog but fast-text-field seems to not be the culprit. However, I did try putting the focus (which is in connectedCallback) inside a Dom.queueUpdate b

[2020-08-12 16:57] chrisdholt commented on #3688
@ben-girardet For the start problem you are seeing above, what version of Chrome are you running in (and is it the stable channel)? Upon booting this up in our test environment I'm not reproing with the above implementation. Is this in the `@microsoft/fast-components` package and if so - do you know what version?

![image](https://user-images.githubusercontent.com/13071055/90044112-04a4f480-dc82-1

[2020-08-12 17:17] chrisdholt commented on #3688
Appears as though this repro's in the Fluent UI package, likely because we hadn't don the work to fix the 100% width scenario there yet. A PR should be up today to fix it there as well, and the fix should release overnight 👍

[2020-08-12 20:09] ben-girardet commented on #3685
Thanks @marjonlynch for having a look at this. What's the best way to try a specific PR in a project ? I'm planning to copy paste the component in my app `src` project for an import from there. If there is another simpler way I would be interested ?

Will give you a feedback in a moment...

[2020-08-12 20:10] ben-girardet commented on #3688
Tested on Chrome 84.0.4147.125 and with fast-components@1.7.0

[2020-08-12 20:13] chrisdholt commented on #3688
Awesome, thanks @ben-girardet! I'm fairly sure that this should be fixed in our next release (This Thursday). I was able to repro this in the Fluent repo which didn't have the fix of #3623. As you can see from the above, I *think* this should be solved for you as the control currently checked-in shows as above, which seems to be what's expected.

[2020-08-12 20:16] ben-girardet commented on #3688
Ok thanks!! Then we can close this issue - I'll come back here after release in case it needs more attention...

[2020-08-12 20:16] #3688 closed

[2020-08-12 20:29] ben-girardet commented on #3685
@marjonlynch as far as I could test with the copy/paste => yes it fixes the issue ! Thanks :-)

[2020-08-12 21:50] #3685 closed

[2020-08-12 22:03] awentzel commented on #3695
This is caused from Express Helmet middleware by default securing Consent Security Policy in such a way that blocks certain types of images/assets/xml/etc.  It's fixed in most sites, but, there is a bug currently on https://fast.design where I'm unable to clear cache on our load balancer so can't get the file to flush.  However, the release tomorrow should generate new static files to be cached an

[2020-08-12 22:06] awentzel commented on #3695
Upon confirmation post-deploy, this will be closed.

[2020-08-12 23:57] #3561 closed

[2020-08-13 00:49] awentzel opened #3706 "Improve performance by avoiding CSS applied via @import"
## Problem
The following external stylesheets were included in https://use.typekit.net/spx2dgm.css using @import.  This is both a UX issue depending on what's in the style sheets as well as a performance issue caused by additional latency which could be avoided.

- https://p.typekit.net/p.css?s=1&k=spx2dgm&ht=tk&f=14032.14034.14036.14038&a=47677730&app=typekit&e=css

## Reason
CSS @import allows s

[2020-08-13 01:10] chrisdholt commented on #3706
This is primarily an issue of needing a licensed font which has to (currently) be delivered via a specific CDN. @Falkicon for awareness on this. I think the perf optimization is the primary concern here; I'm less concerned with loading an external stylesheet as it pertains to fonts and more concerned with not having the import stantement blocking render.

@awentzel as an FYI, using the `@` decorat

[2020-08-13 01:29] awentzel commented on #3706
My recommendation is to get our own license from another vendor and host it on our CDN where we control all end-to-end.  This protects us against outages which could result in cloud license issues or payment problems, removes their tracking logic, decrease network latency, reduce the file size since these are not compressed, and compress with Brotli (the best).  I'd wouldn't implement without runn

[2020-08-13 03:04] #3646 closed

[2020-08-13 05:09] bw-space commented on #3668
Can I work on this issue?

[2020-08-13 05:13] EisenbergEffect commented on #3668
I'd be happy to have your contribution on this @bw-space

This is a tricky one because the documentation is built with Docusaurs at prensent, and it is Docusaurus that provides the theme switcher. So, we would need to find a way to tie into that and have the change in documentation theme affect the design system provider that is present on the page.

[2020-08-13 05:27] bw-space commented on #3668
Thanks, I am looking into it, and will update you as soon as I find a way.

[2020-08-13 06:55] tbetous opened #3711 "Create a better experience in general for development"
**What feature are you requesting?**

It would be nice to have a command that allow to trigger a build when a developper do some modifications in the fast-fundation project.

**What would be the benefit of adding this feature?**

This would be particularly convenient in the case where a storybook is launch in parallel and a developper want to see it's dev on it.

**What solution would be ideal for

[2020-08-13 14:23] awentzel commented on #2315
I gave it a run. Two issues remain. If you have
![Screen Shot 2020-08-13 at 7 22 36 AM](https://user-images.githubusercontent.com/16669785/90146349-cbc65780-dd35-11ea-807e-fa6cf10f7f33.png)

if you have the "Accessibility insights for web", then this link may also work  extension://ghbhpcookfemncgoinjblecnilppimih/DetailsView/detailsView.html?tabId=589

[2020-08-13 14:53] awentzel commented on #3663
@EisenbergEffect recommend closing this.  We could squeeze out 1-3% additional reduction, but it comes down to a matter of bytes.  I almost wonder since these files are so slow if it may be better to pull them all from CDN rather than webpack them into our main js file.  We get concurrent loading and reduce js file size have all this embedded as text. Maybe worth a test.

![Screen Shot 2020-08-13

[2020-08-13 15:07] awentzel commented on #3695
The cache appears to have flushed on AFD and Favicons are now loading as expected again.

[2020-08-13 15:07] #3695 closed

[2020-08-13 15:36] awentzel commented on #3675
Perform a new scan post-release on [Webscout](https://webscout/#/scan-configs/143021)

[2020-08-13 15:58] awentzel opened #3712 "Release Plan - 06"
## Release Process (abridged)
* Issue discovery, collection, and triaging
* Delegation and analysis as necessary to area owners/s 
* On Point Release Collaborator to work towards go/no-go with area owners
* No go, come up with a plan, and execute, file triaged issues for follow up resolution

## Release Packages & Sites
- [ ] Publish components
- [ ] https://stage.www.fast.design
- [ ] https://sta

[2020-08-13 16:44] awentzel commented on #3584
It appears `*.unpkg.com` is whitelisted, but, verifying and looking to consolidate to use only badge.fury or img.shield.io, however, image shields have been denied so we would have to take application measures to protect it in our own code.

[2020-08-13 17:39] #3647 closed

[2020-08-13 17:39] #3669 closed

[2020-08-13 18:32] marjonlynch commented on #3685
Sweet! Glad to help

[2020-08-13 18:37] chrisdholt commented on #3675
@awentzel if this is dependent on the release, should it be listed as part of the release right now?

[2020-08-13 19:38] #3665 closed

[2020-08-13 20:09] scomea commented on #3299
Also, the logo on the top left corner of component explorer doesn't do anything.  It should go to the Fast home page (https://explore.fast.design/)

[2020-08-13 20:42] #3692 closed

[2020-08-13 21:07] EisenbergEffect commented on #3692
Thanks @tbetous !

[2020-08-13 21:09] awentzel commented on #3706
@chrisdholt to investigate font usage, if there is a compressed version of the fonts that could be referenced and if there is a way to implement without `@import`, and what the cost would be to purchase outright for our ownership on the web.

[2020-08-13 21:33] #3579 closed

[2020-08-14 01:20] EisenbergEffect opened #3722 "bug: switch fast frame menu demo to use fast-divider"
The home page FAST Frame demo menu is using an `hr` instead of a `fast-divider` which causes some visual inconsistency with respect to spacing. We should switch this to use a `fast-divider`.

[2020-08-14 01:21] #3712 closed

[2020-08-14 01:37] EisenbergEffect opened #3723 "docs: typo "high contract" in documentation introduction"
In the documentation's introduction page, the text "high contract" should actually be "high contrast".

[2020-08-14 15:19] JazibJafri commented on #3723
@EisenbergEffect I'll take this.

[2020-08-14 21:02] #3723 closed

[2020-08-14 22:29] radium-v opened #3727 "Add 404 error page to Express service for websites"
**What feature are you requesting?**
The `fast.design` website and all subdomains currently have no route for a 404 error page.

**What would be the benefit of adding this feature?**
A 404 route in the Express configuration would prevent any missing route (ex. `https://fast.design/this-does-not-exist`) from resolving with a 200 OK status.

**What solution would be ideal for you?**
A new design sho

[2020-08-14 22:31] chrisdholt commented on #3727
Let's call this "Planned", though I think we need to start with a design 👍 . Thanks @radium-v!

[2020-08-15 06:36] ben-girardet commented on #3670
Oh wouaw just ran into this bug with an Aurelia application and `if.bind` usage. Exemple:

[code]

![fast-toggle-button](https://user-images.githubusercontent.com/4275071/90306928-40ce9400-ded2-11ea-9195-64d8e16acdb3.gif)

Is there any current workaround ?

[2020-08-16 00:05] EisenbergEffect commented on #3670
No workarounds yet, but was hoping to work on a fix in the coming week. Can you confirm that it does function correctly on FireFox, just so we know it is the Chromium issue and not something else?

[2020-08-16 06:34] ben-girardet commented on #3670
I didn't try with Firefox but I did try with Safari and had no issue. I'm highly confident that it's the Chromium issue.

[2020-08-16 12:08] rimildeyjsr commented on #3722
@EisenbergEffect - can I work on this?

[2020-08-16 17:18] chrisdholt commented on #3722
Hey @rimildeyjsr - I believe we merged a fox for this Friday, this should show as closed.

[2020-08-16 17:19] chrisdholt commented on #3722
Closed by #3726

[2020-08-16 17:19] #3722 closed

[2020-08-16 18:14] rimildeyjsr commented on #3722
Cool, no issue! :)

[2020-08-17 01:17] EisenbergEffect commented on #3670
That sounds like the issue then. Thanks for confirming.

@ben-girardet Any chance you can attach the repro you used to validate this? That would be handy in testing the solution I have in mind.

[2020-08-17 06:09] ben-girardet commented on #3670
Sure @EisenbergEffect here is a small repro: https://github.com/ben-girardet/fast-chromium-bug-repro

You'll see that I added routes pointing to modules with different `<fast-design-system-provider>`. This was an attempt to repro another (quite similar) bug I had with design systems where they would display correctly the first time but not if I routed away and back. Unfortunately I couldn't repro

[2020-08-17 11:06] hardikpthv opened #3731 "Add collapsible component"
**What feature are you requesting?**
collapsible component

**What would be the benefit of adding this feature?**
This could be used to show or hide extra information on button click. It's similar to accordion but independent of the header where the header is button itself an invoker.

**What solution would be ideal for you?**
I can create this component and submit the MR,

**What alternatives hav

[2020-08-17 11:43] tbetous commented on #3711
I investigated that issue. In my case I'm not sure it is actually needed. When I do `yarn add link:packages/fast-foundation`  in `fast-components` package  and `yarn dev` in `fast-foundation` package, each time I do something in `fast-foundation` while story book is started, `fast-foundation` is rolled up directly in `fast-components` package, so I can see my modifications.

Not sure to understand

[2020-08-17 14:10] EisenbergEffect commented on #3670
Thanks!

[2020-08-17 21:09] bheston opened #3732 "Add support for text in slots to Explorer"
**What feature are you requesting?**

Currently in Explorer it's possible to add "Text" elements as the content of a slot, say for a fast-button, however it isn't marked to appear in the correct slot.

**What would be the benefit of adding this feature?**

It makes the tool look like it's broken. We should wrap it in whatever is necessary to make it appear in the correct slot.

**What solution wou

[2020-08-17 22:20] bheston opened #3734 "Add "accent stealth" appearance and color recipe"
**What feature are you requesting?**

The current "stealth" appearance is neutral color only. Add the necessary color recipe for accent-fill-stealth and a shared appearance / style set for accent-stealth that mimics the neutral stealth behavior.

**What would be the benefit of adding this feature?**

This is a common treatment for buttons that are not primary actions but that are intended to be di

[2020-08-17 22:22] chrisdholt commented on #3734
@bheston will this be for the FAST Frame design system or is this intended to support Fluent? If Fluent, we'll want to add this to the Fluent UI repo and close this instance.

[2020-08-17 23:37] bheston commented on #3734
Yep, closing and moving.

[2020-08-17 23:37] #3734 closed

[2020-08-18 15:33] EisenbergEffect opened #3738 "doc(design): re-work the design system documentation"
At present, our documentation related to design systems is fairly adhoc. Over the last few weeks we've seen more and more community members coming to FAST who have had trouble figuring out how to accomplish design-system-related tasks. We should lift the "Design" docs out from under "Components" into a top level section in our ToC. Tentative name: "Working with Design Systems". We should plan out

[2020-08-18 18:47] ben-girardet commented on #3738
I totally agree that better doc around design system would be highly beneficial. In my experience trying to use FAST and tweak it, that's definitely where I struggled the most. Thanks for looking into this.

I also thing that the 3 scenarios suggested above are very helpful 👍

Below are a few feedbacks, linked to my short experience with FAST so far:

In the effort for improving design system doc

[2020-08-18 19:21] CuddleBunny opened #3741 "bug: input proxy causes empy label to display"
**Describe the bug; what happened?**

When a proxy input is needed it is created in the slot. This prevents the `label__hidden` class from being added.

Edge:
[code]

Firefox:
[code]

**What behavior did you expect?**

Label should be hidden in all browsers.

**In what environment did you see the issue?**

* Browser Mozilla FireFox
* Version 1.8.0

[2020-08-19 00:23] nicholasrice commented on #3738
Thanks for the feedback @ben-girardet! @litteredwitherrors and I took a stab at an outline for Design System documentation that I believe will address the questions you have / had as well as those highlighted by @EisenbergEffect. As always, feedback is welcomed and this can be expanded and shuffled as necessary to be more intuitive.

## Outline
### Overview
- What is the Design System?
    - Answe

[2020-08-19 15:18] litteredwitherrors commented on #3738
As @nicholasrice and I were working on this, it became apparent to me that referring to the properties and values available in the `DesignSystemProvider` as the _design system_ can be a bit confusing and somewhere misleading. Especially when we also use the term to describe FAST Frame Components.

While there is no standard as to what makes up a "Design System", the industry does reflect that a de

[2020-08-19 17:45] EisenbergEffect opened #3743 "docs(faq): explain why we have a button/anchor/divider component"
Some community members have looked at the component list and wondered "Why did they create a componet for anchor? Can you just use the built-in anchor?" We should answer this question in our FAQ.

[2020-08-19 17:55] EisenbergEffect commented on #3738
@litteredwitherrors Great feedback! We can start by adding entries for "Design System" and "Design Token" to our glossary document. We can also do a pass across our docs to use these terms consistently and deep link to the new glossary entries.

[2020-08-19 18:03] awentzel commented on #3679
Hi @brookdozer, I noticed this was assigned to you and curious how this is coming along?  Would be great to fix this so our profiles could reflect FAST to obtain further reach on the web. Thanks

[2020-08-19 18:49] litteredwitherrors commented on #3738
@EisenbergEffect Sounds good. I'll make an issue.

[2020-08-19 19:06] litteredwitherrors opened #3745 "docs(glossary): Add definitions for "Design System" and "Design Token" to Glossary"
**What feature are you requesting?**

Add clear definitions of what a "**Design System**" and "**Design Token**" to the FAST website's documentation glossary.

**What would be the benefit of adding this feature?**

These entries would help to bring clarity to each term to reduce confusion. Entries can be referenced throughout the rest of the documentation site.

**Is there any additional context f

[2020-08-19 19:07] #3743 closed

[2020-08-19 20:21] EisenbergEffect opened #3748 "[Proposal] Enable Binding in ElementStyles"
I had an idea for limited binding in css, so I wanted to share it and see what people thought.

## Example

With this feature in place, you could write the following:

[code]

This allows the same stylesheet to be shared across all instances of `MyElement` but the value of host padding will be dependent on the state of the individual element instance.

## Technical Approach

A naive approach would

[2020-08-19 21:35] chrisdholt opened #3750 "Add new component specification: Data Grid"
A new specification needs to be created for "Data Grid" as a foundational component. Data Grids are commonly requested controls and used in different variations across numerous design systems.

This issue should be closed with the introduction of the Data Grid specification, and a new issue should be opened to create the control once the spec is complete.

[2020-08-19 21:39] chrisdholt opened #3751 "Add new component specification: Select"
A new specification needs to be created for "Select" as a foundational component.

This issue should be closed with the introduction of the Select specification, and a new issue should be opened to create the control once the spec is complete.

[2020-08-19 21:41] chrisdholt opened #3752 "Add new component specification: Flyout"
A new specification needs to be created for "Flyout" as a foundational component.

This issue should be closed with the introduction of the Flyout specification, and a new issue should be opened to create the control once the spec is complete.

[2020-08-20 00:20] chrisdholt opened #3754 "Add support for nested menus to menu/menu item"
**Background:**
The initial spec for menu and menu items called out nested menus as a feature area, but also as a risk. Part of the decision to ship an initial menu without nesting was that a possible dependency (`anchored-region`) was in a very early stage and building on that API may have painted us into a corner. While we may not require anchored region, the fact that it's in a more mature stag

[2020-08-20 00:21] chrisdholt commented on #3754
Once this is added we'll want to create an issue to include this functionality in Fluent UI.

[2020-08-20 00:41] chrisdholt opened #3755 "Add new component specification: Skeleton"
A new specification needs to be created for "Skeleton" as a foundational component.

This issue should be closed with the introduction of the Skeleton specification, and a new issue should be opened to create the control once the spec is complete.

[2020-08-20 01:37] chrisdholt commented on #3731
Hey @hardikpthv thanks for this request. Do you see this control mapping to the [WAI-ARIA specifications "Disclosure" model](https://w3c.github.io/aria-practices/#disclosure)?

[2020-08-20 07:54] ben-girardet commented on #3748
When writing my first component I was surprised that we couldn't use `padding: ${x => x.padding};` inside CSS tags. In fact I tried it without thinking much, just because I did it for the template and wanted to see if this was possible also for CSS.

Therefore from a "coherence" perspective I think it's a great idea.

Another downside I see is the fact that when "inspecting" a component one would

[2020-08-20 17:11] nicholasrice commented on #3748
I really like this. I think it would clean up the adaptive color story significantly as well as provide a better mechanism to prevent abuse (and confusion when that abuse breaks component assumptions).

I wonder if this could also be used to make using the Design Tokens from the provider easier as well:

[code]

[2020-08-20 17:26] chrisdholt commented on #3748
I think this could be valuable and solve a few problems such as "badge" which currently looks for a custom map, but a primary concern is hashing of a custom variable here, when we use the pattern, etc. Several partners I'm currently working with have a regular need to flight a variety of changes and possibly the simplest way to do so is to change that variable in some global CSS fashion (styleshee

[2020-08-20 17:51] nicholasrice opened #3758 "It is impossible to see documentation for the fast-foundation DesignSystemProvider"
`@microsoft/fast-foundation` exports two entities; `designSystemProvider` and `DesignSystemProvider`. It appears that API extractor/documenter only creates *one* entry because these the name is identical when lower-cased.

https://fast.design/docs/api/fast-foundation.designsystemprovider

We should find a way to differentiate so documentation for both entities is accessible.

[2020-08-20 18:32] litteredwitherrors commented on #3614
I've looked into this a bit. Results so far:

Edge:
- FAST: ❌
- Bootstrap: ❌

Chrome:
- FAST: ❌
- Bootstrap: ❌

Brave:
- FAST: ❌
- Bootstrap: ❌

Safari:
- FAST: ✅
- Bootstrap: ✅

Firefox:
- FAST: ✅
- Bootstrap: ✅

Still trying to figure out why Save Password is not being triggered in Chromium based browsers. I might have to attempt with a different app.

References:
https://developers.google.com/w

[2020-08-20 18:34] chrisdholt commented on #3614
Thanks for the update @litteredwitherrors! @EisenbergEffect as FYI - looks like this is primarily an issue with Chromium based browsers...

[2020-08-20 18:53] NPadrutt commented on #3614
@litteredwitherrors bootstrap had the same issues in your tests you say? For me that seemed to work as expected in Chrome and Edge Chromium.

[2020-08-20 18:56] litteredwitherrors commented on #3614
@NPadrutt Yes, I noticed in your example Bootstrap did work. For one reason or another I have not been able to reproduce that in any Chromium browser.

[2020-08-20 19:02] NPadrutt commented on #3614
I see, interessting.

[2020-08-21 08:04] dcharbonnier opened #3761 "Fast-text-field does not correctly report elements validity (chrome)"
Fast-text-field does not correctly report elements validity on Chrome 84

Chrome : Version 84.0.4147.105 (Official Build) (64-bit)

Test :
[code]
[code]
I expect  `fastTextField.validity.valid === fastTextFieldInput.validity.valid` to be `true`

[2020-08-21 15:14] EisenbergEffect opened #3762 "bug(fast-element): attr and observable callbacks should be consistent"
An `@observable` declared on a base class will not invoke a change callback declared on a derived class. However, an `@attr` declared on a base class, will invoke a change callback on a derived class.`@observable` should be changed to match `@attr`.

A repro is available here: https://webcomponents.dev/edit/PyWkwrXiNiThUa9ODKG4

To see the behavior, change `theProperty` back and forth between an `

[2020-08-22 13:43] #90 closed, assigned to awentzel

[2020-08-24 06:41] dcharbonnier commented on #3761
@EisenbergEffect I don't think, #3483 is quite different.
I made more investigations, and this could be a Google Chrome bug, with FF this code is working (to be confirmed) and I couldn't find anything wrong on the way Fast is implementing this.

For now I'm fixing it doing `this.elementInternals?.setValidity(this.control.validity, this.control.validationMessage)`  on valueChanged. Not a long term

[2020-08-24 09:45] hardikpthv opened #3765 "Add new component specification: Pagination"
**What feature are you requesting?**
Pagination component

**What would be the benefit of adding this feature?**

**What solution would be ideal for you?**
I can create this component and submit the MR,

**What alternatives have you considered?**
None yet.

**Is there any additional context for your request?**

**Attach screenshots or images add detail to your request:**
To give an idea something

[2020-08-24 15:43] EisenbergEffect commented on #2255
Closing as duplicate of #3755

[2020-08-24 18:36] tbetous opened #3766 "Cursor should be pointer on switch component with firefox"
**Describe the bug; what happened?**

When my move is over switch component and it is not disabled, given that this element is clickable we shoud have a pointer cursor.

**What are the steps to reproduce the issue?**

Example:

![rtl-switch](https://user-images.githubusercontent.com/4435536/91083743-1657a600-e64b-11ea-8eee-382e91efd51b.gif)

1. Go to https://explore.fast.design/components/fast-swi

[2020-08-24 18:52] nicholasrice opened #3767 "The Switch component does not properly mirrior in RTL"
The *checked-indicator* does not mirror between LTR and RTL document directions; it always displays LTR.

In RTL, the indicator should be right-aligned when the Switch is unchecked and left-aligned when the Switch is checked.

**Current styling in RTL**
![](https://cdn.discordapp.com/attachments/449251231706251266/747526402076835870/rtl-switch.gif)

[2020-08-25 01:20] janechu commented on #3732
In order to do this we should:
- Ensure we cannot add text to any other slot than the default
- Create a configuration for the span (and other elements) so that when added there is some content

[2020-08-25 01:23] janechu opened #3771 "Map slot names as attributes when converting definitions to strings"
# Abstract

The `@microsoft/fast-tooling` export `mapDataDictionaryToMonacoEditorHTML` does not take into account slot names.

## Requirements

Slot names should be added as attributes by checking the `mapsToSlot` property.

Example JSON schema:
[code]

Example data dictionary:
[code]

Example resolved string:
[code]

[2020-08-25 02:43] janechu opened #3772 "Use VS Code Web Custom Data package for HTML definitions"
# Abstract

Currently the Component Definitions use the same structure as the [VS Code custom data format](https://github.com/microsoft/vscode-custom-data). In order to expand on this so include all standard HTML elements for the sites Component Explorer and Creator the definitions must be available

## Requirements

To keep up-to-date with the latest web standards a dependency should be taken on

[2020-08-25 05:36] janechu opened #3773 "Create a custom CSS control to replace a textarea"
# Abstract

Representations of CSS currently exist as strings. This is too unwieldy as the default control in the `@microsoft/fast-tooling-react` export `Form` will be a `<textarea>`. To overcome this a better UI that ultimately exports a string should be used. There are some similarities with inline CSS and CSS inside a `<style>` element, both of these should be explored.

A style element (intern

[2020-08-25 05:47] janechu opened #3774 "Create a shortcut utility spec"
# Abstract

A utility must be created to capture and respond to keyboard shortcuts that interact with the `MessageSystem`.

## Requirements
- Create a spec for a utility that will register itself with the `MessageSystem` and provide key capture events that can affect the `DataDictionary`, navigation and history.
- The spec should reside in the `@microsoft/fast-tooling` package in the `data-utiliti

[2020-08-25 05:55] janechu opened #3775 "Create a spec for a context menu that may register items from the shortcut utility"
# Abstract

The shortcut utility should have a way to register with a context menu so that some of the shortcut keys can be accessed that way.

## Requirements
- Write a spec in `@microsoft/fast-tooling` for a web component based context menu that registers with the `MessageSystem`
- When custom messages sent by the utility defined in #3774 are sent, add them as possible shown items in the context

[2020-08-25 17:25] #3762 closed

[2020-08-25 18:38] nicholasrice commented on #3745
I've added Design System to #3747. I *didn't* add Design Token because we don't actually use that term anywhere in code; we refer to Design Tokens as "design system properties".

I do think it could be good to align terminology toward the industry terms. We use #3361 as an opportunity to align to "Design Tokens" in code

[2020-08-25 18:54] bheston opened #3777 "Comments in html templates cause directives to not process"
**Describe the bug; what happened?**

If there is a comment within an html template, any directives after the comment do not render.

**What are the steps to reproduce the issue?**

Render this component:

[code]

![image](https://user-images.githubusercontent.com/47367562/91215575-8e64b100-e6c9-11ea-8c03-f254377e9cff.png)

**What behavior did you expect?**

The list to render a second time.

[2020-08-25 19:08] awentzel commented on #2315
I did a Fast Pass w/ Accessibility Insights (extension) to see how we're looking and found two new issues.  extension://ghbhpcookfemncgoinjblecnilppimih/DetailsView/detailsView.html?tabId=432

@chrisdholt will these be completed for Thursday or should we punt one release?

[2020-08-25 19:18] chrisdholt commented on #2315
I can’t see these with the link above, but @khamudom is working on the results of my pass on Sunday before I headed out of town. If it’s done for release, great - if not, I don’t see it as a blocker. Worst case, so long as nothing unpublished on npm is added after this release, we can always release as needed.

[2020-08-25 19:34] #3675 closed

[2020-08-25 19:50] EisenbergEffect commented on #3663
Can we look into putting the SVGs on CDN? Is this something we think we can get into Release 08 or is it going to take longer than that?

[2020-08-25 19:57] EisenbergEffect commented on #3591
@litteredwitherrors Would you mind creating some specific issues for items we haven't addressed or that we don't have issues to track related to documentation? After that, we should be able to close this issue and just track the individual items. Thanks!

[2020-08-25 19:58] awentzel commented on #3663
@chrisdholt @radium-v to scope and cost.  A few already exist on the CDN, but the background.svg and icons-*.svg I don't believe do.

[2020-08-25 20:16] awentzel commented on #3711
@tbetous I'm going to repurpose the title to provide documentation strategy for easily testing if that's ok.  Do you want to contribute documentation as you described in your last comment?

[2020-08-25 21:13] chrisdholt commented on #3711
@awentzel This issue wasn’t unrelated to testing, it was to add a command to help with inner loop development. It seems like this should be a separate issue; I don’t see how this relates to testing in fast foundation.

[2020-08-25 21:17] EisenbergEffect commented on #3711
We should probably look at creating a second issue for documentation improvements around the inner-loop workflow and then keep this open to see if we can actually create a better experience in general for development.

[2020-08-25 21:24] EisenbergEffect commented on #3777
Ok, tracked down the issue. Fix is easy (delete 2 unnecessary lines), testing is a bit more difficult. I should have a PR for Thursday's release.

[2020-08-26 13:50] EisenbergEffect opened #3783 "feat(fast-element): remove dependency on globalThis"
The polyfill for `trustedTypes` unnecessarily relies on `globalThis` being implemented. However, `globalThis` itself is not implemented in all browsers we want to support. The good news is that we can implement the `trustedTypes` polyfill without `globalThis` thus removing this platform dependency.

[2020-08-26 16:09] awentzel commented on #3659
I tried converting all schemas to use `https` and there was tooling issue that was not compatible.  I believe, if this is needed for schema's, @janechu has built the tool and perhaps can provide further context around if this is needed for schemas and what areas of the project are impacted.

[2020-08-26 16:18] #3783 closed

[2020-08-26 16:53] awentzel opened #3788 "Implement an Azure Security Dashboard"
Security Compliance is essential and it's import to report weekly on security score, the fundamental method of grading security risk.  This can be accomplished if following the guidance at https://techcommunity.microsoft.com/t5/azure-security-center/deliver-a-security-score-weekly-briefing/ba-p/1411515

[2020-08-26 16:57] #3644 closed

[2020-08-26 17:53] #3777 closed

[2020-08-26 18:08] #3766 closed

[2020-08-26 18:08] #3767 closed

[2020-08-26 18:48] robarbms commented on #3659
AJV currently does not support schemas using https.

https://github.com/ajv-validator/ajv/issues/1104

[2020-08-26 19:01] nicholasrice opened #3790 "Button has odd focus behavior when adding padding"
**Describe the bug; what happened?**

![](https://cdn.discordapp.com/attachments/482296787021856768/748249351125467217/unknown.png)

The above SS has padding applied to the `fast-button` host. This causes the focus rect to draw inside the box of the host because focus is *actually* on an internal button element. We should move the focus rect to the host element and use `:focus-within` to account f

[2020-08-26 19:05] chrisdholt commented on #3790
Let’s remember to include “fast-anchor” as part of this as the styles are shared.

[2020-08-26 19:07] CuddleBunny commented on #3790
@chrisdholt - The affected styles are shared so the fix will apply to both.

[2020-08-26 20:31] janechu commented on #3659
@robarbms yes, thanks for verifying, @awentzel this is why we cannot change that string.

[2020-08-26 21:24] awentzel commented on #3683
Possibly resolved by #3584, moving out one milestone to allow for post-release testing in Release 08.

[2020-08-26 21:28] awentzel commented on #3706
Pushing out one release on behalf of Chris given he's OOF at the moment.

[2020-08-26 21:30] awentzel commented on #2315
Pushing to next release

[2020-08-26 21:49] #3584 closed

[2020-08-26 23:09] janechu opened #3795 "Determine if JSON schemas should pin to a specific JSON schema draft"
# Abstract

The JSON schema we currently use as a reference is an unspecified version not pinned to a particular draft - http://json-schema.org/schema#.

This should be re-evaluated, partially because an issue has come up with security compliance scanning tools which identify http links which should be https and because pinning to a specific draft allows our validation to be more precise. This may

[2020-08-26 23:10] janechu commented on #3659
Closing this in favor of #3795

[2020-08-26 23:10] #3659 closed

[2020-08-26 23:12] #3738 closed

[2020-08-26 23:12] #3745 closed

[2020-08-27 00:40] bheston commented on #2260
To add a little clarity, since this was created with the React components and internal icon library in mind...

This affects scenarios using common mono-stroke or single-color icons. It's likely the intent is for the color of the icon to match the color of neighboring text. Since svg `paths` use `fill` not `color`, we need to either pair `fill` and `color` style attributes everywhere, or allow for

[2020-08-27 07:42] tbetous commented on #3711
Hi @awentzel, I would be glad to contribute to fast documentation!

I think @chrisdholt is right, "testing" is misleading and as @EisenbergEffect said, we sould :
- Rename this issue with "Create a better experience in general for development", it is very generic but it allows to trace ideas and thoughs about how to improve fast developpement process.
- Open a new issue "Documentation improvements

[2020-08-27 14:50] EisenbergEffect commented on #3711
@tbetous That sounds good to me. Let's go with it. Thanks for being willing to help out!

[2020-08-27 16:34] awentzel commented on #3495
@chrisdhold my thought and vision on the title is based on readability of the changelog, not the PR process.  One day we will have the ability to present a roadmap and changelog with filtering so it's beautifly easy to read and understand.  Title prefixes help with consumption of that information.

[2020-08-27 17:01] #3741 closed

[2020-08-27 17:07] marjonlynch opened #3796 "Indeterminate indicator is not centered"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

Example:

1. Run fast-components in storybook (yarn start)
2. Click on checkbox
3. zoom in around indeterminate section

<img width="646" alt="Screen Shot 2020-08-27 at 10 02 08 AM" src="https://user-images.githubusercontent.com/25805778/91472850-e5df5a00-e84c-11ea-817f-5a61df4cecd6.png">

Expect that to be cente

[2020-08-27 17:26] bheston commented on #3262
@chrisdholt we support keyboard navigation, so it should pass accessibility. A top goal is to keep hit targets as large as possible, and though the caret is smaller with this change, it's still as large as checkbox and radio.

[2020-08-27 19:05] marjonlynch opened #3798 "Glyph to see password in text-field is not respecting dark mode in explorer"
When looking at text-field component in password mode in fast-component-explorer

**What are the steps to reproduce the issue?**

Example:

1. Go to text-field in fast-component-explorer
2. change the text-field into password mode/type
3. change to dark mode
4. start typing in the text field

observe the little eye glyph to the left side of the text-field.
<img width="330" alt="Screen Shot 2020-08

[2020-08-27 19:38] eljefe223 opened #3800 "Expansion glyph in tree view does not mirror in RTL"
**Describe the bug; what happened?**
![image](https://user-images.githubusercontent.com/37851214/91487040-0960cf80-e862-11ea-9dde-e0f681837a99.png)

Glyph should mirror.

**What are the steps to reproduce the issue?**

1. Go to https://stage.explore.fast.design/components/fast-tree-view
2. Click on RTL toggle
3. Observe expansion glyph

[2020-08-27 19:45] eljefe223 opened #3801 "Can only keyboard focus on tree view once"
**Describe the bug; what happened?**
When focusing on `fast-tree-view` you can only focus once, once you focus off you can't refocus the item.

**What are the steps to reproduce the issue?**

1. Go to https://stage.explore.fast.design/components/fast-tree-view
2. Keyboard focus onto tree view
3. focus off
4. try and keyboard focus back onto tree view

[2020-08-27 19:48] marjonlynch opened #3802 "Checking autofocus for fast-button in explorer does not set the attribute in html properly"
When you check the attribute for autofocus in the fast-component-explorer autofocus is not inserted in the displayed html, but unchecking it does insert it. Autofocus never seems to happen.

** probably only related to sync issue with component explorer sync issue **

1. Go to fast-button in the fast-component-explorer
2. Click on the autofocus checkbox on the right panel
3. observe that autofocus

[2020-08-27 19:57] scomea opened #3803 "Slider animation pauses and restarts when arrow key held down"
The slider animation pauses and restarts when arrow key is held down which seems odd.  A continuous animation would likely be better.

Example:

Go to a page with a FAST slider with multiple steps (ie. the development slider samples).
Focus on the thumb.
Press and hold an arrow key
Note that slider thumb animates, pauses, then animates to the end.

**What behavior did you expect?**
A continuous an

[2020-08-27 20:00] marjonlynch commented on #3802
This is related to a sync issue with component explorer

[2020-08-27 20:09] eljefe223 opened #3804 "Keyboard navigation in rtl on tabs is broken"
**Describe the bug; what happened?**
Keyboard navigation in rtl on tabs is broken, arrow keys are flipped

**What are the steps to reproduce the issue?**

Example:

1. Go to https://stage.explore.fast.design/components/fast-tabs
2. Switch to rtl
3. Focus on tabs
4. use keyboard arrows

[2020-08-27 20:12] nicholasrice commented on #3758
Fixed by #3747

[2020-08-27 20:12] #3758 closed

[2020-08-27 20:15] marjonlynch opened #3805 "Switching flipper and changing the direction attribute issues warning invalid data should be boolean"
Bring up the flipper control in fast-component-explorer and change the direction attribute to previous and you will get a warning saying invalid data and another tooltip warning that it should be boolean

**What are the steps to reproduce the issue?**

Example:

1. Go to flipper component in fast-component-explorer
2. change the direction attribute to previous
3. notice the invalid data warning

<

[2020-08-27 20:29] marjonlynch opened #3806 "Can't delete first digit in attribute text field in fast-component-explorer"
When entering numbers in an attribute text entry field I can delete all of the numbers except the first one, reset/undo button works fine but I expect that I could delete the last number and the text-field/attribute resets

Example:

1. Go to fast-component-explorer
2. select progress component
3. enter some numbers in the min attribute text field in the right panel
4. try to delete all the number

[2020-08-27 20:58] marjonlynch commented on #3804
the same issue exists on radio-group

[2020-08-27 21:03] litteredwitherrors opened #3810 "Start and end content misalignment in tab component"
**Describe the bug; what happened?**

The start and end content for the `fast-tabs` component seem to be horizontally misaligned with the tab content.

**What are the steps to reproduce the issue?**

1. Go to FAST component Explorer site
2. Under `<fast-tabs>`
3. Select "With start and end" value from the select box in the top component control panel
4. See alignment bug

**What behavior did you e

[2020-08-27 23:13] bheston commented on #3262
Also noticed the button is aria hidden anyway.

[2020-08-28 00:15] scomea opened #3812 "Component stories should use semantically correct headers"
Many of the demo "stories" for fast-components use headers in a non-semantic way in that they progress directly from an "h1" tag to an "h4" tag.  Progression should follow the appropriate steps ie. h1 -> h2 -> h3.

Example:
https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/accordion/fixtures/base.html

**What behavior did you expect?**
Linear progression of

[2020-08-28 03:13] scomea opened #3813 "Fast needs a mechanism for z-order management"
A number of FAST components like tooltip need a mechanism to manage the css z-index attribute.   We should define how we want to do this.

[2020-08-28 04:16] #3802 closed

[2020-08-28 06:26] janechu opened #3815 "Create a history spec for the message system"
# Abstract

The message system in FAST tooling does not currently store any history therefore making it impossible to have undo/redo actions. This should be stored to allow for such actions.

## Requirements

Write a spec for history storage, include such elements as how undo/redo should function within the message system.

[2020-08-28 15:16] awentzel opened #3816 "Tabbed text content when using lists does not align to the text"
**Describe the bug; what happened?**
On https://www.fast.design/docs/components/tabs if you look at the live editor results for tabs you'll see the following screen shot.

* OS & Device: [e.g. **MacOS**, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft **Edge**, Google Chrome, Apple Safari, Mozilla FireFox]
![Screen Shot 2020-08-28 at 8 05 44 AM](https://user-images.githubuserconte

[2020-08-28 15:21] awentzel opened #3817 "Include Azure maintenance scripts as part of source code"
Many scripts exist to perform maintenance across Azure infrastructure which leverage Bash and Azure CLI for simplicity.  These scripts are used, for example to deploy updates to all tool sites.

Wish list
1. Document services in use, best practices, risk, and include high level description of each service.
2. Consistently apply all aspects
3. Review for accuracy

[2020-08-28 15:28] marjonlynch opened #3818 "Slider thumb is mis-aligned in vertical orientation and RTL"
When slider is in vertical orientation and RTL is on, the thumb is off center from the track

**What are the steps to reproduce the issue?**

Example:

1. Go to fast-component-explorer
2. Click on slider
3. Toggle RTL on
4. Switch slider into vertical orientation

Thumb should be centered, probably need to use the direction behavior for the offset positioning of thumb

<img width="576" alt="Screen

[2020-08-28 16:00] awentzel opened #3819 "add redirection for www"
Redirect all traffic from https://fast.design to https://www.fast.design

[2020-08-28 18:03] tgoze opened #3820 "Observables not binding to custom FAST Element properties when undefined [fast-element]"
Observables are not bound to custom element properties when initially undefined.

When defining an `observable` in an object or FAST Element and binding it to another FAST Element's property using the colon syntax, the other FAST Element will only receive updates from the observable if the observable is initialized with a value. If initially set to `undefined` the other element will not receive ob

[2020-08-28 22:14] #3262 closed

[2020-08-28 23:13] janechu opened #3822 "Create a data spec for the message system"
# Abstract

The data and data dictionary, though defined, are missing as specs. To ensure full documentation of how these items are structured and intended to work within the message system, they should be added to a spec.

## Requirements

Add specification for data and data dictionaries as part of the message system.

[2020-08-28 23:14] janechu opened #3823 "Create a navigation spec for the message system"
# Abstract

The navigation and navigation configurations, though defined, are missing as specs. To ensure full documentation of how these items are structured and intended to work within the message system, they should be added to a spec.

## Requirements

Add specification for navigation and navigation configs as part of the message system.

[2020-08-29 12:24] QuantumlyTangled commented on #1677
The [link](https://codeclimate.com/github/Microsoft/fast-dna/packages/fast-colors/src/palette-extractor.ts#issue_5cb78212833d5e000100047a) does not work anymore. Is there a working version?

[2020-08-31 15:37] gqio opened #3825 "PeerDependency of Lodash is missing in the foundations"
Lodash is declared as peer dependency inside components package.
But it's used inside foundations and the declaration of the dependency is missing.

it's imported from here https://github.com/microsoft/fast/blob/0530a4230946d2aee39861001f3deea3b8816038/packages/web-components/fast-foundation/src/menu/menu.ts#L2

but not present in the package.json
https://github.com/microsoft/fast/blob/0530a423094

[2020-08-31 17:28] EisenbergEffect opened #3826 "Add Site 404 Page"
We need a real 404 page for the site. Instead of redirecting on 404s we should display the 404 page.

[2020-08-31 17:43] SethDonohue opened #3827 "font-family does not inherit correctly in button component"
**Describe the bug; what happened?**
The button component does not inherit the correct font-family styles

**What are the steps to reproduce the issue?**

Example:

1. Go to https://explore.fast.design/components/fast-button
2. Inspect the font-family of the `button` element in the shadow DOM and it states *Arial*, and inspect the font-family of the `<fast-button>` element and the styles state *Se

[2020-08-31 18:56] nicholasrice commented on #3479
My understanding from the resources linked above is that the platform is actually lacking the APIs to properly support a custom slider component.

The only known work-around (referenced in the issues above) is to render a visually hidden `<input type="range">` that controls the control's value and correctly interprets touch + AT interactions.

[2020-08-31 19:55] chrisdholt commented on #3731
@hardikpthv Thanks for following up - I think the first action here would be to create a [new spec](https://github.com/microsoft/fast/tree/master/specs#specs) prior to starting on the work. That will help walk through some of what you've already articulated here. We do have a standard template you can use as well, which can be found [here](https://github.com/microsoft/fast/blob/master/specs/templa

[2020-08-31 19:57] patrickhlauke commented on #3479
@nicholasrice correct, at this point in time

[2020-08-31 20:20] #3827 closed

[2020-08-31 22:54] chrisdholt commented on #3826
Pinged design to get something rolling here. Marking this as "blocked" until we have that in hand simply for tracking purposes.

[2020-08-31 23:39] #3796 closed

[2020-08-31 23:54] chrisdholt commented on #2477
@bheston From an interaction model standpoint, it seems like this is covered by radio/radiogroup. From the date, my assumption is that this was requested for the MSFT package. If that's still desired, this may be best created as a new request in the Fluent UI repo: https://github.com/microsoft/fluentui/issues/

As it stands now, it seems like you could accommodate this with the existing radio/radi

[2020-09-01 00:14] chrisdholt commented on #3816
I think this is ultimately just an instance where the example doesn't work out of the box. From a component level, we shouldn't care or be prescriptive about the content within tabs. I think we can improve or update the example here, but there's no component issue here from my perspective - unless we want to make lightweight anchors/buttons the height of the text rather than the hard coded 40px. I

[2020-09-01 00:14] chrisdholt commented on #3816
Updating the tag here to show "improvement". We need a better example or to include some docs-specific CSS - but there's not an issue with the actual component here.

[2020-09-01 00:19] nicholasrice opened #3833 "Adaptive Color System Refactor"
# FAST Color Refactor
The issue outlines proposed changes to how the color system works in FAST.

The primary changes are to the data types used by color algorithms, but there are also some necessary changes to the DesignSystemProvider to make the recipe implementations more efficient.

## Goals
- Improve performance by minimizing color parsing and stringifying
- Open the system up to use *any* co

[2020-09-01 00:44] #3800 closed

[2020-09-01 01:05] #3818 closed

[2020-09-01 15:07] hardikpthv commented on #3731
Thanks, @chrisdholt. I will go through the template and create the spec for the same.

W3C: https://www.w3.org/TR/wai-aria-practices-1.2/#disclosure
It looks like it can be named the `disclosure` component then.

[2020-09-01 17:23] #3810 closed

[2020-09-01 19:46] chrisdholt commented on #2240
Closing as this is stale and in favor of #3731 as a long-term solution for the same pattern - "disclosure".

[2020-09-01 19:46] #2240 closed

[2020-09-01 21:36] SethDonohue commented on #3804
@marjonlynch Sounds like this should be a separate issue? Looks like radio-group is  more complicated with the `shouldMoveoffGroup` funtionality, etc

[2020-09-02 14:47] EisenbergEffect commented on #3670
@ben-girardet I'll be sending a PR for fast's template compiler shortly. However, this is a bug in Aurelia as well. I've alerted @fkleuver to the issue. So, this is something that you'll need to wait on the Aurelia fix for. Note to Fred: This isn't fast-specific. Anything that is using adoptedStyleSheets (web component or not) will break with Aurelia until this is fixed. It's a one line fix in the

[2020-09-02 16:41] SethDonohue opened #3839 "Keyboard navigation in RTL on Radio Group is broken"
**Describe the bug; what happened?**
Keyboard navigation in rtl on Radio Group is broken, arrow keys are flipped

related to #3804

**What are the steps to reproduce the issue?**

Example:

Go to https://stage.explore.fast.design/components/fast-radio-group
Switch to RTL
Add a 3rd radio item to a slot
Focus on Radio Group
Use keyboard arrows

[2020-09-02 17:28] dcharbonnier opened #3842 "FastDesignSystemProvider density type is `0` should be number"
see PR #3841

[2020-09-02 18:04] ben-girardet commented on #3670
Thanks for this !

[2020-09-02 18:48] #2260 closed

[2020-09-02 20:08] #3670 closed

[2020-09-02 23:18] awentzel opened #3844 "Fix vulnerability with Untrusted Resource Source when using unpkg"
The URL 'https://unpkg.com/@@microsoft/fast-components' is referenced from a link/script tags to a site that is not in a whitelist, and subresource integrity is not used.  This is a security vulnerability that exists in two different files.

All sites must be hosted on Microsoft servers.

It's my recommendation, that we do not use @microsoft/fast-components from a third-party CDN for any FAST site

[2020-09-02 23:25] awentzel opened #3845 "Fix untrusted resource source for https://use.typekit.net/spx2dgm.css"
The URL 'https://use.typekit.net/spx2dgm.css' is referenced from a link/script tags to a site that is not in a whitelist, and subresource integrity is not used. This is a security vulnerability that exists in 51 different pages.

All resources must be hosted on Microsoft servers

This recommendation will comply with security guidance.

Ref: https://webscout/#/scans/771985/issues?issueId=3812983 [I

[2020-09-03 19:16] #3804 closed

[2020-09-03 22:45] garuizs opened #3848 "Having two nested repeats, let internal repeat access the parent of the external repeat."
**What feature are you requesting?**
In web components templates, when having two nested repeats (each iterating over an array and referring a given template), the template used by the internal repeat is not able to use the parent of the external repeat from the execution context.

**What solution would be ideal for you?**
That the template used in the internal repeat can use the external parent's

[2020-09-04 01:12] #3815 closed

[2020-09-04 01:18] khamudom commented on #3798
This is a platform issue. Until we are able to change the color, this bug is currently blocked.
I created an issue for the platform team.
29031796

[2020-09-04 18:17] #3774 closed

[2020-09-05 05:16] MarcSkovMadsen opened #3850 "Please bring the Fast Components to the world of Data and Python."
I'm a data science developer and data Ninja :).

Me, my friends and my colleagues are fellow data scientists, data engineers, devops, scientists, analysts, traders, engineers etc.

We use Python for our work and would like to be able to quickly community and or distribute our models as analytics apps.

We would like those apps to be awesome. Fast is awesome.

So we would like to be able to use Fas

[2020-09-05 05:19] MarcSkovMadsen commented on #3850
I just added this post this Feature Request to communicate that I have started the implementation and that if anybody is interested in contributing or using the components with Panel it's possible. Just reach out.

![fast-button](https://user-images.githubusercontent.com/42288570/92298347-25423080-ef48-11ea-86e4-8f3eb4edce61.gif)

And feel to share https://twitter.com/MarcSkovMadsen/status/1302111

[2020-09-05 05:31] MarcSkovMadsen commented on #3850
If you wan't to see what it takes to do you can found the

Panel implementations here https://github.com/MarcSkovMadsen/awesome-panel-extensions/tree/master/awesome_panel_extensions/frameworks/fast

The Panel implementation uses a Bokeh Implementation which can be found here https://github.com/MarcSkovMadsen/awesome-panel-extensions/tree/master/awesome_panel_extensions/bokeh_extensions/fast

[2020-09-05 07:15] MarcSkovMadsen commented on #3850
If you wan't to check it out in a Jupyter Notebook you can via Binder.

<p><a class="reference external" href="https://mybinder.org/v2/gh/MarcSkovMadsen/awesome-panel-extensions/master?filepath=examples%2Freference%2Fframeworks%2Ffast%2FFastButton.ipynb"><img src="https://mybinder.org/badge_logo.svg" style="height:25px;display:inline;margin:5px"></a> <a class="reference external" href="https://nbv

[2020-09-05 13:07] beingminimal opened #3851 "Add firstUpdated function to fast-element's lifecycle"
**What feature are you requesting?**
I am trying to set up website navigation with FAST-element and for that, I have tried to setup vaadin-router with FAST-element.
I went through documentation of FAST-element. FAST-element lifecycle doesn't have the functionality to execute logic only on first connect when the element got inserted into DOM.
And thus I tried to bind vaadin-router with connectedCal

[2020-09-06 17:12] MarcSkovMadsen opened #3852 "Does text-field work as it should/ as documented?"
I am trying to wrap the Fast components in Python/ Panel.

Currently I am working on the `text-field`.

I have the following feedback.

#### Some attributes do not work in Fast Component Explorer

When trying to explorer the components in the Fast Component Explorer I cannot get anything to happen for the following attributes/ properties.

maxlength
minlength
pattern
size
spellcheck
required

![im

[2020-09-06 17:18] MarcSkovMadsen opened #3853 "Please take your own medicine :-)"
As there is not a lot of documentation, examples, blogs etc. the best place to go to understand Fast would be to "inspect" the fast.design site.

But unfortunately you don't always use you own framework or components. For example in the Fast Component Explorer. Some would also see this as a sign that the framework cannot really be used yet which I don't think is true.

For example https://explore.

[2020-09-06 19:47] MarcSkovMadsen commented on #3850
I've implemented a FastCheckbox

![fast-checkbox](https://user-images.githubusercontent.com/42288570/92334042-84a85980-f08a-11ea-8810-d4dbe17cf785.gif)

[2020-09-06 19:47] MarcSkovMadsen commented on #3850
I've implemented the `fast-text-field`. It's called FastTextinput.

![fast-text-input](https://user-images.githubusercontent.com/42288570/92334051-97bb2980-f08a-11ea-81d1-d90089890b5d.gif)

[2020-09-07 01:01] chrisdholt opened #3854 "Update Component Explorer to use Web Components"
This issue is a placeholder to update the Component Explorer to use web components.

Creating this in place of #3853 for tracking.

[2020-09-07 01:01] chrisdholt commented on #3853
Hey @MarcSkovMadsen, thanks for the issue :).

The FAST explorer is built on an older version of FAST. We certainly are planning on doing the work to update to the latest web component version rather than the React version. Ultimately, we had to choose between continuing to churn behind the scenes to make everything perfect and in the case of the explorer - rebuild it on Web Components - or get FA

[2020-09-07 01:01] #3853 closed

[2020-09-07 02:21] MarcSkovMadsen commented on #3853
Thanks. Good comments.

[2020-09-07 06:51] MarcSkovMadsen commented on #3850
#### FastAnchor Added

Use it via `from awesome_panel_extensions.frameworks.fast import FastAnchor`

Or checkout the reference guide

[<img src="https://mybinder.org/badge_logo.svg" style="height:25px;display:inline;margin:5px">](https://mybinder.org/v2/gh/MarcSkovMadsen/awesome-panel-extensions/master?filepath=examples%2Freference%2Fframeworks%2Ffast%2FFastAnchor.ipynb)

![fast-anchor](https://us

[2020-09-07 11:01] beingminimal commented on #3851
Closing this issue as I found the solution.
I have added path:'/' initially and thus cyclic dependency with my-element generated and routing was causing recursive loop.
By placing path '/' at last, I am able to implement routes with vaadin-router library inside connectedCallback function.

Thank you!

[2020-09-07 11:01] #3851 closed

[2020-09-07 16:17] jpfifer opened #3855 "Using multiple `when` directives breaks observation/attribute updating in FAST Element templates"
**Describe the bug; what happened?**
When using multiple `when` directives in a template switching between them will break the observation/updating of child components.

As a workaround it appears using template composition does produce the desired affect. An example of composition is present in the repro below as `composition-story`

**What are the steps to reproduce the issue?**

See https://web

[2020-09-08 04:05] MarcSkovMadsen commented on #3751
Listening in. I need this component for a specific application I am working on.

[2020-09-08 04:14] MarcSkovMadsen opened #3856 "Please add a fast-range-slider for data applications"
I'm working on bringing Fast to the world of Data, Python and [Panel](https://panel.holoviz.org). See [Issue 3850](https://github.com/microsoft/fast/issues/3850).

Very often in Data you would like to filter on a range of integers, floats or dates. In Panel that is supported via the

[IntrangeSlider](https://panel.holoviz.org/reference/widgets/IntRangeSlider.html#widgets-gallery-intrangeslider)
[R

[2020-09-08 04:33] MarcSkovMadsen opened #3857 "Please add a fast-number-field component for data applications"
I'm working on bringing Fast to the world of Data, Python and [Panel](https://panel.holoviz.org). See [Issue 3850](https://github.com/microsoft/fast/issues/3850).

Very often in Data you would like the user to type some numbers (integers or floats). For that Panel provides the [Spinner](https://panel.holoviz.org/reference/widgets/Spinner.html#widgets-gallery-spinner) (a bad name. Should have been

[2020-09-08 04:43] MarcSkovMadsen opened #3858 "Please add a fast-date-input date picker for data applications"
I'm working on bringing Fast to the world of Data, Python and [Panel](https://panel.holoviz.org). See [Issue 3850](https://github.com/microsoft/fast/issues/3850).

Very often in Data you would like the user to input some dates. For that Panel provides the [DatePicker](https://panel.holoviz.org/reference/widgets/DatePicker.html#widgets-gallery-datepicker).

![image](https://user-images.githubuserco

[2020-09-08 04:51] MarcSkovMadsen opened #3859 "Please add a fast-file-field widget for uploading files in data applications"
I'm working on bringing Fast to the world of Data, Python and [Panel](https://panel.holoviz.org). See [Issue 3850](https://github.com/microsoft/fast/issues/3850).

Very often in Data Applications the user would like to be able to upload a file with tabular data, json data or some images. For that Panel provides a basic [FileInput](https://panel.holoviz.org/reference/widgets/FileInput.html#widgets-

[2020-09-08 05:01] MarcSkovMadsen commented on #3853
Just for you info @chrisdholt . It's the same issue at the main https://fast.design site. Maybe there should be a tracker for that as well?

[2020-09-08 05:31] chrisdholt commented on #3853
@MarcSkovMadsen which part? The homepage is built on fast-element and fast-foundation for the most part. The docs portion is docusaurus, which is a larger transition.

[2020-09-08 06:23] dcharbonnier opened #3860 "implicit form submission not matching native implementation"
Despite this comment `// Match native behavior` (1) on the form associated implementation, the form implicit submission is far from the spec (2).

The form is implicitely submited when the enter key is pressed, no mater if the form is valid, and that's just one of the problem,.
We should find the first [type=submit] and trigger a click event (3). That may not be the exact behavior of all browsers

[2020-09-08 08:24] thomasrosdahl opened #3862 "Safari support broken on Mac and iOS"
**Describe the bug; what happened?**
Getting the following error on Safari browsers listed as supported:
`TypeError: undefined is not an object (evaluating '__magic__.globalThis = __magic__')`

Seems related to changes in #3797

**What are the steps to reproduce the issue?**
https://www.fast.design/docs/fast-element/getting-started

**What behavior did you expect?**
The following browsers should b

[2020-09-08 09:22] MarcSkovMadsen commented on #3853
Hi @chrisdholt

I'f you look at the source. There is all these `site` elements all over the place. Making it hard to get inspiration on what is done.

![image](https://user-images.githubusercontent.com/42288570/92458308-7d399b00-f1c5-11ea-89fa-a19040ae70e4.png)

[2020-09-08 10:55] EisenbergEffect commented on #3853
@MarcSkovMadsen The `site` elements are site-specific web components built with `fast-element` specifically for this page. They are not mean to be generally reusable but their source is available here if you are interested: https://github.com/microsoft/fast/tree/master/sites/fast-website/src/app/components.

[2020-09-08 16:26] #3839 closed

[2020-09-08 20:21] CuddleBunny commented on #3813
A passing thought I had for when I need to address this in my own design system was to have named z index layers available as design system properties and/or global css classes. Tailwind for example has classes like `z-0`, `z-10`, etc. but I imagine something like `--stacking-layer-dialog: 100`.

[2020-09-08 21:13] #3862 closed

[2020-09-08 21:36] nicholasrice commented on #3790
As discussed in #3792, the problem with my proposed approach is that `:focus-within` does not follow the same selection rules as :focus-visible.

Instead, the developer should set padding on the internal button element using CSS parts:

[code]

We can re-visit this if we ever get a `:focus-visible-within` selector

[2020-09-08 21:36] #3790 closed

[2020-09-08 21:42] awentzel commented on #3844
@chrisdholt would you prefer to proceed with this?

[2020-09-08 21:43] awentzel commented on #3845
@chrisdholt would you prefer to proceed with this?

[2020-09-08 21:46] awentzel commented on #3683
WebScout is no longer finding an issue, this is now verified and closed.

[2020-09-08 21:46] #3683 closed

[2020-09-08 21:47] chrisdholt commented on #3844
@awentzel I think we need to push back on this. This specific unpkg link is not being used, it's being referenced in a markdown files for the Blazor and ASP.Net integration. It only ends up in a `.js` file when the Docusaurus pages are generated.

![image](https://user-images.githubusercontent.com/13071055/92530924-2d1d0180-f1e2-11ea-8c10-714455dee8c9.png)

This URL is not being referenced, it is

[2020-09-08 22:09] #3860 closed

[2020-09-08 22:12] nicholasrice commented on #3842
Fixed by  #3841

[2020-09-08 22:12] #3842 closed

[2020-09-08 23:22] radium-v opened #3868 "Allow `@customElement` styles to accept mixed stylesheets in `fast-element`"
When creating a custom element, it would be great to be able to stack and combine multiple objects to output a final combined style.

**What would be the benefit of adding this feature?**
Currently, the `styles` property only accepts strings, `ElementStyles`, or a singular `CSSStyleSheet`. Ideally, `styles` could accept a mixed array of `ComposableStyles`.

[code]
The final output for the element'

[2020-09-08 23:57] #3801 closed

[2020-09-09 06:43] MarcSkovMadsen opened #3869 "fast-text-area rows not working"
When I explore the `fast-text-area` component in the Component Explorer https://explore.fast.design/components/fast-text-area the component does not change when I change the `rows` attribute.

![fast-text-area](https://user-images.githubusercontent.com/42288570/92563734-50928b80-f278-11ea-93c6-d8b197d20bba.gif)

#### Additional context

It does react when I change the cols attribute.

From https:/

[2020-09-09 15:42] EisenbergEffect commented on #3803
@marjonlynch Are you presently working on this and expecting to get a PR in today or should we move this out to the next release? I saw that you self-assigned but that it was still in the backlog so I wasn't sure the statuc.

[2020-09-09 16:54] brookdozer commented on #3679
@awentzel - Got distracted by other work. I'm on it today

[2020-09-09 17:07] #3868 closed

[2020-09-10 00:03] awentzel opened #3872 "Proposal: Improvements to the release channel strategy"
This is an initial stab at improving our release process with the goal to improve our process based on our existing experiences and feedback over the past couple of months.  Please take the time to understand and contribute to the process so we can maintain the best product quality possible while improving developer and operational efficiencies as well.

### Release Challenges (Packages)
It's cumb

[2020-09-10 00:11] chrisdholt commented on #3872
Working my way through, but I think a monthly release is way too much time between things going in and being released. Just from an internal partner standpoint, we're already stretched at every other week / every two weeks.

From previous conversations, we've discussed regular, automated nightly releases, and I would wager that would be preferred  to a manual release by a majority of folks.  If we

[2020-09-10 00:14] chrisdholt commented on #3857
Hey @MarcSkovMadsen, would you mind taking a look at the current spec and providing some feedback? You can find it here: https://github.com/microsoft/fast/blob/master/specs/number-field.md#number-field

[2020-09-10 00:55] awentzel opened #3873 "MacOS Pipeline is breaking due to unit test failures"
Search for error on this page:  https://github.com/microsoft/fast/runs/1089780552?check_suite_focus=true reveals a unit test failure.  I'm not sure how it made it into master without passing.  We should resolve this error and write a unit test or hook into unit tests to it cannot enter master branch without success.

[code]

[2020-09-10 05:14] MarcSkovMadsen commented on #3857
I have looked at the spec @chrisdholt . My feedback is

What I like about your components is that they are extensions of the basic ones. Like https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number. That is very important to me as then they can be used as drop in replacements. For example something web components do no support discrete steps.

![image](https://user-images.githubuser

[2020-09-10 05:28] chrisdholt commented on #3857
Thanks @MarcSkovMadsen for the feedback; would you want to contribute some of the below as improvements to the spec? Once we feel good about the spec, we - or anyone - can start work on the control!

[2020-09-10 07:11] MarcSkovMadsen commented on #3857
Nope :-). I would like to help improve things. But this time i did not have the time.

[2020-09-10 07:20] chrisdholt commented on #3857
All good; thanks for the feedback, we’ll look to address it in the spec!

[2020-09-10 07:44] MarcSkovMadsen opened #3874 "fast-text-area row, height, minlength and maxlength not working"
I'm trying to wrap the fast-text-area into Bokeh extensions for use in Python and data science. Right now I'm working on the `fast-text-area` and there are some bugs (I believe).

I cannot get the following working

- minlength
- row
- height

A code example

[code]

looks like

![image](https://user-images.githubusercontent.com/42288570/92696221-da5e5980-f349-11ea-8201-80162861706d.png)

As you c

[2020-09-10 07:47] MarcSkovMadsen commented on #3874
Furthermore the `maxlength` does not work as a property. But it works as an attribute.

![image](https://user-images.githubusercontent.com/42288570/92696649-75573380-f34a-11ea-8c7a-603921301b7d.png)

From the component explorer I would assume it should work as a property also

![image](https://user-images.githubusercontent.com/42288570/92696739-9b7cd380-f34a-11ea-8278-44601806e2da.png)

(My unders

[2020-09-10 14:45] awentzel opened #3875 "Improvements to maintainability"
When reviewing code quality for churn vs maintainability there are a few outliers receiving F grades over the past week that could use some added attention helping to improve and maintainability and thus overall code quality.

This list is ranked in order of worst offenders which could use refactored for improved quality.
1. [packages/web-components/fast-foundation/src/anchored-region/anchored-reg

[2020-09-10 15:31] bsdis commented on #3856
+1

[2020-09-10 16:27] EisenbergEffect commented on #2315
Should we push this out again?

[2020-09-10 16:30] chrisdholt commented on #2315
@eisenbergeffect let's pull this from releases for now. The only outstanding issues for the homepage is color contrast issues which could be related to our recipes. This is an ongoing thing we'll need to be tracking and working on, I think it's a bit of churn to link it to a specific release as we continue to work and drive ahead on it. Not to mention, the docusaurus pages are contributing to over

[2020-09-10 16:34] EisenbergEffect commented on #3875
I'm not too worried about `anchored-region.ts` as that component has been under heavy development, refactoring, etc., and is not yet released. I think that will stabilize shortly.

Also, no concern over `config/fast-accordion.ts` as that's just some sample data for the explorer.

My guess would be that `creator.tsx` and `explorer.tsx` are just changing due to the incorporation of web components an

[2020-09-10 16:48] EisenbergEffect commented on #3872
Just had a quick convo with @awentzel about introducing different release channels to help with this. Aaron will circle back with you @chrisdholt to discuss and then update the issue with more details based on that.

[2020-09-10 17:18] khamudom opened #3878 "Cannot keyboard tab out of tree-view when on a nested item"
**Describe the bug; what happened?**
Cannot focus out of `tree-view` when focused on a nested child item.

**What are the steps to reproduce the issue?**

1. tab into tree-view arrow key down(or up) to an item that has a child.
2. then try to tab out of tree-view.

**What behavior did you expect?**
Should be able to tab out of tree-view when focused on any item in the tree.

**If applicable, provi

[2020-09-10 17:20] chrisdholt commented on #3878
@khamudom didn't we already have an issue similar to this? If we can't get this in for today's release we should revert the code that went in causing this.

cc: @EisenbergEffect

[2020-09-10 17:24] khamudom commented on #3878
I have a fix. Putting up a PR now. Wanted to create a separate issue, since the last issue was being not being able to tab back into tree-view. While working on that I noticed you couldn't tab out when on a child item. just to make sure my changes didn't regress anything i tested to see if the issue was already there. Another test is the component explorer site.

[2020-09-10 17:51] janechu opened #3880 "Clicking on a fast-anchor in create.fast.design"
**Describe the bug; what happened?**

After adding a `<fast-anchor>` and then clicking on it, the page will reload and the top portion of the page will be missing.

**What are the steps to reproduce the issue?**

1. Go to create.fast.design
2. Add `<fast-anchor>` using the right panel dropdown
3. Click on the `<fast-anchor>` that appears in the preview area

**What behavior did you expect?**

This

[2020-09-10 18:06] janechu commented on #3875
I also agree about `anchored-region.ts`, that is why we decided not to export it from the main `index.ts` and expose it.

Correct also on the `config/fast-accordion.ts`, @awentzel is there any way to mark files as content or configuration so they don't get scanned?

@EisenbergEffect I believe @nicholasrice would know about fast-colors work and therefore `pixel-box.ts`, as for the `creator.tsx` and

[2020-09-10 18:11] #3878 closed

[2020-09-10 19:14] scomea opened #3881 "bug: accordion example on fast components site has overlapping focus indicator"
**Describe the bug; what happened?**
On the "with start and end" accordion example at https://explore.fast.design/components/fast-accordion the item's focus rect overlaps the checkbox buttons.

**What are the steps to reproduce the issue?**
Navigate here - https://explore.fast.design/components/fast-accordion
Select "with start and end" in top page dropdown
Select an accordion element and notice t

[2020-09-10 19:25] marjonlynch opened #3882 "tabbing stops (or loops back) after second tree-view in storybook fixture in Firefox"
Tabbing through tree-view components in the storybook fixture starts looping back to the beginning tree-view after the second tree-view in Firefox (80.0.1 on MacOs). This works fine in Edge.

Example:

1. Run storybook in fast-components
2. Click on tree-view
3. Start tabbing until you see it tabbing through tree-views on the right
4. Observe that after the second tree-view it loops through to the

[2020-09-10 19:30] chrisdholt commented on #3882
Per @marjonlynch - this *is* a Firefox only issue. Works in Edge, Chrome, and Safari.

[2020-09-10 19:31] EisenbergEffect opened #3883 "bug(fast-element): children observation doesn't work properly with subtree observation"
When using the `children` directive, if it is configured for `subtree: true` in order to watch descendant nodes, the behavior will still only return immediate child nodes. To fix this, the `getNodes()` method should branch based on this configuration setting and use a `querySelectorAll(options.selector)` call instead. If possible, we should use TS typing to require `selector` whenever `subtree: tr

[2020-09-10 19:31] scomea opened #3884 "bug: custom and default examples in component site are identical"
**Describe the bug; what happened?**
Not sure what the intent is, but the component site has "default" and "custom" selections that are identical.   It should be clearer what this is meant to demonstrate if it is necessary at all?

**What are the steps to reproduce the issue?**
go to https://explore.fast.design/components/fast-badge
in the dropdown at the top of the page switch between custom and

[2020-09-10 20:04] janechu opened #3885 "Trapped focus in tooling React Form component add linked data control"
**Describe the bug; what happened?**

When tabbing through a `<Form />` which includes a default control for linked data, tabbing traps focus and the control does not allow tab to move to the next focusable item.

**What are the steps to reproduce the issue?**

1. Go to explore.fast.design
2. Tab though the `<Form />` on the right
3. Cannot re-focus after the default slot control has been reached

[2020-09-10 20:07] scomea opened #3886 "bug: nested tree views has odd arrow key behavior"
**Describe the bug; what happened?**
Using arrow keys to navigate nested tree view has odd behaviors.
- sometimes pressing an arrow key does nothing, then pressing it again moves focus
- if you navigate to an item by pressing the right arrow key you should be able to go back by pressing left arrow key

**What are the steps to reproduce the issue?**

Go to https://explore.fast.design/components/fas

[2020-09-10 20:11] chrisdholt commented on #3886
Thanks @scomea, let's be sure that our arrow behavior follows this: https://w3c.github.io/aria-practices/#TreeView

[2020-09-10 20:25] scomea opened #3887 "bug: radio button can be deselected with a mouse click"
**Describe the bug; what happened?**
A radio button can be selected via keyboard by pressing space when it has focus, but pressing space again does nothing, pressing enter does nothing.  Clicking a selected radio button with the mouse deselects it.

**What are the steps to reproduce the issue?**
Go to https://explore.fast.design/components/fast-radio
Tab to the sample radio button
hit enter - noth

[2020-09-10 20:31] chrisdholt commented on #3887
@scomea, @eisenbergeffect I don't think the expectation here is correct - once a radio button within a radiogroup is selected, I don't think it can be unselected. I think the issue present from the repro steps above would be that clicking on the button of a selected item should be a noop.

Link: https://w3c.github.io/aria-practices/#radiobutton

[2020-09-10 20:38] SethDonohue commented on #3887
Yeah we just discussed, the button click is wrong, keyboarding works.

[2020-09-10 20:40] janechu commented on #3869
Investigated, this looks like a potential component issue, looking for clarification from component implementers for clarification.

[2020-09-10 20:41] scomea commented on #3887
Updated title and description to show that the issue is with the mouse click to deselect.

[2020-09-10 20:43] janechu commented on #3852
I've investigated and this does not pertain to tools, these attributes are being reflected on the web component properly. Could someone from component implementation take a peek?

[2020-09-10 21:27] chrisdholt opened #3889 "Improved releases with Beachball"
## Overview

This spec proposes a new workflow for publishing and the addition of "Beachball", a new package to manage semantic versioning, changelogs, and releases. This work is to help coordinate with a larger plan of releases being addressed by @awentzel with #3872.

### Background

Currently, we use Lerna for all things related to package publishing using the conventional commits flag. Current

[2020-09-11 00:14] #3887 closed

[2020-09-11 15:42] EisenbergEffect commented on #3889
Two things I wanted to note:

* Have we considered how this might affect community contributors? I assume we'll update the docs to add the additional step of running `yarn change`. However, I do expect folks to forget that or not know about it. Does the Fluent team have any learnings from their community behavior around this?
* I want to highly recommend that we publish the nightly builds to an np

[2020-09-11 16:55] chrisdholt commented on #3889
Great questions, thoughts/answers below:

Yes, I blanked as I was going to submit this and felt there was something that was missing - this was it! I think one easy way would be as you mention to update the docs with that additional step.

Fluent has a fairly straight forward PR template which calls it out, and I think that helps as well:
[code]

I believe there is also a `check` command we can ru

[2020-09-11 19:26] EisenbergEffect commented on #3889
Sounds good.

[2020-09-11 19:39] brookdozer commented on #3679
This was fixed by #3821 .

Image still doesn't appear during editing but it does once you save

Editing:

![linkedinEdit](https://user-images.githubusercontent.com/20569231/92965984-904da480-f42b-11ea-9ba7-6df410fc3067.png)

Saved:

![LinkedinSaved](https://user-images.githubusercontent.com/20569231/92966124-cc810500-f42b-11ea-8bf7-aa583dfae8ae.png)

[2020-09-11 19:39] #3679 closed

[2020-09-11 19:39] chris-phelps opened #3891 "Add custom telemetry onto shadow DOM template elements"
It would be beneficial to have a hook or directive for my team's custom telemetry engine to have some way to mark custom values onto template defined elements that reside inside the shadow DOM.

For example if we had a piece of template code where we wanted to know the exact button that a user clicked on we could add a helper that would query the telemetry system.

[code]

augmenting

[code]
I spo

[2020-09-11 22:48] dzearing commented on #3889
The `.github\PULL_REQUEST_TEMPLATE.md` file mentions something like:

[code]

So at least contributors will think about it before contributing.

[2020-09-11 23:34] #3641 closed

[2020-09-11 23:36] EisenbergEffect commented on #3889
I'm about to revamp all our issue and PR templates, so I'll make sure we've got this in the new versions. Thanks @dzearing 😄

[2020-09-11 23:58] chrisdholt commented on #3889
@eisenbergeffect good news - @kenotron *just* enabled canary builds with Beachball here https://github.com/microsoft/beachball/pull/406 !!!

Thanks @kenotron, what timing!

[2020-09-12 07:24] MarcSkovMadsen opened #3893 "The fast-switch readonly hover icon is only shown on the label"
I'm trying to wrap the `fast-switch` into Bokeh Extensions for usage in Python, Bokeh, Panel and Jupyter Notebooks.

I can see that when setting the `fast-switch` to readonly, the readonly hover icon is only shown on the label/ name. Not on the switch itself or the checked-message and unchecked-message.

I would have expected the readonly hover icon to apply to all automatically.

![fast-switch-bu

[2020-09-12 08:44] MarcSkovMadsen commented on #3751
I need the `fast-select` :-)

![image](https://user-images.githubusercontent.com/42288570/92991545-ddda1800-f4e4-11ea-8d40-ebf80527dc02.png)

[2020-09-14 15:49] awentzel opened #3894 "Windows fails CI Validation"
This appears to be a Windows-only issue and has been happening for some time on Prettier.

![Screen Shot 2020-09-14 at 8 48 03 AM](https://user-images.githubusercontent.com/16669785/93107963-1bff4500-f667-11ea-95d0-79ce089c226a.png)

This issue impairs confidence in stability working on the Windows platform and should be prioritized for resolution.

When running on Local windows dev environment th

[2020-09-14 19:26] chrisdholt commented on #3869
I see this as somewhat less of a bug and more of a feature request / design update. The reason `cols` work and rows don't is due to the fact that width is set to be dynamic at 100% and height is currently fixed. I agree the fixed height from a design perspective is less than ideal; technically we could update this to set a default cols value and just use that instead, though it would no longer res

[2020-09-14 19:32] chrisdholt commented on #3874
This looks related to #3869 though the issue is more clearcut. I'd expect this to also apply to `fast-text-field` and other inputs with this type of support. The issue here is relating the application of the attribute to the stylesheet. I think the best course of action would be to implement #3748 to get this supported. I'm not sure inline styles would work well here as it would require changes to

[2020-09-14 21:37] #3893 closed

[2020-09-14 22:09] nicholasrice commented on #3761
I think this is a bug in FAST, not Chromium. FF works because FF doesn't support form-associated custom elements; the form is checking validity of the proxy element which is a native `input[type=text]`, not the custom element itself.

@dcharbonnier I actually think your "temporary hack" is fundamentally the only fix. It is the responsibility of each custom form component to determine when it is va

[2020-09-15 00:06] #3886 closed

[2020-09-15 00:20] nicholasrice commented on #3761
One solution here is to create a set of constraint-validation mixin classes that can be used to for fast-text-field (and other  custom elements that serve as drop-in replacements for native elements). These would match and meet the requirements for the [native validity attributes](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation#Validation-related_attributes). Th

[2020-09-15 04:25] MarcSkovMadsen opened #3900 "fast-badge not working at all and component explorer not working well"
I'm working on wrapping the fast components for use in Python, Bokeh and Panel to develop data science apps and for exploratory use in Jupyter Notebooks.

Next up is the `fast-badge` but I simply cannot get it working as I would expect.

I started with the component explorer. But that is simply confusing as all the attributes are input via TextArea and for example the `circular` attribute is a boo

[2020-09-15 17:22] eljefe223 commented on #3900
Thanks @MarcSkovMadsen , I've created a PR to address the above issues:

https://github.com/microsoft/fast/pull/3901

Was curious what you expectations were in adding a badge as a child of button? My presumption is you want some sort of indicator like the below example:

![image](https://user-images.githubusercontent.com/37851214/93243498-20962d00-f73d-11ea-891a-02cef2b055d3.png)

This is certainl

[2020-09-15 18:20] MarcSkovMadsen commented on #3900
Your example is what I would expect to be able to create.

But I’m a data scientist and not front end developer. So I need some good examples to start from 👍

[2020-09-15 19:32] #3900 closed

[2020-09-15 19:44] jpfifer opened #3903 "Externally changing checked attribute in fast-components/fast-radio causes checked state to stop updating"
**Describe the bug; what happened?**
When changing the checked attribute via `<fast-radio ... ?checked=${x => x.shouldBeChecked}>...</fast-radio>` between multiple options after a single round the later options will no longer accept the checked state.

**What are the steps to reproduce the issue?**
Using the provided example:
1. Click **With Selected Three**
2. Option **Three** should be selected

[2020-09-15 20:16] ben-girardet commented on #3612
I'm also facing this issue when using FAST in Aurelia 2. Any progress so far ? Anything I could do to help in this area ?

[2020-09-15 20:20] ben-girardet opened #3904 "mis-aligned slots in fast-menu-item (and fast-button)"
**Describe the bug; what happened?**

When using the `fast-menu-item` component and placing content in the `start` slot it fails to be nicely align (vertically) with the menu item text.

**EDIT:** This mis-alignment in fact also happen in `<fast-button>` and probably comes from something not totally figured out, see my comment below.

**What are the steps to reproduce the issue?**

1. Open the [fa

[2020-09-15 20:32] EisenbergEffect commented on #3612
We haven't had a chance to look into it yet on our side. Always open to a fix from the community if you have a chance to look into it @ben-girardet

[2020-09-15 20:59] ben-girardet commented on #3612
Well it's an issue I'm also facing and I would be glad to help in a sense. But to be honest I'm not sure if it's in my reach as I'm not familiar with the binding mechanism of either Aurelia or FAST.

As a start, is it something that should be fixed from Fast or AU2 codebase?

[2020-09-15 21:01] bigopon commented on #3612
I think it should be a plugin to teach Aurelia how to observe fast elements. Same way with how we teaching Aurelia to observe native html elements

[2020-09-15 21:09] ben-girardet commented on #3612
Thanks @bigopon for jumping on here. Could you point me towards the code where Aurelia is taught how to bind native elements ?

As a naive question: as FAST are web components, this "teaching Aurelia how to bind with FAST"; is it purely related to FAST or once done it should then work with any web components ?

[2020-09-15 21:12] EisenbergEffect commented on #3612
For two-way there may need to be something Aurelia-specific. But I think there's probably a legitimate bug somewhere since `one-way` and `one-time` don't work either, and there shouldn't be anything special there if I recall.

[2020-09-15 21:43] ben-girardet commented on #3612
I don't know if it helps to locate the issue going here, but here is what I discovered in a scenario such as:

[code]

1. If `myValue` is already set at the moment the `<fast-text-field>` is attached => then this value is not displayed in the input of the `fast-text-field`. But as @mitchcapper said the VM doesn't loose the value, so if the user doesn't interact with the field, the VM still holds t

[2020-09-15 21:56] bigopon commented on #3612
A two way binding, declared via implicit syntax `.bind`, from template syntax needs 2 step process:
- translate the syntax into a two way binding instruction (to-view & from-view)
- use the right observation for from-view binding instruction

To fully enable two way binding with Aurelia, there's need a plugin to teach Aurelia to:
1. understand that `<fast-text-field value.bind/>` should be treated

[2020-09-16 03:26] MarcSkovMadsen opened #3906 "add menuitemcheckbox and menuitemradio support to fast-menu-items"
I was trying to learn how the `fast-menu works.

Both from code and the component explorer I'm not able to select anything but the top menu-item.

![fast-menu-item-select](https://user-images.githubusercontent.com/42288570/93288792-03b13680-f7dd-11ea-997d-0480021b0405.gif)

I would have expected a the second and third fast-menu-item to be selected/ highlight when clicked just as the first one.

[2020-09-16 03:30] chrisdholt commented on #3906
Thanks for the note @MarcSkovMadsen - we're in process of adding the checkbox and radio behavior here. The current events would simply invoke the menu item. Let's use this issue to track the addition of the checkbox and radio events *AND* visual states.

@bheston for both the radio and checkbox menu instances, I think we'd want a "check" svg. One question I have is where we think that may go from

[2020-09-16 03:31] MarcSkovMadsen opened #3907 "menu-item does not support nesting as stated in specs"
This example is from the specs https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/menu/menu.spec.md

[code]

But it looks like

![image](https://user-images.githubusercontent.com/42288570/93289056-b2ee0d80-f7dd-11ea-9d45-7b697529d71e.png)

And I cannot expand by clicking either.

#### Additional Context

There is an error in the example in the specs

![image]

[2020-09-16 03:33] chrisdholt commented on #3907
Thanks @MarcSkovMadsen - we're tracking this and hoping to include the functionality in our next release. Closing this in favor of #3754 where you can find the work item.

[2020-09-16 03:33] #3907 closed

[2020-09-16 03:34] chrisdholt commented on #3904
Thanks @bengirardet! Let us know if you'd like to submit a fix for this. If not, it should be fairly straight forward for us to fix.

[2020-09-16 03:37] MarcSkovMadsen opened #3908 "fast-menu-item checkbox not working"
In the specs the `fast-menu-item` checkbox attribute is described.

But it does not work as you can see when I click the `checked` checkbox in the component explorer

![fast-menu-item-checked](https://user-images.githubusercontent.com/42288570/93289348-75d64b00-f7de-11ea-85d4-672e49d35bba.gif)

You can see in the above video that the checked attribute actually appears. I could something changing w

[2020-09-16 03:41] MarcSkovMadsen opened #3909 "fast-menu-item radio attribute not working"
The radio attribute of the fast-menu-item does not work as you can see in the below image from the component explorer.

I would have expected some indication that the third menu-item is checked.

![image](https://user-images.githubusercontent.com/42288570/93289657-2e9c8a00-f7df-11ea-9ebe-bcb3763737ff.png)

[2020-09-16 03:43] MarcSkovMadsen commented on #3909
Here is a code example that is not working as I would expect.

[code]

![image](https://user-images.githubusercontent.com/42288570/93289782-83400500-f7df-11ea-8484-2a369d52d3a8.png)

I would have expected some kind of indication that the menu-item is checked

[2020-09-16 03:52] MarcSkovMadsen opened #3910 "fast-menu-item icon example not working as expected"
The starting point is the fast-menu icon example

![image](https://user-images.githubusercontent.com/42288570/93289912-d44ff900-f7df-11ea-8e04-610979ac290a.png)

If I copy paste the code and create a stand alone example I get

[code]

But it looks like

![image](https://user-images.githubusercontent.com/42288570/93289999-02cdd400-f7e0-11ea-9512-1dc6cf7db1ef.png)

I would have expected it to look t

[2020-09-16 03:54] chrisdholt commented on #3910
@janechu can you take a look and see if this is an issue with the explorer tooling?

[2020-09-16 06:07] ben-girardet commented on #3612
I gave it a try by looking at this in `aurelia-ux`. Now here are some questions to keep me going:

1. Aurelia UX is Au1 and I'm trying to do this for Au2. I have tried to translate the code of Aurelia UX for AU2 (see below) but there are things I don't understand. I'm mainly concerned by the SyntaxInterpreter (I couldn't find how to intercept it) and the ValueAttributeObserver (it requires a `node

[2020-09-16 07:25] ben-girardet commented on #3904
I've edited the title and description in order to reflect that this issue affects several components, at least `menu-item` and `button`.

[Seems like there are still things that need to be figured out regarding glyph size](https://github.com/microsoft/fast/blob/7624cba3a7ec74bebc199a038a054fab8816684e/packages/web-components/fast-components/src/menu-item/menu-item.styles.ts#L87). There are current

[2020-09-16 07:26] dcharbonnier opened #3911 "extend TextField with more types"
TextFieldType is defined as :
[code]

The fundation `TextField` use this enum for the property `type`.
The html standard define type as an enumerated DOMString with [27 different values](https://html.spec.whatwg.org/multipage/input.html#the-input-element:enumerated-attribute), most of them share a huge part of the TextField logic.
To implement an existing type or a new type it would be convenient

[2020-09-16 08:17] ben-girardet commented on #3910
I have also noticed when using the explorer that the `slot="..."` are not rendered in the code preview editor.

[2020-09-16 09:40] bigopon commented on #3612
@ben-girardet thanks for the clarification. I forgot you meant to ask for v2, not v1. For v2, I think having `.two-way` should work fine. I'm doing a small refactoring around this area, will get this PR through soon, and will get back here.

[2020-09-16 09:59] MarcSkovMadsen commented on #3907
Remember to fix the issue in the specs shown above @chrisdholt :-)

[2020-09-16 10:02] MarcSkovMadsen commented on #3906
The important thing here to note @chrisdholt  and fix is that if I click the top menu-item it gets selected (fixed red color, border etc.). But that does not happen for other menu-items.

[2020-09-16 12:07] ben-girardet opened #3912 "Add disabled attribute to fast-tab"
**What feature are you requesting?**

Adding a `disabled` attribute to the `fast-tab` component.

**What would be the benefit of adding this feature?**

Sometimes tab should be disabled depending on the state of the app. Like for buttons or menu-item, tab would benefit from having the same consistent attribute.

**What solution would be ideal for you?**

Do the same than for buttons or menu-item f

[2020-09-16 16:52] nicholasrice commented on #3911
Can you narrow this down a bit? Which of those 27 are you proposing to extend the enum with; what would be useful to you?

[2020-09-16 18:12] scomea opened #3914 "Tree item must have click handler on root element"
Fast tree-views don't work in narrator's scan mode because there is no click handler on the root element of Fast tree item.  This is required in order to support assistive technologies as per - https://www.w3.org/TR/core-aam-1.2/#mapping_actions.

An additional concern is that in scan mode it is not possible to open/close a node via keyboard (space selects, but that's normally how we expand/collap

[2020-09-17 00:28] janechu commented on #3910
@ben-girardet that's because we treat any items that go into slots as special, therefore in our data structure they have a different method for manifesting. If you click on any `fast-menu-item` you will see a `start` and `end` slot, you would need to add them there instead of the default slot.

I've outlined the `start` and `end` slots in blue:

<img width="302" alt="Screen Shot 2020-09-16 at 5 25

[2020-09-17 00:30] janechu commented on #3910
Ah, you know what, I took another look and it seems like our mapper just isn't adding the `slot` attribute back onto the `<svg>`, I'll put this on my list to fix.

[2020-09-17 06:46] dcharbonnier commented on #3911
Number is a usefull one in my case.
But in general the fact we can't extend it isn't convenient, if I want to create a new type like "pin-code" I can't and the ony thing that prevent is is this enum.
I'm not speaking about providign the support for those types in the framework, I'm speaking of extending the class to support other types.

[2020-09-17 16:29] chrisdholt commented on #3911
I've been looking to move that to a type with explicit types for what we have now, but we could add "string" as well...that kind of would defeat some of the type safety, but it would be extensible.

We could offset the breaking change of converting to a type by keeping and deprecating the enum rather than deleting it. @dcharbonnier Would that help here? @nicholasrice do you have any concerns over

[2020-09-17 20:19] chrisdholt commented on #3852
I've got a fix incoming for this - the attributes are not being set on the internal control within the template.

[2020-09-17 20:49] #3852 closed

[2020-09-17 21:09] dcharbonnier commented on #3911
Somehow linked to #3857

[2020-09-18 00:33] eljefe223 opened #3925 "ActiveId does not update fast-tabs web component"
**Describe the bug; what happened?**
ActiveId does not update fast-tabs web component.

Probably just need to to add `activeIdChanged` event

[2020-09-18 01:46] bheston opened #3926 "Providing and resolving styles in FASTElement"
**Describe the bug; what happened?**

If you provide styles in `customElement` as well as respond to `resolveStyles`, only the latter are applied without warning or error. Looking at the code it looks like it only tries to apply resolved styles if provided styles are null.

**What are the steps to reproduce the issue?**

[code]

**What behavior did you expect?**

Well, at first I expected only the

[2020-09-18 02:59] #3910 closed

[2020-09-18 04:00] chrisdholt commented on #3926
I think what you're referencing would be accomplished with the proposed functionality in #3748. Can you take a look and see if that would support the behavior you are looking for?

[2020-09-18 07:40] ameyasubhedar opened #3928 "Unable to bind text field with Blazor Component"
**Describe the bug; what happened?**

I am trying to integrate the FAST components with Blazor reusable components. But I cannot use @bind attribute for two way binding.

**What are the steps to reproduce the issue?**

Sample code

TestBlazorComponent.razor

`<fast-text-field type="text" @bind="@BindTestProperty" placeholder="key" required maxlength="@MaxKeyLength"></fast-text-field>`

**What beha

[2020-09-18 17:03] awentzel commented on #3872
I've added multiple sections to further outline NPM packaging process, the use of Containers with Docker, and the use of scripts to spin up and down temporary app deployments for each PR.  Beachball, could be used for NPM publishing on nightly cadence.  @chrisdholt @EisenbergEffect  @nicholasrice @janechu @radium-v for review and feedback, anyone else is also free to provide feedback.

[2020-09-18 18:10] bheston commented on #3926
Yes, I recall seeing that proposal now and like the way it solves the problem. If by doing that we deprecate / remove `resolveStyles` I think that would solve the issue. If we maintain both for flexibility it would still be good to address the conflict in some way as suggested.

[2020-09-18 18:13] chrisdholt commented on #3926
I'll let @eisenbergeffect chime in here, but I think resolveStyles is would be a replacement of and not supplemental to the style resolution in the decorator. I could be wrong here. If we were to implement #3748, I wouldn't expect to the above to also merge, but that's only an opinion.

[2020-09-18 19:16] EisenbergEffect commented on #3926
By default an element gets its styles from the `styles` configured through the decorator. But, by implementing `resolveStyles` you can provide a custom algorithm by which to obtain the styles for the element. It's as an opt-in way to override the default mechanism for setting styles.

This is an enabler of the new provider model as the proposed `FoundationElement` would implement `resolveStyles` i

[2020-09-18 19:25] janechu opened #3930 "Streamline process for adding scenarios to Component explorer site"
# Abstract

The creation of component scenarios for the component explorer site is unintuitive and should be made easier for contributors.

## Requirements

Ideally instead of writing a `DataDictionary` which is inherently difficult, the scenarios should instead be individual `.html` files located in a scenarios folder. This way a node script can be run to scrape them for content and inject them i

[2020-09-18 22:34] #3562 closed

[2020-09-19 11:44] dcharbonnier commented on #3911
An approach could be to have an abstract input element and having text-field that implement it, we could keep a strick typing and that's something important IMO, implement a number-field with some specificity and other types. What do you think ? I can probably help on anything, I just don't want to take a direction and waste my time.

[2020-09-20 14:05] MarcSkovMadsen opened #3933 "fast-tab bugs"
I'm trying to wrap the fast tabs for use in Python/ Panel/Bokeh/ Jupyter Notebooks/ Data Science Apps. Next up is fast-tabs. There are some issues.

##### Specs

https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/tabs/tabs.spec.md

The slots `before-content` and `after-content` should be `start` and `end`.

![image](https://user-images.githubusercontent.com/4

[2020-09-21 17:15] nicholasrice commented on #3816
Yea I think the real fix here is to change the example to use `appearance="hypertext"`; I'll submit a PR.

[2020-09-21 19:27] nicholasrice opened #3936 "DSP does not watch all properties of a parent provider"
Given two Design System Provider definitions, `A` and `B`, where `A` contains design system properties `_a` and `_b` and `B` contains design system properties `_b` and `_c`. In a nested scenario where `B` is a descendent of `A`, `B` will only sync to it's local `designSystem` the intersection of design system properties between `A` and `B` (`_b` in this case). The DSP system is designed to sync do

[2020-09-21 19:30] #3816 closed

[2020-09-21 21:12] #3925 closed

[2020-09-21 22:00] EisenbergEffect commented on #3250
I've got a PR up to re-work issue and PR templates but opted not to go with multiple PR templates because there's no way to select them except by using a query string. So, user experience is not so great for that on the GitHub side of things..

Should we close this or but it in "deep freeze" for possibly doing later down the line?

[2020-09-21 23:37] awentzel commented on #3845
I have submitted a request to someone to obtain an exclusion for Adobe CDN and I'm waiting to hear back.

[2020-09-22 01:09] #2804 closed

[2020-09-22 01:09] awentzel commented on #2804
closing as duplicate

[2020-09-22 01:13] #3873 closed

[2020-09-22 01:20] awentzel commented on #3054
duplicate of #3894

[2020-09-22 01:20] #3054 closed

[2020-09-22 05:41] #3761 closed

[2020-09-22 05:52] MarcSkovMadsen opened #3940 "Stealth is not stealth when used on card"
I would expect to be able to use the `fast-anchor` and `fast-button` in a `fast-card` easily.

But if I set the appearance to `stealth` it is not `stealth` see below example

![image](https://user-images.githubusercontent.com/42288570/93847911-93a52380-fca8-11ea-942a-895d2f61da44.png)

[code]

[2020-09-22 05:56] MarcSkovMadsen opened #3941 "Align Anchor with text"
I'm trying to combine the `fast-anchor` with text. But it does not align nicely as you can see below. The text is on "top" of the "anchor" text.

![image](https://user-images.githubusercontent.com/42288570/93848076-044c4000-fca9-11ea-8b3e-6c74ceade15f.png)

[code]

I've been trying to use the `fast-anchor` several times in different use cases. And every time I combine with text it's a pain to use.

[2020-09-22 06:50] chrisdholt commented on #3941
Most of the anchors are intended to include the appearance of buttons when they function as anchors. If you’re looking to include it inline with text, the “hypertext” appearance should help as its intended to be used inline with text as an anchor. If you’re looking to use the button format, you’ll likely need to provide additional contextual CSS for your use case. Flexbox or grid are two simple wa

[2020-09-22 12:19] hardikpthv opened #3942 "Add new component and its specification: Spin Button"
**What feature are you requesting?**
Input Stepper component

**What solution would be ideal for you?**
I am planning to create the specs and later on the component itself.

**What alternatives have you considered?**
None yet.

Is there any additional context for your request?

**Attach screenshots or images add detail to your request:**
To give an idea something like this:
[-][   12  ][+]

- http

[2020-09-22 15:50] adunndevster opened #3944 "Not removing DOM elements in repeat directive"
**Describe the bug; what happened?**
- I have an observable array string[].
- I use the repeat directive to `<li>` the contents of the array to the page
- when I clear the contents by setting the array to [], The page keeps a residual 'li' on the page
- each time I add elements to the array, then clear the array, a new empty 'li' is added to the DOM
- If I use splice instead, to clear the array, I

[2020-09-22 17:34] nicholasrice commented on #3803
This is a tricky one because the platform is imposing a delay between the first keydown event emission and subsequent rapid keydown event emissions:

**Event cadence when holding down the arrow key**
e-------e-e-e-e-e-e-e-e-e-e-e-e...

I'm unsure what a fix for this would even be other than some transition timing coordination where the initial transition is faster? I'd be concerned that would be s

[2020-09-22 18:26] #3883 closed

[2020-09-22 19:02] scomea commented on #3813
@CuddleBunny yeah, I was thinking along similar lines.

[2020-09-22 19:31] krs-10 opened #3947 "Clicking fast-button forces browser reload in Safari 14"
**Describe the bug; what happened?**
Clicking on a `fast-button` in Safari 14 causes Safari to force-reload with the following error message: `This webpage was reloaded because a problem occurred.` The issue may be related to this ["delegatesFocus causes WebKit to crash" bug](https://bugs.webkit.org/show_bug.cgi?id=215622).

**What are the steps to reproduce the issue?**

1. Go to https://fast.des

[2020-09-22 19:55] #3936 closed

[2020-09-23 13:40] EisenbergEffect commented on #3947
@krs-10 Thank you so much for linking the WebKit issue! We discovered the odd Safari behavior recently but hadn't yet tracked down the cause. I think this is likely it.

@nicholasrice As we consider future strategies for form associated custom elements, might we opt to feature detect focus delegation and other features and branch how we *define* the element based on that? That would enable us to n

[2020-09-23 13:41] EisenbergEffect commented on #3947
@nicholasrice Since this breaks our site in a major browser, do you think there's any quick fix we could get in for tomorrow's planned release?

[2020-09-23 14:46] hardikpthv commented on #3942
@EisenbergEffect, shall we call this component `spin-button` then? Or `input-stepper` I am going to create specs.

[2020-09-23 14:59] EisenbergEffect commented on #3942
I'm going to defer to @chrisdholt. He leads the team that directly drives the individual components. He likely has a perspective to guide the decision.

[2020-09-23 16:08] chrisdholt commented on #3947
@eisenbergeffect @nicholasrice please keep me in the loop here with what’s proposed as a temporary solution. Ideally this gets fixed ASAP by the WebKit team.

[2020-09-23 17:51] scomea commented on #3803
I was looking at the React slider and it does have the same behavior, but doesn't seem as perceptibly I think because the transition looks to be a bit longer so it doesn't sit as long?

[2020-09-23 17:53] chrisdholt commented on #3942
We typically name things in coordination with the W3C interaction model, a native control if one exists, or to the common control name resolved in the Open UI project. The reason for this is to provide a clear queue for users as to the intent of the control. In this case, because the intent here is to achieve the W3C spin button, I would expect the request to be for "Spin Button".

[2020-09-23 18:03] #3848 closed

[2020-09-23 18:20] #3819 closed

[2020-09-23 18:35] awentzel commented on #3663
It looks like one remain ask to close this group.  Migrate all `*.svg` files to CDN.
![Screen Shot 2020-09-23 at 11 34 28 AM](https://user-images.githubusercontent.com/16669785/94054745-dd693900-fd90-11ea-98b9-3f1ee4bfe377.png)

[2020-09-23 19:08] scomea opened #3952 "bug: tree view nodes can't be expanded with keyboard in narrator scan mode"
In narrator's scan mode space bar is mapped to the primary action of the focused element which selects a tree view item.  Normally space bar expands/collapses the tree item and the enter key selects. Given that and that the expand/collapse button is not keyboard accessible it seems like we may have an accessibility gap because expanding a node would require a user to either leave scan mode or use

[2020-09-23 19:23] chrisdholt commented on #3952
@scomea where are you getting this behavior expectation - is this specific to narrator? Our interaction model is not linked to narrator or other AT - we should build our keyboard interaction model to the spec, which does not outline this behavior: https://w3c.github.io/aria-practices/#TreeView

Narrator issues would be related to the UIA markup of the tree being passed to them. Does this repro in

[2020-09-23 19:32] marjonlynch commented on #3803
I think we are going to close this "by design", discussed offline with Nick

[2020-09-23 19:45] scomea commented on #3952
The "space bar expands/collapses the tree item and the enter key selects" behavior I describe is what is currently implemented in our component.  I'm just pointing out that there may be an gap an our interaction model that warrants further consideration.

[2020-09-23 20:33] #3933 closed

[2020-09-23 20:34] scomea opened #3953 "bug: components should call preventDefault on keyboard actions which have caused a ui change"
We should do a pass to ensure that when we use a keyboard event to trigger a ui change we should mark that event with preventDefault() so that upstream consumers of bubbled events can avoid triggering a second ui change on the same event.

For example key handling in tree view item does not mark the event arrowLeft event when it triggers ui changes:

[code]
If a parent element in the dom also capt

[2020-09-23 20:58] #3803 closed

[2020-09-23 22:07] #3914 closed

[2020-09-24 01:02] nicholasrice commented on #3882
I've been looking into this one but haven't tracked down the source of the issue. I've got a min-repro of the behavior here: https://webcomponents.dev/edit/LHblBiYiXUV2LLbpM1WP

I won't be able to put up a fix prior to Release 12 so pushing this out.

[2020-09-24 03:30] awentzel commented on #3845
Security team approved suppressing this issue.

[2020-09-24 03:30] #3845 closed

[2020-09-24 03:31] awentzel commented on #3872
@microsoft/fast-collaborators please review prior to release 12.  Thanks

[2020-09-24 03:33] awentzel commented on #3844
@chrisdholt what about the two JS files in the middle of your screenshot?  Isn't that bundling?  Or are the markdown files bundled into those two JS files?  I'm not exactly clear here.  But, I do agree, if only used for documentation sake we have approval to suppress.  If we're all good here feel free to close this issue.  Thanks,

[2020-09-24 03:34] awentzel commented on #3706
The Security team has approved suppression so closing this issue.

[2020-09-24 03:34] #3706 closed

[2020-09-24 03:35] awentzel commented on #3817
I will work on this during the release.  Unfortunately, I did not have time prior to the release to get this into a PR.

[2020-09-24 03:35] chrisdholt commented on #3844
Yep, that's what it is. The resources referenced on the site you sent offline when opened is the documentation page. This is it being bundled and deployed for the website.

[2020-09-24 14:30] EisenbergEffect commented on #3872
The highlights for me that I like are:

* Moving to Docker
* Nightly dev channel releases of all packages
* Stage docs for pre-release packages open to the public
* Code freeze via a dedicated release branch merge
* Tagging of the release branch to mark package publish point in time

The only real hesitation I have is over week 3 in the cycle. I think that's likely to remain a dev-focused week bas

[2020-09-24 15:17] scomea opened #3958 "bug: bottom section moves vertically on selection in fast component explorer"
The bottom section of the component explorer screen moves up and down innapropriately when the user selects the "Code", "Guidance", "Definition" and "Schema" tabs.  This looks to be a regression.

**What are the steps to reproduce the issue?**

Example:

- Go to the currently staged version of component explorer:
https://stage.explore.fast.design/components/fast-tree-view
- selects the "Code", "Gu

[2020-09-24 15:26] EisenbergEffect commented on #3958
I noticed that in order to repro this issue, the browser's vertical height needed to be shrunk down a bit.

[2020-09-24 15:33] scomea commented on #3958
I believe this style in component explorer's "style.css" is part of the issue :
.canvas-content {
    display: grid;
    grid-template-rows: 50% 50%;
}

[2020-09-24 16:17] hardikpthv commented on #3942
Thanks, @chrisdholt for the information. It's good to know. I will name it then as "Spin Button". :)

[2020-09-24 16:20] CuddleBunny opened #3960 "Add new component: image placeholder"
**What feature are you requesting?**

Image placeholder component, similar to placeholder services such as [https://placeholder.com/](https://placeholder.com/) but without a web request.

**What would be the benefit of adding this feature?**

Custom, fast, image placeholders without external dependencies.

**What solution would be ideal for you?**

Placeholder component, ideally a separate package

[2020-09-24 16:23] awentzel commented on #3960
Additionally, this could be used in production for code examples, because it would be locally built into the bundle, not requested from 3rd party, thus solving subresource integrity concerns for security.

[2020-09-24 16:27] janechu opened #3961 "Update name of "adaptor" to the more common spelling of "adapter""
The `MonacoAdaptor` should be `MonacoAdapter`, as such all uses of "adaptor" in the tooling should be converted to "adapter" which is the more common spelling.

[2020-09-24 16:55] scomea opened #3962 "Bug: component explorer dropdown is behind example panel"
Z-index issue.

![image](https://user-images.githubusercontent.com/7649425/94175678-dfdc9900-fe4b-11ea-8298-2e6a2ac0e455.png)

**What are the steps to reproduce the issue?**
- Go to https://stage.explore.fast.design/components/fast-button
- use "default" dropdown at top of page
- note that the menu appears behind the sample panel

[2020-09-24 17:06] scomea opened #3963 "bug: fast progress ring example not visible in component explorer"
Go to https://stage.explore.fast.design/components/fast-progress-ring

Note that the example area has no visible content:
![image](https://user-images.githubusercontent.com/7649425/94176907-9e4ced80-fe4d-11ea-865c-9a0166ef695f.png)

[2020-09-24 17:11] janechu commented on #3872
For me the site release should coincide with the package release, ideally it would be same day or shortly after package publish because we intend on putting the published package version number up on the site as well. I think we also eventually will need a published changelog on the site. Correct me if I'm misinterpreting because it seems like it's being suggested that NPM release is every 2 weeks

[2020-09-24 17:23] chrisdholt commented on #3872
I agree with @EisenbergEffect on the timelines here:

As I mentioned above, I don't think part of the team will be able to join and freeze commitments for a dedicated testing sprint. I think some UI automation or vdiff tests for the components *AND* the sites which run on a regular cadence would make testing more of a part of the development cadence. Again, I don't want to play down the importance

[2020-09-24 17:35] #3958 closed

[2020-09-24 17:35] #3962 closed

[2020-09-24 18:11] #3963 closed

[2020-09-24 18:20] scomea opened #3965 "bug: component explorer lower panel high contrast issues"
Looks like white text on a white bg in high contrast light mode:

![image](https://user-images.githubusercontent.com/7649425/94183722-bcb7e680-fe57-11ea-8a75-d74635d5552a.png)

[2020-09-24 18:45] scomea opened #3966 "bug: minor gap in fast-progress indicator in high contrast light mode"
Minor fit and finish issue.

Look at the fast-progress component (https://explore.fast.design/components/fast-progress) in high-contrast mode.  Notice the very small gap between the track and the bottom of the animated progress indicator.

![image](https://user-images.githubusercontent.com/7649425/94186088-153cb300-fe5b-11ea-84fd-7f7bc6a86e1d.png)

[2020-09-24 19:31] #3844 closed

[2020-09-24 19:32] EisenbergEffect commented on #3872
Agree on releasing docs along side packages. 💯

[2020-09-24 19:36] radium-v opened #3968 "multiple redirects happen for variations of `fast.design`"
**Describe the bug; what happened?**
A redirect chain happens when browsing `http://fast.design`.

Related to #3819

**What are the steps to reproduce the issue?**

Example:

1. Go to `http://fast.design`
    * `http://fast.design` 307 redirects to `https://fast.design`.
    * `https://fast.design` 308 redirects to `https://www.fast.design`

**What behavior did you expect?**
`http://fast.design` r

[2020-09-24 19:47] khamudom opened #3969 "Text are missing in the Adaptive UI component in high contrast white theme"
**Describe the bug; what happened?**
When set to high contrast white theme, the text disappears. This text is probably not changing base on the theme.

**What are the steps to reproduce the issue?**

Example:

1. Go to the FAST website
2. Change system theme to high contrast white
3. Observe the Adaptive UI component.

**What behavior did you expect?**
We should see the foreground text.

**If appl

[2020-09-24 19:48] #3965 closed

[2020-09-25 11:45] maneetgoyal opened #3972 "Missing "isRTL" implementation in @microsoft/fast-web-utilities"
**Describe the bug; what happened?**

The documentation mentions the usage of `isRTL` [here](https://github.com/microsoft/fast/tree/master/packages/utilities/fast-web-utilities#isrtl).

But the implementation seems to be missing in the source code.

**What are the steps to reproduce the issue?**

1. Go to `fast/packages/utilities/fast-web-utilities/src/`.
2. Try to find `isRTL` source code.

**Wha

[2020-09-25 16:44] janechu commented on #3250
I'll place it in deep freeze.

[2020-09-25 16:45] janechu commented on #3250
Well, actually, changed my mind, I'll close for now and we can re-open should github ever get around to improving that interface.

[2020-09-25 16:45] #3250 closed

[2020-09-25 17:35] eljefe223 opened #3973 "Add a way to provide custom styles based on design system luminance in web components"
**What feature are you requesting?**
In our react package `@microsoft/fast-components-msft` we had a `isDarkMode()` method that would check the current `designSystem` luminance and return either `true` or `false`. This allowed us to return 2 separate color values, classes etc. based on whether the parents `designSystem` was in dark mode or not.

**What would be the benefit of adding this feature?*

[2020-09-25 17:40] chrisdholt commented on #3973
@bheston, thoughts on this? Any new guidance or is the previous function equally applicable and desired here?

[2020-09-25 18:29] marjonlynch opened #3974 "fast-design-system-provider should allow users to set attributes in fast-component-explorer"
**Describe the bug; what happened?**
* run fast-component-explorer
* insert a fast-design-system-provider in a default slot somewhere
* observe the only thing you can set is the default slot for the fast-design-system-provider
<img width="1539" alt="Screen Shot 2020-09-25 at 11 05 45 AM" src="https://user-images.githubusercontent.com/25805778/94303092-213f7800-ff22-11ea-8bd2-5ec86c9a7f33.png">

**

[2020-09-25 19:43] bheston commented on #3973
We need to separate out two specific concerns:
1. Adjusting the design in a _specific_ custom way depending on the luminance of the context
2. Making it easier to change color palettes and add support for multiple palettes

Based on the 'benefits' question above, this issue relates to *item 2*. The `isDarkMode` switch was never intended for specifying light and dark mode colors used for text in th

[2020-09-25 20:27] janechu commented on #2353
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:27] #2353 closed

[2020-09-25 20:28] janechu commented on #2352
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:28] #2352 closed

[2020-09-25 20:28] janechu commented on #2354
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:28] #2354 closed

[2020-09-25 20:28] janechu commented on #2351
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:28] #2351 closed

[2020-09-25 20:28] janechu commented on #2350
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:28] #2350 closed

[2020-09-25 20:28] janechu commented on #2349
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:28] #2349 closed

[2020-09-25 20:28] janechu commented on #2348
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:28] #2348 closed

[2020-09-25 20:31] janechu commented on #1948
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:31] #1948 closed

[2020-09-25 20:31] janechu commented on #2057
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:32] janechu commented on #1734
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:32] #1734 closed

[2020-09-25 20:32] janechu commented on #2346
This issue is now redundant with the upcoming removal of the CSS editor and the addition of the CSS property control. See #3780.

[2020-09-25 20:32] #2346 closed

[2020-09-25 20:50] bheston commented on #2057
@janechu These sound like different things. The goal of the design surfaces was to function more like traditional design software than devtools. A general css editor should be paired with more declarative options so we can call out the common attributes you'd want to change, or attributes that are not defined in css. I hope we're not losing the declarative controls to the generic.

![image](https:

[2020-09-25 21:20] janechu commented on #2057
Hmm, I'll re-open, I think I closed this because I thought it had to do with previous work on the CSS property react component that was removed in v2. We need to start with generic first and then create specific controls for the above use cases.

[2020-09-26 00:00] #3884 closed

[2020-09-28 16:26] awentzel opened #3978 "Tab stops are not accessible, different browsers showing different results"
**Describe the bug; what happened?**
There is no indication the users focus state has landed on certain controls.

1. On MacOS -> Edge, social medial icons on https://www.fast.design.
2. On MacOS -> Safari/Firefox tabbing jumps to the center of the page.

**What are the steps to reproduce the issue?**
1. Visit the https://www.fast.design and start tabbing on Edge.
2. Visit the https://www.fast.des

[2020-09-28 16:35] radium-v commented on #3978
This is expected behavior on MacOS - https://support.apple.com/en-us/HT204434#fullkeyboard

[2020-09-28 17:03] chrisdholt commented on #3978
Per @radium-v there are a couple ways MacOS allows you to navigate. This also could be an issue with a new OS - what version are you on @awentzel? I do not repro this on Cataline 10.15.5.

[2020-09-28 17:08] scomea opened #3979 "bug: component explorer dropdowns need more differentiation from page background"
In the example below (edge, windows) it is difficult to tell where the menu items stop and where the other page content begins.

![image](https://user-images.githubusercontent.com/7649425/94463610-0cf1ba00-0172-11eb-8782-d80792d70f44.png)

We should add a border or some contrast to differentiate the two.

**What are the steps to reproduce the issue?**

- Go to https://explore.fast.design/component

[2020-09-28 17:45] scomea opened #3980 "bug: component explorer code samples hard to read in high contrast mode"
In high contrast mode (Windows, Edge) the code samples do not have a high enough contrast ratio.

![image](https://user-images.githubusercontent.com/7649425/94467123-58f32d80-0177-11eb-940c-5300dd247327.png)

**What are the steps to reproduce the issue?**
- Go to https://explore.fast.design/components/fast-accordion
- turn on high contrast light mode
- note code sample in the lower panel

**What b

[2020-09-28 18:18] #3755 closed

[2020-09-28 21:01] nicholasrice commented on #3973
It's worth noting that `@microsoft/fast-components` *does* export `isDarkMode`, but I think @bheston makes some good points about when and how it should be used. Relating the base and accent color directly will be part of #3833 is mentioned above.

Based on the above, is there any action we need to take on this now or can this be closed?

[2020-09-28 21:10] chrisdholt commented on #3973
The wrinkle here with @microsoft/fast-components exporting `isDarkMode` is that it's technically deprecated and has been moved to Fluent UI. I think that's where the request here came from.

[2020-09-28 22:56] chrisdholt commented on #3960
Thanks @CuddleBunny - I think the primary question here is if this goes into the foundation bundle itself or whether this would be more worthwhile as part of an additional package or utility.

[2020-09-29 00:02] #3961 closed

[2020-09-29 00:12] nicholasrice commented on #3973
The function definition does not contain a deprecation doc tag https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/color/palette.ts#L160. Where do you see that it is deprecated? The function is exported from `@microsoft/fast-components`: it hasn't been moved to Fluent UI.

[2020-09-29 00:13] chrisdholt commented on #3973
@nicholasrice - I misread...I thought your initial post referenced `@microsoft/fast-components-msft`.

[2020-09-29 00:17] nicholasrice commented on #3973
Gotcha, no worries. Yea FluentUI uses `@microsoft/fast-components-styles-msft`, but that package exports `isDarkMode` as well

[2020-09-29 01:09] nicholasrice commented on #3813
The struggle I always have with *absolute* systems (and by that I just mean there is a value like `--z-index-dialog`, `--z-index-flyout`, etc) is that it ignores the mechanics of how the stacking context really works and can quickly fall down when a new stacking context is created higher in the DOM tree. You can visualize what I mean here: https://codesandbox.io/s/serverless-worker-r2ihm?file=/ind

[2020-09-29 02:18] CuddleBunny commented on #3813
@nicholasrice - I think this is acceptable behavior but most folks don't understand this so we should include a note in the docs  warning against nesting the "layers"

[2020-09-29 02:24] chrisdholt commented on #3813
I'd also say, there may be some explorations (very early) that could be extracted to support a "smart utility" for certain contextual applications. Very ominous...ultimately I'd like to keep this in the "ice box" if we can a bit longer to track the underlying request and see what shakes out from those ominous explorations.

I would agree @CuddleBunny that documentation would be helpful here and li

[2020-09-29 02:28] scomea commented on #3813
Maybe a system where we have standard named layers that we can set defaults for a dirt simple base implementation, but allow for it to be changed contextually so that a dialog could change the values for its children.

[2020-09-29 03:06] CuddleBunny commented on #3960
I think it makes sense as a standalone component that can optionally use the fast design properties whilst falling back to sensible defaults. This way it can be consumed without fast components if desired. Should a `fast-contrib` repo be set up for this purpose or should I just go ahead and roll my own repo?

[2020-09-29 14:39] CuddleBunny commented on #3813
@chrisdholt / @scomea - how might such a system work? As seen in the example above from @nicholasrice, it doesn't really matter if the nested stack has an explicit or contextual value. It will still never be on top. The only possible alternative I could think of is to have root level "portals" ordered by layer for such nested content to be re-parented into but that would come with its own set of c

[2020-09-29 15:45] chrisdholt commented on #3813
Correct - my ominous "hand-wavy" exploration language would be more related to host element z-index work.

[2020-09-29 16:41] scomea commented on #3813
The only way such a system "works" is by authors structuring their apps to make it work, taking into account constraints that Nick points out.  Elements that need to be stacked over each another using z-index would need to be in the same stacking context.  For example an element in the "foreground" z-index of a dialog would not necessarily be in front of other elements outside the dialog. I've had

[2020-09-29 17:53] litteredwitherrors opened #3985 "Incorrect styling in explore skeleton example"
**Describe the bug; what happened?**

The component with a `shape="circle"` attribute applied has a `border-radius` applied to it in the inline-styles forcing it to display as a rectangle. Fix instructions below:

_Incorrect_
[code]

_Correct_
[code]

**What are the steps to reproduce the issue?**
1. Go to: https://explore.fast.design/components/fast-skeleton
2. See example

**What behavior did yo

[2020-09-29 18:08] nicholasrice opened #3987 "Facilitate Card as a DesignSystemProvider scenario"
There is a common use case that is currently difficult to solve, and that is when arbitrary components need to be a `DesignSystemProvider` to provide a subset of design-system context for their children. A common case of this is the *Card* component. A *Card* generally applies a background color to distinguish itself from its container's background-color, and children rendering inside of a Card sh

[2020-09-29 18:21] nicholasrice commented on #3987
I put together a prototype implementation of this [here](https://github.com/microsoft/fast/tree/users/nirice/card-exploration) which I'll run use to run some performance tests.

[2020-09-29 19:28] scomea opened #3989 "bug: template attribute bindings get incorrectly formatted in some circumstances"
In order to resolve an issue with the tooltip component not working properly in our documentation sample we added quotes around the bound attribute values in  the tooltip template:

[code]

instead of

[code]

See resolved PR here - https://github.com/microsoft/fast/pull/3988/files

While this appears to have fixed the issue we don't have a good understanding of why the quotes are required and whe

[2020-09-29 19:50] awentzel commented on #3894
@nicholasrice, a link the latest error is [here](https://github.com/microsoft/fast/runs/1153498820?check_suite_focus=true) but, this can also be found by going to GH Actions for "FAST - Validation" each Wednesday.

[2020-09-29 20:10] awentzel opened #3990 "Add error/failure logic to gracefully exit execution"
Azure CLI is used with bash scripts to perform operational and infrastructure tasks.  These bash scripts should include additional error trapping logic to gracefully exit execution immediately if an error rather than continuing to run.

Resolved #4103

[2020-09-29 20:26] awentzel opened #3991 "Programmatically create Azure Key Vaults"
This task would allow running a new recipe in order to generate a key vault.  This is important when testing out new features in development and then replicating them into production.  If a production issue occurs requiring rebuilding a service, it can be expedited through scripting the installing and configuration.

The key vault service is located in `./build/operations/recipes/services/create-k

[2020-09-29 20:52] janechu commented on #3979
As a little more information, the dropdown itself is browser and/or operating system specific, so there needs to be a solution that fits all of them, from **MacOS** here are some screenshots from various browsers:

Edge:
<img width="357" alt="Screen Shot 2020-09-29 at 1 48 48 PM" src="https://user-images.githubusercontent.com/7559015/94614186-a1cfe280-025a-11eb-9e81-2ae0836c458a.png">
Firefox:
![S

[2020-09-29 21:06] awentzel opened #3992 "Remove AAD from staging sites"
As an open-source public-facing product there is no need to require authentication on staging sites.  Remove this feature.

There is one thing to keep in mind.  We much not remove this feature until we have robots.txt file in both production (allow indexing) and staging (disallow indexing) otherwise, we could jeopardize SEO indexing.

[2020-09-29 21:33] scomea commented on #3979
Top of the page is Windows Edge,   Here are some other windows browsers.

Chrome:
![image](https://user-images.githubusercontent.com/7649425/94618739-7a7c1400-0260-11eb-9811-e6fac4b4688c.png)

Firefox:
![image](https://user-images.githubusercontent.com/7649425/94618842-ad260c80-0260-11eb-8dc6-42b7c2a9f3c1.png)

[2020-09-30 00:48] nicholasrice commented on #3987
I set up a quick [perf experiment](https://github.com/nicholasrice/fast-card-prototype) to test the above approach compared to a version where CSStyleSheets and behavior registry are not shared between card instances and the results are promising. Appending an element that renders 100 cards w/ a button inside of each takes:

**re-used CSSStylesheet and registry**: 91ms
**individual CSSStylesheets

[2020-09-30 06:33] janechu commented on #3985
This can be fixed after #3930 as that issue is slated for this week.

[2020-09-30 18:50] litteredwitherrors commented on #3881
Would a suitable solution be to add a left margin to the checkbox? It makes sense to me to match the left margin of the checkbox part with the right margin of the `icon` part. The question would be: Would that break the design requirements?

[2020-10-01 18:23] nicholasrice commented on #2694
I did some further investigations into the "wrapper" model described above that can be viewed here: https://github.com/microsoft/fast/tree/users/nirice/input-control

And while I didn't prototype every control, I did run into several issues:

**Changing CSS based on input state:**
Controls such as radio and checkbox change visually when `checked` and `indeterminate` and the control should be able

[2020-10-02 00:15] #3881 closed

[2020-10-02 15:44] CuddleBunny commented on #3978
Firefox on Windows has tab stops on both the custom element and the internal input as well. If you have two `fast-text-field` elements in a row it will take two tab presses to move focus from the first to the second.

[2020-10-02 16:40] chrisdholt commented on #3978
@CuddleBunny is this specific to fast-text-field or are there multiple component instances where you're seeing this? What you are describing seems more linked to https://github.com/microsoft/fast/issues/3882 than the above IMO.

[2020-10-02 17:40] chrisdholt opened #3998 "[Dialog] Add methods for show/hide"
This issue is a few weeks overdue, but I continue to recall and reference it while giving feedback to others. I think our Dialog component should include methods to toggle the visibility of the dialog.

[code]

[2020-10-02 18:23] CuddleBunny commented on #3978
@chrisdholt - actually it looks like it was fixed in the most recent release. Ignore me 🙃

[2020-10-02 20:56] awentzel opened #4000 "Implement elasticity across azure app services"
This would enable auto-scaling up and down across services as demand changes over time.

1. Script auto-scaling with the Azure CLI
2. Script to include as part of the configuration for app service plan
3. refer to https://docs.microsoft.com/azure/app-service-web/web-sites-scale for details

[2020-10-03 01:41] nicholasrice commented on #3882
I've narrowed down one of the reasons why we're experiencing these focus issues: https://webcomponents.dev/edit/ylwdCUY3qLoP3fpkc1J8

It appears that Chromium and FF both have a behavior where a user cannot tab to an element w/ `[tabindex="0"]` that is *inside* a custom element `[tabindex="-1"]`. This is pretty problematic for the tree-view scenario because FF and Edge *also* has an issue where ta

[2020-10-05 17:39] janechu commented on #3980
@khamudom is there a way to detect when we go to high contrast? Then the solution can be flipping the theme to `hc-black`.

[2020-10-05 17:58] khamudom commented on #3980
I can investigate that.

[2020-10-05 23:25] jumarroq opened #4004 "Selected item deselects on click in TreeItem.ts"
The selected treeitem deselects itself when the user clicks on it.

With a TreeView I was able to repro this
1. select an unselected treeitem. It should be selected
2. select the treeitem again. The treeitem wil be unselected

I expected the treeitem to still be selected.

Observed in Windows, Google Chrome

[2020-10-06 00:43] chrisdholt commented on #4004
Thanks @jumarroq! We'll get this fixed.

[2020-10-06 15:35] jpfifer opened #4008 "FormAssociated does not reset form fields when the parent form's reset() method is invoked."
**Describe the bug; what happened?**
Once a `fast-text-field` is dirty changing the underlying field for the value will not change the value in the text box.

**What are the steps to reproduce the issue?**
Using the provided repro:
1. Click on *Two*
2. Edit the *Using value => two* text box
3. Click on *Three*

**What behavior did you expect?**
The value in the *Using value => ...* text box should

[2020-10-06 15:42] jpfifer opened #4009 "When binding :value in fast-text-field the initial value of the bound field is not set"
**Describe the bug; what happened?**
When using `:value` to bind the value from a variable the initial value is not set to the variable's value.

**What are the steps to reproduce the issue?**

Using the provided repro
1. On initial load the value of **Using :value => one** shows the placeholder value, and not the current value of `one`
2. Switching to another source and back to the initial source

[2020-10-06 15:49] nicholasrice commented on #4008
Once the `value` IDL property has been set (either programmatically or through user interaction) it is expected that changing the `[value]` content property will have no effect on the `value` IDL property. Is that the behavior you're seeing? If so, that is by design and consistent with native `<input />` behavior.

[2020-10-06 17:25] jpfifer commented on #4008
That does appear to be the case. Looking through the standard it gets confusing [the IDL for value talks about a dirty detection](https://html.spec.whatwg.org/multipage/input.html#dom-input-value) which doesn't seem to indicate changing the value should work (It doesn't for native `<input type="text">` as well so it is consistent with the native element).

After jumping around it looks like there

[2020-10-07 17:36] #3882 closed

[2020-10-07 17:42] awentzel opened #4012 "Initial page load time for Creator and Explorer are subpar"
When viewing https://explore.fast.design and https://create.fast.design on https://gtmetrix.com for performance analysis both fully between 4-6 seconds.  Ideally, all FAST sites would fully load in under 2 seconds.

There are a few issues on [GTMetrix](https://gtmetrix.com/) reports that can be improved when looking at the following analysis performed.

* https://gtmetrix.com/reports/explore.fast.

[2020-10-08 17:25] litteredwitherrors opened #4017 "Active indicator and selected tab become out of sync in fast-tabs component"
**Describe the bug; what happened?**

The active indicator and selected tab become out of sync in `fast-tabs` component.

**What are the steps to reproduce the issue?**

Example:

1. Go to [fast-tabs](https://explore.fast.design/components/fast-tabs)
2. Double click on "Tab two"
3. Click to another tab
4. See out active indicate become out of sync

**What behavior did you expect?**

The active ind

[2020-10-09 16:33] janechu commented on #3872
Just a note, we could put the version number on the production site for:
- The latest production release

Once staging is opened up, the nightly releases would accumulate and we could include both:
- The latest production release
- The latest nightly release

I think we could also include a changelog for these releases. This way consumers of our nightly releases can see exactly what they're gettin

[2020-10-09 20:50] #3903 closed

[2020-10-11 18:07] MarcSkovMadsen opened #4019 "fast-slider does not raise "change" event"
I'm trying to use the `fast-slider` and it's value `property`. According to the [specs](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/slider/slider.spec.md) the `fast-slider` will raise the `change` event when the value is changed.

That does not work for me.

I'm on fast v. 1.11.

## Example

When I run the below in a browser and change the slider knob

[2020-10-12 04:53] MarcSkovMadsen opened #4020 "fast-slider sets value to NaN if developer tools open"
I'm trying to use the `fast-slider` and I see several bugs. In order to understand these bugs I use Chromes developer tools. But if I drag the slider while the developer tools are shown

- I cannot drag the slider. It's fixed.
- The aria-valuenow is set to NaN

![image](https://user-images.githubusercontent.com/42288570/95706582-86e86f80-0c57-11eb-9d70-3e4ce8da7854.png)

[code]

![fast-slider-not-

[2020-10-12 04:59] MarcSkovMadsen opened #4021 "fast-slider value attribute does not update"
I'm trying to use the `fast-slider` and would like to use it's `value`. I've tried to add a handler to the `change` event. But it is never raised. See https://github.com/microsoft/fast/issues/4019

Thus instead I would like to use the `MutationObserver` to watch for attribute changes. But when I drag the slider and change it's `value`, the `value` attribute is unchanged. Instead the `aria-valuenow

[2020-10-12 14:48] EisenbergEffect commented on #3926
Closing as by design.

[2020-10-12 18:26] Tiffastic commented on #3045
How do we fix the issue?

[2020-10-13 17:19] #3966 closed

[2020-10-14 00:33] #3972 closed

[2020-10-14 17:57] #3564 closed

[2020-10-14 21:12] scomea opened #4034 "bug: utton component not detected as part of tab"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

Example:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google C

[2020-10-14 21:27] scomea opened #4035 "bug: Fast button component not added to tab queue in fast dialog by default"
Fast button elements that are children of a fast dialog don't appear in the dialog's tab queue because fast buttons are not detected as [tabbable](https://github.com/focus-trap/tabbable) because the button tag is not discovered because it exists in the shadow dom.

A possible solution is to mark fast-button elements with a tabindex of "0" by default so tabbable discovers it.  This may affect other

[2020-10-14 21:32] scomea commented on #4035
Related issue to be aware of - https://github.com/microsoft/fast/pull/4036

[2020-10-14 23:17] #3930 closed

[2020-10-15 16:22] scomea opened #4038 "bug: dialog does not track all possible updates to internal tab queue"
The dialog component updates it's list of tabbable elements based on adding/removing child elements but not other cases, like elements having tab index changed programmatically.  This [fix](https://github.com/microsoft/fast/pull/4036) addressed some pressing issues with the dialog tab queue but we should revisit the issue:

- is there a different approach that does not have an external dependency

[2020-10-15 18:58] #3885 closed

[2020-10-15 20:45] radium-v opened #4039 "[bug] `UnhandledPromiseRejectionWarning`s when building fast-components"
**Describe the bug; what happened?**
When running the `generate-open-ui-definition` script in `fast-components`, a string of `UnhandledPromiseRejectionWarning` errors are thrown.

**What are the steps to reproduce the issue?**
1. Start from a clean environment (`yarn lerna clean && rm -rf node_modules`)
2. Run `yarn install` to install packages and run `prepare`
3. Change directory to `packages/we

[2020-10-15 23:39] marjonlynch opened #4040 "Add ability to have child radio buttons nested under fast-radio-group"
Cognizant of the fact radio-group has its own navigation model and aria based specifications (https://w3c.github.io/aria-practices/#radiobutton) we should allow child `fast-radio` components to be nested in DOM rather than exist as direct descendants of `fast-radio-group`. Currently they only become part of the group if they are direct descendants of the radio group element.

We need to take care

[2020-10-16 20:15] radium-v opened #4041 "Icons disappear when navigating to accordion fixture in fast-components Storybook"
**Describe the bug; what happened?**
The `fast-accordion` component story loses its icons when navigating to the story from another.

**What are the steps to reproduce the issue?**
1. Start storybook in fast-components: `$ yarn start`
2. Observe that the default story loaded is the Accordion, and the expand/collapse icons are present.
3. Navigate to another story by clicking an item in the Storybo

[2020-10-16 20:48] nicholasrice opened #4042 "Should Controller.addStyles and Controller.removeStyles support HTMLStyleElementInstances?"
The FASTDesignSystemProvider requires programmatically setting CSS properties on a CSSStyleRule that selects the element host. In cases where constructable styles are supported, the provider constructs a new CSSStyleSheet instance and supplies that instance to `$fastController.addStyles()` during construction. In cases where constructible styles are *not* supported, the provider instead uses the `

[2020-10-19 16:19] scomea opened #4044 "bug: fast-anchor example has no margin between icon in default slot and primary text"
Needs space between icon and anchor text:

![image](https://user-images.githubusercontent.com/7649425/96477944-f3c9af80-11eb-11eb-8e92-d0dcb82ad114.png)

1 - go to https://stage.explore.fast.design/components/fast-anchor
2 - choose the "Icon in default slot" example

[2020-10-19 16:22] scomea commented on #4044
Button has the same issue
![image](https://user-images.githubusercontent.com/7649425/96478460-8d915c80-11ec-11eb-8b1e-c4b159d0766b.png)

[2020-10-19 16:27] scomea opened #4045 "bug: "previous" flipper icon missing"
No icon.

**Describe the bug; what happened?**
![image](https://user-images.githubusercontent.com/7649425/96478947-245e1900-11ed-11eb-9eee-97563325438b.png)

1 - go to https://stage.explore.fast.design/components/fast-flipper
2 - select "previous" example

[2020-10-19 16:51] chrisdholt commented on #3904
I'm going to put together a quick repro of this and see if we can get it into this release.

[2020-10-19 16:54] #3968 closed

[2020-10-19 16:56] awentzel commented on #3872
Feedback has been re-incorporated into the top detail section.  Noting that Testing and Releasing "weeks" does not infer must spend the entire week doing the activity, only that the hour of testing must be performed.  This work should result in no issues or new issues to be triaged and prioritized for this release or future release.  This "week" then affords time for completing the commitment.  Th

[2020-10-19 16:57] EisenbergEffect commented on #3891
Now that we've worked out a plan for closed mode shadow dom, the original issues should be resolved. If an abstraction is needed for other scenarios, it need not be included in our library.

[2020-10-19 16:57] #3891 closed

[2020-10-19 17:02] awentzel commented on #3872
@janechu nightly releases for sites would be a long term goal as require major infrastructure changes and based on full automation which I'm in favor of.  Staging will continue to deploy every time a PR is merged into master.  There are just a lot of moving parts to get this in so I'd rather focus on improving the current process to solve current challenges.  Vdiff etc are major feature improvemen

[2020-10-19 18:09] nicholasrice commented on #4008
@jpfifer sorry I lost you a bit there. It sounds like there is an issue with the `reset()` method of the form not resetting the text-field, but is the initial issue of binding to the `value` attribute clarified / resolved?

[2020-10-19 22:28] #4042 closed

[2020-10-19 23:06] #4045 closed

[2020-10-19 23:57] bheston commented on #3906
It wouldn't be considered standard, but putting the check at the end does solve some design issues that can happen. It would be nice if the check was its own element such that the position could be moved around the grid. Ultimately the menu may need more than a begin and end slot anyway considering there could be chevrons for submenus or keyboard shortcut labels.
The default design I suggest putti

[2020-10-19 23:59] chrisdholt commented on #3906
Assigning to @radium-v as he's tracking other menu item changes for checkbox and radio behavior

[2020-10-20 01:44] MarcSkovMadsen commented on #3906
again. For me this is not about Checkboxes but selections.

The important thing here to note @chrisdholt and fix is that if I click the top menu-item it gets selected (fixed red color, border etc.). But that does not happen for other menu-items.

[2020-10-20 01:51] chrisdholt commented on #3906
I'll look to confirm, but I think that is actually a focus rect in the example that you're showing above based on the border, etc. None of the examples from what I can see are either menuitemcheckbox or menuitemradio, just menuitem - so I'm not sure I'd expect a selected state.

It is odd that only one receives the focus state on click as you illustrate.

[2020-10-20 08:19] beingminimal commented on #3457
Hi @radium-v , Is there any update on this task?

[2020-10-20 17:44] #3998 closed

[2020-10-20 19:58] nicholasrice opened #4054 "FormAssociated elements don't remember state values when reloading a form"
FormAssociated should set the `state` flag when invoking `ElementInternals.setFormValue()` as a result of changing the element's value property so that the Form can re-hydrate the form-associated elements.

[2020-10-20 20:17] EisenbergEffect commented on #3944
I'm having trouble reproducing this. Here's a demo I put together:

https://webcomponents.dev/edit/ptFo1rBme8Y5SGyJAVzm

Everything seems to work fine. Is there some other detail I'm missing?

/cc @scomea

[2020-10-20 21:47] awentzel opened #4055 "Add code coverage to all packages"
Code coverage is not being collected by many packages.  For example, `fast-component-explorer` is no longer collecting code coverage because it's missing from the package.json file.  This also, could be contributing to build errors because the yaml job is looking for it's `coverage` folder.  Without configuration it will never run and yet the CI pipeline is attempting to run it.

This should be re

[2020-10-20 22:46] nicholasrice opened #4056 "Implicit behavior registration for ElementStyles"
I was chatting with @bheston and he was wishing out loud for implicit registration of color recipe behaviors when using `css` so that authors wouldn't forget to invoke `withBehaviors`. I think that this would actually be pretty straight-forward with the existing tools in place.

First, add an interface for `css` to understand:

[code]

Then expand the `css` call signature to accept ElementStylesBe

[2020-10-20 23:03] nicholasrice commented on #4056
Looks like this is addressed by #3748, closing as duplicate.

[2020-10-20 23:03] #4056 closed

[2020-10-20 23:23] EisenbergEffect commented on #3944
Update, thanks to @scomea I was able to repro the mergeSplice bug. I've identified the issue and we'll get a PR up for that one soon. Haven't been able to reproduce the left over element issue yet though.

[2020-10-20 23:23] nicholasrice commented on #3748
It would be good to make the placeholder portion of this optional. Doing so opens-up use-cases like `forcedColorsStylesheetBehavior` where there isn't a string to return and interpolate into the larger CSS document.

[code]

[2020-10-21 15:06] awentzel opened #4057 "configure www.fast.design to avoid showing web server configuration directives"
Description:

Default configurations of web servers often provide too much information about their platform and version in HTTP headers and on error pages. This data is not itself dangerous, but it can help an attacker focus on vulnerabilities associated with your specific web server platform/version.

Details noted:  https://webscout/#/scans/804976/issues?issueId=4065508
Curiously, all sites use

[2020-10-21 15:25] awentzel opened #4058 "remove `add-path` from GitHub Actions"
`add-path` is being deprecated and should be updated based on recommendations as shown on this week's weekly run https://github.com/microsoft/fast/actions/runs/319308716

![Screen Shot 2020-10-21 at 8 24 10 AM](https://user-images.githubusercontent.com/16669785/96741695-f0aefa80-1376-11eb-99b0-af96e721c4ea.png)

[2020-10-21 15:52] awentzel commented on #3872
Added "Publish to NPM and GitHub Packages" section in the issue details.

[2020-10-21 17:36] #4020 closed

[2020-10-21 17:39] awentzel opened #4059 "Update FAST CLI to turn off arr affinity"
The file `create-app-sh` should configure each web app with a disabled arr_affinity value.  There does not seem to be an Azure CLI attribute available to perform this.  There may be a way to use https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest and set the value through `appsettings` but I have not yet found an example.

[2020-10-21 21:33] awentzel commented on #3872
I've updated the schedule, deleted sections not currently in-scope.  Please provide opinions on NPM publishing cadence, issues, and requirements.

[2020-10-21 21:45] #4009 closed

[2020-10-22 22:39] awentzel opened #4060 "Implement app diagnostics on Azure Monitor for each Web App"
https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings?view=azure-cli-latest#az_monitor_diagnostic_settings_create

1. create a new `services/create-ag.sh` for "Azure Monitor Action Group"
2. clone contents of `create-log.sh` to get close to implementation pattern
3. configure each web app to diagnostic settings integration as shown currently
4. update the `create-st.sh` bash scrip

[2020-10-22 23:39] awentzel opened #4061 "create authentication/authorization script"
Using the same coding pattern for other bash scripts creates the following which will automate the creation of installing and configuring authentication/authorization using Azure Active Directory.

1. Create a new bash script named `create-ad` for active directory
2. Create a new bash script named 'create-ar` for app registration
3. Refer to Azure CLI for the commands to initiate from each batch s

[2020-10-23 19:11] jpfifer commented on #4008
What I noticed is that if I call [`HTMLFormElement#reset`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/reset) the native element would accept the `value` binding. The `fast-text-field` would still not accept the value change.

My original goal was to allow selecting an item to edit, and on selecting a new item would load the values from the data source. I wasn't concerned abou

[2020-10-23 20:49] robarbms commented on #4019
I ran some tests against the sliders in the story book using this snippet in the console:

Array.from(document.getElementsByTagName("fast-slider")).map(s => s.addEventListener("change", function () {console.log(this.value);}));

It was console logging the updated values as I moved the slider with both addEventListener and the elements .onchange property.

I found a mistake in the code example abov

[2020-10-23 20:49] #4019 closed

[2020-10-26 13:23] awentzel commented on #3872
I'm proposing we release npm packages upon every merge to master.  `dev` and `next` tags would update on every merge to master where a minor/patch has been incremented.  `latest` would update manually as part of monthly release cadence until a container strategy is employed whereby staging can also be tested locally and thus reducing risk of issues in staging/production and paving the way for the

[2020-10-26 13:54] EisenbergEffect commented on #3872
This sounds like a good plan. I think we just need to figure out the details of whether we can use beachball for the dev/next releases and how the package versions and depdencies would work.

[2020-10-26 14:02] EisenbergEffect commented on #4034
@scomea What is this?

[2020-10-26 14:03] EisenbergEffect commented on #4034
Actually, this looks like an incomplete duplicate of the other tab button issue. Closing.

[2020-10-26 14:03] #4034 closed

[2020-10-26 14:07] EisenbergEffect commented on #4039
/cc @janechu

[2020-10-26 14:42] EisenbergEffect commented on #3591
Ping @litteredwitherrors to create specific issues for any remaining work. Closing this out.

[2020-10-26 14:42] #3591 closed

[2020-10-26 14:43] awentzel commented on #3872
@kenotron, I have a couple question's on Beachball I'm hoping you can help with.  Does it support multiple channels or formatting, it looks like it supports 'canary' now, but can't find the documentation.  For example, something like TypeScript where we can have three channels dev next and latest For example, dev=`1.0.1-dev.20201026` next=`1.0.1-dev.202010.26` and latest `1.0.0`.

[2020-10-26 15:46] EisenbergEffect opened #4068 "feat: select component"
John to fill in details...

[2020-10-26 15:52] #3941 closed

[2020-10-26 15:54] #3978 closed

[2020-10-26 16:07] kenotron commented on #3872
To answer the main question: beachball does take a "--tag", you can also have pair that with a "--no-push" to not touch the master branch. Another kind of flow would be to have several branches to have `beachball publish` diff & push to a `next` or `dev` branch.

Aside: It's not documented because it's sort of a beta feature right now. Collectively I really think we're all abusing the "prerelease"

[2020-10-26 16:17] khamudom commented on #3969
The issue is fixed in the latest fast-website build

[2020-10-26 16:17] #3969 closed

[2020-10-26 17:03] chrisdholt commented on #4044
I think this an issue with the configuration - this is coming from Storybook:

![image](https://user-images.githubusercontent.com/13071055/97203746-7b766780-1772-11eb-948d-fbab15cd1f99.png)

Taking a look

[2020-10-26 17:08] chrisdholt commented on #4044
Looks like this has been fixed:

Icon in the default slot:
![image](https://user-images.githubusercontent.com/13071055/97204309-2e46c580-1773-11eb-80a3-f1f25b5ffbea.png)

[2020-10-26 17:08] #4044 closed

[2020-10-26 17:16] chrisdholt commented on #3904
@ben-girardet I think I know where this may be coming from based on a separate investigation. I think the issue here is the fixed width being set across the controls: https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/menu-item/menu-item.styles.ts#L85

I think we likely don't want to fix the width here for start/end to 16px

[2020-10-26 17:46] janechu commented on #3980
This was found to be an issue in the `vs-dark` theme in vscode, an issue has been created for it https://github.com/microsoft/vscode/issues/109402 as well as a pull request https://github.com/microsoft/vscode/pull/109403

[2020-10-26 17:52] #4039 closed

[2020-10-26 18:50] bheston commented on #3904
From a design perspective I'm not sure removing the size is the right change to make. @ben-girardet is this case you discovered as a test only or is there a design you had in mind? I'm trying to understand what the expected behavior would be for content preceding the menu item text. Granted we intend for the slots to be flexible, but hadn't identified what that might be for this particular compone

[2020-10-26 19:01] chrisdholt commented on #3904
I think this is going to be too prescriptive to be honest for all or any start/end content. There's a way we could build this to ensure that the text continues to align and technically we could align whatever is in start/end as well. The problem we end up with by keeping this is that a menu or menu item in the FAST components can really only support a 16x16 thing. There's a tension here between ho

[2020-10-26 19:01] ben-girardet commented on #3904
@bheston this came to me when trying to use the `fast-menu-item` and placing icons (font-awesome in that case) in the `start` slot. I usually have icons at 24x24px inside buttons, not 16x16. Therefore I don't quite understand these fixed values.

I'm all in for consistency and providing basic useful styles in components. I guess I was surprised that using standard icons in the `start` slot would c

[2020-10-26 19:07] chrisdholt commented on #3904
This is my primary concern to be honest. I'm not sure we have a generic enough principle to hoist these to the overall design system. Perhaps it could be a CSS variable which could set it?I think the biggest question is, what's the expected default behavior? I would expect for the goals of FAST components that I can put something in start/end and it will render in an unbroken state. By fixing all

[2020-10-26 19:24] awentzel opened #4072 "Lock resources groups for production"
It's important to lock production resources such that they are not vulnerable to accidental deletion except by permissions.  Roles are already established and implemented, but, prior to releasing scripts code into master we should lock resources as well.

Details can be found https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/manage-resource-groups-cli#lock-resource-groups

[2020-10-26 19:26] EisenbergEffect commented on #3944
Update: @scomea helped me reproduce what I like to call the "zombie" node bug. I've got a PR up to fix this.

[2020-10-26 20:16] awentzel commented on #3519
No longer a priority.

[2020-10-26 20:16] #3519 closed

[2020-10-26 20:46] khamudom commented on #3904
I think this is the right approach. I have already made the changes and made sure to test for no regression.

[2020-10-26 23:51] nicholasrice commented on #4021
The value *attribute* is not written for every change to the element's value *property*. This is by design and is consistent with the behavior of native `<input />` elements.

The `value` property is observable however, and you can subscribe to changes to the `value` property using the the [Observable](https://www.fast.design/docs/fast-element/observables-and-state#external-observation) API. Addit

[2020-10-26 23:51] #4021 closed

[2020-10-27 14:27] awentzel commented on #3872
Thanks @kenotron, and also for sharing thoughts on [Semver 2](https://semver.org/).  Can you also confirm that Beachball conforms to Semver 2 in its algorithms?  Do you have any examples using canary?  Is the canary feature stable enough as a beta for our team to use or do you recommend holding off?

With Semver here's what matters for sake of this proposal and my recommendation to follow Semver 2

[2020-10-27 14:43] awentzel commented on #3872
We also will want to probably include a checkbox to ensure that the manual "beachball change" has been used to generate the `/changes` folder/files which are used by the CI to determine how/what is published using `beachball publish`.

For example:
- [ ] I have ran `beachball change` and reviewed the changes for accuracy

[2020-10-27 16:32] chrisdholt commented on #3872
In my opinion I think the build should just fail there. There should always be a change file even if it’s just a chore. I’m not sure the checkbox is going to accomplish more than a failed build will. The more checkboxes we get the less important they seem to me

[2020-10-27 18:03] chrisdholt opened #4076 "Update all FAST components to use attributes for styling rather than classes"
This issue is meant to track an improvement to leverage attributes for styling rather than classes. Hoisting classes out of web components can have unintended side effects with author applied classes and can be clobbered when integrated with certain frameworks.

This task should be considered "complete" when all components have been updated to leverage attributes instead of classes.

[2020-10-27 18:10] #3944 closed

[2020-10-27 18:25] EisenbergEffect commented on #3944
Should be all fixed in the next release 😄

[2020-10-27 18:32] bheston commented on #3904
I see no issues with removing the fixed 16x16 value, as we know we plan to do to support at least 20x20 icons as well. 24x24 would fit within the relative item height as well, so no issues there.

In general I agree that we don't want to have constrained sizes, as we should remove for components like buttons. If there's a way we can adjust menus so they align correctly that sounds like the best so

[2020-10-27 18:55] vertonghenb commented on #4076
###  :host() style selecters
From:
`:host(.filled)`
To:
`:host([appearance='filled'])`

@chrisdholt do we intend to still add the class names to the classList or is it just the styling that's changing?

[2020-10-27 19:06] chrisdholt commented on #4076
Example is here: https://github.com/microsoft/fast/pull/4077

Open to feedback from others (@nicholasrice) but IMO, I think classes are redundant given the update.

[2020-10-27 23:28] awentzel commented on #3872
Two new requirements:

1. build should fail if no `/changes` directory has been generated, which is the output from running `beachball change`
2. beachball must support `metadata` creation.  Request submitted [here](https://github.com/microsoft/beachball/issues/435).

[2020-10-28 09:49] vertonghenb opened #4082 "Add (invalid) validation styling to form components"
**What feature are you requesting?**
Adding validation styles when the form component is invalid.

**What would be the benefit of adding this feature?**
Uniform styling of validation errors.

**What solution would be ideal for you?**
using an attribute `aria-invalid`

**What alternatives have you considered?**
Adding custom styling

**Attach screenshots or images add detail to your request:**
Some

[2020-10-28 17:18] vertonghenb commented on #4076
Maybe we should consider aligning the Fluent package with these changes.
https://github.com/microsoft/fluentui/tree/master/packages/web-components/src

[2020-10-28 17:22] chrisdholt commented on #4076
Yes, That's always part of the plan - if you'd like, I'm happy to take a change in that repo as well :)

[2020-10-28 17:27] vertonghenb commented on #4076
@chrisdholt sure, if the other PR #4078 is reviewed and ready to merge I'll make the changes in the Fluent repo. Can you make an issue for it?

[2020-10-28 17:31] chrisdholt commented on #4076
@vertonghenb See issue: https://github.com/microsoft/fluentui/issues/15747

Thanks!

[2020-10-29 00:43] nicholasrice opened #4084 "remove the indeterminate class from Checkbox"
This issues tracks a follow-up to #4078.

Checkbox adds the `indeterminate` class to the custom element host when the control is in an indeterminate state. #4076 defines the intent of components to style themselves without hoisting classes to the element host.

This is problematic for the Checkbox because the Checkbox does not expose a `indeterminate` content attribute, only the `indeterminate` ID

[2020-10-29 17:10] #4076 closed

[2020-10-29 19:40] bheston commented on #2477
This was initially considered for the msft package, though I believe it's useful enough and contains enough complexity that it is beneficial to have as at least a preconfigured variant to a radio group. I think you're right that the interaction model is the same. I think it's worth having on the backlog at least.

[2020-10-29 20:35] #3904 closed

[2020-10-29 21:23] awentzel commented on #3872
I understand this can be tested with `beachball canary --tag dev --registry http://localhost:4873` though still need to try and it and adding it here for documentation when I pick this task up again soon.

[2020-10-30 21:08] EisenbergEffect commented on #3872
@kenotron Would you take a PR to add the metadata features that @awentzel needs? If you can point me to the relevant locations in the codebase, I may be able to squeeze out some time to put that together. We're anxious to get this going for our project and happy to make necessary contributions back to Beachball to enable that.

[2020-10-30 22:38] muhammad-saleh opened #4086 "Text field has undefined value on Firefox Nightly"
**Describe the bug; what happened?**
The textbox on the website has undefined as a value

<img width="1250" alt="image" src="https://user-images.githubusercontent.com/1510608/97762245-951c0400-1b10-11eb-870b-b884a629c842.png">

**What are the steps to reproduce the issue?**
- Go to:  https://www.fast.design/
- Check the textbox on the homepage
- It has `undefined` as a value

**What behavior did y

[2020-11-02 14:22] EisenbergEffect commented on #4086
I'm on macOS Catalina 10.15.7 with FireFox 82.0.2 (64-bit) and cannot reproduce the issue. Perhaps this is an issue in the nightly? @muhammad-saleh Can you provide any additional information?

[2020-11-02 14:33] muhammad-saleh commented on #4086
@EisenbergEffect I checked the console and I found this error:
<img width="667" alt="image" src="https://user-images.githubusercontent.com/1510608/97879530-c5d68600-1d28-11eb-9330-93fa9b525c4c.png">

If you can't reproduce it then it must be a nightly issue only, Feel free to close this issue if it's not a priority then

[2020-11-02 14:44] muhammad-saleh commented on #4086
The issue is also found at:
https://explore.fast.design/components/fast-text-field

I get this error:
<img width="721" alt="image" src="https://user-images.githubusercontent.com/1510608/97881009-8741cb00-1d2a-11eb-85c9-9cc01f150a30.png">

and this issue happen with multiple components

[2020-11-02 14:55] EisenbergEffect commented on #4086
@nicholasrice Can you look into this? Is it possible that FF nightly is implementing element internals but not the full API set? If so, then we need to find out if they intend to ship it like that...if so, we'll need to feature detect differently I think.

[2020-11-02 16:23] EisenbergEffect commented on #3940
@nicholasrice Did we get the fix for this merged in or is this pending the larger provider work?

[2020-11-02 18:02] #4008 closed

[2020-11-02 18:38] nicholasrice commented on #4086
It appears that the `"ElementInternals"` key now exists in `window` so our feature detection is passing, however the at this point none of the features of ElementInternals actually exist in that object.

I don't see any *recent* changes to [this issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1552313) so it's possible this has always thrown in FF nightly. I'll update the feature-detection to e