[2021-09-07 21:33] EisenbergEffect commented on #4952
I'm not sure yet if there's anything we would do at the fast-element level for this. We need to look into how the `select` is finding options. For example, is it trying to look at `children` or is it looking at the `slot`. If it's looking at `children`, then this scenario definitely wouldn't work, for example. So, this might be a set of internal changes in the individual component implementations

[2021-09-07 21:51] chrisdholt commented on #4842
Closing this for now as by design based on the above comment from @bheston and myself. Thanks!

[2021-09-07 21:51] #4842 closed

[2021-09-07 21:52] chrisdholt commented on #4825
@robarbms I wanted to check in and see how this is coming along.

[2021-09-07 21:54] chrisdholt commented on #5001
@litteredwitherrors would be great if we can look at this in coordination with #5002

[2021-09-07 22:38] #5133 closed

[2021-09-07 23:07] #5137 closed

[2021-09-07 23:30] #5136 closed

[2021-09-07 23:30] #5138 closed

[2021-09-07 23:41] scomea commented on #5002
That's because the tooltip contents don't actually exist in the DOM until it is invoked.

[2021-09-08 15:41] atmgrifter00 opened #5166 "fix: TreeView has initial visual glitch when expanding tree groups"
# 🐛 Bug Report

When expanding a tree group, you can see a quick rendering glitch for all of the child items under that group when they first appear. Successive collapsing/expanding of the same group does not have the glitch.

## 💻 Repro or Code Sample

I used the following snippet on your [FAST Tree View example](https://explore.fast.design/components/fast-tree-view) site:

[code]

To get around

[2021-09-08 18:06] #5116 closed

[2021-09-08 18:19] scotia673 commented on #5116
Thanks for the quick turnaround on this @chrisdholt ! I'll plan to uptake this change and try it out as soon as it's published.

[2021-09-08 18:22] chrisdholt commented on #5116
Should publish this evening on the cron - let us know how it goes!

[2021-09-08 18:36] nicholasrice commented on #5125
It looks like creating HTMLStyleElements in experiences w/ restrictive content-security policies is already an issue with fast-element's ElementStyles so I'll plan on taking the approach outline above.

[2021-09-08 19:13] brianehenry commented on #5139
@EisenbergEffect Yeah, I think you would see this issue any time you set the `value` property really early in the element's lifecycle.

Went and looked in Discord for a workaround, and it looks like setting the `option`'s `selected` attribute will set the initial value correctly.

I came up with a workaround for Angular, using a directive to set `selected` on the appropriate `option`: https://stac

[2021-09-08 20:18] EisenbergEffect commented on #5139
Makes sense. Thanks for your patience @brianehenry and willingness to work around for now. We can leave this open to track the issue and as a reference for anyone who hits the problem and needs the same work around.

[2021-09-09 13:42] scotia673 commented on #5116
@chrisdholt , I just tested and it works like a charm. Nice work - thanks again!

[2021-09-09 16:01] claviska opened #5171 "fix: tab-panel display in FAST components"
# 🐛 Bug Report

The [default display of `<fast-tab-panel>`](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/tab-panel/tab-panel.styles.ts#L21
) is `flex`, which is probably not what the majority of users want.

Consider the following code:

[code]

This results in child elements being stacked in the flex row.

<img width="392" alt="CleanShot 2021-09-09 at

[2021-09-09 16:55] chrisdholt commented on #5171
We'd welcome a PR (in both repos if you like)! I'd agree that the default of `block` is likely a more appropriate and expected default.

[2021-09-09 18:03] #5132 closed

[2021-09-09 22:40] shhnjk commented on #4118
Any ETA on this?

[2021-09-10 00:38] EisenbergEffect commented on #4118
@shhnjk Thank you for bringing this back up and for your patience. We had a number of major projects to work on which caused this to drop lower down on our priority list, including the new design tokens systems, new Fluent UI refresh, and some critical perf work. We've got a little bit more to do on that over the next week or so and then it should be behind us and a good time for us to look at pic

[2021-09-10 00:41] EisenbergEffect commented on #5083
Note to self: When we do this work, we should go ahead and address the HTML policy changes here: https://github.com/microsoft/fast/issues/4118 based on Option 4 from the discussion.

[2021-09-10 02:29] #5171 closed

[2021-09-10 04:05] #5089 closed

[2021-09-11 06:47] shhnjk commented on #4118
Sounds good to me 😊

[2021-09-13 13:09] EisenbergEffect commented on #4118
Assigning this to the FASTElement 2.0 milestone, since it would constitute a breaking change. We're going to try to do this together with a few other breaking changes so we don't have to churn too much. I don't have a timeline on that, but hopefully we can start working on this soon.

[2021-09-13 13:12] EisenbergEffect opened #5182 "feat: SSR for FAST Elements"
# 🙋 Feature Request

Enable SSR for web components based on FASTElement.

## 🤔 Expected Behavior

Run web components on the server and stream HTML back to the client. Composing elements from multiple libraries such as Lit+FAST should work out of the box.

## 😯 Current Behavior

No SSR supported.

## 💁 Possible Solution

Work with Google to implement their streaming SSR interfaces. This will includ

[2021-09-13 17:23] #4862 closed

[2021-09-13 17:34] awentzel commented on #4492
For 5 months we've had this resolved per my previous comment so I'm closing. Additionally, code climate hasn't made any progress on adding improved support for mono-repositories.  I don't expect they will and so in the future if this becomes problematic again we should investigate what other options may exist in this space.

[2021-09-13 17:34] #4492 closed

[2021-09-13 17:38] awentzel commented on #3136
I'm in favor of adding this as I've been using for a while myself. We can add "cSpell.words" and "cSpell.ignoreWords" to eliminate common workspace spelling nuances.  I also will require this potentially in the future for different Azure packages that can be managed within VSCode.

We should add a task to meet with the team and see what we can determine are safe defaults we'd want to implement acr

[2021-09-13 17:42] #4094 closed

[2021-09-13 17:54] chrisdholt commented on #4941
closed w/ #4943

[2021-09-13 17:54] #4941 closed

[2021-09-13 18:02] chrisdholt commented on #4035
I think this has been closed, closing per a previous PR from @scomea

[2021-09-13 18:02] #4035 closed

[2021-09-13 18:04] chrisdholt commented on #4137
@radium-v thoughts on how you would like to see this handled?

[2021-09-13 18:15] chrisdholt commented on #4041
I'm not able to repro this, closing as such. @radium-v if you repro still, feel free to reopen and push a PR :)

[2021-09-13 18:15] #4041 closed

[2021-09-13 18:21] chrisdholt commented on #4551
@ScottKane, I'm digging into this a bit and wanted to understand more the impact of this on accessibility? Without digging into the PR's and prior code reviews, my base assumption here is that since this is a single-select combobox built to meet ARIA 1.2 requirements (rather than serving the native select, or delegating focus to an internal focusable element) we default the element to be focusable

[2021-09-13 18:54] radium-v commented on #3136
This is resolved via #4574. @awentzel, can you create a new issue for adding spellcheck?

[2021-09-13 18:55] ScottKane commented on #4551
This was based on an issue I had been having with a form. A select box was used half way down the form and was being set to tabindex 0. As a result, a user navigating the form with a keyboard would start navigation half way down the form. Even manually ordering the tabindex for each element resulted in the select still having tabindex 0 in the DOM.

[2021-09-13 18:57] chrisdholt commented on #4551
Ah - gotcha, are you manually setting tabindex for all form elements in numerical/sequential order?

[2021-09-13 19:43] ScottKane commented on #4551
Yes I had sequentially ordered the elements setting the select to say tabindex 5, all other elements respected the ordering but the select was overridden with 0 and was the navigation root for the form half way down

[2021-09-13 20:02] chrisdholt commented on #5166
Thanks @atmgrifter00 - I'm not able to repro this in a couple of different environments initially; can you provide what version of Chrome you are on and what version of `@microsoft/fast-components` you're using? I'll try with the exact versions on my Mac and if I can't repro I'll have someone test with their Windows machine.

[2021-09-13 20:06] atmgrifter00 commented on #5166
Chrome Version 92.0.4515.159.
@microsoft/fast-element": "^1.4.1
@microsoft/fast-foundation": "^2.0.0

[2021-09-13 20:07] chrisdholt commented on #5166
Thanks! I'll take a look

[2021-09-13 23:35] #4097 closed

[2021-09-13 23:35] #4090 closed

[2021-09-13 23:35] #4072 closed

[2021-09-13 23:36] #4101 closed

[2021-09-13 23:36] #4061 closed

[2021-09-13 23:36] #4096 closed

[2021-09-13 23:36] #4102 closed

[2021-09-13 23:36] #4060 closed

[2021-09-13 23:37] #3991 closed

[2021-09-13 23:37] #4000 closed

[2021-09-13 23:37] #4095 closed

[2021-09-13 23:37] #4091 closed

[2021-09-13 23:37] #3660 closed

[2021-09-14 19:57] #4311 closed

[2021-09-14 19:58] #4697 closed

[2021-09-15 02:34] chrisdholt commented on #5125
Getting to this a little late @nicholasrice, but I love the approach outlined above and glad to see this should be future-proof for #4976.

[2021-09-15 02:35] chrisdholt commented on #4976
@eisenbergeffect I *think* the above has a pretty solid plan to address this. I'm going to move this from "under-consideration" to "planned". I'll let you plan the timing of the work, but I think there is generic agreement on this approach and the proposed solutions.

[2021-09-15 07:21] ameyasubhedar opened #5189 "How to migrate from the fast-design-system-provider ?"
Follow up to closed issue #4910

I see you have updated the FAST docs with the [DesignToken](https://www.fast.design/docs/design-systems/design-tokens/). But I am still confused about how the apps will migrate from the old fast-design-system-provider.

I will give a concrete step by step use case of an old system, it would be beneficial if FAST team can help map the construct and provide the code

[2021-09-15 16:12] radium-v commented on #5047
@EisenbergEffect I created `FoundationElementTemplate` to apply to both our template and style constants, to reduce the amount of manual typing for these common exports. Currently, the `horizontalScrollTemplate` uses it:

[code]

It's also part of the `HorizontalScrollOptions` type:

[code]

It can also be used for element styles, which may solve part of the problem here. For example:

[code]

[2021-09-15 16:14] EisenbergEffect commented on #5047
Seems like that could also be:

[code]

Is that correct?

[2021-09-15 16:24] radium-v commented on #5047
It could be - right now `FoundationElementTemplate` aliases to `EagerOrLazyFoundationOption` but I don't know what the underlying difference is between the `eager` and `lazy` variants.

I also feel like the name `LazyFoundationOption` is a little less descriptive and a bit harsh when used in the context of the template and style constants.

[2021-09-15 18:24] shmehltr opened #5191 "fix: [Position Top and Left shift and glitch?] in [Tooltips?]"
# 🐛 Bug Report

Tooltips with position "top" and "left" do not work properly. The tooltip appears then shifts position. This can result in an infinite loop of hiding and showing when hovering over an anchor.

![toolti](https://user-images.githubusercontent.com/77364983/133487901-a7edd129-015d-46e0-9203-976845db368b.gif)

## 💻 Repro or Code Sample

add position top or left to a fast tooltip and obs

[2021-09-15 18:25] claviska commented on #5191
Confirmed that this happens in Fluent too, although it's harder to replicate in Storybook for some reason.

[2021-09-16 02:40] chrisdholt commented on #4790
Given the state of this issue, I'm going to close this for now as *by design* specifically for `card`. @KingofTac I'm still quite interested in seeing what you come up with and would definitely be interested in either pointing toward the behavior you create or taking it as a potential feature for `fast-foundation`. Please keep us up to date!

[2021-09-16 02:40] #4790 closed

[2021-09-16 02:54] chrisdholt commented on #4551
This is helpful context. I think there's probably a point of discussion to be had here in terms of what/how we support things. On one hand, we typically want to respect properties being applied from outside the component. On the other hand, the setting of tabindex to a number greater than 0 is considered to be an anti-pattern.

As mentioned above we need to be able to set tabindex to 0 to ensure t

[2021-09-16 02:55] chrisdholt commented on #4465
closed by #5153

[2021-09-16 02:55] #4465 closed

[2021-09-16 03:28] KingOfTac commented on #4790
Will do. I haven't had a chance to revisit this in a while but it's on my list to work on by end the end of the month.

[2021-09-16 03:29] KingOfTac commented on #4790
Will do. I haven't had a chance to revisit this in a while but it's on my list to work on by end the end of the month.

[2021-09-16 03:53] chrisdholt commented on #5060
@radium-v @bheston is this still an issue we are tracking?

[2021-09-16 05:29] chrisdholt commented on #5191
@scomea can you investigate this?

[2021-09-16 06:23] chrisdholt commented on #5159
The tree item is definitely eating the click as of now. @eljefe223 has some updates coming in for tree view which is likely to change the current implementation, so depending on how that change impacts things, we may be able to address this in that PR. All said, this can hopefully be resolved soon :)

[2021-09-16 06:59] #4937 closed

[2021-09-16 07:09] chrisdholt commented on #4704
I'm going to close this in coordination of closing #4790 for the reasons outlined in this [comment](https://github.com/microsoft/fast/issues/4790#issuecomment-891498567). The addition of the `<popup>` element as outlined in [Open UI](https://github.com/openui/open-ui/blob/main/research/src/pages/popup/popup.research.explainer.mdx) should better enable the ability to "break out" of containers. Once

[2021-09-16 07:09] #4704 closed

[2021-09-16 08:34] ben-girardet opened #5196 "fix: allowing decimal values in fast number field"
# 🐛 Bug Report

Currently, the `<fast-number-field>` doesn't handle decimal values properly.

- [x] With a decimal step, the up and down buttons work properly
- [ ] The field doesn't allow for the `.` symbol to be entered
- [ ] The `inputmode` is set as `numeric` which is intended for integer only values

## 🤔 Expected Behavior

This component should properly handled both integer and decimal value

[2021-09-16 14:11] atmgrifter00 commented on #5196
Personally, I feel that there shouldn't be a strict distinction between what kind of numeric the number field supports (integer vs. decimal), and instead it should allow a user to _always_ enter a decimal value (this works just fine on the standard HTML input element set to 'number' type).

Instead, if the goal is to restrict what the user can ultimately see in the input field, it would be nice if

[2021-09-16 17:07] janechu opened #5198 "fix: Cannot use TypeScript > 4.3.5 when importing FAST components"
# 🐛 Bug Report

TypeScript 4+ cannot be used with the `@microsoft/fast-components` package.

## 💻 Repro or Code Sample

I have created a repro here: https://github.com/janechu/typescript-4-fast-components-test

## 🤔 Expected Behavior

No errors and successful compilation.

## 😯 Current Behavior

The following errors are generated when running the above repository.

[code]

## 💁 Possible Solution

[2021-09-16 17:44] radium-v commented on #5198
The errors don't appear when using TypeScript ~4.3.5, which is mostly arbitrary - we're mainly tied to the version used by `api-extractor` (which is why TypeScript is locked at `^3.9.0` in the repo). The types for ARIA properties were likely added in version 4.4.

I found this related issue which talks about the `ARIAMixin` properties: https://github.com/microsoft/TypeScript-DOM-lib-generator/issu

[2021-09-16 18:19] #5060 closed

[2021-09-16 18:20] radium-v commented on #5060
Fixed in #5091

[2021-09-16 18:29] radium-v commented on #4137
The `disabled` property can't be present on the base class `Listbox` when constructing, due to `FormAssociated` inheritance with `Combobox` and `Select`. These controls gain the `disabled` property from the `FormAssociated` base class which would collide with the property if it's present on `Listbox`.

In #4974 I'm splitting the `Listbox` class into an abstract class `Listbox` and a component clas

[2021-09-16 18:57] chrisdholt commented on #4684
Added - closing this out!

[2021-09-16 18:57] #4684 closed

[2021-09-17 10:34] arcanis commented on #4737
I think the bigger picture is that Yarn (2+) lets you easily implement whatever behaviour you need without waiting for the package manager to agree with whatever direction you want to follow, while still benefitting from our core APIs. Here it's changed workspace, but it can also be release workflow, package validation, etc.

[2021-09-17 17:34] nicholasrice commented on #5182
Some investigation work for this going on here: https://github.com/microsoft/fast/tree/users/nirice/ssr-invesigation

[2021-09-20 16:13] rajsite commented on #5198
Saw a similar error and using `"skipLibCheck": true,` in the TypeScript config helped to get builds. Ultimately we ended up aligning our TypeScript versions with our Angular project which caused us to lock at TypeScript 4.3.5 so we did not need the `skipLibCheck` flag anymore.

[2021-09-21 09:03] MathiasWP opened #5211 "docs: add a search-engine for the docs"
# 🙋 Documentation Request
The developer experience is greatly enhanced when we have the possibility to search up things in the docs. It is insane how i either have to remember chapters or go on a scavenger hunt to find the things i am looking for. It is especially difficult for new developers on our teams that don't have a lot of experience with fast.design. So please, for gods sake, add a search-

[2021-09-21 14:22] EisenbergEffect commented on #5189
@nicholasrice Would you help out with this?

[2021-09-21 14:30] #5211 closed

[2021-09-21 15:10] EisenbergEffect opened #5212 "feat: VS Code Go to Definition"
# 🙋 Feature Request

Enable easily jumping to the definition of a custom element from anywhere that it is used.

## 🤔 Expected Behavior

When I've got an HTML tagged template literal or an HTML file, I should be able to control/cmd-click the element name and jump to the source code for the element.

## 😯 Current Behavior

No special behavior for custom elements.

## 💁 Possible Solution

Likely wil

[2021-09-21 17:01] caseyfaber opened #5213 "fix: in Anchored Region if horizontalInset/verticalInset is true, changing horizontalDefaultPosition/verticalDefaultPosition will not update anchored region if changed twice or more"
# 🐛 Bug Report

If `horizontalInset` is true, changing `horizontalDefaultPosition` will only update the anchored region once (and emit 'positionchange' event), and after that _no_ attribute changes will update it anymore (and 'positionchange' will not be emitted again).

If `verticalInset` is true, changing `verticalDefaultPosition` has the same effect.

Notes: Once the default position has been c

[2021-09-21 17:51] #5191 closed

[2021-09-21 18:27] #4649 closed

[2021-09-21 19:20] litteredwitherrors opened #5215 "delegatesFocus breaks aria-describedby in fast-components"
# 🐛 Bug Report

When the `delegatesFocus` shadow option is set to `true` on a component that passes the `aria-describedby` to a shadow element, when the component receives focus, certain audible assistive technologies will not read corresponding descriptor element.

Google screen reader will read the descriptor.

Potentially effected components:
- `fast-anchor`
- `fast-avatar`
- `fast-breadcrumb-i

[2021-09-21 19:20] litteredwitherrors commented on #5002
The issue does not exclusively pertain to `fast-tooltip` or `fast-button`, but any element used to describe a `fast-button` using `aria-describedby`. The issue is stemming components that use `delegatesFocus`. Both Narrator and VoiceOver are not reading descriptors of components which delegate focus to elements in its own shadow DOM.

This issue should be closed in favor of: https://github.com/mic

[2021-09-21 19:24] chrisdholt commented on #5002
Closing this in favor of #5215

[2021-09-21 19:24] #5002 closed

[2021-09-21 19:26] chrisdholt commented on #5215
I think this comes down to an existing platform level problem that we may need to find a workaround for. I mentioned to @eisenbergeffect and @nicholasrice prior, so tagging them here as FYI. On the standards side, this seems to be related to https://github.com/WICG/webcomponents/issues/917 and I think that API would help address this. Unfortunately it seems like these are currently being addressed

[2021-09-22 16:26] nicholasrice commented on #5189
You'll want to do something like the following:
1. A Blazor App initializes the FAST Design System
[code]

Setting the baseLayerLuminance is similar to the above:

[code]

[2021-09-22 16:57] chrisdholt commented on #4967
@eljefe223 is going to investigate what "Search" may look like as a component.

[2021-09-22 16:59] chrisdholt commented on #4832
@EisenbergEffect @janechu I think we can close this, yes?

[2021-09-22 17:09] EisenbergEffect commented on #4832
Yes, indeed.

[2021-09-22 17:09] #4832 closed

[2021-09-22 17:12] chrisdholt commented on #4832
🎉

[2021-09-22 18:09] #4707 closed

[2021-09-22 18:58] khamudom opened #5218 "fix: expanded state in accordion for single-mode does not change"
# 🐛 Bug Report

In single-mode, when you set expanded to an accordion-item, other than the first accordion-item, the first accordion-item will always be expanded

## 💻 Repro or Code Sample

- go to https://explore.fast.design/components/fast-accordion and select single-selelction from the dropdown
- notice the first item is expanded. if you try to set expanded on another item, the first item will

[2021-09-22 22:07] brianehenry opened #5219 "fix: value property not reflected to attribute in fast-option"
# 🐛 Bug Report

When the `value` property is set on a `fast-option` element, the value is not reflected to the `value` attribute. Also, the `value` property does not coerce the value to a string.

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

I'd expect that the FAST option would reflect the `value` property to the `value` option, since this is how the native `option` element behaves.

[2021-09-22 22:30] brianehenry opened #5220 "fix: fast-select's value property does not update when fast-option's value is updated"
# 🐛 Bug Report

If a `fast-option`'s `value` attribute is updated, and that option is the selected option in a `fast-select`, the select's `value` property is not updated.

## 💻 Repro or Code Sample

[code]

[code]

## 🤔 Expected Behavior

If the `value` attribute of a `fast-option` is updated, and that option is currently selected, the `fast-select`'s `value` property should reflect the updated o

[2021-09-23 00:36] #5044 closed

[2021-09-23 20:05] brianehenry opened #5222 "feat: add method to flush/clear updateQueue created by DOM.queueUpdate()."
# 🙋 Feature Request

Due to weird interactions between Angular's usage of Zone.js and FAST's `DOM.queueUpdate()`, it would be helpful to have a way to clear the list of queued actions for testing purposes.

I explain the issue we're seeing in more detail in the "Context" section.

## 🤔 Expected Behavior

After calling `DOM.queueUpdate()` (either directly or indirectly, e.g. by creating a FAST comp

[2021-09-23 21:00] EisenbergEffect commented on #5083
Note: We should try to enable binding "signals" as part of this work as well. A signal allows a collection of bindings to force refresh based on an external factor. An example of this is displaying a "time since" across a lot of UI that you want to refresh every minute. Or having localized text throughout an experience that you want to all update when a language setting is changed.

[2021-09-23 21:10] EisenbergEffect commented on #5083
Signals could basically be observables that look a bit like a React hook so they could also be used directly in templates. Example:

[code]

[2021-09-23 23:31] KingOfTac opened #5227 "fix: Screen reader does not announce selected item in some cases in `TreeView`"
# 🐛 Bug Report

First off, I'm not entirely sure if this is an issue with `fast-tree-view` or NVDA.

Using the keyboard to navigate into a `fast-tree-view` nested item, if the nested item's parent was not the previously selected item then when the nested item is selected, the screen reader will not announce the selected event.

## 💻 Repro or Code Sample

Create a `fast-tree-view` with a nested str

[2021-09-23 23:39] chrisdholt commented on #5227
This *sounds* like an NVDA problem. With that said, we can investigate - but the status of the selected item shouldn't depend on it's parent having *been* selected. I think this would be problematic for a number of reasons...specifically considering that it doesn't make any logical sense why the two would be related besides general hierarchy :)

Thanks for the issue, we can definitely investigate!

[2021-09-24 00:36] #4925 closed

[2021-09-24 14:26] hkusulja commented on #4576
Hello, any progress on this?
the whole premises was > Microsoft Fluent UI web components > (using FAST) implement in Blazor.
this is reference - https://github.com/microsoft/fast-blazor/issues/47
they say, this sorting and filtering should be implemented first here..

[2021-09-26 15:50] UtmostCreator commented on #5119
Why do we really need that "`stateful value`"? if we may have a `value`? (or could you explain where the "stateful value" comes from and how it differs from the "value)?

What does it mean "`the framework does not special-case the 'value'` "?
Does it mean that framework can not recognize the tag and, therefore, stops updating the element's value? (please let me know if whether I am wrong or correc

[2021-09-27 14:19] EisenbergEffect commented on #5213
/cc @scomea

[2021-09-27 14:36] EisenbergEffect commented on #5222
@brianehenry Do you want the helper method to process the queue or clear the queue?

[2021-09-27 17:18] rajsite opened #5231 "fix: Client side form validation pseudo-classes only in browsers with native form-associated custom elements"
# 🐛 Bug Report

I'd like to be able to style controls such as `fast-text-field` using [form validation UI pseudo-classes](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#ui_pseudo-classes) such as `:invalid`.

These pseudo-classes work on browsers with native form-associated custom element support such as Chrome and Edge but do not work in Firefox and there does not seem to be a wo

[2021-09-27 17:23] nicholasrice commented on #5119
@UtmostCreator
1. "stateful value" is just a semantic description of the control's `value` property; I'm not suggesting there is a `Control.statefulValue` property for the element. The proposal is that there are two properties with two corollary HTML attributes, one to represent current state (`value`) and one to represent default/initial state (`defaultValue`).
2. React, Blazor and other framewor

[2021-09-27 17:34] janechu commented on #4845
This has been resolved in a previous PR and moved to the new Creator repository.

[2021-09-27 17:34] #4845 closed

[2021-09-27 17:35] janechu commented on #3773
This has been completed in previously linked PR #4173

[2021-09-27 17:35] #3773 closed

[2021-09-27 18:54] chrisdholt opened #5234 "rfc: add refs to all shadow DOM nodes in component templates"
# 💬 RFC - Add refs to all Shadow DOM nodes in component templates

The templates and classes included as part of FAST Foundation exist to provide markup and functionality for a majority of use cases and serve as building blocks for not only the FAST components, but for any component which may require the same underlying role, behavior, etc. While it is almost impossible to handle any and all scena

[2021-09-27 19:07] ameyasubhedar commented on #5189
Thanks @nicholasrice , I will try this out.

What about the REST cuts how to apply them e.g., accentForegroundCutRestBehavior ?

[2021-09-27 19:19] nicholasrice commented on #5189
"cut" recipes are intended to be used for foreground elements (like text, glyphs, ect) over an accent background. You apply them to CSS stylesheets as described in https://www.fast.design/docs/design-systems/design-tokens/. https://color.fast.design/ also illustrates their usage from a visual-design perspective.

[2021-09-27 19:32] EisenbergEffect commented on #5234
What if instead of adding the refs everywhere, we add a typed `findPart` API to each component? Refs are not free and do cost memory/perf in startup cost for every ref we add. In the case above, we'd be adding refs that wouldn't be used most of the time. So, what if we took the API approach instead?

Example use would be like this:

[code]

We could provided typed overrides so that 'link' actually

[2021-09-27 20:10] scomea commented on #5234
I worry this could make it very difficult to modify templates after publishing without breaking someone.

[2021-09-27 20:13] chrisdholt commented on #5234
I’m going to spin up a discussion topic on this. I’m concerned that there’s an assumption this is already and should be easy, which it shouldn’t. It’s not that we can’t change templates, but an assumption today that it’s currently harmless or should be easy to change templates is a pretty significant blind spot for us if that’s the case.

[2021-09-27 20:20] scomea commented on #5213
Subtle, good catch.  Basically anchored region could ignore updates that didn't change geometry.

[2021-09-27 20:34] nicholasrice commented on #5234
@chrisdholt are there specific PRs / desired changes that this RFC is addressing or is this problem more theoretical?

I'd also like to echo @EisenbergEffect's point on class vs template responsibilities. I do feel that using refs and class properties as an implementation would impose a tighter coupling of class -> template pairs which may not be desirable.

[2021-09-27 21:05] caseyfaber commented on #5213
The weird thing is it does update it the first time, and then ignores it the second time and breaks updates for any future changes on _any_ attributes.

[2021-09-27 21:23] chrisdholt commented on #5234
I think it's both theoretical and an existing problem. Theoretical in that I can see both for us and others a desire or need to add additional functionality or behaviors hooking off Shadow DOM nodes which we don't intend to support directly in FAST. An example which is technically already handled is animating in the `dialog` on top of the overlay using the web animations API. This example is *only

[2021-09-27 21:27] Ibrahimmaga commented on #5014
This is the Audit Result: we have already discussed the plan for improvement, but no action has been taken yet.

![image](https://user-images.githubusercontent.com/14119043/134987813-7277aa8b-90bb-4d3d-9a74-850c3074e25d.png)

[2021-09-27 22:18] scomea commented on #5213
I believe what's going on is that the region gets into a state where the code that mitigates unnecessary layout updates blocks updates because it doesn't detect a geometry change even though it should not in the case of updates prompted by attribute changes.  It works the first time because the saved data is frequently stale so it doesn't kick in.  I think the change I made will ensure that attrib

[2021-09-27 23:04] chrisdholt commented on #5227
Yes, we've tested this across other AT as well and haven't seen the bug crop up aside from NVDA. Unfortunately, I'm not sure what we can do to mitigate this as we're providing an accurate UIA representation for the browser to translate to NVDA. I'm not aware of a good way to do target changes to specific AT to mitigate issues like this :(

[2021-09-27 23:13] KingOfTac commented on #5227
I think this issue can be closed then since there isn't anything that can be done atm. Will just need to keep an eye on nvda to see if it gets resolved in the future.

[2021-09-27 23:15] chrisdholt commented on #5227
Sounds good - thanks for digging in with us @KingofTac. Closing as this is on the NVDA side. As an FYI, I've also tagged #4127 as NVDA specific now that we have the tag

[2021-09-27 23:15] #5227 closed

[2021-09-28 03:41] chrisdholt commented on #5234
This is a good point @scomea and one that didn't immediately come to mind. We do typically shield things like refs from the public as a stable API by marking as`@internal`. I think this helps with the current issue of coupling existing in that form as of now.

I don't think it addresses the issues of reasonable times a user might need a reference to a node or what is likely more difficult in curre

[2021-09-28 04:06] daviddossett commented on #4514
I'm running into a similar issue where we're getting flagged on the Select component not announcing values as users arrow through the options. The testing team found the issue using NVDA and JAWS. I also reproduced it on VoiceOver, however I understand from reading the thread above that it's not considered an issue.

I did notice that the FAST Combobox showcased [here](https://explore.fast.design/

[2021-09-28 04:11] chrisdholt commented on #4514
It could be an issue, I think we'll need to dig in on this in isolation. The odd thing about this is that Select is essentially an implementation of a single select combobox and built according to the ARIA practices spec (note: not the example!). It *could* be related to something we are already tracking, but if you can open a new issue we'll take a look!

[2021-09-28 04:26] daviddossett commented on #4514
Thanks for the quick response—will do.

FWIW we're still on fast-foundation v1. Not sure if that has an impact here.

[2021-09-28 04:27] chrisdholt commented on #4514
I don’t think we made significant enough changes in this regard to be the underlying cause of this.

[2021-09-28 17:19] nicholasrice commented on #5234
I've always consider elements within the shadow DOM decorated with a `part` attribute to be part of the components "public API" (at least from the perspective of CSS styling), and perhaps would work that into a private mechanism to retrieved elements by part from a template (I think this is maybe what Rob is suggesting). These parts then become the constant and removing them designates a "breaking

[2021-09-28 17:58] chrisdholt commented on #5234
We're certainly aligned here as far as what would be considered breaking. Specifically in Foundation, the template itself is a stand alone export which is used by teams composing their own controls, which I think goes *beyond* just those decorated with parts. That's unrelated here, but an important thing to consider with this change. Whatever goes into Foundation is *not* being consumed as a depen

[2021-09-28 18:23] awentzel commented on #5014
The actual status here is that there are some issues getting this GitHub Action to work appropriately.  We are investigating two different GH Actions for Lighthouse command line integration on the CI.  We will report back soon.

[2021-09-28 18:30] awentzel commented on #5014
The audit has been completed.  We know where improvements could be made. But, they are acceptable at this time so no more action from the audit is required.

[2021-09-28 18:30] #5014 closed

[2021-09-28 18:33] awentzel commented on #4737
We are continuing to evaluate this.  We are trying out a few different scenarios to understand all implications and based on the community feedback and our own conclusions we'll be doing our best to move in the most efficient and productive direction.  Thanks, everyone for your feedback on this issue.

[2021-09-28 18:33] #4737 closed

[2021-09-28 18:51] awentzel commented on #5126
Unless there is a mandate to take on a compliance process for privacy, security, or accessibility that negatively impacts our productivity with additional pipeline requirements there would never be a change we are requesting that would detriment our productivity.

DevOps' primary goal is to eliminate waste and improve productivity for our contributors.

Lighthouse allows us to analyze and track ho

[2021-09-28 19:08] awentzel commented on #3136
Per note above by Radium-v. Resolving this PR.

[2021-09-28 19:08] #3136 closed

[2021-09-28 19:14] awentzel commented on #934
This might be something we can implement on one of the new projects in a isolated manner and if that works more easily implement here.

[2021-09-28 19:22] awentzel commented on #4510
If we can get a few eyes on your changes as published at https://hackmd.io/@Garbee/Hk8qLm-Su if this documentation looks good I can push a PR with these Docusaurus changes.   @EisenbergEffect @nicholasrice are you able to take a look?

[2021-09-28 20:47] nicholasrice commented on #4510
FAST's known violations are  currently more systemic than :focus-visible. `@microsoft/fast-element` will use an HTMLStyleElement implementation to compose custom elements with stylesheets in browsers where constructible stylesheets are not supported (FF, Safari). There is currently no mechanism to provide a nonce to these elements. This means restrictive style CSPs will block all custom element st

[2021-09-28 20:52] EisenbergEffect commented on #4510
@nicholasrice I think I remember you having some thoughts on how to address that. Do you still think that's something we can add a feature to address? Would it be breaking?

[2021-09-28 21:05] nicholasrice commented on #4510
I more just verified it was an issue when investigating a solution for https://github.com/microsoft/fast/issues/5125.

I don't claim to be a CSP expert, but the way this works in JSS is the script creating the HTMLStyleElement looks for a
`<meta property="csp-nonce" content="{server-provided-nonce}" />` It then reflects that attribute value as a attribute to all HTMLStyleElement's it creates: `<st

[2021-09-28 21:11] EisenbergEffect commented on #4510
Sounds good. I tagged this issue for the 2.0 milestone. Maybe we should do this as part of a broader security pass. I was planning to adjust how the trusted HTML stuff worked too.

[2021-09-28 21:15] chrisdholt commented on #4726
Just an updated that @litteredwitherrors is working on a spec for `file` as a new component.

[2021-09-28 21:32] nicholasrice commented on #4510
We'll want to look at anywhere we add inline styles as well, as doing so can be illegal under some CSP configurations.

[2021-09-28 22:01] nicholasrice commented on #4510
Another approach would be to require authors to configure fast-element with the nonce through some JavaScript API. This might be more tedious for authors as they would need to figure how to get the nonce into their script, but it does provide a bit more implementation flexibility.

[2021-09-28 22:35] #5196 closed

[2021-09-28 23:38] #5159 closed

[2021-09-29 01:50] #4825 closed

[2021-09-29 02:11] chrisdholt commented on #5054
Thanks for this @janechu, definitely something to address!

I did have one question - would we expect changes here for RTL/LTR for vertical or would you expect it to be the same given the vertical orientation. I think for vertical orientations I expect it to be the same.

[2021-09-29 17:35] musale opened #5240 "fix: The options attribute missing in the fast-picker custom menu breaks consecutive display of suggestions"
# 🐛 Bug Report

In the `fast-picker-menu` custom menu, when you remove the `options` attribute, you can select a menu option the first time but the second time it displays no suggestions.

## 💻 Repro or Code Sample

This is how it currently works

[code]

This is what is where the bug appears when the `options` are removed.

[code]

- Remove the `options` attribute from the `fast-picker-menu`
- Do

[2021-09-29 19:43] evandigby commented on #4660
@scomea is there a way to allow the same behavior as the max-content column size in CSS grids? (e.g. https://jsfiddle.net/95rhy2m1/).

I am able to replicate it by putting all cells in a single "row"; however, that prevents me from having a header:

[code]

[2021-09-29 20:35] scomea commented on #4660
I expect the "all the cells in a single row" approach would also break keyboarding and confuse screen readers.  I can't think of any quick way to enable this at the component level.  If an author had a good way to measure the expected width of all the cells in particular column by iterating through the row data they could set column widths based on that.

[2021-09-29 20:42] evandigby commented on #4660
@scomea Ah, yes good call on the accessibility aspect. I wonder how CSS grids impact readers. CSS grids seem to be more for laying things out than tabular data, so there are a few things that make less sense (to me, at least) when using the css constructs over the fast-data-grid constructs for tabular data--even if underneath it boils down to more-or-less the same. The explicit rows being one of t

[2021-09-29 22:08] daviddossett opened #5243 "fix: Screen readers do not announce options in Select listbox"
# 🐛 Bug Report

When using keyboard navigation to interact with a select component, options in the list are not announced by the screen reader. Also described in #4514.

## 💻 Repro or Code Sample

1. Active the screen reader on your computer.
2. Focus on a `fast-select` component. The [fast-select example](https://explore.fast.design/components/fast-select) in the component explorer is a reliable

[2021-10-01 17:20] atmgrifter00 opened #5246 "fix: [what is the issue?] in [where is the issue?]"
# 🐛 Bug Report

I believe a [recent change](https://github.com/microsoft/fast/pull/5205) broke the inc/dec buttons of the `fast-number-field`.

## 💻 Repro or Code Sample

Literally just use `@microsoft/fast-foundation@2.16.4` (or later) along with a compatible `fast-components` version, put a `fast-number-field` down and try to use the inc/dec buttons. They won't update the value.

## 🤔 Expected B

[2021-10-04 15:24] atmgrifter00 commented on #5246
I'll mention that I have a fix in work for this (along with tests). I don't mind picking up the torch here.

[2021-10-04 16:12] brianehenry opened #5249 "fix: range coercion in number field makes data entry difficult"
# 🐛 Bug Report

When using the number field with a minimum value, many valid values are difficult or impossible to type in.

## 💻 Repro or Code Sample

`<fast-number-field min="10"></fast-number-field>`

1. Using the above configuration, try typing in "100". After typing the first character, the field will coerce the value, and after typing "100" the field will display "1000".
2. With a value alre

[2021-10-04 16:32] atmgrifter00 commented on #5246
PR #5250 is up.

[2021-10-04 17:36] nicholasrice commented on #4976
Adding a note that we should include a mechanism to supply an insertion-point for default-value HTMLStyleElement as noted in #5241

[2021-10-05 06:38] ameyasubhedar commented on #5189
@nicholasrice, I am facing the old issue https://github.com/microsoft/fast/issues/4231 when I update the Layer Luminance, the background is not updated. We fixed this issue earlier by forcing an evaluate.

**Old**
[code]

How do we force evaluate with the new approach ?

[2021-10-05 17:10] nicholasrice commented on #5189
Please confirm your fast dependencies are fully updated and match the latest versions listen on npm.

[2021-10-05 17:25] #5240 closed

[2021-10-05 17:40] scomea commented on #4038
we now update the tab queue on each tab keystroke, so this is resolved.

[2021-10-05 17:40] #4038 closed

[2021-10-05 18:47] brianehenry commented on #5222
@EisenbergEffect I think we want the method to process the queue. That way we can call the method in our `fakeAsync` tests to get the element to update.

[2021-10-05 19:11] scomea opened #5256 "rfc: virtualizing stack prototype"
# 💬 RFC

We're planning on supporting virtualization in FAST components to enable authors to create zippy ui experiences that display large data sets.  Think grids with thousands of rows of data or very large tree views.

I've been prototyping a "virtualizing-stack" concept at the branch below and am adding this thread as a place for related discussion.  Note this is a prototype branch so stuff ma

[2021-10-05 19:16] EisenbergEffect commented on #5222
That what I figured but just wanted to make sure. That should be pretty easy to manage. I've assigned the task to myself. I may not get to it this week, but it shouldn't take too long.

[2021-10-07 06:55] chrisdholt commented on #5119
@nicholasrice and @EisenbergEffect it just occurred to me that it'll likely be hard for us to gain traction with this specific implementation/approach as a long term solution to propose back through Open-UI as it relies on *changing the default behavior of the platform*.  It essentially moves us *further* away from any future platform solution to this problem because of the sheer volume of legacy

[2021-10-07 13:42] EisenbergEffect opened #5260 "docs: create and document Vite templates"
# 🙋 Documentation Request

Expand support beyond Webpack by creating a Vite template for FAST and add a corresponding page to our integrations documentation.

See https://vitejs.dev/guide/#scaffolding-your-first-vite-project

[2021-10-07 14:03] EisenbergEffect opened #5261 "feat: transition to useDefineForClassFields"
# 🙋 Feature Request

Transition to `useDefineForClassFields` for TypeScript.

## 🤔 Expected Behavior

All core FASTElement and decorator behaviors should continue to work.

## 😯 Current Behavior

Unknown

## 💁 Possible Solution

## 🔦 Context

TypeScript added the option for `useDefineForClassFields` to enable transpilation of class fields to match the updated ES semantics. We don't know if turning

[2021-10-07 14:16] EisenbergEffect opened #5262 "feat: improved template hydration and behavior application"
# 🙋 Feature Request

Change how the FAST templating engine hydrates HTML with its set of attached behaviors to potentially improve startup performance and enable stateless behaviors.

## 🤔 Expected Behavior

All existing features would be supported, but with improved performance and opportunities for stateless behaviors.

## 😯 Current Behavior

Makes heavy use of tree walkers and makes it difficul

[2021-10-07 16:06] ameyasubhedar commented on #5189
@nicholasrice , yes they are updated. I am using unpkg directly !  Below is the complete sample and issues

Issues !
1. Dark Mode is not updating the background (baseLayerLuminance 0.23)
2. Not able to apply cut, accentForegroundCut (the docs are not clear on how to import accentForegroundCut (its not in fast-components) and how to use them ?)

Tech: Blazor, Javascript

`<script src="https://unpkg

[2021-10-07 17:42] #5213 closed, assigned to scomea

[2021-10-07 17:46] scomea opened #5264 "fix: add playwright tests for anchored region"
# 🐛 Bug Report
Anchored region needs more test coverage.  Playwright enables testing that was difficult to do before we had it so we should add a battery of tests in fast-component to more fully exercise the component.

[2021-10-07 23:20] caseyfaber opened #5267 "fix: validation state on fast-text-field (and other form associated elements) never updates to valid in Firefox"
# 🐛 Bug Report

If you have a field with `required` or `pattern`, it will mark the field as invalid. But when using Firefox, if you fill it in matching the requirements, it will never change to valid.

## 💻 Repro or Code Sample

https://codesandbox.io/s/fast-text-field-validation-in-firefox-wgtb0?file=/src/index.js

This sample has a required field, and is outputting the results of `validity.valid

[2021-10-07 23:23] caseyfaber opened #5268 "fix: when using minlength on fast-text-field or fast-number-field, field won't be invalid even if the amount of characters is too short"
# 🐛 Bug Report

If you use `minlength` on `<fast-text-field>` or `<fast-number-field>`, it will not be marked as invalid even if the number of characters is less than the minlength. If you look at the `validity` or `validationMessage` properties of the internal input control, they are correct there, it's just not matching up to  `validity` and `validationMessage` of the fast-text-field.

## 💻 Repr

[2021-10-07 23:50] litteredwitherrors opened #5269 "rfc: add FAST file selector spec to/in component specs"
# 💬 RFC

## 🔦 Context

Seeking feedback for this FAST specification for checkpoint 1.

# FAST File Selector

## Process

- [ ] **Checkpoint 1** - Schedule a spec review meeting to cover the Overview section before proceeding to work on the Design section. Be sure to include relevant stakeholders such as members of the tools team.

- [ ] **Checkpoint 2** - Schedule a spec review meeting before begi

[2021-10-08 17:50] #5222 closed

[2021-10-08 20:05] UtmostCreator commented on #5119
Thank you, Nicholas!
@nicholasrice

By 3rd question you probably mean this:

Here I mean that the value from JS/JS framework will be the main and that any FAST-UI component will follow/track its changes.

So after making a suggested change by other members, in the end, the result will the end-users be able to see the desired result (so that the values of any other element will be changed according

[2021-10-08 20:40] connor4312 opened #5271 "Consider dropping the lodash-es package"
# 🙋 Feature Request

Hi, VS Coder here. @hawkticehurst and @daviddossett recently did some great work on a [webview toolkit](https://github.com/microsoft/vscode-webview-ui-toolkit) for our extension authors, which is based on Fast.

In our scenario, loading code quickly is important; developers have high expectations of their code editor. Naturally I opened up our package in [bundlephobia](https:/

[2021-10-10 09:43] MuhAssar opened #5272 "fix: disabled in vscode-button"
# 🐛 Bug Report

in  vscode-button component, when setting the 'disabled' property, the button is still clickable and has normal look  and behaviour.

## 💻 Repro or Code Sample
https://microsoft.github.io/vscode-webview-ui-toolkit/?path=/docs/library-button--with-disabled

## 🤔 Expected Behavior
the disabled button should be unclickable, and has a different look to indicate its disabled state.

##

[2021-10-11 06:32] tlmii commented on #4976
@EisenbergEffect @nicholasrice Can you all give me any hint on where this stands as far as when it might get completed? I believe we are blocked on upgrading to 2.X because of this (for our scenario, the isolation is important and we currently have that with the design-system-provider so this would effectively be a regression). I'm eager to make use of the design tokens, but also other things like

[2021-10-11 14:32] EisenbergEffect commented on #4976
@tlmii We've started work related to this already and have merged or are planning to merge PRs, primarily around decoupling the internals of both design tokens and dependency injection from a hard dependency on document.body. I'm updating this to in-progress status to reflect that now. There is still additional work to provide what you need in full though. @nicholasrice Do you think we could start

[2021-10-11 19:10] #4160 closed

[2021-10-11 19:57] chrisdholt commented on #5271
I’d echo this - it sounds like a net-benefit. Would welcome a PR here.

[2021-10-11 21:12] nicholasrice commented on #5119
That's a good point @chrisdholt. It's definitely not my favorite to have two mechanisms to do the same thing but perhaps in this case it's best.

[2021-10-11 21:44] nicholasrice commented on #5189
@ameyasubhedar have a look at this example: https://stackblitz.com/edit/web-platform-3vpags?file=me.html

All that needs to happen for changing mode is to set the `baseLayerLuminance` as illustrated in the above. Also, it looks like the "cut" recipes were renamed so check out the above example for *using* it in CSS.

[2021-10-12 16:21] skawian opened #5274 "fix: Changing tab disabled flag doesn't bring back click handler in tabs.ts"
# 🐛 Bug Report

## 💻 Repro or Code Sample

[code]

Changing `isTabThreeDisabled` from false to true does not trigger https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/tabs/tabs.ts#L175 so it could add back click event listener.

## 🤔 Expected Behavior

Tab should have event listener and become responsive for clicking

## 😯 Current Behavior

change handler st

[2021-10-12 19:32] #5271 closed, assigned to nobody

[2021-10-12 22:46] chrisdholt opened #5279 "Add call to action to "framework" doc integrations on website"
With the introduction of the React wrapper, we now have fairly robust integration documentation for each framework listed on the homepage. This issue serves to track adding a Call to Action to each section, linking to the integration docs or related utilities.

[2021-10-13 00:34] EisenbergEffect commented on #5269
@daviddossett Awesome. Concrete use cases from real products are pure gold. Sketches are very welcome.

[2021-10-14 14:20] MuhAssar commented on #5272
sorry for reporting this bug in the wrong repo,
looks like it is reported and fixed yesterday in
https://github.com/microsoft/vscode-webview-ui-toolkit/issues/265

[2021-10-14 14:20] #5272 closed

[2021-10-14 18:53] radium-v opened #5285 "feat: add custom dependabot configuration"
# 🙋 Feature Request

Since Dependabot doesn't really handle our Yarn lockfile well, we should add a configuration file which allows us to run custom steps.

## 🤔 Expected Behavior

Dependabot properly resolves simple security updates for Yarn dependencies.

## 😯 Current Behavior

A combination of Yarn v1 bugs and automation defaults cause Dependabot PRs to be useless. These are the current steps n

[2021-10-14 22:19] #5234 closed

[2021-10-14 22:44] chrisdholt commented on #3926
Closing officially per October 2020 Comment from @eisenbergeffect :)

[2021-10-14 22:44] #3926 closed

[2021-10-14 22:48] chrisdholt commented on #3732
@janechu are we still tracking this as an issue? Just wanted to check if it's still open or if we can close it out

[2021-10-14 22:56] scomea commented on #4196
Seems to work now.

![image](https://user-images.githubusercontent.com/7649425/137406391-0239377e-0549-4569-b98a-a4448362fc66.png)

[2021-10-14 23:15] chrisdholt commented on #3987
I'm going to close this as the token work seems to have largely made this unnecessary.

[2021-10-14 23:40] nicholasrice opened #5286 "feat: add Layer behaviors, custom element(s), and CSSDirectives"
# 🙋 Feature Request
Working with a colleague, I discovered there is a gap in the existing color system implementation in that there isn't an easily usable mechanism to designate a node tree as being a Layer (setting the DesignToken appropriately and applying the appropriate CSS). In trying to create a region with `Layer1` styling in a React app, the easiest solution was to create an app-specific c

[2021-10-15 03:37] MarcSkovMadsen opened #5287 "fix: Tooltip not showing"
# 🐛 Bug Report

If I follow the documentation to create a minimum example of a button with a tooltip the tooltip is not showing

- https://www.fast.design/docs/components/getting-started#from-cdn
- https://www.fast.design/docs/components/tooltip

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

When I hover over the button I would expect the tooltip to show.

## 😯 Current Behavior

The t

[2021-10-18 18:13] scomea opened #5290 "fix: tree item "selected-change" event should be emitted after the selection prop changes"
# 🐛 Bug Report

This pr https://github.com/microsoft/fast/pull/5194 changed how selected state is managed by the tree view component.  However now the "selected-change" event is emitted before the selected value of the tree item has actually changed which caused some implementations to break as it was expected that the selected value had actually changed when the event was emitted which was no lon

[2021-10-18 20:15] #4521 closed

[2021-10-18 23:34] scomea opened #5291 "fix: dialog does not detect fast elements with closed shadow dom as tabbable/focusable."
# 🐛 Bug Report
Because dialog (and Toolbar?) relies on checking element.shadowRoot to determine if a fast element is focusable this check fails with elements that have closed shadow roots (like fluent-button, for example).

[2021-10-18 23:51] chrisdholt commented on #5291
@scomea I think that anything in closed shadow DOM with regard to this behavior should likely be expected to use `tabindex="0"`. Curious of @EisenbergEffect's thoughts here, but I'm not sure we'll be able to do much consistently with how the intent of "closed" is to make it near impossible to query or tap into the shadow root.

[2021-10-18 23:57] scomea commented on #5291
I believe the best we can do is assume that a fast-element with delegatesFocus is also tabbable.  The biggest issue here is that fluent versions of components like button have closed roots.

[2021-10-19 00:01] chrisdholt commented on #5291
Fluent defaults to open - any implementation which is closed is now on the implementation and not the default component set. Just as FYI :)

[2021-10-19 17:30] musale opened #5295 "fix: Dropdown initial menu options not loading in picker custom menu after selection then deselection"
# 🐛 Bug Report

In the picker custom menu mode, whenever you perform a search, get the options that match the search, select an option then deselect it. When you click the input, it displays the search results again but the input field is empty.

## 💻 Repro or Code Sample

Working code with the issue being encountered here https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/46bd9dd1ed31

[2021-10-19 17:47] brianehenry opened #5296 "fix: setting active tab does not always update active indicator in fast-tabs"
# 🐛 Bug Report

Setting the active tab programmatically with the `activeid` property does not always position the active tab indicator correctly.

## 💻 Repro or Code Sample

[code]
[code]

## 🤔 Expected Behavior

Active indicator moves to active tab when active tab is set via the `activeid` property.

## 😯 Current Behavior

Active indicator is sometimes incorrectly positioned after setting the `ac

[2021-10-19 20:27] michaeldbrandt opened #5297 "Add aliases to slot names"
# 🙋 Feature Request

It should be possible to easily add new names to existing slots on FAST components.

For example, it's sometimes helpful for documentation to specify that icons should be placed in the `icon` slot, with the component designer deciding the location and behavior of the icon slot.

## 🤔 Expected Behavior

When composing a component, it should be possible to specify an alias, or l

[2021-10-20 14:41] #5287 closed, assigned to scomea

[2021-10-20 16:37] Cobra86 opened #5300 "feat: add panel component to fast"
# 🙋 Feature Request
Could you please add the panel component to fast ?

## 🔦 Context
Panel is overlaid on top of a page and slides in from the side.
It's easy way to access other component.

## 💻 Examples
MS Fluent UI
https://developer.microsoft.com/en-us/fluentui#/controls/web/panel

[2021-10-20 17:08] chrisdholt commented on #5297
Good feedback, perhaps we can do an investigation to see how feasible this would be or how potentially painful to maintain or manage this could end up.

[2021-10-20 18:47] chrisdholt commented on #4468
FYI @eisenbergeffect, @nicholasrice, @janechu I'm going to start working on a draft for this. It's been outstanding for awhile and eslint has updated and improved overtime. I'm going to look to bring this current and drop some things that don't align to our current approaches (references to react, etc...).

[2021-10-20 20:33] robarbms opened #5302 "fix: flippersHiddenFromAT shouldn't map to aria-hidden"
# 🐛 Bug Report

The horizontal-scroll attribute `flippersHiddenFromAT` maps to aria-hidden. This will hide the whole component. They should only hide the flippers themselves.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

`flippersHiddenFromAT` should apply aria-hidden to the flippers. We should use another attribute other than `aria-hidden` to map to the flippers aria-hidden attribute.

## 😯

[2021-10-20 22:11] msmithNI opened #5304 "feat: Add exported ECMAScript modules to fast-animation package"
# 🙋 Feature Request

Currently the fast-animation package exports CommonJS modules, but not ECMAScript modules.

If fast-animation is used in an Angular application, this triggers a warning at build-time, as [CommonJS dependencies are discouraged for Angular projects](https://angular.io/guide/build#configuring-commonjs-dependencies) (harder to optimize / can increase the bundle size)

## 🤔 Expecte

[2021-10-21 00:24] chrisdholt commented on #5304
Thanks for this issue @msmithNI! We'll look into any implications here but I agree that this is something that we should update.

[2021-10-21 04:54] chrisdholt commented on #5198
@Janechu I've updated the title of this to reflect the version issue, I can confirm from both the Fluent and VSCode repo that 4.3.5 works. As @radium-v mentions, the issue relates to the added ARIAMixin. Specifically, all properties are typed in that object as strings, whereas we have typed *specific* DOMString values where applicable ([MDN for reference](https://developer.mozilla.org/en-US/docs/W

[2021-10-21 12:08] Ciwo-K opened #5308 "bug: Number Fields not validating input"
# 🐛 Bug Report

The component 'Number Field' doesn't seem to validate user input. No error message is shown. One can input strings like '@.-_abc' even though the TValue ist set to 'int?'.

## 💻 Repro or Code Sample

`

    <h4>Required</h4>
    <FluentNumberField TValue="int?" Required="true"></FluentNumberField>
`

Please open the Fluent component test page -> webcomponents -> Number Field -> typ

[2021-10-21 12:17] Ciwo-K opened #5307 "feat: add callout"
# 🙋 Feature Request

I'd like to use the callout component from Fluent UI.
For example: to manage the active user (logout option, show information etc.) after the user clicks on a button.
![image](https://user-images.githubusercontent.com/62892625/138274700-abf4210a-8b04-418f-9672-cb1ce91a35fd.png)

[2021-10-21 12:42] Ciwo-K opened #5309 "feat: add persona component"
# 🙋 Feature Request

I'd like to use the persona component from Fluent UI.
I would appreciate a automatic initials to picture option. I'd like to use it to show userinformation about the active user.
![image](https://user-images.githubusercontent.com/62892625/138276379-0a609633-113f-4cff-bb50-ccb97b0478a7.png)

[2021-10-21 15:10] RehanSaeed commented on #5099
@EisenbergEffect @radium-v Would you be interested in a PR for the above webpack loader?

[2021-10-21 19:24] jumarroq opened #5311 "fix: selected-change event no longer emitted for keyboard events in TreeItem"
# 🐛 Bug Report
pr #5194 had a side effect in that it no longer emits the "selected-change" event when the user selects an item with enter, only on click. This broke our feature that depends on that event to know when the user changed what was selected.

## 🤔 Expected Behavior
When the user uses the keyboard to set the selected section when working with a Tree View and Tree Item, the client should

[2021-10-21 19:28] jumarroq commented on #5290
@scomea @nicholasrice I logged a related bug for this here: https://github.com/microsoft/fast/issues/5311 they should be considered together I think.

[2021-10-21 20:53] #5279 closed, assigned to nobody

[2021-10-22 14:37] EisenbergEffect opened #5313 "feat: enable components build with static definition (no decorator) to register with the design system"
# 🙋 Feature Request

Provide easier and more foolproof APIs for components defined without decorators.

## 🤔 Expected Behavior

It should be possible to register a component defined with a static `definition` field by passing it to `DesignSystem#register`. Doing so should call `FASTElement.define` behind the scenes.

## 😯 Current Behavior

Passing a component directly to `DesignSystem#register` do

[2021-10-22 17:26] #5295 closed, assigned to nobody

[2021-10-22 19:00] #5119 closed, assigned to nobody

[2021-10-23 20:20] vnbaaij opened #5315 "fix: Strongly typed number field starts at min/max instead of 0 in Blazor"
# 🐛 Bug Report

In the 2.0 WC release PR #5289 has been merged in. This has restored working of the up/down controls (:thumbsup: ) but it also introduced a new (and unwanted) effect in the Blazor `<FluentNumberField>` component.

Because we can strongly type components in Blazor, we need to supply Min and Max parameters to make sure the value stays within the designated type of the field. This now

[2021-10-24 19:50] bashmish opened #5317 "fix: set palette token value on an element created with FASTElement in Firefox"
# 🐛 Bug Report

I try to set a new palette token value on an element which is created using FASTElement. In Firefox it fails to update all derived colors and change appearance of FAST components. At the same time it works when setting it on a web component created with HTMLElement (or Lit based) or just on any native element like a div. ShadowDOM also doesn't seem to be the issue, because I tried

[2021-10-25 00:09] prudepixie commented on #4566
I don't know if this has already been explored, but omitting the boolean expression - the ? - from the template runs as expected.
`@customElement({
  name: "my-outer",
  template: html '<my-inner true-bool-attr="${(x) => false}"></my-inner> '
})`
I'm guessing this is because the attribute type has already been set from initialization of Inner. Thus this ends up triggering `updateAttributeTarget()`

[2021-10-25 17:23] rajsite opened #5320 "fix: Boolean binding to some FAST control attributes does not behave as expected"
# 🐛 Bug Report

Some boolean attributes on FAST controls do not behave how [mdn](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes#boolean_attributes) or [FAST template binding](https://www.fast.design/docs/fast-element/declaring-templates/#attributes) expect boolean attributes to behave.

This issue impacts all boolean attributes configured for a default of true such as dialog's `modal

[2021-10-25 21:11] atmgrifter00 opened #5322 "fix: Selecting disabled tree items in the FAST TreeView issues 'selected-change' events"
# 🐛 Bug Report

As the description states, when clicking on a tree item inside a FAST TreeView the 'selected-change' event [will be emitted](https://github.com/microsoft/fast/blob/45f000f038302d31636bccd85cf20a366aad7a0b/packages/web-components/fast-foundation/src/tree-item/tree-item.ts#L133), even if the TreeItem has the 'disabled' flag set, which will prevent it from becoming "selected" (having

[2021-10-26 13:28] EisenbergEffect opened #5323 "rfc: error codes"
# 💬 RFC

FAST should provide more and better error messages to designers and developers using the tech stack. This could be accomplished by using organized error codes accompanied by a dedicated documentation page and perhaps an optional debug add-on.

## 🔦 Context

Our error messages don't provide adequate information to users of the libraries. We need to address this issue in a way that is scala

[2021-10-27 07:00] MarcSkovMadsen opened #5327 "Cannot change fast-tooltip anchor dynamically"
Fast-Components: 2.14.2

I'm trying to wrap the `fast` component for use in #python #datascience with [HoloViz Panel](https://panel.holoviz.org/). I would like to add tooltips. During this I noticed I cannot change the `anchor` of the `fast-tooltip` dynamically.

I would expect the tooltip to change to the `button2` when I click `button`. But it does not.

https://user-images.githubusercontent.com

[2021-10-27 11:59] musale opened #5328 "feat: add placeholder attribute to FAST Picker"
# 🙋 Feature Request

The FAST picker menu uses an input element which does not have a placeholder text option.

## 🤔 Expected Behavior

The Picker should allow me to add text that I want to appear as placeholder text.

## 😯 Current Behavior

The input is empty and I can't set placeholder text.

## 💁 Possible Solution

Implement a "placeholder-text" attribute.

## 🔦 Context

I'm building a picker t

[2021-10-27 18:39] chrisdholt opened #5329 "Implement NPM 7+ w/ Workspaces"
#4737 was initially tracked as an investigation into whether or not we should move towards NPM 7+, a newer version of Yarn, or continue on with Yarn + Lerna. The issue has now been closed with updates to the FAST Tooling repository which served as a small test bed.

The results of the investigation show that NPM 7+ is likely the best approach for our mono repository given our current requirements.

[2021-10-27 23:33] #5317 closed, assigned to nicholasrice

[2021-10-28 18:32] robarbms opened #5335 "fix: gradient covers first item in horizontal-scroll"
# 🐛 Bug Report

When using a left gradient in horizontal-scroll, the first item will scroll under it and be partially obscured.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

The first item should be fully visible.

## 😯 Current Behavior

Scrolling past the first item will scroll the last full in view item to the start with the left gradient going over it.

## 💁 Possible Solution

Possible fi

[2021-10-28 18:32] #5315 closed, assigned to robarbms

[2021-10-28 19:07] chrisdholt opened #5337 "Turn on noImplicitAny and strictPropertyInitialization in `fast-element` and resolve errors"
As part of #5303 we turned off `@typescript-eslint/typedef` globally as it was overwritten across multiple packages. As part of that, we turned on `noImplicitAny` and `strictPropertyInitialization` for all packages. Turning this on revealed several issues related to both tsconfig settings in `fast-element` and so it was turned off explicitly for that package. This issue exists to track turning tha

[2021-10-28 19:15] chrisdholt opened #5338 "Turn on "noImplicitAny" and "strictPropertyInitializiation" for `fast-foundation`."
As part of #5303 we turned off @typescript-eslint/typedef globally as it was overwritten across multiple packages. As part of that, we turned on noImplicitAny and strictPropertyInitialization for all packages. Turning this on revealed several issues related to both tsconfig settings in `fast-foundation` and so it was turned off explicitly for that package. The errors should be fixed and addressed

[2021-10-28 20:15] chrisdholt opened #5339 "Turn on `noImplicitAny` and `strictPropertyInitialization` for `fast-components`"
As part of #5303 we turned off @typescript-eslint/typedef globally as it was overwritten across multiple packages. As part of that, we turned on noImplicitAny and strictPropertyInitialization for all packages. Turning this on revealed several issues related to both tsconfig settings in fast-components and so it was turned off explicitly for that package. The errors should be fixed and addressed as

[2021-10-28 21:02] chrisdholt opened #5340 "Refactor Anchored Region stories to remove non-null-assertions"
As part of #5303 we added configuration to disallow non-null-assertions. Anchored region stories within `fast-components` includes several non-null-assertions which should be fixed-up. This task exists to track the removal of the flag disabling that check and fix up the necessary code to remove the warnings.

[2021-10-28 22:40] chrisdholt opened #5341 "Turn on `noImplicitAny` and `strictPropertyInitialization` for `fast-router`"
As part of #5303 we turned off @typescript-eslint/typedef globally as it was overwritten across multiple packages. As part of that, we turned on `noImplicitAny` and `strictPropertyInitialization` for all packages. Turning this on revealed several issues related to both tsconfig settings in `fast-router` and so it was turned off explicitly for that package. The errors should be fixed and addressed

[2021-10-28 23:36] caseyfaber opened #5342 "fix: disabled menu items are still keyboard focusable"
# 🐛 Bug Report

If you have `disabled` on a menu item, you can't click it, but you can still use the keyboard to focus on it.

## 💻 Repro or Code Sample

[code]

1. Go to https://explore.fast.design/components/fast-menu
2. Add `disabled` to of the `<fast-menu-item>` elements.
3. Tab to the menu.
4. Press the down arrow key to the menu item.

## 🤔 Expected Behavior

I believe it should skip the dis

[2021-10-29 00:14] chrisdholt opened #5343 "Refactor `fast-colors` to support tsconfig with `noImplicitAny`, `strictNullChecks` and `strictPropertyInitialization`"
As part of #5303 we turned off `@typescript-eslint/typedef` globally as it was overwritten across multiple packages. As part of that, we turned on `noImplicitAny`, `strictNullChecks`, `strictPropertyInitialization` for all packages. Turning this on revealed several issues related to both tsconfig settings in `fast-colors` and so it was turned off explicitly for that package. The errors should be f

[2021-10-29 02:04] chrisdholt opened #5344 "Turn on `strictNullChecks`, `strictPropertyInitialization` for `fast-web-utilities` in tsconfig"
As part of #5303 we turned off `@typescript-eslint/typedef` globally as it was overwritten across multiple packages. As part of that, we turned on `strictNullChecks` and `strictPropertyInitialization` for all packages. Turning this on revealed several issues related to a few tests and function implementations in `fast-web-utilties` and so it was turned off explicitly for that package. The errors s

[2021-10-29 23:04] caseyfaber commented on #5342
Thank you! I guess I was expecting disabled behavior that <fast-select> uses, looks like that is not the correct expectation for menu. I am closing this issue.

[2021-10-29 23:04] #5342 closed

[2021-10-29 23:42] chrisdholt commented on #5342
No worries at all - when I’m doubt please do file an issue! Thanks!

[2021-10-30 01:32] adamcee commented on #4310
Agreed : ). Looking at FAST and finding it fascinating. Half of my curiosity is that it is, in the code, well-documented UI component behavior/state, independent of implementation.

[2021-10-30 06:32] radium-v opened #5346 "fix: component style exports cause type complications in fast-components"
# 🐛 Bug Report

For `fast-components`, we're exporting the final style constants by creating a new exported const when we haven't changed anything in the original alias. I haven't come across any components which modify their aliased `styles` import, so I don't know if the reassignment is necessary in most cases.

## 💻 Repro or Code Sample

[code]

## 😯 Current Behavior

Duplicated type definition

[2021-10-30 06:39] radium-v opened #5347 "chore: convert functions for templates and styles to `FoundationElementTemplate` type"
# 🙋 Feature Request

The templates in `fast-foundation` and the styles in `fast-components` should use the `FoundationElementTemplate` type.

## 😯 Current Behavior

Each function for every template and style has their own individual type signature, which can cause collisions when working across projects with different `foundation` bases.

Here's an example of a template that uses the generic funct

[2021-11-01 12:25] m4thieulavoie commented on #5340
@chrisdholt I would be happy to take care of that if you want to assign this issue to me 👍

[2021-11-01 16:32] chrisdholt commented on #5340
Done!

[2021-11-01 19:10] radium-v commented on #5329
So I spent some time this weekend looking into lage and learned:
- it's Norwegian for "make", pronounced "law-geh"
- the documentation is incomplete, but once I understood the pipeline config it started to come together a little better
- It seems to collide with the `lerna.json` config file, with regards to the packages it sees
- caching makes `prepare` go vroom (after the first run)
- we can be m

[2021-11-01 19:23] radium-v opened #5349 "fix: template partials in component definitions passed as string literals"
# 🐛 Bug Report

Partials that are provided in component definitions are set as template literals, though they should be handled as `html` templates.

## 💻 Repro or Code Sample

[code]

## 💁 Possible Solution

[code]

## 🔦 Context

Components which have definition properties set as string literals:
* fastAccordionItem
* fastCheckbox
* fastCombobox
* fastFlipper
* fastMenuItem
* fastNumberField
* fa

[2021-11-01 19:47] radium-v opened #5351 "fix: inline tags in tsdoc blocks use escaped characters"
# 🐛 Bug Report

The tsdoc blocks for components use escaped tags, which causes incorrect semantic output in our documentaiton.

## 💻 Repro or Code Sample

[code]

![image](https://user-images.githubusercontent.com/863023/139731766-77b1e9e9-76d9-4922-9227-824c2df2ee2d.png)

## 🤔 Expected Behavior

Since tsdoc comments are parsed as markdown, the tag name should be wrapped in backticks.

## 😯 Curren

[2021-11-01 19:48] Ciwo-K opened #5352 "fix: Once set cursor position of active TextField not changable"
# 🐛 Bug Report

It is not possible to change the set cursor position of an active TextField with the mouse.

## 💻 Repro or Code Sample

`<FluentTextField></FluentTextField>`

## 🤔 Expected Behavior

You should be able to select a new cursor position (with the mouse).

## 😯 Current Behavior

Open blazor-fast -> FluentUIServerSample page -> navigate to webcomponents -> Text Field -> input sample tex

[2021-11-01 19:51] EisenbergEffect commented on #5352
@chrisdholt A potential significant issue that needs looking into probably pretty quick.

[2021-11-01 21:53] chrisdholt commented on #5352
I see what this is, but I'm going to move it to the Fluent Repo and we'll fix there.

[2021-11-01 22:11] KingOfTac commented on #5323
Would library authors be able to use this to provide errors in packages that use or extend FAST, or is it limited to being internal to FAST only?

[2021-11-01 22:13] EisenbergEffect commented on #5323
Not planning anything in the design that would be limiting. We could do something like "reserve" the first X number of package ids for ourself I imagine, and maybe reserve ranges for various open source libraries as well. I hadn't thought about that as I was mostly thinking of this in order to solve some of our own issues with embedding error messages and package size.

[2021-11-01 22:15] EisenbergEffect commented on #5323
The thing I'm not planning is building any kind of robust logging framework, for example. This would be dead simple, very small mechanism, for a very specific purpose.

[2021-11-01 22:20] KingOfTac commented on #5323
A specific case that came to mind when reading the proposal is, say someone creates a component that extends one of the FAST components and add new functionality to the component but want to provide errors that are consistent with the errors emitted from FAST.

[2021-11-01 22:28] m4thieulavoie commented on #5339
@chrisdholt I'll look at this one too 👍

[2021-11-01 22:48] EisenbergEffect commented on #5323
Makes sense. Let me think through that a bit.

[2021-11-01 23:47] KingOfTac commented on #5323
Maybe `fast-element` could expose an additional configuration function that authors could call and provide an object that gets merged with the existing options that are internal to FAST.

Possibly something like:
[code]

This does get tricky if someone decides to use two third-party libraries that both extend FAST. I don't really have an idea on how configuration conflicts between packages would g

[2021-11-02 00:58] m4thieulavoie commented on #5337
@chrisdholt I can take this one too and work on it tomorrow 👍

[2021-11-02 08:26] #5328 closed

[2021-11-02 14:44] EisenbergEffect commented on #5349
I think the final template could handle either a string or a template. Do we want to type these properties to enable either? It's cheaper to use strings if templating features (e.g. binding) aren't needed in the content. So, maybe we leave things as they are with the strings but just change the types to allow either for more end-user flexibility. Thoughts?

[2021-11-02 14:57] #5262 closed

[2021-11-02 19:39] #5346 closed

[2021-11-03 17:58] caseyfaber opened #5358 "fix: 'change' event for menu items with a role of "menuitemcheckbox" is emitted twice"
# 🐛 Bug Report

## 💻 Repro or Code Sample

I have a code sample here that is logging to the console the textContent and checked props in the 'change' listener.: https://codesandbox.io/s/menu-item-double-change-event-sowb5?file=/src/index.js

If you click a menuitem, it logs one change event.
If you click a menuitemradio, it logs two change events - one for the radio getting unchecked and one for t

[2021-11-03 18:01] chrisdholt commented on #5358
Thanks @caseyfaber! @eljefe223 could you take a look at this when you have a second?

[2021-11-03 18:33] radium-v commented on #5349
I think allowing strings is good, since tools like Webpack typically import SVG as raw string imports. We can and should still allow strings since there are implementations in the wild that use strings and we don't want those to break.

For me, the main downside to using strings in our own compositions is that syntax highlighting (#4001) doesn't apply to these partials, which makes them difficult

[2021-11-03 18:50] nicholasrice opened #5359 "fix: NumberField does not visually reflect the component's 'value' when 'value' is assigned programatically"
# 🐛 Bug Report
When `NumberField.value` is assigned via JavaScript, the component's `value` is not reflected to the inner `<input />` control's `value`. The effect of this is that there is no visual representation of a assigned value (or changed value).

## 💻 Repro or Code Sample
Min repro here: https://stackblitz.com/edit/typescript-7hcdkp?file=index.ts

## 🤔 Expected Behavior
Assigning a `value`

[2021-11-03 19:39] #5358 closed

[2021-11-03 22:47] #5351 closed

[2021-11-04 06:33] gayaths opened #5363 "fix: Dropdown list for Select component is clipped when it exceeds the bounds of the parent component"
# 🐛 Bug Report

When the Select component is used within another component, the dropdown listbox gets clipped if it exceed the bounds of the parent component (see image below).

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

Drop down should not be cropped

## 😯 Current Behavior

Dropdown exceeding the bounds of the parent component is clipped
![image](https://user-images.githubusercon

[2021-11-04 18:21] chrisdholt commented on #5363
@EisenbergEffect I'm going to mark this as a _feature_. I'll add a comment below elaborating more.

[2021-11-04 18:34] chrisdholt commented on #5363
Technically a dupe of #4791. This comment explains a bit about the problem and the long term solution: https://github.com/microsoft/fast/issues/4791#issuecomment-865231433

Regarding why select doesn't break out of it's container by default, currently `<select>` within the browser is insanely difficult to style. The Open UI Community Group is working on this along with browser vendors, with the go

[2021-11-05 00:49] chrisdholt commented on #5308
@robarbms did this get closed? If so can you link the PR?

[2021-11-05 01:12] gayaths commented on #5363
Thanks for the reply @chrisdholt.

What I have done currently is to limit the height of the listbox part by setting the `max-height` style for the `listbox` part. I do this on the click event of the select, this isnt ideal since the user can see the listbox resize. I'll try the suggestion you mentioned about setting the `z-index` and `position` styles.

Once again thanks for the help, I didnt real

[2021-11-05 01:13] chrisdholt commented on #5363
No worries - we’re working to help fix it in the platform! I think we’ll see if we can pri this without a breaking change as well. Let me see what we can plan for and we’ll work to enhance this for now either way!

[2021-11-05 16:46] astegmaier commented on #5017
I hit this issue too, and spent a while digging into it before I found this bug report. I thought it would be helpful to share what I found for whoever goes to fix this in the future.

1. You will get the same breaking behavior if you enable the [`useDefineForClassFields`](https://www.typescriptlang.org/tsconfig#useDefineForClassFields) compiler option with any target. This option was introduced i

[2021-11-05 16:48] #5340 closed

[2021-11-05 19:55] radium-v commented on #5359
The `control.value` doesn't seem to update to match the value when it's forced to change after the min/max range changes:

1. set `min` to 0 and `max` to 100
2. set `value` to 100
3. set `max` to 10

The `value` and `currentValue` return 10 but the `control.value` stays at 100 until I interact with the control.

[2021-11-07 19:07] m4thieulavoie commented on #5337
@chrisdholt I think we can close this issue as this will be included in [fast-element-2](https://github.com/microsoft/fast/pull/5357#issuecomment-957534482)

[2021-11-07 19:08] m4thieulavoie commented on #5338
@chrisdholt you can assign me this one too 👍

[2021-11-07 23:24] rajsite opened #5372 "feat: Move @microsoft/tsdoc-config to devDependencies or remove it from @microsoft/fast-foundation"
# 🙋 Feature Request

The `@microsoft/tsdoc-config` package is listed as a [dependency](https://github.com/microsoft/fast/blame/9f8444cf7bdc24a7d3c90126c9e3a8ac0cd24776/packages/web-components/fast-foundation/package.json#L93) in the `package.json` for `@microsoft/fast-foundation` but I can't see any references to it in source when doing a text search with `github.dev`. Maybe it could be removed al

[2021-11-08 15:59] EisenbergEffect commented on #3592
Closing this since we believe it has been fixed and haven't received feedback from the OP after an extended period.

[2021-11-08 15:59] #3592 closed

[2021-11-08 16:02] EisenbergEffect commented on #4531
For FASTElement 2.0 we have introduce an extensible mechanism to control bindings. As part of that we added support for one-time bindings and events, capture/passive, and binding signals. It will also be possible to add 2-way binding support, though I'm not sure if we'll put that "in the box" yet or not. It will depend on kilobyte size most likely. Closing this one as done 😄

[2021-11-08 16:02] #4531 closed

[2021-11-08 16:22] EisenbergEffect commented on #4531
Rather than use a special syntax, we have introduced a `bind` function that allows specifying details. For example:

Bind the id like normal:
`id=${x => x.id}`

Only bind the id once:
`id=${bind(x => x.id, oneTime)}`

Add an event listener like normal:
`@click=${x => x.someMethod()}`

Add the event listener but remove it after the first fire:
`@click=${bind(x => x.someMethod(), oneTime)}`

Add the

[2021-11-08 17:18] EisenbergEffect commented on #5372
@nicholasrice Seems like this is still needed. If I recall, it's used by our tests maybe? But perhaps it should just be a dev dependency. Do you recall?

[2021-11-08 17:45] nicholasrice commented on #5372
Yea I'm sure it was just a mistake that it was added as a dep instead of a dev-dep. I can put up a PR to re-categorize it.

[2021-11-08 19:39] #4967 closed

[2021-11-09 11:48] Yberion commented on #5198
Hello,

I'm using Angular 13 with `Typescript > 4.3.5` (currently `4.4.4`) and both deps:

[code]

I'm currently locked to use `"skipLibCheck": true,` when compiling if I want to use `Typescript 4.4.4` along with `@microsoft/fast-element / @fluentui/web-components`.

I'm seeing a "lot" of issues, most of them locked, but I don't see any ETA on when the issue is going to be fixed.

Do you have any

[2021-11-09 13:39] facowk opened #5379 "docs: add "search" in the documentation pages"
# 🙋 Documentation Request

Often is difficult to find a specific argument inside the documentation and you've to look inside many pages

## 💁 Possible Solution

Adding a search field?

[2021-11-09 13:47] facowk opened #5380 "docs: add package containing the DI class to the Dependency Injection page"
# 🙋 Documentation Request

The [Dependency Injection page](https://www.fast.design/docs/apps-and-experiences/dependency-injection) doesn't specify the package (fast-foundation?) containing the DI class.

## 💁 Possible Solution

Adding the package to the page.

Adding the package containing the classes and methods of the documentation could be useful for all the pages.

[2021-11-09 17:19] EisenbergEffect commented on #5379
Closing this one as a duplicate. We've got this tracked already and are hoping to address this soon.

[2021-11-09 17:19] #5379 closed

[2021-11-09 17:19] EisenbergEffect commented on #5380
Good feedback! Thank you! Yes, it's fast-foundation. We'll get this fixed.

[2021-11-09 17:26] facowk commented on #5379
@EisenbergEffect oh, sorry. I've searched in the opened issues, but i didn't found it!

[2021-11-09 17:29] EisenbergEffect commented on #5379
No problem. Here's project board that has a few improvements listed: https://github.com/microsoft/fast/projects/19
We've got someone hopefully joining our team soon to help with some of this. We welcome your contributions as well!

[2021-11-09 19:30] chrisdholt commented on #5198
Yeah, the issue here is specifically with regard to lib-dom typings becoming non-nullable. My understanding from the typescript team is that those are automatically updated and changed, so it's not something they can just "fix" or "change". From what I can tell though, in Typescript 4.5.0-beta they appear to be introducing a method of fixing lib-dom versions, which would help to avoid this. I don'

[2021-11-09 23:00] #5359 closed

[2021-11-10 00:05] bheston commented on #5286
I think this plan sounds solid. I wonder if as part of this we should restructure the way the color layer recipes work. The initial named set was based on previous Fluent Design, with the intent of maxing out at 4. The updated design doesn't go that dark in most cases anymore, but we've found experiences that actually needed to go darker. Ultimately there is a delta representing the offset between

[2021-11-10 18:39] joecuevasjr commented on #5307
This would be a beneficial component to add to the Fluent UI components.

[2021-11-11 17:06] MvandeRuitenbeek opened #5389 "fix: Tabs jumping around in Vertical Tab mode"
# 🐛 Bug Report

Tabs component does not outline properly in Orientation.Vertical mode

## 💻 Repro or Code Sample

Create a FluentTabs component with Orientation="Orientation.Vertical"
Create a few tabs.
Put a lot of content in one of the tabs, e.g. 20 lines of text

`
<FluentTabs ActiveIndicator="false" Orientation="Orientation.Vertical">
    <FluentTab>Tab one</FluentTab>
    <FluentTab>Tab two</

[2021-11-11 22:01] claviska opened #5383 "fix: unable to set position of combobox and select programmatically"
# 🐛 Bug Report

Both combobox and select have a `position` attribute that forces the menu to appear `above` or `below`. Both components work as expected when setting the attribute explicitly.

[code]

But neither work when setting the attribute or property programmatically, as demonstrated below.

## 💻 Repro or Code Sample

[code]

Fiddle: https://jsfiddle.net/dpe9k07u/2/

## 🤔 Expected Behavior

[2021-11-12 05:05] akronbook opened #5385 "fix: disabled attribute didn't block @click handler in fast-flipper"
## Issue description
When a fast-flipper sets the "disabled" attribute, the @click handler is still triggered.

## 💻 Repro or Code Sample

https://github.com/akronbook/flipper-disable-bug

## 🤔 Expected Behavior
When the "disabled" attribute is set, the @click handler should NOT be called.

## 😯 Current Behavior

In the sample code, the @click handler was triggered even though the flipper was disa

[2021-11-12 08:09] akronbook opened #5386 "fix: flipper didn't show up timely in horizontal-scroll"
# 🐛 Bug Report

when minimizing the browser window, fast-buttons were hidden, but the navigation flipper control inside a horizontal-scroll didn't show up as was expected.

## 💻 Repro or Code Sample

https://github.com/akronbook/horizontal-scroll-bug

## 🤔 Expected Behavior

When one button is fully hidden, a flipper control should show up to allow the users to reveal the button again.

## 😯 Curre

[2021-11-15 12:55] LuohuaRain commented on #5300
I love this Feature Request!

[2021-11-16 00:08] hawkticehurst opened #5387 "fix: Incomplete component attribute type information when using `fast-react-wrapper`"
# 🐛 Bug Report

Hi, over on the [Webview UI Toolkit](https://github.com/microsoft/vscode-webview-ui-toolkit) we're hoping to ship a set of React components using the `fast-react-wrapper`.

As we've been working towards this we've run into an issue where wrapped toolkit components do not have any type annotations/information for any of their attributes resulting in TypeScript intellisense/build err

[2021-11-16 17:54] scomea commented on #5256
Wired up keyboarding in the data grid component including navigating to rows that are virtualized.

[2021-11-16 18:35] chrisdholt commented on #5386
@SethDonohue can you investigate?

[2021-11-16 18:37] chrisdholt commented on #5385
@eljefe223 can you investigate this and see about potentially addressing this holistically across all controls? Are there any scenarios where we would want to invoke click or keydown handlers on disable elements?

[2021-11-16 18:38] chrisdholt commented on #5383
@radium-v can you look into this?

[2021-11-16 18:39] chrisdholt commented on #5389
@eljefe223 can you dig in here?

[2021-11-16 18:46] chrisdholt commented on #5274
@eljefe223 any update on this?

[2021-11-16 18:55] nicholasrice opened #5390 "fix: DesignToken unexpectedly removing CSS custom property"
# 🐛 Bug Report
DesignToken is removing CSS custom properties set for an element that is also a DesignToken root when the property is changed back to the *default* value.

## 💻 Repro or Code Sample
https://stackblitz.com/edit/fast-design-e5xbf1?file=components/my-app-root.ts
In the above repro, click the "Black on Yellow" button, then click the "White on Blue" button. Notice that the `--foreground-

[2021-11-16 19:05] chrisdholt commented on #5363
We're going to get started on #4971 so I'm going to close this as a dupe of that bug.

[2021-11-16 19:05] #5363 closed

[2021-11-16 19:42] radium-v commented on #5383
The `position` attribute is mapped to the `positionAttribute` property, but this doesn't seem to be a very ergonomic mapping. It should be changed so that the `position` attribute is mapped to the `position` property, which should allow setting both the attribute and the property with the same `positionChanged` observer. The component's internal state would then be handled by a private and interna

[2021-11-16 23:26] hawkticehurst opened #5391 "fix: Unable to install `fast-react-wrapper` due to React peer dependency conflicts"
# 🐛 Bug Report

When following the [React integration docs](https://www.fast.design/docs/integrations/react) I (and some [others](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/283#issuecomment-959846833)) have run into issues installing the `fast-react-wrapper` package due to peer dependency conflicts in the installed React version––forcing us to downgrade our `react` and `react-do

[2021-11-16 23:28] hawkticehurst commented on #5391
Oh wait, I just remembered a discussion with @chrisdholt where a change in NPM `v7` (which is what I'm using) might be the culprit for this behavior?

[2021-11-16 23:35] chrisdholt commented on #5391
This is kind of both - we have a PR that went in today for this to support >=16.9.0 which will publish tonight. i think you hit the issue immediately because it automatically installs the deps w/ NPM 7+. This should be published and should close out with #5388

[2021-11-16 23:35] #5391 closed

[2021-11-16 23:44] hawkticehurst commented on #5391
Oh whoops, apologies for the unnecessary/duplicate issue in that case! But yay, thanks for addressing this already!

[2021-11-16 23:59] chrisdholt commented on #5391
No worries - we were tracking this but we had a contribution last night :)

[2021-11-17 18:15] nicholasrice opened #5397 "feat: add mechanism to prefix DesignToken CSS Custom Properties"
# 🙋 Feature Request
A common pattern among UI libraries and application authors is the prefix CSS custom properties with some namespace to prevent name collisions with other code. We would like to support this use-case with DesignToken, so that library authors or application authors have the opportunity to supply or change an `CSSDesignToken`'s CSS custom property.

Currently, `CSSDesignToken`s ca

[2021-11-17 18:26] janechu commented on #5397
I agree, I think the first option is going to give the most flexibility. As far as the challenges go, the developer implementing can devise their own method for tracking the tokens they are using and then changing them to their desired CSS property names.

My only concern would be that in terms of the lifecycle of how DesignTokens work, will we be able to apply an updated CSS custom property token

[2021-11-17 19:16] nicholasrice commented on #5397
Because no CSS custom properties are emitted until a DesignToken root has been registered, so assuming the token rename method gets invoked prior to registering the root then the first emission would be the new name.

I also think it would be a requirement that if the token is changed *after* it has emitted, all emissions would need to tear down the stale CSS custom property and add a new one by t

[2021-11-17 19:21] chrisdholt commented on #5397
Is the "author" above the original creator of the `DesignToken`? If so, that would mean that the custom properties need to be prefixed at the library level, which I think would be problematic as it removes the "opt-in" nature for library consumers. As a user, if I'm using a single library, why do I care if it's prefixed? If it's not the case, I think it's fine - but I wanted to get clarity on the

[2021-11-17 19:25] nicholasrice commented on #5397
@chrisdholt yes, "author" refers to a consumer of the library. A library *could* use this method but it wouldn't make sense to do that instead of simply defining the token with the desired name.

[2021-11-17 19:27] chrisdholt commented on #5397
Thanks for clarifying the usage here! So similar to registering the components, I would essentially "register" the token with a new name. That sounds good and reasonable to me. That allows for either a prefix or a new semantic name that works better for a library user.

[2021-11-17 19:51] nicholasrice commented on #5397
*sort of*. You don't ever register the token itself, you register a location to emit default values. So actually what I wrote above isn't *entirely* accurate; an author could set a token value for an element *prior* to registering a token root and it would emit a CSS custom property. That is an edge case though, and is covered by the tear CSS custom property down / boot up behavior I'm describing

[2021-11-18 16:12] brianehenry commented on #5274
I ran into a related (opposite) issue - if you set disabled=true on a tab programmatically after it has been created, it will still respond to click events (i.e. you can still select the tab). Let me know if I should file a separate issue for this, but it seems like the fix would be the same.

[2021-11-18 17:18] marinasundstrom opened #5404 "fix: Drop menu clipped in fluent-combobox on Edge"
I have been using the ```fluent-combobox``` in Blazor.

On Safari it all looks great. The drop menu is floating and visible outside the boundaries of the ```fluent-card```.

But, on Edge it is bound to the card.

[code]

<img width="273" alt="Screenshot 2021-11-18 at 18 15 07" src="https://user-images.githubusercontent.com/919580/142464304-7d4581f2-4beb-42f7-b973-63c3b0b6f96a.png">

[2021-11-18 21:09] chrisdholt opened #5407 "fix: remove margin from host elements"
# 🐛 Bug Report

It recently was brought up in Discord that certain elements seem to have margin applied to the host element; while reviewing changes to the visual refresh, I found this to be the case.

## 💻 Repro or Code Sample

Switch and RadioGroup are two examples at the outset which apply margin to the host element.

## 🤔 Expected Behavior

Margin is used to provide space between things or rel

[2021-11-18 22:12] bheston commented on #5407
For `Switch` it looks like this is because the status message part has margin to separate it from the switch part, but if the status message is empty the part still shows and takes space. Seems like we need handling to identify that the message is empty and hide the part, or another way to handle the layout here.

[2021-11-18 22:13] chrisdholt commented on #5407
Not looking at the code, but assuming that’s a named slot, if the message exists perhaps it can be applied there. Being a named slot would require an element rather than plain text.

[2021-11-19 14:59] EisenbergEffect opened #5408 "feat: VS Code Plugin"
# 🙋 Feature Request

A VS Code Plugin that adds better completion in FAST templates.

## 🤔 Expected Behavior

Here's an example of something similar: https://marketplace.visualstudio.com/items?itemName=runem.lit-plugin

## 😯 Current Behavior

Currently, we have basic syntax highlighting of HTML and CSS through other plugils.

## 💁 Possible Solution

We should have an all-in-one VS Code plugin that

[2021-11-19 15:08] EisenbergEffect opened #5409 "feat: FAST vite template"
# 🙋 Feature Request

For devs using vite, we should have both js and ts templates.

## 🤔 Expected Behavior

`npm init vite my-app --template fast` scaffolds out a FAST JS project with vite.
`npm init vite my-app --template fast-ts` scaffolds out a FAST TS project with vite.

## 😯 Current Behavior

No support out of the box.

## 💁 Possible Solution

Submit a PR here: https://github.com/vitejs/vite/

[2021-11-19 17:49] bheston commented on #5407
The root of this bug as far as I know is the horizontal margin on `switch` resulting from an empty status message:
![image](https://user-images.githubusercontent.com/47367562/142666428-31db090a-da38-4349-b4b0-d6d9edb85560.png)

It's clear that we should not have the horizontal margin per your comments above. The bug is written generally though about removing it everywhere. I do think there are rea

[2021-11-19 18:56] chrisdholt commented on #5407
I think "proper layout" is an assumption here. This just came up in discord where a user was curious why there wasn't margin around elements by default, but if you notice their layout, it's not "proper" with default top margin on the button here: ![image](https://user-images.githubusercontent.com/13071055/142676109-e5a718fc-10be-4f5d-939c-930e6ffe56fe.png)

Layouts may or may not be horizontal or

[2021-11-19 18:58] chrisdholt commented on #5407
An argument could be made that removes this right now would be breaking. In that case, I propose we remove all margin on controls as part of the visual refresh to avoid causing issues with current implementations. But this is a change that needs to be made. We shouldn't hoist layout concepts or assumptions into primitives. If the concern is how others apply concepts such as adaptive density, we sh

[2021-11-19 19:09] chrisdholt commented on #5404
Thanks @robertsundstrom for the issue - would you say that [this](https://github.com/microsoft/fast/issues/5363) is similar to what you are experiencing?

As an FYI, that's been closed in favor of implementing https://github.com/microsoft/fast/issues/4971.

[2021-11-19 20:18] bheston commented on #5407
I've seen that button and text box case you posted, but that's not margin. We should 100% fix that. I don't recall if I ever figured out a good way, but I'm glad we're looking at it now.

The _only_ controls I propose we leave as-is are the small ones where the assumption that they have the footprint of any other control is safer. Of course, the downside of that is that there is no way to globally

[2021-11-19 20:20] chrisdholt commented on #5407
Sure, I saw the note and it's odd and we should fix - but I think it illustrates the problem of having margin on top. Even if it's not margin, I can create a repro with those which have it to illustrate the same issue. What components _should_ have the space around them in your mind? What's the story there and why is it intuitive for all layouts?

[2021-11-19 20:35] SethDonohue commented on #5386
@chrisdholt I have been digging in...
 I cloned the node where the scroll stops are updated, and it looks to be a non-styled version of the item, instead of the final item with the correct width and height. This leads to all the scroll stops being off slightly (typically the padding is not included in the width used to calculate the scroll stops), leading to the last few items being outside of the

[2021-11-19 20:55] Falkicon commented on #5407
I would rather see no margin on any components ever. Past experience shows, as soon as you make a reason to add margin ("it is usually used like this") Someone needs to use it in some other way and they have to remove the margin. Instead, I would prefer to see some system/utility/token method for developers to be able to add margins systematically and in a way that works well with Adaptive UI/Dens

[2021-11-19 22:55] rajsite commented on #5267
Sounds like the same class of issue as discussed here: https://github.com/microsoft/fast/issues/5231

[2021-11-19 23:01] rajsite commented on #5408
Our team currently leverages the following extensions for some syntax highlighting during FAST element development in VS code:
- literally-html: https://marketplace.visualstudio.com/items?itemName=webreflection.literally-html
- es6-string-css: https://marketplace.visualstudio.com/items?itemName=bashmish.es6-string-css

[2021-11-19 23:10] rajsite commented on #5383
Related issue: https://github.com/microsoft/fast/issues/5123

[2021-11-19 23:21] bheston commented on #5407
The button issue isn't a good comparison as it illustrates a different layout issue. If the checkbox had space built into it it would at least be apparent where that was coming from instead of with the button.

Maybe "margin" is the wrong word, but the control should have size built into it for spacing as well as touch target size.

Here's a comparison across design systems. Discord adds a backpla

[2021-11-19 23:22] chrisdholt commented on #5322
@rajsite just an update - @eljefe223 is running an audit and addressing all instances where disabled controls still emit events. This should be addressed as part of that.

[2021-11-19 23:25] rajsite commented on #5322
@chrisdholt thanks! I appreciate the update :)

[2021-11-20 00:08] bheston commented on #5407
I meant to mention that considering the footprint size of the control isn't much different from some other components that may or may not have a backplate or visual representation of their boundary, like Tabs. Whether tabs have a background or not, they still take the standard height.

[2021-11-20 00:17] chrisdholt commented on #5407
I'm still not seeing a good argument here for why controls should make assumptions about their layout. Given your examples, Material reserves that space because of the hover treatment, illustrated above - that's a different consideration. If our components required a broader hover treatment, their bounds would _grow_ - that's a fundamentally different argument than adding margin. What I see above

[2021-11-20 00:33] alphashr opened #5413 "chore: pull up api-extractor.json configs to the root config file and then extend it if it's needed"
Use ```extends``` feature of API Extractor (like tsconfig.json) to inherit from a base api-extractor.json file that contains the common configs.

Current api-extractor.json files and their content (7 in total):

[code]

[2021-11-20 00:37] Falkicon commented on #5407
Yes, in the case of controls like Radio and Checkboxes, if your extending the click area, then I think of that inside of the component. Same argument might be for a stealth button, where you only see the button on hover. The extra space around the text when not hovered is not extra margin, it is just a component that does not have visual borders.

[2021-11-20 00:40] chrisdholt commented on #5407
In this case as well, I'd argue that the extension of form controls would be handled by something like `form-field` which can better tie the control to a label, handle the additional space for error messages, etc...it's just all contextual. The primitive itself should be contained within it's borders whether visible or not, as is the case with a stealth button. What we shouldn't do is have the con

[2021-11-20 00:44] Falkicon commented on #5407
+1

[2021-11-20 01:28] rajsite opened #5414 "fast-button elements on the same line with and without icons do not align"
# 🐛 Bug Report

See the following screenshot of two FAST Buttons on the same line (one with icon and one without) and how they are offset from each other:
![image](https://user-images.githubusercontent.com/1588923/142709089-197bad98-f605-4b34-8175-614ac991bce0.png)

## 💻 Repro or Code Sample

Stackblitz: https://stackblitz.com/edit/fast-button-alignment?file=index.html

[code]

## 🤔 Expected Behav

[2021-11-20 02:42] alphashr commented on #5414
I think I know the fix.
Following changes would align the contents (all three slots: start, content and end) on cross axis properly:
[code]
![image](https://user-images.githubusercontent.com/54422255/142711564-add8fa66-05e0-4abe-b2e8-ec61075539ae.png)

I'd be happy to pick it up once it's triaged.

[2021-11-20 03:48] alphashr commented on #5414
I can see this issue for ```search``` component (not yet released) which uses the same startSlotTemplate and endSlotTemplate like button:
![image](https://user-images.githubusercontent.com/54422255/142712650-6b4151f9-24d8-44aa-8baf-d9b4becdfbe4.png)
First control:
[code]
Second one with svg in its start slot:
[code]
Other components such as ```Breadcrumb```, ```Listbox Option```, ```Number Field``

[2021-11-21 20:54] AndrewCraswell opened #5415 "feat: add menu button links to the Menu component"
# 🙋 Feature Request

Menus currently can render `menuitem`, `menuitemradio`, `menuitemcheckbox`. But an important missing scenario are menu links. From the W3C examples, this occurs when the child element is an `anchor` with the `role` as `menuitem`.
https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html

## 🤔 Expected Behavior

It should be possible to render hyperli

[2021-11-22 01:34] chrisdholt commented on #5415
Just a note that I believe Anchors with a role of ‘menu item’ should be accepted as children - we filter in menu for the role. @AndrewCraswell is the issue here functionality related (they don’t functionally work as expected) or that they don’t visually work/look as expected? I believe that menu should allow for this scenario but I think the styling is a gap for sure. Thanks for the issue!

[2021-11-22 05:05] bheston commented on #5407
I'd be more fine with moving this into something like fast-field if it already existed. Since we've had the space before, it's going to collapse layouts if they are not updated and this change is pushed. I'm fine with it going in the FAST visual update as that _should_ be considered a visual breaking change. I still think without better form layout this will make it easier to create less-desirable

[2021-11-22 18:35] chrisdholt commented on #5407
I mentioned above, but as there is already a visual refresh happening in FAST I think it's fine to do there. In Fluent, I don't think we can just leave this and assume that it's expected or the right thing. Coming on the heels of the visual refresh, it makes more sense to me to treat these as bugs to be fixed rather than wait for some in-the-future breaking change. Similarly, I don't believe any o

[2021-11-22 23:00] #5385 closed

[2021-11-23 19:14] chrisdholt commented on #5415
Thinking through this - I think there are a couple of different ways we could handle this.

1) Enhance the `menu-item` template to support an optional href and anchor - this keeps things tidy from a naming approach as it's still a menu item, but it bloats out the template and we'd have to handle two interfaces to ensure that anchors could support all HTML anchor attributes. Not a fan of this appro

[2021-11-24 13:00] BieleckiLtd opened #5417 "fix: Incorrect z-index in fast-menu slot="submenu""
# 🐛 Bug Report

When you place menu with submenu in a container that does not allow overflow (overflow: hidden) the submenu is not visible (is being cut off). Even placing one menu with submenu in the same container as other controls, close to them, renders the submenu under the other controls.

## 💻 Repro or Code Sample

[code]

## 🤔 Expected Behavior

Submenu should pop up above any other UI ele

[2021-11-24 13:03] BieleckiLtd commented on #5417
Possibly linked with #3813

[2021-11-24 18:53] RandomEngy commented on #5323
Would we have a way to tell what template was failing? We have dozens on the page and we just got this error stack report:

[code]

Knowing what kind of problem would be nice, but some info like this would be really helpful:

* Which element this template was being filled out for
* Which specific template had the issue
* Where in the template did we have the problem

Are you going to try to use co

[2021-11-24 22:22] scomea commented on #5415
This markup seems to work aside from styling:

`<fast-menu>
    <fast-anchor href="https://microsoft.com" target="_blank" role="menuitem" style="display: block;">Anchor 1</fast-anchor>
    <fast-anchor href="https://microsoft.com" target="_blank" role="menuitem" style="display: block;">Anchor 2</fast-anchor>
    <fast-anchor href="https://microsoft.com" target="_blank" role="menuitem" style="displ

[2021-11-27 03:16] MarcSkovMadsen opened #5419 "Cannot take screenshot with html2canvas"
### Bug reports:

[Fast](https://www.fast.design/) is a design framework which includes a set of web components. I use Fast in my Python data science apps. For example at https://github.com/MarcSkovMadsen/paithon. I would like to add a `ScreenshotButton` to my apps using [html2canvas](https://github.com/niklasvh/html2canvas)

But I can see that I get a `Uncaught DOMException: Failed to set the 'ad

[2021-11-27 04:18] benpsnyder commented on #4737
Very nice thread here. I just got done (mostly) implementing Yarn v3 for Nrwl Nx -- see [feat(core): implement Yarn v3](https://github.com/nrwl/nx/pull/7918)

Also wanted to share that using [@yarnpkg/plugin-patch](https://yarnpkg.com/api/modules/plugin_patch.html) was insanely awesome and helpful in debugging of issues. Worth looking into!

[2021-11-27 04:19] MarcSkovMadsen commented on #5419
## Workaround: [dom-to-image-improved]()

The below code works a bit better.

![image](https://user-images.githubusercontent.com/42288570/143667724-0354f6b0-d46e-4760-9f98-631b4ce3e2fb.png)

[code]

For my use case it almost works. But that is because I primarely use the design system (css) and not the components.

![image](https://user-images.githubusercontent.com/42288570/143667766-1398275b-910a

[2021-11-27 08:01] AndrewCraswell commented on #5415
And it looks like the HTML structure puts the `role="menuitem"` on the correct element, so I think this works.

![image](https://user-images.githubusercontent.com/1908292/143673398-22deaf54-6a1e-4460-8b91-f5011dfe36ac.png)

[2021-11-29 17:11] EisenbergEffect commented on #3928
This should now be addressed by the new FAST Blazor library https://github.com/microsoft/fast-blazor

[2021-11-29 17:11] #3928 closed

[2021-11-29 17:13] EisenbergEffect commented on #3375
@nicholasrice Can this be closed now?

[2021-11-29 17:36] #4131 closed

[2021-11-29 17:36] eljefe223 commented on #4131
This was fixed.

[2021-11-29 17:37] #5389 closed

[2021-11-29 18:40] bheston commented on #5415
Option 2 sounds right to me as well, assuming multiple inheritance isn't possible. The anchor template has an unfortunate number of attributes, but I don't believe we have any way around that now. It would be cool if we could centrally compose those in somehow, like adding an `aria` treatment to the element or something, but aside from that a plain copy and paste doesn't seem too painful at this p

[2021-11-29 18:47] scomea commented on #5415
I don't think you need the tabindex settings

[2021-11-29 19:16] chrisdholt commented on #5415
Yeah, and I think there is a styling story here that needs to be accommodated / aligned. This is certainly an option but I think first-class support for a simple element wouldn't be too bad either.

Yeah, I think the primary pain point here with reuse is that the element where focus is delegated needs to get the `role="menuitem"` attribute, so I'm not sure there is a good way to do that with full

[2021-11-29 19:49] nicholasrice commented on #3375
It can, I think that function was removed in the 2.0 refactor.

[2021-11-29 19:49] #3375 closed

[2021-11-30 18:47] eljefe223 commented on #5322
Have a PR up that addresses the above https://github.com/microsoft/fast/pull/5421

This fixes the selected change event from being fired, however I think we should investigate moving the click event that assigns the `selected-change` event from the root template to the `positioning-region`. This is would ensure that only the click event fires on the item itself and not when a Tree Item's children

[2021-11-30 18:49] chrisdholt commented on #5322
Thanks for this @eljefe223 - I agree we should take this as a follow-up and solve the immediate issue. There's definitely a tension here as I think we want the event fired from the node w/ role="treeitem". Let's plan on taking that as a follow-up for sure.

[2021-11-30 19:03] Iva-01 opened #5423 "feat: Infer component registrations - its currently very manual"
# 🙋 Feature Request

We are currently required to register all msft and fluent components and their dependencies (e.g. msftCarouselCard, msftCarouselCardWrapper, etc.). This is a very manual process and open to bugs as we've seen these bugs in production due to missed registrations. In addition, we may also end up registering things that may not be needed any longer, so it's very tedious to keep t

[2021-11-30 19:06] chrisdholt commented on #5417
There could be a couple of issues here - Menu uses Anchored Region, so it should be able to break out of it's container, unless of course that container is the body. In terms of z-index, @robarbms can you dig in here with the z-index issues first as I know you've been looking to address that in Fluent as well.

[2021-11-30 20:35] EisenbergEffect commented on #5423
To get a little more concrete, let's imagine a sample template as follows:

[code]

Assume that:

* custom-element-one has been manually registered
* custom-element-two has **not** been manually registered

What would you expect to happen?

[2021-11-30 21:31] EisenbergEffect commented on #5423
Ok, so is this really about dependencies? If I use component A and internally it uses component B, then you don't want to have to worry about registering component B. It should just work because it's used by component A. Is that the idea?

[2021-11-30 22:08] Iva-01 commented on #5423
Yes that would be a great start and would reduce bugs as folks are not aware of all the internal dependencies. Ideally, we wouldn't have to register anything and it would all be inferred from the template itself, but that's a stretch goal and not sure if its feasable. This is just feedback I'm giving based on the live site issues we've seen with the manual registration process.

[2021-11-30 23:15] scomea opened #5425 "fix: select component fails to display initially selected value"
# 🐛 Bug Report

When used in a data bound card component a user found that the value of an initially selected option was not being displayed.

## 💻 Repro or Code Sample

The component's template had a select with options that were bound to the components observable properties

        <fluent-select>
            <fluent-option selected>
                ${x => x.someValue}
          </fluent-option

[2021-11-30 23:16] nicholasrice commented on #5423
We discussed this case in the original RFC https://github.com/microsoft/fast/issues/3361#issuecomment-649089036 and there are some proposed solutions there. @EisenbergEffect do you still think the `.withRegistry()` implementation you're proposing there will address this?

[2021-11-30 23:18] chrisdholt commented on #5425
Is this possibly a dupe of #5219 or #5220?

[2021-11-30 23:41] scomea commented on #5425
Certainly in the same neighborhood as 5220, but different enough that it might not be the same fix.  Likely want to address together tho.

[2021-12-01 01:53] EisenbergEffect commented on #5423
It's a good question. I need to think about this more because there are few things at play here:

* Associating dependencies
* Handling both forms of registration (decorator and registry func)
* Upcoming custom element registries
* Potential tag name/prefix changes

Is this something we could choose to support only via `tagFor` used in function factory templates? For example, maybe `tagFor` could

[2021-12-01 20:46] chrisdholt commented on #5425
@radium-v can you investigate and add some context/thoughts here?

[2021-12-01 21:02] scomea commented on #5425
Note: setting the displayValue property of the select to the initially selected value is a workaround.
`:displayValue="${x => x.initialValue}"`

[2021-12-01 21:40] #5322 closed

[2021-12-01 22:47] nickescobedo commented on #881
I've also been wanting this feature for a while. Unfortunate this hasn't been done.

[2021-12-02 02:15] scomea opened #5431 "fix: slot changes and events can bubble from child slots"
# 🐛 Bug Report

The menu component has a slot which is bound to an "items" prop on the component:
<slot ${slotted("items")}></slot>

The "items" prop has an itemsChanged handler which gets invoked the slotted items change.

    `/**
     * @internal
     */
    @observable
    public items: HTMLSlotElement;
    private itemsChanged(oldValue, newValue): void {
        if (this.$fastController.isCon

[2021-12-02 03:27] #5431 closed

[2021-12-02 17:06] prudepixie commented on #4884
The bubbling is triggered by the <span> of the html button in the shadow root, originally I thought it came from the fast-button wrapper (putting event propagation would not work)
the issue lies in how the fast-button template is defined:
[code]
clicking on the span causes events to bubble up and because our shadow root is open by default, it continues to bubble to the container outside of the fas

[2021-12-02 22:54] prudepixie commented on #4884
As discussed with @nicholasrice, the expectations are as follows:
we have a parallel behavior with the platform in the first scenario. Imagine we have a
`<fast-button disabled></fast-button> `- this would not emit (we need to stop propagation).
Now imagine we have `<fast-button disabled><span>foobar</span></fast-button>`- clicking that span would emit the event

[2021-12-03 21:38] hawkticehurst commented on #5387
I've found a bit of time in the last day to do a bit of my own work to see if I can identify what's going on with the components and finally just discovered something that may be helpful in identifying whatever bug is causing this issue.

## `{Component}Options`
I've found that components that take `{Component}Options` as a type generic in the `compose` method seem to be the components that cannot

[2021-12-04 21:06] dirthsj opened #5437 "fix: inconsistent default slot naming in accordian item"
# 🐛 Bug Report

`fast-accordion`'s definition [available here](https://explore.fast.design/components/fast-accordion) has a name for the default slot; elsewhere the default slot is named empty string.

## 💻 Repro or Code Sample

No code is required. Read the component definition(s) [on the component explorer](https://explore.fast.design/components/) and compare the default slot names.

## 🤔 Expect

[2021-12-05 22:47] dirthsj opened #5438 "fix: accordion change event fires before DOM updated in fast-accordion event"
# 🐛 Bug Report

The 'change' event from the accordion fires before the DOM is updated with information about the change, and the event itself does not include information about what changed.

## 💻 Repro or Code Sample

HTML:
[code]
JS:
[code]

## 🤔 Expected Behavior

The code executed on the 'change' event should have access to the new state of the element

## 😯 Current Behavior

The code executed

[2021-12-06 15:33] EisenbergEffect commented on #4270
@janechu Can we close this now?

[2021-12-06 15:34] EisenbergEffect commented on #4501
@janechu Should we move this issue to one of the new repos?

[2021-12-06 15:39] EisenbergEffect commented on #4503
@nicholasrice Can you take a few minutes this week to confirm that we've got this resolved with the appropriate update in our documentation? I'd like to close this out if the work's done or if not get a solution in place.

[2021-12-06 15:59] EisenbergEffect commented on #5423
I think one way to do something like this would look like this:

[code]

The scoped element registry feature hasn't landed yet though. I'm not sure if there's a way to polyfill it. I'm also not sure just yet how to harmonize this with our templates that don't know the final tag name. Needs more thought.

[2021-12-06 16:00] EisenbergEffect commented on #4510
@nicholasrice Do we have an issue tracking the style stuff? If not, can we create one and assign to the FE 2 milestone?

[2021-12-06 16:02] EisenbergEffect commented on #4510
@Garbee  Are you still interested in contributing to our docs on this topic?

[2021-12-06 16:56] eljefe223 commented on #5437
@EisenbergEffect it appears the `accordion` template has a `name` on the default slot. We believe we should just remove the `name`

[2021-12-06 17:05] hkusulja opened #5442 "rfc: add DetailsList to/in FAST"
Hello,
we are comparing Microsoft Fluent UI React - web components - such as DetailsList - https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist which has lot of options, features etc.
To a Microsoft FAST Fluent UI using Blazor WebAssembly (clientside) .NET 6 .
Also, I am referencing Github issue from FAST-Blazor repo - https://github.com/microsoft/fast-blazor/issues/47
FAST-Bla

[2021-12-06 17:12] hkusulja opened #5443 "docs: add final example for FluentDesignSystemProvider to Blazor WASM"
Can you please update documentation - https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/docs/integrations/blazor.md

in case when using blank new project with .NET 6, Blazor, WebAssembly, like:
dotnet new blazorwasm

How to properly integrate FluentDesignSystemProvider tag into wwwroot/index.html and Pages/Index.razor and Shared/MainLayour.razor . Maybe create b

[2021-12-06 17:29] scomea commented on #5442
I don't believe this is on the books yet, but I would definitely favor an approach where we have complex components that are derived from the base grid, like a DetailsList could be, rather than try to make the base grid overly feature heavy.  We already have a calendar component that is based on data-grid.  https://github.com/microsoft/fast/blob/746ed487e8eb1ab2ede0ecdc09a6a11afc0baaba/packages/we

[2021-12-06 17:32] hkusulja commented on #5442
Ok, it does not have to be in grid component if you want it lightweight, it can be separate componentent called DetailsList, but still, can we hope this (almost all requested features, sorting, filterin, modalselect etc.) will be resolved here soon, or we have to find out other solutions?

[2021-12-06 18:42] nicholasrice commented on #4510
@EisenbergEffect I don't believe so - I'll add one.

[2021-12-06 18:43] janechu commented on #4270
@EisenbergEffect yes, now that we have a new direction on the Component Explorer I'll close this now.

[2021-12-06 18:43] #4270 closed

[2021-12-06 18:44] janechu commented on #4501
@EisenbergEffect no need, this was for the Component Explorer but based on the new direction we will be going with that site, this is no longer needed.

[2021-12-06 18:44] #4501 closed

[2021-12-06 19:31] nicholasrice opened #5444 "feat: add CSP support to fast-element for ElementStyles"
# 🙋 Feature Request
`@microsoft/fast-element` exposes several API's to programmatically add style elements to light and shadow DOMs when constructable stylesheets are not supported. Because these stylesheets are injected into the document via JavaScript, they are susceptible to Content Security Policy (CSP) restrictions.

This could take several forms:

**JavaScript configuration**
fast-element sh

[2021-12-06 21:03] scomea commented on #5438
I tried this variation in the component sample app:

        accordion?.addEventListener('change', e => {
            console.log(e);
            const item1 = document.getElementById('item1') as AccordionItem;
            const item2 = document.getElementById('item2') as AccordionItem;
            console.log(item1?.hasAttribute('expanded'));
            console.log(item1?.expanded);

[2021-12-06 22:32] EisenbergEffect commented on #5443
@hkusulja Can you clarify for me, is the CLI command in the documentation wrong? I'm not following what we need to fix for that.

[2021-12-06 22:43] EisenbergEffect commented on #5442
@chrisdholt You are probably best to respond to this. I don't even know if DetailsList is part of Fluent anymore, for example.

[2021-12-07 07:11] hkusulja commented on #5443
@EisenbergEffect thank you for reply, no, command is correct, i am saying that below examples with code and using FluentDesignSystemProvider are unclear how to implement on new blank project template (blazorwasm) (where to put each tag, in which file/line) and how is the end-result looking. I am also suggesting to create a new dotnet new template using Microsoft blazorwasm and Fast integrated, so

[2021-12-07 07:12] hkusulja commented on #5443
@EisenbergEffect thank you for reply, no, command is correct, i am saying that below examples with code and using FluentDesignSystemProvider are unclear how to implement on new blank project template (blazorwasm) and suggesting to create a new dotnet new template using Microsoft fast, so we can use this as a template instead.

[2021-12-07 15:40] vogtn opened #5448 "feat: add disabling "selection" for parent node fast-tree-item's with child nodes."
# 🙋 Feature Request

We would like to support a tree-view with parent tree-items that are **not** selectable, but is still able to open and close, [w3](https://w3c.github.io/aria-practices/#:~:text=For%20parent%20nodes%2C%20one%20possible%20default%20action%20is%20to%20open%20or%20close%20the%20node), to access the child elements and select them instead.

## 🤔 Expected Behavior

From https://explo

[2021-12-07 18:31] EisenbergEffect commented on #5443
Thank you for the clarification. I'm going to move this to the Blazor repo to track there since it's very Blazor specific. We can definitely improve the docs.

[2021-12-07 18:36] chrisdholt commented on #5448
I've updated this issue title to better represent what I think the ask is. From what I've understood from our conversations, currently parent nodes within a tree item (items with child nodes) are _selectable_ and interactive. The one and primary concern I have here (as mentioned offline) is that I'm not sure that can be done in a way that is both standard based and accessible, and so I'm not sure

[2021-12-07 22:49] Garbee commented on #4510
Sorry, haven't been on GH much since switching jobs.

No, not interested in getting it over the line. Feel free to use what I put up hackmd if you'd like.

New job is not using Fast, we're going with another thing for our needs to hep with Web Components. So it's no longer a work thing unfortunately. :/

[2021-12-07 22:51] EisenbergEffect commented on #4510
Thanks for the update @Garbee

[2021-12-08 19:14] KingOfTac opened #5450 "feat: add ability to return only one element from `SlottedBehavior`"
# 🙋 Feature Request

Sometimes you want a component to only support one element in a given slot.

## 🤔 Expected Behavior

The ability to tell slotted to return just one element. Like `Ref` currently does.

## 😯 Current Behavior

Currently `Slotted` will always return an array, even when using a filter function.
After this change the return type of `SlottedBehavior.getNodes` would change to `Node |

[2021-12-08 22:08] chrisdholt opened #5451 "rfc: replace usage of Foundation button with HTML button in `search` template"
# 💬 RFC

In exploring the current search component and looking at styling beyond the walls of FAST, I'm finding that there are some significant negative implications to baking the Foundation button (using `context.tagFor(Button)`) into the template for the clear button. When building templates in FAST, we aim to either align to an existing template proposal from Open UI, or where there is not one,

[2021-12-08 22:36] prudepixie commented on #4655
With some updates to the latest versions, it seems to work,
refer to: https://stackblitz.com/edit/angular-ivy-d43rxf?file=src%2Fapp%2Fapp.component.html

"@microsoft/fast-components": "^2.16.6"
"@angular/cli": "~11.0.4"
"@angular": "12.2.14"
"typescript": "4.3.4" (reference #5198)

@EisenbergEffect can you verify? then we can close this issue 🤙🏼

[2021-12-09 00:21] EisenbergEffect commented on #4655
It appears to work but the positioning seems off. @scomea Can you take a look at @prudepixie's example above?

[2021-12-09 00:52] scomea commented on #4655
Tooltip has a dependency on fast-anchored-region and that component isn't registered so the tag doesn't resolve.
![image](https://user-images.githubusercontent.com/7649425/145314419-4d22ec41-2a48-4368-8bb7-c890395e1b04.png)
Registering it in app.components.ts resolves the issue -

`provideFASTDesignSystem().register(
  fastButton(),
  fastTooltip(),
  fastAnchoredRegion());`

Is there a way we can

[2021-12-09 00:54] chrisdholt commented on #4655
Tracked with #5423 :)

[2021-12-09 21:39] bheston commented on #5451
My thoughts are that the components should be built for systematized composition. While the individual components each represent a lot of decisions that went into making them as flexible and comprehensive as possible, their biggest benefit comes when they are used together.

Consistent styling and interaction are difficult, and the least number of sources of truth is one of the main ways we can ad

[2021-12-09 22:09] chrisdholt commented on #5451
I appreciate this, but I think we are convoluting OUR implementations with the *intent* of Foundation. Foundation is intended to solve WEB problems, not OUR problems. We leverage it, but the intent is to provide a base template and class which can be used by _anyone_ for a number of scenarios. We need to really, really be considering far more than just our own needs and our own visuals when we are

[2021-12-09 23:45] KingOfTac opened #5454 "rfc: Looking for feedback/suggestions on a Github Discord bot"
# Github Discussions Discord Bot

## Background
Per @EisenbergEffect I am creating this RFC for an idea I had to try and bring the github and discord sides of the FAST community closer together.
This project is intended to enhance discussions in the community by allowing members that are either not on discord, or not yet members of the server to participate in discussions created in discord and vi

[2021-12-10 00:05] chrisdholt commented on #5442
I see this, I'm going to do some looking to see what the timeline/trajectory is. What I can say is that if it *is* part of Fluent it's likely an implementation of Grid. If it's something else, we can certainly look at adding that new interaction model but my understanding is that this would be an implementation of the FAST Grid in the Fluent visual language, likely with some additional ergonomics

[2021-12-10 00:10] chrisdholt commented on #5437
I think the issue here is that removing this will break the current templates for anyone who is projecting using `name`. If we remove those will no longer project.

My proposal here would be to add a generic/default slot in addition to the named slot and then track the removal of that with an issue AND a TODO in the codebase for the next major version.

[2021-12-10 00:11] chrisdholt commented on #5437
Marking as good first issue for anyone in the community who wants to pick this up.

[2021-12-10 00:16] chrisdholt commented on #5423
I'd love to see the tagFor scenario managed in some way as that would certainly improve developer experience for folks using Foundation elements which rely on Anchored Region for now (See #4655 above). That would also benefit library authors who build more composed components perhaps.

[2021-12-10 00:19] chrisdholt commented on #5408
Potentially could be added to https://github.com/microsoft/fast/pull/4001 (fast-tagged-templates) which just merged.

[2021-12-10 00:34] EisenbergEffect commented on #5423
The trick is that we can't couple a specific final composed component to a template. We could associate our base components with templates, but registration cannot be automatically handled with that data. We *could* throw a descriptive error message though, informing developers that an implementation of base component X needs to be registered. That could be done at registration time, so it would f

[2021-12-10 00:34] EisenbergEffect commented on #5423
But the other trick with that even is that fast-element doesn't know about base components. So, we'd have to think very carefully about the shape of the APIs here so that fast-foundation didn't seep down into fast-element.

[2021-12-10 00:43] chrisdholt commented on #5423
Yeah I think with Foundation most of these tightly coupled instances are going to be rare due to the intent here.

Not that it makes it easier, and it may not be the ideal - but I wonder if it's reasonable to add this to the component configuration? One would assume that someone using the template to construct a component *knows* what that template and class relies on. Could we enumerate the compo

[2021-12-10 00:49] #5417 closed

[2021-12-10 00:50] EisenbergEffect commented on #5423
I think we'd have to make the registry functions expose some information about themselves, namely, what base component they are a registration for (I can't remember if they provide this). The reason is that someone might want to have their own implementation of Button and we don't want to register myFancyButton if the end user has registered a substitute. We also don't want to double register it i

[2021-12-10 14:42] EisenbergEffect commented on #5454
This sounds pretty awesome if you can get it working @KingOfTac We can create any needed channels and do configuration on our end when the bot is ready. I'd love to see something like this put in place to help integrate the various places that the community is interacting.

Let me know if you need anything from us and please keep us posted on how the project progresses.

[2021-12-10 14:44] #2614 closed

[2021-12-10 14:45] #2620 closed

[2021-12-10 14:45] #2658 closed

[2021-12-10 14:46] #2588 closed

[2021-12-10 15:10] #2590 closed

[2021-12-13 15:27] #2667 closed

[2021-12-13 15:51] #5189 closed

[2021-12-13 15:53] #5380 closed

[2021-12-13 16:12] EisenbergEffect opened #5461 "docs: clarify the need for z-index on dialogs"
# 🙋 Documentation Request

Community members have repeatedly encountered issues using our dialog components where the component does not overlay their UI properly.

## 💁 Possible Solution

We should add content to our documentation on this component that indicates the typical requirement to set z-index.

[2021-12-13 16:20] EisenbergEffect commented on #4293
Just coming back to this. I haven't forgotten it. Reading back over this and thinking through it a bit. Maybe we can do something for FASTElement 2.0. For example, could we have a way to run the SlottedBehavior after the append? It seems like that's the real problem. We don't want everything to work that way, just this one, since the browser doesn't know to assign any nodes until the append operat

[2021-12-13 17:24] KingOfTac commented on #4293
I think in hindsight using @observable and a separate init function for popper would have been the best approach, even though coordinating multiple observables is always tricky. I think the use case now may be a bit niche, and the best approach may be to adjust the docs to make note of the slottedNodes availability. That being said if the change could be made without a hit in performance, it may o

[2021-12-13 17:33] EisenbergEffect commented on #4293
Sounds good. I'll update the docs now and then we can consider whether there's an improvement we can make that doesn't degrade perf in FE 2.

[2021-12-13 17:53] KingOfTac commented on #4293
One thing this issue brings to mind though that could be a useful improvement, is if you could somehow configure observable to group a few `Ref`s or `Slotted`s together and call a propertyChanged handler when all the properties are available. Something like this may make coordinating element references a bit easier.

[2021-12-13 17:58] EisenbergEffect commented on #4293
I think we could do that on a per object basis. There's a way to observe an object and get notified once for any property that changes on that object. So, we could look at detecting a special method and enabling this on web components.

[2021-12-13 17:59] EisenbergEffect commented on #4293
Actually, it's a bit trickier than I was thinking at first. But, we can still look into that.

[2021-12-13 18:06] KingOfTac commented on #4293
Using `@observable` decorator poses another challenge since you can't decorate multiple properties at the same time.

I'm going to go ahead and make another feature ticket for this, since it doesn't relate to this issue.

[2021-12-13 18:18] chrisdholt commented on #5461
Is there any additional context here? I have a feeling that a big reason this is coming up is likely more due to _where_ in the DOM the dialog should be rendered and where it is being rendered. I'm happy to take a pass at this.

[2021-12-13 18:29] EisenbergEffect commented on #5461
There are several cases of people attempting to use the dialog and having other web components render over top. I don't have more details than that. Some sort of guidance in the docs would probably help. If it's not z-index than maybe point out where the dialog should be I suppose.

(Whenever I build apps I always built a dialog service that dynamically creates dialogs at the end of the body. My g

[2021-12-13 19:56] KingOfTac opened #5463 "feat: Ability to group properties for observation"
# 🙋 Feature Request

Occasionally a component has multiple observable `Ref`s, or `Slotted`s that are needed for a single mechanism within the component. Coordinating when the observables are ready and when to run the dependent code can be a little tricky and produces a lot of redundant code.

I'm proposing a way for `@observable` to group properties together and execute a propertyChanged handler w

[2021-12-13 20:21] KingOfTac commented on #5463
Not sure how typing on the grouped property will work, thus the ambiguous ObservableGroup type.

[2021-12-14 02:51] msmithNI opened #5465 "fix: Non-modal FAST Dialog always consumes Escape key when visible"
# 🐛 Bug Report

When `fast-dialog` is used with `modal="false"`, it still consumes Escape keypresses on the page (expected for a modal dialog, but not for a non-modal one).

A non-modal dialog may want to stay open when Escape is pressed, and only close when a particular HTML button is clicked.
Not dismissing when Esc is pressed is straightforward (can just not handle the `dismiss` event), but the

[2021-12-14 08:03] hkusulja commented on #5442
But we need this such a control which existis in Fluent UI React, to the Blazor FAST ....

[2021-12-14 13:46] EisenbergEffect commented on #5442
@hkusulja We hear you and would certainly like to be able to offer this control to you as part of this library. That said, at this time, we are unable to make a commitment on this particular work item for a variety of reasons. I'm happy to keep this issue open so that we can keep you updated and provide you with more information as the situation changes.

[2021-12-14 13:49] hkusulja commented on #5442
@EisenbergEffect fair enough, thank you for the answer.

[2021-12-14 22:09] EisenbergEffect commented on #5463
Not sure if we can do this very easily and with good perf, but I'll try to spend some time looking into it while we're updating the internals of FASTElement for 2.0.

[2021-12-14 22:12] EisenbergEffect commented on #5465
Thanks for the detailed write up @msmithNI !
/cc @chrisdholt

[2021-12-15 00:16] scomea opened #5466 "feat: enable lightweight array change notification"
# 🙋 Feature Request

Fast enables array observation that triggers a callback when the array is modified:
Observable.getNotifier(myArray)

The callback includes detailed information about the change to the array in the form of splices:
public handleChange(source: any, splices: Splice[]){...}

However not all listeners necessarily care about the splices and just want to be triggered when contents ha

[2021-12-15 01:30] KingOfTac commented on #5463
Sounds good. In the meantime, I think I'll just make a utility function that can do this. If a built-in method is unfeasible then I can share any code in case others are looking for similar functionality.

[2021-12-15 20:00] EisenbergEffect commented on #5387
I see what's happening in the type system now. Let's see if I can figure out how to fix it. This is going to be a fun one 😉

[2021-12-15 21:01] michaeldbrandt opened #5469 "feat: add menu-button component to FAST"
FAST currently contains a button component and menu component. One common use case is a button that opens an associated menu, say, for a toolbar. To avoid repeating code, it would be helpful to have a single component that manages the menu opened state, and handles the keyboard navigation and a11y concerns involved in this type of menu.

I've put together a sort of prospective and bare-bones spec

[2021-12-15 22:30] chrisdholt commented on #5469
Thanks for submitting this @michaeldbrandt - I think we've considered this before, let me digest this and provide some thoughts back!

[2021-12-16 17:50] scomea opened #5472 "rfc: support for nested ui in open shadow dom"
# 💬 RFC

Having seen instances of authors attempting to hide swathes of ui in "mega-components" like full page control or header section we need to consider how valid this scenario is and what work we need to do to support it.

Consider a situation where someone creates a my-app-main-page component with FAST, and in that component lays out a bunch buttons, menus, etc... such that none of that ui i

[2021-12-16 18:44] EisenbergEffect commented on #5387
Ok, I've got a PR up that fixes our own components: https://github.com/microsoft/fast/pull/5473

Have a read through of the description for an exaplanation of what is going on. Basically, there appears to be a limitation in TS type inference. So, you can update how your are calling `compose` and that should fix things for you.

**DO THIS**

[code]

**OR DO THIS**

[code]

**BUT DO NOT DO THIS**

[

[2021-12-16 18:46] EisenbergEffect commented on #5387
NOTE: I'm also thinking about creating a new API that makes this more ergonomic in light of this TS limitation. Either way, we won't remove the old one until a major version change. We just might switch over to using a new thing and update docs accordingly. Not sure if I'll get around this soon or not.

[2021-12-16 23:10] yinonov opened #5478 "feat: break templates into parts"
# 🙋 Feature Request

Not sure if this was already discussed / decided upon (didn't find a matching request).

Templates of fast-foundation are composed in a single _template_ method, which makes it hard to override only small portions of it if need be.

to customize the templates library authors need to copy & paste the whole template literal and maintain while making sure nothing breaks over time

[2021-12-17 06:19] akronbook opened #5480 "fix: Setting an element's attribute didn't always take effect"
# 🐛 Bug Report

When updating an element's attribute, the attribute didn't always take effect

## 💻 Repro or Code Sample

https://github.com/akronbook/fast-binding-bug

## 🤔 Expected Behavior

When updating an element's attribute, the attribute should always be updated to the specified value

## 😯 Current Behavior
In the sample code, I identified two approaches to replicate the bug.
With the first

[2021-12-17 18:59] nicholasrice commented on #4503
We did, though I'm going to update it to reference this issue for future reference.

[2021-12-17 21:02] SethDonohue opened #5483 "feat: add corner positions to tooltip"
# 🙋 Feature Request

Request to have corner positions added to Tooltip!

## 🤔 Expected Behavior
Example: A position like `bottom-right` would position the tooltip to the bottom right corner of it's anchor element.

Position suggestions:
`top-left`, `top-right`, `bottom-left`, `bottom-right`
Would also need to consider adding `top-start`, `top-end`, `bottom-start`, `bottom-end` for when RTL directi

[2021-12-18 02:22] #5386 closed

[2021-12-18 02:36] EisenbergEffect commented on #5480
Closing this since it's not a bug but an attempt to use two way binding which isn't yet a feature of FAST.

[2021-12-18 02:36] #5480 closed

[2021-12-18 02:37] chrisdholt commented on #5480
YET 🥳

[2021-12-18 02:41] EisenbergEffect opened #5484 "feat: memoize the React wrapper"
# 🙋 Feature Request

## 🤔 Expected Behavior

Passing the same web component or registry to the `wrap` function should return the same React component

## 😯 Current Behavior

A new React component is created every time the `wrap` function is called even if it's called with the same component or registry as previously.

## 💁 Possible Solution

We can have a simple cache lookup based on the passed co

[2021-12-18 02:50] EisenbergEffect commented on #5472
I think we should expect everything up to a full application to exist in shadow DOM. So, we will need to account for that for sure with things that rely on even targets. Have we considered leveraging `composedPath()`?

[2021-12-18 03:09] #4503 closed

[2021-12-18 16:08] scomea commented on #5472
"composedPath" is certainly one of the primary tools we'd need to make this approach workable, but I don't think we know all the issues and configurations yet.  For example, how is document.activeElement usable in these kind of scenarios?  My take is that we are very much at the "groundbreaking" stage for this approach and still identifying the issues.

[2021-12-20 17:46] SethDonohue commented on #5483
@scomea Do you want me to give this a shot sometime this week or next? I am focused on some of the new team work with Proteus and just trying to learn it, but this would be a much welcomed mental break from Proteus in the near future.
But I know you could get this solved in a much shorter time, so let me know if you decide to tackle it soon, otherwise I may jump on it later this week or next.

[2021-12-22 19:31] Ceveos opened #5489 "fix: 'provideReactWrapper' function to render web component violates CSP in Edge Settings page in fast-react-wrapper"
# 🐛 Bug Report

When rendering a web component under a react framework, the guidance is to use the `provideReactWrapper` from `@microsoft/fast-react-wrapper`. When using this to render a web component in the Edge settings page, the whole page errors out as the CSP was violated.

It seems like the wrap function may be injecting HTML causing the CSP to not be happy.

## 💻 Repro or Code Sample

Simpl

[2021-12-22 22:26] caseyfaber opened #5491 "fix: if fast-combobox is opened by clicking an associated <label>, it becomes very difficult to close"
# 🐛 Bug Report

If you open a combobox by clicking a `<label>` that is connected to it with the `for` attribute, the only way to close it is to pick on of the options or click the combobox first (then it becomes closeable again). Pushing Escape won't work, clicking the down arrow doesn't close it, you can even open multiple up and they will all be stuck open.

## 💻 Repro or Code Sample

https://co

[2021-12-22 22:40] atmgrifter00 commented on #4791
@chrisdholt, I expect the fact that the fast-combobox dropdown menu is cut off when it is used as the column template for a fast-datagrid has the same root issue you're describing (making sure I shouldn't file a separate issue). If it is the same issue, as I expect it is, can you elaborate on how you would use the `anchored-region` to solve the problem in the short term?

[2021-12-22 23:57] scomea commented on #4791
Anchored-region is able to position itself relative to its anchor in either a "fixed" or "absolute" positioning mode.  Fixed positioning is useful precisely because it allows the flyout to break out of parent containers more easily.

[2021-12-28 00:15] hawkticehurst commented on #5387
Woo, thank you so much! That definitely makes sense (although it's quite the interesting quirk 🧐).

I'll try to draft up my own PR tomorrow and report back on the results.

[2021-12-28 23:44] hawkticehurst commented on #5387
This fixed the issue!!

With that said, I'm finding there is one more lingering problem: some fast foundation component attribute value types are defined with enums (i.e. [TextFieldTypes](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/text-field/text-field.options.ts) or [SelectPosition](https://github.com/microsoft/fast/blob/master/packages/web-component

[2021-12-29 04:22] Ionaru commented on #5198
This issue breaks the tutorial on https://www.fast.design/docs/integrations/angular currently. Maybe that should be mentioned.

[2021-12-30 00:15] KingOfTac commented on #5454
Progress update on this.

I ran into a small roadblock on the Github side of things right before the holidays that required that I take step back and rethink a couple of items.

The discord bot part is moving right along and just about ready to plug into Github.
I am going to have to shift gears a bit over the next couple of weeks due to some personal stuff, but I'll work on this when I can get aw

[2021-12-30 00:21] KingOfTac commented on #4293
Closing since docs have been updated and other items discussed here have been moved to new feature requests.
#5450
#5463

[2021-12-30 00:21] #4293 closed

[2021-12-30 19:42] KingOfTac opened #5492 "feat: add orientation to `Divider`"
# 🙋 Feature Request
An orientation attribute for `Divider` would be a nice feature to have for instances where you want a vertical divider for content that is consistent with other dividers on the page.

## 🤔 Expected Behavior

When the orientation attribute is set to vertical, the divider rotates 90deg and fills the vertical space of its container.

## 😯 Current Behavior

The divider is horizonta

[2021-12-30 21:27] EisenbergEffect commented on #5454
Thanks for keeping us posted on this @KingOfTac 😄

[2021-12-30 21:30] EisenbergEffect commented on #5387
I'm definitely open to that. We could start by exporting the existing enum to get things unblocked. Maybe we can provide some sort of typing that enables using either the enum or the string literal? I haven't tried that with TS. Basically, I want to see if we can avoid a breaking change. @chrisdholt Any thoughts?

[2021-12-30 21:31] EisenbergEffect commented on #5387
Actually, @hawkticehurst can you open a new issues for this request? I'm going to close this one out since the original issues is fixed. Then we can discuss the enums in a fresh issue.

[2021-12-30 21:31] #5387 closed

[2021-12-30 21:36] EisenbergEffect commented on #5489
Can you try to use a FAST web component directly without the wrapper? I suspect you will have the same issue. Let me know.

FAST uses Trusted Types to create HTML. The error above "Uncaught TypeError: Failed to execute 'createPolicy' on 'TrustedTypePolicyFactory': Policy "fast-html" disallowed." seems to indicate that you haven't allowed the FAST policy. You can either allow that policy via CSP or

[2021-12-30 22:30] KingOfTac opened #5493 "feat: Different default picker item list positioning"
# 🐛 Bug Report

In the current implementation of `Picker`, "picked" tags appear to the left of the control shifting the input to the right with each selection. This can be a bit jarring for the end user when the input is moving around.

## 💻 Repro or Code Sample

Start storybook in fast-components and navigate to `Picker`

## 🤔 Expected Behavior

Looking around at other implementations, it appears

[2021-12-30 22:36] hawkticehurst commented on #5387
Yep, would be happy to!

[2021-12-30 23:43] KingOfTac commented on #5478
I was intrigued by this and created a repro on stackblitz for those that want to play around with the idea.

https://stackblitz.com/edit/fast-design-vmccn3?file=index.ts

[2021-12-30 23:52] KingOfTac commented on #5478
I think a potential issue with this pattern is for it to work well, styles would need to follow a similar approach.

[2021-12-31 00:46] hawkticehurst opened #5494 "feat: export component option enums as string literal union types"
# 🙋 Feature Request

Continuing a conversation from [this thread](https://github.com/microsoft/fast/issues/5387).

**Background:**

Currently, there are a number of fast foundation component attribute value types that are defined with enums (i.e. [TextFieldTypes](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/text-field/text-field.options.ts), [SelectPosi

[2021-12-31 00:48] hawkticehurst commented on #5494
Hope that the write-up was clear, let me know if there's anything I can clarify!

cc @EisenbergEffect @chrisdholt

[2021-12-31 00:51] hawkticehurst commented on #5494
Also in terms of an immediate stop-gap solution for this issue, I think I'll be creating a new PR in the toolkit that simply re-exports all of the relevant fast foundation enums for toolkit developers to use.

But again I would love to see the addition of string literal union types so that using the enums is not a requirement.

[2021-12-31 04:37] EisenbergEffect commented on #5494
I was thinking the same thing, in terms of updating the property with a union type. I think we're blocked on TS 4.1 for the moment, but we can still create the string unions literally.

[2022-01-01 08:43] yinonov commented on #5478
I don't follow, why does it affect styles?

here's a working example
https://github.com/Vonage/vivid-3/blob/c5b9819bbd385515329a73f128d50680ac764b1a/src/components/badge/badge.template.ts#L20-L36

[2022-01-01 16:43] atmgrifter00 commented on #4791
I think I should have been a bit more specific in my ask. So if I, as a current user of the FAST components (in particular the FluentUI/Blazor widget set), want to be able to have the fast-combobox (i.e. FluentComboBox) have it's dropdown menu break out of its owner's bounds, is there a way for me to use the FluentAnchoredRegion to do so? I wouldn't expect that there is, as the div that is respons

[2022-01-01 17:16] KingOfTac commented on #5478
I don't think it would break styles if the templating changed to something like this, but I do think the styles could be more efficient if they followed a similar pattern for extending.

Let's say you wanted to extend `TextField` and reuse the styles for it from fast-components as much as possible, however you decide to change the label template from:
[code]
to:
[code]

In this scenario if you wan

[2022-01-01 17:26] yinonov commented on #5478
Of course, that's what you would do with sass (mixing etc'). JS has a lot more to offer in that.
But that doesn't mean i'm migrating from sass just yet.

[2022-01-01 17:30] yinonov commented on #5478
So yeah, you describe a modular system for css as well. I agree. But anyway fast-foundation comes styles-free and the ask is to adjust the foundation templates

[2022-01-02 19:09] scomea commented on #4791
I wouldn't say "nothing", just not some easy out of the box solution using select as it is currently.  You'd need to 'roll your own' to some extent.

[2022-01-02 19:58] chrisdholt commented on #4791
We are tracking this work on Select, it’s simply behind some accessibility work that’s currently in process.

[2022-01-02 19:59] atmgrifter00 commented on #4791
Would you expect to do the same work on the Combobox at the same time?

[2022-01-02 20:01] chrisdholt commented on #4791
Yes, these are closely aligned and we’d expect to do both simultaneously. Hopefully it’s not too far off.

[2022-01-03 18:47] SethDonohue commented on #4791
I had a few attempts at this without it being major changes, but I think it's best if scomea or someone else took a look at it!

[2022-01-03 23:58] m4thieulavoie commented on #5338
@chrisdholt https://github.com/microsoft/fast/pull/5370 is ready for review :+1:

[2022-01-04 00:08] m4thieulavoie commented on #5339
@chrisdholt https://github.com/microsoft/fast/pull/5354 is ready for review too :ok_hand:

[2022-01-04 01:04] m4thieulavoie commented on #5349
@EisenbergEffect @radium-v I'm happy to tackle this issue, feel free to assign it to me :+1:
I see that each content attributes already have the `string | SyntheticViewTemplate` type, so that shouldn't introduce any breaking change for third-party implementations, whereas it'll add extra typings to each `fast*` components :)

[2022-01-04 02:10] m4thieulavoie commented on #5347
I'm happy to contribute a PR for this one, feel free to assign it to me @EisenbergEffect :)

[2022-01-04 02:12] EisenbergEffect commented on #5347
Done! Thanks for the help! 😄

[2022-01-04 11:30] ziyoung commented on #5198
Now I have also encountered this problem along with `typescript@4.5.4`. Project dependencies are below.

[code]

Setting `"skipLibCheck": true` works for me.

[2022-01-04 18:01] caseyfaber opened #5499 "fix: combobox 'input' event doesn't give the correct text value when input changes"
# 🐛 Bug Report

If you listen to the `input` event on fast-combobox, it doesn't give the correct text value for `event.target.value`.

## 💻 Repro or Code Sample

This example is logging `event.target.value` to the console on input changes: https://jsfiddle.net/Lg56ptrm/

1. Type "test" in the input. It logs a blank string for every letter.
2. Click away from the combobox.
3. Click back in the inpu

[2022-01-04 19:27] hawkticehurst commented on #5494
That sounds great to me! Totally fine if you're blocked on TS 4.1 since template string conversion would only really be an ease of life improvement.

[2022-01-04 22:55] rajsite commented on #5451
Out of curiosity for a button like the following (a button that has to be clicked twice to activate):

![az5button](https://user-images.githubusercontent.com/1588923/148133926-822fa5ec-b056-4520-aeaa-632a643684c9.gif)

It would participate as a slotted element by using preventDefault on the first click and only allowing through the activation click? A more esoteric control would have to simulate a

[2022-01-05 20:24] #4884 closed

[2022-01-06 07:01] shachak opened #5502 "fix: Narrator Focus is not in sync with cursor when using text field."
# 🐛 Bug Report

## 💻 Repro or Code Sample

Repro-ed in component explorer.

## 🤔 Expected Behavior

narrator focus should be on the cursor.
## 😯 Current Behavior
While in edit mode in a textField the narrator focus shifts to the next element.

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

win11 Edge Browser

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browse

[2022-01-06 07:02] shachak commented on #5502
@chrisdholt this is based on offline discussion we had.

[2022-01-06 17:09] robarbms opened #5503 "fix: slotted horizontal-scroll component does not have a scroll next flipper"
# 🐛 Bug Report

When the horizontal-scroll component is used in a slot of another component, it will not scroll. This looks like it is calling setStops() in scrollItemsChanged() when they are added to the horizontal-scroll component when slotting. This is happening before the component has rendered to the page. As a result, leftOffset and widthOffset for all items is returning 0. This is causing t

[2022-01-06 17:40] robarbms commented on #5503
I created an example based on what the dev was doing in FAST internal. It appears it has something to do with msft-card and not specifically with it being slotted as I had initially suspected. I could not repro the problem when slotting fast-horizontal-scroll inside of fast-card. I'll work on recreating the problem in msft-card to isolate the problem.

[2022-01-06 22:22] #5243 closed

[2022-01-06 22:24] #4824 closed

[2022-01-07 17:37] CuddleBunny commented on #4959
@chrisdholt  It would seem this has been resolved on the Chrome end, I can no longer reproduce. @m4thieulavoie - are you still experiencing this issue?

[2022-01-07 19:10] chrisdholt commented on #4959
Hopeful on this! Let us know @m4thieulavoie!

[2022-01-07 19:16] m4thieulavoie commented on #4959
Unfortunately I am not working anymore at the company where we were experiencing the issue. If it's been fixed on the Chrome side and it hasn't been reported lately, I think it's safe to close the issue 👍

[2022-01-07 19:17] chrisdholt commented on #4959
Closing per above! Thanks!

[2022-01-07 19:17] #4959 closed

[2022-01-10 17:48] brianehenry opened #5506 "feat: add valueAsNumber property to number field and slider"
# 🙋 Feature Request

FAST's number field and slider are numeric inputs with string `value` properties. I assume that these properties are strings to match the behavior of native `<input type="number">` and `<input type="range">` elements, which makes sense. But it would be nice if the FAST numeric inputs had a `valueAsNumber` property like the native inputs do.

## 🤔 Expected Behavior

[code]

##

[2022-01-10 18:12] brianehenry opened #5507 "fix: slider thumb visual does not show minor changes in value"
# 🐛 Bug Report

When using a FAST slider with a large range, the slider thumb visual only changes its position after the value of the slider has changed significantly.

## 💻 Repro or Code Sample

Using the [slider from the FAST component demo](https://explore.fast.design/components/fast-slider), set the maximum to 1000, minimum to 0, and increment to 1. Use the arrow keys to change the value of th

[2022-01-10 18:29] brianehenry opened #5508 "feat: slider should have "input" event, and should emit "change" event only at the end of an interaction"
# 🙋 Feature Request

The FAST slider emits a `change` event every time the value of the slider is changed. The `change` event could be emitted many times in a single drag interaction. There is not currently a good way to be notified of the updated value of the slider at the end of an interaction.

Most other FAST input elements have both `change` and `input` events for this purpose. The FAST slide

[2022-01-10 21:53] chrisdholt commented on #5506
Thanks for this @brianehenry, if you have any interest we'd welcome a PR :).

[2022-01-11 01:49] bheston opened #5510 "rfc: add new adaptive density system"
# 💬 RFC

Here's a look at some of the history, issues, and updated model for adaptive density.

Note that the examples use current Fluent UI dimensions, but the system works with any values.

# Overview

## Density

### Balance between information quantity, visual comfort, and usability.

Density refers to the relationship between visual elements and empty space - How content like text, icons, and

[2022-01-12 00:43] m4thieulavoie commented on #5437
@chrisdholt I'm happy to contribute a PR!

[2022-01-12 01:08] m4thieulavoie opened #5513 "fix: flaky unit test in DateFormatter"
# 🐛 Bug Report

On my personal computer, `fast-foundation` test suite fails on the `DateFormatter` test suite. It looks like my date format (?) is conflicting with what the suite expects. Happy to provide more details if needed

Here's a summary of the failing test

[code]

## 💻 Repro or Code Sample

unsure

## 🤔 Expected Behavior

Tests should pass

## 😯 Current Behavior

## 💁 Possible Solution

[2022-01-12 01:58] chrisdholt commented on #5437
Thanks!

[2022-01-12 02:05] m4thieulavoie commented on #5484
@EisenbergEffect is this up for grabs? I'd be happy to look into it :+1:

[2022-01-12 02:09] m4thieulavoie opened #5515 "feat: deprecate item slot in accordion"
# 🙋 Feature Request

Follow-up of https://github.com/microsoft/fast/issues/5437 . This issue is for tracking the deprecation of the `item` slot name in the Accordion component. Once https://github.com/microsoft/fast/pull/5514 merges in, Accordion should support both a default slot and the `item` one, but in the next major version, we'll want to get rid of the latter to keep a lean API. Note that a

[2022-01-12 02:09] EisenbergEffect commented on #5484
@m4thieulavoie Absolutely. Go for it! Thank you 😄

[2022-01-12 02:09] m4thieulavoie commented on #5515
@chrisdholt feel free to fill in any missing piece of information!

[2022-01-12 02:15] chrisdholt commented on #5437
@m4thieulavoie pinging here because I don’t recall your @ on discord. Can you shoot me a message there when you get a second. Thanks again :)

[2022-01-12 06:40] ben-girardet commented on #5510
Great job @bheston ! I was looking forward to this new density story and I'm not disappointed. It will be very helpful in many situations. I remember that we also started to discuss the density story in the context of rounding corners for buttons.

I guess, in order to include this matter in the density story, my first question is about the corner radius Design Tokens ? I remember that first it wa

[2022-01-12 18:02] paule96 commented on #3859
Is this maybe the same as #5269?

But still this is really wanted!

[2022-01-12 18:15] chrisdholt commented on #3859
I thought this was in PR, let me take a look.

[2022-01-12 22:11] paule96 commented on #3859
@chrisdholt you are right. Here #5336

[2022-01-14 00:14] msmithNI opened #5522 "fix: Stack overflow error in FAST Dialog, when 2 are shown at the same time (with modal=trapFocus=true)"
# 🐛 Bug Report

If 2 FAST Dialogs are on a single web page, both with modal=true, trapFocus=true, and hidden=false, the dialog's focusing code triggers a stack overflow error.

## 💻 Repro or Code Sample

[https://stackblitz.com/edit/typescript-rltycf?file=index.html](https://stackblitz.com/edit/typescript-rltycf?file=index.html)

## 🤔 Expected Behavior

No stack overflow error; 1 of the 2 dialogs

[2022-01-14 22:56] hawkticehurst opened #5524 "fix: `current-value` attribute being applied to top level button component when wrapped with `fast-react-wrapper`"
# 🐛 Bug Report

I'm still not completely sure if this is a bug or not, but we ([Webview UI Toolkit](https://github.com/microsoft/vscode-webview-ui-toolkit)) have discovered that a component built with the fast foundation button (and also then wrapped with the `fast-react-wrapper`) will have the `current-value` attribute ([inherited from FormAssociated](https://github.com/microsoft/fast/blob/master

[2022-01-14 23:29] #5506 closed

[2022-01-17 10:32] A55imilat0r opened #5526 "feat: add [WordPress] to/in [integration]"
# 🙋 Feature Request

I'm looking for someone to create a Theme and Plugin that will bring Fluent UI to Wordpress

## 🤔 Expected Behavior

Full drag and drop site builder with Fluent UI assets. Buttons, Styles, Blocks, Colours ect....

## 😯 Current Behavior

There is no Theme or Plugin in wordpress that makes Fluent UI a simple low/no code option.

## 💁 Possible Solution

I'm open to community sugg

[2022-01-18 15:55] EisenbergEffect commented on #5524
@chrisdholt Any ideas what might be going on here? Where would `current-value` be coming from?

[2022-01-18 16:12] EisenbergEffect commented on #5526
I think this is a very reasonable request and something we'd love to have. Unfortunately, I don't think we have the ability to tackle this one ourselves right now. This is a great opportunity for community contribution.

[2022-01-18 18:36] huynhicode opened #5527 "fix: build failures in static site deploys & individual PRs"
# 🐛 Bug Report

Build errors in static site deploys and individual PRs.

## 💻 Repro or Code Sample

## 🤔 Expected Behavior

## 😯 Current Behavior

Reason for build errors:

"This Static Web App already has the maximum number of staging environments (10). Please remove one and try again."

## 💁 Possible Solution

Proposed by @awentzel:

- Include paths in pipeline files to only build sites when sit

[2022-01-18 19:03] huynhicode commented on #5527
Listing file paths that represent dependencies of the various site builds:

**fast-color-explorer**
none

**fast-component-explorer**
sites/fast-component-explorer/*
packages/web-components/fast-foundation/*
packages/web-components/fast-components/*

**fast-website**
sites/fast-website/*

**site-utilities**
sites/site-utilities/*

**website**
sites/website/*
sites/fast-website/*
sites/site-utiliti

[2022-01-18 23:52] A55imilat0r commented on #5526
Thank you for the validation, I'm here and on the Discord and always open to questions, ideas and able to provide a live Wordpress Host domain for community testing.

[2022-01-19 21:23] msmithNI commented on #5304
@chrisdholt any updates on this issue? I saw that there's a PR for it now, but it hasn't been committed so far.
Thanks.

[2022-01-20 08:48] fcollonval opened #5532 "fix: Attribute observable (through getter/setter) is shadowed by a direct instance attribute when extending foundation `Button`"
# 🐛 Bug Report

## 💻 Repro or Code Sample

The code is available [there](https://github.com/jupyterlab-contrib/jupyter-ui-toolkit/blob/test/custom-button/packages/components/src/button/index.ts)

Steps to reproduce:

[code]

Look at the first 3 stories that should change the appearance of the button but it does not.

## 🤔 Expected Behavior

The appearance style sheet is properly loaded following t

[2022-01-20 17:41] shhnjk commented on #4118
Any update on the timeline?

[2022-01-20 17:44] EisenbergEffect commented on #4118
It's currently slated for FASTElement 2.0, which is in progress now. I don't have an ETA on that just yet.

[2022-01-20 18:14] scomea commented on #5256
Broke out a PR for the "virtual-list" component on this branch - https://github.com/microsoft/fast/pull/5529.

I'm continuing to work on the prototype branch to refine the data grid integration as well as having added a new "loader-card" concept.

I took the "layout update delay" out of the list component itself in favor of letting the item templates handle any desired loading management directly.

[2022-01-20 22:07] #5437 closed

[2022-01-20 23:28] MisinformedDNA opened #5555 "feat: Allow tooltip to appear even when item is disabled"
# 🙋 Feature Request

The tooltip should be able to display regardless of whether the target element is disabled or not.

For instance, this works fine:

[code]

But this does not:

[code]

## 🤔 Expected Behavior

If the checkbox is disabled, the tooltip can still appear.

## 😯 Current Behavior

If the checkbox is disabled, the tooltip cannot appear.

## 💁 Possible Solution

1) `Tooltip` ignores th

[2022-01-21 00:24] #5492 closed

[2022-01-21 20:07] hawkticehurst commented on #5524
Back with some updates!

## An almost working fix

We've continued to do some testing/exploration on our end and @mattrothenberg discovered that by adding the name property to the React wrapper config and also importing the wrapped React components (into Storybook) from our build file versus the wrapping declaration file this seems to fix the problems we've been seeing!

[code]

[code]

However, w

[2022-01-21 21:18] EisenbergEffect commented on #5524
This is very, very strange. I'm inclined to believe that there's something odd coming from Storybook.
No need to close and open a new issue. If you want to rename this issue, that's fine.

[2022-01-22 19:10] codef0rmerz opened #5538 "A sane way to override the default design token variables"
I'm trying to override the default button's design token variable `accentFillRest` to some other colour. After reading the documentation for a while, I figured out a way to do that. However, it looks cumbersome to me.

[code]

Is there a better way?

[2022-01-23 07:16] codef0rmerz commented on #5538
I used type assertion via `accentFillRest.withDefault(SwatchRGB.from(testColor as ColorRGBA64));`

[2022-01-24 08:25] fcollonval commented on #5532
I figure it out thanks to that [storybook issue](https://github.com/storybookjs/storybook/issues/12369).

The error is due to the babel configuration used for transpiling the code from TypeScript to JavaScript. Switching to `ts-loader` as in this repository solved the issue ([fixing commit](https://github.com/jupyterlab-contrib/jupyter-ui-toolkit/commit/f51ad6a5b00d892e8435f5035932e4dc2742bc5a)).

[2022-01-24 08:25] #5532 closed

[2022-01-24 14:48] EisenbergEffect commented on #5489
Closing since it's been about a month without response and this seems to be a configuration issue rather than a bug.

[2022-01-24 14:48] #5489 closed

[2022-01-24 21:08] radium-v opened #5540 "streamline github actions for pure documentation changes"
When changes that only modify certain parts of the documentation are merged, the full GH actions suite needs to be triggered for all open PRs when they're updated. This creates an exceedingly large backlog of builds, which in many cases can be skipped.

We could:
1. identify non-critical-path documents and files
2. analyze their respective build processes, if any, and determine the best workflow p

[2022-01-25 16:12] sayers24 opened #5542 "feat: add Rich Text Editor in web-components"
# 🙋 Feature Request

Many teams are wanting a RTE control.

RoosterJS is a vanilla js component that has a lot of usage. It could be possible to build off of this but appears to be incompatible with the shadow DOM (see [an issue logged](https://github.com/microsoft/roosterjs/issues/706))

[A related feature request](https://github.com/microsoft/roosterjs/issues/722) could be a dependency if Rooste

[2022-01-27 10:34] rangrasjay opened #5545 "attributes passing in doesn't working in react app"
# 🐛 Bug Report

[code]

## 💻 Repro or Code Sample

Here at connectedCallback method, I am getting it undefined.

## 🤔 Expected Behavior

It should show the value of titleName attribute.

## 😯 Current Behavior

It is showing titleName undefined

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: MacOS on MacBook
* Browser: Google Chrome
* Version: Monterey

[2022-01-27 19:26] #5347 closed

[2022-01-28 17:40] rajsite opened #5547 "feat: add DirectionalStyleSheetBehavior to fast foundation"
# 🙋 Feature Request

In a design system built on fast foundation (but not using fast component design tokens) we want to be ltr/rtl aware.

In order to do that we ended up copying and pasting  [`direction.ts`](https://github.com/microsoft/fast/blob/7fd3f17ae4a54c44605b82915e355423833a8c1c/packages/web-components/fast-components/src/styles/direction.ts) with the only modification being to provide o

[2022-01-28 19:58] aleun opened #5548 "fix: tree-item no longer emits the expanded-change event on right arrow key"
# 🐛 Bug Report

tree-item no longer emits the expanded-change event on right arrow key since PR https://github.com/microsoft/fast/pull/5194.
The spec states that the expanded-change event is part of the public API, which leads me to believe this was an unintended regression:
https://github.com/microsoft/fast/blob/eeb625e346a54da4c1f338eb90341a6e2d9ddb83/packages/web-components/fast-foundation/src/

[2022-01-28 20:00] chrisdholt commented on #5548
@scomea can you take a look and triage this to come up with the right fix/path forward?

[2022-01-28 20:19] scomea commented on #5548
I've had a PR out to address this for some time.  Needs reviews for forward motion.

[2022-01-28 20:34] EisenbergEffect commented on #5510
I finally got a chance to read through it 😄  @bheston What are our next steps here?

[2022-01-28 22:22] TravisSpomer opened #5549 "fix: spellcheck attribute in fast-text-field does almost nothing"
# 🐛 Bug Report

The `spellcheck` attribute on `fast-text-field` doesn't seem to work properly in any case.

* If you just use `spellcheck` then the generated `input` element gets `spellcheck` which isn't valid.
* If you use `spellcheck="true"` then the generated `input` element gets `spellcheck` which isn't valid.
* If you use `spellcheck="false"` then the generated `input` element gets `spellchec

[2022-01-31 20:01] jattasNI commented on #5469
@chrisdholt this issue was filed over the end-of-year break so may have fallen off your radar. Do you have thoughts on whether a menu-button is something FAST would provide (and if so, what the priority/timeline might be)?

[2022-02-01 03:48] hawkticehurst opened #5551 "fix: text field `onChange` event incorrectly firing when wrapped as React component"
# 🐛 Bug Report

Passing along a report from @mattrothenberg who is using the [VS Code toolkit](https://github.com/microsoft/vscode-webview-ui-toolkit) React components in the GitHub Next [Flat Editor extension](https://github.com/githubocto/flat-editor/pull/18). (Matt if I miss anything in this bug report feel free to chime in and add details).

The short version is that he's run into an issue whe

[2022-02-01 03:56] hawkticehurst commented on #5551
Oh also for those not using Chromium-based browsers the links referencing the respective React and native change event standards were links to specific text highlights that included the following:

React reference:

Native reference:

[2022-02-01 19:17] robarbms opened #5552 "fix: February tests are failing in calendar tests"
# 🐛 Bug Report

Tests for checking dates in February are failing due to February being misspelled as Febuary.

## 💻 Repro or Code Sample

Running `yarn test` in fast-foundation has failed tests.

## 🤔 Expected Behavior

Tests should use February and pass.

## 😯 Current Behavior

## 💁 Possible Solution

Update Febuary to February

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS

[2022-02-01 21:06] nicholasrice commented on #5538
I don't see a reasonable way to improve this. It's valid that `parseColorHexRGB` returns null because not all strings can be parsed as a hex color (e.g. `parseColorHexRGB("foobar")`). `Swatch.from()` needs color data, so a `null` value is meaningless to it. To use these two tools together you need to null-check or assert the product of `parseColorHexRGB`, and I don't see any way around this withou

[2022-02-01 21:50] #5552 closed

[2022-02-02 00:16] rajsite commented on #5547
Do y'all know the relationship between [DirectionStyleSheetBehavior](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-components/src/styles/direction.ts) and usage of [getDirection](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/utilities/direction.ts)?

It seems like there must be a connection between the html attribute being se

[2022-02-02 01:04] bheston commented on #5547
This has been an issue for a while now. Hopefully it will be an easy fix to pair them ,or perhaps defer to the html attribute since that's built into the platform. The design token pairs with the previous design system implementation, but we may not need to carry that forward if there's a more consistent way.
Let's prioritize fixing this if we can. It will come up in other areas soon I believe.

[2022-02-02 15:03] EisenbergEffect opened #5554 "Survey: Repo contribution experience 2022"
We’d like to hear from you the members of the community in this repo to learn how we were doing as maintainers.

Whether you've been involved for some time or you are relatively new, please tell us about your experience participating and contributing to the project. It should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=fast

[2022-02-02 16:13] EisenbergEffect commented on #5545
I'm suspicious of the mixed case attribute name. Can you try renaming the attribute to `titlename` and see if the issue persists?

[2022-02-02 16:34] EisenbergEffect commented on #5551
Honestly, I'm not sure if we can change this or even if we'd want to. The web components inputs offer two events: `change` that happens on blur and `input` that happens on keystroke, per the HTML standard pattern. The trouble here is that React is fighting against the way that HTML is designed to work and is overriding the native behavior of change events. My recommendation would be to use the `in

[2022-02-02 16:37] mattrothenberg commented on #5551
Thanks for your feedback @EisenbergEffect! Hooking into the input event is a perfect workaround for the React components. We will clarify the usage with good docs 👍

[2022-02-02 17:24] jattasNI commented on #5256
I'm super excited to see the FAST data grid maturing like this!

One performance optimization I've seen other UI frameworks use is to avoid instantiating new instances of the template on scroll by re-using the same elements for different rows. The client typically implements a callback function that is given a reference to the re-used element and is responsible for reconfiguring its contents befor

[2022-02-02 17:30] EisenbergEffect commented on #5555
Moved this issue from `fast-blazor` to here as this is likely not Blazor-specific but a part of the underlying web component implementation.

[2022-02-02 17:38] rajsite commented on #5256
I've also been interested in a virtualized table component to participate in a FAST based design system and I came across [`<regular-table>`](https://www.npmjs.com/package/regular-table) which is used as a dependency to implement tables for the [perspective framework](https://perspective.finos.org/).

The examples show the data model of `<regular-table>` scrolling through 2 billion rows very smoot

[2022-02-02 17:38] scomea commented on #5256
I think so.  I'm working on ideas along those lines in the prototype branch, although my first crack at it may be a bit different and push the element reuse down to the list item level with the idea of having super-light fast loading list elements that can manage loading/caching/reusing their more complex internals.  Would be more flexible to let authors optimize on their own element templates IMO

[2022-02-02 17:46] scomea commented on #5256
The first iteration of virtual list actually reserves space for all the elements (ie. the container element is tall/wide enough to hold all the elements if they were to be rendered).  This breaks down with huge collections as browsers don't necessarily handle very large elements well, for example native scroll bars start balking when they are scrolling something x-million pixels across.  Being abl

[2022-02-02 18:07] huynhicode commented on #5409
Closing this issue as it is a duplicate of https://github.com/microsoft/fast/issues/5260.

[2022-02-02 18:08] huynhicode commented on #5260
Closing this issue as it is a duplicate of https://github.com/microsoft/fast/issues/5409.

[2022-02-02 18:09] #5260 closed

[2022-02-02 18:11] hawkticehurst commented on #5551
Exactly what @mattrothenberg said!

Thanks for the input (no pun intended)--happy to just update the guidance in our docs on this matter.

Also going to go ahead and close this issue (unless you have a reason for keeping it open in which case I can reopen it).

[2022-02-02 18:11] #5551 closed

[2022-02-02 18:11] chrisdholt commented on #5555
I wonder if the initial issue here relates to how we're suppressing events with CSS (pointer-events)? There's probably a much larger investigation here needed than just the surface level issue called out here. I can confirm that the behavior of native inputs still show the tooltip on hover - no action should be taken in this scenario though for disabled elements w/ keyboard though as the elements

[2022-02-02 18:13] chrisdholt commented on #5549
This is a great catch @TravisSpomer - the attribute isn't boolean. We'll get this fixed up. Just as an FYI, we'll map directly to the attribute here for the element. Once fixed, whatever native behavior of this is on the input will be reflected on the control.

[2022-02-02 18:50] chrisdholt commented on #5549
Interestingly enough, I think we'll need to investigate more. When updating this, I get a type error as it relates to HTMLElement as the type for that is `boolean` (https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement). Alternatively, on MDN when looking at an input with type text, the attribute is enumerated as noted above (https://developer.mozilla.org/en-US/docs/web/html/element/input/t

[2022-02-03 06:03] saichiravuri opened #5557 "select dropdown items are not accessible using the voice commands in mac."
# 🐛 Bug Report

 select are not accessible using the voice control commands.

## 💻 Repro or Code Sample
In any mac machine
- switch on voice control under accessibility
- try to navigate the list of items in the select dropdown

## 🤔 Expected Behavior

Items should be selcted via voice commands.

## 😯 Current Behavior

items are not accesible via voice commands

## 💁 Possible Solution

## 🔦 Contex

[2022-02-03 06:07] saichiravuri opened #5558 "Select dropdown menu items are not getting resized upon Hover"
## 🤔 Expected Behavior

- When hovering over Select menu items, text should get resized to 60pt

## 😯 Current Behavior

- When hovering over Select menu items, text not getting resized

## 💁 Possible Solution

## 🔦 Context

## 🌍 Your Environment

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozilla FireFox]
* Versio

[2022-02-03 14:44] EisenbergEffect commented on #5557
@saichiravuri Can you provide operating system and browser information please?

[2022-02-03 14:52] EisenbergEffect commented on #5558
@saichiravuri Can you provide a bit more information on this? In particular, why should the select menu items have the specific text style applied to change the font size to 60pt on hover?

[2022-02-03 20:45] chrisdholt commented on #5557
Additionally the name or details for how which assistive tech you are using and your repro steps.

[2022-02-03 22:24] scomea commented on #5256
Added a rough "gallery panel" component to the prototype branch as a test case for virtualizing variable height virtual lists.

The top gallery group is a list of gallery groups each containing a variable number of galleries of images.  So, three levels of virtualizing containers.

![image](https://user-images.githubusercontent.com/7649425/152438857-1b6569b0-c67e-4009-96b9-295327d2b079.png)

[2022-02-03 22:55] eljefe223 commented on #3578
fix up for review

[2022-02-04 05:11] saichiravuri commented on #5558
@EisenbergEffect We have received an accesibility bug on this behavior, I checked all other fast select components too they are also having the same behavior.

"Expected Result:
When hovering over '<my select>' menu items, text should get resized to 60pt

User Impact:
Low vision user will face difficulties as they will not be able to see the text of menu items"

Feel free to close if this is not r

[2022-02-04 05:18] saichiravuri commented on #5557
@EisenbergEffect @chrisdholt please find the details

Environment details:
Mac:
macOS: Big Sur
mac Version: 11.6.2
Edge Canary version: 99.0.1111.0
AT: VoiceControl

Received an Accessibility bug with the below details::
Repro Steps (one of the edge browser features that uses fast select component):
Launch Edge Canary application and open any web page.
Navigate to 'Read aloud' button and select it

[2022-02-04 06:37] codef0rmerz opened #5562 "feat: sidenav component along with mobile support"
# 🙋 Feature Request

For creating apps on top of FAST components, it's extremely important to have a sidenav component that let's you have collapsible sidebar navigation. But unfortunately, it's missing.

## 🤔 Expected Behavior

[code]

## 😯 Current Behavior

For now, one can create [a custom element](https://www.fast.design/docs/fast-element/defining-elements) manually.

## 💁 Possible Solution

h

[2022-02-04 13:27] EisenbergEffect commented on #5558
I'll defer to @chrisdholt

[2022-02-04 18:36] chrisdholt commented on #5469
I think we can look at providing this - I'm not sure what the shape and API would be quite yet though. I do know that we're likely looking at next quarter at the earliest right now.

[2022-02-04 19:02] chrisdholt commented on #5558
Thanks @saichiravuri - I'm primarily curious *which* assistive technology tool this is. Is it a built in for Mac? Is it an extension? I just need more detail to be able to reproduce this and understand if the issue is with our approach or if it's in the tool itself. Just from the bug itself it seems more related to work the tool may be doing to magnify the UI itself and I'm not sure that's somethi

[2022-02-04 20:56] #5327 closed

[2022-02-04 22:08] #4137 closed

[2022-02-04 23:21] rajsite commented on #3246
@nicholasrice I ended up copying this implementation into our design system due to https://github.com/microsoft/fast/issues/5547

In review it was asked why in the unbind is the [subscriber not deleted from the WeakMap cache after the token association is cleared](https://github.com/microsoft/fast/blob/eff36b2834b7709cc2281738007019fd264c3d31/packages/web-components/fast-components/src/styles/dire

[2022-02-05 00:03] #3578 closed

[2022-02-05 00:25] nicholasrice commented on #3246
It's been a while since that was written so I can't quite recall, but I believe that is the intention, yes.  Bind and unbind will be called during connection and disconnection of the component, so it's really to avoid initial setup costs associated with elements getting attached and detached.

[2022-02-05 00:37] rajsite commented on #3246
@nicholasrice thanks for the context!

[2022-02-05 01:46] #5302 closed

[2022-02-05 17:32] #5507 closed

[2022-02-06 11:39] fcollonval opened #5565 "`focusStrokeWidth` not applied on text-field and number-field"
In text field and number field the box-shadow width is constant

https://github.com/microsoft/fast/blob/3337629dc557dba8b893038597ee3465f58f4dab/packages/web-components/fast-components/src/text-field/text-field.styles.ts#L130

But in select it is using the design token `focusStrokeWidth`

https://github.com/microsoft/fast/blob/3337629dc557dba8b893038597ee3465f58f4dab/packages/web-components/fast-c

[2022-02-06 19:41] chrisdholt commented on #5565
Looks like a bug, thanks for filing!

[2022-02-07 10:04] fcollonval opened #5567 "`vscode-html-languageservice` as dev dependency"
Should `vscode-html-languageservice` not be a dev dependency in `@microsoft/fast-components` instead of a direct dependency?

https://github.com/microsoft/fast/blob/3337629dc557dba8b893038597ee3465f58f4dab/packages/web-components/fast-components/package.json#L117

[2022-02-07 13:53] EisenbergEffect commented on #5567
It definitely shouldn't be a dependency of the components themselves. @radium-v @janechu Do either of you know why that's there?

[2022-02-07 14:07] #4738 closed

[2022-02-07 14:10] EisenbergEffect commented on #5545
Were you able to try out my recommendation?

[2022-02-07 14:20] EisenbergEffect commented on #3557
Closing this out since there hasn't been activity in a while. Also, since this issue was opened, we've tracked CLI work and features in a dedicated issue and WIP PR, and we've shipped Blazor wrappers for the FluentUI Web Components. Additional integration docs have been added with more being worked on now as well.

[2022-02-07 14:20] #3557 closed

[2022-02-07 14:23] #2315 closed

[2022-02-07 14:25] #3610 closed

[2022-02-07 16:37] claviska opened #5568 "fix: The global title attribute is hijacked in <fast-disclosure>"
# 🐛 Bug Report

The `<fast-disclosure>` element is using the [global `title` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/title) to populate its button text. This results in a system tooltip unexpectedly displaying redundant text on hover.

<img width="257" alt="CleanShot 2022-02-07 at 11 24 30@2x" src="https://user-images.githubusercontent.com/55639/152829041-4ba

[2022-02-07 17:35] eljefe223 commented on #4366
@pedrocardoz0 I believe this is by design. Since `slider-label` is meant to be used with `slider` the link should be

https://www.fast.design/docs/components/slider#sliderlabel

[2022-02-07 17:35] #4366 closed

[2022-02-07 17:43] #4395 closed

[2022-02-07 17:54] eljefe223 commented on #4655
Closing issue as it seems to be resolved.

[2022-02-07 18:13] chrisdholt commented on #5568
Yeah, this is an unfortunate oversight. Changing to summary would be welcome.

[2022-02-07 18:14] eljefe223 commented on #5054
this appears to be fixed, but the minimum value remains top. Based on what I'm seeing elsewhere I think @janechu is right. the minimum should be at the bottom.

[2022-02-07 21:14] #5565 closed

[2022-02-08 00:19] hawkticehurst opened #5569 "fix: empty `option` value attribute does not follow native HTML behavior"
# 🐛 Bug Report

Bubbling a [bug report](https://github.com/microsoft/vscode-webview-ui-toolkit/issues/327) we got on the toolkit upstream to FAST.

A toolkit dev discovered the following issue: "When having a dropdown with an option with the value set to an empty string, the empty value is not used, but the label of the option instead."

I created a reproduction of this issue (linked below) and wa

[2022-02-08 00:22] chrisdholt commented on #5569
@radium-v can you investigate?

[2022-02-08 00:35] bheston commented on #5510
Thanks @ben-girardet! I'm glad to hear this idea sounds good to you.

Currently there is the one corner radius token that's used for _most_ controls. As you've identified, this is not entirely flexible for all designs. For instance, it doesn't account for a `Switch` either following other inputs or being pill-shaped.

This leads to the next RFC I plan to work on, which starts to describe what I've

[2022-02-08 17:46] bheston commented on #2444
@EisenbergEffect This is actually exactly related to what came up in #5566. It relates to my current thinking around injection of styles, which is still the requirement I see for enabling a true token architecture that can be descriptively applied to any component part.

I'd like to see it stay open, and I'll try to remember it's here and link it with the work I need to take some time to write up

[2022-02-08 19:52] #5569 closed

[2022-02-08 19:56] hawkticehurst commented on #5569
Thanks for the quick fix @radium-v!

[2022-02-09 02:45] EisenbergEffect opened #5572 "feat: add support for W3C design token format to Adaptive UI"
# 🙋 Feature Request

Let's consider whether we can create an API that takes a w3C design token JSON file as input and uses that to set the tokens for Adaptive UI.

## 🤔 Expected Behavior

Some sort of API we can call that enables someone to set tokens based on a JSON doc that matches the specified format. Could it be as simple to use as this?

[code]

## 😯 Current Behavior

No such API exists.

##

[2022-02-09 12:13] josephkazarian opened #5672 "feat: add [Sticky Header and Sticky Column] to [FluentDataGrid]"
# 🙋 Feature Request

Making the first header and the first column in the Grid Sticky.

## 🤔 Expected Behavior

When scrolling down or right, the first Row and the First column stick to the Top/Left side of the grid.

## 😯 Current Behavior

Not Available

## 🔦 Context

I have a data grid with a lot of columns and rows, I couldn't find a possible way to make the first row and the first column stick

[2022-02-09 19:29] nicholasrice opened #5573 "Add Template Renderer"
Add template renderer to facilitate rendering `ViewTemplate` instances in NodeJS environment.

More details: https://github.com/microsoft/fast/issues/5182

Dependent features:

* [x] #5575
* [x] #5667
* [x] #5574
* [x] #5576
* [x] #5741
* [x] #5742
* [x] #5743

[2022-02-09 19:35] nicholasrice opened #5574 "Explore and add configuration API for SSR"
Several features in SSR can / should be able to be configured, including `FASTStyle` element, the *template renderer*. Configuration options known today are:

1. plugin model for template directives
2. Opting out custom element constructors from having declarative shadow DOM emitted from *template renderer*
3. Opting into and configuring `FASTStyle` emission instead of style elements.

Implementat