[2020-03-27 00:23] EisenbergEffect commented on #2834
Fixed by https://github.com/microsoft/fast-dna/pull/2843

[2020-03-27 00:23] #2834 closed

[2020-03-27 01:51] janechu commented on #2840
In CSS we do have `start` and `end` for things like `text-align`, I would say if the expectation is that things reverse in right-to-left, we use `start` and `end` and if they do not we use `before` and `after`.

[2020-03-27 01:58] chrisdholt commented on #2840
@janechu I believe that before and after both would localize equally as well, would they not?

[2020-03-27 02:24] janechu commented on #2840
They do not, behold: https://codepen.io/janemchu/pen/gOpQJdg

[2020-03-27 02:37] chrisdholt commented on #2840
Solid.

[2020-03-27 16:14] nicholasrice commented on #2840
Wow I didn't know that either:

+1 for start/end

[2020-03-27 17:59] janechu commented on #2840
OK, apparently I am a little wrong, the `::before` and `::after` psuedo elements don't necessarily respect the `dir` attribute but they do detect if the content is an rtl language (I've updated that codepen link to illustrate), and will swap. This seems kind of crazy to me and I'm having a hard time finding any threads about the logic of this. Regardless, start/end +1.

[2020-03-27 18:11] nicholasrice commented on #2840
Very odd - also didn't know *that*. I'm also still in favor of start/end. It is shorter and maps to properties that have more predictable directional behavior.

[2020-03-27 21:48] eljefe223 opened #2848 "Min and Max values have no effect on Progress"
**Describe the bug; what happened?**
Changing the `min` and `max` values on `fast-progress` web component has no effect.

**What are the steps to reproduce the issue?**

1. Change the `max` value on `fast-progress`

**What behavior did you expect?**
Currently the default `max` is `100` but if the `max` is changed to something else the value should be visualized as a percentage of that `max` value.

[2020-03-27 22:00] EisenbergEffect opened #2849 "[Proposal] ElementStyles Registration"
## Description

This proposal is to add a `register` method to `ElementStyles`, which would allow the styles object to be registered into a global lookup by namespace and name. These styles could then later be retrieved by name and applied dynamically to the `adoptedStyleSheets` of a component.

The primary use case for this is in cases such as button, where we have the same component, but with se

[2020-03-27 22:34] bheston commented on #2849
This looks great. A registry type system is what I have been picturing as the most flexible representation of this reusable style idea.

Regarding the namespace, would it be required or validated in any way? It seems that many appearances will be common across components, especially the primitives notion of something like "accent plated" which would define something like a fill, border radius, and

[2020-03-27 22:49] EisenbergEffect opened #2850 "[Proposal] innerHTML Security"
## Description

In FastElement, it's possible to bind to `innerHTML` using the following template syntax:

[code]

This opens up the door to various security issues. We can rely on developers to do the right thing, by sanitizing input, as strongly suggested in our documentation:

[code]

However, this still relies on developers to know that they need to do this, and it's quite possible that they w

[2020-03-27 22:53] EisenbergEffect commented on #2849
We could allow the namespace to be optional, and if not provided, put it in a "global" namespace. Rather than default that inside the API though, I might recommend that we manually use a known global namespace, such as "fast". Because I think customers may want to use this, I'd like to be careful that we don't end up with name collisions.

[2020-03-27 23:20] chrisdholt commented on #2849
@EisenbergEffect Does this change our export API in any additional way?
[code]
I'd assume this is additive and optional from an API standpoint; for instance, if a control doesn't need to support this it doesn't need to register in this way.

Regarding the name-spacing, I would agree to keep that out of the fast element implementation.  In `fast-components` I would expect we namespace any use case

[2020-03-27 23:29] EisenbergEffect commented on #2849
This would be non-breaking, additive behavior in terms of how we're exporting and using our styles today. There's no requirement to register the styles. We would not just have the ability to do that if we have a need.

[2020-03-27 23:31] EisenbergEffect commented on #2849
Basically, we're just introducing a loose coupling mechanism for styles. Today, you could technical import various styles and manually apply them based on appearance values as well. It's a bit ugly and there's no way to remove them... So, this will improve the add/remove APIs as well as provide a loosely coupled lookup mechanism as well.

[2020-03-27 23:33] chrisdholt commented on #2849
@EisenbergEffect sure, I'm in agreement on the scoping and support here and the API's for `fast-element`. The second half of my statement was regarding how this applies in our own implementation of `fast-element` with our `fast-components`.

[2020-03-27 23:43] EisenbergEffect commented on #2849
Gotcha! Yeah, I don't think every control would use it, and once we add this capability, we'll probably need to do a few cycles to figure out how best to use it as well. I think there are some neat ways this could be combined with recipes and we'll probably have to tease those apart to figure out what goes where and how best to organize and apply things.

[2020-03-30 16:05] nicholasrice commented on #2850
I'm not super familiar with this API - is there a case where a developer might different policies for different components? Is a single `configure` API sufficient or would we need support for instance policies?

[2020-03-30 16:10] nicholasrice commented on #2849
This looks great!

[2020-03-30 20:00] EisenbergEffect commented on #2850
The trusted types API allows the creation of various policies which can be controlled through an HTTP header. For example, this header:

[code]

With this in place, code cannot set innerHTML without using `my-policy` to do so. Since setting the policy is up to the person or team that creates the app, I think that we should not have a per-component or per-binding policy. This opens up lots of secur

[2020-04-01 21:43] chrisdholt opened #2859 "[Proposal] Restructuring repo workspaces"
## Overview
We've received feedback from time to time from new contributors and people in the community that the number of packages listed in the repo is overwhelming and it's hard to know what to make of the breakdown. This proposal serves to determine a new structure for the repo to make it easier to navigate, find resources, and contribute.

### Background
A foundational principle of FAST-DNA h

[2020-04-01 22:40] janechu commented on #2859
I wonder if it would be more clear to have the folder for react be `react-packages` so that there is still a clear indication that these are distributed packages.

I'm a little worried that the `fast-figma-plugin-msft`, `fast-storybook-presets`, `fast-storybook-design-system-addon` and `fast-tooling` look a little out of place because it seems like those could have a further grouping of `tooling-p

[2020-04-01 22:49] SethDonohue commented on #2859
I agree with the more clear folder name of `react-packages`, especially for a first time user it can help just a little bit more.

[2020-04-01 22:50] chrisdholt commented on #2859
One of my hopes is that the naming is landed via conversation here, so "react" is simply a placeholder here. I think we can keep the packages convention, but I'm hesitant to create additional fragmentation of packages if we don't have to - I do think it's worth consideration. I see "packages" as distributed packages which are *not* sites and are not legacy component implementations. I'm open to ha

[2020-04-01 23:04] janechu commented on #2859
My concern is only with clarity, so either there should be an additional packages folder for things we don't consider "core" component work, or we need a really good README file at the root of each packages folder that can assist in directing contributors to the right location.

Either way works for me.

[2020-04-02 02:15] EisenbergEffect commented on #2859
Would it make sense to pull out the figma, storybook, etc. into a "plugins" or "tools" folder?
Maybe something like this:

packages
   tools
   react
   web-components

[2020-04-02 02:22] chrisdholt commented on #2859
@EisenbergEffect I'm open to this, but my concern is scalability over time. What happens when we add a package that doesn't fit exactly into each of these buckets? Is it a litmus test for if we create a package (perhaps...)? If we can solve for that, this could definitely be a path forward. As it stands I see it as a potential opportunity for further fragmentation.

While not "legacy", I do think

[2020-04-02 03:47] janechu opened #2867 "Solve performance issue when dropping a drag item in Navigation onto a non-wrapped item"
## Background

There appears to be a performance issue firing the `end()` hook for `NavigationTreeItem` when there is no drop target.

An issue does not seem to be filed against `react-dnd`, so this requires some investigation as to the cause. If no other solution presents itself, all navigation items may have to be droppable.

[2020-04-02 14:50] awentzel commented on #2859
This is great start.  A few thoughts come to mind.  Where are the packages for the React tree?  Is it confusing not having an obvious packages folder for React?

Based on what I look for on GitHub projects, I would suggest something that explicitly shows web components as this is becoming our differentiated value proposition.  Also, it might nice be nice to show this without navigating down one le

[2020-04-02 17:36] nicholasrice commented on #2859
Both lerna and yarn support named workspaces, meaning we could put packages that don't fall into those categories into a root:

[code]

[2020-04-02 18:02] eljefe223 commented on #2859
I think having a root folder for each technology is helpful as @nicholasrice and @awentzel mentioned above.

[code]

[2020-04-02 18:09] chrisdholt commented on #2859
@nicholasrice @eljefe223 @janechu @awentzel It sounds like the concept is to have buckets based on how packages ladder up. With that in mind, let's land naming (I have no ideas, my bucket was "packages"). What is our "junk drawer" package? At some point certain things won't fall into all the buckets and so given the proposal for a junk drawer, what do we name these things?

As an aside - I think p

[2020-04-02 18:25] EisenbergEffect commented on #2859
Hard to define a "junk drawer" but if the library is something that is used by both react and web-components, we could have a "core" or "kernel" folder for that.

[2020-04-02 18:25] janechu commented on #2859
@chrisdholt I think @nicholasrice suggestion was that they fall under uncategorized.

https://github.com/microsoft/fast-dna/issues/2859#issuecomment-607989742

[2020-04-02 22:35] nicholasrice opened #2875 "Fast Element lifecycle events fire out of order in firefox"
It appears that in FireFox the FastElement lifecycle events are fired out of order; connectedCallback is fired *before* the constructor. I'm not really sure how this is possible but that appears to be what is happening.

repro:
1. checkout https://github.com/microsoft/fast-dna/tree/users/nirice/fast-element-lifecycle-event-firefox
2. run `yarn start` in `packages/fast-components` and open app in F

[2020-04-03 00:53] awentzel opened #2880 "Unit test is failing in fast-tooling-react"
**Describe the bug; what happened?**
[code]
**What are the steps to reproduce the issue?**
Simply run `npm test` on `./packages/fast-tooling-react`

**What behavior did you expect?**
Passing unit test

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. **MacOS**, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. **Edge**, Chrome, Safa

[2020-04-03 01:30] EisenbergEffect commented on #2875
I figured out what's going on here and should have a PR with the fix tomorrow.

[2020-04-03 18:38] awentzel opened #2882 "Unit test is failing in fast-components-react-base"
**Describe the bug; what happened?**
[code]
**What are the steps to reproduce the issue?**
Navigate to the package and `npm test`

**What behavior did you expect?**
Passing unit test
**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Edge, Chrome, Safari, FireFox]
* Version [e.g

[2020-04-03 18:40] awentzel opened #2883 "Unit test failed on fast-component-react-base after Jest 25.x upgrade"
**Describe the bug; what happened?**
[code]

**What are the steps to reproduce the issue?**
run `npm test` on this package
Example:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* B

[2020-04-03 18:47] awentzel opened #2884 "Unit test failed on fast-component-react-base after upgrading Jest 25.x"
**Describe the bug; what happened?**
[code]
**What are the steps to reproduce the issue?**
run `npm test` on the package

**What behavior did you expect?**
successful pass of unit test

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

* OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
* Browser [e.g. Edge, Chrome, Safari, FireFox]
* Version [

[2020-04-03 21:38] nicholasrice opened #2886 "Root design-system-provider should write the default design system"
Current implementation of the `fast-design-system-provider` web component requires the use of a `use-defaults` attribute to apply default values of the design system.

Ideally, the design-system-provider would recognize that it is the root level provider and apply defaults in that case.

- The `use-defaults` attribute should still be available and behave as it does today
- A new `no-defaults` attr

[2020-04-03 22:57] EisenbergEffect commented on #2875
Fixed in #2885

[2020-04-03 22:57] #2875 closed

[2020-04-03 22:57] EisenbergEffect commented on #2850
Implemented in #2855

[2020-04-03 22:57] #2850 closed

[2020-04-03 23:04] EisenbergEffect commented on #2849
Adding to this proposal the idea of recipes. Something like this:

[code]

With this in place, then the `addStyles` API described above would add the style sheets as well as connect the recipes.

I think the recipes would just have a bind/unbind so that they could participate in the behavior lifecycle of the element's view. In this way, they could even contain behavior, such as the code for a mate

[2020-04-06 18:21] EisenbergEffect commented on #2742
Closing this as implemented.

[2020-04-06 18:21] #2742 closed

[2020-04-06 18:22] EisenbergEffect commented on #2848
Is this still blocked? Anything I need to do in the fast-element library to help this along?

[2020-04-06 18:25] eljefe223 commented on #2848
This requires us to perform a calculation on multiple attributes. for example something like:
[code]

[2020-04-06 18:30] EisenbergEffect commented on #2848
Ah, this is the one where we're not observing everything. Right! Ok, I'll get this work at least started this week.

[2020-04-06 23:44] connorjsmith opened #2891 "onKeyDown is being squashed in <Select />"
**Describe the bug; what happened?**
A user callback of `onKeyDown` is exposed via unhandled props, but is never called by `<Select />`

**What are the steps to reproduce the issue?**

[code]

**What behavior did you expect?**
onKeyDown is called by Select whenever it processes a keydown event

[2020-04-07 17:17] chrisdholt opened #2893 "`disabled` attributes in fast-components have regressed"
**Describe the bug; what happened?**
It appears that disabled attributes across form controls which extend from  Form Associated element have regressed and the attribute is no longer being applied.

**What are the steps to reproduce the issue?**

Example:
1. Boot the `fast-components` package
2. Click on `checkbox`
3. Scroll down to disabled examples
4. See that disabled checkboxes are not disable

[2020-04-07 17:49] marjonlynch opened #2894 "attribute `value` is getting overwritten by default value "" if no default value is provided"
If a value is provided for the attribute `value` on a FormsAssociated based component, that value is set and then overridden by whatever the default value was for the value attribute. If no value is provided it's set to "",  if a value is provided then that value is used.

use branch: users/marjon/add-slider-check

1. Go to fast-components directory
2. run `npm start`
3. open console in the browse

[2020-04-07 17:50] chrisdholt commented on #2894
I think this may be related to #2893. FYI @EisenbergEffect

[2020-04-07 22:32] chrisdholt commented on #2840
@nicholasrice we seem aligned on start/end - unless there are some late opinions looking to interject here I think we can consider this issue landed and closed. If everyone is good with that we can open a separate issue to update the slot names across existing web components.

[2020-04-08 02:50] #2840 closed

[2020-04-08 20:42] nicholasrice commented on #2849
@EisenbergEffect not currently, and I don't anticipate them needing to maintain state. They're just a function of the design-system data.

[2020-04-09 00:56] awentzel opened #2904 "Test ticket from Code Climate"

[2020-04-09 00:57] #2904 closed

[2020-04-09 16:06] EisenbergEffect commented on #2894
Fixed in #2903

[2020-04-09 16:06] #2894 closed

[2020-04-09 16:06] EisenbergEffect commented on #2893
Fixed in #2903

[2020-04-09 16:06] #2893 closed

[2020-04-09 23:40] awentzel commented on #2859
Do we have a couple examples?  I like what @EisenbergEffect is suggesting.  I get worried putting random things in root, can also overwhelm newbies.

[2020-04-10 21:10] janechu opened #2914 "Missing .gitattributes file causes line ending issue for commits"
# Background

There is an issue where users may have different settings for git than what is accepted in this repository. An example of this is line endings, where a user may be on MacOS or PC and therefore have different default settings, or even have set their line endings to be a certain way which the repository does not have control over.

## Requirements

Create a `.gitattributes` file, see h

[2020-04-14 13:38] ShailyTyagiBlack opened #2926 "Focus Rect not clearly visible in High Contrast Mode in Toggle Component"
Bug:
When a user is in High Contrast mode, the focus rect( focus inidicator which comes on tabbing) is not clearly visible in the Toggle component.

Repro Steps:
Turn on High Contrast and tab navigate to toggle. Observe the focus rect.

Expectation:
More clear focus indicator in High Contrast.

Environment the issue was seen in:
It was observed in the Grammar Tools Pane in Reading View of the Edge

[2020-04-14 16:43] EisenbergEffect commented on #2859
Latest update looks solid to me. 👍

[2020-04-14 20:02] EisenbergEffect commented on #2849
Implemented in #2925

[2020-04-14 20:02] #2849 closed

[2020-04-14 21:48] #2859 closed

[2020-04-15 21:37] janechu commented on #2483
Closed when #2919 merged the changes to master.

[2020-04-15 21:37] #2483 closed

[2020-04-15 21:37] janechu commented on #2484
Closed when #2919 merged the changes to master.

[2020-04-15 21:37] #2484 closed

[2020-04-15 21:37] janechu commented on #2485
Closed when #2919 merged the changes to master.

[2020-04-15 21:37] #2485 closed

[2020-04-15 21:38] janechu commented on #2003
Closed when #2919 merged the changes to master.

[2020-04-15 21:38] #2003 closed

[2020-04-15 21:38] janechu commented on #2509
Closed when #2919 merged the changes to master.

[2020-04-15 21:38] #2509 closed

[2020-04-15 21:38] janechu commented on #2523
Closed when #2919 merged the changes to master.

[2020-04-15 21:38] #2523 closed

[2020-04-15 21:38] janechu commented on #2524
Closed when #2919 merged the changes to master.

[2020-04-15 21:38] #2524 closed

[2020-04-15 21:39] janechu commented on #2525
Closed when #2919 merged the changes to master. The check is only for `id` until a normalization to the updated JSON schema draft is evaluated.

[2020-04-15 21:39] #2525 closed

[2020-04-15 21:40] janechu commented on #2482
Closed when #2919 merged the changes to master.

[2020-04-15 21:40] #2482 closed

[2020-04-15 21:40] janechu commented on #2814
Closed when #2919 merged the changes to master.

[2020-04-15 21:40] #2814 closed

[2020-04-15 21:40] janechu commented on #2822
Closed when #2919 merged the changes to master.

[2020-04-15 21:40] #2822 closed

[2020-04-15 21:40] janechu commented on #2823
Closed when #2919 merged the changes to master.

[2020-04-15 21:40] #2823 closed

[2020-04-15 21:41] janechu commented on #2824
Closed when #2919 merged the changes to master.

[2020-04-15 21:41] #2824 closed

[2020-04-15 21:44] janechu commented on #1751
This does not conform to JSON schema, however it is possible to do this work as part of the mapping capabilities added in #2919

[2020-04-15 21:44] #1751 closed

[2020-04-15 21:44] janechu commented on #1992
Plugins no longer apply due to the updates in #2919.

[2020-04-15 21:44] #1992 closed

[2020-04-15 21:45] janechu commented on #1993
Plugins no longer apply due to the changes in #2919.

[2020-04-15 21:45] #1993 closed

[2020-04-15 21:45] janechu commented on #2815
Custom messages are now able to be sent after the move to v2 in #2919.

[2020-04-15 21:45] #2815 closed

[2020-04-15 21:46] janechu commented on #2796
Closed when #2919 merged the changes to master.

[2020-04-15 21:46] #2796 closed

[2020-04-15 21:46] janechu commented on #2774
Closed when #2919 merged the changes to master.

[2020-04-15 21:46] #2774 closed

[2020-04-15 21:46] janechu commented on #2668
Closed when #2919 merged the changes to master.

[2020-04-15 21:46] #2668 closed

[2020-04-15 21:47] janechu commented on #2615
Closed when #2919 merged the changes to master.

[2020-04-15 21:47] #2615 closed

[2020-04-15 21:48] janechu commented on #2435
No longer relevant as all of these props were removed to facilitate the message system which was added in #2919.

[2020-04-15 21:48] #2435 closed

[2020-04-15 21:49] janechu commented on #1107
Closed when #2919 merged the changes to master.

[2020-04-15 21:49] #1107 closed

[2020-04-15 21:50] janechu commented on #1659
Closed when #2919 merged the changes to master.

[2020-04-15 21:50] #1659 closed

[2020-04-15 23:29] janechu commented on #2880
Appears to be fixed with #2919.

[2020-04-15 23:29] #2880 closed

[2020-04-16 04:48] #2926 closed

[2020-04-16 17:37] scomea commented on #2891
https://github.com/microsoft/fast-dna/pull/2910 has been merged, fix is in the pipeline

[2020-04-16 17:38] #2891 closed

[2020-04-17 05:02] shachak opened #2959 "Accessibility Bug on the slider component"
Narrator focus doesn't move with the moving slider.

Steps to repro:
1. Open the slider component
2. Open Narrator
3. Keep using caps + enter to take focus to the slider.
4. use left and right arrow key to move the slider.
Observe that although the slider is moving the narrator focus is not moving.

Expected narrator focus should move along with the slider movement.

[2020-04-17 05:55] shachak opened #2960 "[Mac][Edge] Accessibility issue with slider when voice over is on"
Not able to move the speed slider using VoiceOver instructions or left right arrow when focus is on slider.

Steps to repro:
1. Use a Mac PC
2. Open the new Edge browser
3. Open the slider component
4. Try navigating to the slider using voice over instructions or using tabs.
5. When focus is on slider voice over says in order to interact use control + option + shift + down arrow. But on using the

[2020-04-17 19:36] chrisdholt commented on #2960
Thanks @shachak - I'll need a repro outside of our [component explorer](https://explore.fast.design/components/slider) as I can successfully move the slider values using voiceover with that example. I personally find [Stackblitz](https://stackblitz.com/) helpful as I can import components from our packages as dependencies.

[2020-04-20 17:17] nicholasrice opened #2965 "Production builds of `@microsoft/fast-components` fails at runtime"
**Describe the bug; what happened?**
A reference to `FASTElement` in `observable.ts` is throwing at runtime with the following error:
[code]

The line the error originates from is: https://github.com/microsoft/fast-dna/blob/master/packages/web-components/fast-element/src/observation/observable.ts#L20

**What are the steps to reproduce the issue?**

Example:
1. Create a project following this jist:

[2020-04-20 21:10] nicholasrice commented on #2965
fixed by #2966

[2020-04-20 21:10] #2965 closed

[2020-04-21 19:44] janechu opened #2975 "Allow the message system to initialize with no data or schema dictionary"
## Background

Currently the message system must be initialized with `dataDictionary`, `webWorker` and `schemaDictionary`. This should be simplified so that items can be added after initialization.

## Requirements

Allow the message system to be initialized with only the location of the web worker as an argument:

[code]

Later the message system could add the `dataDictionary` and `schemaDictiona

[2020-04-21 19:46] janechu opened #2976 "Deprecate the `data` prop on initialize message and replace with `dataDictionary`"
The tooling message system currently has an initialization post message as follows:

[code]

The data implies a single data item where it is actually a data dictionary, the `data` property should be deprecated in favor of `dataDictionary`.

[2020-04-21 19:49] janechu opened #2977 "Update documentation to indicate the the schema dictionary must use the schemas ID as the key"
## Background

The schema lookup in the message system uses the key of the schema dictionary which is expected to be the same as the schema ID as those must be unique.

## Requirements

Currently the documentation does not reflect that the keys in the schemaDictionary provided to the message system should be the same as the schemas ID, this section explaining the schemas should be updated.

[2020-04-21 19:51] janechu opened #2978 "Test for a registered onChange callback before calling it"
## Background

Due to items being registered to the message system and removed from the registry, there is an assumption that any registered item still exists.

## Requirements

Add a check in the message system before calling a registered items `onChange`.

[2020-04-21 19:52] janechu opened #2979 "Create diagrams to enhance documentation of the tooling messaging system"
## Background

The new message system and ecosystem of components for the `@microsoft/fast-tooling` and `@microsoft/fast-tooling-react` packages can be confusing when reading through the documentation for the first time.

## Requirements

Create a diagram of how the message system works and a diagram of how the components in the React package interface with that message system.

[2020-04-21 21:52] janechu commented on #2978
Closing as investigation determined this to be the fault of the implementer for de-referencing the provided callback.

[2020-04-21 21:52] #2978 closed

[2020-04-23 00:19] janechu opened #2990 "Allow the webWorker property of the config to initialize the MessageSystem to be a Worker"
## Background

Currently the assumption is that a path may be provided to the worker when initializing an instance of the `MessageSystem`. The developer adding the web worker may not have the path and may instead be using the webpack `worker-loader`, this will give them access to the `Worker` itself instead of the path, which may be hashed.

## Requirements

Allow the `webWorker` config property t

[2020-04-23 00:59] nicholasrice opened #2992 "Devise new mechanism for determining what a DesignSystemProvider is"
#2991 introduces a change where determining a design-system-provider is done by comparing tag-names.

While this addresses the immediate issue described in the PR, it doesn't address cases where consumers may be using a design-system-provider with a different tag-name.

This issue tracks a work item to make design-system resolution more extensible.

[2020-04-23 02:28] #2976 closed

[2020-04-23 03:02] #2975 closed

[2020-04-23 03:05] #2883 closed

[2020-04-23 03:06] #2884 closed

[2020-04-23 03:06] #2882 closed

[2020-04-23 16:18] #2990 closed

[2020-04-23 17:09] scomea commented on #2959
Looking into it a bit, but given that narrator focus deosn't move with basic page scrolling I'm expecting this is a narrator issue.

[2020-04-23 21:42] #2977 closed

[2020-04-23 22:39] janechu commented on #1943
Closing as the `ViewerContent` is now deprecated circa #2919.

[2020-04-23 22:39] #1943 closed

[2020-04-23 22:45] janechu commented on #2422
This is now occurring through the validation abstraction added in #2919.

[2020-04-23 22:45] #2422 closed

[2020-04-23 22:49] janechu commented on #1611
Ability to modify JSON schemas has been removed in #2919 to reduce complexity.

[2020-04-23 22:49] #1611 closed

[2020-04-23 22:51] janechu commented on #2174
This has been resolved as part of #2919.

[2020-04-23 22:51] #2174 closed

[2020-04-23 22:52] janechu commented on #2177
The code preview has been deprecated in favor of a solution that involves Monaco as of #2919.

[2020-04-23 22:52] #2177 closed

[2020-04-23 23:00] janechu opened #3000 "Update the Component Explorer to use FAST tooling v2"
## Description

The Component Explorer is still pegged to FAST tooling v1. In order to take advantage of the new perf improvements and flexibility, it should be updated to FAST tooling v2.

## Requirements

- Update the dependencies to the latest versions of `@microsoft/fast-tooling` and `@microsoft/fast-tooling-react`
- Update the code by initializing the message system and all other related work

[2020-04-23 23:04] janechu commented on #2376
This is deemed as no longer necessary, providing that web components and native components can be used and manipulated with a style editor.

[2020-04-23 23:04] #2376 closed

[2020-04-23 23:07] janechu opened #3001 "Address an issue with breadcrumbs not displaying when on array or linked data locations"
## Abstract

Breadcrumbs are currently missing when on array or linked data parent locations which causes some issues with navigating.

## Requirements

Allow breadcrumb items of type array or if they are linked data to display if they are the active item, double check this against the `Form` and `Navigation` to ensure that the change does not break functionality.

[2020-04-23 23:11] janechu opened #3002 "Clear the value in the linked data control once it has been submitted"
## Abstract

All form inputs for the form section which represents an object in the `Form` should clear after they have had a submit-like action.

## Requirements

The linked data control should clear the value once the value has been submitted.

[2020-04-24 01:11] nicholasrice opened #3003 "[Proposal] Nested Design System Objects"
There is a desire for our design-system object to support nested data structures. Not only would we like to leverage this capability to organize like properties, but there is also a desire to support other open-source design-system implementations, including [https://theme-ui.com/theme-spec](https://theme-ui.com/theme-spec) and [https://styled-system.com/theme-specification](https://styled-system.

[2020-04-24 18:41] EisenbergEffect commented on #3003
Where are the design system objects coming from? Could we just ask people to define them as observable? Example:

[code]

[2020-04-24 18:49] #2370 closed

[2020-04-24 20:28] chrisdholt commented on #2581
Closing this issue in favor of tracking via the official WC spec: #3008

[2020-04-24 20:28] #2581 closed

[2020-04-24 20:32] hchokshi opened #3009 "[Accessibility][Auto-suggest] Auto-suggest default input is missing aria-expanded attribute"
**Describe the bug; what happened?**
https://github.com/microsoft/fast-dna/blob/0302bb42eba37a1e032692fa14f3edcd2772ccde/packages/react/fast-components-react-base/src/auto-suggest/auto-suggest.tsx#L279

The auto-suggest input renders as a `combobox` aria-role, which should have an expanded attribute. Likely should be `aria-expanded={state.isMenuOpen}`.

E.g. select, which also behaves as a combobo

[2020-04-24 20:34] chrisdholt commented on #3009
Thanks @hchokshi this does appear to be a bug!

[2020-04-28 00:01] nicholasrice commented on #3003
Ideally, the object's values could come from a few sources:

1. Reflected from design-system-provider properties or attributes
2. Set imperatively (and arbitrarily)

For declaratively defined properties (#1) we have a mechanism to map a content / IDL attribute to a nested design-system property. We could extend that to accept a design system "target" which could support a nesting structure:
[code]

[2020-04-28 02:51] EisenbergEffect commented on #3003
Ok, I think I understand now. I was missing something earlier. Let me know if this is correct.

* We have a design system that we want to model as a more complex object, such as having a `fontSize` property, which is itself and object with sub properties like `base`.
* Regardless of the structure of the object, we need it to map to a flat set of CSS variables.
* We want the CSS variables on the ho

[2020-04-28 05:36] #2386 closed

[2020-04-28 14:42] awentzel opened #3022 "Prettier fails to run"
**Describe the bug; what happened?**
Prettier is failing to run on MacOS, Windows, and Linux consistently (though where it's in error seems to differ) including on the CI as shown on this break https://github.com/microsoft/fast-dna/runs/624514239?check_suite_focus=true

**What are the steps to reproduce the issue?**

Example of break when running script from lerna or yarn.

Seems to report issues

[2020-04-28 15:42] nicholasrice commented on #3003
Yep pretty much, we need to know when *any* property on or under the root object updates to re-evaluate.

[2020-04-28 19:10] janechu opened #3025 "Finalizing Creator and Explore site for production"
# Background

The `fast-creator` and `fast-component-explorer` are sites that are intended to be published. Currently they have missing features and are throwing various errors in some scenarios.

## Requirements

Write tasks that will address the following:

- Fix all run time errors
- Adding web components
- Removing any placeholder code
- Allowing the chaining of deeply nested data structures (

[2020-04-28 22:17] #3001 closed

[2020-04-29 00:22] janechu commented on #2442
I'm removing this from the tooling project as the tooling form elements already have a couple ways they can show validation, including HTML5 validation and inline.

It should be noted however that integration of the components to the tooling cannot happen until this work on the components has been completed.

[2020-04-29 00:23] janechu commented on #2460
This is handled as of #3000

[2020-04-29 00:23] #2460 closed

[2020-04-29 23:51] EisenbergEffect opened #3039 "[Proposal] Content Composition"
## Description

Today, if you provide a binding in your element's content, you can only return a primitive value from your expression. For example:

[code]

Or, if you have an existing template, you can compose it like this:

[code]

But, what if you want a binding expression to return a template? You can't do that because the text binding doesn't know how to handle anything except for primitives,

[2020-04-30 01:05] awentzel opened #3042 "Add code coverage using Node V8 instead of Babel for perf improvements"
**What feature are you requesting?**
Using the [V8 Engine](https://jestjs.io/docs/en/configuration#coverageprovider-string) to process Jest code coverage instead of Babel.

**What would be the benefit of adding this feature?**
Greater performance

**What solution would be ideal for you?**
An optimized, easy to maintain and performant solution

**What alternatives have you considered?**
n/a

**Is t

[2020-04-30 05:45] EisenbergEffect opened #3043 "[Proposal] v1 Release Documentation ToC"
## Description

A proposal for the necessary documentation content needed for v1 release.

## ToC

- [x] Introduction
- Using FAST Components
    - [x] Getting Started
    - Components
        - [x] fast-anchor
        - [x] fast-badge
        - [x] fast-button
        - [x] fast-card
        - [x] fast-checkbox
        - [x] fast-design-system-provider
        - [x] fast-dialog
        - [x] fast

[2020-04-30 15:40] awentzel commented on #3043
In particular,

And Getting Started with something similar to Create React App will streamline getting up and running.  This will remove all barriers to entry so it's easy.  If not easy, we have more work to do.

[2020-04-30 16:42] EisenbergEffect commented on #3043
I don't think we'll be able to create a CLI before our launch. So, I'm proposing a few tutorials on how best to set it up with particular frameworks. I'm not convinced a CLI would handle that well or if we want to either. Lots of code to integrate with tons of frameworks and setups can be difficult to maintain. That's why I'm leaning to a doc that can easily be updated even by the respective commu

[2020-04-30 16:42] nicholasrice commented on #3043
@EisenbergEffect have you written scripts to extract APIs docs from TypeDoc JSON? In my experience it hasn't been straight-forward but I very-well could have been approaching it incorrectly. If not, we may want to consider just using TypeDoc site-generator (maybe with a custom theme?) for the short term.

[2020-04-30 16:43] EisenbergEffect commented on #3043
@nicholasrice I have some existing code where we used the json output of typedocs and generated custom pages from that. I did that for Aurelia so I think I can whip something up for us as well. I just haven't gotten a chance to actually do it yet 😢 It's the next thing on my docs todo list.

[2020-04-30 16:45] nicholasrice commented on #3043
Okay cool. Otherwise I think this looks great!

[2020-04-30 16:53] chrisdholt commented on #3043
@EisenbergEffect @awentzel We've talked about the CLI but I don't think the intent is to have it be a WC create-react-app like thing. Our initial discussion on the CLI was to create your own design system and I believe that still has value, though agree it may be difficult before launch. I think it needs to be on our roadmap for sure.

In the same vein, @Falkicon and I discussed getting the `fast-

[2020-04-30 16:58] nicholasrice commented on #3039
Looks great! I didn't follow step #4 - what is the "template directive" that is being removed?

[2020-04-30 16:59] EisenbergEffect commented on #3043
I'm just guarding any expansion to scope right now since I know already I'm not going to get nearly as many tests in place as I'd like before launch, for example. And, actually writing the above docs will take a good bit of time 😄

I wanted to drop a proposed ToC here so we could possibly divvy up the fast components docs among the component authors next week maybe and knock those out.

[2020-04-30 17:01] chrisdholt commented on #3043
@EisenbergEffect certainly - I don't think it's related to the docs, but I did want to bring clarity on the goal of the CLI we've previously discussed.

[2020-04-30 17:20] EisenbergEffect commented on #3039
Currently the ViewTemplate that creates views from templates also inherits from Directive so that templates can be interpolated into other templates (because you can only interpolate primitives, expressions, and directives). So, if we enable a text binding to become a content binding, it would handle this scenario and we would no longer need to inherit our template implementation from Directive.

[2020-04-30 17:45] nicholasrice commented on #3003
I'm going to table this for the time being for a few reasons:

1. The design system is designed to be configured through element attributes and properties, which is inherently a flat structure
2. One of the primary products of the design-system is CSS custom properties, which are inherently a flat structure
3. I haven't been able to come up with a good way to support nested properties that
   a. I

[2020-04-30 17:45] #3003 closed

[2020-04-30 18:10] hchokshi opened #3044 "Horizontal overflow does not correctly detect overflow state when items have subpixel width"
**Describe the bug; what happened?**
The horizontal overflow component fails to correctly detect overflow state when items have subpixel width.

The issue is that available width is calculated using `clientWidth` (rounded to nearest pixel), whereas total item width is calculated using `getClientBoundingRect` which gives decimal widths. If the total item width is `100.11px`, the rounded client widt

[2020-04-30 18:21] nicholasrice commented on #3039
ahh gotcha - okay cool!

[2020-04-30 18:24] memao opened #3045 "Unable to authenticate, need: Basic realm="https://pkgsprodwus21.pkgs.visualstudio.com/""
**Describe the bug; what happened?**

We are using an Microsoft internal package in VSTS. The version we are using: @microsoft/fast-application-utilities 3.1.3.

Start this morning, we are seeing this error when running "npm ci" on build machine.

npm ERR! code E401
npm ERR! Unable to authenticate, need: Basic realm="https://pkgsprodwus21.pkgs.visualstudio.com/"

The build machine we are using is

[2020-04-30 18:52] #3022 closed

[2020-04-30 20:09] awentzel commented on #3043
I'm not suggesting an actual "CLI" or specific technology, only that covering the basics first is important.  Design systems are an advanced topic, and I think the early adopters first will want to just get up and running with ease. Then inch towards advanced topics.  Totally agree with @EisenbergEffect scope management.

[2020-04-30 20:26] EisenbergEffect opened #3046 "[Proposal] Web Components Testing"
## Description

A proposal for test setup for web components work.

### Background

Testing in monorepos can can be tricky, especially when testing across multiple packages with cross-dependencies and breaking changes. After several attempts to do this on various open source projects, personal projects, and at other companies, the best solution I've seen is to have a dedicated "tests package" with

[2020-04-30 20:30] chrisdholt commented on #3046
Thanks @EisenbergEffect - one pattern that we've previously used was to keep unit tests for specific components within their given folder. Part of this was to make it extremely easy and intuitive to work on and test components. Everything I need for my control is easily found within its folder. Is the reason to move away from this preference/pattern/or due to technological restraints? I'm open to

[2020-04-30 20:32] EisenbergEffect commented on #3046
We can do that but then it's difficult to test changes to fast element against changes in our individual components. For example, I can now very easily break our components while it looks like all my fast-element tests are passing. To be safe, any change to fast-element requires running all individual components tests as well. So, this enables that kind of flow very easily and any other similar de

[2020-04-30 21:04] chrisdholt commented on #3046
The overall build gate would fail though if `fast-components` relies on `fast-element`, correct? This problem currently exists for the entire react directory - changes to any of the base component packages directly impact the MSFT packages. In this case as it is now, the build would fail if you made a change in a base component and then failed to account for it in the MSFT packages.

A couple addi

[2020-04-30 21:18] chrisdholt commented on #3039
LGTM!

[2020-04-30 21:45] awentzel commented on #3046
I'd like to break out testing into separate proposals. What are our requirements?  What are we trying to achieve? What browser matrix? Vdiff? testing success/failure/approval process?

I'm not sure BrowserStack or SauceLabs is necessary if testing for rendering engines (quality over quantity). Instead, I'd recommend proposing a testing strategy, then get into technologies once the strategy is lock

[2020-04-30 21:48] chrisdholt commented on #3046
I think for WC testing this can serve as the proposal; it might get confusing to break out beyond this. The browser matrix would be the same matrix for the technologies we are using w/ the WC packages from what I can tell.

[2020-04-30 22:42] EisenbergEffect commented on #3046
To be transparent on what's top of mind for me: we don't have any tests and to really do an ok job we need to have a few thousand tests written before release probably. So, I want to be careful to not have too many separate proposals since each day without a decision makes things a bit more difficult.

Regarding Jest, I'm not a fan because of the way it mucks with the test environment. I haven't h

[2020-04-30 22:52] chrisdholt commented on #3046
Thanks for the thoughtful response. Agree on most of the points above (including the Jest bit). Very specifically I wonder if we're talking about two kinds of tests, unit and integration tests.

I would agree that integration tests are very important and I could see those laddering up to the __tests__ folder. With that in mind, I do see how it could also create confusion to have two different plac

[2020-04-30 23:20] EisenbergEffect commented on #3046
@chrisdholt I absolutely value having the code and tests side-by-side. That's a definite loss in my proposal. If we're ok with some duplication and open to having a top level integration tests folder, I'd be fine to move ahead with option 2, keeping unit tests with their code and adopting the global folder for integration tests. Would it be ok to start with getting this setup for fast-element firs

[2020-04-30 23:23] chrisdholt commented on #3046
I love the push for integration tests and I'm personally okay with some duplication to get things rolling. I'm good with moving ahead in `fast-element` so we can get some critical coverage going. :thumbsup:

[2020-04-30 23:59] EisenbergEffect commented on #3046
Ok, I'll put together an initial PR to get it setup with mocha/cha/karma in the fast-element package. PR should be in either tomorrow or Monday. Various time-sensitive tasks might prevent me from getting it in before EoB tomorrow. We'll see how things go.

[2020-05-01 00:01] EisenbergEffect commented on #3039
I'd like to start by working on phase one, hopefully next week, after we get some of the testing in place we talked about in issue #3046

[2020-05-01 00:03] EisenbergEffect commented on #3043
@chrisdholt One thing I didn't outline was what we want each of the component doc pages to look like. I can take a stab at proposing that, but I thought I'd ask if there's anyone on your team that might be interested to make an initial proposal on that. I can happily meet with someone and do a quick brain dump in about 5 min or so. I think it would be nice to have someone take a component and buil

[2020-05-01 00:45] awentzel commented on #3046
I agree with where we have landed.  Though, I have some new points.

1. As code duplication, complexity, etc goes down, code quality goes up.
2. I'm in favor of test quality over quantity.  Meaning I'm not concerned with a number of tests.  I'm concerned that the right tests are in place whatever that number may be.  Also, we hit our thresholds (now's a good time to determine what that is) for sta

[2020-05-01 03:56] #2800 closed

[2020-05-01 16:59] chrisdholt commented on #3046
@awentzel a few follow-ups on some of your thoughts:

1. I agree here, though I think it's going to be better to eat some duplication now so we can increase quality of what is going out the door immediately. I don't think that's a hard/fast principle but specific to this scenario at this point in time.

2. I agree here. I'd even go so far as to say that sometimes thresholds need to change because

[2020-05-01 17:57] chrisdholt commented on #3045
This package was previously deprecated though it never leaves the public npm registry. This looks like an issue with a private registry needing auth due to the packages perhaps being cached and referenced by VSO or ADO.

[2020-05-01 17:57] #3045 closed

[2020-05-04 19:04] awentzel opened #3054 "Prettier fails across platforms and is breaking CI Weekly Windows build"
**Describe the bug; what happened?**
Prettier is failing due to `.tmp`, `dist`, and `app/.tmp` folders across platforms. If these ignored files or folders exist prettier is failing.

Running `yarn run prettier:diff` on the following packages fail.
Running `npm run prettier:diff` fails, but, with a little more detail.
Running 'lerna run prettier:diff` on CI for Windows fails.

**What are the steps

[2020-05-04 20:34] nicholasrice opened #3056 "Attribute name naming conventions for fast-components"
Opening a discussion based on this discussion: https://github.com/microsoft/fast-dna/pull/3015#discussion_r419574806

I'd like to land a convention surrounding HTML attribute naming for `@microsoft/fast-components`. Two primary patterns:

## No delineator
Native HTML generally (with a few exceptions) creates attribute names by combining lower-case words with no delineation between the words. Eg: `

[2020-05-04 20:40] eljefe223 commented on #3056
I think as we get to more complex attribute naming (more than 2 or 3 words) hypens really help break up the attribute names. Just wondering if we should retroactively and go back and fix any multiword attribute names.

[2020-05-05 00:18] scomea commented on #3056
Hyphens good IMO.  And yes, retroactively correct while we are still in a beta phase.

[2020-05-05 00:20] EisenbergEffect commented on #3056
I like hyphens for readability as well. Additionally, since custom element names require a hyphen to prevent conflicts with built-ins, perhaps we should also use hyphens for attributes. That feels more consistent even it it's not required.

[2020-05-05 00:20] chrisdholt commented on #3056
My $.02 - If we are providing a transparent API to existing HTML attributes or there is an existing html attribute for what we are exposing as an attribute, we should map to the attribute (example: `formaction`). If there is *not* anything pre-existing I think we should go for legibility, readability, etc. I would have a strong hesitation to changing existing html attributes to hyphen-delineated i

[2020-05-05 00:25] nicholasrice commented on #3056
@chrisdholt agreed.

For the record, I'm also for preferring hyphens.

[2020-05-05 01:50] CuddleBunny commented on #3056
+1 for hyphens. In addition to the points above: being inconsistent with native attributes also makes them stand out to the end-user of these elements as something custom that may need additional attention.

[2020-05-05 05:15] nicholasrice commented on #3056
I'm going to call that consensus - we can re-open if new perspectives are presented.

[2020-05-05 05:15] #3056 closed

[2020-05-06 07:50] dhveerap opened #3064 "[Accessibility] [Narrator] [Select] Combo box is read as button by Narrator"
**Describe the bug; what happened?**

Narrator reads select combo box as button instead of combo box.

**What are the steps to reproduce the issue?**
1) Render Select component and use Narrator to navigate to the select menu.
2) It reads out as button collapsed.
3) Repro's in component explorer also - https://explore.edgewebui.net/FastMSFT/components/select

**What behavior did you expect?**
It sh

[2020-05-06 08:38] dhveerap opened #3065 "[Accessibility] [Narrator] [Select] Narrator in item navigation reads differently in forward and backward navigation when labelledBy is specified"
Narrator in item navigation reads differently in forward and backward navigation when labelledBy is specified
In forward navigation it reads
1. labelledBy text + selected menu item text+  Group
2. labelledBy text + selected menu item text + button collapsed
3. selected menu item text

In backward navigation it reads
1. labelledBy text + selected menu item text + <selected menu item text>
2. labell

[2020-05-06 08:46] dhveerap opened #3066 "[Accessibility] [Voice Over] [Select] Combo box option number out of total no. of items is not read out in voice over"
**Describe the bug; what happened?**
Combo box option number and total count of items is not read out in voice over.

**What are the steps to reproduce the issue?**
1) Render Select component in MAC
2) Start voice over
3) Navigate to Select component and open the menu
4) Voice over reads the focusable element but not the option number out of total number of options available

**What behavior did y

[2020-05-06 17:15] awentzel commented on #3054
This latest run on windows ci, failed https://github.com/microsoft/fast-dna/runs/648624713?check_suite_focus=true.

More investigation is needed on Windows.

[2020-05-06 19:17] #2992 closed

[2020-05-06 19:47] chrisdholt opened #3069 "[Feature proposal] Add `orientation` attr to radio group component"
This issue proposes adding an attribute of `orientation` to the API of `radio-group` to support common scenarios of having groups of radios which align horizontally as well as vertically.

I don't believe the list here is exhaustive, but below are a few design systems which expose an orientation for their radio group components:
- [Paste (Twilio)](https://paste.twilio.design/form-elements/radio-gr

[2020-05-06 23:07] #3009 closed

[2020-05-07 00:03] #2914 closed

[2020-05-07 16:03] radium-v opened #3076 "Homepage Chore Checklist"
This issue is intended to hold chores and minor bugfixes/best practice nudges for the new homepage before we go live.

- Meta:
  - [ ] Favicon (#3388)
  - [ ] title and description
- Background:
  - [x] Background should dim further after scrolling past the hero
- Navbar:
  - [x] **Logo link is redundant - this page should not navigate to itself**
  - [x] text links should be darker at rest
  - [x

[2020-05-07 16:04] khamudom commented on #3076
responsive

[2020-05-07 17:53] nicholasrice opened #3077 "Export cssCustomPropertyBehaviorFactory"
`@microsoft/fast-components` should export the `cssCustomPropertyBehaviorFactory` function so app developers can create their own CSS custom property behaviors

[2020-05-07 20:43] marjonlynch commented on #3069
I am in agreement with this and would add these points:
1. The structure of the radiogroup as it is now lends itself well to this attribute addition, therefore the cost to implement shouldn't be too high.
2. Slider already has this `orientation` attribute and slider is very similar in that it's a group of selectable values and only 1 (at the moment) can be selected.

[2020-05-07 21:36] awentzel opened #3080 "Add plural noun for 'features/*' branches instead of singular nouns"
Currently, our branches are inconsistent and for maintainability, we should reconcile naming conventions to be consistent with existing branches.  For example:
* users/*
* releases/*
* features/* [NEW]

**"feature/*"**, singular noun, to be **deprecated**, and plural nouns to be used.

Per @chrisdholt & @awentzel discussed in #3079

[2020-05-08 19:23] nicholasrice commented on #3069
I think "orientation" is a good descriptive name for the attribute and that any component *implementing* "orientation" *may* have a change in behavior based on the value.

The radio / checkbox angle of this to me really comes down to visual consistency. I don't think we should create a checkbox group where one isn't needed, but what I *would* like to ensure is that checkboxes stacked using the sam

[2020-05-08 19:55] #3077 closed

[2020-05-08 21:28] prabhu opened #3087 "Dependency vulnerabilities"
**Describe the bug; what happened?**

I scanned this repo using ShiftLeft scan, a free DevSecOps tool. You can find the build log and the report [here](https://github.com/prabhu/fast-dna/runs/657620074?check_suite_focus=true#step:8:26). Reproduced below for convenience:

[code]

Update: jszip apparently is dual licensed. So we are good.

All the prototype pollution on the dependency scan result re

[2020-05-08 21:45] chrisdholt commented on #3087
Thanks for the issue @prabhu! I'm hesitant to sign up for a service or add a workflow without a proposal for it. I'm not seeing this as associated with a specific bug (it sounds like the license issue is resolved) so this would likely be a feature that we'd want to evaluate. I'm not familiar with ShiftLeft but I see you've been working with @awentzel so perhaps a proposal is in the works. Either w

[2020-05-08 22:28] chrisdholt opened #3088 "[Intent to implement] Change default styles for fast-components and create a new MSFT package"
This issue exists to raise awareness of our intent to implement the following (significant) changes:

1. Change the default design system and styles for the `fast-components` package.
2. Create a new package for Microsoft styled components: `fast-components-msft`

## Background
In our previous implementation of FAST, we were building for both a variety of frameworks and design systems. This led us

[2020-05-09 03:29] janechu opened #3093 "Create an examples site for the Tooling and React Tooling packages"
# Background

Currently the `@microsoft/fast-tooling` and `@microsoft/fast-tooling-react` packages have very complex implementations. This is difficult to document solely in the `README.md` files. In order to expose all of the functionality and flexibility for these packages there should be a series of examples that can be referred to and eventually used as part of the documentation site.

## Feat

[2020-05-11 16:29] janechu opened #3098 "Create a boilerplate site in the sites folder"
Child item of #3093

## Requirements
- Create a basic site using webpack and native technologies
- The site should be named `fast-tooling-examples`
- Basic documentation should be added as a `README.md`
- Ensure this is a private package

[2020-05-11 16:49] janechu opened #3099 "Create a menu for the tooling examples site"
Child item of #3093

## Requirements
- Create a menu on the left side of the site in `fast-tooling-examples`
- Include in the menu 2 Categories, `Tooling` and `React Tooling`

[2020-05-11 16:53] janechu opened #3100 "Create a toolbar for the tooling examples site"
Child item of #3093

## Requirements
- Create a toolbar link at the top which includes:
  - A right and left aligned section that has a minimum width
  - A link to the location of the site in github on the right side
  - A link back to the index of the site on the left side
- The toolbar should be at the top of the page
- The toolbar should not have any special UX and should remain in its location

[2020-05-11 16:56] janechu opened #3101 "Add the overview pages to the tooling examples site"
Child item of #3093

## Requirements
- Parse the README.md files for packages `@microsoft/fast-tooling` and `@microsoft/fast-tooling-react` to HTML
- Include the README file HTML in an `Overview` section under `Tooling` and `Tooling React` respectively

[2020-05-11 16:59] janechu opened #3102 "Create an example of the message system and the React Form in the tooling example site"
Child item of #3093

## Requirements
- Create a page to show an example of the message system being initialized with the Form (include React on this page only in the required area)
- Add this example to the `React Tooling` category in the menu
- Include tabs with:
  - The working example
  - A JavaScript implementation of the working example
  - A TypeScript implementation of the working example

[2020-05-11 17:01] janechu opened #3103 "Create an example of the message system used with native elements in the tooling examples site"
Child item of #3093

## Requirements
- Create a page to show an example of the message system being used by native elements
- Add this example to the `Tooling` category in the menu
- Include tabs with:
  - The working example
  - A JavaScript implementation of the working example
  - A TypeScript implementation of the working example

[2020-05-11 17:56] janechu commented on #3088
Can you specify how this change is breaking?

[2020-05-11 23:08] nicholasrice opened #3110 "designSystemProperty decorator should set up attribute / property"
Currently, the `@designSystemProperty` decorator does not set up observable behaviors or HTML element mapping. Because of this, the implementer must also decorate the property with observable or attr.

To reduce boilerplate it would be beneficial to roll that behavior into the `designSystemProperty` decorator, with capability to disable the behavior if desired.

[2020-05-12 05:32] #3098 closed

[2020-05-13 17:42] janechu commented on #3043
A very minor issue but one that I don't want to lose for documentation is that there is a brief moment where content is un-styled, I mitigated this with a suggestion from @nicholasrice :

[code]

[2020-05-13 17:48] EisenbergEffect commented on #3043
I've updated the proposed ToC and added checkboxes to track progress of each doc (or code gen output).

Any thoughts on what we should definitely include in our FAQ?

[2020-05-13 18:37] janechu commented on #3043
Just a few suggestions:
- Why are you using web components?
- Can I use other component libraries with this one?
- How can I get involved with the FAST project?

Outside of that I'm sure once we go public and issues start getting filed.

[2020-05-13 22:10] radium-v opened #3121 "thumb position wildly offset in fast-slider"
**Describe the bug; what happened?**
When placing a horizontal `<fast-slider>`, the thumb position doesn't align with the mouse cursor and is offset by margin/grid/content.

**What are the steps to reproduce the issue?**

Example:

As shown in this image, I added `margin: auto;` to the first div in the storybook fixture, then clicked the very left of the slider. The slider's value is getting set t

[2020-05-13 23:53] radium-v opened #3126 "Address perf concerns in fast-slider"
**Describe the bug; what happened?**
As discussed [here](https://github.com/microsoft/fast-dna/pull/3125#discussion_r424785264), performance issues should be cleaned up in the `<fast-slider>` element:

- Calling `getBoundingClientRect()` during `mousemove` is likely causing a lot of layout thrashing
- Transitioning on `right` property may be gpu-intensive
- Using `transition: all` can lead to unin

[2020-05-14 00:12] #3121 closed

[2020-05-14 02:47] #3099 closed

[2020-05-14 02:47] #3100 closed

[2020-05-14 03:04] chrisdholt commented on #3088
A new package has been created as part of this proposal: `fast-foundation`. This package includes the templates, classes, and utilities needed to compose a web component. The `fast-components` package will leverage those parts to compose custom elements based on the flexible FAST design system. The `fast-components-msft` package will use those to compose custom elements with Microsoft styles.

In

[2020-05-14 17:00] janechu commented on #3043
One other thing is we might cross link to various frameworks like React on how they can integrate web components if there is some extra work that needs to be done.

[2020-05-14 19:35] #3110 closed

[2020-05-14 21:04] radium-v opened #3136 "Add Visual Studio Code workspace to project root"
**What feature are you requesting?**
It would be great if we could add a [`.vscode` workspace directory](https://code.visualstudio.com/docs/getstarted/settings) to the project root.

**What would be the benefit of adding this feature?**
It seems that our team primarily uses VSC, and this would allow us to recommend extensions for syntax highlighting and also set some editor configurations

**What

[2020-05-15 03:39] #3088 closed

[2020-05-15 15:10] nicholasrice commented on #3043
I noticed that the minification story is a made complicated by the use of template strings for HTML and CSS so I've added section to address it in documentation. Template strings are not minified by default in the webpack production builds we're using.

Minification of HTML templates *could* have the potential to create runtime bugs so this may be something we want to test.

CSS should be able to

[2020-05-15 15:28] nicholasrice opened #3143 "match-media-stylesheet-behavior should accept a Promise sheet type"
The behavior returned from `matchMediaStylesheetBehaviorFactory` currently accepts an `ElementStyles` object.

If we allow this to *additionally* accept a `Promise<ElementStyles>` type then this behavior could be used with dynamic import syntax: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import. In practice, this means that forced-color stylesheets could be *dynam

[2020-05-15 15:33] nicholasrice opened #3144 "custom property and match-media stylesheet behaviors should use a class implementation"
Currently these factories return new objects w/ all methods and properties. This means each instance defines it's *own* methods, which is an inefficient use of memory.

Converting these to ES6 classes will allow those methods to be shared easily across instances and require less memory.

[2020-05-16 19:08] janechu opened #3154 "Add the FAST web component library to Creator and Component Explorer"
# Description

The Creator and Component Explorer currently only have React components from the `@microsoft/fast-components-react-msft` library. They should also have the components from the `@microsoft/fast-components` library.

This is a child item of #3025

## Requirements
- Place the components in categories according to their package name in the Component Explorer
- Add the `@microsoft/fast-c

[2020-05-16 19:12] janechu opened #3155 "Add native web elements to Creator"
# Description

Currently there is no free-form method for composing a page or HTML section. This can be remedied by exposing native web elements as components in the UI of the Creator using the same methods as the web components.

This is a child item of #3025

## Requirements
- Add data descriptors for a few basic native web elements, there should be a task to follow this up, the basic elements i

[2020-05-18 20:02] EisenbergEffect commented on #3046
Closing since we got the basic setup in over the weekend.

[2020-05-18 20:02] #3046 closed

[2020-05-20 21:31] awentzel opened #3170 "MacOS builds are failing on Unit Test in pipeline"
**Describe the bug; what happened?**
Master branch is unable to build, failing on unit tests with error:
[code]
**What are the steps to reproduce the issue?**
Example:
1. Visit https://github.com/microsoft/fast-dna/runs/691825314?check_suite_focus=true
2. Expand the job for "Execute unit tests"
3. Search for "error" to find 7 of them.

**What behavior did you expect?**
Success.

**If applicable, p

[2020-05-20 22:14] marjonlynch commented on #3069
Closing at the behest of Nick and the fact the attr does now exist on radio-group

[2020-05-20 22:14] #3069 closed

[2020-05-22 17:45] janechu opened #3181 "Investigate auto-generating component definitions from TypeScript"
# Description

Currently component definitions are written manually, they should however be able to be generated from TypeScript.

## Investigation

Determine whether a library such as [web component analyzer](https://github.com/runem/web-component-analyzer) can be used to generate these files.

[2020-05-26 18:59] EisenbergEffect commented on #3039
Everything but the `repeat` behavior is now implemented and merged 😄

I'm holding off on the `repeat` because I've got some additional ideas forming in my head that would make it even better and I want to take a little time to work those out. I'll update this issue with the ideas after I get a chance to think it all through.

[2020-05-28 22:03] janechu commented on #3181
Created an issue https://github.com/runem/web-component-analyzer/issues/168 to allow `FASTElement` to resolve `@attr`.

[2020-05-29 18:06] janechu commented on #3181
This is related to #2800

[2020-06-01 23:29] nicholasrice opened #3213 "Add a "background" component"
**Problem:**
There does not exist a mechanism to coordinate the `DesignSystemProvider.backgroundColor` property with the rendered _background-color_ of the element, nor to coordinate the CSS _background-color_ property with the CSS _color_ property as they relate to the `DesignSystemProvider`.

This leads to code similar to the following:
[code]

**Requirements**:
A component that
- allows setting

[2020-06-02 00:33] nicholasrice opened #3214 "`@microsoft/fast-components` and `@microsoft/fast-components-msft` should declare side effects"
From [Webpack](https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free):

`@microsoft/fast-components` and `@microsoft/fast-components-msft` both have side-effect imports. Importing any of the classes defined using `@customElement` from either of these packages *registers* the custom element with the UA's custom element registry. If I'm not mistaken, this is a text-book side

[2020-06-02 01:29] #2337 closed

[2020-06-03 00:05] nicholasrice commented on #3214
Did some investigation on this. If the `sideEffects` property is properly enumerated by the package.json, then importing the Web Component implementation *is* sufficient; no need to express the import to circumvent tree-shaking:

[code]

[code]

The **problem** with the above is it could get difficult to maintain; new components get added and the package.json update is missed. I'd like to propose

[2020-06-03 03:39] janechu commented on #3214
When you have `./dist/esm/index.js` does that not also include `./dist/esm/custom-elements/**/index.js` since the `./dist/esm/index.js` should also export the custom elements?

[2020-06-03 17:28] janechu opened #3221 "Document changing the accent color"
# Abstract

There's currently no documentation describing how to change the accent color of components.

## Description

In order to accomplish an accent color change, the `--accent-base-color` must be set as well as the `accentPalette` property on the `FASTDesignSystemProvider` using the utilities `createColorPalette` and `parseColorHexRGB`.

This should be documented and the utilities should be

[2020-06-03 17:48] EisenbergEffect commented on #3214
I had the same question as @janechu
I might only argue for calling the folder `elements` to be a bit shorter in terms of path. No real strong opinion though.

[2020-06-03 17:52] nicholasrice commented on #3214
In my testing that `./dist/esmindex.js` file needs to be enumerated. Only enumerating the files exporting custom elements resulted in unintentional tree-shaking when custom elements were imported from the package main: `import { FASTAnchor } from "@microsoft/fast-components"; // effectively "@microsoft/fast-components/dist/esm/index.js" `

[2020-06-03 19:05] janechu commented on #3214
Interesting, well I'm in favor of the implementation. We may wish to alert our contributors on discord so they are aware things are moving.

[2020-06-03 21:27] chrisdholt commented on #3214
While technically these are the "custom elements", we refer to what is being exported (the custom elements) as "components" everywhere. I'm partial to keeping that language for the folder structure. It could be confusing to have two different terminologies present and someone may wonder if there is an intentional reason for it. Technically I think we're still talking about components. I agree that

[2020-06-03 21:30] EisenbergEffect commented on #3214
I can get on that train. Sounds good to me.

[2020-06-03 21:32] nicholasrice commented on #3214
I'm easy on the name - "components" is fine by me.

[2020-06-03 21:42] chrisdholt commented on #3214
Ship it!

[2020-06-04 01:59] chrisdholt commented on #3066
Thanks @dhveerap - does this repro in other screen readers or is it specific to voiceover? Is it possible this is a VoiceOver specific issue?

[2020-06-04 02:05] chrisdholt commented on #3065
Thanks @dhveerap - we don't have a lot of control of how narrator navigation happens. Does this repro in other AT as well or is it specific to narrator?

[2020-06-04 17:42] eljefe223 commented on #3213
I'm slight confused on 3.1 what do you mean by "besides the property being set"? Also I think would expect the background color to be derived from the parent. Isn't that how our `background` component works in react?

[2020-06-04 18:29] nicholasrice commented on #3213
That just means that every property *except* background color would come from the local design system, and the background color would come from the *parent* design system:

[code]

Yea the React `Background` component essentially implements 3.1 and suffers from the described issue. Maybe thats okay/desired but wanted to explore other ideas.

[2020-06-04 21:13] bheston commented on #3213
This is something we've needed for a while, so I'm glad to see this going through. I'm trying to think through the ways this would apply to other properties as well.

Option 1 does sound somewhat limiting for this situation, but it has the benefit of being very deterministic, essentially overriding settings at each level in sequence.

I think option 2 will be too limited because of the cascading n

[2020-06-04 21:37] bekell opened #3231 "Accessibility: Pane separator should report aria valuemax valuemin and valuenow"
As per https://www.digitala11y.com/separator-role/

aria-valuemax (if focusable)
aria-valuemin (if focusable)
aria-valuenow (if focusable)

These values should be set initially, and valuenow should be kept up to date as the slide is moved left/right via keyboard or mouse.

The Pane component: https://github.com/microsoft/fast-dna/blob/master/packages/react/fast-layouts-react/src/pane/pane.tsx

[2020-06-04 21:57] SamanthaAO opened #3233 "Type-ramp values constant when base-type-ramp value is changed in design-system-provider"
**Discussion Topic**
I noticed upon inspecting the marketing site's variables that setting the type-ramp in the design-system-provider seems to be updating the base, but not any of the other increments of type-ramp-font-size. So for the marketing site when we set type-ramp-base-font-size to 16px we actually end up losing the increment of 14px(which was base before) and get a duplicate 16px value i

[2020-06-05 09:38] dhveerap commented on #3065
@chrisdholt
This does not repro with other screen readers. We checked with NVDA and voice over.

[2020-06-05 09:44] dhveerap commented on #3066
@chrisdholt

yeah, this does not repro in Narrator/NVDA.
Could be the platform bug. I tried with custom HTML and voice over does not read the number with plain <select> and <option> too.

[2020-06-05 18:20] nicholasrice commented on #3233
Thanks @SamanthaAO

A few questions that are top of mind concerning this, followed by some brainstorming:
1. How do we facilitate type ramp replacement?
2. How do we facilitate type-ramp customization?
3. Do we think these values should be *independent* of one another. *should* setting the base affect every other property?

There are two primary use-cases I see:
**1. Type Ramp Replacement**
This i

[2020-06-08 17:02] nicholasrice opened #3246 "How are LTR and RTL specific CSS rules applied?"
We currently don't have guidance or reference implementations for handling RTL style rules that cannot be achieved directly through platform features (`grid`, `flex`, `margin-inline-start`, etc). The solution should support the following:

1. property switching ("left" -> "right")
2. value inversion (20px -> -20px)
3. value replacement (0deg -> -90deg)

### Complication
LTR and RTL specific style

[2020-06-08 17:27] nicholasrice commented on #3221
closed by #3239

[2020-06-08 17:27] #3221 closed

[2020-06-08 19:48] khamudom opened #3248 "NVDA screen reader does not read the aria-label in fast-anchor and fast-button web component"
Since there has been talk to make NVDA the primary screen reader used for testing, I have been looking into resolving this issue.

**Describe the bug; what happened?**
When adding an `aria-label` attribute to `fast-anchor` or `fast-button`, native screen readers, like VoiceOver and Narrator will read the `aria-label`, but NVDA will not.

Repo steps:
1. Add `aria-label` to `fast-anchor` or `fast-bu

[2020-06-08 20:24] janechu opened #3250 "Re-work the pull request templates to use a directory structure to facilitate multiple templates"
# Background

This repository is a mono-repository and as such it includes many projects within it. An example would be that there are component libraries such as `@microsoft/fast-components` and tooling libraries such as `@microsoft/fast-tooling`. These have differences due to their problem scopes and requirements.

## Requirements

To accomodate the range of projects present in this repository t

[2020-06-08 21:55] nicholasrice commented on #3214
It appears this doesn't work how I thought it would. I can get non-sophisticated min-repros of the behavior we're looking for with the above described approach, but configuring the components package in the same way results in *none* of the components being tree shaken.

I'm still not sure why the behavior is different but I'm going to table this for the time being.

[2020-06-08 23:59] nicholasrice commented on #3246
It was brought to my attention that there exist more logical properties than margin/padding-inline-*:
https://css-tricks.com/css-logical-properties/

The properties include border and positioning, though positioning seems to be behind flags in edge/chrome

[2020-06-09 17:17] SamanthaAO commented on #3233
@nicholasrice
With the last example that you provided, am I correct in thinking that this would update all type-ramps around the base of 16px, but there would still be the ability to define specific type-ramp values after the function is run and override specific values that the function produces? For example: if you like the spread of type-ramps provided with a base of 16px but you want --type-ra

[2020-06-09 21:39] bheston opened #3262 "[Proposal] Add hover treatment to Tree View Item expand / collapse button"
**What feature are you requesting?**
A Tree View Item that is a parent node has a button for expanding or collapsing itself. Currently it doesn't indicate its boundary or that it will act differently than clicking anywhere else on the item.

**What would be the benefit of adding this feature?**
Visual feedback that clicking on the caret will function differently than clicking on the row. Note that

[2020-06-10 01:32] roryfa commented on #3066
Then this is a voice over bug IMO.

[2020-06-10 16:20] nicholasrice opened #3269 "Components not property re-sizing with width / height CSS"
This issue concerns the following components:
- fast-anchor
- fast-button
- badge
- ~text-area~
- ~text-field~

Sizing the above components is difficult because the primary visual element is *not* the host element - the inner "control" part is the element with visual elements. This means that while the host element can be resized, it does not *appear* to be resized.

This work tracks work to make

[2020-06-10 17:31] eljefe223 opened #3270 "Icon stroke not being set in fast-accordion storybook examples"
**Describe the bug; what happened?**
Recently there was a change made to the `.icon` class in `base.html` for the `fast-accordion` component. That change no longer renders the stroke color

![image](https://user-images.githubusercontent.com/37851214/84299202-358f6e80-ab05-11ea-937d-a3ecf7d35112.png)

**What are the steps to reproduce the issue?**

Example:

1. Build fast-components package
2. Go t

[2020-06-11 19:09] janechu commented on #3155
All of these have now been added to the shared private package `@microsoft/site-utilities` which includes the elements `<div>`, `<label>`, `<p>`, `<h1>-<h6>` as of #3254

[2020-06-11 19:09] #3155 closed

[2020-06-11 20:45] EisenbergEffect commented on #3039
Submitted a PR to add the last bit of this by enabling `repeat` to take a binding expression for its template.

[2020-06-11 21:02] #3270 closed

[2020-06-12 16:45] #3101 closed

[2020-06-12 18:51] SamanthaAO commented on #3076
working on badge styling

[2020-06-12 19:14] EisenbergEffect commented on #3039
Closing this one as fully implemented now 😄

[2020-06-12 19:14] #3039 closed

[2020-06-12 19:15] EisenbergEffect commented on #3213
@nicholasrice Can we close this as implemented?

[2020-06-12 19:16] EisenbergEffect commented on #3154
@janechu Is this implemented now or are there still things left?

[2020-06-12 22:41] radium-v opened #3298 "Merge fast-website and website projects to replace temporary build/copy script"
Introduced with #3295, we should build a better process for combining and preparing parts from multiple projects in the monorepo for deployment.

[2020-06-12 22:48] radium-v opened #3299 "Docusaurus displays a blank page when clicking the logo link without workaround"
**Describe the bug; what happened?**
Discovered in #3295 for the upcoming v2 release: clicking the documentation site's logo will display a blank page unless a workaround is in place. Currently, that workaround is in two parts:

- For production builds: a hard-coded `href` is used and the link opens in the same window
- For development builds, `target: "_blank"` is applied to prevent the blank pag

[2020-06-12 23:07] janechu commented on #3154
This is completed, I forgot to auto-close it with https://github.com/microsoft/fast-dna/pull/3226

[2020-06-12 23:07] #3154 closed

[2020-06-12 23:47] marjonlynch opened #3300 "radio-group tabindex not working in cases where the radio items are not fast-radio components"
**Describe the bug; what happened?**
When the child items of radio group are not fast-radio elements the tab-index of the selected or first item is not getting set correctly, no tab-index is set.

**What are the steps to reproduce the issue?**

Example:

1. Go to feature branch for feature/fast-frame
2. go to sites/fast-website
3. yarn run start
4. scroll down and change the to the color settings

[2020-06-15 17:32] chrisdholt commented on #3269
I noticed today that we have this same problem for button and anchor with color on the components (background, foreground, border...). Something to consider this as we explore fixing this.

[2020-06-15 17:35] nicholasrice opened #3305 "Deprecate React Packages"
In the interests of platform alignment and prioritization of Web Components, FAST collaborators are proposing the deprecation of the following packages:

- `@microsoft/fast-components-class-name-contracts-base`
- `@microsoft/fast-components-class-name-contracts-msft`
- `@microsoft/fast-foundation-react`
- `@microsoft/fast-components-react-base`
- `@microsoft/fast-components-react-msft`
- `@microso

[2020-06-15 18:36] EisenbergEffect opened #3307 "Launch FAST"
An ordered checklist of what we need to do to launch FAST:

* [x] Merge @radium-v's homepage/docs integration PR #3311
* [x] Merge @radium-v's content load timing fix PR #3367
* [x] Merge @chrisdholt's site ui fixes #3324
* [x] @awentzel to implement pipeline updates to deploy both www and explore sites #3322
* [x] Merge @awentzel path correction PR #3328
* [x] Merge @awentzel's docs fixes PR #332

[2020-06-15 19:06] nicholasrice commented on #3269
Noticing a few things upon digging into this.

1. For button / anchor - these components implement an inner `<button>` and `<anchor>` respectively. Because of those inner elements are *actionable* there must be no box-model size difference between the host and the element, otherwise there will exist a clickable portion of the element that does not behave consistently with other clickable portions.

[2020-06-15 19:10] EisenbergEffect commented on #3307
Ping @awentzel. The homepage/docs integration is now merged. So, I believe you can proceed with the pipeline updates.

[2020-06-15 20:05] roryfa commented on #3065
Recommend close as external behavior on Narrator.

[2020-06-15 20:11] roryfa opened #3309 "Narrator can focus on a div unexpectedly in Select component"
For the Select component, Narrator is able to items navigate (Capslock+left arrow, Capslock+right arrow) to a div which CONTAINS the actual button of the control. This is unexpected. User should just be able to items navigate directly to the button of the control.

**Repro:**
1. Go to https://explore.fast.design/components/select
2. Turn on Narrator
3. Move focus to the preview pane of the compone

[2020-06-15 20:26] chrisdholt commented on #3065
Closing as External per above.

[2020-06-15 20:26] #3065 closed

[2020-06-15 20:29] chrisdholt commented on #3309
@scomea can you investigate?

[2020-06-15 20:40] #2254 closed

[2020-06-15 21:07] scomea commented on #3309
This was fixed by https://github.com/microsoft/fast-dna/pull/2980

Just hasn't made it into production yet.

[2020-06-15 21:28] #3309 closed

[2020-06-16 00:44] awentzel commented on #1678
closing as no longer relevant.

[2020-06-16 00:44] #1678 closed

[2020-06-16 00:46] awentzel commented on #472
Closing as this is not a value add or enabler for current web component objective.

[2020-06-16 00:46] #472 closed

[2020-06-16 16:53] nicholasrice opened #3317 "Remove api-extractor exception from @microsoft/fast-foundation"
#3316 implements a change to `packages/web-components/fast-foundation/api-extractor.json` that instructs the `ae-different-release-tags` rule to not fail in CI. This is due to [an issue in api-documenter](https://github.com/microsoft/rushstack/issues/1921) not being able to differentiate exports of the same name. Several components implement a mixin pattern where naming an interface the same as a

[2020-06-16 22:25] #3102 closed

[2020-06-16 22:25] #3103 closed

[2020-06-16 22:25] #3093 closed

[2020-06-17 04:33] roryfa commented on #3231
@chrisdholt can we get this triaged and assigned?

I'm sitting on this Edge bug Bug 26436757: Accessibility: Separator should report aria valuemax valuemin and valuenow

[2020-06-17 16:55] awentzel opened #3330 "Add status page as subdomain to improve flow of information"
**What feature are you requesting?**
Most companies have a https://status.domain.com and it's a great idea in case people are unsure if there's a problem with the infrastructure they are using or on their own network.

**What would be the benefit of adding this feature?**
To document infrastructure and ideally, this would also serve as a notification in case we have to take anything down for maint

[2020-06-20 15:53] #3043 closed

[2020-06-20 19:09] EisenbergEffect opened #3348 "[Proposal] Change Foundation Element Registration"
## Problem

There are a growing number of things that are starting to bother me with our components:

* We cannot have more than one design system on a page at a time
* We don't have a way to let customers disambiguate element names if needed
* We have an awkward need to have seemingly inert expressions just to prevent tree shaking
* Our design systems add an additional layer of inheritance just t

[2020-06-20 20:20] chrisdholt commented on #3348
I think some of this is due to decisions that were previously made, which certainly can all be changed - I do want to point out a few things to clarify at the start:

I don't think this is entirely accurate. You're using the term design system, but I think you mean that you cannot host two different sets of components at a time. You can support two different design systems at the same time on the

[2020-06-20 20:42] chrisdholt commented on #3348
Quick note; you mentioned the following in Discord:

It would be helpful for me to see the above proposal with the above taken as a requirement. If we adopt that as the pattern/rule for inheritance then I think most of my concerns go away. I do think the naming issue is still uniquely ours, but that's not a sticking issue for me. My primary concern is that we have a model for extending what we con

[2020-06-21 18:50] EisenbergEffect commented on #3348
@chrisdholt Sorry to alarm you! I should have spent some more time working out the details before posting this. As I've been continuing to review things over the last weeks, I just had a growing realization that we might have a few issues we need to address.

I'll follow up with a more detailed explanation later or an alternate proposal (there are some other things I'm also thinking of that aren't

[2020-06-22 16:59] SethDonohue opened #3349 "selected tab resets to tab one in Tabs when a tab slot is passed anything except a text node or icon"
**Describe the bug; what happened?**
In Tabs, if a tab slot is passed anything except and icon or text node for content, when that tab content is clicked Tabs always switches to the first tab.

**What are the steps to reproduce the issue?**
1. Pass a `div` or `p` tag (almost any element) with content to at least one _tab slot_ in Tabs, and have at least two tabs.
2. Click on the element of second

[2020-06-22 21:11] #3349 closed

[2020-06-23 16:19] chrisdholt commented on #3307
@EisenbergEffect I was rolling through this and noticed the following:

I think we should scratch this in favor of providing the user the opportunity to open whatever external link they want either in the browser or outside of it. I have concerns about usurping their choice in favor of us prioritizing keeping our content open in a window. There's a ton of quick ways to navigate around the web and

[2020-06-23 16:54] EisenbergEffect commented on #3307
I didn't add that particular line-item. So, no disagreement from me. Maybe @awentzel had some thoughts?
In terms of the Markdown, it's just a normal Markdown link. I didn't alter any behavior from the default.

[2020-06-23 18:45] chrisdholt commented on #3307
For now I've removed the following:

I'm open to discussing the above in an issue if people are passionate. For now, I don't think there is consensus on that functionality/behavior. I also don't think it's required for launch.

[2020-06-23 20:11] EisenbergEffect commented on #3307
@awentzel There's an item above labeled "Implement and merge review feedback from @awentzel from feature branch into master" Was that tracking your early feedback on the docs (already incorporated) or is that something else we still need to do?

[2020-06-24 15:59] EisenbergEffect opened #3361 "[Proposal] Provider DSL"
## Problem

Having gone through the process of implementing a significant number of components for our library, writing documentation, and working with a 3rd party to create a tutorial for FAST, a number of "rough edges" with some of our approaches have popped up:

### Using multiple design systems on the same page is challenging

Today, if you import from both `fast-components` and `fast-componen

[2020-06-24 16:00] EisenbergEffect commented on #3348
Closing this issue in favor of a more wholistic proposal: https://github.com/microsoft/fast-dna/issues/3361

[2020-06-24 16:00] #3348 closed

[2020-06-24 18:21] radium-v commented on #3076
Redundancy or not, this is common practice for 99% of websites in existence.

[2020-06-24 18:57] awentzel commented on #3361
I love it. I think this is very straight forward and intuitive just by scanning the code which will improve the onboarding experience.

[2020-06-24 21:43] nicholasrice commented on #3361
Thanks for putting this together @EisenbergEffect! Overall it looks great and super extensible.

A case I don't see addressed is inter-component dependencies. Lets say that component `<fast-a>` implements a template:
[code]

An author would need to know the implementation details of `<fast-a>`, specifically that it depends on `<fast-b>` being registered. With proper documentation this isn't *neces

[2020-06-24 23:02] EisenbergEffect commented on #3361
@nicholasrice I think we can handle the dependency issue without too much trouble. We could add that to the registration API so that component authors can declare that and we can auto-register those if not explicitly asked for.

The real trick is if the element names or prefixes are changed for a dependent component. That is tricky to handle without custom element registries, which we could use to

[2020-06-24 23:08] EisenbergEffect commented on #3361
An idea based on associating elements with templates:

[code]

That wouldn't be needed for most templates, only those in component libraries that depend on other components. From this info, we can reverse map the element name used in the template to the actual name at runtime based on the provider configuration. I think this should also fit well with custom element registries, as this basically wo

[2020-06-25 00:25] nicholasrice commented on #3361
I think I like the `.withRegistry()` idea, but I don't quite follow the implementation. Are you saying that the template compiler would replace the "foo-bar" tag name with a "resolved" tag name (`<foo-bar>` in template-> `<bar-bat>` in DOM) or are you saying that the compiler would register a `foo-bar` custom element if one did not already exist?

yea it's a bummer we don't have custom registries

[2020-06-25 01:20] EisenbergEffect commented on #3361
The first: we could teach the template compiler to remap the names I think. I'd prefer to delay doing this particular piece until we have someone come with a situation where we need it though, if we can. If we had more time to think about it, we could maybe come up with a way to do it as a custom registry polyfill of sorts.

[2020-06-25 13:59] EisenbergEffect commented on #3307
Ping @awentzel for feedback on the above.

[2020-06-25 15:03] nicholasrice opened #3375 "Clarify usage of `parseColorString`"
There were two pieces of feedback for the `parseColorString` export:
1. It was unintuitive that it would not parse a rgba color string
2. Why did it exist when an author could just use `@microsoft/fast-colors#parseColor`

The answer to 1. is that the code that leverages `parseColorString` will not work correctly with transparent values. However, a rgba color string with an alpha channel of `1` is

[2020-06-25 16:31] eljefe223 opened #3376 "Add a way to default start and end templates in web components"
**What feature are you requesting?**
I would like the ability to default the content of the start and end templates when using `endTemplate` and `startTemplate`.

**What would be the benefit of adding this feature?**
This would allow us to continue to use the shared library in cases where we want to default content.

[2020-06-26 00:37] nicholasrice opened #3389 "FAST React Wrapper"
## Goals
1. Provide an interop layer to use Web Components in React and Preact applications.
2. Define general design-patterns for React/Preact components so that a component implementation can be either React or wrapped Web Component, and changed between the two without changing application code.

## Resources:

- [https://www.sitepen.com/blog/wrapping-web-components-with-react/](https://www.site

[2020-06-26 06:42] chrisdholt commented on #3307
@eisenbereffect Once we fill out the above, we are good to go. Site is ready for initial publish (yay continuous integration 😄). I believe the component explorer is ready. We can publish as needed. I think we have what we need to close this out!

[2020-06-26 14:39] #3307 closed

[2020-06-26 22:07] chrisdholt opened #3404 "Update the logic for the website side navigation indicators."
The issue is that when the scroll indicator was created each of the sections had the height of 100vh, so the intersection observer was written to compare the area of the sections intersecting the screen and if a section took up more than half of the screen then it was assigned as the currentSection. Since the sections are now all different heights there are issues with smaller sections such as her

[2020-06-30 19:51] chrisdholt commented on #3404
Closed with #3404

[2020-06-30 19:51] #3404 closed

[2020-07-01 18:06] nicholasrice opened #3427 "CI is not catching untracked api-report.md files"
**Problem:**
Running `yarn` on a clean master branch will periodically result in untracked git changes to `api-report.md` files in web component packages.

**Expected:**
Running `yarn` should *never* cause un-tracked changes to files.  Building `master` should always be transparent to git.

**Cause:**
`api-report.md` files are generated by the `doc` process of some packages (`/packages/web-compone

[2020-07-01 22:55] chrisdholt commented on #3248
@EisenbergEffect We are delegating focus to actual button and anchor elements here, could this be an issue related to delegateFocus and how it's treated by the platform and NVDA? I'd expect the host element aria label to be read even though we are delegating focus.

[2020-07-02 00:44] EisenbergEffect commented on #3248
It seems like a bug in NVDA to me. I would think it would always read the aria attributes on the host. I could be wrong though... Probably worth opening an issue with NVDA at least to discuss.

[2020-07-02 09:53] Shivam60 commented on #3305
i think a link is missing in `A good summary of the challenges can be found here.`

[2020-07-02 14:24] ginomessmer opened #3432 "Cannot find module in Angular"
**Describe the bug; what happened?**
I created a new project with Angular's CLI and added FAST DNA as a dependency. For this, I followed the integration guide step by step, however, once I attempt to build the project with `ng build` and `ng serve`, the compiler says that it cannot find certain modules that are required for FAST DNA.

**What are the steps to reproduce the issue?**
https://www.fast

[2020-07-02 18:05] dafang-ms opened #3434 "Clicking outside of an AutoSuggest does not transfer focus if menu was open"
**Problem**

If the AutoSuggest input has focus while the suggestions menu is open, clicking outside of the component on the first click closes the menu but does not blur the input.

**Repro**

1. Click on the AutoSuggest component.
2. The suggestions menu should open, and text cursor should be blinking in the input
3. Click outside of the AutoSuggest component.
4. The menu should be closed now, b

[2020-07-02 18:35] nicholasrice commented on #3432
I'm able to repro this and also noticing the same errors in the built d.ts file on master

[2020-07-02 21:24] #3432 closed

[2020-07-02 21:35] khamudom opened #3436 "Narrator and NVDA is not reading out the fast-text-field component"
**Describe the bug; what happened?**
While running Narrator or NVDA, as you tab onto the fast-text-field component, it is silent.

**What are the steps to reproduce the issue?**

Example:

1. Run Narrator or NVDA
2. Go to https://explore.fast.design/components/fast-text-field'
3. tab onto the text-field. Observe that the screen reader not saying anything.

**What behavior did you expect?**
Would e

[2020-07-02 21:49] khamudom commented on #3436
Looking at the template, I notice we are missing the `type` attribute.
I can add the `type` attribute to the template, but `role="textbox"` will have to be removed for assistive technologies to work, at least for Narrator and NVDA. Since this a single line input, just adding `type` should be enough for assistive technologies to notice it.

The suggested change to the template would be to remove th

[2020-07-02 21:57] nicholasrice commented on #3305
It sure was! Thanks @Shivam60 - updated.

[2020-07-02 23:49] chrisdholt commented on #3434
@scomea can you take a look at this?

[2020-07-06 12:30] prateekchandan opened #3439 "Flyout doesn't have aria-role set as dialog"
**Describe the bug; what happened?**
Flyout component doesn't have aria-role="dialog" set but it has role="dialog" set. With the aria role missing, the screen readers doesn't apply all dialog accessibility property and thus leading to narrator focus going out of flyouts etc.

**What are the steps to reproduce the issue?**
To reproduce, create any dialog with few focusable elements and then do narr

[2020-07-06 16:15] chrisdholt commented on #3439
I think there is a misunderstanding perhaps here. The correct attribute is “role” for setting an aria role. It sounds like you are expecting modal behavior, but not all flyouts are modal, and many flyouts are non-modal. Can you perhaps elaborate on your expectations? Ultimately the current implementation with “role” is correct for a dialog.

[2020-07-06 16:51] #3231 closed

[2020-07-06 17:18] chrisdholt commented on #3436
I don't think this is the issue at play here - I think there needs to be more investigation in how this relates to #3248.

[2020-07-06 18:38] nicholasrice commented on #3436
@khamudom I think you can pull *all* of the ARIA related attributes off of this component. This component delegates focus to the shadowed `<input>` element, so there is no need for the host to define itself as a textbox.

[2020-07-06 18:40] chrisdholt commented on #3436
@nicholasrice in the event we delegate focus to the shadowDOM does that fully defer anything on the host? This would explain issues related to #3248

[2020-07-06 18:41] chris-phelps opened #3440 "Border padding being added in fast-card"
Trying to use fast-card to create a new card type.
Seeing a small amount of padding being added around the border of the card.

For my design requirements I need my image content to extend all the way to the border edge.
Can this default styling be changed or overwritten?

![image](https://user-images.githubusercontent.com/67923510/86627532-553b7a80-bf7d-11ea-97d7-927316203e56.png)
![image](https:

[2020-07-06 18:49] nicholasrice commented on #3436
I believe so yes. [This explainer](https://github.com/TakayoshiKochi/tabindex-focus-navigation-explainer/blob/master/TabindexFocusNavigationExplainer.md) goes into significant detail on what `delegatesFocus` does. It is rather old (2015) so I'm unsure if changes to the behavior have been made.

An interesting finding from that document - elements implementing `delegatesFocus` don't need to add `[t

[2020-07-06 18:51] chrisdholt commented on #3436
Thanks for the link. I was aware of the second bit of information there, was interesting to find that to be the case when implementing :).

I think adding the type to the input recieving focus will fix the issue here - as part of that, we can drop the aria attributes @khamudom.

[2020-07-06 22:48] chrisdholt commented on #3376
@nicholasrice any thoughts on how we can accommodate this given the existing implementation? It seems an initial workaround may be to duplicate the template portion, but I'm unsure if that would have side effects (outside of duplication).

[2020-07-06 23:09] chrisdholt opened #3443 "Allow users to change or swap out the elevation ramp"
Currently the elevation ramp is fixed in both the fast-components and the fast-components-msft packages. I think it would be helpful for users to be able to swap out this recipe in favor of their own implementation. This behavior would seem to follow our principle of providing the default out of the box but having a way to fully swap out that portion if desired. I think this is specifically helpfu

[2020-07-06 23:37] #3440 closed

[2020-07-07 16:12] #3144 closed

[2020-07-07 18:36] #3436 closed

[2020-07-07 19:08] bheston commented on #3443
I like this plan and I've given a lot of thought into how something like this could work for elevation and other styling systems. Elevation has the benefit of being much simpler than other systems (like color) because the inputs and application are more constrained.

I keep coming back to a model where a consumer can override values or functions depending on the level of flexibility needed. For el

[2020-07-07 20:43] BenHayat opened #3446 "Support for Svelte"
**What feature are you requesting?**
Support For Svelte

**What would be the benefit of adding this feature?**
Svelte suffers from lack of third party UI components. FF Can help use this new set of UI with Svelte

**What solution would be ideal for you?**
Just like you have support for Vue, we should similar installation and support

**What alternatives have you considered?**
Just to stay with Vue

[2020-07-07 21:26] grahamehorner opened #3447 "Azure Portal - Ibiza - Support"
FAST is looking awesome, please consider allowing FAST Azure UI custom blades

[2020-07-07 21:27] nicholasrice opened #3448 "Form elements should set the value IDL property on internal form elements"
In `TextFieldTemplate` there is an internal `input` element that is rendered. The `value` content attribute of that element is bound to the `value` property of the implementing component.

For native HTML elements, the value attribute does not necessarily represent the element's value - it is used to set the *initial* value.

Our components should set the value IDL property on internal form elemen

[2020-07-07 21:28] grahamehorner opened #3449 "Blade Component"
Please consider adding support for Blades (similar to Azure Portal)

[2020-07-07 22:26] arkadiuszwojcik opened #3451 "Button active color"
Looks like there is some issue with `<fast-button>` color in `active` state. When clicked (active) color stays the same as for `hover ` state or difference in colors between `active `and `hover ` is hard to notice. `<fast-flipper>` for example looks ok, when clicked color becomes darker for a moment.

[2020-07-07 23:24] chrisdholt commented on #3451
Thanks @arkadiuszwojcik - is this in the `fast-components` or the `fast-components-msft` package?

[2020-07-07 23:25] chrisdholt commented on #3449
Thanks @grahamehorner - is this a dupe of #3447 ?

[2020-07-07 23:51] grahamehorner commented on #3449
@chrisdholt no this is for the development of a blade style component; while the other is to have support for creating Azure Portal (aka project Ibiza) components and may possibly require display system specifically for Azure Portal

[2020-07-08 05:18] ChristopherHaws commented on #3451
I seem to be having this issue too following the getting started guide (pics show blazor version). It seems to be happening reguardless of `fast-components` or `fast-components-msft`

![fast-button](https://user-images.githubusercontent.com/5934505/86879340-b6f40580-c09f-11ea-9836-adc0551339df.gif)
![fast-button-msft](https://user-images.githubusercontent.com/5934505/86879344-b8253280-c09f-11ea-94

[2020-07-08 05:33] MaximBalaganskiy opened #3453 "Text field change event not fired"
**Describe the bug; what happened?**
`change` event is not emitted on an `fast-text-field` element when the value is cleared or the last character is deleted.

**What are the steps to reproduce the issue?**
call `addEventListener('change', ()=>console.log('change'))` on an element and observe console

**What behavior did you expect?**
'change' event is emitted when value is cleared

**In what envi

[2020-07-08 06:24] arkadiuszwojcik commented on #3451
@ChristopherHaws thanks for screenshots. @chrisdholt I confirm, this issue occurs in both: `fast-components` and `fast-components-msft`

[2020-07-08 14:49] dotnetnoobie opened #3454 "Add IntelliSense to Visual Studio for components"
**What feature are you requesting?**
Add IntelliSense to Visual Studio for components

**What solution would be ideal for you?**
IntelliSense for the standard FAST out of the box components and standard html element attributes & events
plus custom/third party components including custom attributes/properties & events

Also for child elements of components for example in **fast-accordion** element

[2020-07-08 15:46] nicholasrice commented on #3453
I noticed looking into this that the behavior of `fast-text-field` diverges from the platform regarding when `change` events are fired. https://codesandbox.io/s/loving-jackson-rpi4j?file=/src/index.ts

A text input will only emit a change event after the user has *finished* changing the control and has moved focus away from the input. The behavior should mimic the behavior described here: https://

[2020-07-08 15:49] #3269 closed

[2020-07-08 15:58] eljefe223 opened #3455 "Slotted content for a component wrapped inside of design system dark theme does not theme properly"
**Describe the bug; what happened?**
I have one template for `<info-pane-slide/>` where all the slotted content is wrapped inside of a Design System provider.

[code]

I pass another component as children to the above component. The component seems to theme properly **except** the slotted content of that component.

[code]

Result:
![image](https://user-images.githubusercontent.com/37851214/869416

[2020-07-08 16:34] janechu opened #3456 "Runtime error in <fast-button> and <fast-anchor>"
**Describe the bug; what happened?**

There is a runtime error:
[code]

**What are the steps to reproduce the issue?**

Example:

1. Add <fast-button> to the page using `createElement` or `createElementNS`

**Is there any additional context?**

This appears to be because there is a modification to an attribute in the constructor as indicated by the top answer in this post: https://stackoverflow.co

[2020-07-08 16:38] radium-v opened #3457 "Provide a solution to minify tagged template literals in Webpack"
As mentioned in #3452, a Webpack-specific version of the template literals transformers would allow compressing `css` and `html` tagged template literals in bundles. This would be a good addition for our sites packages as well as for those who use `fast` in their own projects.

[2020-07-08 16:52] nicholasrice commented on #3456
I don't repro this: https://codesandbox.io/s/upbeat-hertz-kkgdb?file=/src/index.ts

Can you add further repro details?

[2020-07-08 16:53] chrisdholt commented on #3456
@janechu are you sure this repros in `fast-anchor`? I can see where this would be applying in Button as it's form connected and we're setting attributes, but not on `fast-anchor`.

[2020-07-08 17:00] chrisdholt commented on #3451
thanks @ChristopherHaws and @arkadiuszwojcik - we'll get a fix going for this

[2020-07-08 17:06] chrisdholt commented on #3262
Thanks @bheston, I'm going to tag this with needs investigation so I can ensure we'd be accessible with these changes. The intent seems clear though :).

[2020-07-08 17:24] chrisdholt opened #3458 "[fast-switch] Switch implements aria-required which is not allowed"
The switch component implements `aria-required` which is not allowed per https://www.w3.org/TR/wai-aria-1.1/#switch. The aria-required attribute should be removed from the foundational component.

[2020-07-08 17:29] chrisdholt opened #3460 "[fast-tabs] includes a role of "tabs" which is not a valid role"
The tabs component includes a role of "tabs" at the outer most wrapper, which is not a valid role. This is documented in the roles section on the [W3C aria-practices site](https://w3c.github.io/aria-practices/#wai-aria-roles-states-and-properties-21) as well as on the [W3C example](https://w3c.github.io/aria-practices/examples/tabs/tabs-2/tabs.html).

[2020-07-08 18:03] chrisdholt opened #3462 "[fast-divider] separator is spelled "seperator" causing accessibility issues"
Note: https://www.w3.org/WAI/PF/aria-1.1/roles#separator

Currently the role is not supported as this is spelled wrong.

[2020-07-08 18:34] chrisdholt opened #3464 "[fast-flipper] should only have a role of button when *not* hidden from AT"
Fast flipper is essentially a presentational component when hidden from AT. Having role of button implies to AT that the element should be focusable but isn't which elevates this to an error. We should only apply role="button" when this is exposed to AT. When hidden, it's simply a convenience feature for sighted users.

[2020-07-08 18:36] #3451 closed

[2020-07-08 18:58] chrisdholt opened #3465 "[fast-website] Form components are missing labels"
**Describe the bug; what happened?**
On the website, many of the form components are missing labels. This is creating accessibility issues as users do not have context for those elements.

**What behavior did you expect?**
All form elements should have a corresponding label or an aria label to give it an accessible name.

To preserve the design integrity, we should likely add aria-labels to the fo

[2020-07-08 19:10] janechu commented on #3456
This is not yet an issue with published packages, but I am able to repro it locally, I have created a simple test on the following branch by creating a test folder inside `sites`, see: `users/janechu/custom-element-test`

If you install and run that package locally you will see the error.

[2020-07-08 19:13] chrisdholt commented on #3456
Thanks @janechu, adding @EisenbergEffect as FYI. I'll take a look at the repro you've provided.

[2020-07-08 20:02] chrisdholt opened #3466 "Non-enumerated ARIA attributes are not handled when delegating focus"
There are a few sets of components which leverage delegateFocus. When focus is delegated away from the host element, assistive technology ignores the host element and looks for any aria attributes, roles, etc on the element to which focus has been delegated. Currently, this causes an issue where HTML attributes are not enumerated. For instance, given the below example of anchor, the aria-label wil

[2020-07-08 22:54] grahamehorner opened #3469 "nested tabs layout/render fails"
nesting tabs inside of a tab-panel doesn't render/behave correctly

[2020-07-09 17:58] chrisdholt commented on #3469
Thanks @grahamehorner, can you provide an example implementation and/or the error that you're getting thrown?

[2020-07-09 19:46] abhishekjakhar commented on #3465
Can I pick this up?

[2020-07-09 19:47] abhishekjakhar commented on #3462
Can I pick this up?

[2020-07-09 19:49] khamudom commented on #3465
@abhishekjakhar, I am currently working on this now.

[2020-07-09 19:56] CuddleBunny opened #3476 "ElementStyles.addStylesTo(document) fails in Firefox"
**Describe the bug; what happened?**

[code]

**What are the steps to reproduce the issue?**

[code]

**What behavior did you expect?**

ElementStyles are applied to the document.

**In what environment did you see the issue?**

* OS & Device: Windows 10
* Browser FireFox
* Version 78.0.1

**Is there any additional context?**

@EisenbergEffect noted in discussion: The reason is that FF doesn't sup

[2020-07-09 20:01] chrisdholt commented on #3462
@abhishekjakhar I don't think @SethDonohue has started on this - PR is welcome!

[2020-07-09 20:21] EisenbergEffect commented on #3476
Thanks for finding this @CuddleBunny ! I've got this on my todo list now. I'm hoping to get to it tomorrow, but don't hold me to that as I've got a few other things on the list as well 🤣

[2020-07-09 20:35] SethDonohue commented on #2226
@chrisdholt Ok to close this since it is for the react version? Assuming we are no longer building *new* things for the react side.

[2020-07-09 21:31] chrisdholt commented on #2226
@SethDonohue I think we can close _this_, I'll do so now :).

[2020-07-09 21:31] #2226 closed

[2020-07-09 22:04] patrickhlauke opened #3479 "Slider does not work for touch+AT users"
While the slider https://fast.design/docs/components/slider works well with AT and keyboard, it does currently not work in touch+AT scenarios. This is not a new problem...it's a problem that affects the ARIA 1.1 slider design pattern as well. In short: generally, touch+AT users that land on a slider (that announces itself as a native slider, e.g. with `role="slider"`), then AT will generally tell

[2020-07-09 22:09] patrickhlauke opened #3480 "Dialog breaks keyboard navigation?"
Going to https://fast.design/docs/components/dialog, it seems that whatever scripting the dialog attaches to the page, it immediately breaks keyboard navigation.

Example:

1. Go to https://fast.design/docs/components/dialog
2. Try to use `TAB`/`SHIFT`+`TAB` to move focus
3. ...nothing happens

**What behavior did you expect?**

Keyboard navigation to work (it works in other pages checked here).

[2020-07-09 22:23] patrickhlauke opened #3481 "Menu has erratic keyboard behavior, announced by AT as collapsed, can't check radio items"
Trying the menu in https://fast.design/docs/components/menu/, the first time around it seems possible, using `TAB`, to set focus initially to "Menu item 1", then "Menu item 4". Next time around though, only "Menu item 1" takes focus. If tabbing to "Menu item 4", it also then seems to break cursor up/down to move through the menu.

Additionally, at least just checking briefly with Chrome/Firefox an

[2020-07-09 22:34] chrisdholt commented on #3481
Thanks @patrickhlauke, I thought we had a task tracking the menuitemradio and menuitemcheckbox designs for the both of these, but it looks like that's missing. I'll add that and link here.

The keyboard behavior detailed in the bug report certainly seems odd and is definitely a bug somewhere. For the NVDA issue, the announcement seems like a bug on the side of NVDA as we appear to be following the

[2020-07-09 22:37] chrisdholt commented on #3481
@bheston Do you have some thoughts on how we could accommodate the design for a menuitemradio and menuitemcheckbox instances? I think the same visual could apply to both (checkmark) but the behavior would be either multiselect or single select. The nuance here is that the menu items support slots for start/end content for glyphs. In our MSFT implementation, considering we have those slots, where w

[2020-07-09 22:43] chrisdholt commented on #3480
Thanks @patrickhlauke! I have a couple of ideas as to what this could be. I'll investigate and see if we can get a fix out.

[2020-07-09 22:45] nicholasrice opened #3483 "Not all form associated elements can be required"
`FormAssociated` supports the `required` property and attribute. There are cases (notably switch) that *do not* support being `required` per the ARIA spec (#3458). PR #3478 removes the `aria-required` attribute from the template, but the `FASTSwitch` still supports the `required` property and attribute because it extends `FormAssociated`.

We should refactor `FormAssociated` so that properties can

[2020-07-09 22:49] nicholasrice commented on #3479
Awesome, thanks for the resources @patrickhlauke!

[2020-07-10 00:43] #3464 closed

[2020-07-10 04:14] #3465 closed

[2020-07-10 17:20] janechu opened #3490 "Upgrade to Webpack 5"
# Background

There is currently an issue with `fsevents` which causes us to have to downgrade build servers to Node v10.
See the #3491 for details.

## Requirements

When Webpack 5 is released which removes the use of `fsevents`, upgrade to that version in the repository and remove the downgrade to Node 10 in the `.github/workflows/ci-weekly.yml`.

List of  packages to be updated with webpack 5

[2020-07-10 18:01] chrisdholt commented on #3480
A quick update on this - I think that dual instances of `fast-components` and likely the `tabbable` dependency are being loaded. We were calling one in from the CDN to get live code examples, and another was being packaged with the homepage. Dropping the CDN version returned tabbing as expected but doesn't register the elements. I'll work to find a way to reference the package being included and b

[2020-07-10 18:48] EisenbergEffect commented on #3476
Fixed!

[2020-07-10 18:48] #3476 closed

[2020-07-10 19:41] chrisdholt commented on #3456
OK, I think I have this coming in soon.

[2020-07-10 20:14] EisenbergEffect opened #3495 "[Proposal] GitHub Usage and Process"
As previously discussed, I've been taking a look at our issues, milestones, labels, projects, etc. and have put together a set of recommendations.

# GitHub Specifics

## Milestones

Our current set of milestones are out of date. My recommendation is to close out all of our existing milestones. Going forward, we can center milestones around particular major features or innovations. Some milestones

[2020-07-10 20:40] SethDonohue commented on #3456
So if we're not using a constructor at all and doing things in the connectedCallback only then we won't run in to this issue, correct?

[2020-07-10 20:42] chrisdholt commented on #3456
@SethDonohue, it's not a matter of not using a constructor at all, it's a matter of what is being done in the constructor. Specifically, we should avoid using `____.setAttribute()` in the constructor and instead use the `connectedCallback`:

An example for a form connected component:
[code]

[2020-07-10 20:44] SethDonohue commented on #3456
Ok I saw that example in your PR, guess I was just trying to clarify, but I understand it now, thanks!

[2020-07-10 20:59] #3458 closed

[2020-07-10 21:10] awentzel commented on #3495
Love it!  A couple notes.  How should we track my focus on Azure cloud architecture, compliance (privacy, security, a11y), and operations which make up all of my work.  I did see DevOps label.  Would it all go in there?  Infrastructure versus operations?  Would my architecture fit under project architecture?

I also would love Fibonacci estimates as well as actual so we can improve planning and de

[2020-07-10 21:36] #3460 closed

[2020-07-10 21:37] EisenbergEffect commented on #3495
@awentzel We could track under `area:devops` or also add an additional area to distringuish, such as `area:cloud`.

[2020-07-10 21:42] robpaveza commented on #2235
I ran into this not with the above description, but similar:

![image](https://user-images.githubusercontent.com/1490290/87204683-437a1000-c2ba-11ea-9742-08bafd068511.png)

Here, flex is used frequently:

[code]
Here, the <Select /> renders into this...
[code]

If I modify the element matching `.select_menu-0-1-24` here and apply the styles `position: relative; z-index: 100;` then it appears fine.

[2020-07-10 22:04] bheston commented on #3481
@chrisdholt the closest pattern we have for this is tree view. Our selection indicator is a pill more than a check. The benefit of this is it fits in existing margins and doesn't change alignment for every item whether any item in the list is selected or not.
![image](https://user-images.githubusercontent.com/47367562/87206082-d49eb600-c2bd-11ea-8091-7f034c3c2b9f.png)

I agree that the treatment c

[2020-07-10 22:43] gregwhitworth commented on #2235
@robpaveza is this within an iframe or is one of the ancestors set to `overflow: hidden`?

[2020-07-10 22:49] robpaveza commented on #2235
@gregwhitworth Likely one or more ancestors are set to `overflow:hidden`.

[2020-07-10 22:51] chrisdholt commented on #2235
@robpaveza, is the expectation that this *break out* of the dialog as the normal select would?

[2020-07-10 22:52] robpaveza commented on #2235
@chrisdholt It's my expectation that a popup for a `<select>` will escape other UI.

[2020-07-10 23:00] chrisdholt commented on #2235
@gregwhitworth I think we talked about what @robpaveza talked about previously, but not formally. Part of this is the expectation set by the platform and a seemingly special sauce where the select listbox overlays UI and breaks out of containers. I can't recall - have we discussed this in Open UI at all? We don't really have a good hook to ensure that in every app select overlays all other DOM ele

[2020-07-10 23:06] #3389 closed

[2020-07-10 23:26] gregwhitworth commented on #2235
@chrisdholt we're actively working on an explainer for this. This isn't an Open UI issue but a CSSWG one. The explainer's are being iterated on it will introduce a new stacking context. Still things to flush out - but yes this is being worked on. When the explainer goes public I'll post it here for feedback.

[2020-07-10 23:32] chrisdholt commented on #2235
@gregwhitworth, thanks for the context! @robpaveza given the existing constraints we're a bit blocked by the above - but once that makes its way through we will take advantage of it 😄 .

[2020-07-10 23:37] chrisdholt commented on #3305
@nicholasrice, before we deprecate we'll likely need to remove the dependency on `fast-components-styles-msft` from `fast-components-msft`. Do we have an issue tracking that?

[2020-07-10 23:48] abhishekjakhar commented on #3434
@chrisdholt can I pick this up?

[2020-07-10 23:51] chrisdholt commented on #3434
I believe @scomea closed this with #3459 - @scomea is this closed?

[2020-07-11 01:08] #3456 closed

[2020-07-11 03:05] nicholasrice commented on #3305
@chrisdholt I don't think we need to break that necessarily, the deps will install from npm instead. We will probably want to clean that up but I don't think it needs to block deprecation.

[2020-07-12 20:26] #3469 closed

[2020-07-13 14:28] scomea commented on #3434
Yes, closing.

[2020-07-13 14:28] #3434 closed

[2020-07-13 19:27] khamudom opened #3504 "Add aria-valueunit attribute to the slider component"
**What feature are you requesting?**
Allow the developer to add a readout, for screen readers, of the unit, set on the slider label.

**What would be the benefit of adding this feature?**
Having the screen reader tell users the unit of the value, for example,
instead of just hearing the number, "90", the screen reader can say, 90 degrees celsius"
![image](https://user-images.githubusercontent.com/

[2020-07-13 19:41] janechu opened #3505 "Remove unnecessary interpolation on radio group fixture"
There is some interpolation added to a fixture HTML file. Since interpolation of this nature only works with [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) this was probably a typo.

## Requirements

1. Assess the reason why template literals were added to `packages/web-components/fast-components/src/radio-group/fixtures/base.html` and `pac

[2020-07-13 22:40] #3466 closed

[2020-07-14 00:48] #3505 closed

[2020-07-14 05:15] #3462 closed

[2020-07-14 18:10] #3481 closed

[2020-07-14 19:22] chrisdholt commented on #3300
@marjonlynch can this be closed?

[2020-07-14 19:22] chrisdholt commented on #3248
@khamudom I believe this can be closed, yes?

[2020-07-14 19:29] khamudom commented on #3248
Correct. thanks!

[2020-07-14 19:29] #3248 closed

[2020-07-14 21:47] janechu opened #3511 "The nesting of tree-items should use consistent slots"
# Background

The `<fast-tree-view>` and `<fast-tree-item>` have different slots. This results in a slightly confusing API.

Current implementation:
[code]

This was initially to allow such components as `<fast-divider>` to visually break the tree up without having to declare multiple `<fast-tree-view>` instances.

## Suggestion

In oder to simplify the nesting story the API might be a little less

[2020-07-15 16:50] gregwhitworth commented on #2235
@melanierichards

[2020-07-15 16:55] chrisdholt opened #3516 "Tree view indentation is visually broken"
The tree view is not visually aligned as expected in both web component packages. When a tree view has a root node with child nodes, the expand/collapse button is included and shifts the text. When there are other tree items on the same level, the text should align to the text of the tree item with the expand/collapse button. Currently there is no such functionality to apply this spacing. The pref

[2020-07-15 17:01] chrisdholt commented on #3516
@marjonlynch did you want to take a look at this?

[2020-07-15 19:28] awentzel commented on #3495
@EisenbergEffect lets try for `area:cloud` and see how that works out.

[2020-07-15 19:46] radium-v commented on #3495
Could we add a type like "improvement"? for something that falls between a bug and a feature.

[2020-07-15 19:50] EisenbergEffect commented on #3495
@radium-v That makes sense. So, things like perf optimizations, internal changes that don't add new features but make things better, etc.

[2020-07-15 19:52] EisenbergEffect commented on #3495
I added the label for `improvement`. I think we can use the same PR and issue template for feature and improvement possibly. We'll see.

[2020-07-15 20:14] awentzel commented on #3495
My definition of `feature` is anything not a `bug`.  So optimizations or improvements to features seems like it's still a feature work.  Which is why adding "add, update, remove" as a prefix to the title was useful to distinguish type of feature work.  How would this aspect change?

[2020-07-15 20:21] chrisdholt commented on #3495
@awentzel, I think it'll be difficult to stay on top of updating ppl's issues to include different language (add, update, remove). I think the label can help represent that without having to edit/update language of specific issues. The label would articulate the intent at a glance. Feature v. Improvement are markedly different in that all improvements would be on top of something existing - there'

[2020-07-15 20:35] #3305 closed

[2020-07-15 21:52] scomea commented on #2235
I'm working on the Web Component "anchored-region" (ie. the theoretical container for menu flyouts) and I think we can use fixed positioning when we need it to open in the foreground.  It wouldn't easily track the element it's anchored to after initial placement, but if we're ok with menus that close if the user does something to change the outside layout (ie. scrolls, resizes) I think it could wo

[2020-07-16 18:57] awentzel opened #3519 "Investigate benefits of using open-telemetry for Node JS applications"
**What feature are you requesting?**
possibly using open-telemetry to hook into Azure Monitor for better diagnostics and metrics around node/npm at run-time on backend.  https://github.com/open-telemetry/opentelemetry-js/blob/master/getting-started/README.md

**What would be the benefit of adding this feature?**
Better debugging for fast resolutions

**What solution would be ideal for you?**
tbd

[2020-07-16 20:22] awentzel opened #3521 "CDN Bundle's include duplicate licensing notices"
**Describe the bug; what happened?**
Microsoft MIT license, is being duplicated in all NPM package bundles

**What are the steps to reproduce the issue?**
View source on the bundles and search MIT to find duplicate notices.

**What behavior did you expect?**
A single notice is ample.

**If applicable, provide screenshots:**

**In what environment did you see the issue?**
All

**Is there any additi

[2020-07-16 21:00] #3480 closed

[2020-07-17 19:05] SayusiAndo opened #3526 "Accordion behaves differently in component explorer than in documentation"
**Describe the bug; what happened?**

In component explorer accordion works like a charm. It is just beautiful.
However in the documentation side it doesn't expand and collapse. It remains collapsed. If I use the code displayed in the documentation side the result is the same on my page.

**What are the steps to reproduce the issue?**

Please check the video here: https://1drv.ms/u/s!AkndgIjnAZNKq

[2020-07-17 19:13] chrisdholt commented on #3526
Thanks for this @SayusiAndo! I believe this is what we happened across yesterday while doing a release review. It's quite possible that #3524 will fix this as much of the breakage we saw on the documentation site was due to some bundling issues. I'll leave this open until we can confirm :).

[2020-07-17 19:30] SayusiAndo commented on #3526
Thanks for the quick response!

[2020-07-18 19:44] limefrogyank opened #3529 "Several components broken in fast-components-msft v1.5.0"
I'm using Blazor.  Using v1.5 of fast-components-msft displays several components incorrectly:

- Checkbox won't display the box.
- Slider won't show the bar
- Text-field won't show the outline box.

![image](https://user-images.githubusercontent.com/7821384/87860616-a7708a00-c8f3-11ea-9911-3fb9d421a353.png)

If I switch to v1.4, those visuals are good:
![image](https://user-images.githubuserconte

[2020-07-18 20:01] limefrogyank opened #3530 "Using button @onclick in Blazor throws exception"
When you try to attach the click event handler to `fast-button` in a Blazor app, an exception is thrown:
[code]

To reproduce:
- Create a basic blazor app
- Add `<script type="module" src="https://unpkg.com/@microsoft/fast-components-msft"></script>` to the head of index.html
- Wrap the body contents with `<fast-design-system-provider use-defaults>...</fast-design-system-provider>`
- Add `<fast-bu

[2020-07-18 20:04] SayusiAndo commented on #3529
Possibly a duplicate of [3526](https://github.com/microsoft/fast/issues/3526#issuecomment-660298938)

[2020-07-18 20:12] chrisdholt commented on #3529
Believe this is a dupe of 3526. Leaving open for tracking and will close if confirmed.

[2020-07-18 20:20] limefrogyank commented on #3530
I should mention that even though the UI button failed to render, you can still click it and the handler runs!  This example doesn't do anything, but if you have the handler change a string, it will work.

[2020-07-19 18:46] chrisdholt commented on #3530
Assuming this is the `fast-components-msft` package, I think this is fixed as of #3523. If you import v1.5 of the `fast-components` package, does this repro still? If not, I think this will be fixed in our next release in the coming week.

[2020-07-19 23:04] limefrogyank commented on #3530
Sorry, you're right. There is no console exception with the plain fast-component package.  It was confusing because of the broken styles.

[2020-07-19 23:04] #3530 closed

[2020-07-19 23:11] chrisdholt commented on #3530
No worries! This was an issue that was missed in the MSFT package - should be updated (hopefully) Monday! Thanks for filing this and confirming for us :)

[2020-07-20 13:52] #28 closed

[2020-07-20 14:00] #300 closed

[2020-07-20 14:03] #473 closed

[2020-07-20 14:03] #513 closed

[2020-07-20 14:04] #519 closed

[2020-07-20 14:06] #561 closed

[2020-07-20 14:08] #564 closed

[2020-07-20 14:09] #641 closed

[2020-07-20 14:10] #645 closed

[2020-07-20 14:18] #891 closed

[2020-07-20 14:18] #912 closed

[2020-07-20 14:24] #977 closed

[2020-07-20 14:25] EisenbergEffect commented on #994
@janechu Can you update this issue to describe the current plan?

[2020-07-20 14:27] #1101 closed

[2020-07-20 14:34] #1192 closed

[2020-07-20 14:40] #1525 closed

[2020-07-20 15:40] #1963 closed

[2020-07-20 15:45] #2109 closed

[2020-07-20 16:04] #2261 closed

[2020-07-20 16:14] khamudom opened #3531 "[Proposal] Add accessibility section to fast component pages"
**What feature are you requesting?**
Add an accessibility section to all of the fast components.

**What would be the benefit of adding this feature?**
Having an accessibility section will let developers, PMs, or users, know that we build our components with accessibility in mind and are following the guidelines from the W3C Working Group. We can't assume all authors know about accessibility, so t

[2020-07-20 18:58] chrisdholt commented on #874
closed by #3517

[2020-07-20 18:58] #874 closed

[2020-07-20 18:58] chrisdholt commented on #1045
closed by #3517

[2020-07-20 18:58] #1045 closed

[2020-07-20 18:58] chrisdholt commented on #1086
closed by #3517

[2020-07-20 18:58] #1086 closed

[2020-07-20 18:58] chrisdholt commented on #1155
closed by #3517

[2020-07-20 18:58] #1155 closed

[2020-07-20 18:59] chrisdholt commented on #1279
closed by #3517

[2020-07-20 18:59] #1279 closed

[2020-07-20 18:59] chrisdholt commented on #1668
closed by #3517

[2020-07-20 18:59] #1668 closed

[2020-07-20 18:59] chrisdholt commented on #2171
closed by #3517

[2020-07-20 18:59] #2171 closed

[2020-07-20 19:01] chrisdholt commented on #2208
closed by #3517

[2020-07-20 19:01] #2208 closed

[2020-07-20 19:01] chrisdholt commented on #2230
closed by #3517

[2020-07-20 19:01] #2230 closed

[2020-07-20 19:02] chrisdholt commented on #2237
closed by #3517

[2020-07-20 19:02] #2237 closed

[2020-07-20 19:02] chrisdholt commented on #2372
closed by #3517

[2020-07-20 19:02] #2372 closed

[2020-07-20 19:06] chrisdholt commented on #2398
closed by #2531 and #3517

[2020-07-20 19:06] #2398 closed

[2020-07-20 19:08] chrisdholt commented on #2433
closed by #2398 3517

[2020-07-20 19:08] #2433 closed

[2020-07-20 19:08] chrisdholt commented on #2450
closed by #3517

[2020-07-20 19:09] #2450 closed

[2020-07-20 19:09] chrisdholt commented on #2453
closing due to #3517

[2020-07-20 19:09] #2453 closed

[2020-07-20 19:14] chrisdholt commented on #3439
closed by #3517 as we do not have this control as a WC

[2020-07-20 19:14] #3439 closed

[2020-07-20 20:01] #2542 closed

[2020-07-20 20:02] #2543 closed

[2020-07-20 20:06] #2586 closed

[2020-07-20 20:14] #2694 closed

[2020-07-20 20:18] #2788 closed

[2020-07-20 20:20] #2848 closed

[2020-07-20 20:22] EisenbergEffect commented on #2886
Closing as obsolete due to new provider design.

[2020-07-20 20:22] #2886 closed

[2020-07-20 20:23] EisenbergEffect commented on #2959
@scomea Was this an issue with the web component or the React Component?

[2020-07-20 20:24] #2960 closed

[2020-07-20 20:29] EisenbergEffect commented on #3054
@awentzel Is this fixed? Can this be closed?

[2020-07-20 20:31] chrisdholt commented on #2959
@eisenberg effect, this can be closed with #3517

[2020-07-20 20:31] #2959 closed

[2020-07-20 20:38] EisenbergEffect commented on #3076
@radium-v Are we able to close this out now?

[2020-07-20 20:41] EisenbergEffect commented on #3126
@radium-v Do you recall if this work was ever done or is it still needed?

[2020-07-20 20:44] chrisdholt commented on #3126
@EisenbergEffect, I believe this was done with #3414

[2020-07-20 20:49] EisenbergEffect commented on #3213
@nicholasrice This can be closed now yes?

[2020-07-20 20:50] EisenbergEffect commented on #3214
Closing this in favor of the provider approach.

[2020-07-20 20:50] #3214 closed

[2020-07-20 20:50] chrisdholt commented on #3076
@EisenbergEffect, I would close this - any new work should be new issues as we've launched the homepage. This checklist was intended to track work related to the launch.

[2020-07-20 20:55] chrisdholt commented on #766
closed with #3517

[2020-07-20 20:55] #766 closed

[2020-07-20 20:55] chrisdholt commented on #812
closed with #3517

[2020-07-20 20:55] #812 closed

[2020-07-20 20:55] EisenbergEffect commented on #3298
@radium-v With your latest couple of PRs, is this now complete?

[2020-07-20 20:55] chrisdholt commented on #823
closed with #3517

[2020-07-20 20:55] #823 closed

[2020-07-20 20:55] chrisdholt commented on #1117
closed with #3517

[2020-07-20 20:55] #1117 closed

[2020-07-20 20:55] chrisdholt commented on #1142
closed with #3517

[2020-07-20 20:55] #1142 closed

[2020-07-20 20:56] chrisdholt commented on #1177
closed with #3517

[2020-07-20 20:56] #1177 closed

[2020-07-20 20:56] chrisdholt commented on #1178
closed with #3517

[2020-07-20 20:56] #1178 closed

[2020-07-20 20:56] chrisdholt commented on #1350
closed with #3517

[2020-07-20 20:56] #1350 closed

[2020-07-20 20:56] chrisdholt commented on #1399
closed with #3517

[2020-07-20 20:56] #1399 closed

[2020-07-20 20:57] chrisdholt commented on #1438
closed with #3517

[2020-07-20 20:57] #1438 closed

[2020-07-20 20:57] chrisdholt commented on #1488
closed with #3517

[2020-07-20 20:57] #1488 closed

[2020-07-20 20:57] chrisdholt commented on #1574
closed with #3517

[2020-07-20 20:57] #1574 closed

[2020-07-20 20:57] chrisdholt commented on #1621
closed with #3517

[2020-07-20 20:57] #1621 closed

[2020-07-20 20:58] chrisdholt commented on #1707
closed with #3517

[2020-07-20 20:58] #1707 closed

[2020-07-20 20:58] EisenbergEffect commented on #3299
@radium-v Do we want to continue to track this or do we think our workaround is fine to stay as is? Is there anything we can really do about it?

[2020-07-20 20:58] chrisdholt commented on #1710
closed with #3517

[2020-07-20 20:58] #1710 closed

[2020-07-20 20:58] chrisdholt commented on #1713
closed with #3517

[2020-07-20 20:58] #1713 closed

[2020-07-20 20:58] chrisdholt commented on #1900
closed with #3517

[2020-07-20 20:59] chrisdholt commented on #1649
closed with #3517

[2020-07-20 20:59] #1649 closed

[2020-07-20 20:59] EisenbergEffect commented on #3300
@marjonlynch When you're back, let me know if we can close this one out. Thanks!

[2020-07-20 21:00] chrisdholt commented on #1900
closed with #3517

[2020-07-20 21:00] #1900 closed

[2020-07-20 21:00] chrisdholt commented on #2218
closed with #3517

[2020-07-20 21:01] radium-v commented on #3299
@EisenbergEffect I think the current workaround is fine (it's definitely not a major breaking bug).

[2020-07-20 21:02] chrisdholt commented on #2202
@EisenbergEffect would prefer to close this related to #3517 as we don't have number field yet. I'm happy to create a new task tracking the creation of that control; as it stands, this issue seems like it would be confusing as the control does not exist.

[2020-07-20 21:02] chrisdholt commented on #1968
closed with #3517

[2020-07-20 21:02] #1968 closed

[2020-07-20 21:02] chrisdholt commented on #2041
closed with #3517

[2020-07-20 21:02] #2041 closed

[2020-07-20 21:02] chrisdholt commented on #2055
closed with #3517

[2020-07-20 21:02] #2055 closed

[2020-07-20 21:03] chrisdholt commented on #2180
closed with #3517

[2020-07-20 21:03] #2180 closed

[2020-07-20 21:03] chrisdholt commented on #2211
closed with #3517 as the background component does not exist

[2020-07-20 21:03] #2211 closed

[2020-07-20 21:04] chrisdholt commented on #2318
closed with #3517

[2020-07-20 21:04] #2318 closed

[2020-07-20 21:04] chrisdholt commented on #2302
closed with #3517

[2020-07-20 21:04] #2302 closed

[2020-07-20 21:04] chrisdholt commented on #2278
closed with #3517

[2020-07-20 21:04] #2278 closed

[2020-07-20 21:05] chrisdholt commented on #2268
closed with #3517

[2020-07-20 21:05] #2268 closed

[2020-07-20 21:05] chrisdholt commented on #2267
closed with #3517

[2020-07-20 21:05] #2267 closed

[2020-07-20 21:05] chrisdholt commented on #2265
closed with #3517

[2020-07-20 21:05] #2265 closed

[2020-07-20 21:06] chrisdholt commented on #2235
closed with #3517 - will link to this in a select issue for WC's

[2020-07-20 21:06] #2235 closed

[2020-07-20 21:06] chrisdholt commented on #2231
closed with #3517

[2020-07-20 21:06] #2231 closed

[2020-07-20 21:06] chrisdholt commented on #2229
closed with #3517

[2020-07-20 21:06] #2229 closed

[2020-07-20 21:07] chrisdholt commented on #2408
closed with #3517 but I believe this was also closed with a PR prior :)

[2020-07-20 21:07] #2408 closed

[2020-07-20 21:07] EisenbergEffect commented on #3447
@grahamehorner Can you provide some more thoughts on what you have in mind for this?

[2020-07-20 21:08] chrisdholt commented on #2409
closed with #3517 but I also believe a PR was merged pertaining to this

[2020-07-20 21:08] #2409 closed

[2020-07-20 21:09] chrisdholt commented on #2438
closed with #3517

[2020-07-20 21:09] #2438 closed

[2020-07-20 21:09] chrisdholt commented on #2440
closed with #3517

[2020-07-20 21:09] #2440 closed

[2020-07-20 21:09] chrisdholt commented on #2454
closed with #3517

[2020-07-20 21:09] #2454 closed

[2020-07-20 21:10] chrisdholt commented on #2464
closed with #3517

[2020-07-20 21:10] #2464 closed

[2020-07-20 21:10] chrisdholt commented on #2469
closed with #3517

[2020-07-20 21:10] #2469 closed

[2020-07-20 21:10] chrisdholt commented on #2470
I haven't seen this happen in awhile - do we think this can be closed?

[2020-07-20 21:11] chrisdholt commented on #2480
closed with #3517

[2020-07-20 21:11] #2480 closed

[2020-07-20 21:11] chrisdholt commented on #2501
closed with #3059

[2020-07-20 21:11] #2501 closed

[2020-07-20 21:11] #2536 closed

[2020-07-20 21:12] EisenbergEffect commented on #3455
In my understanding, this is how things work. If the design system provider is in the shadow dom, it will only affect elements that are in that shadow dom (that's there the css properties are flowing through). The elements you are referring to are actually in the light dom; they are only projected into the shadow dom. So, the css properties in the shadow dom don't affect them.

[2020-07-20 21:12] chrisdholt commented on #2544
closed with #3517

[2020-07-20 21:12] #2544 closed

[2020-07-20 21:12] #3455 closed

[2020-07-20 21:12] chrisdholt commented on #2552
closed with #3517

[2020-07-20 21:12] #2552 closed

[2020-07-20 21:13] chrisdholt commented on #2580
closed with #3067

[2020-07-20 21:13] #2580 closed

[2020-07-20 21:14] chrisdholt commented on #2585
Closing based on https://github.com/microsoft/fast/issues/2585#issuecomment-575807431

[2020-07-20 21:14] #2585 closed

[2020-07-20 21:14] chrisdholt commented on #2591
closed with #3517

[2020-07-20 21:14] #2591 closed

[2020-07-20 21:14] chrisdholt commented on #2597
closed with #3517

[2020-07-20 21:14] #2597 closed

[2020-07-20 21:14] chrisdholt commented on #2602
closed with #3517

[2020-07-20 21:14] #2602 closed

[2020-07-20 21:15] chrisdholt commented on #2655
closed w/ #2699

[2020-07-20 21:15] #2655 closed

[2020-07-20 21:15] chrisdholt commented on #2659
closed with #3517

[2020-07-20 21:15] #2659 closed

[2020-07-20 21:15] chrisdholt commented on #2697
closed with #3517

[2020-07-20 21:15] #2697 closed

[2020-07-20 21:16] chrisdholt commented on #2700
closed with #3517

[2020-07-20 21:16] #2700 closed

[2020-07-20 21:16] chrisdholt commented on #2826
closed with #3517 - we should investigate this as a new task related to WC's if still desired

[2020-07-20 21:16] #2826 closed

[2020-07-20 21:17] chrisdholt commented on #3044
closed with #3517

[2020-07-20 21:17] #3044 closed

[2020-07-20 21:17] chrisdholt commented on #3064
closed with #3517

[2020-07-20 21:17] #3064 closed

[2020-07-20 21:19] chrisdholt commented on #3300
@EisenbergEffect this was closed with #3169

[2020-07-20 21:19] #3300 closed

[2020-07-20 21:23] radium-v commented on #3298
#3510 improved the reliability of the script so they can safely remain separated.

[2020-07-20 21:23] #3298 closed

[2020-07-20 21:27] #3076 closed

[2020-07-20 21:33] #3126 closed

[2020-07-20 21:39] #2202 closed

[2020-07-21 00:04] nicholasrice commented on #3213
@EisenbergEffect #3 isn't addressed yet, so lets keep this open for the time being.

[2020-07-21 00:40] nicholasrice commented on #3246
For robustness, my recommendation is to add a `direction` property to the design system provider:
[code]

 This will provide a mechanism to address any direction based styling for which other mechanisms don't exist and would look something like the following:

[code]

`DirectionalStyleBehavior` would accept `ComposableStyles` as arguments.

Additionally, I'd propose adding two CSS custom property

[2020-07-21 05:13] abhishekjakhar commented on #3526
Can I pick this up?

[2020-07-21 05:56] chrisdholt commented on #3526
@abhishekjakhar i think the work here is already done - we primarily need to just confirm with a test prod bundle. Happy to help find a good issue for you to grab though if you’d like :)

[2020-07-21 06:27] abhishekjakhar commented on #3526
I would really love to work on anything, it would be great if you could help me in finding issue on which I can work, really appreciate it.

[2020-07-21 10:12] PhilippSonntagORGADATA opened #3534 "type="submit" in fast-button won't work"
Hello there,
I want to create a button that submits a form, but the type submit seems not to work on buttons.

The packages I used were fast-components and fast-components-msft of which both don't work. I tried to locate an error in the [Button component](https://github.com/microsoft/fast/blob/master/packages/web-components/fast-foundation/src/button/button.ts#L126), but everything seems fine. So

[2020-07-21 14:09] EisenbergEffect commented on #3534
Thank you for reporting this @PhilippSonntagORGADATA

I can confirm that I have also been able to reproduce this bug with a recent build. We'll investigate this and see if we can determine what is going wrong here and plan out a fix.

[2020-07-21 18:26] nicholasrice opened #3536 "Add form-associated components documentation."
We should add documentation to address questions about our form-associated custom elements. We should address:
1. What is form association? What does it enable?
2. Which components are form-associated?
3. Approach to down-level browser support.

[2020-07-22 01:08] #3516 closed

[2020-07-22 07:58] PhilippSonntagORGADATA commented on #3534
If you need a workaround for this bug, you could use the solution [someone wrote at mwc](https://github.com/material-components/material-components-web-components/issues/205#issuecomment-652309491).

Sadly, this doesn't seem to work quite good in Blazor because the page will be reloaded anyway.

[2020-07-22 13:46] #2377 closed

[2020-07-22 14:03] #3511 closed

[2020-07-22 14:07] EisenbergEffect commented on #3246
@nicholasrice This is still in progress, pending the direction style behavior, yes?

[2020-07-22 16:13] awentzel commented on #32
We are using App Insights from Azure that now has all of this capability.

[2020-07-22 16:13] #32 closed

[2020-07-22 20:41] msordini opened #3541 "Add [what] to/in [https://www.dropbox.com/s/x61m0vgzp073tgz/SMS%20Backup%2B%20-%20Apps%20on%20Google%20Play.webarchive?dl=0"
**What feature are you requesting?**

**What would be the benefit of adding this feature?**

**What solution would be ideal for you?**

**What alternatives have you considered?**

**Is there any additional context for your request?**

**Attach screenshots or images add detail to your request:**

[2020-07-22 21:03] EisenbergEffect commented on #3541
Closing as spam.

[2020-07-22 21:03] #3541 closed

[2020-07-22 21:55] awentzel commented on #2315
Latest FastPass results attached.  These results can be replicated by running "Accessibility Insights for the Web" Anaheim extension on https://www.fast.design

[Accessibility Insights for Web automated checks result.pdf](https://github.com/microsoft/fast/files/4962839/Accessibility.Insights.for.Web.automated.checks.result.pdf)

[2020-07-22 21:57] awentzel commented on #2470
Unable to replicate as well so we're closing.  Happy to re-open if this pops up again and can be reproduced.

[2020-07-22 21:57] #2470 closed

[2020-07-22 21:57] nicholasrice commented on #3361
Another thought I want to capture here - there are cases where certain semantic elements *are* providers for CSS custom properties and should allow registration of property resolves. This includes components like cards, dialogs, flyouts, that have backgrounds that can (and often are) distinguished from the rest of the page.

[2020-07-22 22:01] chrisdholt opened #3542 "Remove fast-components-msft package and move to @microsoft/fluentui"
This issue exists to track the removal of `fast-components-msft` from the FAST repo in coordination with https://github.com/microsoft/fluentui/issues/14071.

For over a year now, we've been syncing regularly with several of the folks involved with the FluentUI effort in an effort to continually find opportunities to align and converge. We're also an active part of the W3C Open UI effort. While we'

[2020-07-22 22:04] awentzel commented on #3170
MacOS is backonline and running again.

[2020-07-22 22:04] #3170 closed

[2020-07-22 22:08] awentzel commented on #3087
We have started using CodeQL and also with GitHub's built in analysis tools https://github.com/microsoft/fast/network/alerts the same dependencies are tracked by dependabot.  There are a few, but I think closing this PR makes sense given we didn't onboard ShiftLeft after all and it's been a couple months where dependency issues still exist, but have changed.

[2020-07-22 22:08] #3087 closed

[2020-07-22 22:11] chrisdholt commented on #2315
I think most of the above are fixed; I'll run it later this evening locally if I can to confirm - but we can also run after tomorrow's scheduled deployment.

[2020-07-22 22:11] prabhu commented on #3087
Feel free to use both scan and CodeQL since these are free and run as separate action workflows anyways.

[2020-07-22 22:20] awentzel commented on #3080
Validated with @nicholasrice and @khamudom that `/feature/*` branches were no longer valid and deleted.  Future feature branches can be created from `features/*` to match other branches for better consistency.

[2020-07-22 22:20] #3080 closed

[2020-07-22 22:22] awentzel commented on #2649
This issue was resolved, and now we no longer need Azure Logic Apps to keep ADO and GH issues in sync.

[2020-07-22 22:22] #2649 closed

[2020-07-22 22:29] janechu commented on #2016
Resolved by https://github.com/microsoft/fast/pull/3500, the secondary asks to automatically rebase and merge are still being considered but not worth investing time into currently.

[2020-07-22 22:29] #2016 closed

[2020-07-23 16:58] chrisdholt commented on #3529
This appears to be resolved for the v1.6.0 CDN bundle via #3524: `https://unpkg.com/@microsoft/fast-components@1.6.0/dist/fast-components.min.js`

[2020-07-23 16:58] #3529 closed

[2020-07-23 16:59] chrisdholt commented on #3526
This appears to be resolved for the v1.6.0 CDN bundle via #3524: `https://unpkg.com/@microsoft/fast-components@1.6.0/dist/fast-components.min.js`

[2020-07-23 16:59] #3526 closed

[2020-07-23 17:19] amis92 opened #3543 "[chore] Create GitHub releases in addition to tags"
**What feature are you requesting?**
In addition to creating tags, please create full GitHub releases as well.

**What would be the benefit of adding this feature?**
People who *watch releases* on this repository would be notified.

**What solution would be ideal for you?**
Creating a GitHub release for new package tags, e.g. for 1.6.0 version of all packages create a single 1.6.0 release to notif

[2020-07-23 17:22] limefrogyank commented on #3529
Yes, works fine now.  Thanks!

[2020-07-23 17:25] chrisdholt commented on #3543
Thanks for the issue @amis92! We've definitely discussed this as we look into how we manage and deploy our packages. While we have some larger long-term goals for updating our release process, there may be some incremental steps we can take to get this out the door sooner.

In terms of your note on coverage, we've only recently started speaking externally and we're glad you found us! I think the w

[2020-07-23 19:39] NPadrutt opened #3544 "text-field values are not sent to server Edge and Chrome"
**Describe the bug; what happened?**
I have a login page in a asp.net core razor page with a fast-text-field for the username and one for the password. Both have the name and ID set so that they should be mapped to the according Bind Property of the model. When I fill in both values and hit send in FireFox I do get both values in my page model on the server. In Chrome and Edge (Chromium based) bot

[2020-07-23 23:47] awentzel opened #3545 "The logo on the documentation pages is pixelated"
**Describe the bug; what happened?**
The logo in the top left corner is pixelated on all documentation pages and also on component explorer site, both sites.

**If applicable, provide screenshots:**
<img width="579" alt="Screen Shot 2020-07-23 at 4 44 25 PM" src="https://user-images.githubusercontent.com/16669785/88349080-f0fe1200-cd03-11ea-8b80-c43ccb730b2e.png">

**In what environment did you se

[2020-07-24 06:43] atkeranov opened #3546 "Expand toggle is missing in tree-view component in RTL mode"
Expand toggle is missing in tree-view component in RTL mode.

1. Go to https://explore.fast.design/components/fast-tree-view.
2. Click on the RTL toggle to enable RTL mode.
3. Error: the first node does not have an expand toggle anymore.

Expected to see the toggle of the first tree-view node just as in non-RTL mode.
![image](https://user-images.githubusercontent.com/4188195/88366494-f30eb200-cd91

[2020-07-24 14:42] Valks opened #3548 "Is there a way to apply styles to child ShadowDOM elements?"
I've been going through trying to create my own elements that I wish to use. Part of that journey has lead me to make a toolbar.

Been a Toolbar, I want to change the background of the buttons to be transparent (going for a look like: https://fluentsite.z22.web.core.windows.net/components/toolbar/definition . Now I could create another element, i.e. ToolbarButton that extends Button (and any other

[2020-07-24 14:50] EisenbergEffect commented on #3548
@Valks I'm happy to provide some thoughts on this...but I'd like to ask a favor of you. Since we just launched FAST recently, we're trying to build up a presence on Stack Overflow. We'd like to handle questions like these there. Would you mind posting a question on Stack Overflow and linking it here? Then I'll hop over to SO and answer for you. How does that sound?

[2020-07-24 15:03] Valks commented on #3548
I've created an issue: [stack overflow](https://stackoverflow.com/questions/63076287/using-fast-is-there-a-way-to-apply-styles-to-child-shadowdom-elements).

[2020-07-24 18:36] nicholasrice opened #3550 "FormAssociated should update the form's value for the control when value changes"
`FormAssociated` declares a `value` property and a mechanism to update the parent form's value for the control but never does any work to keep the parent form in sync with the control. This requires all implementing controls to determine when to update the form value.

`FormAssociated` should instead always update the parent form's value whenever the `value` property is changed. It should also sup

[2020-07-24 18:55] EisenbergEffect commented on #3548
Apologies for the delay. I posted an answer for you. Hope this helps!

[2020-07-24 18:56] #3548 closed

[2020-07-25 13:02] JazibJafri commented on #3545
May I take this?

[2020-07-25 21:16] limefrogyank opened #3556 "Wrong code in website"
https://fast.design/docs/components/design-system-provider#creating-a-design-system-provider

In these steps, you need to change the circled part:

![image](https://user-images.githubusercontent.com/7821384/88466459-54617e80-ce81-11ea-912d-adce9548458b.png)

From `fast-components` to `fast-foundation`

[2020-07-25 21:20] limefrogyank commented on #3556
And now that I play with it more, it seems the API changed, too.

[code]
instead of
[code]

It seems to be correct in the next code section.

[2020-07-25 21:25] limefrogyank commented on #3556
Finally, the next section:
[code]
Should be:
[code]

[2020-07-26 00:27] chrisdholt commented on #3556
Great catch, thanks @limefrogyank!

[2020-07-27 12:50] Valks opened #3557 "Add templates to build components for different integrations"
**What feature are you requesting?**

I'm looking for a pre-set template with all the typescript compiler, dependency configuration, etc. ready to go along with the necessary integration components for the different integration targets.

**What would be the benefit of adding this feature?**

It would make it significantly easier to consume the FAST platform in custom solutions, especially for thos

[2020-07-27 14:27] EisenbergEffect commented on #3545
@JazibJafri Absolutely. @awentzel Can you point @JazibJafri to the proper logo resource to use?

[2020-07-27 16:03] EisenbergEffect commented on #3557
@Valks Can you share a bit more about what you want to accomplish with this integration in the end? Are you trying to build your own design system? Are you trying to build your own components? Do you want a deeper integration with Blazor? Some combination of these things?

[2020-07-27 17:23] uabarahona opened #3558 "Add Realtime editor component (Property panel)"
**What feature are you requesting?**
Allow the developer to add a component that allows real time modification of the UI, this panel could potentially have all the variables created by the framework or some parent variables that affect the others

![image](https://user-images.githubusercontent.com/15148088/88571468-af26e180-d00b-11ea-8444-a33b7db716d9.png)

**What would be the benefit of adding th

[2020-07-27 19:28] nicholasrice commented on #2622
This capability was added but it looks like this issue wasn't' closed. Closing now.

[2020-07-27 19:28] #2622 closed

[2020-07-27 19:35] janechu commented on #3000
Closed with #3026

[2020-07-27 19:35] #3000 closed

[2020-07-27 19:37] janechu commented on #3002
Closed by #3437

[2020-07-27 19:37] #3002 closed

[2020-07-27 19:57] janechu commented on #2199
This was resolved in #3238

[2020-07-27 19:57] #2199 closed

[2020-07-27 20:33] janechu commented on #2042
Completed in #3238

[2020-07-27 20:33] #2042 closed

[2020-07-27 20:39] janechu commented on #1932
A different solution has emerged where items will be dropped on the last droppable location.

[2020-07-27 20:39] #1932 closed

[2020-07-27 20:42] janechu commented on #2053
This is now no longer necessary for us to create as a custom form control within tooling as the `<fast-slider>` from `@microsoft/fast-components` can be used.

[2020-07-27 20:42] #2053 closed

[2020-07-27 20:43] janechu commented on #1949
This was resolved during a previous refactoring of the `Navigation` component.

[2020-07-27 20:43] #1949 closed

[2020-07-27 20:44] janechu commented on #1947
Duplicate of #1980

[2020-07-27 20:44] #1947 closed

[2020-07-27 20:46] janechu commented on #1791
This will use the same solution as the `Form` via #2346

[2020-07-27 20:46] #1791 closed

[2020-07-27 20:49] janechu commented on #2502
This has been resolved, JSON schemas are now generated from web component definition files located in the `sites/site-utilities/src/definitions/fast-components`.

[2020-07-27 20:49] #2502 closed

[2020-07-27 20:50] janechu commented on #2388
This has been resolved in #3238

[2020-07-27 20:50] #2388 closed

[2020-07-27 20:52] janechu commented on #2269
Closing as this file no longer exists due to the v2 refactor in #3238

[2020-07-27 20:52] #2269 closed

[2020-07-27 20:53] janechu commented on #1353
This is no longer needed after the consolidation of the tooling React components to `@microsoft/fast-tooling-react`.

[2020-07-27 20:53] #1353 closed

[2020-07-27 20:53] janechu commented on #967
Closing as this work was completed with the addition of the `Navigation` component in `@microsoft/fast-tooling-react`

[2020-07-27 20:53] #967 closed

[2020-07-27 20:55] janechu commented on #730
@chrisdholt looks like I missed this, due to the refactor and other moving pieces the development site no longer exists as a package, additionally there is currently no need to filter because of the smaller size number of available components. We may revisit or add a new issue for this if we ever reach that point in the future.

[2020-07-27 20:55] #730 closed

[2020-07-27 20:56] #615 closed

[2020-07-27 20:56] janechu commented on #562
Closing this as the development site has been deprecated.

[2020-07-27 20:56] #562 closed

[2020-07-27 20:57] janechu commented on #544
@chrisdholt we can close this as obsolete as the development site no longer exists.

[2020-07-27 20:57] #544 closed

[2020-07-27 21:00] janechu commented on #2427
After some investigation it would seem that this is impractical for the proposed use case.

[2020-07-27 21:00] #2427 closed

[2020-07-27 21:02] janechu commented on #2371
This is now being achieved through the "activeDictionaryId" stored to the config.

[2020-07-27 21:02] #2371 closed

[2020-07-27 21:04] janechu commented on #2343
This issue is now obsolete as the tooling uses its own custom design system.

[2020-07-27 21:04] #2343 closed

[2020-07-27 21:04] janechu commented on #2342
This issue is now obsolete as the tooling uses its own custom design system.

[2020-07-27 21:04] #2342 closed

[2020-07-27 21:04] janechu commented on #2341
This issue is now obsolete as the tooling uses its own custom design system.

[2020-07-27 21:04] #2341 closed

[2020-07-27 21:06] janechu commented on #2340
This is now obsolete as styling will happen via CSS variables see #3205.

[2020-07-27 21:06] #2340 closed

[2020-07-27 21:07] janechu commented on #2339
This is obsolete as the `StandardControlPlugin` allows for swapping out components.

[2020-07-27 21:07] #2339 closed

[2020-07-27 21:07] janechu commented on #2338
This is obsolete as the `StandardControlPlugin` allows for swapping out components.

[2020-07-27 21:07] #2338 closed

[2020-07-27 21:08] janechu commented on #1725
Unnecessary as the validation utility `ajvMapper` or custom validation may be used once this is converted to use the `Form` see #2346

[2020-07-27 21:08] #1725 closed

[2020-07-27 21:11] janechu commented on #966
Closed as obsolete in favor of #1942

[2020-07-27 21:11] #966 closed

[2020-07-27 21:11] janechu commented on #2395
Closing in favor of $2575

[2020-07-27 21:11] #2395 closed

[2020-07-27 21:44] janechu opened #3561 "Create a utility to convert Message System data to the Monaco editor format"
# Abstract

Allow data from the Message System to be viewable as code for the Monaco editor.

## Requirements

- Create a conversion utility that will convert data from the Message System into a format that the monaco editor can use to show HTML and/or TypeScript
- Export it as a utility from the `@microsoft/fast-tooling` package
- Import it to the `Creator` and `Component explore` sites and add i

[2020-07-27 21:47] janechu opened #3562 "Create a utility to convert Monaco editor data into data for the Message System"
# Abstract

Reliant on #3561

Once the one-way conversion is done, the Monaco editor must be allowed to convert any editing done to it back into data that the Message System can understand.

## Requirements
- Convert data from editing in the Monaco editor back into data for the Message System
- Ensure that data is correct by validating it against a JSON schema before saving it, use a cached state

[2020-07-27 21:49] janechu opened #3563 "Add intellisense to the Monaco editor"
# Abstract

Now that Monaco has been added, it should also have intellisense for users editing code.

## Requirements

- Add intellisense from FAST components to the Monaco editor

[2020-07-27 21:49] janechu opened #3564 "Add Monaco editor to the Creator and Explore sites"
# Abstract

The `Creator` and `Component explorer` were created with the idea in mind that they would be useful to both developers and designers as a creation and preview sites for the components from the FAST project. As such, it currently has a suite of UI that allows for the navigation of data, editing of data and previewing of data. However there is a lack of code preview that should be presen

[2020-07-27 21:56] janechu opened #3565 "Add testing for the permutator number generation"
# Abstract

In the `@microsoft/fast-tooling-wasm` package the permutator project within includes the scaffolding for unit testing.

## Requirements

Update the logic for the following:
- `get_random_number()` might fail if a negative number is assigned. It might be a logic problem if minimum is greater than maximum.
- Consider return ‘\0’ in `get_type_as_string()` since it’s more explicitly return

[2020-07-27 22:00] janechu opened #3566 "Add permutations over JSON schema "string" types"
# Abstract

The permutator is a C program compiled to WASM that creates permutations based on JSON schema.

## Requirements

- Add permutations over the JSON schema type "string"
- Check for any enums and use these if provided
- Check for any examples and use these
- Check for any defaults and use these
- Check for any constraints and ensure that any randomly generated strings meet the constraints

[2020-07-27 22:01] janechu opened #3567 "Add permutations over JSON schema "null" type"
# Abstract

The permutator is a C program compiled to WASM that creates permutations based on JSON schema.

## Requirements

- Add permutations over the JSON schema type "null"
- Check for any enums and use these if provided
- Check for any examples and use these
- Check for any defaults and use these

[2020-07-27 22:03] janechu opened #3568 "Add permutations over JSON schema "boolean" type"
# Abstract

The permutator is a C program compiled to WASM that creates permutations based on JSON schema.

## Requirements

- Add permutations over the JSON schema type "boolean"
- Check for any enums and use these if provided
- Check for any examples and use these
- Check for any defaults and use these

[2020-07-27 22:05] janechu opened #3569 "Add permutations over JSON schema "object" type"
# Abstract

The permutator is a C program compiled to WASM that creates permutations based on JSON schema.

## Requirements

- Add permutations over the JSON schema type "object"
- Check for any enums and use these if provided
- Check for any examples and use these
- Check for any defaults and use these
- Check for any constraints and ensure that any randomly generated objects meet the constraints

[2020-07-27 22:08] janechu opened #3570 "Add permutations over JSON schema"
# Abstract

The permutator is a C program compiled to WASM that creates permutations based on JSON schema.

## Requirements

- Add permutations over the JSON schema type "array"
- Check for any enums and use these if provided
- Check for any examples and use these
- Check for any defaults and use these
- Check for any constraints and ensure that any randomly generated arrays meet the constraints,

[2020-07-27 22:08] janechu opened #3571 "Add permutations over JSON schema "array" type"
# Abstract

The permutator is a C program compiled to WASM that creates permutations based on JSON schema.

## Requirements

- Add permutations over the JSON schema type "array"
- Check for any enums and use these if provided
- Check for any examples and use these
- Check for any defaults and use these
- Check for any constraints and ensure that any randomly generated arrays meet the constraints,

[2020-07-27 22:12] janechu commented on #3570
Duplicate of #3571

[2020-07-27 22:12] #3570 closed

[2020-07-28 12:21] Valks commented on #3557
Sure, I guess the short answer to your question is whatever gives the best experience to consume and extend the fast framework (custom controls). I'm not looking to create the new Bootstrap or Material Design, but I do want to be able to consume a different design system as the fast framework is designed to enable.

In my case, that means creating Blazor Components which implement strongly typed v

[2020-07-28 16:50] nicholasrice commented on #3544
Thanks for the detailed description @NPadrutt! This looks related to https://github.com/microsoft/fast/issues/3550 - working on a fix now.

[2020-07-28 19:20] eljefe223 opened #3578 "Css font changes do not change fast-button"
**Describe the bug; what happened?**
Using an instance of `fast-button` web component and assigning a class or element style css changes to `font-size`, `font-weight` and `font` have no effect. Because the `<button/>` element in the shadow DOM default styling is still being set.

[code]

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/37851214/88710919-3045ad80-d0cc-11ea

[2020-07-28 19:43] chrisdholt commented on #3578
@eljefe223 probably a couple ways to tackle this. The issue here is how it’s set by the UA styling. Did you want to grab this or can we tag this as a good first issue?

[2020-07-28 19:44] eljefe223 commented on #3578
@chrisdholt lets tag as a good first issue, if we don't see traction on in a few days I can grab it.

[2020-07-28 20:09] awentzel opened #3579 "compliance: add footer to all websites"
1. Https://www.fast.design footer needs an additional URL added to link to trademark and brands.  The link should be named "Trademark" and point to "https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/usage/general"
2. This same entire footer needs to be represented across all websites (https://explore.fast.design, https://create.fast.design, https://www.fast.design https://app.f

[2020-07-28 20:58] EisenbergEffect commented on #3557
@Valks Thanks for the additional explanation. It seems like this is maybe a few separate requests that we should break apart and tackle independently. We may also need to partner with some other teams to make some of it happen, as our team doesn't directly do a lot of .NET work. Let me think through this a bit more and get back to you with some thoughts.

[2020-07-28 21:15] Valks commented on #3557
I agree, as I explored the feature request more it grew into a few distinct parts.

That said, for my immediate needs a simple example of how to get typescript to build a bundled output which ideally references the CDN release would really help.

[2020-07-28 21:22] chrisdholt commented on #3579
@awentzel where is the August 1st date coming from? That is 3 days from now and we have zero time to prioritize this against existing deliverables with a July 31st date. As it stands right now, I can't ensure that this will be done by August 1st.

[2020-07-28 22:02] nicholasrice opened #3582 "Add FormAssociation mechanism to automatically map proxy values"
The `FormAssociated` base class leverages a proxy element to support browsers that do not support native form-association. Currently most components add a change handler and manually update the proxy element when parallel properties on the custom element change. This logic is largely duplicated.

We should provide a simple way to declare that a property should be reflected to the proxy element so

[2020-07-28 22:03] #3556 closed

[2020-07-28 22:46] awentzel commented on #3579
@chrisdholt this is from legal.  I realize it's late in the game.  The first thing I'm doing is just to identify all of the work.  Then we can determine how/when it gets done and I can communicate that too legal.  I think there is some flexibility.

[2020-07-28 22:57] chrisdholt commented on #3579
@awentzel, I think we are good for the homepage from what I can tell from a cursory glance. If we can get an extension for the secondary pages (docs footer + explore, etc) and call it August 15th that would help.

[2020-07-28 23:18] #3246 closed

[2020-07-28 23:52] awentzel opened #3584 "compliance: Securing scripts and links used on third-party CDNs for Subresource Integrity"
All products and services that provide web-accessible content must source all JavaScript and stylesheets (CSS) from one of the following locations:  This applies to all of our web sites. www.fast.design explore.fast.design color.fast.design and should be the model to use as we reintroduce the other websites over time.

1. The product/service itself (i.e. locally-hosted)
2. A Microsoft-operated ser

[2020-07-29 04:44] JazibJafri commented on #3579
@chrisdholt Maybe I can take this, with a little help?

[2020-07-29 15:33] nicholasrice commented on #2443
This looks like the same issue as #3443. Closing this issue in favor of the former because it has more activity.

[2020-07-29 15:33] #2443 closed

[2020-07-29 15:35] nicholasrice commented on #2778
related to #3443

[2020-07-29 18:55] bheston commented on #2053
The intent of this was to pair the slider with the numeric input. I believe slider does not have this option, so it would still be relevant, but without a specific use case in mind currently I'm fine with closing this.

[2020-07-29 23:54] nicholasrice commented on #3534
Did a bit of digging on this. There are a number of open issues discussing form-associated-custom-element (FACE) submit buttons:
- https://github.com/whatwg/html/issues/5016
- https://github.com/w3c/webcomponents/issues/814
- https://github.com/w3c/webcomponents/issues/187
- https://github.com/whatwg/html/issues/4187

The issues above discuss various approaches supporting FACE components with form

[2020-07-30 00:05] litteredwitherrors opened #3591 "Add improvements to the documentation"
# Documentation Imrovements

I wanted to start the conversation on how we can improve the documentation site. Currently it is difficult for a user to quickly discern what each part of FAST does and whether or not it can help them achieve their goals.

 Here are my are some of my thoughts from the last couple weeks of using the site as a new user.

## Clarity of purpose
It would be beneficial to th

[2020-07-30 01:47] EisenbergEffect commented on #3534
I agree with you on going with approach 2. Regarding the open question at the end, my thought would be that we require the fast-button to be of type submit in order to add the functionality. So, I'm with you on that as well I think.

[2020-07-30 04:09] limefrogyank opened #3592 "Array empties before loop is finished in mergeSplice..."
I've created a virtualized list using FAST.  (I pretty much stole code from a work-in-progress Blazor demo).  However, it works fine in Blazor.  And when I scroll with the mouse wheel, it works great using FAST.  When I scroll extremely quickly (grab the scrollbar thumb and bring it all the way down), FAST throws an exception.

[code]

My code uses the `repeat` directive to draw a virtualized subs

[2020-07-30 14:30] ben-girardet opened #3593 "Exposing styles in fast components"
**What feature are you requesting?**

I suggest to expose the styles in each components. For example CardStyles in the card component.

**What would be the benefit of adding this feature?**

Consumers could import them when building new or extending components.

**Is there any additional context for your request?**

It's already the case for the templates and it's very useful.

[2020-07-30 14:34] EisenbergEffect commented on #3591
Thanks for the feedback @dlesaca Some of these items are currently being worked on. Here's what we're already up to:

* We've got a new tutorial coming that focuses on using the components a bit more.
* We're working on getting more details into the docs on each component. There's some work with another team we're doing to improve component documentation across the board for all libraries. So, our

[2020-07-30 14:39] EisenbergEffect commented on #3592
Thanks for the repro @limefrogyank We'll look into it. If you discover anything else in the process of your work, please let us know in the mean time.

[2020-07-30 15:06] dlesaca commented on #3591
Thanks @EisenbergEffect. I assumed many of these things were in motion. Are there any existing issues/todos you can point me to?

[2020-07-30 15:19] EisenbergEffect commented on #3557
@Valks I wanted to double check and see if you had tried copy/pasting the setup for `fast-components` directly. It has the basic setup for producing a fully bundled stand-alone script that includes the components and framework. I think you could set up something like that and then add your custom components. Then have a little something that drops the built script into your Blazor app.

Just tryin

[2020-07-30 15:21] nicholasrice commented on #3593
We had planned to do this but it looks like we haven't done that work yet. Thanks for filing!

[2020-07-30 17:49] #3542 closed

[2020-07-30 18:51] chrisdholt opened #3596 "Slider thumb gets misaligned with the track when using the density slider"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

1. Go to https://fast.design
2. Scroll down to the example form control
3. Click the "styles" tab on the left of the panel
4. Move the density slider to -3
5. Notice that the slider is elevated well above the slider track.

**What behavior did you expect?**
The slider thumb is center aligned with the slider track

[2020-07-30 20:42] #3448 closed

[2020-07-30 20:42] #3453 closed

[2020-07-30 20:42] #3550 closed

[2020-07-30 23:33] #3534 closed

[2020-07-30 23:48] EisenbergEffect commented on #3544
@nicholasrice Can we close this as done now?

[2020-07-31 00:50] #3593 closed

[2020-07-31 13:37] Valks commented on #3557
@EisenbergEffect First off thanks for your help. I gave it another try but ran into difficulties. That said I noticed there is a branch with a Todo sample which I based off with more success: https://github.com/microsoft/fast/tree/users/eisenbergeffect/todo-demo/examples/todo-app-tutorial

I've taken that sample and got it building bundle.js into the wwwroot folder. Unfortunately, it's not doing m

[2020-07-31 14:12] EisenbergEffect commented on #3557
Ah, yes. I started putting together a todo example based on a few different requests. I haven't actually run that yet...so there may be some issues with it 🤣  I'm hoping to get it into PR form today. It's quite possible there's a tree shaking issue. Bundlers are pretty aggressive. If you feel comfortable putting together a simple repo on GitHub that shows the most basic version of your setup, I ca

[2020-07-31 19:11] EisenbergEffect commented on #3558
@barahonajm I'm not sure how soon we'll be able to create an official component for this, but I do have a PR with a demo of how to create your own in the meantime: https://github.com/microsoft/fast/pull/3609

[2020-07-31 19:21] #3546 closed

[2020-07-31 19:52] litteredwitherrors opened #3610 "Add improved FAST component development guide to the documentation"
**What feature are you requesting?**

The documentation should have clear instructions on how to contribute changes to the FAST repository.

**What would be the benefit of adding this feature?**

It will make it faster for those who want to contribute to the repo to do so.

**What solution would be ideal for you?**

- Instructions on how to run FAST locally
  - Dependency installation
  - Building

[2020-07-31 20:52] barahonajm commented on #3558
Awesome! thank you very much for that, I am going to play with FAST during the next days and try to integrate it with blazor and my project  :)

[2020-07-31 20:59] EisenbergEffect commented on #3558
The PR is now merged 😄  You can find the simple design property panel component code here: https://github.com/microsoft/fast/blob/master/examples/todo-app-tutorial/src/design-property-panel.ts

[2020-08-01 02:17] Valks commented on #3557
Sure, I've put up a repo with two components: ```FastFlex```, ```FastFlexItem```. The project should trigger npm to build (Task Runner) and deploy the output to the ```wwwroot``` folder. From there the main demo app consumes the output.

To test I've added the ```FastFlex``` element to the main index, it should write hello world! on the screen with world pushed to the far right.

https://github.co

[2020-08-01 13:34] Valks commented on #3557
Finally got it working :). Seems the last bit I missed is when I declare ```@customElement``` it must be directly before the ```export class ...```

I've updated the sample I put up though I need to work on it a touch more. Once I finish the flex control I'll update that demo with it to complete it.

Thanks for all your feedback and I'm looking forward to seeing more from this project.

[2020-08-01 15:59] NPadrutt commented on #3544
I had a look at the new version and the main issue, that data isn't sent to the server is fixed. Thanks for that!
The second one I mentioned with credentials not being autofilled (or offered to safe in the browser for that sake) however still exists. Should I create a new seperate issue for that?

[2020-08-01 20:52] abhishekjakhar commented on #3578
@chrisdholt can I pick this up?

[2020-08-01 23:09] chrisdholt commented on #3578
@abhishekjakhar yes please!

[2020-08-02 12:14] mitchcapper opened #3612 "fast-text-field value binding in aurelia1 & aurelia2 issues"
**Describe the bug; what happened?**

Using the `fast-text-field` input with a value binding of two-way or to-view will not work as expected.  If the bound value in the view model is set before bound to the text-field it will display blank rather than showing the value.   For two-way this is extended where it will actually write a blank value back to the VM overriding what it is set to on bind.

*

[2020-08-03 16:04] EisenbergEffect commented on #3610
We've got this document in the GitHub repo: https://github.com/microsoft/fast/blob/master/CONTRIBUTING.md which also gets published here: https://www.fast.design/docs/community/contributor-guide

@dlesaca Feel free to contribute PRs to improve this 😄

[2020-08-03 16:09] EisenbergEffect commented on #3612
Thanks @mitchcapper We'll try to take a look at this soon to figure out what's going on there. Sounds like a potential timing issue with web components lifecycle vs. Aurelia's bind lifecycle.

Just to be sure, can you let me know what version of the packages you are using? There was a release late last week that fixed a number of form issues.

[2020-08-03 16:17] EisenbergEffect commented on #3544
@NPadrutt Yes, if you don't mind, please create a separate issue for the credentials bug. We'll need to do some investigation on that to see if it's something we can fix.

I'm going to close this issue out in favor of the new issue related to creds.

[2020-08-03 16:17] #3544 closed

[2020-08-03 16:19] EisenbergEffect commented on #3557
Sounds good. I'll keep this open so we can consider it as part of the docs and CLI planned work.

[2020-08-03 16:37] NPadrutt opened #3614 "Autofill does not work for passwords"
**Describe the bug; what happened?**
Usually, when I enter a username and a password in a browser the browser offers me to save it as a password, bitwarden (password manager) does the same and next time I visit the website the credentials are autofilled:

This works with, for example bootstrap inputs, but doesn't with fast-text-fields
**What are the steps to reproduce the issue?**

Example:

1. St

[2020-08-03 16:37] NPadrutt commented on #3544
Done #3614

[2020-08-03 16:51] NPadrutt opened #3615 "fast-text-field input doesn't change width"
**Describe the bug; what happened?**
In my css I define that fast-text-fields should span to 100% width. The visual does change, but the area for input doesn't. You can see that very good with the password field where the little eye from the browser is visible. As soon as you reach that point the field starts scrolling.

**What are the steps to reproduce the issue?**

Example:
[ReproductionSample.

[2020-08-03 20:03] SethDonohue commented on #3615
I couldn't get the reproductionsample to run just yet, but I believe I have seen the input of the fast-text-field just not having a width prop to make it 100% on some other projects. I'll take a look at that and also see if that's truly what we want.

[2020-08-03 20:05] chrisdholt commented on #3615
@SethDonohue I think this may be related to this issue: https://github.com/microsoft/fast/issues/3269#issuecomment-644322338

@nicholasrice thoughts on if we should provide a better method of accomplishing this without using CSS parts? Perhaps we should have a custom property for the control to set the width of the control?

[2020-08-03 20:49] SethDonohue commented on #3615
@chrisdholt are you saying a custom CSS property or a custom html prop/attr?

Is the intent of the input field to always be the full width? I feel that is definitely what a general user would expect.
Adding a `width: 100%` to the `.control` still works with the `start` and `end` parts.

[2020-08-03 20:53] chrisdholt commented on #3615
@nicholasrice investigated having this map to the height of the element and had feedback in the comment linked above. I think there are a couple of ways to address this:

1. The control defaults to 100% of the parent width. This would solve the issue; anyone looking to do something outside that behavior would need to address it using the CSS part for `control`.
2. We leave the style as it currentl

[2020-08-03 21:07] #3596 closed

[2020-08-03 21:53] mitchcapper commented on #3612
Sure below are the versions.  Also setup a testbed with aurelia 2 has almost same bug but does not erase the bound variable on load:
https://stackblitz.com/edit/mc-au2-test-bed-with-fast-binding-bug-3612?file=src%2Fmy-app.html

[code]

[2020-08-03 22:47] SethDonohue commented on #3615
I assume if we go with 1 then we'll want to do the same to text-area, it currently has `max-width 100%` on the :host

[2020-08-03 22:57] chrisdholt opened #3616 "[website] Color contrast issue in configuration panel"
**Describe the bug; what happened?**
The "FAST Frame" Configuration panel has color contrast issues. Currently the small text/badge at the top of the tab panel which says "FAST FRAME" currently has a contrast ratio of 4.14:1 - a ratio of 4.5:1 is required.

Additionally, the text after it of "DARK MODE" (and others for each panel) also has insufficient color contrast of 4.24 where a contrast ratio

[2020-08-03 22:57] chrisdholt commented on #3616
@bheston can you take a look at this in light of the work you just did on the panel?

[2020-08-04 00:36] EisenbergEffect commented on #3615
I'd be in favor of making the internal control 100%. I think that will result in the most intuitive behavior for consumers of the component when they are integrating it into a layout.

[2020-08-04 00:56] bheston commented on #3616
The issue is the background color context of the tab panel is darker than the applied styling. This has always been an issue in that you can't override the `background-color` in css for any element that contains other UI or the children will all render as if they are in the parent context.

In the React components we would have typically wrapped the `tab-panel` in a `<Background>` and set the desi

[2020-08-04 01:03] chrisdholt commented on #3616
@bheston can you push your branch? A new design system provider context within tabs should suffice here but when I tested it did not work as expected. Considering it's nested within the fast-tabs control, that should take precedence.

[2020-08-04 12:57] EisenbergEffect commented on #3612
@mitchcapper Can you detail the difference between what you are seeing with Aurelia 1 vs. Aurelia 2. I'm not quite following there.

Also, thanks for the stackblitz link. That will help get to the bottom of this.

[2020-08-04 13:48] EisenbergEffect commented on #3612
@mitchcapper FYI I'm talking to the Aurelia team as well. One related issue is that when using 2-way binding on a custom element with Aurelia, you have to configure Aurelia so that it knows how to bind in both directions. The configuration is different for au1 vs. au2. The Aurelia team will follow-up here with more information. We can then take that info and also update the FAST Aurelia docs for f

[2020-08-04 17:31] nicholasrice commented on #3615
https://github.com/microsoft/fast/issues/3269#issuecomment-644322338 mostly concerned setting *height* - there are *two* elements contained in a `fast-textfield` that are stacked vertically by default; the label and the textbox. What should grow when the `height` of the `fast-textfield` is adjusted? Is it always the the textbox? Both elements? Spacing between? There is likely an intuitive behavior

[2020-08-04 19:07] SethDonohue commented on #3615
If we all agree that the *width* being 100% for the control is the best approach I can put up a quick PR for `text-area` and `text-field` to have their controls be width: 100%

[2020-08-04 19:57] MarcSkovMadsen opened #3622 "Please provide road map. Thanks."
Hi Fast

I am a contributor to [**Pane**l](https://panel.holoviz.org/) which is a framework for creating awesome analytics apps in Python using the tools you know and love.

I run the https://awesome-streamlit.org and https://awesome-panel.org sites.

Panel is a **really powerful framework** if you take a closer look. It runs on the very fast, asynchronous web server Tornado, It communicates via w

[2020-08-04 20:08] chrisdholt commented on #3622
Hey @MarcSkovMadsen, thanks for dropping a line 😄 !

A true roadmap is something that we've been looking AT. We currently provide insight to our [specs](https://github.com/microsoft/fast/tree/master/specs) and have some of the `fast-element` roadmap in the readme. I do think this would be valuable, it's likely just a matter of getting something designed and prioritizing the work. When you look for

[2020-08-04 23:42] MarcSkovMadsen commented on #3622
I’m mainly looking for information on

- table
- app bar, sidebar, menu system

And something where i can judge how likely it is that this is also a thing in 2 years: What (ms) products is already using this and which are expected to use within 3 months, 6 months and a year.

For example is this essential for vs code or Blazor?

[2020-08-05 01:34] mitchcapper commented on #3612
@EisenbergEffect so in 2 while the field is blank the VM technically still has the correct value bound to the variable on load (so if the constructor sets it to 'test' it is still set to test even though the box shows blank).  In 1 the VM is actually overwritten with the blank value on load so if it is set to something on the constructor by load time it will be changed to blank.

[2020-08-05 15:53] janechu opened #3628 "Form repositions cursor to the end of textarea during typing"
**Describe the bug; what happened?**

When the `<Form />` from `@microsoft/fast-tooling-react` encounters piece of text, during typing the cursor will move to the end of the textarea.

**What behavior did you expect?**

The cursor should remain where it is so that a user can type in the middle of sentences/paragraphs.

[2020-08-05 16:01] janechu opened #3629 "Uploading a project file in Creator and then attempting to drag and drop causes call stack to be exceeded"
**Describe the bug; what happened?**

When uploading a project file that includes several nested components, the call stack will be exceeded if those components are drag and dropped from the `<Navigation />` component. The problem appears to occur in the `<Form />`.

**What are the steps to reproduce the issue?**

1. Go to https://create.fast.design
2. Click on the ^ chevron in the lower left
3. C

[2020-08-05 16:10] janechu opened #3630 "Allow Ctrl + D to duplicate selected items in Navigation"
If a component is active in the <Navigation /> component and focused, pressing Ctrl + D key should remove it from data.

Reliant on #1937

[2020-08-05 16:13] janechu opened #3631 "Allow direct nesting in Navigation"
# Abstract

Currently slotting in the `@microsoft/fast-tooling-react` package's `<Navigation>` component enumerates the default slot the same way a named slot is shown. That can be confusing since it is considered direct nesting.

## Requirements

Update the slotting to be direct nesting so that an additional tree layer is not created for slots with name `""`.

Since this behavior is particular to

[2020-08-05 16:20] janechu opened #3632 "Update the Navigation component when navigation is performed outside"
# Abstract

The `<Navigation />` component from `@microsoft/fast-tooling-react` currently does not allow updates to expanded items to occur outside of direct user interaction with the `<Navigation />`. This is problematic when navigation occurs outside of the component.

## Requirements

If navigation is performed outside of the component, update the expanded and active items as needed.

[2020-08-05 17:25] #3615 closed

[2020-08-05 18:49] barahonajm opened #3634 "Width is not being respected in Fast-Slider"
**Describe the bug; what happened?**

When you set the `<fast-slider>` width to 0% it is not being respected since it already has a min-width set to:
[code]

**What are the steps to reproduce the issue?**

Use the following code:

[code]

**What behavior did you expect?**

The width must be respected when set to 0%,

[2020-08-05 20:14] barahonajm opened #3635 "Two-way biding is not working for fast slider"
**Describe the bug; what happened?**
When you try to use `fast-slider` inside blazor server side, the two-way biding doesn't work, but it works fine for `<input type='range'>`

**What are the steps to reproduce the issue?**
- Have a blazor server side project
- Create a page with the following code

[code]

- Start the application and click on `This change value to 90`, you will see the `input ran

[2020-08-05 20:32] EisenbergEffect commented on #3361
Dropping a note here that we want to see if we can lazily create a design system if one doesn't exist. The obvious problem is that in order to do that...we need to statically link everything into the lazy initialization code, which will prevent tree shaking. My thinking is that we have a function that is exported that does this. That could then be called in the single file script build or by a par

[2020-08-05 20:50] barahonajm commented on #3634
I think the problem here is the set default value:
[code]

This is setting the `dirtyValue = true` so when we try to assign the a new value to `value` it gets ignored, so if you have this:

[code]

the `slider.setAttribute("value", "90")` will not work at all unless you have defined the `value` attribute to any value in your `fast-slide`.

I think the `setupDefaultValue` should set `dirtyvalue = f

[2020-08-05 20:53] barahonajm commented on #3635
I think the problem here is the set default value:
[code]

This is setting the `dirtyValue = true` so when we try to assign the a new value into `value` attribute it gets ignored, so if you have this:

[code]

the `slider.setAttribute("value", "90")` will not work at all, but it works if you defined the `value` attribute to any value in your `fast-slide`.

I think the `setupDefaultValue` should se

[2020-08-05 21:16] marjonlynch commented on #3504
This issue was resolved with the introduction of the attribute valueTextFormatter

[2020-08-05 21:16] #3504 closed

[2020-08-06 01:16] chrisdholt opened #3637 "Radiogroup in fast-components is not having tabindex assigned"
**Describe the bug; what happened?**
The radiogroup is not assigning tabindex to the radios as expected.

**What are the steps to reproduce the issue?**

Example:

1. Run storybook on fast-components
2. Click on Radiogroup and set focus to the page
3. Hit tab
4. Notice that the first item in the tabindex is a single radio with no radiogroup, none of the groups get focus.

**What behavior did you e

[2020-08-06 16:15] janechu opened #3641 "Flatten the folder structure of components"
# Abstract

There has been some inconsistency when structuring the `src` folders of components where sometimes a flat structure is used for items related to each other (menu and menu-item) and sometimes a nested folder structure is used (accordion and accordion-item).

These should use a consistently flat structure since nesting can sometimes be subjective.

## Requirements

Change the folder stru

[2020-08-06 19:32] eljefe223 opened #3643 "Add ability to change theme and direction in web components storybook"
**What feature are you requesting?**
This would bring the ability to change direction and theme for the component `iFrame` in the web components storybook page. Similar to what we had in React.

**What would be the benefit of adding this feature?**
This would help in testing the components theme and direction support as well as other teams building web component libraries leveraging FAST-Element.

[2020-08-06 21:15] NPadrutt commented on #3544
@EisenbergEffect maybe a stupid question but this was fixed with the 1.7 version of fast-components. I noticed that the error still persists in the latest fast-component-msft package (1.6). Is that because of the transition to fluent and should be fixed with 0.1 once that is live or do I have to create a separate ticket for the fluent package?

[2020-08-06 21:22] chrisdholt commented on #3544
@NPadrutt I believe the fix was made in foundation so we should see it propagate to the FluentUI package. If you're using NPM you could try to test with that version today. If you're using the CDN link from unpkg, there's a PR up to fix that now.

[2020-08-06 21:26] NPadrutt commented on #3544
@chrisdholt Ah, I see. I tried the unpkg version, but the. i will try again tomorrow (or when it os fixed).
Thanks for the very quick answer! :)

[2020-08-06 21:27] chrisdholt commented on #3544
No worries! If we can get the fix in quickly I'll see if I can kick off a publish to get this out today. If not, the Fluent build should publish automatically overnight!

[2020-08-06 23:17] chrisdholt commented on #3544
@NPadrutt, the CDN link *should* be working now, so you should be able to test. Let me know if you run into problems with the link.

[2020-08-07 02:01] barahonajm opened #3644 "Height is not being respected in fast-slider"
**Describe the bug; what happened?**

When you set the height to 0% of `<fast-slider orientation="vertical">`  it is not being respected since it already has a min-height set to:

[code]

**What are the steps to reproduce the issue?**

Example:
Run the following code:

[code]

**What behavior did you expect?**

I would like the height to be adjusted at least at a minimum size of the thumb

**Is th

[2020-08-07 02:02] barahonajm commented on #3634
This issue was already fixed for both fluent and fast, further discussion will continue on #3644